[2017-09-05 23:11] #499 closed

[2017-09-05 23:14] javierluraschi commented on #512
We are not planning to re-document `dplyr` in `sparklyr`, there is a good column removal example here: http://dplyr.tidyverse.org/reference/select.html#useful-functions, closing.

[2017-09-05 23:14] #512 closed

[2017-09-05 23:15] javierluraschi commented on #515
We will revisit all special types under https://github.com/rstudio/sparklyr/issues/941, closing this one.

[2017-09-05 23:15] #515 closed

[2017-09-05 23:36] javierluraschi commented on #529
This issue is not actionable without requested information, also, haven't seen new issues reporting this one. Please open a new github issue if someone can still reproduce this, thanks!

[2017-09-05 23:36] #529 closed

[2017-09-05 23:38] javierluraschi commented on #528
Planning to deal with all `NA` related issues with https://github.com/rstudio/sparklyr/issues/941, closing this one.

[2017-09-05 23:38] #528 closed

[2017-09-05 23:39] javierluraschi commented on #530
should fix this.

[2017-09-05 23:39] #530 closed

[2017-09-05 23:43] javierluraschi commented on #534
Alright, seems like we did our best for this one. There is also a step-by-step walkthrough from Edgar that points out to use:

[code]

See https://spark.rstudio.com/articles/deployment-cdh.html for the full walkthrough.

[2017-09-05 23:43] #534 closed

[2017-09-05 23:45] javierluraschi commented on #541
The `sparklyr` backend has been refactored for the `spark_apply()` work and a few exception handling cases covered, I have not seen this behavior for a really long time, closing.

[2017-09-05 23:45] #541 closed

[2017-09-05 23:48] javierluraschi commented on #550
Ah, yes, this is well known now:

[code]

`sparklyr` waits for `60s` to initialize and fails otherwise, the workaround is to change the timeout in the `config` as:

[code]

[2017-09-05 23:56] javierluraschi commented on #550
Tried a few times with this workflow, no repro so far. @navdeep-G could you open a new issue if you can still hit this one with latest `sparklyr`?

If you can, I would open `http://127.0.0.1:4040/` (most likely the UI from the running gateway instance) and see if you spot any particular error.

Grabbing the logs could also help here, closing for now since this one is not very actionable without mo

[2017-09-05 23:56] #550 closed

[2017-09-06 00:03] javierluraschi commented on #560
@dsblr slow performance for RF in `sparklyr` is almost-definetely not an `sparklyr` issue but rather an implementation improvement needed in Spark MLlib. I would also try with [rsparkling](https://github.com/h2oai/rsparkling) from [H2O](http://www.h2o.com) or find some articles/benchmarks that help optimize cluster nodes and configurations to improve performance of RF in Spark in general.

[2017-09-06 00:03] #560 closed

[2017-09-06 00:07] javierluraschi commented on #563
As Kevin points out, verify that `spark_version(sc)` returns `2.1.0` and troubleshoot this otherwise. The problem could be that an Spark version already exists and `SPARK_HOME` is somehow overriding the version specified during `spark_connect()`

[2017-09-06 00:07] #563 closed

[2017-09-06 00:45] randomgambit commented on #980
[code]

[2017-09-06 00:52] randomgambit commented on #980
I see this in the stderr
[code]

[2017-09-06 00:54] randomgambit commented on #980
this is what happens after the simple `spark_apply` and `head` mentioned above. I see a `take at NativeMethodAccessorImpl.java:0` that takes about 30 min to fail and show the errors shown. What do you think? Thanks!!

[2017-09-06 05:20] kevinykuo commented on #981
@jairajgupta if your VaR calculation is univariate in the sense that you're calculating it for each symbol, you may be able to use `spark_apply()` assuming that you can collect each symbol's data onto one node. Here's a snippet (not working yet) that should get you started:

[code]

[2017-09-06 14:48] randomgambit commented on #980
@kevinykuo @javierluraschi do you get the updates without the @ stuff? I wonder if this is useful at all ;-)

[2017-09-06 14:52] kevinykuo commented on #980
Can you try to obtain the worker log, as per
`17/09/05 20:41:39 ERROR Executor: Exception in task 0.0 in stage 4.0 (TID 92)
java.lang.Exception: sparklyr worker rscript failure, check worker logs for details.`, so we can see what's throwing the error?

The Spark docs linked above might give you hints as to where they sit on your cluster.

[2017-09-06 15:27] kevinykuo commented on #986
@seawaR thanks for the FR, I'll make sure this gets included in the ML revamp tracked at #944

[2017-09-06 15:27] #986 closed

[2017-09-06 17:30] javierluraschi commented on #984
@gvshankar my guess is that we are missing to set environment variables in your RStudio session.

Could you compare `Sys.getenv()` while running from R and while running from RStudio, find the ones that could be Spark/HDFS/Yarn related and set them in your RStudio session with `Sys.setenv()` and retry connecting?

Some other questions if the above suggestion does not work:
- Could you share `Sys.g

[2017-09-06 17:35] javierluraschi commented on #980
@randomgambit currently, I'm catching up on older github issues, so the @javierluraschi notification doesn't help much, finding me in [gitter](https://gitter.im/rstudio/sparklyr?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) or email is your best bet.

As KevinKuo mentioned, we really need to get the worker logs since this error: `java.lang.Exception: sparklyr worker rs

[2017-09-06 17:41] javierluraschi commented on #979
1. Right, as in `df_subset <- df %>% filter(myvar %in% c("one", "two")) %>% compute()`
2. You do need to specify your own schema, in the docs we mention:

[code]

So for character columns, you could pass `columns = list(one = "character", two = "character")`

[2017-09-06 17:42] randomgambit commented on #980
@kevinykuo @javierluraschi thanks, I am trying to find out where I can find these logs. Most of the stuff I found only contain this generic error

[2017-09-06 17:44] randomgambit commented on #980
in any case, my understanding is that `spark_apply` is expected to be much much slower (in particular when using a generic R package in the computation) than the other native `sparklyr` functions. Is that correct?

[2017-09-06 17:46] randomgambit commented on #979
@javierluraschi  very useful, thanks!

[2017-09-06 17:46] kevinykuo commented on #979
BTW, from `?spark_read_csv`:

IIRC you might be able to get away without specifying a schema; it should read everything in as `character`.

[2017-09-06 18:06] javierluraschi commented on #564
The appcrash was probably the `SIGPIPE` investigated/fixed with https://github.com/rstudio/sparklyr/issues/919, @dsblr try with the latest version of `sparklyr` by running `devtools::install_github("rstudio/sparklyr")` and reopen a new issue if the issue is still present for you, thank you!

[2017-09-06 18:06] #564 closed

[2017-09-06 18:13] javierluraschi commented on #568
https://github.com/rstudio/sparklyr/pull/570 added support to read `JAVA_HOME`, I don't think we are missing anything else to do here.

[2017-09-06 18:13] #568 closed

[2017-09-06 18:23] javierluraschi commented on #410
@vijayzutshi sorry to hear this is still causing trouble, a recent change (June 15, https://github.com/rstudio/sparklyr/commit/5313405828f4d0527fd0d187e055876b03619bf2), might have improved this, please retry with sparklyr 0.6 or newer by reinstalling from CRAN or latest using `devtools::install_github("rstudio/sparklyr")`.

[2017-09-06 18:23] #410 closed

[2017-09-06 18:24] javierluraschi commented on #571
@aszh72 a change from June 15 ( https://github.com/rstudio/sparklyr/commit/5313405828f4d0527fd0d187e055876b03619bf2), might have improved this since addressed HADOOP config issues running under Windows/`WINUTILS.exe`, please retry with sparklyr 0.6 or newer by reinstalling from CRAN or latest using `devtools::install_github("rstudio/sparklyr")`.

[2017-09-06 18:24] #571 closed

[2017-09-06 18:27] mshafieluru commented on #568
Thanks

[2017-09-06 18:57] javierluraschi commented on #576
@Vonisoa Right, `compile_package_jars` does download several versions of Spark since it needs to compile against multiple versions to allow your extension to be deployed against several Spark versions.

That said, you could potentially have an extension that supports a subset of the Spark versions `sparklyr` supports. To do this run:

[code]

Modify `compile_spec` to remove the versions that you w

[2017-09-06 18:57] #576 closed

[2017-09-06 20:09] javierluraschi opened #987 "Port 8880 gets blocked with interrupted connections"
[code]
[code]

The avobe error is expected; however, retrying causes:

[code]
[code]

port `8880` should be available since the previous connection attempt should timeout correctly with `sparklyr.gateway.start.timeout`.

[2017-09-06 20:22] kevinlzheng opened #988 "na.omit() not working efficiently."
# Reporting an Issue with sparklyr na.omit()

---
Unfortunately I can not provide an workable example but here is my issue.
I have a dataset with 50 features, only 1 feature has a lot of missing values for this particular example and I want to use na.omit to remove ones with missingness.

[code]
* Dropped 7173698 rows with 'na.omit' (7985217 => 811519)
It created a nice mod.dat for my models. Runn

[2017-09-06 21:15] javierluraschi opened #989 "`master="yarn-cluster"` requires config shell parameters when they should be inferred"
[code]

Notice that `--deploy-mode` and `--master` are not present but they should have been set under `shell_connection()`.

[code]

[2017-09-07 16:39] #989 closed

[2017-09-07 18:25] javierluraschi commented on #903
@sean-in-korea, for `yarn-cluster` in HA, you will have to retry using `sparklyr 0.7.0-9019` since a fix was required to get HA working appropriately, see: https://github.com/rstudio/sparklyr/pull/905

@maurimojr you might want to open a new issue since your cluster might not be using `yarn-cluster` not HA like sean-in-korea's cluster.

[2017-09-07 18:25] #903 closed

[2017-09-07 19:30] javierluraschi commented on #988
@kevinlzheng The only reason I can think of would be that `na.omit` caches data by default when rows are dropped, we just performed a change to allow users to disable this behavior, would you mind trying this out?

First, install the latest version,

[code]

then run,

[code]

Followed by,

[code]

[2017-09-07 20:21] kevinlzheng commented on #988
@javierluraschi Unfortunately, after install the newest sparklyr, the dim and nrow functions do not work any more so I can't run further test. I had the same problem with <2.0 Spark version. Any idea what could have affected that?

[2017-09-08 02:00] JohnMount opened #992 "sparklyr::spark_write_table ( , , mode = 'append') fails for ORC and Parquet"
sparklyr::spark_write_table(valuesToWrite, tableName, mode = 'append') fails writing to an empty table, but  spark_write_table(valuesToWrite, tableName, mode = 'overwrite') works (tried both in `ORC` and `parquet` `SerDe`s.

[code]

The error msg is:

[code]

[2017-09-08 12:34] kevinlzheng commented on #988
After reinstalling Sparklyr, the entire project does not work any more, starting from nrow and dim function. Any idea? @javierluraschi

[1] ‘2.1.1.2.6.1.0’

R version 3.4.0 (2017-04-21)
Platform: x86_64-redhat-linux-gnu (64-bit)
Running under: CentOS Linux 7 (Core)

Matrix products: default
BLAS/LAPACK: /usr/lib64/R/lib/libRblas.so

locale:
 [1] LC_CTYPE=en_US.UTF-8       LC_NUMERIC=C
 [3] LC_TIME

[2017-09-08 13:32] kevinlzheng commented on #988
Just realized that dim and nrow might have been deprecated. sdf_dim and sdf_nrow could have used to replace both.

[2017-09-08 14:06] kevinlzheng commented on #988
I re-installed the github version of Sparklyr and followed the instruction as directed above, but did not have any luck!

* Dropped 1046729 rows with 'na.omit' . .......... long .....wait..................... > 5 minutes..still no results..

[2017-09-08 15:54] ZJUguquan opened #993 "support for tryCatch() in spark_apply"
Hi,
For some purposes when I use `spark_apply` function, I would like to ignore errors and skip them in order to keep the code running for all groups of data. However, it seems that the `spark_apply` does not support `tryCatch()`  well...

First, I create some data and copy it to sc.
[code]

After that, when I use `tryCatch` in `spark_apply`,  it goes wrong...
[code]

In fact, what I want is just

[2017-09-08 19:41] javierluraschi opened #994 "Regression in `union_all` no working in Spark 1.6.X"
## Using dplyr 0.7, sparklyr 0.6 and Spark 1.6.X

[code]

[code]

Notice

[code]

[code]

## Using dplyr 0.5, sparklyr 0.5.5 and Spark 1.6.X

[code]

[code]

Notice,

[code]

[code]

[2017-09-08 20:18] gvshankar commented on #984
I did see some differences between the R session and RStudio which I have corrected.  But the error still comes up in RStudio.  

Error inforce(code) :

  Failedwhile connecting to sparklyr to port (8880) for sessionid (6791): Gateway inport (8880) did not respond.

   Path:/opt/cloudera/parcels/SPARK2-2.2.0.cloudera1-1.cdh5.12.0.p0.142354/lib/spark2/bin/spark-submit

   Parameters: --class, spark

[2017-09-08 20:30] hlendway commented on #984
I'm probably missing something but I figured I'd throw out a comment, that's the error I get when I'm no longer authenticated to connect to spark/hadoop via rstudio server.  When that happens, in Rstudio Server I open a shell (tools, shell) and run a kinit, enter my password and then I can connect to spark.

[2017-09-08 21:04] gvshankar commented on #984
That definitely is a good point.  I have seen references for it on some of the blogs.  I would try that.
While doing some of these config with RStudio, I have hitting this one problem and it is really frustrating.  I went added some of these missing environment variables to the /usr/lib64/R/etc/Renviron file.  But RStudio doesn't seem to recognize the changes at all.  
Mainly I set the PATH variab

[2017-09-08 21:24] gvshankar commented on #984
I went and killed all the RStudio sessions, cycled the server, cleared the browser cache, then logged back into RStudio.  Now the output of "Sys.getenv()", shows the environment variables correctly.  
I also did a "fresh" kinit in the "shell", entered the password, and got a fresh Kerberos ticket.  'klist', shows my my Kerberos ticket correctly too.  RStudio still gives the same error.

R version

[2017-09-08 21:56] hlendway commented on #984
If you look in your .bash_profile in your home directory on the server do you have a JAVA_HOME set?
Mine is the following, yours is likely different pending your JDK number and location....
export JAVA_HOME="/usr/java/jdk1.8.0_92/"

That was also an error I saw before setting up my java home and you are getting a java.lang.ClassNotFoundException.  Worth a check.

[2017-09-09 00:11] #994 closed

[2017-09-10 01:21] kruny1001 commented on #299
Hi, @peddollakishore

I had a similar issue like yours. Can you check the slave's information from spark ui at 4040 port. From Environment tab, your slave node may look at your client(local) setting. That is why it keeps freeze I guess.

[2017-09-11 03:23] sean-in-korea opened #997 "Not able to connect to Spark Cluster with Sparklyr 0.7.0-9019"
@javierluraschi
According to your suggestion, I reinstalled the latest sparklyr which is supporting 'yarn-cluster' as shown below. But still I am having another error that it can't find the online resource manager.

I added some environmental values to LD_LIBRARY_PATH of .Renviron offered by @maurimojr
It contains newer curl library (/usr/local/lib/curl-7.55.1/lib) and openssl (/usr/lib64). Also,

[2017-09-11 13:15] niketdoshi commented on #690
Hi,

I've a similar problem when using Spark SQL `window()` function

Use-case

eg. Calculate a sliding window of 1 month with a window interval of 5 months

[code]

Since the `sdf_separate_column()` can't handle the struct type for now, is there an alternate way to get the elements from the nested list? If not, how long before we can expect this feature?

Thanks,
Niket

[2017-09-11 13:35] gvshankar commented on #984
Don't have anything set in the .bash_profile or .bashrc.  All the environment variables other than PATH are set through the /usr/lib64/R/etc/Renviron file.  Besides the defaults, I have added the following to that file
## Spark 1.6.1# SPARK_HOME="/opt/cloudera/parcels/CDH/lib/spark"## Spark 2.2HADOOP_HOME=/opt/cloudera/parcels/CDHSPARK_HOME="/opt/cloudera/parcels/SPARK2/lib/spark2"HADOOP_CONF_DIR=

[2017-09-11 17:22] falaki opened #1000 "Failing to install from CRAN"
Our nightly tests for sparklyr started failing when trying to install sparklyr from CRAN. This is the error:

[code]

We use `install.packages("sparklyr", repos = "https://cloud.r-project.org")` for installation.

[2017-09-11 19:24] gvshankar commented on #984
I found out that the JAVA JDK version on the Edge Node (where R / RStudio is running) was slightly lower version (/usr/java/jdk1.8.0_92) than the Hadoop Nodes (/usr/java/jdk1.8.0_121).  So, I went and upgraded the JAVA on the R node to the latest (jdk1.8.9_144).  I then reinstalled the "dplyr", "sparklyr" packages in R.
Now, both the R and RStudio give the same error.  
[v550598@ham-lnx-vs-0086 ~]

[2017-09-11 20:54] javierluraschi commented on #941
@JakeRuss thanks for the feedback. There are two points to consider here:
1. The current implementation of `copy_to` does contain a few number of serialization issues; however, `copy_to` was never intended to copy "big data" into the cluster, it is more likely that the data will be already available in the Spark cluster.
2. There are a few other serialization issues; however, most of the serializa

[2017-09-11 22:26] javierluraschi commented on #997
@sean-in-korea Could you share the contents of `/etc/hadoop/conf/yarn-site.xml`? You might want to change host names if they are public facing. Or, more specifically, I'm looking for the values of these properties:

- yarn.resourcemanager.ha.id
- yarn.resourcemanager.ha.ids
- yarn.resourcemanager.webapp.address.* (there should be multiple entries here)

If you can't share this information, take a

[2017-09-11 22:38] javierluraschi commented on #1000
@falaki I just tried from scratch and the installation worked correctly, are we sure this is not intermittent? Here is the head/tail of my installation, are you still hitting this?

[code]

[2017-09-12 04:08] #983 closed

[2017-09-12 04:08] #993 closed

[2017-09-12 04:09] javierluraschi commented on #993
@ZJUguquan should be fixed now, try upgrading using:

[code]

[2017-09-12 06:34] sean-in-korea commented on #997
'
<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <property>
    <name>yarn.acl.enable</name>
    <value>true</value>
  </property>
  <property>
    <name>yarn.admin.acl</name>
    <value>*</value>
  </property>
  <property>
    <name>yarn.resourcemanager.ha.enabled</name>
    <value>true</value>
  </property>
  <property>
    <name>yarn.resourcemanager.ha.automatic-failover.enabled</nam

[2017-09-12 06:42] sean-in-korea commented on #997
@javierluraschi I wanted to share the file with you by uploading it here, but I could not do that. I cannot find the feature for attaching file.
Now I checked the yarn-site.xml and the file does not have such properties of 'yarn.resourcemanager.ha.id' and 'yarn.resourcemanager.ha.ids'

[2017-09-12 06:42] ZJUguquan commented on #993
@javierluraschi Nice work！

[2017-09-12 17:18] javierluraschi commented on #980
@randomgambit yes, this is correct. There is currently a performance cost between transferring data between Scala and R during `spark_apply()`, it could actually save time in some instances (say, high computation in R for packages using C libraries), but most of the time it will come with an overhead.  I would always start by using `dplyr`, `ml_`, `sdf_`, etc. and only when the functionality is no

[2017-09-12 17:18] javierluraschi commented on #979
Closing this one, seems we've addressed all/most of the questions.

[2017-09-12 17:18] #979 closed

[2017-09-12 17:27] javierluraschi commented on #988
@kevinlzheng the problem with `dim()` and `nrow()` is that other packages assume they will execute fast enough to perform their computation. For instance, `tibble`, which we use to print tables has `if()` checks using `nrow()` that cause printing to hand for big tables.

If you really miss them I would encourage you to create a package that overrides them and provide this for the `sparklyr` commun

[2017-09-12 19:12] javierluraschi commented on #582
@statkclee try using `s3a://` instead of `s3://` to reference the bucket, take a look at this resources as well:

- https://spark.rstudio.com/articles/deployment-amazon-s3.html
- https://medium.com/@subhojit20_27731/apache-spark-and-amazon-s3-gotchas-and-best-practices-a767242f3d98

This is probably not an issue on `sparklyr`, so I'll be closing this. Try to find me in gitter if you want a few mor

[2017-09-12 19:12] #582 closed

[2017-09-12 19:32] javierluraschi commented on #590
@am9090 you could calculate accuracy with a hand-labeled dataset with something like:

[code]
[code]

Closing this one with above reference.

[2017-09-12 19:32] #590 closed

[2017-09-12 19:34] javierluraschi commented on #595
The original issue was resolved with Edgar's suggestion, the second one should be fixed by upgrading `sparklyr` and ideally RStudio to 1.1.

[2017-09-12 19:34] #595 closed

[2017-09-12 20:28] javierluraschi commented on #597
@haridwarj `convert_date` would need to be registered as a Spark UDF, I create an example for you here: https://github.com/javierluraschi/sparklyudf.

[2017-09-12 20:28] #597 closed

[2017-09-12 20:56] javierluraschi opened #1002 "broom"
Related:
- https://github.com/rstudio/sparklyr/issues/598

[2017-09-12 20:56] javierluraschi commented on #598
Visualization is currently not within the scope of `sparklyr`, the recommended approach is to retrieve the data you need to R and visualize it there with, say, `ggplot2` or many other packages provided by the R community.

To retrieve the model, currently you could run something like:

[code]

[code]

We can consider improving this with [broom](https://github.com/rstudio/sparklyr/issues/1002) supp

[2017-09-12 20:56] #598 closed

[2017-09-12 21:02] kevinlzheng commented on #988
@javierluraschi  Thanks for the clarification! I am ok with the sdf replacement.

I generated an example dataset for this na.omit problem. There could be a heap limit for it to work I assume.

[code]
Here below is the data and running time for each steps
[code]

[2017-09-12 21:26] javierluraschi commented on #600
@AlexYoung757 Probably missing permissions to run this in your particular system? Have you tried running as admin? I would also try with latest version of `sparklyr` using:

[code]

Does the `winutils.exe` file exist under the following list of files?

[code]

Please feel free to open a new github issue to help troubleshoot, alternatively, you might want to find me in https://gitter.im/rstudio/spa

[2017-09-12 21:26] #600 closed

[2017-09-12 21:34] javierluraschi commented on #607
Have you tried using `ft_count_vectorizer `? See also https://blog.rstudio.com/2017/07/31/sparklyr-0-6/#improved-text-mining-with-lda.

Feel free to open a new github issue if this is not sufficient, thank you!

[2017-09-12 21:34] #607 closed

[2017-09-12 22:01] javierluraschi commented on #616
Looks to me expected given constrained resources in different systems, for instance, I would get a `Job aborted.` with logs pointing to memory:

[code]

With the script running for `n <- 1e6`, I can copy but then `spark_write_parquet()` fails.

The problem seems to be (see https://issues.apache.org/jira/browse/PARQUET-222), that the parquet writer opens a file + buffer for each column, which under

[2017-09-12 22:01] #616 closed

[2017-09-12 22:12] javierluraschi commented on #645
Right, this one I remember was a `dplyr` regression which is fixed now in `dplyr 0.7`. Closing.

[2017-09-12 22:12] #645 closed

[2017-09-12 22:15] javierluraschi commented on #647
@kevinykuo, how is this different from the `data.frame` version? Am I missing something?

[code]
[code]

[2017-09-12 22:18] javierluraschi commented on #647
That said, this is experienced across `dplyr`...

[code]

[2017-09-12 22:22] javierluraschi commented on #647
Moved this one to https://github.com/tidyverse/dplyr/issues/3099, I think we should be consistent with other `dplyr` backends.

[2017-09-12 22:22] #647 closed

[2017-09-12 22:34] hlendway commented on #984
Hmmm we have a similar setup (R and RStudio Server installed on an edge node in the hadoop cluster)  and the only environment variable we set in the Renviron file is the SPARK_HOME="/opt/cloudera/parcels/CDH/lib/spark"
Then I have my JAVA_HOME setup in my bach profile.
I assumed you've recycled the server again.  Can you try setting the JAVA_HOME in your bash_profile to see if it picks that up and

[2017-09-12 23:56] javierluraschi commented on #997
@sean-in-korea what about the `https` endpoint? Is this one available?

[code]

In our clusters, we've seen that the REST API is available in the port defined under `yarn.resourcemanager.webapp.address`, but seems that for your cluster is defined under `yarn.resourcemanager.admin.address`.

Assuming this one is not available `https://bda1node09.kr.oracle.com:8090/ws/v1/cluster/info`, I'll add a fa

[2017-09-12 23:57] #650 closed

[2017-09-13 00:35] javierluraschi commented on #638
No great mechanism to override this apart from overriding all joins again and subclassing the connection, I think this has the potential to create more problems for a bit of error message improvements. Closing.

[2017-09-13 00:35] #638 closed

[2017-09-13 00:38] javierluraschi commented on #622
@kevinykuo mind taking a look at this one at some point? I'm trying to stay away from changing `ml_` methods while you work on them, especially since this fix does not look like a one line change.

[2017-09-13 00:47] sean-in-korea commented on #997
@javierluraschi Both https endpoints are not available.

[2017-09-13 01:43] javierluraschi commented on #997
@sean-in-korea sounds good, fix on its way. Could you validate the fix works in your environment by running the following and reconnecting?

[code]

[2017-09-13 04:03] sean-in-korea commented on #997
@javierluraschi I updated the sparklyr packages just now, but still having the same error messages

[code]

[2017-09-13 15:59] kevinykuo commented on #622
@javierluraschi yep I think I have an idea on what this might be. spark.ml provides higher level APIs to deal with encoding categorical variables which may be more efficient. I'm utilizing those in the refactoring so hopefully things will go faster. Will track this one at https://github.com/rstudio/sparklyr/issues/944

[2017-09-13 15:59] #622 closed

[2017-09-13 16:12] russellpierce opened #1005 "Improve docs for mode arg of spark_write_*()"
The sparklyr docs for spark_write_*() include a mode arg but lack a reference to where one can determine the set of possible values for that arg.  I think the correct reference is http://spark.apache.org/docs/latest/sql-programming-guide.html#save-modes.

I had intended to make a PR, but I noticed multiple occurrences of `#' @param mode` for each function in conjunction with `#' @inheritParams spa

[2017-09-13 16:32] javierluraschi commented on #997
@sean-in-korea could you try again with `0.7.0-9024` by running the following and reconnecting?

`devtools::install_github("rstudio/sparklyr", ref = "bugfix/yarn-cluster-find-ha-fallback")`

I applied a patch in the branch to output a warning whenever a resource manager is not reached.

[2017-09-13 17:04] javierluraschi commented on #1005
@russellpierce all the instances of `@param mode` under `data_interface.R` would support those. Would be great if you can send a PR with something like:

[code]

You would also have to regenerate the docs with `roxygen`, using RStudio `Build Menu -> Document`

[2017-09-13 17:55] russellpierce commented on #1005
Should that text be provided at each function or just once under spark_write_csv with the individual @param mode entries dropped?

[2017-09-13 19:05] javierluraschi commented on #984
@gvshankar There are some references here: http://community.cloudera.com/t5/Advanced-Analytics-Apache-Spark/spark-2-0-with-spark1-6/m-p/49146 mentioning `These errors indicate some kind of classpath problem`.

We recommend connecting to Cloudera as follows without any further settings:

[code]

Seems yours is set to `SPARK_HOME="/opt/cloudera/parcels/CDH/lib/spark"` which is correct, but somewhere

[2017-09-13 19:35] gvshankar commented on #984
No luck still.  Tried for both the Spark 1.6 and Spark 2.2, both give the same error.

Error in force(code) :   Failed while connecting to sparklyr to port (8880) for sessionid (9221): Gateway in port (8880) did not respond.    Path: /opt/cloudera/parcels/CDH-5.10.1-1.cdh5.10.1.p0.10/lib/spark/bin/spark-submit    Parameters: --class, sparklyr.Shell, --jars, '/usr/lib64/R/library/sparklyr/java/spar

[2017-09-13 21:39] javierluraschi commented on #988
@kevinlzheng thank you for this insightful repro! Fix underway... https://github.com/rstudio/sparklyr/pull/1007

[2017-09-13 22:07] #988 closed

[2017-09-13 22:21] huguetpj commented on #997
@javierluraschi i've been following both issue 903 and this one, I'm in the same boat as sean-in-korea trying to run sparklyR in cluster mode in a HA cluster. I've just downloaded the latest version but having the same issue. I'm trying to get the yarn-site file from my system admin to also answer your questions above.

[code]

[code]

[2017-09-13 22:33] javierluraschi commented on #997
@huguetpj could you share the output of `spark_connect()` and share? From your previous post it would seem that this actually works, what error/warnings are you getting?

[2017-09-13 22:35] javierluraschi commented on #997
@huguetpj BTW, you can probably get the contents of this file running `cat(readLines(path(Sys.getenv("YARN_CONF_DIR"), "yarn-site.xml")))`, that said, always good to touch base with your sys admin in case there is something sensitive to remove from the file.

[2017-09-13 22:56] javierluraschi commented on #656
@paramiyer we have not been able to reproduce this issue, I would recommend retrying with the latest version of `sparklyr` from CRAN and open a new issue if you are still experiencing this problem, thank you!

[2017-09-13 22:56] #656 closed

[2017-09-13 22:58] javierluraschi commented on #666
The suggestion seems sufficient, closing. @kuzeyCL Feel free to open a new issue if this persists in your environment.

[2017-09-13 22:58] #666 closed

[2017-09-13 23:01] javierluraschi commented on #668
This issue is most likely caused by missing to run `library(sparklyr)` before `spark_connect()`, closing.

[2017-09-13 23:01] #668 closed

[2017-09-13 23:05] javierluraschi commented on #694
@igornoberto @Haskman my suggestion would not resolve the issue but should show more logging information to help troublehsoot, could you rerun as follows and share the output?

[code]

Feel free to also find me in gitter to chat about urgent connectivity issue, happy to help as time permits.

[2017-09-13 23:19] javierluraschi commented on #717
`dplyr` has the last say here since `sparklyr` provides a backend but does not try to extend `dplyr` functionality, closing.

BTW. In more recent versions of `sparklyr` we collect StructFields so this now produces:

[code]
[code]

[2017-09-13 23:19] #717 closed

[2017-09-14 00:05] falaki commented on #1000
Turns out our environment had an old version of `Rcpp`. Updating that fixed the issue.

[2017-09-14 00:05] #1000 closed

[2017-09-14 00:26] sean-in-korea commented on #997
@javierluraschi Sorry but still no progress.. I am getting the same error message

[code]

[2017-09-14 02:04] javierluraschi commented on #997
@sean-in-korea could you try again? Latest version in this branch is `0.7.0-9025`. I just noticed that your default HA configuration does not specify a default resource manager and `sparklyr` code assumed one was present.

[2017-09-14 04:32] sean-in-korea commented on #997
@javierluraschi I tried to connect to the cluster with the latest build but I got failed again. Please see below.

[code]

[2017-09-14 04:36] sean-in-korea commented on #997
@javierluraschi I tried to connect to the cluster, but I got errors and they look different.

[code]

[2017-09-14 04:38] sean-in-korea commented on #997
@javierluraschi When I tried to connect the above URL from the bottom, it showed the following string:

[2017-09-14 04:48] sean-in-korea commented on #997
@javierluraschi I can see the following jobs (failed) from Yarn Application history of Cloudera Manager.
![cm_status](https://user-images.githubusercontent.com/29832828/30412500-e1ca793c-9952-11e7-91d3-f36d9b459484.png)

[2017-09-14 05:42] javierluraschi commented on #997
@sean-in-korea this is progress, @huguetpj did this last commit under this branch worked for you?

@sean-in-korea the warnings below can be ignored, basically, they tracked that we tried to use those ports to connect to the resource manager API and we failed. However, `sparklyr` was able to find an active resource manager, find the new `sparklyr` application and retrieved the node where it's runni

[2017-09-14 05:51] sean-in-korea commented on #997
@javierluraschi The another test also showed the same error with different node bda1node12.kr.oracle.com. Of course, I added the gateway port to the spark_config.

[code]

[2017-09-14 05:52] sean-in-korea commented on #997
@javierluraschi My answers to your questions

1. Look at the logs of bda1node11.kr.oracle.com (this might change so check node from spark_connect output) and validate that sparklyr is running in that node by finding in the logs entries like sparklyr: Session (1321) is starting under 127.0.0.1 port 8880. Are those entries available under that node?
2. While the sparklyr application is submitted, va

[2017-09-14 15:12] randomgambit commented on #980
@javierluraschi @kevinykuo some updates. I appears every time one uses `spark_apply` there is some bottleneck due to `Sparklyr` copying over the entire R distribution over each node.

This can take quite a while and will not show up on the Spark gui. Also, calling a package from withing spark_apply only works with the syntax `mypackage::myfunction`.

You may want to specify the IO thing on the doc

[2017-09-14 16:03] jimcrozier commented on #254
I got this error after I install rJava, and solved it by manually setting JAVA_HOME

Sys.setenv(JAVA_HOME="/usr/lib/jvm/java-8-openjdk-amd64")
sc = spark_connect(master = "local",spark_home = "/usr/lib/spark/")

[2017-09-14 17:14] JakeRuss commented on #941
I appreciate your thoughts, @javierluraschi. My desired workflow may be irrelevant for the `copy_to` discussion, but I'm not certain, so let me explain more and if this discussion should be moved, I will open another issue.

I mainly use `spark_read_jdbc` to pull data into Spark from our production database, make a calculation, and then record the results back to another database table. Does this

[2017-09-14 17:29] javierluraschi commented on #997
@sean-in-korea for (1), could you paste the logs from that machine? What I'm asking to do is to, first connect `spark_connect(<conenct-options>)` which will fail with message `Failed while connecting to sparklyr to port (8881) and address (<node-host-name>)`, then get the logs for `<node-host-name>` during that time and share them here. Once you post the logs, we should at least this entry:

[code

[2017-09-14 17:40] javierluraschi commented on #997
@sean-in-korea also, would you mind to try connecting from plain `R` not RStudio?

[2017-09-14 18:12] javierluraschi commented on #984
@gvshankar It's interesting that `/usr/java/jdk1.8.0_92` was working fine for R, I'm investigating this, but in the meantime, would be interesting to downgrade to `/usr/java/jdk1.8.0_92`, validate R works fine, and then check if/why-not `/usr/java/jdk1.8.0_92` is being used within RStudio.

[2017-09-14 22:26] javierluraschi commented on #997
Merging https://github.com/rstudio/sparklyr/pull/1004, mostly since sean-in-korea investigation proved to make progress; but keeping this issue open to troubleshoot this further.

[2017-09-14 22:35] javierluraschi commented on #680
Tracked now with https://github.com/rstudio/sparklyr/issues/941

[2017-09-14 22:35] #680 closed

[2017-09-14 22:45] javierluraschi commented on #941
@JakeRuss not at all, `copy_to` would not affect `spark_read_jdbc` nor `spark_write_jdbc`, most of the blocking issues this bug is tracking fall into the `copy_to` category which does not affect you.

`Scala Date` should map to `R Date` and `Scala Time` to `R POSIXct` while collecting; however, there might be additional types to consider for JDBC or other formats that should fall into a Data conve

[2017-09-15 00:50] #987 closed

[2017-09-15 04:39] yeshwanth43 opened #1011 "sparklyr connects to existing spark applications"
# sparklyr connects to existing spark applications if set.seed() is called before spark_connect

---

we are running sparklyr on CDH cluster, and noticed this behavior with the following code.
at first, we saw this in between multiple users,
if two users sets same seed value and initiates spark connection,
instead of  getting a new spark app in yarn , it connects to one of the existing app.

when

[2017-09-15 06:39] AkiraKane opened #1012 "Install sparklyr with initialize_connect error"
Hi:
After I run this command:

`library("sparklyr")`
`spark_install(version="1.6.2")`
`sc <- spark_connect(master="local")`

I have encountered the following error, I have no idea how to fix that, please help me.

* Using Spark: 2.2.0
Error in force(code) :
  Failed during initialize_connection: java.lang.ExceptionInInitializerError
	at org.apache.hadoop.util.StringUtils.<clinit>(StringUtils.java:

[2017-09-15 12:28] hlendway commented on #1012
I think you should probably try adding master and version attributes to your spark_connect call. Although it looks like it's having an issue authenticating so you may not have kerberos configured correctly or try running a kinit in the console in RStudio.  There's been a lot of suggestions in this thread that may also be relevant: [https://github.com/rstudio/sparklyr/issues/984](url)

[2017-09-15 13:03] JakeRuss opened #1013 "Improve serialization from JDBC Sources"
Per @javierluraschi's comments in #941 I have opened this new issue.

The problem is that date and date time fields from MySQL (and possibly other JDBC sources) are read into Spark (via `spark_read_jdbc`) as character instead of preserving the datetime structure.

In #941 you requested a sample schema and I have modified your example to include the three MySQL date/datetime types. This updated sch

[2017-09-15 13:05] JakeRuss commented on #941
Moved to a new issue, thank you @javierluraschi!

[2017-09-15 14:03] russellpierce commented on #1005
I'll pick this up next week.  I'll default to dropping the extra mode statements unless I hear otherwise.

[2017-09-15 14:38] huguetpj commented on #997
Hola Javier,
Sorry I went missing for a bit, got pulled to different project, but I'm back. As background, which I seem to have missed before, I'm running Rstudio web, within our own cloud enviroment. My knowledge of all this and access is a bit limited, but my admin is usually very responsibe. I got the yarn file from my admin, but I will sanitize as needed. Same as sean-in-korea I could not find

[2017-09-15 15:43] Jiang-Li commented on #101
Any update about how to assign the reference level, like the relevel function in R and H2O? Thx!

[2017-09-15 15:57] kevinykuo commented on #101
@Jiang-Li this is a little tricky since it's not natively supported in Spark – in fact, Spark 2.3.0 will only support [setting reference level by frequency or alphabetically](https://issues.apache.org/jira/browse/SPARK-14659). However, I'll make a note to look at this as part of the ML refactoring that's in progress. There might be a way to tweak column metadata cleanly.

[2017-09-15 16:28] javierluraschi commented on #997
@huguetpj where is the machine running `R` located? Is it inside the cluster? In order for `yarn-cluster` to work appropriately, the address `XXX1.YYY.local:8088` should be reachable.

Can you load `http://XXX1.YYY.local:8088/ws/v1/cluster/info` from the machine where R is running? If not, could you investigate why the URL `http://XXX1.YYY.local:8088/ws/v1/cluster/info` is not available?

I would

[2017-09-15 16:31] javierluraschi commented on #1011
Thank you @yeshwanth43, fix will be merged later today.

[2017-09-15 16:35] javierluraschi commented on #1005
@russellpierce we would want to change each function since all of the functions under the `data_interface.R` support those values.

I don't think we are currently sharing doc `@param` across that file, so unless you want to refactor into a single parameter block, we would want to change each of them.

Thanks for giving this a shot.

[2017-09-15 16:37] huguetpj commented on #997
@javierluraschi yes, the machine is running within enviroment. Not sure if it has access to the URL. I will check.

[2017-09-15 16:46] huguetpj commented on #997
I tried pinging from Rstudio using
[code]
It says false, but I might not be doing it right. Waiting for my admin to get back to me.

[code]

[2017-09-15 16:53] huguetpj commented on #997
Weird thing... I just tried to connect again, just in case. And I got sort of a different error.
[code]

Still cannot see any Yarn or Spark apps.

[2017-09-15 16:54] javierluraschi commented on #254
Please try with the latest version of `sparklyr` and open new github issues if the problem persists for any of you. Closed issues like this one have longer response times. Thanks.

[2017-09-15 16:54] yeshwanth43 commented on #1011
Thanks @javierluraschi .
can you explain the issue.

[2017-09-15 16:55] #1011 closed

[2017-09-15 17:04] javierluraschi commented on #1012
@AkiraKane looks like you have Java 9 installed which is currently not supported in Spark.

Try instead running:

[code]

You probably want to [Unsinstall Java in Mac](https://www.java.com/en/download/help/mac_uninstall_java.xml) followed by [reinstalling Java 8](http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html) and then restarting your r session.

Rerunning the

[2017-09-15 17:25] hlendway opened #1015 "Issues with Mutate in Sparklyr"
I've been playing around with mutate in sparklyr and I keep running into oddities where a mutate seems to be skipped or will give an error when combined into one statement.  When broken out into multiple mutates or seperate statements it seems to work better.   I want to do an sdf_pivot which seems to have issues when the new column names are more than oen word so I need to change my type to be a

[2017-09-15 17:50] javierluraschi commented on #1015
@hlendway which error are you getting? I think you might be hitting a bug in `dplyr` tracked by https://github.com/rstudio/sparklyr/issues/1015.

One workaround is to split your mutates as in...

[code]

[2017-09-15 20:43] hlendway commented on #1015
@javierluraschi Thank you!  That fixed a few of my issues!  I thought it was always the 3rd mutate that wasn't working so that makes sense now.  Appreciate the quick response!

[2017-09-15 20:47] huguetpj commented on #997
HI @javierluraschi. I deleted my previous comments due to me being stupid. We have two enviroments, dev and prod and the admin had given me the prod yarn file I was testing on the dev enviroment. Once that mixed up was fixed. Here is the result for the url.get command from within Rstudio. I get a similar response from both enviroments.

[code]
[code]

However, one enviroment (dev) fails with this

[2017-09-15 21:09] javierluraschi commented on #1015
No worries, please track the issue with https://github.com/tidyverse/dplyr/issues/3095, I'll close this one. We can also consider providing a fix in `sparklyr`, but it would be ideal to get this fixed in `dplyr`, thanks you @hlendway!

[2017-09-15 21:09] #1015 closed

[2017-09-15 21:13] huguetpj commented on #997
I've tested using `config$sparklyr.gateway.port <- "8881"` and the error message changes a bit

[code]

[2017-09-15 22:02] javierluraschi commented on #997
Thank you! @huguetpj fix here https://github.com/rstudio/sparklyr/pull/1017, please update `sparklyr` and retry once merged, thanks for trying this out.

[2017-09-15 22:44] huguetpj commented on #997
Hi @javierluraschi, thank you for working with us on fixing this. I removed the `config$sparklyr.gateway.port <- "8881"` and ran `devtools::install_github("rstudio/sparklyr", ref = "bugfix/yarn-cluster-empty-apps")` in both enviroments. Hopefully that is correct. SparklyR updated to `sparklyr   * 0.7.0-9028 2017-09-15 Github (rstudio/sparklyr@f9f4f96)`.

Ran code:
[code]

New errors:
In dev -
[cod

[2017-09-15 23:03] huguetpj commented on #997
Logs from prod:
[code]
[code]

Hopefully **Operation category READ is not supported in state standby** means something.

[2017-09-15 23:09] javierluraschi commented on #997
@huguetpj great! I agree the problem seems to be de queue at this point. I believe the problem is that `config$`spark.yarn.queue` <- "QQQ"` gets applied to the spark config, which is too late in `yarn-cluster`, we need to apply this as a parameter in `spark-submit` instead with something like:

[code]

which would translate to `--queue QQQ` in `spark-submit`, could you try with this queue change?

[2017-09-15 23:46] huguetpj commented on #997
Weird that prod would get queue name but dev not. I added the line to both. Prod did not change, same error in Rstudio, and same "Operation category READ is not supported in state standby" in container logs. Dev did get correct queue and error changed:

[code]

Trying to get logs in tracking page as suggested in error.

[2017-09-15 23:57] huguetpj commented on #997
For dev, there are two attempts within application_1505326729830_2727. Both show similar logs:

[code]
[code]

[2017-09-16 00:19] javierluraschi commented on #997
@huguetpj I believe `exited with  exitCode: 13` that I see in the logs is an `OutOfMemory` error... try:

[code]

See https://spark.apache.org/docs/latest/running-on-yarn.html and https://spark.apache.org/docs/1.6.1/running-on-yarn.html

[2017-09-16 01:18] AkiraKane commented on #1012
@javierluraschi Thanks for the response, I do have Java 9 installed before. I have tried to install sparklyr on my other Mac, which only has Java 8 installed and it works fine. Thanks again :)

[2017-09-16 04:42] javierluraschi commented on #1012
Great, closing.

[2017-09-16 04:42] #1012 closed

[2017-09-16 22:18] randomgambit commented on #812
@javierluraschi  closing this one. Thanks!

[2017-09-16 22:18] #812 closed

[2017-09-17 01:42] #980 closed

[2017-09-18 12:14] peddollakishore commented on #299
Hi @kruny1001 @javierluraschi @statmatt thanks for reply.

i have one doubt , i need to install spark, scala, java and R-server in slave nodes also

[2017-09-18 15:48] MZLABS commented on #721
So how does one set the Checkpoint directory?

[code]

[2017-09-18 15:50] kevinykuo commented on #721
@MZLABS @JohnMount See `?spark_set_checkpoint_dir`

We'll make a note to include this when we update the documentation next release.

[2017-09-18 16:01] gvshankar commented on #984
I finally found the answer.  It looks like within RStudio, you cannot reference one environment variable within another.
The problem variable in my case was the SPARK_DIST_CLASSPATH which referenced the $HADOOP_HOME variable a lot.  Once I replaced the $HADOOP_HOME with the actual value, things started working fine.  Didn't see that big a difference between JAVA1.8.0_92 vs any of the newer version

[2017-09-18 16:08] hlendway commented on #984
Great news!  Happy to contribute ideas :)

[2017-09-18 17:04] javierluraschi commented on #997
@sean-in-korea @huguetpj looking forward getting this troubleshoot further, is there anything else you want me to suggest here?

[2017-09-18 17:43] huguetpj commented on #997
Hi @javierluraschi. Could not work on this over weekend, but I'm currently working on it. As background, we are running other apps through scala/spark on the yarn cluster with no issues. One of the commands for example is:
[code]
I tried your config but got the following error:
[code]
[code]
I was not able to pull any node logs. However playing around with it, it seems spark_connect fails due to `

[2017-09-18 18:03] russellpierce opened #1020 "Text column with newline causes error in dplyr::copy_to in presence of a date column"
I'll say at the outset I don't know if this report belongs with dplyr, sparklyr, or Spark.  The error returned appears to be from Spark, so I'm starting here.

[code]

[code]

[code]

Notably, if there is no date column, things are fine.  See also similar, but resolved issue: https://github.com/rstudio/sparklyr/issues/411

[2017-09-18 18:19] huguetpj commented on #997
@javierluraschi actually the error is still the same. I though it had changed because it again picked up the wrong container logs. So the error still remains:
[code]
Not sure why it says 10mS, should it not wait for 100S? 10mS is not enough for the cluster to respond. Maybe I'm not updating the right config var. Also, not sure what to do with `SparkConf.setMaster("local[*]")`. I'm not using that i

[2017-09-18 18:40] javierluraschi opened #1021 "Consider `spark_apply()` to not require FQN"
Today,

[code]

but instead, would be nice to include the libraries before the closure to support:

[code]

[2017-09-18 18:40] javierluraschi commented on #980
Thanks, suggestion added to https://github.com/rstudio/sparklyr/issues/1021

[2017-09-18 18:43] javierluraschi commented on #299
@peddollakishore

For `yarn-client`:
1 Driver Node: Install R, RStudio (if desired). Java, scala and spark should already be installed in this node for correct Spark configurations.
2. WOrker Nodes: Install R, if you wish to use `spark_apply()`.

[2017-09-18 18:58] javierluraschi commented on #984
@gvshankar AWESOME! One question...

If I set `.Renviron` to:

[code]

and then launch the R session, to run the following:

[code]

I don't get environment variables resolved:

[code]

Is it perhaps the case that something else is setting `SPARK_DIST_CLASSPATH ` for bash that is not for RStudio?

In anycase, closing.

[2017-09-18 18:58] #984 closed

[2017-09-18 19:01] javierluraschi commented on #1020
Thank you @russellpierce, tracking some improvements here instead: https://github.com/rstudio/sparklyr/issues/941, closing this one.

[2017-09-18 19:01] #1020 closed

[2017-09-18 19:13] javierluraschi commented on #997
@huguetpj Great find! I agree that this `SparkContext did not initialize after waiting for 10 ms` seems like the problem. However, according to https://stackoverflow.com/questions/43784747/sparkconf-settings-not-used-when-running-spark-app-in-cluster-mode-on-yarn, we can't really set `spark.yarn.am.waitTime` in `config$spark.yarn.am.waitTime` while using `yarn-cluster` mode since we set those prop

[2017-09-18 19:19] javierluraschi commented on #1013
Thank you! Closing to address this with: https://github.com/rstudio/sparklyr/issues/941

[2017-09-18 19:19] #1013 closed

[2017-09-18 20:23] huguetpj commented on #997
@javierluraschi, so I think we are making some progress here. The dev spark config file had waitTime setup to 10. Not sure why. Sorry about that, I should have checked first.

[code]

I requested the admin to remove both line:
[code]

And now we don't get the timeout issue. The error we have now is:
*Rstudio:*
[code]

*Yarn:* application status is FAILED un Yarn UI, although below it says SUCCEEDE

[2017-09-18 20:38] javierluraschi commented on #997
@huguetpj Great! I see this in your previous post:

[code]

How long does it usually take for an application to register? `sparklyr` only waits for `60s` by default, we could change this adding:

[code]

[2017-09-18 23:43] huguetpj commented on #997
I'm pretty sure applications take a lot less than 60s to register. At least when running Tez or Spark-submit. However, I've tested the new configuration variable. It does change the timeout. I've measured how long spark_connect takes to timeout. However the log's remain the same stating that backend times out at 60s, which is weird. Is that the right config var?

[code]

[code]

[2017-09-18 23:55] javierluraschi commented on #992
@JohnMount do you have a local repro? This is what I tried:

[code]

[2017-09-18 23:59] javierluraschi commented on #992
Also,

[code]
[code]

Anyways, a full local repro would be very helpful here.

[2017-09-19 05:48] javierluraschi commented on #997
@huguetpj I think we are making progress, I see this error now in your logs:

[code]

could you try replacing this line:

[code]

with

[code]

Looks like we are trying to load `spark-csv_2.11-1.3.0.jar` which enables CSV parsing, so let's disable this for now.

[2017-09-19 06:20] javierluraschi commented on #997
@huguetpj if the above suggestion does not help, please update `sparklyr` and retry, I made a change to print more logging when hitting `spark_yarn_cluster_get_app_property` to help us troubleshoot.

[2017-09-19 14:29] schlichtanders opened #1024 "Spark SQL ``inline`` not supported"
Dear dev-team,

I stumpled upon ``inline`` returning *multiple columns*, however dplyr/sparklyr syntax does not seem to support something like this. Take for instance the following minimal example:

[code]
This should be something like the identity function (with "col1" and "col2" as new column names), however it fails.
[code]

Is there a way to use ``inline`` sql function within sparklyr?

best r

[2017-09-19 15:17] samurainate commented on #181
Works if the primary RM is online.  If ha is enabled and the primary RM is not online, it doesn't try the list of ha RMs in round robin.

[2017-09-19 15:50] huguetpj commented on #997
@javierluraschi, changing to `list()` did not change the error. I wasn't sure which branch to pull but `devtools::install_github("rstudio/sparklyr", ref = "bugfix/yarn-cluster-empty-apps")` showed no update. I tried `devtools::install_github("rstudio/sparklyr", ref = "master")` since issue 181 references PR 238. Sorry, I'm a bit new to the advanced part of GIT. Hopefully this is correct.

[code]

[2017-09-19 16:54] javierluraschi commented on #997
@huguetpj My bad, I introduced a bug in the logging statement, could you retry again with:

[code]

? This [commit](https://github.com/rstudio/sparklyr/commit/20c6e900836a5878ac6f59c1abe9a4ce44830ee7) fixes the `Error in prettyNum()` issue.

Also, if you have a chance, you can reach me on [gitter.im/rstudio/sparklyr](https://gitter.im/rstudio/sparklyr), would help to chat to help us reduce one-day

[2017-09-19 16:57] #1005 closed

[2017-09-19 18:09] huguetpj commented on #997
This is what I get now.
[code]

[code]

[2017-09-19 18:32] javierluraschi commented on #997
@huguetpj the error message is still truncated, so we will manually have to get a dump of the running applications, could you please rerun `spark_connect` followed by running retrieving the active applications from:

http://XXX1.YYY.local:8088/ws/v1/cluster/apps?startedTimeBegin=1505513363129

and share them here on gitter?

[2017-09-19 19:46] javierluraschi commented on #997
From a chat in gitter: We found out this cluster starts app names as `name = "spark"` rather than `name = "sparklyr..."` so the fix was to change the behavior to use the user name rather than the app name. Reconnecting is working now but a HIVE-related issue seems to be triggering. Hive issue was:

[code]

Some pointers in the web suggested connecting with `--files <path-to-hive.xml` so retrying n

[2017-09-19 21:14] javierluraschi commented on #181
@samurainate give it another shot, #997 got enough fixes to enable connection in HA mode. Issue is still open due to HIVE auth issue, but looks like that might not be related to `sparklyr`.

[2017-09-19 21:19] javierluraschi commented on #1024
@schlichtanders `dplyr` supports pass-through functions that become SQL functions if no r-function overrides them, so for instsance `df %>% select(inlin(g))` would become `SELECT inline(g) FROM df`, is this what you mean?

[2017-09-19 22:18] javierluraschi commented on #997
The hive issue was unrelated to `yarn-cluster`, but in case the `sparklyr` community can benefit from this, I'll write down the issues.

1. First error was `java.lang.RuntimeException: Unable to instantiate org.apache.hadoop.hive.ql.metadata.SessionHiveMetaStoreClient`, this one was solved by manually including `--file hive-site.xml` by using the `config$sparklyr.shell.files <- c("/etc/hive/conf/h

[2017-09-19 22:21] javierluraschi commented on #997
@sean-in-korea, user huguetpj had also an HA cluster that showed that a few fixes where needed in `sparklyr`, I'm planning to close this issue but want to check with you first in case you have a chance to try this out. Could you reinstall using `devtools::install_github("rstudio/sparklyr")` and retry connecting? I would take a look at huguetpj settings in case your cluster needs similar ones. Than

[2017-09-19 22:31] huguetpj commented on #997
For posterity, this is my final config to run this:
[code]

Kinit has to be done with a principal that can do impersonation. We did not modify hive-site.xml to open this to other users, but it should be a possibility.

[2017-09-20 13:16] russellpierce commented on #992
Thanks for looking in on this @javierluraschi .  I'm glad to know it doesn't appear to be a widespread issue.  I tried on my set-up just now and couldn't reproduce either, even with the s3a backend.

[code]

The error message @JohnMount reported looks related to this https://forums.databricks.com/questions/11027/spark-210-append-to-hive-table.html .  Maybe the part we're missing is that somehow HI

[2017-09-20 16:23] randomgambit opened #1025 "columns lost when converting from json to parquet"
Hello @javierluraschi @kevinykuo ,

I hope all is good!

I am facing a serious issue here and I am not sure this is a bug or not. I have a bunch of large json files, and _some of them_ contain one more column than the others. Because of their size, I convert them to parquet using

[code]

Then, in my spark code I can easily do

`df_new <- spark_read_parquet(sc, "/mypath/parquet_**", overwrite = TR

[2017-09-20 17:18] randomgambit commented on #1025
@javierluraschi @kevinykuo this may have to do with `'spark.sql.parquet.mergeSchema'='true'` ? but how to set that correcly there? there is no info in the documentation...

Thanks!

[2017-09-20 18:48] MZLABS opened #1026 "compute() does not break table lineage for Sparklyr 0.7.0.9031"
Callling `compute()` does not appear to break table lineage for `sparklyr` 0.7.0.9031.  The symptom is computation gets slower and slower as more and more iterated or nested calculation is performed.  Eventually the cluster throws a "Java out of memory" exception.

I would be happy to use `sdf_checkpoint()` for this, but that doesn't currently have enough documentation for me to figure what it doe

[2017-09-20 18:49] MZLABS commented on #783
May be related to [`sparklyr` issue 1026](https://github.com/rstudio/sparklyr/issues/1026).

[2017-09-20 18:56] kevinykuo commented on #1026
`compute()` isn't supposed to break lineage; it just calls `tbl_cache()`. Do we have documentation that implies otherwise?

Could you give this a shot: replace `compute()` with `sdf_checkpoint() %>% compute()` – this will truncate lineage *and* cache – then see if it produces a better looking chart?

[2017-09-20 19:02] kevinykuo commented on #1026
Looking at the stack trace, this could also be due to GC grinding to a halt because of churn (adding/deleting stuff from JVM). If the above comment doesn't help, I'd try `sdf_persist()` (which defaults to storage level `MEMORY_AND_DISK` instead of `compute()`.

I wonder if we should add a `storage_level` argument to `compute()`...

[2017-09-20 19:04] MZLABS commented on #992
@JohnMount here.

I don't have a simple reprex.  Right now it works stand-alone.  I'll try the newest `sparklyr` in production in a bit.

[code]

[2017-09-20 19:42] MZLABS commented on #1026
From `help(compute)`:

To my mind (and maybe I should not have used the term lineage).  That would (in database terms) materialize a view.  I.e.: make a table that is independent of all the steps prior (even letting us delete prior stuff).

Again what is the lifespan of `sdf_checkpoint()`.  Unlike `compute()` it doesn't seem to take a name (so I don't know what to delete later when I am done).

[2017-09-20 20:37] kevinykuo commented on #1026
The contents of the checkpointing directory is persistent, i.e. they'll be around after your close the session and you'd have to clean it up manually AFAIK.

BTW I got the operations backwards, you'd likely want to do `compute() %>% sdf_checkpoint()` or `sdf_persist() %>% sdf_checkpoint()`.

Here's some detailed info if you want to read more about checkpointing: https://github.com/JerryLead/SparkI

[2017-09-20 20:37] javierluraschi commented on #997
Closing since a few users have reported successful connections after connecting with the fixes and `config$` options described in this issue. Please open new github issues or find the `sparklyr` team in gitter for conversations that require faster communication turnarounds, thanks!

[2017-09-20 20:37] #997 closed

[2017-09-20 22:55] javierluraschi opened #1027 "Reduce `spark_apply()` package depedencies"
`spark_apply()` could scope down the packages it copies to each worker using an explicit `packages = (.packages())` parameter that defaults to the current loaded ones and gets all the dependencies with `tools::package_dependencies()`

CC: @edgararuiz

[2017-09-21 03:25] russellpierce commented on #941
@javierluraschi You mentioned that `copy_to` was never intended to copy "big data" into the cluster.  What is the prefered pathway for large datasets?  Get it up as a .csv or Parquet or other format directly into file storage and read it off file storage?

[2017-09-21 13:09] englianhu opened #1028 "Unable connect to Spark 2.1.0"
I tried to run `devtools::install_github("rstudio/sparklyr")` to install the package. I refer to https://github.com/rstudio/sparklyr/issues/288 for the solution but there error keep exist.

When I tried to connect to Spark, the system prompt me invalid java's version.
[code]
But I had installed Java when I tried to check if system detected.
![capture](https://user-images.githubusercontent.com/7227

[2017-09-21 16:49] javierluraschi commented on #1028
@englianhu looks like JAVA_HOME is not pointing to the right path, from PS I believe we want to run `$Env:JAVA_HOME` to see what the value is, could you follow that by listing the directory it points to with `Get-ChildItem $Env:JAVA_HOME`?

[2017-09-21 19:49] randomgambit commented on #1027
@javierluraschi I am actually having problems with `spark_apply`. do you mean there is way not to copy the packages over each worker every time?

[2017-09-21 21:51] javierluraschi commented on #1027
The packages are copied for each application session, read, each time `spark_connect()` is run we copy at most once to each worker node while running `spark_apply()`. You could not use r packages with `packages = FALSE`. @randomgambit

[2017-09-22 00:27] javierluraschi commented on #1027
@randomgambit could be a disk space issue according to: http://odino.org/tar-web-tar-wrote-only-x-of-y-bytes/ - @edgararuiz ran the following in a similar situation:

[code]

[2017-09-22 00:35] randomgambit commented on #1027
@javierluraschi  thanks! let me try that

[2017-09-22 13:46] kevinykuo opened #1030 "serialize listcols in copy_to()"
@javierluraschi adding this to the backlog, not urgent/blocking but would be nice to have in the future.

Current behavior:
[code]

[2017-09-22 13:47] kevinykuo commented on #1030
track in https://github.com/rstudio/sparklyr/issues/941

[2017-09-22 13:47] #1030 closed

[2017-09-22 14:28] mgoel1190 opened #1031 "Job aborted due to stage failure"
Hi,

I have run the code using spark 2.1.1 couple of time(through intellij IDE) , but now it's failing with Job aborted due to stage failure error.

Please suggest how to overcome this error(Error log below).

org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 3.0 failed 1 times, most recent failure: Lost task 0.0 in stage 3.0 (TID 34, localhost, executor driver): T

[2017-09-22 14:32] kevinykuo opened #1032 "Implement spark_read_libsvm()"
Enable reading libsvm data. Mainly for porting Spark unit tests. Will do this as part of https://github.com/rstudio/sparklyr/issues/944.

[2017-09-22 21:11] javierluraschi commented on #1031
@mgoel1190 we would need more information here to help you out, what operation are you running? which is the full log?

[2017-09-22 21:15] javierluraschi commented on #941
@russellpierce yes, for instance with `hadoop cp file dest` if you are using Hadoop, etc. See https://hadoop.apache.org/docs/r2.4.1/hadoop-project-dist/hadoop-common/FileSystemShell.html#cp

I would like to improve `copy_to`, but in general, being Spark a big data / big compute solution, it is often the case that the data will already be available in the cluster. That said, more people are using `

[2017-09-22 21:32] mgoel1190 commented on #1031
I am running collectAsMap on RDD.

[2017-09-22 21:33] javierluraschi commented on #1031
@mgoel1190 it's possible that the collect operation is retrieving too much information that won't fit in the driver node, would the operation work if run with `%>% head()` after the collect to retrieve only `n` records?

[2017-09-22 21:54] #1027 closed

[2017-09-23 15:37] russellpierce commented on #941
We're still feeling out usage patterns. At the moment we have a bunch of pre-existing code that pulls data locally to R and processes it. Previously at the end of processing we'd just write the results as a CSV. Now we'd like to write the results as Parquet instead. The easiest path I've found to write Parquet from R is to bounce it through a Spark DataFrame. Thus, using copy_to or writing the CSV

[2017-09-25 20:19] samurainate opened #1033 "Cluster mode doesn't wait for ACCEPTED application to be resourced by YARN"
Testing cluster mode on our internal Hortonworks cluster shows launch sometimes succeeds and sometimes fails.  Failures appear to be due to timeout waiting for the application to start.  However, the application is in ACCEPTED state and a state-aware client could handle launch more robustly.  Propose a new logic to make launch more likely to succeed and give user control over timeouts at each stag

[2017-09-25 20:38] javierluraschi opened #1034 "`spark_apply()` could significantly improve performance for data transfer into Scala"
See https://stackoverflow.com/questions/46396736/sparklyrs-spark-apply-function-seems-to-run-on-single-executor-and-fails-on-mod/46410425#46410425

My repro, Amazon EMR cluster `1 x master: m3.xlarge`, `1 x core: m3.xlarge`:

[code]

followed by

[code]

<img width="1410" alt="screen shot 2017-09-25 at 12 56 08 pm" src="https://user-images.githubusercontent.com/3478847/30828311-18794b8c-a1f2-11e7-

[2017-09-25 20:40] javierluraschi opened #1035 "`spark_apply()` hangs for 16min when multiple executors run on same node with package distribution"
When packages are distributed, fix from `sparkly 0.6.3` to avoid deadlocks while extracting packages is causing a `16min` delay when the lock does trigger caused by incorrect wait time for the lock file to be removed.

See for instsance:

<img width="665" alt="screen shot 2017-09-25 at 1 37 38 pm" src="https://user-images.githubusercontent.com/3478847/30829896-0a7d6dba-a1f7-11e7-9763-d74fb9a0fc72.

[2017-09-25 21:32] javierluraschi commented on #1035
Resolved with https://github.com/rstudio/sparklyr/pull/1036

[2017-09-25 21:32] #1035 closed

[2017-09-26 00:41] javierluraschi commented on #1033
@samurainate thank you for this detailed write-up, two things come to mind:

1. Yes, I do agree that `sparklyr` should validate and track additional yarn states like `RUNNING`, `FAILURE`, etc.
2. Regarding timeouts, we currently have a yarn `submit timeout` and a `connect timeout`. I understand you are proposing we introduce a `resource timeout` which would allow users to wait for resources to bec

[2017-09-26 14:07] samurainate commented on #1033
Unless cancelled, the ACCEPTED application will eventually be resourced and enter RUNNING state, or fail to.  Normally, I would wait indefinitely because I have work to do and I expect eventually the application will get resources.  It's possible I might be impatient, and prefer to try again later after waiting a set period.  Since YARN allocation is an independent process from submit and connect

[2017-09-26 17:13] schlichtanders opened #1037 "TypeTag"
it seems that if I use ``invoke`` to call some scala code, e.g. to ask for a function value (defined in my custom scala package), then the ``TypeTag`` information is lost.

If I try to call ``spark_session(sc) %>% invoke("udf") %>% invoke("register", myscalafuncjobj)`` I get
[code]
However if I call a method which don't needs the TypeTag, then everything works fine.

Any ideas how to solve this? W

[2017-09-26 21:55] kevinykuo opened #1038 "Consider serializing SparseVector to sparseVector"
Something to investigate after the current `ml` functionality as been ported.

We're currently sending these to R numeric vectors, which might not be a good idea for large sparse vectors in e.g. text mining applications.

[2017-09-27 13:10] jcerquozzi opened #1039 "Failed while connecting to sparklyr to port (8880)"
# Reporting an Issue with sparklyr

---

Hi, I am triying to connect to spark but I get an error, here mi info

OS Windows 7
R 3.4.1
Rstudio 1.0.153
devtools installed

---

R version 3.4.1 (2017-06-30)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 7 x64 (build 7601) Service Pack 1

Matrix products: default

locale:
[1] LC_COLLATE=Spanish_Bolivarian Republic of Venezuela.1252  L

[2017-09-27 17:41] javierluraschi commented on #1039
@jcerquozzi could you share the `/logs` folder? Should be under your `getwd()`. I would also try connecting without manually setting any environment variables from RStudio.

[2017-09-27 18:19] jcerquozzi commented on #1039
[code]
![logs1](https://user-images.githubusercontent.com/15254802/30930114-9da2be72-a38e-11e7-8b61-7f0ac2d6a7d5.PNG)
![logs2](https://user-images.githubusercontent.com/15254802/30930113-9da0c52c-a38e-11e7-8e1e-9de85b5d2e7d.PNG)

The log4j.spark.txt is empty

[2017-09-27 18:31] javierluraschi commented on #1039
@jcerquozzi do you get the same running when running as:

[code]

Notice that I've removed all the environment variables, this is how we've usually tested/recommended running in Windows.

[2017-09-27 18:34] javierluraschi commented on #1039
@jcerquozzi notice also that when connection fails, it prints something like: `Log: C:\Users\E10161a\AppData\Local\Temp\RtmpMF8VZn\file73078027b72_spark.log`, could you check also if that log is empty?

[2017-09-27 18:49] admoseremic opened #1040 "Sparklyr substitute for "fill" function?"
Hi, wasn't sure if this is a good place for feature requests, but here goes:

The tidyr package provides a very useful function "fill" which allows you to replace NAs with values from above or below the NA value(s). For example, I have a table with values such as:

[code]

and I'd like to have it fill in those NAs to get:

[code]

Is there a workaround that would allow me to do this in conjunction

[2017-09-27 18:52] jcerquozzi commented on #1039
@javierluraschi ok I will run without defining `SPARK_HOME, HADOOP_HOME and JAVA_HOME`
[code]
Then when I am going to check the file file1e881a9538ef_spark.log it does not exits

![log3](https://user-images.githubusercontent.com/15254802/30931539-f836616e-a392-11e7-8c84-e33a3fb9bccd.PNG)

[2017-09-27 18:59] javierluraschi commented on #1039
@jcerquozzi Is the log file still empty if you retry without the `config = list(sparklyr.log.console = TRUE)` entry? Do you have a firewall? Can you temporarily disable it?

[2017-09-27 19:11] jcerquozzi commented on #1039
@javierluraschi without `config = list(sparklyr.log.console = TRUE)`
[code]
Then I go to the file file1e884b893541_spark.log and it is there

![log4](https://user-images.githubusercontent.com/15254802/30932510-b170b77c-a395-11e7-832a-a07cf95590b7.PNG)
[code]
---
This PC is from my work, so yes it must have firewall, maybe more than one, but I cant disable it

[2017-09-27 19:55] javierluraschi commented on #1039
@jcerquozzi The log from the comment above does point out that the connection might be failing due to network communication being blocked. If you could try turning off the firewall temporarily, we would validate this is indeed the issue. Being that the case, you could try giving the right permissions to `rsession.exe` in your firewall software, let me know how that goes.

[2017-09-27 20:22] jcerquozzi commented on #1039
@javierluraschi They told me is imposible to disable the firewall

[2017-09-27 21:16] javierluraschi commented on #1039
@jcerquozzi could you look into your firewall software and see if any logs there mention why the connection is being blocked? Would be fair to expect from a firewall product to give a detailed description of why ports are being blocked. Anything you can get from the application?

[2017-09-27 21:20] javierluraschi commented on #1039
@jcerquozzi can you add inbound port rules to the firewall? If that's the case, add a rule for port `8880`.

[2017-09-28 02:50] 3zhang opened #1042 "An error probably caused by dplyr::rename_vars"
Try the following sciprt:
[code]
Error message:
[code]
You can also reproduce the error by:
[code]

The problem is probably caused by dplyr::rename_vars:
[code]
`match(old_vars, vars)` may generate a vector containing NAs, which cannot be used for index in subsassignment.

I think the author meant this instead:
[code]

If we can confirm that this is the root cause, then we can inform the dplyr aut

[2017-09-28 09:59] ElianoMarques opened #1043 "error with java VM on rstudio-server affecting sparklyr"
Hi team,

I've seen a lot of noise around the below error:

Script used:
[code]

Error:
[code]

So that you are aware, I'm on a cluster on centos using RStudio Server, Version 1.0.153. After going through the several errors issues and stackoverflow questions I realised this might be something related to Java given the following command also returned a weird error:

[code]

What was very interestin

[2017-09-28 18:02] javierluraschi commented on #1043
@ElianoMarques Take a look at `/etc/rstudio/profiles`, is it perhaps that the `max-memory-mb` is being set? See https://s3.amazonaws.com/rstudio-server/rstudio-server-pro-0.98.507-admin-guide.pdf

BTW. If you are using our pro products, support would be able to give you fast response rates on this RStudio server issue since it's most likely, a RStudio server configuration issue.

[2017-09-28 18:08] javierluraschi commented on #1037
@schlichtanders How does `myscalafuncjobj` look like? Would be great if you could provide the scala signature for us to reproduce this.

BTW. In case it helps, there is a sample https://github.com/javierluraschi/sparklyudf project.

[2017-09-28 18:24] javierluraschi commented on #1040
@admoseremic I would try using `dplyr::cummax`:

[code]

[code]

Notice that without a `row_num` field, you could add this with `thing_tbl %>% sdf_with_sequential_id() `.

[2017-09-28 18:34] javierluraschi commented on #1042
@3zhang thanks you, I've ported this issue to `dplyr` under https://github.com/tidyverse/dplyr/issues/3129, closing this one.

[2017-09-28 18:34] #1042 closed

[2017-09-28 18:53] javierluraschi commented on #941
https://github.com/rstudio/sparklyr/pull/1041 makes data collection improvements over dates and timestamps.

[2017-09-28 22:57] admoseremic commented on #1040
Ah, great suggestion - although I really need the "1" value to be included with the 3 initial NA values, hence the ".direction=up" I had in the fill call above. Does that make sense?

[2017-09-29 00:06] AngryR11 opened #1046 "spark_write_json not working"
So I am trying to convert a spark table to a json file, by using the command spark_write_json(), but it's not working, as depicted below.

[code]
This process also created a folder on my cluster account named "Word_by_Word_Eletronics2.json" that I am not allowed to delete! When I do the same thing on my own computer, it just gets supper slow, so I hv to abort the process. This dataset is not that

[2017-09-29 00:25] javierluraschi commented on #941
https://github.com/rstudio/sparklyr/pull/1045 makes data collection improvements over fields with `NA`s.

[2017-09-29 01:13] AngryR11 commented on #1046
It worked when I used spark_write_csv, instead. I guess the json format was not a very efficient format to store the type of data that I was trying to save. I also had to apply sdf_coalesce() to my spark table in order to guarantee that the data is saved into a single file.

[2017-09-29 01:13] #1046 closed

[2017-09-29 01:14] admoseremic commented on #1040
Using lag get's me close enough I think - I just added:

`mutate(values = cummax(ifelse(is.na(lag(values)), 0, lag(values))))`

which gave me:
`# Source:     lazy query [?? x 2]
# Database:   spark_connection
# Ordered by: row_num
   row_num values
     <int>  <dbl>
 1       1      0
 2       2      0
 3       3      0
 4       4      0
 5       5      1
 6       6      1
 7       7      1
 8

[2017-09-29 01:14] #1040 closed

[2017-09-29 16:09] hlendway opened #1047 "sdf_pivot returning NaN's and no is.nan function to mutate and replace"
Hello.  I saw this old issue: [https://github.com/rstudio/sparklyr/issues/127 ](url) talking about checking for na's and filtering/mutating/replacing them but I can't find a way to check for is.nan and replace those.  I'm doing an sdf_pivot and it fills in blanks with NaN.  I then need to summarise and I can't with NaN's everywhere.  Is there a way to check for is.nan in sparklyr or a way to fill

[2017-09-29 18:23] josbenco opened #1049 "User Defined Functions with mutate (dplyr)"
Hi sparklyr team!

I would like to run a the following User Defined Function (UDF) called day_extract_num on mutate (dplyr), however I have the following problem. Thank you very much for your attention!

Best regards, José.

#########
#THE CODE:
#loading required libraries
library(sparklyr)
library(dplyr)
library(lubridate)

#defining the UDF called day_extract_num
day_extract_num<-function (fecha

[2017-09-29 19:16] FavioVazquez opened #1050 "Improve sample_n error comment for Spark < 2.x"
We noticed that with Spark < 2.x the function sdf_sample will work. So this could be a more useful suggestion for the user.

[code]

It returns a table with 0 registers.

So we used sdf_sample() and it worked.

Blame @jared275.

The PR that solves this is: #1048.

utils::sessionInfo() (Most of it is private)

R version 3.3.2 (2016-10-31) Platform: x86_64-redhat-linux-gnu (64-bit) Running under: Re

[2017-09-29 19:51] nielsenmarkus11 commented on #916
I'm having a similar issue. @javierluraschi , you mentioned that it may be downloading something... if so, could it be that it can't get past my proxy?

[2017-09-29 21:15] ElianoMarques commented on #1043
Hi, thanks we believe we have solve the issues upgrading the memory settings of rstudio, at least this error is no longer showing. Thank you for your hint and i hope this is helpful for the others.

[2017-09-30 15:47] JohnMount commented on #1026
I've [knitted an example](https://github.com/WinVector/BigDataRStrata2017/blob/master/extras/ComputeIssue/ComputeIssue.md).  I still think `compute()` breaks `dplyr` expectations by failing on long calculations that have trivial data.

[2017-10-02 00:03] admoseremic opened #1051 "first() and last() functions not working"
I'm trying to get the first and last functions from dplyr working with sparklyr, but I'm getting some weird behavior. As an example, normal dplyr allows me to do the following:

[code]

Then, when I run the following code I get:

[code]

This is just what I want. However, when running this in sparklyr, this is what I get:

[code]

Why is it filling the columns with the text 'row_num'?

Any help is

[2017-10-02 13:12] jcerquozzi commented on #1039
The port 8880 is free, the firewall doesn´t block it

[2017-10-02 16:15] javierluraschi opened #1052 "UDFs in dplyr"
See:
- https://github.com/rstudio/sparklyr/issues/1049
- https://github.com/rstudio/sparklyr/issues/1178

[2017-10-02 16:18] javierluraschi commented on #1049
@josbenco this is currently unsupported, UDFs used in `dplyr` need to be: HIVE UDFs or UDFs registered in scala. However, we would like to support R UDFs at some point, work being tracked with: https://github.com/rstudio/sparklyr/issues/1049

In the meantime, you could consider using `spark_apply()` as in:

[code]

[2017-10-02 16:19] javierluraschi commented on #1049
Closing this one as this is a feature request being tracked under #1049.

[2017-10-02 16:19] #1049 closed

[2017-10-02 16:24] javierluraschi commented on #1039
@jcerquozzi you could try to adjust the following parameter while connecting, since systems might not have `localhost` defined:

[code]

I would also check you network card and use whichever IP is current (as in `sparklyr.gateway.address = "your-ip-address"`, or IPv6 loopback (as in `sparklyr.gateway.address = "::1"`).

[2017-10-02 18:20] jcerquozzi commented on #1039
@javierluraschi getting the same error

       master = "local",
       version = "2.2.0",
       config = list(sparklyr.gateway.address = "127.0.0.1")
 )
Error in file(con, "r") : cannot open the connection
In addition: Warning message:
In file(con, "r") :
  cannot open file 'C:\Users\E10161a\AppData\Local\Temp\RtmpC2kYqc\file1e8875f119d5_spark.log': Permission denied

With mi IP adress

       m

[2017-10-02 18:52] JakeRuss commented on #941
It looks like `spark_read_jdbc()` is reading in date types correctly now. Will comment once I'm able to test `spark_write_jdbc()`.

Is it expected behavior for TINYINT (a field of 0s and 1s) to be read in as logical?

[2017-10-03 06:14] javierluraschi commented on #948
We will probably need something like:
- [SparkStatusTracker](https://spark.apache.org/docs/latest/api/scala/index.html#org.apache.spark.SparkContext@statusTracker:org.apache.spark.SparkStatusTracker)
- [Support to flush connections](https://github.com/rstudio/sparklyr/commit/25a30576858572854df522b1f5d9b1d7eff16ccf)

Currently, `sparklyr` waits for the server to respond, when a connection gets int

[2017-10-03 15:04] leosouzadias opened #1054 "Not able to connect to HTTPS_ONLY using yarn-cluster"
### Not able to connect to HTTPS_ONLY using yarn-cluster
Our Hadoop Cluster has Kerberos, HA and SSL enabled. When we are trying to use yarn-cluster to deploy driver on Yarn, we are getting the following message.

[code]

Even thought our cluster has SSL enabled and the property yarn.http.policy set to "HTTPS_ONLY", sparklyr is still trying to connect to no-SSL ports (8088) with protocol HTTP. Our

[2017-10-03 17:56] josbenco commented on #1049
Many thanks!

[2017-10-04 09:55] schlichtanders commented on #1037
as far as I thought, I expect this to happen for all functions wrapped in a jobj on R side - or can you provide an example which works as expected?

On Scala side, I can replicate this kind of error by making an ad-hoc function wrapper which forgets the ``TypeTag`` information (I actually don't know why this forgets the TypeTag information but it apparently does)
[code]
If you now try to register

[2017-10-04 13:27] JohnMount commented on #992
I now have a `reprex`:

[code]

[2017-10-04 14:09] JohnMount opened #1055 "spark_write_table(mode = 'overwrite') loses original table definition (SerDe, storage details and so on)"
spark_write_table(mode = 'overwrite') loses original table definition (SerDe, storage details and so on).  I had assumed overwrite only overwrote values, so maybe a fix if this is not intended behavior, or a bit more detail in documentation if this is intended behavior.

Here is the example from [`sparklyr` issue 992](https://github.com/rstudio/sparklyr/issues/992#issuecomment-334154664) showing t

[2017-10-04 15:17] AkhilNairAmey opened #1056 "DST error on datetimes when reading from Cassandra into Sparklyr"
When reading a date from Cassandra into spark using `sparklyr_0.7.0-9035` (current version of master), DST (I assume) pushes the date back by one day.  This can prove costly if things end up being partitioned wrongly because of it.

This is not a problem on the current CRAN version of `sparklyr`

[code]

### Reproducible example

Set up keyspace and table in Cassandra
[code]

[code]

Resulting in

[2017-10-04 20:46] javierluraschi commented on #266
@rvij see https://github.com/rstudio/rstudio/issues/1549, will close this one since this is now tracked under the RStudio repo.

[2017-10-04 20:46] #266 closed

[2017-10-05 12:00] schlichtanders opened #1057 "import collection.JavaConverters._"
Dear sparklyr team,

what would be one way to execute an import statement like `import collection.JavaConverters._` within the spark connection scala session?

That would be really helpful when working with implicits.
best,
Stephan

[2017-10-05 12:07] schlichtanders commented on #1057
I am sorry, this seems to be a wrong directed issue, rather I like to ask why a R environment is passed as a ``java.util.Map`` and not a ``scala.collections.mutable.Map`` (or even a scala immutable Map)?

[2017-10-05 12:09] #1057 closed

[2017-10-05 12:16] schlichtanders opened #1058 "Conversion between R and Scala"
Dear sparklyr team,

according to some tries and errors on my side, I found out that
- a ``scala Map`` seems to be well translateable to a ``R named list``
- however a ``R named list`` will be translated to an java Array which is recognized as ``scala Seq`` of respective Type, i.e. it looses its name information
- a ``R environment`` in fact gets translated to ``java Map``, which however unfortuna

[2017-10-05 12:18] schlichtanders commented on #1057
sorry for the confusion, I opened #1058 now as a more appropriate issue

[2017-10-05 17:38] tarunparmar opened #1059 "Read RDS or RData using SparklyR"
Hi,

I did not notice any specific function to read RDS or RData files using SparklyR.
Not sure if it is possible at all.

I am trying to look for something similar to `spark_read_csv()`

[2017-10-05 19:42] javierluraschi commented on #1056
@AkhilNairAmey Do you happen to know if this is also a problem if you insert the data directly in Cassandra?

[2017-10-05 19:45] javierluraschi commented on #1059
@tarunparmar there is no support for this yet. Is the data distributed?
- No: You could try loading it in R and copy it using `copy_to`
- Yes: You try to use `spark_apply()` to read each RDS over the distributed files.

[2017-10-05 19:47] AkhilNairAmey commented on #1056
I don't off the bat, I can check in a couple hours.

[2017-10-05 19:56] javierluraschi commented on #1058
For (2), we could make a change in [here](https://github.com/rstudio/sparklyr/blob/master/java/spark-1.5.2/serializer.scala#L178-L188); that said, that change would be risky and could change users code. A safer approach would be to introduce something like `ensure_scala_map()` and `ensure_java_map()`.

(1) would also be risky to change, but rather, might be better to encourage users to use `as.env

[2017-10-05 20:02] tarunparmar commented on #1059
Hi @javierluraschi , the data is on a shared drive and each rds file is quite large.
I will try `spark_apply`.

[2017-10-06 11:06] AkhilNairAmey commented on #1056
@javierluraschi Still a problem when inserting data directly into Cassandra

[2017-10-06 17:25] schlichtanders commented on #1024
that sounds really good!, thank you a lot

[2017-10-06 17:40] schlichtanders commented on #1058
Thanks for you comments,
for (2) definitely ``ensure_scala_map()`` and ``ensure_java_map()`` are totally sufficient. (This already exists [on scala side](https://docs.scala-lang.org/overviews/collections/conversions-between-java-and-scala-collections.html), and I am using it to circumvent the odd behaviour). No functionality is missing at all. It is just that it seems unexpected. Sparklyr seems fo

[2017-10-07 15:59] huanfachen commented on #295
Hi, I am using sparkly 0.7.0-9035, and encountered the problem of _cannot open file 'log4j.spark.log': No such file or directory_, when I called `spark_web(sc)`.

I am using R 3.3.3, RStudio 1.0.136, on 64-bit Windows 7.

Below is the details of sc. Please let me know if other information is needed. Thanks!

$master
[1] "local[8]"

$method
[1] "shell"

$app_name
[1] "sparklyr"

$config
$config$spa

[2017-10-08 13:07] meztez opened #1060 "cannot open file 'log4j.spark.log': No such file or directory"
When trying to open SparkUI/Logs from RstudioIDE on windows I get the cannot open file 'log4j.spark.log': No such file or directory.

Spark is working fine, I can open it in browser, also logs are working fine, available under logs/log4j.spark.log in the working directory.

What I don't get is the following code for the method spark_log

A single object matching ‘spark_log.spark_connection’ was fo

[2017-10-09 18:28] Jiang-Li opened #1062 "Dynamic column names"
In dplyr, the column name can be represented by a variable. For example, if I want to replace the value less than 0.5 as 0:

[code]

I cannot do this in sparklyr. Error: org.apache.spark.sql.catalyst.parser.ParseException was reported.
[code]

Any suggestions?

Here is my system information:

R version 3.4.1 (2017-06-30)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 7 x64 (build

[2017-10-10 15:11] JohnMount commented on #1062
Roughly `.[[var]]` is a column of values, but what `dplyr` needs for `spark` is the name of the column as a symbol (not as values).  With in-memory systems, values and names are fairly interchangeable.  But with `Spark`/`Sparklyr` the distinction is a bit stronger.  The other issue is for the value parts the short-cut of using a string as a symbol for `!!` fails, and you have to use a symbol (as I

[2017-10-10 15:52] Jiang-Li commented on #1062
Thanks! I got the same results on my side. However, the assignment of value is still not correct; i.e. the number less than 0.5 should be 0.

[2017-10-10 16:11] samurainate opened #1063 "sdf_pivot returning AnalysisException due to ambiguous column name"
I am trying to pivot a table with sdf_pivot.  It has worked before, but now I am running into an analysis exception from catalyst over an ambiguous column name.  Two things are different: I had to raise spark.sql.pivotMaxValues to accommodate a larger vocabulary, and I changed the metric that I am summing in the pivot from one numeric column to another.  Maybe different code triggered by the large

[2017-10-10 16:29] kevinykuo commented on #1062
Another repro:

[code]

@lionel- do you know if this relates to an existing issue? we can file one in dplyr if not.

[2017-10-10 16:33] JohnMount commented on #1062
I got so caught up in the `rlang` stuff I failed to notice the second version did not work.

[2017-10-10 16:34] lionel- commented on #1062
There are two problems here:

[code]

- You are trying to compare a string to a number with `<`. What you want is to compare the column values, so you should unquote a symbol that will evaluate to the column rather than a string.

- `!` has low precedence so it will capture almost everything on its right-hand side. You need to use parentheses to adjust for operator precedence:

[code]

Or use pref

[2017-10-10 16:40] kevinykuo commented on #1062
Thanks @lionel- !

This seems to work

[code]

@Jiang-Li

[2017-10-10 16:41] lionel- commented on #1062
Great!

To debug this kind of issue it's helpful to wrap the whole statement with `expr()`. This way you can look at the result of unquoting:

[code]

[2017-10-10 16:47] JohnMount commented on #1062
Yes here is my re-run without the forgetting the parens bug:

[code]

Also notice the bug that the remote table is saying "with more rows" when it has displayed all 10 out of 10 rows.

[2017-10-10 17:44] #1060 closed

[2017-10-10 17:51] samurainate opened #1066 "spark_read_table fails when table prefixed with db name"
`spark_read_table(sc,"db_name.table_name") `throws an AnalysisException (below)

`tbl_change_db(sc,"db_name"); spark_read_table(sc,"db_name.table_name")` succeeds.

The table was written with `spark_write_table(sdf,"db_name.tbl_name")` originally.

I would expect spark_read_table to handle db prefixes gracefully as spark_write_table.

# Error
[code]

[2017-10-10 19:19] Jiang-Li commented on #1062
Cool! Thank you all!

[2017-10-10 19:19] #1062 closed

[2017-10-11 15:55] kevinykuo commented on #690
Working on this right now (it happens to be blocking the ALS implementation in https://github.com/rstudio/sparklyr/issues/944).

I'm proposing that, when `into` is not specified, we take the extracted column names from the `StructType`, as opposed to the default behavior of vector and array types which use `colname_N`. So in @niketdoshi's example we would have

[code]

Will include this feature wi

[2017-10-11 22:39] mike-vogel opened #1067 "Documentation on how to use spark_write_jdbc to connect to MySql"
I get the following exception when calling spark_write_jdbc

Error: java.sql.SQLException: No suitable driver
at java.sql.DriverManager.getDriver(DriverManager.java:315)

I put the .jar file in a folder on the server where RStudio is running, config details below. We're able to access MySql via the RMySql package.

---
config$`spark.sparklyr.shell.driver-class-path` <- "/dev/shm/temp/mysql-connect

[2017-10-12 03:01] ianmcook commented on #973
Code to work around this issue:

[code]

[2017-10-12 10:09] schlichtanders commented on #1058
can someone explain why the current version explicitly converts to a Java Map?

[2017-10-12 10:16] schlichtanders opened #1068 "FeatureRequest: invoke with named arguments"
Motivation: It would be really awesome to switch more seamlessly between R and scala.
Current Limitation: The current implementation of invoke does not support named arguments to be passed to scala.

I am not sure, whether this is easily possible, however I spotted the internal method dealing with the arguments (args here is indeed a named list, however the names are not used)
[code]

[2017-10-12 13:41] schlichtanders opened #1069 "scala methods with default arguments"
just tested interfacing my first scala method with default arguments
[code]
it seems that I can only call `f(1,2)` via `invoke_static(sc, "fullpackagename.f", 1, 2)` from sparklyr while `f(1)` throws `Error: java.lang.Exception: No matched method found for class`

Is this a known limitation?

[2017-10-12 14:00] schlichtanders commented on #1069
if I additionally supply the method without default arguments, R can recognize it
[code]

[2017-10-12 15:22] schlichtanders commented on #1058
The conversion to java.util.Map is now becoming more crucial as there are issues with scala-java converters and Serializability, which is only fixed for Scala 2.12 https://issues.scala-lang.org/browse/SI-8911

furthermore I realiazed that it is not possible to write a wrapper on R site which guarantees a scala map, as this is immediately back converted to a named_list...

the current workaround se

[2017-10-12 21:09] YoNoFui opened #1070 "ml_save and ml_load fail HDFS Error"
We've encountered an error in the loading and saving methods for ML.

[code]

returns:

[code]

We will create a PR with a possible solution.

Related: #336.

Blame: @faviovazquez.

utils::sessionInfo() (Most of it is private)

R version 3.3.2 (2016-10-31) Platform: x86_64-redhat-linux-gnu (64-bit) Running under: Red Hat Enterprise Linux Server release 6.8 (Santiago)

tidyr_0.4.1 dplyr_0.5.0 DBI_0

[2017-10-12 22:26] russellpierce commented on #948
@javierluraschi It seems like closing the connection that is in a bad state and reopening it is sufficient to allow one to resume working on Spark.  As a stop gap, is there a way to detect that the connection has gone into a bad state / could we build one?  It seems clear something in printing a spark context in this state creates an error, but it just prints to console rather than showing up as a

[2017-10-13 06:14] AlexYoung757 commented on #600
@javierluraschi thank you for your help , i have solved this problem.

[2017-10-13 06:22] AlexYoung757 commented on #600
@javierluraschi thanks for your help , i have solved this problem. i find that if we download the hadoop from rstudio , the "winutils.exe" file will miss. so  you should add the "winutils" that fit for same version of hadoop

[2017-10-16 08:19] sean-in-korea commented on #997
@javierluraschi I checked the final configuration with my Spark cluster, but it did not work for me. I re-installed sparklyr with the following R command:
[code]

[2017-10-16 20:49] javierluraschi commented on #1026
@MZLABS Could you explain why we need to execute `compute()` over a loop? My guess is that there might be a better approach here since this is a pattern I don't see used in Spark, it would be equivalent to running something in Scala like:

[code]

While possible, for large values, this would not be an approach I would recommend in Spark since the loop will cause the lineage of the final rdd to hav

[2017-10-16 21:02] javierluraschi commented on #1026
@JohnMount Regarding the attached markdown reference, I don't believe knitting this is trivial in Spark since we have this loop:

[code]

For `100`, Spark will create a graph of at-least 100 nodes (probably much bigger than that since this would be a best-case scenario), which is not a trivial cluster execution task even if the data is trivial.

It was not until Spark 2.0 that I start seeing fixes

[2017-10-17 00:29] MZLABS commented on #1026
@JohnMount / @MZLABS here.  The `compute()` was an attempt to try to prevent failure on the very many `mutates()`.  The loop is just modeling I have a client code sequence that is a huge number of mutates and this dies.  I assumed it would die without the `compute()` (that the `compute()` isn't causing the problem, just failing to fix it).  The issue is "large graphs" is indeed a silly thing for a

[2017-10-17 16:32] huguetpj commented on #997
@sean-in-korea which sparklyR version got installed with that command? You should use:
`devtools::install_github("rstudio/sparklyr")`

Latest version should be:
`sparklyr   * 0.7.0-9035 2017-10-12 Github (rstudio/sparklyr@8510eef)`

[2017-10-17 20:33] javierluraschi commented on #1026
@MZLABS @JohnMount thanks, this gives us better understanding but I still have some questions: Are the 90+ select calculations independent of each other? If they are, we should be able to talk about one issue at the time to troubleshoot why they fail on Spark. If there are dependencies, how are they depending between them?  Is it that some select statements in the DB  system use views? Do you know

[2017-10-17 21:27] efh0888 commented on #196
So any update on this?

[2017-10-17 21:28] dwy904 commented on #196
I switched to h2o.

On Tue, Oct 17, 2017 at 5:27 PM Eric Hopkins <notifications@github.com>
wrote:

[2017-10-17 21:29] efh0888 commented on #944
So any update on this (#196)?

[2017-10-17 21:37] kevinykuo commented on #196
@efh0888 Yes, this is on the roadmap for `0.7` and I should have something ready for testing in the next couple weeks. Will update/reopen this issue and ping the folks here.

[2017-10-17 21:37] kevinykuo commented on #944
@efh0888 see the reply at https://github.com/rstudio/sparklyr/issues/196. Thanks!

[2017-10-18 03:43] sean-in-korea commented on #997
@huguetpj I tried to install the new 'sparklyr' with the given function.
[code]

[2017-10-18 04:21] 001ben opened #1074 "Is the default quote character really "hdfs://" ?"
https://github.com/rstudio/sparklyr/blob/39ba4bece65edc311e4dfe8c8a24ce883824f7ff/docs/reference/spark_write_csv.html#L185

See referenced line, but i believe csv's are generally not quoted with the string literal "hdfs://"

[2017-10-18 04:25] 001ben opened #1075 "Hyperlinks to functions not working"
Links to the functions on the dplyr guides page are not working:

https://github.com/rstudio/sparklyr/blob/39ba4bece65edc311e4dfe8c8a24ce883824f7ff/docs/articles/guides-dplyr.html#L163

See page here:
https://spark.rstudio.com/articles/guides-dplyr.html

[2017-10-18 14:13] efh0888 commented on #196
Sounds good.

I haven't found much documentation on how the algorithms currently choose values for the hyperparameters, e.g. mtry in random forests?   I could construct the k-fold cv process myself if there's a way to provide these parameter values as inputs.

[2017-10-18 14:15] dwy904 commented on #196
Yes, there is a way to do parameter tuning by writing for loops.  I hope this
<https://github.com/dwy904/Tips_Prediction_NYC_Green_Taxi>can help.

On Wed, Oct 18, 2017 at 10:13 AM Eric Hopkins <notifications@github.com>
wrote:

[2017-10-18 14:50] schlichtanders opened #1076 "import custom implicits"
is there currently a way to import implicits from a custom scala object?

if not, that would be a really useful feature

[2017-10-18 15:06] efh0888 commented on #196
Nice.  I'm constructing something similar but trying to keep the data in spark.

Using ml_random_forest, as in the example, we'd only be able to tune parameters made explicitly available as inputs like max.bins, max.depth, and num.trees, but nothing else such as mtry -- @kevinykuo is that right?  Or is it possible to pass in other parameters, perhaps through ml_options()?

[2017-10-18 15:13] kevinykuo commented on #196
@efh0888 you can probably hack something together via but I'd recommend holding off for now. The improved sparklyr ML API will have support for all hyperparameters (so no need for `ml_options()`) and you'll be able to tune parameters for multiple pipeline transformers simultaneously. Basically we'll expose [this](https://spark.apache.org/docs/latest/ml-tuning.html#cross-validation) API.

[2017-10-18 15:14] JohnMount commented on #1026
In one instance the calculations are as follows: an R function that performs a number of mutates (20, 7, or 2 depending on how much we polish the code) is called.     This function takes in about 6 columns and adds 3 columns to the data.  The data we are working with is 600 columns by 16 million rows on Spark (Hive back-end).  What kills us is applying this function 30 times (so appending 90 more

[2017-10-18 15:26] dwy904 commented on #196
Hi,

I have not used sparklyr for a while since I have switched to h2o. I am
wondering if someone can discuss the advantages and disadvantages between
sparklyr and h2o in details?

Best,
Michael

On Wed, Oct 18, 2017 at 11:13 AM Kevin Kuo <notifications@github.com> wrote:

[2017-10-18 16:21] huguetpj commented on #997
@sean-in-korea we are running the same version then. Have you checked the error logs under `http://bda1node04.kr.oracle.com:8088/proxy/application_1506317550811_0013/`?

[2017-10-19 05:04] sean-in-korea commented on #997
@huguetpj I attached the screenshot from the given URL. See below:
![image](https://user-images.githubusercontent.com/29832828/31754946-06a6d4be-b4d6-11e7-9f20-f4a1f7d0714e.png)

The following log is obtained from the first running Hadoop node:
[code]

[2017-10-19 14:27] efh0888 commented on #196
@kevinykuo thanks for the info.  In that case, I'll probably stick with other frameworks like caret for the time being.

@dwy904 unfortunately, we don't have access to h2o in our current development environment...

[2017-10-19 16:48] jadermcs opened #1077 "Why the head() function is so slow for large datasets?"
When I run things like:

[code]
takes 7minutes~, as I just need the first n rows, why this takes so long?

[2017-10-19 18:12] kevinykuo commented on #1077
Try setting `infer_schema = FALSE` when reading in the csv

[2017-10-20 02:13] yissylevi opened #1080 "when more cores used Spark (Sparklyr) error to many files open"
---

I am using the following configuration on Sparklyr in local mode:
[code]
This works fine when I read in a csv using spark_read_csv. However when I used more cores such as
[code]

I increased ulimit to 419430 from 1040 (both soft and hard) and this made no difference.

My VM has **128 cores and 2T** of memory and I'd like to be able to use all of it.

Any suggestions?

[2017-10-23 13:56] geoHeil opened #1082 "structured streaming support"
Spark now supports structured streaming in sparkR as outlined https://spark.apache.org/docs/latest/structured-streaming-programming-guide.html when you select a code snippet with R code.

When will sparklyR support this as well?

[2017-10-23 14:01] geoHeil commented on #1080
you need to configure more file descriptors. https://www.google.at/search?client=safari&rls=en&q=too+many+open+files&ie=UTF-8&oe=UTF-8&gfe_rd=cr&dcr=0&ei=H_btWZ26OsXPXvi2jZAN

[2017-10-23 15:02] huguetpj commented on #997
@sean-in-korea sorry I cannot be of more help. Javier is probably not following up on this issue since it's marked as closed. I think you'll have to open a new one or reach out to him on gitter.
gitter.im/rstudio/sparklyr

[2017-10-24 01:09] sean-in-korea opened #1083 "Cannot connect to 'kerbenized' Spark cluster with the latest sparklyr"
I am creating this thread again since the previous one was already closed. I am still experiencing the same issue that the latest sparklyr cannot connect to the Spark cluster with 6 nodes.

[code]

[2017-10-24 15:01] mwolfe07 opened #1085 "R session crashes after trying to use spark_connect for the first time"
# Reporting an Issue with sparklyr

I'm having issues trying to connect using sparklyr - have _just_ installed it.

[code]
Ive had a few errors I worked through like my dplyr version not being up to date, and something about not having java on my machine. So I downloaded the most recent version of java, and updated my packages. I'm receiving the following error still:

[code]

I've tried calling a

[2017-10-24 20:33] tKozDrivin opened #1088 "ml_load on a cluster"
We are having issues loading a model into out spark cluster. The model was trained using sparklyr and saved using a function ml_save
ml_save(model, file = "home/cluster/model")

After saving we would like to load this model for predictions but we keep getting the error below.
model <- ml_load(sc, file = "home/cluster/model")
Error in gzfile(file, "rb") : cannot open the connection
In addition: War

[2017-10-24 20:41] kevinykuo commented on #1088
Hey @tKozDrivin thanks for the report! This should become much easier once https://github.com/rstudio/sparklyr/issues/944 is addressed over the next few days.

[2017-10-24 20:48] tKozDrivin commented on #1088
Got it thanks. Any workarounds currently for this? Or any current docs that will let us know what will be developed as part of 944?

[2017-10-24 20:53] kevinykuo commented on #1088
The PR is currently brewing here: https://github.com/rstudio/sparklyr/pull/1079

Feel free to check it out before it's merged. For model persistence we're enabling the saving and loading of pipeline models which will be able to interop with the Scala and PySpark API. Docs are scarce at the moment but more will be coming. I'd recommend looking at the unit tests for some examples.

[2017-10-24 21:00] tKozDrivin commented on #1088
Cool thanks. So this will enable us to build the model using Sparklyr somewhere else and save using ml_save and deploy in production on a cluster using ml_load? Will all mlib algorithms be supported?

[2017-10-24 21:07] kevinykuo commented on #1088
That's correct. All supervised learning and clustering algorithms and ALS and most feature transformers will be implemented at the first iteration. We also plan to have FP-growth and the rest of the feature transformers supported prior to the 0.7 release.

[2017-10-24 21:09] tKozDrivin commented on #1088
Awesome. Thanks for the great work guys!!!

[2017-10-24 21:41] javierluraschi commented on #1085
@mwolfe07 could you please share your `sessionInfo()`? Thanks.

[2017-10-24 21:42] javierluraschi commented on #1074
@001ben not correct needs docs update.

[2017-10-25 14:25] mwolfe07 commented on #1085
@javierluraschi

I've updated the sessionInfo() below. Thanks!

[code]

[2017-10-25 20:05] #690 closed

[2017-10-26 02:11] kevinykuo commented on #1088
@tKozDrivin the PR has been merged. Could you try giving save/load a shot in the cluster environment?

[2017-10-26 02:14] kevinykuo commented on #196
Cross validation is now supported in devel. See https://github.com/rstudio/sparklyr/blob/master/tests/testthat/test-ml-tuning.R#L60-L85 for example usage.

[2017-10-26 02:17] kevinykuo commented on #212
@dwy904 we now have better support for saving/loading models. This should help with deploying models in "batch" mode. If you're looking to making real-time predictions (e.g. POST a row of data and get a prediction back) that's something Spark doesn't support natively but we're looking into making that easier for R users.

[2017-10-26 02:19] kevinykuo commented on #336
@krisgeus @verty-1 @rexhu100 FYI the devel version now has better support for saving/loading models, if you run into issues please feel free to open a new issue.

[2017-10-26 02:19] kevinykuo commented on #1070
@YoNoFui This should work better now in devel. Could you give it a try?

[2017-10-26 02:25] kevinykuo commented on #907
@JohnMount @MZLABS we provide more reasonable prediction outputs for classification models now (for `ml_model`), feel free to open another issue if you run into further issues.

[code]

[2017-10-26 02:27] kevinykuo commented on #928
We have better support for this now in devel:

[code]

[2017-10-26 02:37] kevinykuo commented on #605
@mikhailBalyasin Here's the behavior in the new API
[code]

There's also a `labels` argument in `ft_index_to_string()` so one can do this more "manually" while building pipelines from scratch, but getting the metadata might be slightly tricky, perhaps we'll implement functions to make that easier later.

[2017-10-26 02:40] kevinykuo commented on #593
@chezou this has been implemented in devel:

[code]

[2017-10-26 02:41] chezou commented on #593
@kevinykuo Great job! Thanks for your efforts. Will try it 😄

[2017-10-26 02:49] kevinykuo commented on #692
@celina-oliv string indexing and one-hot encoding should be taken care of automatically when you call `ml_linear_regression()` if the column is a character (you may have to do something like `mutate(bf_fe, cnae2 = as.character(cnae2))`. The reference level is chosen by Spark (to be the most populated level) and there's no way to change it as of Spark 2.2.

[2017-10-26 02:54] kevinykuo commented on #101
Closing this as wontfix since it's a Spark limitation and I'd rather not add features that won't be compatible with pipelines. Hopefully this isn't too big of an issue (e.g. one can always recompute relativities for GLMs after getting the fitted results.)

[2017-10-26 02:54] #101 closed

[2017-10-26 02:54] kevinykuo commented on #986
Implemented in devel, see `?ml_bisecting_kmeans()`

[2017-10-26 03:01] kevinykuo commented on #622
Well not sure if the refactoring helped, but I'm clocking at around 10s for GBT and 3s for RF now...

Note that RF is supposed to run faster since gradient boosting is sequential. Like @chezou mentioned these benchmarks would be more meaningful with bigger data.

[code]

[2017-10-26 03:02] kevinykuo commented on #554
This has been implemented in devel. We now use Spark's `RFormula` interface. https://spark.apache.org/docs/latest/api/scala/index.html#org.apache.spark.ml.feature.RFormula

[2017-10-26 03:02] #554 closed

[2017-10-26 08:29] englianhu commented on #1028
Solved with modify the path https://d.cosx.org/d/419485-sparklyr-spark-2-1-0

[2017-10-26 08:29] #1028 closed

[2017-10-26 13:14] randomgambit opened #1089 "how to read XML files with Sparklyr?"
Hello everyone!

I see there is `spark_json`, `spark_csv` and `spark_parquet`... but what about `XML` files? Is there a native way to load them while using `Sparklyr`? My workflow is written in `Sparklyr` but now I need to load large XML files as well..

Any ideas? Many thanks!!

[2017-10-26 13:55] dwy904 commented on #765
Thank you so much.

[2017-10-26 14:51] linkwithkk opened #1090 "Not able to connect to spark deployed in yarn client mode"
OS - RHEL 7.3
R version 3.4.1
spark_version <- "1.6.2"
sc<-spark_connect(master="yarn-client",version = "1.6.2", config=config )

I'm trying to create a spark connection but i get an error as shown below
![issuegt](https://user-images.githubusercontent.com/29814667/32059802-cfc8f980-ba8a-11e7-9093-b76b36a9133e.PNG)

I have tried passing config libs, have verified my services are running and spark

[2017-10-26 15:07] kevinykuo commented on #1089
There's no native parser in Spark but there's a package for it: https://github.com/databricks/spark-xml

[2017-10-26 16:03] JakeRuss opened #1091 "Pull data from remote Cassandra database with sparklyr?"
Hi guys,

Is it currently possible to use `sparklyr` to connect and read data from a remote Cassandra database? I've read the other Cassandra issues in this repo, but since they focus on connecting to Cassandra locally, I'm still confused as to whether the remote connection is currently supported.

I'll post the code I'm trying below, but I should mention that the Cassandra database I want to conn

[2017-10-26 19:21] #885 closed

[2017-10-26 19:21] #882 closed

[2017-10-26 19:25] kevinykuo commented on #468
Closing, we're gonna be consistent with Spark here to ensure compatibility of pipelines.

[2017-10-26 19:25] #468 closed

[2017-10-26 19:27] kevinykuo commented on #60
Closing this since this is unlikely to be supported in Spark and we support saving/loading pipelines and models now.

[2017-10-26 19:27] #60 closed

[2017-10-26 19:28] kevinykuo commented on #104
Think this is mostly solved now, closing.

[2017-10-26 19:28] #104 closed

[2017-10-26 19:29] #765 closed

[2017-10-26 19:29] #892 closed

[2017-10-26 19:39] kevinykuo commented on #536
We probably don't want to change the serialization but I think you can get to what you want via

[code]

For text mining at scale we probably want to wrap https://databricks.com/blog/2017/10/19/introducing-natural-language-processing-library-apache-spark.html instead of collecting the data to R.

[2017-10-26 19:39] #536 closed

[2017-10-26 19:42] kevinykuo opened #1092 "Implement all spark.ml.feature functions"
- [x] N-gram
- [x] IDF
- [x] Word2Vec
- [x] Chisquared selector
- [x] Imputer
- [x] Interaction
- [x] MaxAbsScaler
- [x] Min Max Scaler
- [x] Normalizer
- [x] Polynomial Expansion
- [x] Standard Scaler
- [x] Vector Slicer
- [x] Bucketed Random Project LSH
- [x] Min Hash LSH

[2017-10-26 19:42] kevinykuo commented on #225
tracking in https://github.com/rstudio/sparklyr/issues/1092

[2017-10-26 19:42] #225 closed

[2017-10-26 19:42] kevinykuo commented on #247
Tracking in https://github.com/rstudio/sparklyr/issues/1092

[2017-10-26 19:42] #247 closed

[2017-10-26 19:43] #692 closed

[2017-10-26 19:44] #867 closed

[2017-10-26 20:56] Frencheconomist opened #1093 "Data manipulation in R for a condition, Rstudio,"
In the picture below I put the year they turned age## for each observation under the age## column.

Instead, how can I write a code to replace the year under age## to show the avg_une_rate data instead? Such that it will show their avg_une_rate for each age from 20 through 30?

The link to the picture -> https://i.stack.imgur.com/CZMtx.png

[Data and Code.zip](https://github.com/rstudio/sparklyr/f

[2017-10-26 22:59] #1024 closed

[2017-10-27 00:18] amir-ghasemi opened #1094 "Combining multiple paths into a single spark_read_csv call"
In Spark 2.0 I can combine several file paths into a single load().

How can I achieve this with sparklyr's spark-read-csv? Using a similar syntax on the path variable doesn't seem to work.

[2017-10-27 04:05] sdanielzafar opened #1095 "Strange behavior with lag"
I'm observing some strange behavior with lag that I cannot seem to reproduce in test example. Any insights are appreciated. When lag is used I'm getting data truncation. I use `mutate_at` to successfully type my table, but when I use the lag my numeric columns are truncated.

[code]

[2017-10-27 04:10] #1095 closed

[2017-10-27 04:10] sdanielzafar commented on #1095
Sorry, I'm a dingus delete this if you can.

[2017-10-27 04:12] sdanielzafar commented on #1091
Yes you can, use `library(crassy)`

[2017-10-27 04:26] kevinykuo commented on #1094
It should just work. Could you tell us a bit more about the directory structure and the Scala and R code you tried?

[2017-10-27 13:23] JakeRuss commented on #1091
Hi @sdanielzafar, thanks for the pointer. I did have a look at `crassy` before posting here. The thing I'm not understanding is how to properly establish the **remote** connection to Cassandra. For security I can't connect to the server directly, but I'm forwarding the remote port `9042` over ssh to my local `9043` (and let's assume I'm using the right connector, I can try others).

But I've tried

[2017-10-27 18:57] pruthvir opened #1096 "### While Trying to run Spark-Shell in terminal i am getting this error can some one please help me out.?"
# Reporting an Issue with sparklyr

For general programming questions with `sparklyr`, please ask on
[Stack Overflow](http://stackoverflow.com) instead.

Please briefly describe your problem and, when relevant, the output you expect.
Please also provide the output of `utils::sessionInfo()` or
`devtools::session_info()` at the end of your post.

If at all possible, please include a [minimal, reprod

[2017-10-27 18:58] pruthvir commented on #1096
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

Failed to initialize compiler: object java.lang.Object in compiler mirror not found.
** Note that as of 2.8 scala does not assume use of the java classpath.
** For the old behavior pass -us

[2017-10-27 20:02] kyleweise opened #1097 "Machine Learning link broken"
Link at the end of  [this section in the README ](https://github.com/edgararuiz/sparklyr#machine-learning) is broken.

[2017-10-27 20:05] amir-ghasemi commented on #1094
You are right. Looks like wildcards can be used similar to SparkR interface so it's actually easy to do. Thank you!

[2017-10-27 20:06] #1094 closed

[2017-10-28 19:12] #1096 closed

[2017-10-29 05:41] javierluraschi commented on #1097
Fixed by @FavioVazquez

[2017-10-29 05:41] #1097 closed

[2017-10-30 16:43] JohnMount opened #1099 "spark_apply() can not find Rscript"
I can run a [simple `spark_apply()` script](https://github.com/WinVector/ODSCWest2017/blob/master/SparklyRMachineLearning/Exercises/solutions/06-Spark-Extension.Rmd) on my local machine, and it works find.  However if I run the same script on a Hortonworks cluster I get the following error:

[code]

I believe there is an Rscript binary in `/usr/local/bin/Rscript`, but I don't see any in the `Spark

[2017-10-31 03:40] yissylevi commented on #1080
That made no difference. As I said "I increased ulimit to 419430 from 1040 (both soft and hard) and this made no difference."

[2017-10-31 14:49] asodemann opened #1100 "Can't get sparklyr to connect with Shiny"
I'm pretty new to Shiny and Spark.

I want to deploy a ShinyApp with a spark connection.  Everything works how it should when I just hit RunApp, but whenever I try to publish it, I get the error: "Error in value[[3L]](cond) :
  SPARK_HOME directory '/usr/lib/spark' not found
Calls: local ... tryCatch -> tryCatchList -> tryCatchOne -> <Anonymous>
Execution halted"

This directory exists on my clust

[2017-10-31 16:30] martinstuder opened #1101 "spark_write_source not appropriate for generic Spark data sources"
https://github.com/rstudio/sparklyr/blob/491194f64e92bc5985961e99f65a04fa9d5dffb6/R/data_interface.R#L429

For a generic data source `spark_write_source` (`
spark_data_write_generic`) should call `.format(source)` where `source` is the name of a class extending `org.apache.spark.sql.sources.CreatableRelationProvider` similar to `spark_read_source` where `source`  is the name of a class extending `

[2017-10-31 17:27] javierluraschi commented on #1100
@asodemann If Spark is already installed in the cluster, using `Sys.setenv(SPARK_HOME = '/usr/lib/spark')` should work; however, the error could be caused by permissions. Also, since Spark is already installed, then you don't need to run `spark_install(version = "2.2.0")` since this would be creating an alternate installation that we don't need.

[2017-10-31 18:49] #1055 closed

[2017-10-31 18:56] JohnMount opened #1104 "Documentation question: is there any way to control how many rows spark_apply() cuts data into?"
Documentation question: is there any way to control how many rows spark_apply() cuts data into?

On my small machine it seems to work in about one quarter million row blocks (which is fine), but on a production server cluster it seems to send all of the rows to a single worker (which I do not want to happen).

Is there a control that says what the maximum number of rows per-chunk are?  Or is this

[2017-10-31 19:45] javierluraschi commented on #1025
Looks like you need to use `options = list(mergeSchema = "true")`, as in:

[code]

See also https://spark.apache.org/docs/1.6.1/sql-programming-guide.html#schema-merging.

Going to close this one since it's closer to a question than an issue.

[2017-10-31 19:45] #1025 closed

[2017-10-31 20:29] #992 closed

[2017-10-31 21:08] asodemann commented on #1100
Thanks for responding! How do I change the permissions?  I also tried this method: `cluster_url <- system('cat /root/spark-ec2/cluster-url', intern=TRUE) ` and got permissions denied.  When I added sudo to the code I got the error: `no tty present and no askpass program specified`

[2017-10-31 23:58] javierluraschi commented on #1083
@sean-in-korea sorry for the delay, could you retry after running:

[code]

and let us know how this goes? Thanks!

[2017-10-31 23:59] javierluraschi commented on #1083
See https://github.com/rstudio/sparklyr/pull/1105

[2017-11-01 17:54] AjarKeen commented on #1104
I think the main knobs you have to control partitioning are:

1. `sdf_repartition` lets you partition by the unique values of one column in Spark 2.0+.

2. `sdf_partition` lets you partition with random weighted sampling, e.g. for train/test splits.

3. Set `spark.dynamicAllocation.enabled: true` in your conf, and Spark will handle data splitting and number of executors itself. This is fine if you

[2017-11-01 18:05] AjarKeen commented on #941
Is this also the place to discuss things like expanding `spark_apply` functions to accept multiple arguments, and then shipping those artifacts (e.g. small R model objects) to the workers along with the package dependencies?

[2017-11-01 18:07] AjarKeen commented on #1099
I think `sparklyr` needs R to be installed uniformly (same OS, location, and version) on all nodes (master & worker).

[2017-11-01 18:49] #1033 closed

[2017-11-01 18:49] #1054 closed

[2017-11-01 19:30] javierluraschi commented on #1033
@samurainate made some improvements here... first, `sparklyr` was not waiting for `ACCEPTED` state, now this can be controlled using `sparklyr.yarn.cluster.accepted.timeout`. However, I found out that `ACCEPTED` is not enough, in order for an application to be fully ready to use, one also needs to wait for the running container to be available `sparklyr` is mostly interested in finding the host ad

[2017-11-01 22:56] javierluraschi commented on #1104
Right! Also, worth adding that `spark_apply()` transfers data to each worker role in-memory; therefore, `spark_apply()` really benefits from creating many small partitions using the partition functions mentioned by AjarKeen.

I wouldn't recommend using `group_by` for the purpose of repartitioning, `sdf_repartition` or `sdf_partition` should be preferred here.

Closing this one seems the question s

[2017-11-01 22:56] #1104 closed

[2017-11-02 01:29] sean-in-korea commented on #1083
@javierluraschi
[code]

[2017-11-02 02:20] #1032 closed

[2017-11-03 13:01] #1099 closed

[2017-11-03 15:46] kevinykuo commented on #900
Confirmed fixed with devel `dplyr`. Thanks @lionel- !

[2017-11-03 15:46] #900 closed

[2017-11-03 20:42] raphaelvannson opened #1108 "Function reference page does not contain all functions"
Hello,

The sparklyr function reference at https://spark.rstudio.com/reference/index.html does list all the functions available in the package. In particular, the function `sdf_quantile()` is not listed. Other functions may be affected.

This page seems to list the doc for all functions but the HTML files are not directly rendered in the browser making it less than ideal to see the doc without clo

[2017-11-06 14:18] leosouzadias commented on #1054
Hi Javier,

After upgrading to latest version, old error is gone. However, another issue is happening, where sparklyr is still trying to reach Resource Manager on port 8088 (which is the no HTTPS port).

[code]
devtools:
[code]

[2017-11-06 22:46] javierluraschi commented on #1100
@asodemann by permissions I mean using `CHMOD` on the spark directory and adjust permissions for the user the shiny application is running as. Afterwards, you might also need to create a hadoop user for this user with something like the following:

[code]

You can also reach me out under http://gitter.im/rstudio/sparklyr for a more responsive answer.

[2017-11-07 00:48] javierluraschi commented on #1100
@asodemann here is a step-by-step guide... could you try getting this running and then modify the this base shiny app to match your current one?

Reference: hadoop dfs -mkdir /user/hadoop2
hadoop dfs -chown -R hadoop2 /user/hadoop2

## Step 1 - Create EMR Cluster

<img width="1254" alt="screen shot 2017-11-06 at 3 40 27 pm" src="https://user-images.githubusercontent.com/3478847/32471288-5762614a-c

[2017-11-07 15:54] shales19 opened #1110 "sdf_bind_col Error"
# Reporting an Issue with sparklyr

For general programming questions with `sparklyr`, please ask on
[Stack Overflow](http://stackoverflow.com) instead.

Please briefly describe your problem and, when relevant, the output you expect.
Please also provide the output of `utils::sessionInfo()` or
`devtools::session_info()` at the end of your post.

If at all possible, please include a [minimal, reprod

[2017-11-07 16:28] kevinykuo commented on #1110
What are `sdf_prems_dup` and `sdf_dates_dup`?

[2017-11-07 16:37] shales19 commented on #1110
Spark data frames of premises and dates.

Sent from my iPhone

On Nov 7, 2017, at 10:28 AM, Kevin Kuo <notifications@github.com<mailto:notifications@github.com>> wrote:

This EXTERNAL email may contain an attachment.  Do not open attachments or click on links in emails unless you are certain the source AND content of the email are credible.

What are sdf_prems_dup and sdf_dates_dup?

-
You are rec

[2017-11-07 19:05] asodemann commented on #1100
I was able to get it to work with these steps. Thank you!!! @javierluraschi

[2017-11-07 21:21] javierluraschi commented on #1100
@asodemann No problem, glad we could help! Closing.

[2017-11-07 21:21] #1100 closed

[2017-11-07 21:24] JakeRuss commented on #1091
As it turns out, if you correctly specify the remote port forwarding command, then the right `sparklyr` config syntax is `B)`. Pulling the data from Cassandra was trivial from there.

[2017-11-07 21:24] #1091 closed

[2017-11-07 22:00] shales19 commented on #1110
library(sparklyr)
library(dplyr)
library(DBI)
library(lubridate)

config <- spark_config()
config$spark.driver.memory <- "16G"
config$spark.driver.cores <- 4
config$spark.executor.cores <- 4
config$spark.executor.memory <- "16G"
config$spark.executor.instances <- 40
config$spark.yarn.am.memory <- "16G"
config$spark.yarn.am.cores <- 4
config$spark.num.executor <- 8
config$spark.cores.max <- 196
con

[2017-11-07 23:11] raphaelvannson opened #1111 "Passing variables to `dplyr_` functions fail"
I would like to calculate the mean of a column (here `result`).
Since this is in a function, I would like to make the column name a variable.

If I hard-code the column name `result`, the mean calculation works
[code]

If I provide a string to `summarize_()` then the execution fails.
The end goal would be to construct string using `paste` to evaluate the column name variable and passing the string

[2017-11-08 17:35] pschhikara88 commented on #916
I am facing the similiar issue. Is there any solution for this problem?

[2017-11-08 20:48] #1101 closed

[2017-11-08 21:46] joshuatpack commented on #1051
I am having the exact same issue - any response, fix, or workaround is much appreciated!!!

[2017-11-08 22:12] kevinykuo commented on #1051
This is a Spark limitation, see https://issues.apache.org/jira/browse/SPARK-19428.

Workaround:

[code]

[2017-11-09 02:57] kevinykuo commented on #1110
From your code...
[code]
It seems like you're trying to give these two tables the same name `"spark_dates_dup"`on the Spark side; perhaps changing one of them?

[2017-11-09 03:05] shales19 commented on #1110
Sorry about that.  It is actually this.

sdf_prems_dup <- sdf_copy_to(sc, prems_dup, "spark_prems_dup")

...

sdf_dates_dup <- sdf_copy_to(sc, dates_dup, "spark_dates_dup")

From: Kevin Kuo [mailto:notifications@github.com]
Sent: Wednesday, November 08, 2017 8:57 PM
To: rstudio/sparklyr
Cc: Hales, Sid; Mention
Subject: Re: [rstudio/sparklyr] sdf_bind_col Error (#1110)

This EXTERNAL email may cont

[2017-11-09 07:07] asantucci commented on #941
@javierluraschi I have some tables I am working with out of an Amazon RDS for PostgreSQL. I would like to pull the data into a `local` spark context such that I may see what shortcomings the `sparklyr` package before integrating into our workflow.  For example, it's just been brought to my attention this issue with date types not being supported; this would be a deal breaker for my use case.

Cont

[2017-11-09 15:11] chezou opened #1112 "Better external package handlings with extensions for off line users"
According to [this PR](https://github.com/rstudio/sparklyr/pull/314), sparklyr has embedded jar of csv parser.

Some users requested [my extension to have it's dependent jars](https://github.com/chezou/sparkavro/pull/5), but I think it is not smart to include all dependent jars for each extension.

So, is there any smart way to consider external dependencies for air-gapped clusters, or could we ha

[2017-11-09 15:53] mattpollock commented on #1112
A work around that I've used is to maintain a local maven repository including the necessary dependencies (it seems Spark will look at local maven/ant repos first, then try hitting spark-packages externally) using the `mvndeps` package (https://github.com/mitre/mvndeps).

[code]

This is a moderately big ask for users who are unfamiliar with maven though and comes with system requirements. Would b

[2017-11-09 16:14] admoseremic commented on #1051
Ah, thanks.

I also found that using the top_n() function was a good workaround too.

[2017-11-09 16:54] asantucci commented on #941
@javierluraschi The issue of date-columns being truncated to year when using `copy_to` is preventing me from continuing to adopt `sparklyr` further. I have data stored on a PostgreSQL database. I would like to import into a `sparklyr` pipeline.

I tried using `spark_read_jdbc` but was greeted with an error of the form `java.sql.SQLException: No suitable driver` and there is no documentation _speci

[2017-11-09 17:11] russellpierce commented on #941
@asantucci I've been having some success with writing a CSV out to distributed storage, then loading the dataset into Spark via a CSV read (and specifying data types where it helps).  That bypasses copy_to and any serialization issues we have and [here](https://github.com/rstudio/sparklyr/issues/941#issuecomment-328655593) it was mentioned that `copy_to()` isn't intended for large data sets.

[2017-11-09 17:12] JakeRuss commented on #941
I use `sparklyr` to pull data out of MySQL and directly into the spark context, via `spark_read_jdbc()`. To do this I add a MySQL JDBC driver to the class path via spark_config, like so,

[code]
Maybe there is a driver you could add for PostgreSQL instead which will eliminate the error message. [Here?](https://jdbc.postgresql.org/)

Also, it looks like Javier has resolved the issues with dates in

[2017-11-09 17:40] raphaelvannson commented on #1111
Hello @kevinykuo,

Many (many :) ) thanks for your quick response!
This did the trick (after a minor modification):

[code]

Or

[code]

Cheers!

[2017-11-09 18:22] raphaelvannson commented on #1111
Hello @kevinykuo,

Similar question for `mutate()`: the answer provided above for `summarize()` works to evaluate the variable name in the `mutate()` condition but not to set the name of the output column.

Example:

I am trying to do this (this works. `df` already contains a column called `result`):
[code]

The solution proposed above if the name of the output column (`result`) is hard coded:
[co

[2017-11-09 18:44] #1111 closed

[2017-11-09 20:28] javierluraschi opened #1113 "Invalid method setForceIndexLabel for ml_* algorithms called with formula"
This one is specific to Spark 1.6.X and might be a regression from `CRAN` release...

[code]

[code]

[2017-11-09 20:46] kevinykuo commented on #1113
Related: https://stackoverflow.com/questions/47189528/sparklyr-ml-linear-regression-error-invalid-method-setforceindexlabel.

We're calling a method of `RFormula` that was implemented in 2.1.0. I'll work on a fix. Current workaround is to use Spark 2.1.0+

[2017-11-09 21:12] asantucci commented on #941
@JakeRuss I'm trying your approach as follows:

    config <- spark_config()
    config$`sparklyr.shell.driver-class-path` <- "valid_path/postgresql-42.14"

    sc <- spark_connect(master = 'local', config = config)

    spark_read_jdbc(sc, name = tbl_name, options = list(url = 'jdbc:postgresql://...', user = username, password = pword, dbtable = tbl_name)

And I still yield the same error: `java.

[2017-11-09 21:47] JakeRuss commented on #941
Let me post more of my code and see if you spot anything different about your set up...

[code]

My jdbc url is formatted like `jdbc:mysql://host_ip:3306/database_name`. The only difference I see is that I have `memory = FALSE`, but that shouldn't matter here.

My cursory Google searching for that error message indicates that either the jdbc URL is incorrect, or the driver still isn't found on the

[2017-11-09 21:58] asantucci commented on #941
Thank you for the follow up. It looks like my problem was in fact not appending the jdbc url with both a port and database name. Now it appears that I am able to connect to the DBI!

[2017-11-10 13:55] aliechoes commented on #252
Is there any update on this issue?

[2017-11-10 18:06] javierluraschi opened #1116 "Dates retrieved as doubles in spark_apply()"
[code]

Returns values as doubles, not dates.

Also, roundtrip fails for times,

[code]

[code]

which blocks:

[code]

[2017-11-10 21:03] #1116 closed

[2017-11-11 06:07] #944 closed

[2017-11-13 10:30] renegademonkey opened #1119 "Error: Unexpected state in sparklyr backend, terminating connection"
Hi there,

I originally thought this was an issue with rsparkling (see [here](https://github.com/h2oai/rsparkling/issues/57)), but think it may be related to sparklyr?

I am getting the above error when using rsparkling and h2o

When I load rsparkling, h2o and sparklyr, I can connect tot he spark cluster, but when I try to check the h2o status using h2o_context(sc) I get the following error:

[cod

[2017-11-13 11:32] renegademonkey commented on #1119
OK, I just tried this with the latest sparklyr master (0.7.0-9105) and now it seems to be working again.

[2017-11-13 16:48] Jiang-Li commented on #585
Is anyone can give me an example of how to export the single csv file? Thanks.

[2017-11-13 21:24] chrisvwn commented on #961
Was this issue resolved? I am encountering the same error with spark_apply. Though from the logs it seems the tasks are running but the last task, My guess is that the combiner is failing for some reason. I have posted the details on stackoverflow here: [https://stackoverflow.com/questions/47265209/error-sparklyr-gateway-xxxxx-failed-calling-take-on-xxx-when-running-spark-appl](https://stackoverfl

[2017-11-13 21:43] chrisvwn opened #1121 "ERROR sparklyr: Gateway xxxxx failed calling take on xxx when running spark-apply"
Apologies for cross-posting. This is a copy of this issue on stackoverflow: [https://stackoverflow.com/questions/47265209/error-sparklyr-gateway-xxxxx-failed-calling-take-on-xxx-when-running-spark-appl](https://stackoverflow.com/questions/47265209/error-sparklyr-gateway-xxxxx-failed-calling-take-on-xxx-when-running-spark-appl)

I am trying to run spark_apply from the sparklyr package to perform km

[2017-11-14 01:12] javierluraschi commented on #1054
@leosouzadias yarn port gets read from `yarn.resourcemanager.webapp.address*`, would it be feasible to update your `yarn-site.xml` to use the HTTPS port?

[2017-11-14 01:18] javierluraschi commented on #1121
@chrisvwn you are hitting this error `sparklyr worker rscript failure with status 255, check worker logs for details.` which means that the logs won't be very helpful since it seems you are posting the driver logs, not the worker logs.

My recommendation would be to run this locally with a subset of the data using `sc <- spark_connect(master = "local")` since it would bring all the logs and you sh

[2017-11-14 01:21] javierluraschi commented on #585
Reopening to consider feature request. Notice that in general, while dealing with big data, writing a single CSV file is not feasible due to the nature of the distributed problem; However, at times, I would agree its easier/feasible to export this to single file.

[2017-11-14 01:22] javierluraschi commented on #1119
Thanks for the additional info and closing this one.

[2017-11-14 07:40] chrisvwn commented on #1121
Thanks @javierluraschi ! I have moved a step in the right direction. Long story short, I had left out the config for the cluster connection, so adding `config=list()` solved that.

I am not sure about this so let me just put my steps in here with the hope I can get some explanation or at least to help another newbie out.

After a while, I found my spark logs in Cloudera CDH which logs through Yarn

[2017-11-14 17:36] renegademonkey commented on #1119
OK, I spoke too soon. Followed the EXACT SAME protocol as yesterday, and now the same errors has come up. Same install versions and nothing else changed. I really don't understand where this is coming from.

[2017-11-14 23:29] raphaelvannson commented on #1108
I see a new version of the reference containing al functions has been published.
Closing - Thanks!

[2017-11-14 23:29] #1108 closed

[2017-11-15 16:54] jpryda opened #1122 "Running compute() on output from summarise_"
The output from `summarise()` and `summarise_()` appears to be the same but I can't seem to `compute() ` to a temporary table using the underscored version.  I realise the underscored versions are superfluous so perhaps there is another way to achieve this?

[code]

[2017-11-15 17:02] javierluraschi opened #1123 "spark_apply() could infer libraries"
Actual:

[code]

[code]

Expected would be to infer the loaded libraries and source them if available:

[code]

[2017-11-15 17:03] javierluraschi opened #1124 "spark_apply() to allow chaining multiple date types"
[code]

[code]

[2017-11-15 20:45] chrisvwn opened #1125 "spark_apply Error: Unable to retrieve a Spark DataFrame from object of class data.frame"
spark_apply is returning "Error: Unable to retrieve a Spark DataFrame from object of class data.frame" when running a function on a yarn managed cluster.

[code]

The error in RStudio is
[code]

The worker log is as below with the problem line `17/11/15 20:11:01 ERROR sparklyr: RScript (4983) terminated unexpectedly: Unable to retrieve a Spark DataFrame from object of class data.frame`

[code]

If

[2017-11-15 20:50] #1121 closed

[2017-11-15 23:06] jpryda commented on #1122
Adding `collapse()` does seem to fix this I've just discovered:

[code]

[2017-11-16 09:55] renegademonkey commented on #1119
Not sure if this helps, but I've just turned on the spark log console and have the following output when i run h2o_context(sc):

[code]

[2017-11-16 15:55] kevinykuo commented on #1113
Fixed in https://github.com/rstudio/sparklyr/pull/1126

[2017-11-16 15:55] #1113 closed

[2017-11-16 17:42] kevinykuo opened #1127 "Investigate test failures in 1.6.x"
@javierluraschi could you take a look at these? They came up locally running Spark 1.6.0.

1. test-read-write.R:79: error: `spark_read_text() and spark_write_text() read and write basic files
java.lang.Exception: No matched method found for class org.apache.spark.sql.DataFrameReader.text`
2. test-read-write.R:120: error: `spark_write_table() can append data
org.apache.spark.sql.execution.QueryExec

[2017-11-16 17:45] kevinykuo opened #1128 "Better interface for passing context to spark_apply()"
See https://github.com/rstudio/sparklyr/pull/1107

[2017-11-16 17:46] kevinykuo commented on #1110
@shales19 we'll be better able to help if you can provide some reproducible code. We don't have access to your hive tables.

[2017-11-16 17:51] kevinykuo commented on #348
@dsblr if this is still happening, could you provide a reprex?

[2017-11-16 17:51] kevinykuo commented on #897
Addressed as of https://github.com/rstudio/sparklyr/pull/1126

[2017-11-16 17:51] #897 closed

[2017-11-16 17:57] javierluraschi commented on #1127
Worth considering creating 1.6 / 2.0 Travis test configs.

[2017-11-16 17:58] kevinykuo opened #1129 "Investigate compatibility with Spark 1.5"

[2017-11-16 19:59] alexanderchernyakovgithub commented on #754
@kevinushey: i see you are using the timestamp function.. where is the doc for that? it doesn't seem to be listed in the Hive UDF docs and it also seems the only way to convert a string in the  "YYYY-MM-DD HH:MM:SS.fffffffff" format to an actual TimestampType

[2017-11-16 20:01] kevinykuo commented on #754
@alexanderchernyakovgithub see https://cwiki.apache.org/confluence/display/Hive/LanguageManual+UDF

[2017-11-16 20:04] alexanderchernyakovgithub commented on #754
@kevinykuo already saw this page: timestamp isn't a function listed on there unless i'm being terribly dense

[2017-11-16 20:31] kevinykuo commented on #754
@alexanderchernyakovgithub yeah doesn't seem like that function is documented, my guess is that it's SQL for casting to timestamp. BTW what's the string that's giving you trouble? Have you tried using the format string `"yyyy-MM-dd HH:MM:SS"`?

[2017-11-16 20:34] alexanderchernyakovgithub commented on #754
@kevinykuo  yes, i think you are right.. the way to convert back to strings seems to be `string()` which is also undocumented. i think what must be happening internally is that they are casting. thanks for taking a look. i wonder where @kevinushey knew to use the function from

[2017-11-16 21:18] JohnMount opened #1130 "Blank suffix in left_join causes join to hang."
Using a blank suffix in left_join causes join to hang.

[code]

[2017-11-16 21:33] kevinushey commented on #754
Good question! I can't remember where I found it; but I do recall seeing it in some of Spark's own code, e.g. https://github.com/apache/spark/blob/7f2e62ee6b9d1f32772a18d626fb9fd907aa7733/sql/core/src/test/resources/sql-tests/inputs/inline-table.sql#L50-L51

[2017-11-17 03:24] alexfun commented on #949
I am getting the error:

[code]

after running the sequence of commands:

[code]

[2017-11-17 09:07] axiomoixa commented on #120
similar question.
Instead of using the basic aggregating functions, I would like to use **median**.
Then I get an error
`Error: org.apache.spark.sql.AnalysisException: Undefined function: 'MEDIAN'. This function is neither a registered temporary function nor a permanent function registered in the database 'default'.; `

[2017-11-17 23:18] javierluraschi opened #1131 "Streaming"
See:
- https://github.com/rstudio/sparklyr/issues/1082
- https://github.com/rstudio/sparklyr/issues/1509

Related:
- https://github.com/rstudio/sparklyr/issues/1545

[2017-11-17 23:21] javierluraschi commented on #1082
We've been keeping an eye on streaming under our big features board: https://github.com/rstudio/sparklyr/projects/1. Closing this one to track progress/suggestions here instead: https://github.com/rstudio/sparklyr/issues/1131

[2017-11-17 23:21] #1082 closed

[2017-11-19 19:46] JohnMount opened #1134 "`knitr::kable()` seems to mis-order column names or column values with `sparklyr"
`knitr::kable()` seems to mis-order column names or column values with `sparklyr`.  Notice the difference in directly piping the `sparklyr` table to `knitr::kable()` versus piping the `dplyr::collect()` version.

Reprex of rendered tables not pasteable, so making Markdown example.
[knitrissue.Rmd.txt](https://github.com/rstudio/sparklyr/files/1485906/knitrissue.Rmd.txt)
[knitrissue.pdf](https://gi

[2017-11-20 11:02] axiomoixa opened #1135 "left_join hangs"
---

left_join does not work at all. It just hangs

[code]
[code]

[2017-11-20 22:23] pierma63 opened #1136 "ml_pipeline not found"
Hi, working with Rstudio 3.4.2 and Spark 2.2.0, "local" on Windows, trying to use ml_pipeline() function but looks like it is not there (even help doesn't find docs).

sc <- spark_connect(master = "local", spark_home = "c:\\users\xxxxxxl\\xxxx\\spark",version="2.2.0")
library(dplyr)
library(sparklyr)

Error in ml_pipeline() : could not find function "ml_pipeline"

[2017-11-21 08:57] renegademonkey commented on #1119
The issue seems to be with `IP address not found on this machine` - is this a firewall issue? Why would it be intermittent?

[2017-11-21 10:00] axiomoixa commented on #1135
By writing the tables **sdf.filter2.MinMax** and **sdf.filter2.Head** to file with spark_write_csv, and then loading them with spark_read_csv,  left_join works without a problem.

So there is something strange from the lazy loading, although I already tried to **persist** the lazy operations. The line before left_join reads:
`sdf.filter2 %>% filter(UQ(sym(Column$tb_name))%in% Phase[3]) %>%
  renam

[2017-11-21 10:57] igornoberto opened #1137 "Extracting characters based on regex pattern"
I'm creating a small package that should be able to extract some patterns from columns of characters and return it to the user.
Today, what I have implemented uses the functions `regexp_replace()` and `regexp_extract()` from `SparkR`. But, since `SparkR `is no longer available on cran anymore, I was looking for some implementation using sparklyr's own methods.

I saw https://github.com/rstudio/spa

[2017-11-21 13:36] jcerquozzi opened #1138 "Getting the significance of coeficients in logistic regression using `ml_logistic_regression`"
# How to get the significance of coeficients in logistic regression using `ml_logistic_regression`

I am working with logistic regression and I want to know the significance of each coefficient. I have asked how can I get this but all the anwsers I'm getting is that it's not supported yet, so I want to know if it's true or I am missing something

---

My code is as follows:

[code]

The model I ge

[2017-11-21 14:54] JohnMount commented on #1134
I see the same problem with multiple back-ends so looks like it is a `dbplyr` issue.  Now filed there [`dplyr` issue 3216](https://github.com/tidyverse/dplyr/issues/3216).

[2017-11-21 14:54] #1134 closed

[2017-11-21 15:41] martinstuder opened #1139 "Support predicate pushdown when reading from generic source (spark_read_source)"
In [`sparkbq`](https://github.com/miraisolutions/sparkbq) we implemented a Google BigQuery data source that theoretically supports **predicate pushdown** by implementing `org.apache.spark.sql.sources.PrunedFilteredScan` (see corresponding Scala project [spark-bigquery](https://github.com/miraisolutions/spark-bigquery)). We are using `sparklyr`'s `spark_read_source` to integrate the data source.

T

[2017-11-21 18:10] kevinykuo commented on #1136
@pierma63 are you using the development version of `sparklyr`? The pipeline feature isn't on CRAN yet.

[2017-11-21 18:17] kevinykuo commented on #1137
sparklyr doesn't depend on SparkR -- the functions you mention (`regexp_replace()`, `explode()`) are just Spark SQL.

[2017-11-21 18:24] kevinykuo commented on #1138
@jcerquozzi Spark doesn't calculate p-values if that's what you're looking for since most use cases are for ML and not inference. By the way `ml_create_dummy_variables()` will be removed in the next release since there's no easy way to support specifying the base level for factor variables. You'd want to instead call `ml_logistic_regression(birth_sc, low ~ lwt + race)`.

[2017-11-21 18:24] #1138 closed

[2017-11-21 18:36] jcerquozzi commented on #1138
@kevinykuo OK, so I will have to calculate p-values by hand.

Thank's for the heads up with `ml_create_dummy_variables()`, but if this function is removed how I will get the dummy variables in the next release?

[2017-11-21 18:49] pierma63 commented on #1136
Realized it wasn't in CRAN afterward, then used the dev version . Thanks

[2017-11-21 18:49] #1136 closed

[2017-11-21 20:57] kevinykuo commented on #1138
@jcerquozzi you can use the formula interface in the ML algorithm routine (e.g. `ml_logistic_regression()`), `ft_r_formula()`, or `ft_one_hot_encoder()`.

[2017-11-21 20:57] kevinykuo commented on #1138
We'll provide more documentation around this with the release

[2017-11-22 07:18] alexanderchernyakovgithub opened #1141 "column names within sparklyr"
How can I access column names in the `mutate` series of functions within sparklyr to do calculations that involve the column name?

[2017-11-22 15:07] kevinykuo commented on #1141
@alexanderchernyakovgithub could you provide an example of what you're trying to do?

[2017-11-22 19:09] alexanderchernyakovgithub commented on #1141
sure: imagine a dataframe that has numbers in the column names, i want to use `mutate_at` to modify certain columns and use the number contained in their name in the calculation. this is just a contrived example obviously but i think illustrates the point.

[2017-11-23 05:36] hhch commented on #1063
I encounter the similar problem

[2017-11-23 13:23] Mustufain opened #1142 "Expose upper and lower bounds for coefficients parameters"
Hi guys I am using logistic regression from ml_logistic_regression. I get the following error :

Error in !rlang::sym("idx") : invalid argument type

My formula is :

 "conv ~ Alma_2 + DBM_Ainoa_Helsinki__1525821624_Santander_All_in_One_2 + DBM_Ainoa_Helsinki_1660394798_Santander_Consumer_Finance_2 + MTV_fi_2 + Otavamedia_fi_2 + Readpeak_2 + Ruutu_fi_2 + SanomaVerkkomedia_2 + tori_fi_2 + DART_Sear

[2017-11-23 15:22] kevinykuo commented on #1142
@Mustufain could you try updating to the latest master `devtools::install_github("rstudio/sparklyr")`?

[2017-11-23 15:45] martinstuder commented on #1139
Looking into it in more detail, it turns out that the way things are at the moment predicate pushdown is actually supported. Temporary views/tables in Spark do support predicate pushdown. The key is to specify `memory = FALSE` in the call to `spark_read_source` to avoid eager loading.

[code]
Using `memory = FALSE`, the above will actually attempt to push down the `column == 'some value'` predicat

[2017-11-23 15:45] #1139 closed

[2017-11-23 16:15] joscani commented on #585
Hi javier.
At this moment I need to write a spark dataframe in a single csv on amazon s3 to Viz purpose. How can I use invoke inside sparklyr to do that? Thanks in advance

[2017-11-23 16:40] kevinykuo commented on #585
Have y'all tried calling `sdf_coalesce()` before exporting to csv?

[2017-11-24 08:32] renegademonkey commented on #1119
It seems like it could be a communication issue the between the spark master / executors / driver when starting the h2o context. But this is strange as I can run regular spark jobs on this cluster without any communication issues.

[2017-11-24 22:22] JohnMount opened #1143 "Sparklyr doesn't distinguish between blank and NA"
[code]

[2017-11-24 22:26] JohnMount commented on #1130
Could be [`dplyr` issue 3220](https://github.com/tidyverse/dplyr/issues/3220).  I can confirm it hangs even with `show_query()`.

[code]

[2017-11-25 04:21] AlexYoung757 opened #1144 "spark_connect error"
when i try to connect local spark on windows,the error as follow：
[code]
Error in is_null(x) : object 'rlang_is_null' not found

here is my sessinfo result:
R version 3.4.2 (2017-09-28)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

Matrix products: default

locale:
[1] LC_COLLATE=Chinese (Simplified)_China.936  LC_CTYPE=Chinese (Simplified)_China.936
[3] L

[2017-11-25 04:33] kevinykuo commented on #1144
Could you provide the full `sessionInfo()` output? Also, are you running the latest sparklyr from master?

[2017-11-25 04:35] kevinykuo commented on #1143
Related: https://github.com/rstudio/sparklyr/issues/151

[2017-11-25 04:38] #1143 closed

[2017-11-25 04:41] kevinykuo commented on #1135
Closing since this looks resolved, please reopen if otherwise. Thanks!

[2017-11-25 04:41] #1135 closed

[2017-11-25 18:41] pgensler opened #1145 "Text Mining Guide 404 error?"
It seems like there are some links that are dead, which I'm assuming is from the move to blogdown? Below is what I have found:

text mining guide is not found:
https://spark.rstudio.com/articles/guides-textmining.html

dplyr link does not work:
https://spark.rstudio.com/extensions/

[2017-11-25 20:25] kevinykuo commented on #1145
Found this through this nav bar on the left on the new site:

https://spark.rstudio.com/guides/textmining/
https://spark.rstudio.com/dplyr/

[2017-11-27 01:50] AlexYoung757 commented on #1144
here is my sessionInfo
R version 3.4.2 (2017-09-28)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

[2017-11-27 01:53] kevinykuo commented on #1144
@AlexYoung757 is this what you see after you get the error? Was hoping to see some loaded packages.

[2017-11-27 08:18] Mustufain commented on #1142
@kevinykuo I update to the latest master and when I ran it I got the following error :

restarting interrupted promise evaluation
Error: cannot allocate vector of size 519.2 Mb

However the gml function works with this formula and data

[2017-11-27 20:39] tarunparmar opened #1148 "Links on spark.rstudio.com broken"
I noticed some of the links on spark.rstudio.com are now broken.

E.g. http://spark.rstudio.com/reference/sparklyr/latest/ml_tree_feature_importance.html

[2017-11-28 11:07] renegademonkey commented on #1119
OK, after days of debugging, I've figured out that that `IP address not found` was arising because the h2o `InetAddress.isReachable` call was returning `false` with the default timeout on my system. I managed to get it to return `true` by manually setting the timeout to a higher value in scala:

`System.setProperty("sys.ai.h2o.network.ip.ping.timeout", "6000")`

And it works in scala! However, I n

[2017-11-28 14:39] xhudik commented on #957
hmm, strange with a new HDP 2.6 and Spark 2.2 - it is working well.

What might had been problem: I had set `SPARK_MAJOR_VERSION=2` which is fine, however I accidentally might run `livy-server` instead of `livy2-server`

thanks!

[2017-11-28 14:39] #957 closed

[2017-11-28 14:40] xhudik commented on #978
hmm, strange with a new HDP 2.6 and Spark 2.2 - it is working well.

What might had been problem: I set `SPARK_MAJOR_VERSION=2` which is fine, however I might have accidentally run `livy-server` instead of `livy2-server`

thanks!

[2017-11-28 14:40] #978 closed

[2017-11-28 14:43] JeremyLG opened #1149 "Working with or caching huge dataset (especially in columns)"
We are encountering an issue when our Spark Dataframes became pretty big.

For example, we can't write to parquet a Spark DF with 8500 rows and 5000 columns. Same with Spark DF big like 100 000 rows and 1700 columns.

So we have to split the writing to parquet not by rows but by columns which means we have to left join every little sub-DF we wrote. The problem is that this isn't good for productio

[2017-11-28 14:50] kevinykuo opened #1150 "Backwards compatibility fails for ml_kmeans()"
See https://stackoverflow.com/questions/47520863/sparklyr-ml-kmeans-field-features-does-not-exist

Likely a bug in `ml_formula_transformation()`. Investigating.

[2017-11-28 16:01] #1150 closed

[2017-11-28 16:24] kevinykuo commented on #1148
@tarunparmar could you share how you got to that link?

http://spark.rstudio.com/reference/ml_tree_feature_importance/ seems to work

cc @edgararuiz

[2017-11-28 16:52] edgararuiz commented on #1148
Right, most links changed, but I created what they call "aliases" to make sure that old links got re-routed to the new page.  That was not the case with Reference pages, I'll look into this

[2017-11-28 20:31] tarunparmar commented on #1148
The links are mostly on the main pages ... e.g. the Machine Learning link on left which takes you here http://spark.rstudio.com/mlib/ and then try clicking on any link on that page.

![image](https://user-images.githubusercontent.com/17690950/33342729-11d4660e-d451-11e7-8f13-03d4144fdbc7.png)

[2017-11-28 20:36] edgararuiz commented on #1148
Oh, thank you! I was wondering where the link's path was coming from.  I'm half way through putting together a solution for that, so I hope it'll be fixed in short order.  Thanks again!

[2017-11-28 20:39] tarunparmar commented on #1148
No problem, I now know where the link is taking me anyway :wink:

[2017-11-29 10:50] AlexYoung757 commented on #1144
library(sparklyr)
library(dplyr)

wen run the code as followed
sc <- spark_connect(master = "local")

the error is：
Error in is_null(x) : object 'rlang_is_null' not found

[2017-11-29 17:56] schlichtanders opened #1153 "Support sparklyr extensions for HUE notebooks"
If I understood it right this follows almost directly from #866

it would be really nice to have, as HUE is kind of everywhere where spark is

[2017-11-29 19:26] edgararuiz commented on #1148
cc @fereshtehRS

[2017-11-29 19:26] #1148 closed

[2017-11-29 19:40] #1145 closed

[2017-11-29 20:17] kevinykuo commented on #1142
@Mustufain could you provide the output of `traceback()`?

[2017-11-29 23:11] pani6me opened #1156 "spark_connect erroring out"
Hi, I've been running this issue. I tried looking for similar issues filed but that didn't help.

sparklyr: 0.7.0
spark: 2.2
Running on AWS cluster: amazon linux.

[code]
session Info:
[code]

To reproduce the issue:
1. create a cluster in amazon-linux-AMI (1 master / 1 slave is enough)
2. install java-1.8.0-openjdk.x86_64 1:1.8.0.151-1.b12.35.amzn1
steps 1/2 are done by flintrock launch test
make

[2017-11-30 04:35] fiona-wang opened #1157 "Convert probability into probability list in sparklyr"
# Reporting an Issue with sparklyr

For general programming questions with `sparklyr`, please ask on
[Stack Overflow](http://stackoverflow.com) instead.

Please briefly describe your problem and, when relevant, the output you expect.
Please also provide the output of `utils::sessionInfo()` or
`devtools::session_info()` at the end of your post.

If at all possible, please include a [minimal, reprod

[2017-11-30 04:57] kevinykuo commented on #1157
We're gonna need an example of what your dataframe looks like to help.

[2017-11-30 13:17] xhudik opened #1158 "create DB failed"
[code]

*Please notice the path:`file:/home/mee/`* shouldnt it be `hdfs://user/hive/...` ? Also, `file://` instead of `file:/`

If I create (the same user) this DB in hive - it works:
[code]

my sessioinfo:
[code]

any idea?

[2017-11-30 15:14] kevinykuo opened #1159 "sdf_bind_* functions broken with dev rlang"
Need to figure out what behaviors of `rlang::dots_splice()` we depend on and have the rlang repo include in tests or refactor accordingly if we've been depending on unintended behavior.

[2017-11-30 21:00] kevinykuo commented on #1159
Tests clear as of https://github.com/tidyverse/rlang/commit/f96007e7c26360778233b74754acc773bacb5943

[2017-11-30 21:00] #1159 closed

[2017-12-01 10:37] Mustufain commented on #1142
@kevinykuo  It works now. I just reinstalled the packages and now gives me model summary. just a quick question is there any way I can setup the bounds for the optimizer. like I am getting some negative coefficients but I was to setup the bounds so it doesnot go below zero and give me best coefficients which are greater than zero.

[2017-12-01 11:45] duttashi commented on #1144
@AlexYoung757 I think you are not providing the complete `sessionInfo()`. If you are genuinely interested in seeking a solution, then I advise provide the complete details. Type `sessionInfo()` on the R console and provide the output.
I think the package `rlang` is not installed on your machine. That is why the error.
Try this, `install.packages("rlang")` and then try creating the spark connect ob

[2017-12-01 15:33] kevinykuo opened #1160 "NAs getting collected as FALSE"
See https://stackoverflow.com/questions/47539670/convert-a-string-to-logical-in-r-with-sparklyr/47559040#47559040

Also
[code]

[2017-12-01 15:34] kevinykuo commented on #1160
Tracked in https://github.com/rstudio/sparklyr/issues/941

[2017-12-01 15:34] #1160 closed

[2017-12-02 02:38] #1156 closed

[2017-12-04 11:17] Mustufain opened #1161 "trailing backslash in sdf_pivot with column names"
Hi I was using sdf_pivot on my data. The formula which I am using is as follows:

"Alma_2 + DBM_Ainoa_Helsinki__1525821624_Santander_All_in_One_2 + DBM_Ainoa_Helsinki_1660394798_Santander_Consumer_Finance_2 + MTV_fi_2 + Otavamedia_fi_2 + Readpeak_2 + Ruutu_fi_2 + SanomaVerkkomedia_2 + tori_fi_2 + DART_Search_Google_1 + Strossle_FI_2 + SanomaVerkkomedia_1 + Ruutu_fi_1 + Alma_1 + tori_fi_1 + DART_Se

[2017-12-05 01:19] AlexYoung757 commented on #1144
@duttashi  thank for your help. and  i am very very grateful to you

R version 3.4.2 (2017-09-28)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

Matrix products: default

locale:
[1] LC_COLLATE=Chinese (Simplified)_China.936
[2] LC_CTYPE=Chinese (Simplified)_China.936
[3] LC_MONETARY=Chinese (Simplified)_China.936
[4] LC_NUMERIC=C
[5] LC_TIME=Chinese (Simpl

[2017-12-10 14:07] jcorrean commented on #47
@kevinykuo I am facing the same problem even though I am working with the latest R release... Here's my session info
R version 3.4.3 (2017-11-30)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu 16.04.3 LTS

Matrix products: default
BLAS: /usr/lib/libblas/libblas.so.3.6.0
LAPACK: /usr/lib/lapack/liblapack.so.3.6.0

locale:
 [1] LC_CTYPE=en_US.UTF-8       LC_NUMERIC=C
 [3] LC_TIME=es_CO

[2017-12-11 16:56] raviladhar commented on #200
[code]

when I tried first time my code was working fine, but after restarting the kernal, my code is having this issue?
any Idea why I am getting this issue?

[2017-12-12 03:08] leeivan commented on #287
I choose the model as "local",So I just used:
config$`sparklyr.shell.driver-memory` <- "50G"
It is working for me.

[2017-12-12 14:54] aroyyuru1 opened #1168 "Failing to ready S3 parquet files in Spark using Sparklyr package"
We have an RStudio Server with spakrlyr with Spark installed locally. Our data is sitting in an S3 bucket (parquet files) and we can't make Spark see the files in S3.

R is able to see the files in S3, we can read directly from S3 and copied them to the local environment, but we can't make Spark read them when using sparklyr. We are using version 3.4.3 of R and the latest version of sparklyr (0.6.

[2017-12-13 21:27] jajimenezf commented on #1088
Hey @kevinykuo.

I'm still having the same problem

Error in gzfile(file, "rb") : cannot open the connection
In addition: Warning message:
In gzfile(file, "rb") :
  cannot open compressed file 'path/metadata.rds', probable reason 'No such file or directory'

I'm attaching the session info

R version 3.2.3 (2015-12-10)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu 16.04.3 LTS

locale

[2017-12-13 21:29] kevinykuo commented on #1088
@jajimenezf you'll need to use the dev version and save/load the model again. You can install via `devtools::install_github("rstudio/sparklyr")`.

[2017-12-15 18:02] jajimenezf commented on #1088
Hi @kevinykuo thank you so much for the suggestion. I tried it and I was able to save the file without any problem but I'm not being able to load it yet.

I'm getting the following error:

Error in open.connection(con, "rb") : cannot open the connection
In addition: Warning message:
In open.connection(con, "rb") :
  cannot open file '/tmp/model/metadata/part-00000': No such file or directory

but

[2017-12-18 23:15] LrMahesh opened #1170 "spark-shell execution error"
# Reporting an Issue with sparklyr

For general programming questions with `sparklyr`, please ask on
[Stack Overflow](http://stackoverflow.com) instead.

Please briefly describe your problem and, when relevant, the output you expect.
Please also provide the output of `utils::sessionInfo()` or
`devtools::session_info()` at the end of your post.

If at all possible, please include a [minimal, reprod

[2017-12-19 14:31] mattpollock opened #1171 "Can the sparklyr jars be rebuilt (at least for spark 2 versions)?"
This will support using read schemas where the data type is `long` given this addition: https://github.com/rstudio/sparklyr/blob/master/inst/livy/spark-1.5.2/sqlutils.scala#L31

Trying to read longs as doubles (using the read schema) seems to cause issues:
[code]

[2017-12-19 15:25] javierluraschi commented on #1171
My recommendation here would be to deprecate the `schema` parameter in Spark 1.5.2 by checking for the parameter to be not null and the version to be less than 1.6 and calling stop() with an error message.

Very few people are using 1.5.2 and is not officially supported. Most functionality works in 1.5 but we make no claim or guarantee that it will work.

In general, we do support multiple jars pe

[2017-12-19 15:37] AkhilNairAmey commented on #919
Hi @javierluraschi,

I'm seeing this again on the current master (`d49ea49`). The fix you made was definitely pulled in (the commit message is still there on `R/core_invoke.r`), but the `Dockerfile` above fails again.  I just changed the `ref` to make sure:

[code]

Apologies to reopen this.

[2017-12-19 16:04] AkhilNairAmey opened #1172 "Segfault on reinitialising connection - Reopened"
Hi,

Posting a new issue as I can't seem to reopen the old one.

For some reason, #919 seems to have cropped up again.  I posted a `Dockerfile` reproducing the error which passed with the initial fix.  The same branch (`bugfix/reconnect-sigpipe`) which included a fix (and previously passed) now fails - with some additional spurious warnings, possibly from the `yaml` package.

The Dockerfile includ

[2017-12-19 17:05] mattpollock commented on #1171
I may be confused here. What I'm trying to support is specifying `LongType` for read schemas using spark 2.2 (e.g., like https://github.com/mitre/sparklyr.nested/blob/master/R/data_types.R#L83 but for `long`s)

The only place where I found the `SQLUtils` class was in the `inst/livy/spark-1.5.2` directory and so added a long type there in the PR from the other day. I supposed that the naming conven

[2017-12-19 18:12] kevinykuo commented on #1171
Currently the way to make changes to the Scala code is in the `java/` directory, e.g. https://github.com/rstudio/sparklyr/blob/master/java/spark-1.5.2/sqlutils.scala. Then you'll want to run https://github.com/rstudio/sparklyr/blob/master/configure.R to update the other directories appropriately and compile.

Regarding the naming scheme, it works exactly like you guessed, e.g. `spark-VERSION` mean

[2017-12-19 21:44] mattpollock commented on #1171
Thanks very much @kevinykuo. I added a PR with the change (works for any spark version since `long` was always supported by spark) in https://github.com/rstudio/sparklyr/pull/1173. With your help I was able to rebuild `sparklyr` jars for my own use, though a commit (assuming the PR is merged) of rebuilt jars after the merge would make the change more easily used by others.

[2017-12-19 22:20] #1168 closed

[2017-12-19 22:21] javierluraschi commented on #1171
I'll rebuild the jars, thanks for the follow up!

[2017-12-19 22:21] #1171 closed

[2017-12-20 17:48] mattpollock commented on #1171
Thanks very much for the update!

[2017-12-21 12:45] iamkbpark opened #1176 "[ft_stop_words_remover()] How to apply custom stopwords?"
I do appreciate the new `ft_stop_words_remover()`! Just wondered if there is any way to build additional custom stopwords to use it together with `ft_stop_words_remover()`.
This is how I normally do in R.

` STOP_TOTAL <- unique (c(tm::stopwords('en'), CUSTOM_STOP))`
`CORPUS_CLEAN <- CORPUS_ALL %>%  tm_map (removeWords, STOP_TOTAL)`

I wonder if the similar tactic is available in `sparklyr`. Thank

[2017-12-22 18:12] kevinykuo commented on #1176
If you're using dev sparklyr you can pass a vector to `stop_words`, e.g.
[code]

You can also augment your stop words with `ml_default_stop_words()`:
[code]

[2017-12-22 18:24] chatty1406 commented on #1125
I have a similar problem when I try to run the example spark_apply code.

[code]

[code]

[code]

Please advice

[2017-12-22 21:02] javierluraschi commented on #1125
@chrisvwn the issue in `kms` is that it is assuming that `idLogs` is a Spark Dataframe, it's not. `spark_apply()` takes R data frames, so rather than writing code that uses sparklyr to compute `kmeans`, you would use plain R code using, say, the `kmeans` R function.

Alternatively, you could also avoid using `spark_apply` and rather use `ml_kmeans()` which would compute kmeans for you in Spark dir

[2017-12-22 21:05] javierluraschi commented on #1125
@chatty1406 your post contains `sparklyr worker rscript failure with status 255, check worker logs for details.`, therefore, we need to find what the issue is in the logs (see chrisvwn post above providing the logs). Also, could you share your connection statement `sc <- spark_connect(...)`. Thanks.

[2017-12-22 21:41] chrisvwn commented on #1125
@javierluraschi Not to sound ungrateful but I wish I had got this input a few weeks ago??? I am pretty sure I also tried treating idLogs as a data.frame but I may have encountered a different issue at that point.

I ended up using the SparkR package.

[2017-12-23 13:44] iamkbpark commented on #1176
It works beautifully! Thank you for your help!

[2017-12-23 17:12] javierluraschi commented on #1125
@chrisvwn sorry for the delay, I usually work on github issues in blocks of time, this is usually fine but if you ever need a faster turnaround, you can ping me on https://gitter.im/rstudio/sparklyr to chat realtime. Cheers!

[2017-12-23 17:12] #1125 closed

[2017-12-24 04:04] iamkbpark commented on #585
@kevinykuo  `sdf_coalesce()` solved the problem for me.

[2017-12-24 11:12] harryprince commented on #362
@TarasDerevianko I am seeking XGboost on sparklyr too

[2017-12-26 21:10] mmshaikh88 opened #1177 "nice"
# Reporting an Issue with sparklyr

For general programming questions with `sparklyr`, please ask on
[Stack Overflow](http://stackoverflow.com) instead.

Please briefly describe your problem and, when relevant, the output you expect.
Please also provide the output of `utils::sessionInfo()` or
`devtools::session_info()` at the end of your post.

If at all possible, please include a [minimal, reprod

[2017-12-28 20:31] #1157 closed

[2017-12-28 20:35] fiona-wang commented on #1157
as.tbl(dataset)

# A tibble: 8 x 2
  probability prediction
       <list>      <dbl>
1   <dbl [2]>          0
2   <dbl [2]>          0
3   <dbl [2]>          0
4   <dbl [2]>          0
5   <dbl [2]>          1
6   <dbl [2]>          0
7   <dbl [2]>          0
8   <dbl [2]>          1

And I can not copy_to(sc,data)

[2018-01-01 04:38] duttashi commented on #825
@nagarjunacheruku and @toyeiei, @javierluraschi

I cannot reproduce the errors. Updating the sparklyr version to 2.1.0 can help resolve this issue.

[code]

[2018-01-02 16:27] javierluraschi commented on #1177
@mmshaikh88 missed repro?

[2018-01-02 16:27] #1177 closed

[2018-01-04 01:50] raphaelvannson opened #1178 "Creating a custom function in scala used after `group_by`"
Hello,

*This is a question, not a bug report.*

I would like to write a custom function in scala and use it in simple `group_by` chain.

The idea is that it would operate exactly like this example:
[code]

... but I would use `my_custom_function` to calculate the results instead (the custom function would run an optimizer on each group or rows given by `group_by()` and return the last value of th

[2018-01-04 22:49] edgararuiz opened #1179 "dbplyr & sparklyr - `compute()` returns error, but it still creates the new table"
Cross-referencing: https://github.com/tidyverse/dplyr/issues/3285

cc @hadley

[2018-01-05 04:36] #1176 closed

[2018-01-05 14:52] kevinykuo opened #1180 "Expose developer API for extending pipelines"
To allow for sparklyr extensions that leverage custom transformers and other packages

[2018-01-05 15:20] chatty1406 commented on #1125
@chrisvwn Here are the details that you asked for -

**Connection statement:**

[code]

**Spark Logs:**
[code]
I hope this is sufficient.

[2018-01-05 15:40] kevinykuo commented on #1125
Looks like the relevant error is
[code]

@chatty1406 this could be due to your running an older version of R than `rlang` is compiled on. I'd try installing from source via `install.packages("rlang", type = "source")` on your driver node or upgrading R throughout the cluster.

@javierluraschi have you hit this before?

[2018-01-05 16:23] chatty1406 commented on #1125
@kevinykuo I tried installing "rlang" from source, still the same error.

[2018-01-05 20:32] javierluraschi commented on #1125
@chatty1406 mind opening a new issue for the problem you are experiencing?

Does running `broom::tidy(lm(Petal_Width ~ Petal_Length, iris))` work correctly on the main machine, is the cluster homogeneous (same machine types as the master node across the cluster)? Are other packages broken in the worker nodes or os this specific to `broom`?

https://github.com/tidyverse/rlang/issues/194 mentions a

[2018-01-08 07:19] datalee commented on #362
@harryprince i know h2o have the xgb,you can try.

[2018-01-08 07:39] kevinykuo commented on #362
This should be possible utilizing https://github.com/dmlc/xgboost/blob/master/jvm-packages/xgboost4j-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/XGBoostEstimator.scala after https://github.com/rstudio/sparklyr/issues/1180 is resolved.

[2018-01-08 09:15] schlichtanders opened #1181 "How to get companion object?"
with neither ``invoke``, ``invoke_static``, ``invoke_new`` I was able to get access to the companion object.

Is there a standard access pattern, which I am just missing?

For instance with the following, how to get the static object ``Foo`` from sparklyr?
[code]

[2018-01-08 09:34] schlichtanders opened #1182 "NullPointerException: Cannot call attribute on companion object which is also defined on class"
sparklyr seems confused when a ``val`` is implemented on both companion object and respective class.

Here a minimal working example. Implementation on scala side:
[code]
And respective call on R side:
[code]
The last statement fails with Error
[code]

[2018-01-08 09:40] schlichtanders opened #1183 "Cannot access java Enums"
I haven't found a way to access Enum values, for instance on ``org.apache.spark.sql.SaveMode.Overwrite``

the for me most intuitive version
[code]
gives the following error
[code]
neither works ``invoke_new(sc, "org.apache.spark.sql.SaveMode", "Overwrite")`` or ``invoke_new(sc, "org.apache.spark.sql.SaveMode.Overwrite")`` or ``invoke_new(sc, "org.apache.spark.sql.SaveMode")``

[2018-01-08 09:50] schlichtanders commented on #1181
My current workaround is to add ``val self = this`` to the object which luckily can be accessed
i.e. with ``object Foo { val self = this; val a: Int = 99}``
I can run
[code]

[2018-01-08 17:41] chatty1406 commented on #1125
@javierluraschi Thanks for the reply.
This issue is not specific to broom, it's with everything. I'm in the process of reinstalling R on the cluster. Will open a new issue, if this problem persists.
Thanks.

[2018-01-08 19:50] randomgambit opened #1184 "Error: Unexpected state in sparklyr backend, terminating connection: failed to invoke spark command"
Hello,

Using the latest master `sparklyr`, and I came across this strange bug.
Consider this simple code:

[code]
but now using `collect()` and everything falls apart

[code]

What is wrong here? How can I get my data back?
Thanks!!

[2018-01-09 12:11] randomgambit commented on #1184
@javierluraschi @kevinykuo does this have to do with the fact that I am using dates?
I also tried

[code]
and it fails the same way... what can be done??

Thanks!

[2018-01-09 19:17] kevinykuo opened #1185 "Consider exporting ml_set_param()"

[2018-01-09 19:18] kevinykuo opened #1186 "ml_param() and ml_summary() have different defaults for allow_null"

[2018-01-09 19:19] kevinykuo opened #1187 "More checks on hyperparameters on R side"
Things like bounds on regularization params and link-family compatibility.

[2018-01-09 19:20] kevinykuo opened #1188 "Documentation/examples on model tuning"

[2018-01-09 20:04] kevinykuo opened #1191 "Include index to string transformation in canned ML pipelines"
Right now this is only handled in `ml_transform()` methods for `ml_model` objects, it'd make life easier if `ml_save()` captures the end-to-end transformation instead of having users manually construct a `ft_index_to_string()` transformer.

[2018-01-09 21:49] randomgambit commented on #1184
@javierluraschi @kevinykuo could it be the size of the data being too big? but I dont understand the serialization thing in the error message

[2018-01-09 21:51] randomgambit commented on #1184
@javierluraschi @kevinykuo could it be the size of the data being too big? but I dont understand the serialization thing in the error message

[2018-01-09 22:39] kevinykuo opened #1192 "Consider officially supporting `features` and `response` arguments in ml_ routines"
With the new API we've soft-deprecated `features` and `response` in favor of the formula interface, which supports interactions [among other things](https://spark.apache.org/docs/2.2.0/ml-features.html#rformula). These arguments are still respected for backwards compatibility. I'm thinking about bringing these back as officially supported, mainly for the use case where users manipulate a long feat

[2018-01-09 22:46] edgararuiz commented on #1192
I'm trying to picture how would that work, any examples?

[2018-01-09 22:51] kevinykuo commented on #1192
Basically something like
[code]
works but is undocumented (and hence "discouraged"). This issue discusses whether to document this usage and guarantee that it'll work in the future.

[2018-01-09 22:57] edgararuiz commented on #1192
Doesn't `tensorflow` packages follow a similar way to train models?  If so, I think we may need to keep.

[2018-01-09 23:01] kevinykuo commented on #1192
Yeah that's what prompted me to revisit this actually. I'll have these documented then so we'll have a somewhat consistent UX.

[2018-01-10 18:04] javierluraschi opened #1194 "Investigate serialization with time zones"
Serialization was improved for date and times, but we are missing to add a few time zone related test and validate this works as expected even with time zone differences.

[2018-01-10 18:09] rblenin opened #1195 "rowwise operations on spark dataframes"
How would we do something similar to the apply and percent_rank functions of R (as shown below) in sparklyr? I would like to find percentile rank rowwise for a spark dataframe.

[code]

[2018-01-10 19:39] javierluraschi commented on #1195
With `spark_apply()`:

[code]
[code]

[2018-01-10 20:12] rblenin commented on #1195
Superb! Thank you so much!

[2018-01-10 20:17] kevinykuo commented on #1142
@Mustufain yeah I think this can be implemented. Will work on it.

[2018-01-10 20:25] kevinykuo opened #1196 "Investigate test failures for IDF and Word2Vec under 1.6"

[2018-01-10 22:03] #1191 closed

[2018-01-10 22:03] #1192 closed

[2018-01-10 22:03] #1196 closed

[2018-01-10 23:18] crocker456 commented on #1172
I also experienced this same error.  really discouraging was working not too long ago.

[2018-01-11 07:24] kevinykuo commented on #1088
@jajimenezf could you update to the latest devel and see if your code works locally (with a subset of data if it's large)? Want to see if it's a Databricks specific issue so we can better look into it.

I'm also guessing you passed `sc` to `ml_load()`.

[2018-01-11 07:28] kevinykuo commented on #1183
@schlichtanders Thanks for all the Scala interop issues you filed lately. We're currently working through a list of things for the 0.7 release but will definitely take a look at these issues.

[2018-01-11 10:32] AkhilNairAmey commented on #1172
@crocker456 apologies if you already know this, but you can put a `Sys.sleep(10)` before the reinit of the connection to avoid the error in the short term, so it's not all bad :)

[2018-01-11 15:42] chatty1406 commented on #1125
@javierluraschi @kevinykuo Thanks for the inputs. The issue has been resolved after updating R on all the nodes of my cluster.

[2018-01-11 15:43] kevinykuo commented on #1125
@chatty1406 sweet, thanks for reporting back!

[2018-01-11 18:07] chatty1406 opened #1198 "glimpse doesn't work"
I get an error in FormatC when I try to run glimpse()

[code]

[code]
[code]

[2018-01-11 18:45] kevinykuo commented on #1198
This is the breaking change: https://github.com/tidyverse/dbplyr/commit/fee710b362fc3d9f0a634a25517c5093a5d72697

`nrow()` and `ncol()` return `NA` in sparklyr --- see discussion here https://github.com/tidyverse/tibble/issues/285 and https://github.com/rstudio/sparklyr/pull/890

One workaround would be to modify `glimpse.tbl()` with something like
[code]
which would result in this behavior
[code]

[2018-01-11 20:55] kevinykuo opened #1200 "wrapped array columns don't serialize properly"
E.g.
[code]
This blocks LSH functions in https://github.com/rstudio/sparklyr/issues/1092

[2018-01-11 21:03] kevinykuo commented on #1129
Depends on https://github.com/rstudio/sparklyr/issues/1092

[2018-01-12 10:39] schlichtanders commented on #1172
@crocker456 @AkhilNairAmey can you specify a previous sparklyr version which still worked?

[2018-01-12 10:40] schlichtanders commented on #1172
(the 10 seconds sleep does not work for me in some cases)

[2018-01-12 12:26] AkhilNairAmey commented on #1172
@schlichtanders, The `@bugfix/reconnect-sigpipe` ref previously contained the fix and worked.  This is unfortunately no longer the case, and it's unclear to me why (which is why I reopened the issue).
I can't help more than that (unless you provide a bit more info about your case) as the sleep is sufficient for me.

[2018-01-12 16:01] hadley commented on #1198
Maybe sparklyr should just provide its own `glimpse()` method?

[2018-01-12 16:12] kevinykuo commented on #1198
@hadley we could do that, but I'm curious how the other backends are handling it since `dbplyr` also returns `NA` for `nrow()`? Do they provide their `glimpse()` methods also?

[2018-01-12 16:19] hadley commented on #1198
Hmmm, we'll there's one bug in sparklyr at least - it should return `NA_real_` (or maybe `NA_integer`) not `NA`. That would allow `glimpse()` to work without error (although you'd still get `NA` instead of `?`)

[2018-01-12 16:55] hadley commented on #1198
Why would it still error? In that case `nrow()` should return 0.

[2018-01-12 17:09] kevinykuo commented on #1198
`nrow()` would return `NA_real_` which is fine but `ncol()` returning `NA_real_` will break https://github.com/tidyverse/tibble/blob/3e2ca75a52e164d3d5038770917c4a9e3c07fb4e/R/glimpse.R#L39

[2018-01-12 18:19] hadley commented on #1198
Oh ok, in that case we should probably patch in `tibble()` too

[2018-01-13 14:55] hadley commented on #1198
@kevinykuo do you think you could prepare a test case for tibble? i.e. a simple S3 class that inherits from data frame and returns `NA_integer_` or `NA_real_` for `nrow()` and `ncol()`? I think that's the safest way to prevent this issue from cropping up again.

We're planning a tibble release in the near future, so if we hustle we should be able to get it in.

[2018-01-13 17:54] kevinykuo commented on #1198
@hadley to confirm, do we want to print `?` for "Observations" and "Variables" in tibble in cases where `NA_*` is returned? (https://github.com/tidyverse/dplyr/issues/3099)

[2018-01-14 01:51] sdanielzafar opened #1210 "Issue accessing remote Spark standalone cluster using livy"
I'm trying to access a remote spark cluster using livy, but it seems that the spark context being created is `local` and not the `spark://` cluster address. I have `$SPARK_HOME/conf/slaves` listing the worker nodes.
[code]
In the spark context UI we see:
![image](https://user-images.githubusercontent.com/15932833/34911994-87d6c058-f892-11e7-98ad-814f5474ad08.png)

How can I connect to the full spa

[2018-01-14 13:34] hadley commented on #1198
Yeah, I think that's a nice feature

[2018-01-14 19:24] randomgambit commented on #1184
@javierluraschi @kevinykuo sorry guys to ask again, but that seems to be a pretty basic command here. Any ideas what is wrong? Thanks again for your time!

[2018-01-15 13:07] bernhardschaefer opened #1213 "yarn-client spark_disconnect(sc) not working in sparklyr > 0.6.2"
In sparklyr v0.6.3 & v0.6.4 in `yarn-client` mode, `spark_disconnect(sc)` does not shutdown the actual Spark job.
The Spark job is still listed as "RUNNING" in the resourcemanager. Even when killing this yarn application, the Spark driver Java process keeps running on the node where the sparklyr session has been created.

In sparklyr v0.6.2, the whole Spark job gracefully shuts down when `spark_di

[2018-01-15 22:18] kevinykuo commented on #1198
@hadley do you have a quantified timeline for the tibble release? We'll probably push sparklyr 0.7 around this weekend and want to plan accordingly.

[2018-01-16 06:15] #1142 closed

[2018-01-16 06:34] kevinykuo opened #1215 "ml_model_clustering need prediction methods"

[2018-01-16 07:06] kevinykuo commented on #1215
See https://stackoverflow.com/questions/48227175/how-to-best-assign-predicted-k-means-clusters-to-original-data

[2018-01-16 07:27] #1200 closed

[2018-01-16 07:43] #1215 closed

[2018-01-16 07:48] kevinykuo commented on #1184
May be a date de/serialization issue. Could you try to collect just one row? If that fails could you provide a small sample file?

[2018-01-16 08:36] nifi-custom commented on #1119
In external cluster we use H2O cluster running separately from the rest of Spark application. This separation gives us more stability since we are no longer affected by Spark executors being killed, which can lead as in previous mode to h2o cloud kill as well.

Running h2o as a external cluster mode works very well.

[2018-01-16 11:43] Tutuchan opened #1219 "Incorrect return values using current_timestamp and to_date"
Hi,

Thanks for all the hard work on **sparklyr**, it makes it so easy to do analysis and exploration on Spark.

I just noticed a discrepancy using the Hive functions current_timestamp and to_date between R and Scala. This might be related to #941.

Basically, when converting a timestamp to a date in Spark via sparklyr, the date obtained is the day prior to the date indicated in the timestamp. I a

[2018-01-16 13:07] randomgambit commented on #1184
Thanks @kevinykuo

May be as date de/serialization issue indeed. Pulling a smaller set of data works:

[code]

What do you think? Is there an easy fix? What is the problem with serialization here?

Thanks!

[2018-01-16 15:43] kevinykuo commented on #1194
May be related: https://github.com/rstudio/sparklyr/issues/1219

[2018-01-16 17:38] kevinykuo opened #1221 "sdf_bind_cols() is failling with dev rlang"
[code]

[2018-01-16 17:51] javierluraschi commented on #1213
@bernhardschaefer we haven't been able to reproduce this issue, which Spark distribution you are using? Standalone? Cloudera? EMR? Hortonworks?

[2018-01-16 18:36] #1198 closed

[2018-01-16 19:37] javierluraschi commented on #1219
We improved serialization for `sparklyr 0.7` that fixes this issue, thanks for reporting it. Output under `sparklyr 0.6.4-9901`:

<img width="562" alt="screen shot 2018-01-16 at 11 35 34 am" src="https://user-images.githubusercontent.com/3478847/35008497-8dd80b8a-fab1-11e7-94fb-6c6782367c9e.png">

<img width="301" alt="screen shot 2018-01-16 at 11 35 40 am" src="https://user-images.githubuserconte

[2018-01-16 19:37] #1219 closed

[2018-01-16 20:35] javierluraschi commented on #1056
@AkhilNairAmey looks fixed in latest devel version. However, rather than using `copy_to` I'm using `spark_apply()`. The problem with `copy_to()` is that is does not yet fully support date/times and copying large datasets so it should be avoided in most cases. Most clusters already have data in them so `copy_to()` is usually used in prototypes, etc and less on production environments with data that

[2018-01-16 20:35] #1056 closed

[2018-01-16 20:50] javierluraschi commented on #1128
@kevinykuo parameters on the closure are currently not named: https://github.com/rstudio/sparklyr/blob/master/R/worker_apply.R#L84-L98

So the example from #1107 already works an expected:

[code]
[code]

Maybe at some point they were named parameters? In any case, looks like this is good for now.

[2018-01-16 20:50] #1128 closed

[2018-01-16 20:56] kevinykuo opened #1223 "Implement FP-Growth"

[2018-01-16 21:12] #1221 closed

[2018-01-17 04:27] kevinykuo opened #1227 "Consider implementing & exporting companion helper functions for ml_ and ft_ models"
Similar to `ml_recommend()` for ALS models, we should have helper functions for other routines so users can write e.g.
```ml_approx_nearest_neighbors(lsh, tbl, key, 2)```
instead of
```lsh$approx_nearest_neighbors(tbl, key, 2)```
This would make these features more discoverable as they would have first-class documentation.

[2018-01-17 05:51] #1194 closed

[2018-01-17 07:39] #1092 closed

[2018-01-17 09:50] bernhardschaefer commented on #1213
Hortonworks HDP-2.6.1.0 with Spark 2.1.1.
For a full list of component versions see: https://docs.hortonworks.com/HDPDocuments/HDP2/HDP-2.6.1/bk_release-notes/content/comp_versions.html.

[2018-01-17 09:54] bernhardschaefer commented on #1213
I tried to further debug this issue.
It seems to me like sparklyr has issues finding the matching Spark job.
E.g. spark_web(sc) opens the Spark UI of the wrong Spark application from another user.

The following shows the console output of everything I ran:

[code]

[2018-01-17 10:12] bernhardschaefer commented on #1213
So I redid everything from the last comment with sparklyr 0.6.2.
The issue with `spark_web()` pointing to the wrong Spark application remains.
However, `spark_disconnect(sc)` now works.

[code]

[2018-01-17 13:26] schlichtanders opened #1230 "NullPointerException when accessing scala object members with override"
custom scala code linked to R library "test"
[code]

Execution from R with sparklyr
[code]
(The very same errors appear if the ``override val`` members are made to ``override def`` members)
(I also tested that the variables are accessible when tried from scala side directly - no problem at all on scala side)

------------------------

As you can see with `X` and `Y`, I am unable to access members

[2018-01-17 14:22] #1223 closed

[2018-01-17 15:39] kevinykuo commented on #976
Closing this one. Now we have `nrow()` returning NA (`NA_real_`) and `ncol()` returning a value to be consistent with other backends. Note that `ncol()` can still be expensive.

[2018-01-17 15:39] #976 closed

[2018-01-17 15:40] #1179 closed

[2018-01-17 15:44] #65 closed

[2018-01-17 15:46] kevinykuo commented on #252
Marking this as high priority; will get this on the timeline after 0.7 release.

[2018-01-17 15:49] kevinykuo commented on #537
Closing to track at https://github.com/r-dbi/DBI/issues/75

[2018-01-17 15:49] #537 closed

[2018-01-17 15:52] kevinykuo opened #1231 "Provide tidyr functions"
Tracking tidyr feature requests here

https://github.com/rstudio/sparklyr/issues/863
https://github.com/rstudio/sparklyr/issues/830
https://github.com/rstudio/sparklyr/issues/252

[2018-01-17 15:52] #863 closed

[2018-01-17 15:52] #830 closed

[2018-01-17 15:52] #252 closed

[2018-01-17 15:55] kevinykuo commented on #844
These have been OK from what I've seen. Closing.

[2018-01-17 15:56] #844 closed

[2018-01-17 15:57] kevinykuo commented on #1077
Closing, feel free to file another one if this is still an issue.

[2018-01-17 15:57] #1077 closed

[2018-01-17 16:02] javierluraschi commented on #1127
A few more...

1. Error: ml_model_kmeans can be used with ml_predict() (@test-ml-clustering-
java.lang.IllegalArgumentException: Could not parse formula: ~. - Species
2. Failure: ft_chisq_select() works properly (@test-ml-feature-chisq-selector
dplyr::pull(result, selectedFeatures) not equal to list(18, 12, 15).
3. Error: ft_max_abs_scaler() works properly (@test-ml-feature-max-abs-scaler
java.lan

[2018-01-17 16:15] kevinykuo commented on #1127
Taking a look at the ml related failures

[2018-01-17 16:57] javierluraschi opened #1233 "tidyr"
Related:
 - https://github.com/rstudio/sparklyr/issues/1640

and in general: [tidyr labeled issues](https://github.com/rstudio/sparklyr/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3Atidyr+)

[2018-01-17 16:58] javierluraschi commented on #1231
Here a tracking item for this under the sparklyboard: https://github.com/rstudio/sparklyr/issues/1233 - I wonder how far we are after fixing this issue to call `tidyr` fully implemented.

[2018-01-17 17:40] javierluraschi commented on #1213
Sounds good, will push a fix for `spark_web()` then. There is a new API in Spark 2.x that makes this much more reliable.

[2018-01-17 18:43] #1213 closed

[2018-01-17 20:21] javierluraschi commented on #1210
@sdanielzafar is the `livy.conf` file correctly configured? For isntance, you might need to add `livy.spark.master=yarn-client` to this file.

See https://livy.incubator.apache.org/get-started/ and https://docs.hortonworks.com/HDPDocuments/HDP2/HDP-2.6.1/bk_command-line-installation/content/configure_livy.html

[2018-01-17 20:26] #1127 closed

[2018-01-17 21:55] georgegui opened #1239 "weighted average function"
I'm trying to write a weighted average function that ignores the NA. As Spark SQL already has some basic aggregation function, I'm wondering whether there is a good way to invoke those functions and pack them into other R equivalent functions such as weighted.mean.

---
[code]
It would be nice to have:

[code]

Thanks!

[2018-01-17 22:50] #1129 closed

[2018-01-17 23:02] kevinykuo opened #1240 "Add VectorIndexer"
Missed this one!

https://spark.apache.org/docs/latest/api/scala/index.html#org.apache.spark.ml.feature.VectorIndexer

[2018-01-18 00:32] #1172 closed

[2018-01-18 00:33] javierluraschi commented on #1172
@AkhilNairAmey fix available under `sparklyr 0.6.4-9904`

[2018-01-18 04:47] sdanielzafar commented on #1210
@javierluraschi  my question is whether I can use livy with Spark Standalone instead of YARN. I am going through the motions of installing and setting up YARN right now...but Spark Standalone is much easier to implement..

[2018-01-18 08:14] #1227 closed

[2018-01-18 10:02] bernhardschaefer commented on #1213
Hi @javierluraschi, thanks for the fast fix.
I can confirm that `spark_web(sc)` works with this fix.
However, the problem with `spark_disconnect(sc)` not working still remains.

[2018-01-18 10:39] schlichtanders commented on #1172
thanks you so much!

[2018-01-18 19:33] kevinykuo opened #1247 "Add ml.stat functions"
https://spark.apache.org/docs/latest/api/scala/index.html#org.apache.spark.sql.DataFrameStatFunctions

[2018-01-18 19:33] kevinykuo commented on #1247
Also https://spark.apache.org/docs/latest/api/scala/index.html#org.apache.spark.ml.stat.package

[2018-01-18 19:37] kevinykuo opened #1248 "Skip tests on CRAN by default"

[2018-01-18 19:52] #1240 closed

[2018-01-18 22:09] kevinykuo opened #1249 "ft_dplyr_transformer() fails when rendered SQL doesn't quote table name with backticks"
E.g. with the below we're currently matching `` `flights` `` but not `flights` so the resulting statement passed to `ft_sql_transformer()` is incorrect.

[code]

cc @edgararuiz

[2018-01-18 23:05] kevinykuo opened #1251 "Provide informative error when formula is passed to ml_ routines when first argument is not tbl_spark"
Error on `pipeline %>% ml_logistic_regression(target ~ predictor)` instead of returning a pipeline.

[2018-01-18 23:29] #1249 closed

[2018-01-19 18:45] #1075 closed

[2018-01-19 20:17] #1186 closed

[2018-01-19 20:17] #1251 closed

[2018-01-19 21:23] ckrietemeyer opened #1258 "spark_write_table() unable to append to existing Hive table"
Current Spark version 2.2.0

Ran into an error when using spark_write_table() to append new rows to an existing Hive table using the code below:
`sdf_copy_to(sc, append_table, "spark_append", overwrite = TRUE) `
`sdf_append_table <- tbl(sc, "spark_append")`
`spark_write_table(sdf_append_table, "calendar", mode = "append")`

The following error was generated from the above code:
`Error: org.apache.

[2018-01-19 22:43] kevinykuo commented on #1088
There seems to be some issues reading models saved into HDFS. Will investigate.

[2018-01-19 22:43] kevinykuo commented on #1070
Close to track in https://github.com/rstudio/sparklyr/issues/1088

[2018-01-19 22:43] #1070 closed

[2018-01-19 23:10] JohnMount opened #1259 "compute() fails"
dplyr::compute() is failing throughout my Sparklyr work lately.  Below is a simple example.

[code]

[2018-01-20 00:18] javierluraschi commented on #1259
@JohnMount should be fixed in recent builds, will push to CRAN in the next few days.

[2018-01-20 00:18] #1259 closed

[2018-01-20 00:20] javierluraschi commented on #1258
@ckrietemeyer thanks for opening this one.

[2018-01-20 00:46] javierluraschi opened #1261 "Consider using default formula in all ml functions"
Works on `sparklyr 0.6.4`...

[code]

Not in `sparklyr 0.7.0`, would require:

[code]

[2018-01-20 05:57] kevinykuo commented on #1261
This is a necessary breaking change.

`ml_kmeans.tbl_spark()` does one of two things:
- If `formula` is not specified, it instantiates a `KMeans` estimator and immediately fits the estimator with the data, returning a `KMeansModel`. In this case it looks to the `features_col` argument for the vector column it should cluster on.
- If `formula` is specified, it creates a `Pipeline` where the first s

[2018-01-20 05:57] #1261 closed

[2018-01-20 07:03] #1088 closed

[2018-01-20 07:08] kevinykuo commented on #1088
@tKozDrivin @jajimenezf @yonofui

A fix to this has ben merged to master. We expect to have a CRAN release next week. If you're still having issues with saving/loading please file another issue and we'll prioritize it.

Note that if you're working on a cluster, you'll need to write to/load from hdfs/wasb/etc. If you saved a pipeline locally and want to load it in the cluster, you'll have to put th