[2018-07-17 17:10] kmace commented on #1602
Thanks!

[2018-07-17 17:10] #1602 closed

[2018-07-17 21:48] shabbybanks commented on #1591
As I understand it, it is a design goal to make the interface of `ml_logistic_regression` familiar to the `R` user. In that regard it's behavior should be as close to `glm` as possible. Remapping labels would violate the principle of least surprise, and seems very dangerous to me.

For that matter, it might be worthwhile to consider what input `glm` accepts for labels. In my experimentation, I hav

[2018-07-17 22:15] shabbybanks commented on #1596
Sorry, this should not have been closed. #1597 fixes the case of 'no intercept', which you could use to 'fake' the intercept only model, I think. However, the following are all broken:
[code]
The first one, which is of interest here, gives the stack trace:
[code]
From what I can tell, `ml_generate_ml_model` thinks that `features_col` should be `'features'`, but that column does not exist in the da

[2018-07-18 09:37] schlichtanders commented on #1608
I think I found the corresponding spark ticket
https://issues.apache.org/jira/browse/SPARK-20525

so it seems to be just not supported out of the box, but no one up to now pushed a workaround unfortunately...
Maybe someone from sparklyr has an idea to circumvent this issue?

[2018-07-18 09:43] schlichtanders commented on #1608
I found kind of a workaround. It has to use UserDefinedFunctions, but it can then run arbitrary scala functions on DataFrames / rdds

https://stackoverflow.com/questions/38848847/define-spark-udf-by-reflection-on-a-string

[2018-07-18 12:15] andreysharapov commented on #1600
@javierluraschi
To answer your question

character(0)

[2018-07-18 19:31] javierluraschi commented on #1525
Implemented with https://github.com/rstudio/sparklyr/pull/1599

[2018-07-18 19:31] #1525 closed

[2018-07-19 00:21] javierluraschi commented on #1608
Right, it would be great to be able to run something like:

[code]

Seems like this shouldn't be that hard to implement with something like `scala.tools.reflect.ToolBox` that your reference.

However, I don't know yet if this would enable referencing Spark functions or map further down other scala transformations, as in:

[code]

That said, is worth investigating to see how far we get with `scala.

[2018-07-19 12:09] andreysharapov commented on #1600
@javierluraschi

Hi, do you have any suggestions here or you think it is related to our platform setup?

[2018-07-20 07:00] kevinykuo opened #1612 "testthat_spark_connection() contains an expectation"
https://github.com/rstudio/sparklyr/blob/master/tests/testthat/helper-initialize.R#L48

This causes the test count in testthat summary to be artificially inflated.

[2018-07-20 07:12] songpaper opened #1613 "Using a new spark dataframe in spark_apply"
I am calculating using two spark data frames 'df_join_sdf' and 'dqbew_sub_sdf'.

and,
I want to select the value in the first row of  'dqbew_sub_sdf'
after selecting the filter that matches the elements of each row in 'df_join_sdf'

I want to know if 'dqbew_sub_sdf' can not be used in the spakr_apply function, or if the usage is wrong.

Below is the actual execution code, sessioninfo, and error lo

[2018-07-20 08:40] kevinykuo opened #1614 "Clean up files after tests"
<img width="274" alt="screen shot 2018-07-20 at 4 38 08 pm" src="https://user-images.githubusercontent.com/5582151/42992596-91746cc2-8c3b-11e8-9de5-33e74fc8effa.png">

[2018-07-20 09:51] schlichtanders opened #1615 "Support complex DataFrame list columns to be mapped to Spark SQL array and struct respectively"
Dear sparklyr,

just stumbled upon that **sparklyr does not convert the list column of doubles to an array, nor the list column of lists to a struct column**
[code]
The ``df`` looks like below, i.e. you see that the type information for the complex columns are properly set.
[code]
Surprisingly, sparklyr cannot handle this, but throws an IllegalArgumentException
[code]
[code]

It looks like all the

[2018-07-20 17:51] kevinykuo opened #1616 "Printing error when coefficient bounds are specified for `ml_logistic_regression()`"
Need to handle printing of `jobj`s in pipeline stage summary
[code]

[2018-07-20 17:53] kevinykuo commented on #1616
Perhaps dense matrices and vectors should just serialize back to R as matrices and vectors.

[2018-07-20 18:03] kevinykuo opened #1617 "Consider not printing individual stage info for pipelines by default"
These could be potentially very long, maybe truncate or print a high level summary (# of stages) and defer printing to a `summary()` method or the like.

[2018-07-20 18:05] kevinykuo opened #1618 "Vector params are printed on separate lines with duplicate labels"
E.g. for `thresholds`

[code]

[2018-07-21 16:09] kevinykuo opened #1620 "Investigate broom tests"
Re: https://github.com/rstudio/sparklyr/commit/c0b6647d0134c34a2e195123e9941ae4cd842544

Doesn't seem serious but will take a look before release.

[2018-07-22 04:49] sahosa03 opened #1621 "spark_apply() of spaklyr does not work with tm library"
Hello,
I am trying to use 'tm' library functionalities with spark_apply() function of sparklyr.
I have created a sparkdataframe named as train from a text file:

train details:

 Source:   table<sparklyr_tmp_53c4b4abfe> [?? x 1]
 Database: spark_connection
  line
1 Thank you. To Mama Gra�a Machel,
2 "On Tuesday, xyz abc "

Then I have defined my customised function as:

**myfunction<-function(data

[2018-07-23 02:42] kevinykuo commented on #1615
We should try to support this. Separate but related, the functionality in sparklyr.nested should also be native, but we haven't decided what the best syntax/implementation ought to be.

cc @javierluraschi could we keep nested structures/listcols in mind when re-working the serialization?

[2018-07-23 09:42] Fubukimaru commented on #1547
Thanks for the support.

If I understood correctly, what you're saying is that `OneVsRest` doesn't inherit the parameters from the model you create it with, right?

In Java I'm able to do it this way:
[code]

Do you think there is a way to do so in R instead of instantiating N models?

Thanks!

[2018-07-23 09:50] kevinykuo commented on #1547
Ah! Didn't know you can do this. Thanks for pointing this out. I'll take a look.

[2018-07-23 13:38] kevinykuo commented on #1547
@Fubukimaru Did some investigation, the main finding is that we can't do this in sparklyr yet, but we'll implement it very soon.

Currently, users input the `estimator_param_maps` as a list as follows:
[code]

Here, each `stage` can be the partial `uid` of a stage in the pipeline, and the `param`/`value`s are the usual parameter-values pairs. What sparklyr is doing in the backend is exploding the

[2018-07-23 14:36] harryprince commented on #1621
you are expanding the original data frame to a long-format, which might occur some memory error at  some spark executors.

[2018-07-23 14:52] sahosa03 commented on #1621
Thank you for the suggestion.But I am running it in my local machine.
And the data set has only 2 rows,so I do not think memory issue is happening here.

Can you please suggest if you have any other solution for this issue.

[2018-07-24 10:51] andreysharapov commented on #1600
@javierluraschi

We have investigated and debugged this issue:
The default SQL catalog implementation for Spark 2.3.0 is "in-memory" instead of "hive". The sparklyr library cannot properly cope with correctly setting/enabling hive-support programmatically.

We added the following cluster-wide setting (via Ambari) to /etc/spark2/conf/spark-defaults.conf:
spark.sql.catalogImplementation hive

This i

[2018-07-25 16:58] javierluraschi commented on #1621
Tried this:

[code]

but get in the logs:

[code]

Which I replaced with:

[code]

and correctly then successfully ran:

[code]

[code]

Does this help?

[2018-07-25 17:57] sahosa03 commented on #1621
Thanks a lot !!I can see you have got the output I am looking for.

But when I run the below code in my laptop
myfunction<-function(data){
     library(tm)
     test<-Corpus(VectorSource(data))
      test<-tm_map(test,content_transformer(stripWhitespace))
      dtm<-DocumentTermMatrix(test)
      dtm<-as.matrix(dtm)
      dtm<-as.data.frame(dtm)
   return(dtm)
 }

**The below error is thrown:**
Er

[2018-07-25 18:13] sahosa03 commented on #1621
Thanks a lot for the help!! :)
When I run the below code,
myfunction<-function(data){
+     library(tm)
+     test<-Corpus(VectorSource(data))
+     test<-tm_map(test,content_transformer(stripWhitespace))
+     dtm<-DocumentTermMatrix(test)
+     dtm<-as.matrix(dtm)
+     dtm<-as.data.frame(dtm)
+     return(dtm)
+ }

**Result is :**
line    X2    X3    X4    X5    X6    X7    X8    X9
  <dbl> <db

[2018-07-25 21:03] sz-cgt opened #1623 "Why is db_explain() a NOOP?"
spark supports the EXPLAIN command but the `spark_connection` method of `db_explain` just returns an empty string

Why does sparklyr redefine this method instead of using the DBIConnection method?

[2018-07-27 03:00] ciasom opened #1624 "queue in livy_config"
Two issues here.

1. The documentation for function livy_config has 2 items with the name "queue":
[code]

2. The "queue" parameter doesn't work.
I tried something like the following to specify the queue, the connection is always in my default queue.
[code]
while I used "spark.yarn.queue" to set the queue name, it worked.
[code]

sparklyr version 0.8.4.
spark version 2.1.0

[2018-07-27 15:04] jadermcs opened #1625 "copy_to doesn't copy entire data"
When I try to import a data set to spark it does not copy entire data.

[code]

I'm using rstudio-server and a single node hadoop/spark enviroment.

[2018-07-27 15:09] kevinykuo commented on #1625
`copy_to()` will be redone with https://github.com/rstudio/sparklyr/pull/1611 which should resolve this. In the meantime, you can `spark_read_csv()` the input file directly.

[2018-07-27 16:04] kevinykuo opened #1626 "Update project website with current ML features"
http://spark.rstudio.com/mlib/ is a bit out of date and so is the references page

[2018-07-27 23:12] javierluraschi commented on #1621
The current version of `sparklyr` requires you to specify each column manually, you can run the latest version of sparklyr using:

[code]

[2018-07-27 23:22] javierluraschi commented on #1621
One note... `spark_apply()` requires each partition to return a data frame with the same columns, in this case, seems like it could be possible that each partition would generate a different document term matrix; if that's the case, you want to return tidy data, something like:

[code]

Instead of,

[code]

You can perform this transformation in R inside `spark_apply()`, in this case, the column w

[2018-07-30 15:53] pjatinsight commented on #76
HI, Can I ask a little more about this?
I'm hoping to be able to follow this approach but am finding it difficult.
The example above is grand when you know how many dataframes you have .. but what if you have a variable number of them?

In my case I'm trying to load a bunch of files of tweets.. one file per day.. each file with 100's of tweets and combine them into on big dataframe...

I've no ide

[2018-07-30 16:12] kevinykuo commented on #76
@pjatinsight have you tried just passing the directory to `spark_read_text()`?

[2018-07-30 16:18] pjatinsight commented on #76
Hi Kevin,
Thanks so much for taking the time to reply.

Ehh.. no I hadn't thought of doing that as the tweets are in json format.. so I'm using the streamr library to get the data into a dataframe so I can trim off excess columns etc...
Maybe I should look at spark_read_json ....

But wouldn't that kill my PC if it loads all of them at once?
I was trying to be cautious and load a file, pass it on

[2018-07-31 08:57] pjatinsight commented on #76
Hi Kevin,
Thanks, I'll try get the spark_read_json working ..
Our cluster doesn't have a local storage solution just yet.. our devops guys are just getting to grips with DC/OS etc...
So I'm developing on a laptop with 16Gb and using a local cluster on that machine for now..
Its an i7 so I've 3 or 4 cores to play with..
I'll work with a subset of the 400ish tweet files for now and just get the POC

[2018-07-31 15:31] pjatinsight commented on #76
I suppose this is the bit where I have to start learning whats implemented and whats not...
Much like sdf_nrow instead of nrow....

Can I ask what I can use instead of str_detect ??

I had been counting retweets like this:

`total_retweets <- sum(str_detect(all_tweets_full$text, "(RT|via)((?:\\b\\W*@\\w+)+)"))
`

But that doesn't work with a sparlyr dataframe it would appear...

[2018-07-31 15:36] kevinykuo commented on #76
@pjatinsight Could you look at https://github.com/rstudio/sparklyr/blob/133b2028e653d896f9eb762bf480113381b0d2ef/tests/testthat/test-dplyr-hive-operators.R to see if any of the examples there fit your use case? If not, feel free to open an issue.

[2018-07-31 15:40] pjatinsight commented on #76
Thanks Kevin, I'll do that right now..
I think I might be on the right track lookin at using spark_apply...
https://github.com/rstudio/sparklyr/issues/729
Seems to be the right way to use stringr with sparlyr.
Thanks
PJ

[2018-07-31 16:18] pjatinsight commented on #76
Hi,
looking at those tests I see %regexp%
What version of sparklyr is this in?
I am getting the error:
[code]

On code like this:

`total_retweets <- sum(all_tweets_full$text %regexp% "(RT|via)((?:\\b\\W*@\\w+)+)" )
`

[2018-07-31 16:26] kevinykuo commented on #76
You have to manipulate the data using dplyr, e.g.
`tweets %>% filter(text %regexp% "(RT|via)((?:\\b\\W*@\\w+)+)") %>% count()`

[2018-08-02 09:26] pjatinsight commented on #76
Hi Kevin,
Thanks very much for that.
I've finally got my head around a few more of the concepts and generally have it all working..
But I'm havin a bit of trouble using %regexp% ... its not producting results.. or matches.. when it should be...

For example.. this R statement produces a match..

But using the same regular expression with %regexp% doesn't provide a match...
[code]
..and I'm getting

[2018-08-02 09:29] kevinykuo commented on #76
@pjatinsight You might need to double escape, e.g. `\\\\` vs `\\`.

[2018-08-02 10:55] pjatinsight commented on #76
Ahh haahhh!!!
You're TOO good.!

Its working perfectly now!
And I've been able to distill the code down to:

[code]
.. which is very nice!

Thanks again!
PJ

[2018-08-02 10:57] pjatinsight commented on #76
BTW, not working on my full dataset..but this code is now loading json for 218904 tweets and wading through it to count retweets... all in under 20 seconds...
WOW.

[2018-08-02 18:35] bradleyhd commented on #1266
I just ran into this, by doing roughly the following:
[code]
which gave `Error: !is.null(statementReponse$output) is not TRUE`. I tried a second time and everything worked just fine ¯\_(ツ)_/¯

[2018-08-02 18:45] kevinykuo commented on #1538
Reopening to track the issue/observation called out by @mphirsch

[2018-08-02 18:45] kevinykuo commented on #1266
Looks like you might consider tweaking `livy.session.command.timeout` or `livy.session.command.interval`. See https://github.com/rstudio/sparklyr/pull/1541 and https://github.com/rstudio/sparklyr/issues/1538.

[2018-08-02 19:35] zsharpm opened #1627 "ml_survival_regression fit generates java lang error"
The ml_survival_regression function generates a java lang error.  I've included the expected output from the survival `survreg` function.

See also: https://spark.apache.org/docs/latest/ml-classification-regression.html#survival-regression

[code]

Created on 2018-08-02 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-08-03 01:14] javierluraschi commented on #1233
At JSM 2018, at least one attendee asked to get this implemented.

[2018-08-03 01:17] javierluraschi opened #1628 "Nested Data"
Got feedback on JSM 2018 to have much better support for nested data, some investigation needed to define exactly what this means and what features are needed.

[2018-08-03 11:52] pjatinsight commented on #76
Sorry to be a further pain in the ass Kevin...
I just can't find any docs anywhere on %regexp%

Can you tell me which regex syntax it works with?
Just trying to do things like case insensitive matches etc..

[2018-08-03 11:57] pjatinsight commented on #76
Think I have it working as follows:

[code]

which matches Banana , banana, BANANA

[2018-08-03 12:10] mattpollock commented on #1628
I use `sparklyr` extensively with nested data. My swing at it is here https://mitre.github.io/sparklyr.nested/. Would be happy to move functionality into the main repo if you want though. I should get my act together and release to CRAN.

One of the biggest remaining holes I think is that after a `collect` on a nested dataframe, the result is a bit of a mess with a local `tibble` where list column

[2018-08-03 19:04] mattpollock commented on #1233
I have initial implementations of [`nest`](https://github.com/mitre/sparklyr.nested/blob/master/R/nest.R) and [`unnest`](https://github.com/mitre/sparklyr.nested/blob/master/R/unnest.R). The latter is a bit buggy, but that has more to do with my getting distracted with my real job than any serious technical difficulty.

`sparklyr.nested` makes no attempt to do other `tidyr` things like `spread`/`g

[2018-08-06 17:04] javierluraschi opened #1631 "GraphFrames"
Implemented with https://github.com/rstudio/graphframes

[2018-08-06 17:05] #1631 closed

[2018-08-06 17:05] javierluraschi opened #1632 "MLeap"
Implemented with https://github.com/rstudio/mleap

[2018-08-06 17:05] #1632 closed

[2018-08-07 01:32] javierluraschi commented on #1002
@samuelmacedo83 is taking a look at this one.

[2018-08-08 10:36] lcmercado commented on #1496
I'm experiencing a similar issue because Spark connection is unable to detect Hive tables/databases. I'm following this [tutorial ](http://spark.rstudio.com/examples/yarn-cluster-emr/) step by step. It is provided by RStudio.

Versions used:
R version 3.4.1 (2017-06-30)
Spark 2.3.1
Sparkly R 0.8.4
Hive 2.3.3
Pig 0.17.0
Hue 4.2.0

I downloaded the latest RStudio version instead of the older version

[2018-08-08 15:12] eddjberry commented on #1496
I'm having this issue too with Spark 2.3.1 and sparklyr 0.8.4. I've tried @HugoHehn's solution of using `spark/conf/spark-defaults.conf`. In there I've got this
[code]
I still can't see any Hive tables though. Like @lcmercado `hive_context_config(sc)` shows that spark.sql.catalogImplementation is set to "hive"

Spark 2.2.0 with sparklyr 0.7.0 works fine, as does SparkR with Spark 2.3.1.

[2018-08-09 10:55] HugoHehn commented on #1496
@lcmercado @eddjberry

This is the line of code that solved our issues a few months back (the path obviously might need to be updated depending on your setup). Hope that it helps in your case as well.

``
echo "spark.sql.catalogImplementation  hive" |sudo tee -a /etc/spark/conf/spark-defaults.conf
``

[2018-08-09 14:48] eddjberry commented on #1496
Having looked through the code what we think we need to do is add is some shell arguments to the `spark-submit`. Specifically we want to pass in
[code]

We tried this using the `sparklyr.shell.args` environment variable. However, this passed the arguments in as parameters to sparklyr.shell.

We've also tried `config$`sparklyr.spark-submit` <- shell_args` but had no luck here either.

Finally, we t

[2018-08-09 15:56] jschelbert opened #1633 "sparklyr does not use `order_by` argument in lead/lag"
Dplyr offers the argument `order_by` for the `lead` and `lag` functions.
Sparklyr does not seem to use this argument but instead requires that the table is ordered before (by using `arrange` before usage of lead/lag).

I've stolen the example from the test suit (https://github.com/rstudio/sparklyr/blob/master/tests/testthat/test-dplyr-lead-lag.R) and modified it a bit...
[code]

[2018-08-09 16:57] javierluraschi commented on #1496
@eddjberry the `-Dspark.sql.catalogImplementation` seem to be related to `--driver-java-options` not plain `spark-submit` parameters, see https://stackoverflow.com/questions/47257680/unable-to-get-existing-hive-tables-from-hivecontext-using-spark.

So I would expect you want to connect with something like:

[code]

Could you share the error log and how you expect `spark-submit` to be called? We sh

[2018-08-10 11:17] ciasom commented on #1266
See https://issues.cloudera.org/browse/LIVY-202.  I'm not sure if sparkly can retry if statement state is available but output is NULL

[2018-08-10 13:22] #1513 closed, assigned to kevinykuo

[2018-08-10 18:05] genobobeno commented on #1496
@eddjberry @javierluraschi
I'm having the exact same issue. Running HDP 2.6.5, Spark 2.3.0, sparklyr 0.8.4, Hive 1.2.1000.
Now switching back to SparkR.

[2018-08-10 19:19] bradleyhd commented on #1496
Same problem here. sparklyr 0.8.4, spark 2.1.0, hive 2.1.1-amzn0 (on EMR, accessing via livy)

[2018-08-11 02:08] sdanielzafar opened #1635 "Issues creating spark context with HDP 3.0 Permission denied"
Hello! I'm using sparklyr with Hortonworks Data Platform 3.0 and having some trouble kicking off a spark context.

[code]

The error I'm getting is
[code]

Any ideas what this could be? I've made sure that user `spark` owns the spark2-client directory.  I've also created a little hdfs directory for my user.

[code]

Any ideas?

[2018-08-11 04:03] harryprince commented on #1635
you need to ask your IT staffs first.

[2018-08-11 04:06] harryprince commented on #1633
why arrange by ID and lead order by ROrder?

[2018-08-11 17:49] sdanielzafar commented on #1635
Figured it out...I had permissions correct for the `bin/spark-submit` on the yarn cluster but did not have it set for execution on my local server. Did a `chmod -r 755 $SPARK_HOME/bin/spark-submit` on my local spark instance and it got resolved.

[2018-08-11 17:49] #1635 closed

[2018-08-12 06:18] sdanielzafar commented on #1600
@andreysharapov

Strange, I'm on a similar setup- Ambari with HDP 3.0 and I set the `spark.sql.catalogImplementation` config to `hive` and I'm getting the same error on the most recent version of sparklyr:

`Error: org.apache.spark.sql.AnalysisException: Hive support is required to CREATE Hive TABLE (AS SELECT);;`

Was there anything else you did?

[2018-08-12 16:29] kevinykuo commented on #1600
@and @sdanielzafar closing to track at https://github.com/rstudio/sparklyr/issues/1496

[2018-08-12 16:29] #1600 closed

[2018-08-12 16:50] kevinykuo commented on #1496
Javier and I are out this week but we'll be looking into this as soon as we're back. To summarize,
1. Upgrading from Spark 2.2 to 2.3 breaks Hive when using sparklyr with `yarn-client` mode.
2. Some folks were able to work around this by modifying `spark-defaults.conf`, **but some others were not.** (Either way, having to mess with your conf file to make sparklyr work isn't ideal and should be fix

[2018-08-13 07:34] eddjberry commented on #1496
@kevinykuo thanks for looking into this. The only thing that's different for me is that I'm using `master = 'yarn'` rather than `'yarn-client'`. I don't think this should make a difference though.

[2018-08-13 14:13] Hossein-Taghinejad opened #1636 "Sparklyr streaming does not work"
Hello

I am trying to run the following code which can be found here:

https://rdrr.io/github/rstudio/sparklyr/man/stream_write_text.html

[code]

I also tried stream_read_csv and stream_read_json. All of them give me the following error when I try to write the stream:

Error: java.lang.UnsatisfiedLinkError: org.apache.hadoop.io.nativeio.NativeIO$Windows.createDirectoryWithMode0(Ljava/lang/String;

[2018-08-13 14:14] Hossein-Taghinejad commented on #1636
I am running Sparklyr on Windows 10

Version: spark-2.3.1-bin-hadoop2.7

[2018-08-13 15:36] Hossein-Taghinejad commented on #1636
I am also getting error when I try to spark_write_csv(), spark_write_json(), spark_write_text(). I thought maybe they are related:

[code]
Error: org.apache.spark.SparkException: Job aborted.
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:224)
	at org.apache.spark.sql.execution.datasources.InsertIntoHadoopFsRelationCommand.run(InsertIntoHadoopFsRelati

[2018-08-15 03:29] harryprince commented on #1636
spark_streaming seems not ready on sparklyr, I am using SparkR to connect kafka.

https://d.cosx.org/d/419983-sparkr-vs-sparklyr

[2018-08-15 03:33] harryprince opened #1638 "Support Window Frame in Sparklyr"
I am using sparklyr sql to call window frame like this:

[code]

I've also found `dbplyr` can support these window functions in here: https://dbplyr.tidyverse.org/articles/dbplyr.html.

However, how to connect `dbplyr` and `sparklyr` togather in R code instead of SQL? Currently fail to find the answer, the most of answers point out `Rollcpp` or `zoo` package, Need help.

[2018-08-15 12:27] jschelbert commented on #1633
Hi Harry,

of course there exists a workaround, but the expected behavior for me would be that lead/lag gets a correct translation into SQL/Spark even for the parameter `order_by`...

[2018-08-15 22:53] blakiseskream commented on #949
I am having the same issue as @alexfun when trying to tune `livy_config()` to see if I can `copy_to` about 600K rows of data.

Looking at the [Livy API docs](https://github.com/cloudera/livy#post-sessions)  it doesn't appear as of the current version of livy that `livy.rsc.rpc.max.size` is a viable param in the body.

You can start a connection with this format by passing it in as a key-value pair

[2018-08-16 04:53] sdanielzafar commented on #1496
Thanks for the attention here I'm definitely open to setting aside some time to help debug this problem with one of you. Feel free to give me a shout.

[2018-08-16 09:27] rubenarslan opened #1640 "Cannot pivot (even a subset of) a large dataset due to stage failure"
I'm trying to pivot a large dataset. This fails, even when I take only the first 200 rows, but it works, when I first collect the 200 rows and then copy them back into Spark (see commented out code).

[code]

	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIterator.agg_doAggregateWithKeys$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedI

[2018-08-16 11:37] Venkatraman92 opened #1641 "Dynamic variable select issue : Shiny reactive error (Maxdiff analysis )"
Hi...
I am trying to build a **MaxDiff** analysis using Shiny app. For all variables model is working fine but while trying to do dynamic variable selecting  I am facing issue. Could you please explain those issues. I have attached my codes below.   **My objective is selected variables (Checkbox selected variable)  only should come to modeling.**

[code]

My error Is ::

[code]

[2018-08-16 15:52] mattpollock opened #1643 "zero-length key name in map type fails"
It is possible for maps to have zero-length keys. Although such a map is of limited value, I've run into real cases where this is the case and `sparklyr` gets angry about it. This can be reproduced via

[code]

It looks like maps are translated in the R as named lists. In the event of a zero-length name could that list entry simply not get a name?

I'm using `sparklyr` 0.8.4 with spark 2.3.1.

[2018-08-16 16:41] mattpollock commented on #1643
`pyspark` handles this like so:

![image](https://user-images.githubusercontent.com/9449081/44222142-a526b380-a151-11e8-925a-0c8ff8fd16e2.png)

[2018-08-19 14:58] kevinykuo commented on #1638
Does http://spark.rstudio.com/dplyr/#window-functions help?

[2018-08-19 23:51] harryprince commented on #1638
@kevinykuo it seems does not support more complex expression like `window_frame` and `range_between`.

Assuming if I want to rolling count each user recent 30 days events for one year in each day, currently can not find the `sparklyr` directly way.

[2018-08-20 08:15] kevinykuo commented on #1638
Could you provide an example that works with dplyr on local data frames? We're limited by what Spark SQL supports, but if we haven't covered something we'll add it.

[2018-08-20 21:10] tdsmith commented on #1628
Although I was at JSM I missed this conversation :) We have lots of nested data structures at Mozilla; I tend to resort to writing Spark SQL to extract and normalize fields and then operate on the resulting SDFs with dplyr syntax. This was my motivation in #1585, though I'd rather have a native syntax for accessing struct fields in select and filter. I hadn't seen Matt's extension and I'll look fo

[2018-08-22 05:33] sdanielzafar commented on #1496
@kevinykuo was there an update on this?

[2018-08-22 07:02] harryprince commented on #1638
it seems dplyr does not support directly, the current solution point out `RcppRoll` library.
https://stackoverflow.com/questions/30153835/r-dplyr-rolling-sum

[2018-08-22 07:42] kevinykuo commented on #1496
@sdanielzafar Looking into this now, will report back with any findings.

@eddjberry if you intend to use yarn client mode, you should specify it in the `spark_connect()` call, otherwise (I think) it falls back to local mode.

[2018-08-22 09:37] elgalu commented on #415
@raphael-psr did you find a way? I'm facing the same issue.

[2018-08-22 15:31] davejshirley opened #1645 "Spark version upgrade breaks install"
Version 2.3.0 has been removed from the Apache server at https://www-us.apache.org/dist/spark/
It has been replaced by version 2.3.1 (not supplemented).  The code and jsons in sparklyr have not been updated.

My temporary solution was to replace all 2.3.0 instances in code and jsons with 2.3.1, and prevent the "latest" json being fetched from `spark_versions_url()`

[2018-08-22 17:15] javierluraschi commented on #1645
@davejshirley this was fixed with https://github.com/rstudio/sparklyr/commit/09638025f0c1dddf1d7f85aaa1af78684150ea0d#diff-c01e52fd96a99c697c5838596269d4a5

The way `spark_install()` works is as follows...

If there is internet connectivity, it will check for the latest version of this file once per session and download the updated values.

If there is no internet connectivity, it will use the cop

[2018-08-22 17:55] davejshirley commented on #1645
@javierluraschi  Thanks for the prompt reply.  Upon complete clean reinstall the stock package works as intended; I am now unable to reproduce my problem, so I am guessing it was some kind of caching / connectivity issue that was temporary.

Sorry to have wasted your time!

[2018-08-22 17:55] #1645 closed

[2018-08-22 17:59] davejshirley commented on #1645
(also this is a partial duplicate of issue [#1602](https://github.com/rstudio/sparklyr/issues/1602) )

[2018-08-22 18:01] kevinykuo commented on #1496
Update: I was able to repro on EMR with Spark 2.3.0 and dev sparklyr. I think we just need to catch the first time a `SparkSession` is initialized and make sure the config is passed properly. Coincidentally this is related to https://github.com/rstudio/sparklyr/pull/1639 which has a fix for properly caching the hive context. That change should be merged today and I'll pick up making any changes ne

[2018-08-23 04:54] kevinykuo commented on #415
The fix for https://github.com/rstudio/sparklyr/issues/1496 should provide a way to do this. Should have a PR within the next day or so.

[2018-08-23 20:08] #415 closed

[2018-08-23 20:08] #1496 closed

[2018-08-23 20:15] kevinykuo commented on #1496
Change has been merged. Things should work as expected *without* having to mess with your spark conf now. Please let me know if you continue to run into issues with this!

[2018-08-27 06:32] ciasom opened #1648 "Error: `x` and `y` must share the same src, set `copy` = TRUE (may be slow)"
The problem causing the error is the tbl_spark objects returned by different sparklyr function have different sources. The code snippet to reproduce the issue is as follows.

[code]

x1, x2, x3 all came from the same spark connection, I suppose they should be able to join together. Can we ensure the source are the same for the objects returned by different functions?

[2018-08-27 07:02] ciasom commented on #1266
As per my testing, this issue can be fixed by retrying in livy_post_statment when statement state is available but output is NULL, which means this situation can be treated the same as state = 'running' or 'waiting'.

[2018-08-27 12:27] kevinykuo commented on #1648
What version are you using?

[2018-08-27 23:23] dab3-2014 opened #1649 "Error installing Spark 2.3.0 - "cannot open URL""
I cannot install Spark 2.3.0 in R 3.5.1 on Ubuntu 64 bit. The Apache link in the error message is broken (when I tried it in Chrome). When I go to Spark official web site, https://spark.apache.or, the link to download Spark 2.3.0 is different, it is now: https://archive.apache.org/dist/spark/spark-2.3.0/spark-2.3.0-bin-hadoop2.7.tgz

So was this a result  of new Spark release 2.3.1? Is there a way

[2018-08-28 00:48] soak0205 commented on #1496
i have made the required changes and still can't see the hive tables in the rstudio server panel. if i run result <- DBI::dbGetQuery(sc, 'show databases'), I do get the default database. However no tables on 'show tables' command though there are 3 tables in the default database.

[2018-08-28 01:05] mengxr opened #1650 "Databricks connection is broken in master"
After https://github.com/rstudio/sparklyr/pull/1646, sparklyr master stopped working on Databricks. See https://github.com/rstudio/sparklyr/pull/1646/files#r213158586.

[code]

cc: @falaki @javierluraschi @kevinykuo

[2018-08-28 01:51] kevinykuo commented on #1650
Thanks for the report! Will take a look.

[2018-08-28 03:09] kevinykuo commented on #1650
Have a pretty good idea what's going on here. I'm trying to get access to RStudio + Databricks so I can better test a patch (installing in the notebook takes 20min a pop). Will report back when I have a fix or run into issues.

[2018-08-28 12:16] harryprince commented on #1641
it seems your shiny syntax are wrong.

[2018-08-28 12:18] harryprince commented on #1640
spark does not support pivot a very large data frame.
I suggest you can use spark SQL sliding window function instead of `sdf_pivot` to expand date

[2018-08-28 12:20] harryprince commented on #1648
`sdf_seq` seems only to make a spark data frame on the driver, and `spark_read_csv` copy data to cluster side.

[2018-08-28 14:57] chanducmc opened #1651 "org.apache.spark.sql.AnalysisException: java.lang.UnsatisfiedLinkError: org.apache.hadoop.io.nativeio.NativeIO$Windows.createDirectoryWithMode0(Ljava/lang/String;I)V;py4j.protocol.Py4JJavaError: An error occurred while calling o28.applySchemaToPythonRDD"
[code]

This error occurred during df = sqlContext.createDataFrame(rdd).  I am trying to build data frame object for pulled csv file from S3 bucket to write parquet file to same S3 bucket

Please see below details for error.

[code]

During handling of the above exception, another exception occurred:

[code]

[2018-08-28 15:47] Venkatraman92 commented on #1641
How to resolved it. Please guide me

On Tue, Aug 28, 2018 at 5:46 PM HarryZhu <notifications@github.com> wrote:

--
*Dear,*

*Thanks & Regards*
*Venkatraman.M*

[2018-08-28 16:17] soak0205 commented on #1496
@eddjberry  is that done using devtools::install_github("rstudio/sparklyr")?
I did do that.

[2018-08-29 05:30] Venkatraman92 opened #1652 "Kano Model in R"
I have searched many websites, I did't get the Kano model examples in R.
Anyone knows how to do Kano model in R. Please guide me. Thanks....

[2018-08-29 14:08] #1650 closed

[2018-08-29 14:09] kevinykuo commented on #1650
@mengxr @falaki should be fixed in `master` now, let me know if you run into any issues in your testing, thanks!

[2018-08-29 15:40] kevinykuo opened #1654 "Investigate flaky livy tests"
Build is currently failing on `master` after https://github.com/rstudio/sparklyr/pull/1653 was merged, but
the PR was passing https://travis-ci.org/rstudio/sparklyr/builds/422071150.

[2018-08-29 17:17] kevinykuo commented on #1654
was a travis hiccup, we good now

[2018-08-29 17:17] #1654 closed

[2018-08-30 07:46] yutannihilation commented on #1312
Same here.

I also confirmed that the error happens only with a remote spark master. Are there any differences about serialization between when the master is local and remote?

[2018-08-30 09:26] yutannihilation commented on #1312
@javierluraschi
I'm not fully sure, but I suspect that you forgot to add `timestamp` case in `createDataFrameFromText` in https://github.com/rstudio/sparklyr/commit/adea07e22af14a4f072e46cd528053c5a78328de... Are there any reason to implement it only in `createDataFrameFromCsv`?

[2018-08-30 16:31] soak0205 commented on #1496
i have no luck still....i see this in the rstudio logs...
`INFO metastore: Trying to connect to metastore with URI
 INFO metastore: Connected to metastore.
`

[2018-08-30 16:33] kevinykuo commented on #1496
@soak0205 could you share more details on what your setup is (cloud, on-prem, which distribution, etc.), and also the code you're using to connect?

[2018-08-30 16:37] soak0205 commented on #1496
AWS EMR with spark and hive
spark version - 2.3.1

 version  R version 3.4.1 (2017-06-30)
 system   x86_64, linux-gnu
 ui       RStudio (1.1.456)

**code used to connect**
library(sparklyr)
Sys.setenv(SPARK_HOME="/usr/lib/spark")
config <- spark_config()
sc <- spark_connect(master = "yarn-client", version = "2.3.1", config = config)

[2018-08-30 16:58] kevinykuo commented on #1496
Could you try creating a Hive table before connecting and see if it shows up? Are the default tables on EMR documented somewhere? I don't remember seeing them...

[2018-08-30 17:05] soak0205 commented on #1496
I have 3 tables created in hive before connecting. I see them through 'show tables' on hive prompt. But not through the rstudio result <- DBI::dbGetQuery(sc, 'show tables') command

Also, I realized that when i do show databases in hive, it shows be 3 databases. However, result <- DBI::dbGetQuery(sc, 'show databases') in RStudio shows only the default.

But the metastore uri i see in the RStudio l

[2018-08-31 07:02] yutannihilation commented on #1649
I got the same problem. It seems this issue is already fixed by https://github.com/rstudio/sparklyr/pull/1605, which is not released yet...

I think you can install the dev version by `devtools::install_github()` or replace `versions.json` with [the latest](https://github.com/rstudio/sparklyr/blob/master/inst/extdata/versions.json) for now. I found the location of `versions.json` by this code:

[c

[2018-08-31 23:30] #1312 closed

[2018-09-01 02:52] ashishrjha opened #1658 "ML Pipeline Error: org.apache.spark.SparkException: Exception thrown in awaitResult:"
# Problem description below

I have a spark set up in AWS EMR. Spark version is 2.3.1. I have one master node and two worker nodes.
I am using sparklyr to run xgboost model for a classification problem. My job ran for over six hours and then threw the error report that I have given after the code below.  Error was thrown at the line where I am attempting model fit cv_model <- ml_fit(cv, trainData_

[2018-09-01 08:59] sean-in-korea opened #1659 "Not able to connect to Spark with Sparklyr 0.8.4"
With the latest sparklyr 0.8.4, I could not connect to Spark. I installed the package on the kerbenized Cloudera cluster with CDH 5.14.2.

Please let me get some support.

[code]

[code]
From the error log, the given URL "http://bda1node04.kr.oracle.com:8088/ws/v1/cluster/info" returns some XML page as shown below:
![image](https://user-images.githubusercontent.com/29832828/44944452-d40b7d80-ae11-

[2018-09-01 11:16] sean-in-korea commented on #1659
Hi.

I found that the function 'spark_yarn_cluster_resource_manager_is_online' is something wrong.
[code]
By adding the prefix "http://" with fixInNamespace("spark_yarn_cluster_resource_manager_is_online", "sparklyr"), I could pass the 3rd and 4th warnings.
[code]
Now I am getting the somewhat different error:
[code]
When I access to the "http://bda1node03.kr.oracle.com:8033/ws/v1/cluster/info", i

[2018-09-01 12:09] sean-in-korea commented on #1659
I attached the NODEMANGER log
[hadoop-cmf-yarn-NODEMANAGER-bda1node03.kr.oracle.com.log](https://github.com/rstudio/sparklyr/files/2342345/hadoop-cmf-yarn-NODEMANAGER-bda1node03.kr.oracle.com.log)

[2018-09-03 09:12] sean-in-korea commented on #1659
When I modify the function spark_yarn_cluster_resource_manager_is_online as shown below:
[code]
it does not return the error so that I could avoid the error message:

I think that other warnings can be ignored, because those ports 8090 and 8033 are not in use or available only for IPC. Is that right? Please confirm it.

Now I need to avoid the 401 HTTP error, but I do not have right solution. Can

[2018-09-05 17:00] rblenin opened #1661 "Creating table in teradata: Error: Data Type "TEXT" does not match a Defined Type name."
# Reporting an Issue with sparklyr
When I try to push iris_tbl to teradata database, I get the following error:
Error: java.sql.SQLException: [Teradata Database] [TeraJDBC 16.10.00.05] [Error 3706] [SQLState 42000] Syntax error: Data Type "TEXT" does not match a Defined Type name.

[code]
iris_tbl <- copy_to(sc, iris, 'iris', overwrite = TRUE)
spark_write_jdbc('iris_tbl',
                   name

[2018-09-05 17:10] benmwhite opened #1662 "sdf_* functions not taking pipeline objects as inputs"
Certain sdf_* functions do not work as expected within ML pipelines. I've tested this with a handful of the functions, but it may extend to others.

Using sparklyr 0.8.4 with R 3.4.1 on an YARN-managed cluster and R 3.5.1 on my laptop with a local Spark connection, but the error message is the same in either case.

According to the 0.8.4 documentation these functions can take `ml_pipeline` objects

[2018-09-06 01:08] yutannihilation commented on #1659
At first, I thought it might need GSS-Negotiate for authentication (c.f. https://github.com/rstudio/sparklyr/pull/1385), but, as it succeeds with `http://` prefix, my guess seems wrong.

But, I really have no idea why "http://" prefix matters... You can see if there are any differences between the requests with `httr::with_verbose()`. Do they differ?

[code]

[2018-09-06 01:10] sean-in-korea commented on #1659
I do not understand why they are doing differently, either. But it does do that now as shown below:
[code]

[2018-09-06 01:28] sean-in-korea commented on #1659
I had the same test and got to know that there was something wrong in my side. It does not matter to add "http://" part. Instead, I knew that GET() needs to have the "negotiate" authentication explicitly to get a success. See below:
[code]
At the first, GET() with no "negotiate" authentication returns the 401 error as expected. But, when I add the authenticate() part as an additional parameter, it

[2018-09-06 01:58] yutannihilation commented on #1659
Thanks! Here's my explanation: once authenticated, the server can recognize you by Cookie (I think you can see httr sends request with "Cookie" header after `authenticate()`, right?).

I still don't come up with the solution on sparklyr's side, but, as a workaround, I guess you can use `httr::with_config()`. For example:

[code]

[2018-09-06 02:17] yutannihilation commented on #1624
For the first issue, I guess the documentation comes from here. The parameter of "the name of this session" should be `name`.

https://livy.incubator.apache.org/docs/latest/rest-api.html

[2018-09-06 04:50] yutannihilation commented on #1624
For the second issue, `queue` is not supported before the version v0.4.0 and newer of Livy. Do you use the newer Livy than this...?

https://github.com/apache/incubator-livy/commit/7212e3f3bbed07ab8ea372cd7a56ee1cd2b56693

[2018-09-06 11:33] tpollok commented on #1332
Hi Kevin,

I've been using the example you've used above, but I get the following error:

`Error in do.call(.f, args, envir = .env) :
  'what' must be a function or character string`

Alternatively, if I have tables as Spark DataFrames, could I not just collect them as R data.frame types, and use the arules package?

[2018-09-06 13:49] tpollok opened #1664 "ml_fpgrowth() not working"
I'm trying to conduct market basket analysis using R on a Spark cluster, and instead of using the `arules` package in R (can you use this on Spark??) I wanted to use `ml_fpgrowth` instead when constructing a pipeline for production. However, the `ml_fpgrowth` function doesn't appear to work. Here's an example of the input

[code]

And the output:

`Error in ml_fpgrowth(., min_support = 0.5, min_co

[2018-09-06 14:52] #1624 closed

[2018-09-06 22:50] javierluraschi opened #1665 "spark_apply() does not respect column types for NA columns"
[code]

Actual:

[code]

Expected:

[code]

[2018-09-06 23:56] sean-in-korea commented on #1659
Unfortunately, there's no luck with adding use_proxy().
[code]

[2018-09-07 00:03] yutannihilation commented on #1659
Oh, then, I really have no idea...

[2018-09-07 00:12] sean-in-korea commented on #1659
Oh.. It is too sad to hear that. Do you have any idea to be unable to connect the port 8880 in general?
[code]

[2018-09-07 02:13] yutannihilation commented on #1659
No, I don't know, sorry.

IIUC, the error seems to stem from here,

https://github.com/rstudio/sparklyr/blob/7a3d07a07034be39ec021c16b49c5f61fb079c92/R/core_gateway.R#L82-L87

which probably means this while loop in `wait_connect_gateway()` ended up in failure.

https://github.com/rstudio/sparklyr/blob/7a3d07a07034be39ec021c16b49c5f61fb079c92/R/core_gateway.R#L10-L26

But, the log you attached say

[2018-09-07 02:13] javierluraschi opened #1667 "RStudio connections pane not closing connection"
As part of the connection refactoring, `spark_disconnect.spark_connection` is not being called anymore.

[2018-09-07 03:15] #1665 closed

[2018-09-07 14:36] javierluraschi opened #1668 "Submit Batch"
Support something like:

[code]

Which submits a job into the cluster, executes the given script and disconnects.

[2018-09-07 14:42] komal-rathee commented on #1649
i cannot install dplyr package in r 3.5.1 version

[2018-09-08 04:47] harryprince commented on #1638
The sliding window is very powerful when I extract these features into my xgb model, hope it can be added into `dplyr` or `sparklyr`.

[2018-09-08 05:10] harryprince commented on #1664
`sparklyr::spark_apply` can execute `arules` package with native R data frames

[2018-09-10 10:29] tpollok commented on #1664
I figured it'd be possible to use `spark_apply`, which would allow me to use the `arules` package, but I'm unsure about how to coerce a Spark DataFrame to a particular R data.frame type and then to a `transactions` dataset...  `as(data.frame, "transactions")` is a little fussy.

@harryprince as this question posed to you isn't directly related to the issue with `ml_fpgrowth`, could I contact you e

[2018-09-10 15:35] kevinykuo commented on #1664
@tpollok I can't repro this. What sparklyr and Spark versions are you using?

[2018-09-10 16:49] javierluraschi commented on #927
The root cause as described in https://issues.apache.org/jira/browse/SPARK-18249 seems to be that `winutils.exe` is not installed correctly, are you using RStudio or plain R? I'm going to close this one since it has been inactive with little additional info for a while.

[2018-09-10 16:49] #927 closed

[2018-09-10 16:52] javierluraschi commented on #1636
@Hossein-Taghinejad the fact that you are hitting this error:

[code]

means that something is not configured correctly in your Spark installation; the root cause as described in https://issues.apache.org/jira/browse/SPARK-18249 seems to be that `winutils.exe` is not installed correctly, are you using RStudio or plain R? See https://github.com/rstudio/sparklyr/issues/927

Please open a new issue r

[2018-09-10 16:52] #1636 closed

[2018-09-10 16:58] javierluraschi commented on #1613
No, `dqbew_sub_sdf` can't be used inside `spark_apply()` since `spark_apply()` only performs operations with the function context, no external context is passed. So mostly, `spark_apply()` transform a data frame (`df_join_sdf %>% select(SBDKZ, IDNRK, PSPID_A, WERKS)` for your code snippet) and cannot access other data frames.

If the Spark data frame you want to use inside `spark_apply()` is small

[2018-09-10 16:58] #1613 closed

[2018-09-10 17:14] tpollok commented on #1664
@kevinykuo I've been using Spark 2.2.0, and I was recently using `install.packages("sparklyr")`, which I believe was an older version. After using `devtools::install_github("rstudio/sparklyr")` I'm now using `sparklyr_0.8.4.9008`. The code in the original comment now works fine, albeit I'm getting large Spark error messages whenever I try to call the association rules on another, much larger, data

[2018-09-10 17:51] JohnMount commented on #1289
Neat idea, looking forward to it.

[2018-09-10 20:59] joscani commented on #542
I have a similar problem. I can start spark using spark shell with valid kerberos ticket but I get
`WARN security.UserGroupInformation: PriviledgedActionException as:oyrdatos (auth:KERBEROS) cause:javax.security.sasl.SaslException: GSS initiate failed [Caused by GSSException: No valid credentials provided (Mechanism level: Failed to find any Kerberos tgt)]
`
using sparklyr

[2018-09-11 07:19] madlogos commented on #1428
Although I don't know why, but it did work when I use

[code]

The version of `sparklyr` is 0.8.4.

[2018-09-11 07:19] #1428 closed

[2018-09-11 07:20] madlogos commented on #1474
Although I don't know why, but it did work when I use

[code]

The version of `sparklyr` is 0.8.4.

[2018-09-11 07:44] joscani opened #1671 "kerberos problem in sparklyr"
I try to connect sparklyr with a cluster in which I have a valid kerberos ticket. spark-shell works in the comand line
My r code is
[code]

Log file in /tmp show this error

`WARN security.UserGroupInformation: PriviledgedActionException as:oyrdatos (auth:KERBEROS) cause:javax.security.sasl.SaslException: GSS initiate failed [Caused by GSSException: No valid credentials provided (Mechanism level:

[2018-09-11 11:10] patarol commented on #464
Is quite frustrating trying to use a function which its documentation is missing. You could add examples to [help users](http://r-pkgs.had.co.nz/man.html).

[2018-09-11 11:32] patarol opened #1672 "add funciton's documentations"
I'm new using `sparklyr` but no in `R`.

I'm trying to use [`ft_one_hot_encoder`](http://spark.rstudio.com/reference/ft_one_hot_encoder/) however is somehow difficult to use it since there're no examples in the function's documentation.

So, I've searched for some example and was no lucky.  So I started to look at the package's documentation and all function I've looked up don't have examples in t

[2018-09-11 15:40] kevinykuo commented on #1664
Feel free to open another issue with the details for the error message!

[2018-09-11 15:40] #1664 closed

[2018-09-11 15:42] kevinykuo commented on #1662
Right, these aren't supposed to work since they're not pipeline stages. Will need to update documentation.

[2018-09-11 15:49] benmwhite commented on #1662
Ah ok, thanks. So the ml_* and ft_* functions are the ones that can work for either pipelines or tables and the sdf_* functions are for table inputs only (i.e. coercible to Spark Data Frame), is that correct?

[2018-09-11 15:57] kevinykuo commented on #1662
Yep that's the spirit. The behavior of `ml_*` and `ft_*` functions changes according to what the first argument is, see the `Value` section of `?ml_logistic_regression()` as an example. `ml_predict/ml_transform()` are supposed to work with ml model or pipeline objects as the first argument, and `sdf_*` all require the first argument to be a `tbl_spark`.

[2018-09-11 17:54] #1488 closed

[2018-09-11 18:03] javierluraschi commented on #1491
This looks like a write permission or configuration issue in general. Grouping and saving works just fine, but does not have the effect you intend, as mentioned, you probably want to use `partition` to split data more explicitly.

The issue you are hitting is more likely to be a Spark configuration issue, see for instance https://stackoverflow.com/questions/35778653/spark-saveastextfile-results-in

[2018-09-11 18:03] #1491 closed

[2018-09-11 18:05] #1495 closed

[2018-09-11 18:27] benmwhite commented on #1672
The ft_* functions are usually wrappers for Scala/Spark operations. Spark uses vector/list-valued columns pretty often, so that's usually a source of confusion for a lot of users more familiar with Base R or the tidyverse. [Usually the original Scala documentation helps for figuring out things like input and output formats in certain cases.](https://spark.apache.org/docs/latest/api/scala/index.htm

[2018-09-11 19:13] javierluraschi commented on #1497
@corridordigital you sure you are using Spark 2.X? What is the value from `spark_version(sc)`? The error seems to point out that `csv` is not a member of `dataframe` which got added in Spark 2.X. My guess is that there might be a SPARK_HOME version mismatch so I would double check this SPARK_HOME points to the correct path.

[2018-09-11 19:42] javierluraschi commented on #1504
Yes, tracking under https://github.com/tidyverse/dbplyr/issues/129

[2018-09-11 19:42] #1504 closed

[2018-09-11 19:57] javierluraschi commented on #1507
I don't have much to add here since this is likely a configuration issue in Livy to properly register Hive. It could also be a permissions issue where the user connecting to Livy does not have permission to see Hive tables.

[2018-09-11 20:01] javierluraschi commented on #1515
Fixed by https://github.com/tidyverse/tibble/commit/4368f401a8757a18fcebe3f6b718f7d32df7e8b6

[2018-09-11 20:01] #1515 closed

[2018-09-11 20:05] javierluraschi commented on #1516
@dalloliogm Could you explain what's the interested in returning `is.data.frame()` as `TRUE`?

It would be certainly nice if we could interchangeably use local data frames and spark data frames, but that is a giant amount of work so we will have to address one case at a time. Is there a particular library you are interested in making this work with?

[2018-09-11 20:33] javierluraschi commented on #1524
@sparkcassuser why do you need to pull data into the driver? If it's to execute an R function, I would rather recommend you try `spark_apply()`.

[2018-09-11 20:37] javierluraschi commented on #1526
As mentioned, please try to use first the `ml_` functions provided in `sparklyr`, as in `ml_logistic_regression()`, not `spark_apply()` as a start.

As of performance, we are improving performance of `spark_apply()` with https://github.com/rstudio/sparklyr/issues/1457

Going to close this one since there are better ways to perform this and perf is tracked by different issue.

[2018-09-11 20:37] #1526 closed

[2018-09-11 20:42] javierluraschi commented on #1531
Yes, there are performance differences between different ML algorithms implemented in Spark. I'm going to close this one since the original issue was resolved, but you are welcome to open a new one for perf related `to ml_decision_tree_classifier()`. That said, you might be better of asking that one in Stack Overflow since is something persisting across Spark, not sparklyr in particular.

[2018-09-11 20:42] #1531 closed

[2018-09-11 20:57] javierluraschi commented on #1532
@schlichtanders Which `spark.driver.` settings are you particularly interested in? Setting memory in the driver I would imagine?

[2018-09-11 21:35] ajaygopireddy216 opened #1673 "spark_apply issue in R server"
I was trying to use spark_apply function on a spark dataframe in sparklyr. The spark instance I am using is of version 1.6.0. When I use the same function in my local machine, it executes absolutely fine. My local machine has spark cluster of version 2.3.0.

Please also provide the output of `utils::sessionInfo()` or
`devtools::session_info()` at the end of your post.

# your reproducible example

[2018-09-11 22:08] javierluraschi commented on #1535
@akhils-gh open this issue in their repo instead to get visibility of the right folks: https://github.com/h2oai/rsparkling

[2018-09-11 22:12] akhils-gh commented on #1535
Thanks @javierluraschi I highlighted this to h20 and they fixed it in latest release.

[2018-09-11 22:12] #1535 closed

[2018-09-11 22:16] javierluraschi commented on #1536
We might be able to add support for nested data in `copy_to()` as we trsansition to use Arrow... https://github.com/rstudio/sparklyr/issues/1457.

[2018-09-11 22:18] javierluraschi commented on #1540
You can also make use of the `context` parameter in `spark_apply()` if you need to run with different values of `x,y,k`. Closing since the question seems to be answered.

[2018-09-11 22:18] #1540 closed

[2018-09-11 22:41] #1560 closed

[2018-09-11 22:45] javierluraschi commented on #1567
After,

[code]

I would try caching `data3` into memory with something like `data <- data3 %>% compute()`.

You might also need more memory to perform this operation, how big is `data3`? How much memory is available in your cluster?

[2018-09-11 22:51] javierluraschi commented on #1575
The logs show:

[code]

which means that something else aborted the Spark computation, unfortunately, this is not captured in the logs that were attached.

There must be another exception in the logs before the SparkContext is destroyed, if you could share that, we might be able to help out a bit more.

[2018-09-12 01:57] javierluraschi commented on #1623
Fixed with https://github.com/rstudio/sparklyr/pull/1675

[2018-09-12 01:57] #1623 closed

[2018-09-12 08:27] patarol commented on #1672
Hey @benmwhite thank you for your answer. I was tried to create dummy variables using `ft_one_hot_encoder`. The data is too big to post here and I got a strange error from java...

I had to create my own fucntion because I was no able to use this function.

Glad that you guys are working on documentation. This is an amazing work and also an amazing package.

Thank you.

[2018-09-12 10:52] revaldozen commented on #1497
I also have the same problem, the file is already in HDFS..
[code]

reproduce this error
rror: java.lang.IllegalArgumentException: invalid method csv for object 25/org.apache.spark.sql.DataFrameReader fields 1 selected 0
	at sparklyr.Invoke.invoke(invoke.scala:163)
	at sparklyr.StreamHandler.handleMethodCall(stream.scala:123)
	at sparklyr.StreamHandler.read(stream.scala:66)
	at sparklyr.BackendHan

[2018-09-12 14:39] benmwhite commented on #1672
No problem! I'm not actually a project contributor, I just use sparklyr a lot and follow it here on GitHub. Not sure if you've seen this already but if you have casual questions that might be too short for a standalone StackOverflow post or an official issue report you can also try asking on [the sparklyr gitter chat room](https://gitter.im/rstudio/sparklyr).

[2018-09-12 16:04] javierluraschi commented on #894
See https://stackoverflow.com/questions/37809834/how-to-compute-the-distance-matrix-in-spark, doesn't seem Spark supports something out of the box.

However, with some work, you might be able to use `spark_apply()`:
- First, you would need to partition by row and pass the matrix (since it's not that big) into the `context` parameter.
- Then, you would have to calculate the distance in each row aga

[2018-09-12 16:14] javierluraschi commented on #1641
Please as this question in https://community.rstudio.com/ since it seems `shiny` specific and unrelated to `sparklyr`.

In general, when using `shiny` with `sparklyr` you would have to explicitly call `collect()` in your data but other than that, there is little overlap between those packages.

[2018-09-12 16:14] #1641 closed

[2018-09-12 16:15] #1649 closed

[2018-09-12 16:17] javierluraschi commented on #1651
This is a `pyspark` question that we do not support in this repo.

[2018-09-12 16:17] #1651 closed

[2018-09-12 16:29] javierluraschi commented on #1661
I would try to figure out which column is introducing this issue, by saving subsets of the data. Seems like this could be a JDBC issue, the JDBC driver might provide a way to tweak the configuration for `TEXT` types.

Related: https://kylo-io.atlassian.net/browse/KYLO-1766

[2018-09-12 16:30] javierluraschi commented on #783
I think it would be worth investigating the `segfaults` soon.

[2018-09-12 16:49] javierluraschi opened #1677 "`spark_apply()` no longer caches in memory by default"
Recent regression in `spark_apply()` from Streaming feature, it no longer caches in memory by default.

[2018-09-12 16:49] javierluraschi commented on #1395
Fixed, missed to close.

[2018-09-12 16:49] #1395 closed

[2018-09-12 16:50] javierluraschi commented on #1588
Looks fixed, closing.

[2018-09-12 16:50] #1588 closed

[2018-09-12 20:12] joscani commented on #1671
I found the problem. JAVA_HOME variable was wrong and spark-submit failed. Once I set correctly java path kerberos accepted the keytab and sparklyr works fine.

[2018-09-12 20:12] #1671 closed

[2018-09-12 21:54] #1677 closed

[2018-09-13 16:23] kevinykuo opened #1680 "Default to Spark 2.3.1 in spark_connect()"

[2018-09-13 16:37] kkeenan02 commented on #1525
@javierluraschi Thank you for making the effort to build kubernetes support into sparklyr.

I'm trying to understand how to implement this for myself, and am hoping you could shed a bit more light, please. I am trying to connect to a remote spark master on the same kubernetes cluster as my rstudio-server instance (with sparklyr installed), with the aim of being able to execute sparklyr commands ag

[2018-09-13 19:14] #1591 closed

[2018-09-14 01:06] javierluraschi opened #1681 "Stream Jobs not cancelled when disconnecting"

[2018-09-14 05:41] kevinykuo commented on #1596
OK I think `RFormula` isn't working as expected in `spark.ml`. I'm getting
[code]

So the parser isn't understanding that `~ 1` should give us a `features` column with ones. We could try to do the parsing ourselves in sparklyr but that would be a bigger undertaking. It's probably better to fix this upstream in `apache/spark`. Leaving this issue open for now.

[2018-09-14 07:34] #1514 closed

[2018-09-14 15:56] shabbybanks commented on #1596
thanks for the update and thanks for all the work. Should I submit an issue upstream in `apache/spark`, or have you already?

[2018-09-14 15:59] kevinykuo commented on #1596
I have not.

[2018-09-14 16:32] shabbybanks commented on #1596
I looked to see if it had already been filed and found only [this issue, spark-19400](https://issues.apache.org/jira/browse/SPARK-19400), which seems to suggest that `Rformula` maybe _does_ accept `y ~ 1`, but IWLS fails on it. I am not adept enough in raw Spark to test, however.

[2018-09-14 16:37] kevinykuo commented on #1596
Thanks, this is interesting, taking a look now...

[2018-09-14 16:41] kevinykuo commented on #1596
Failing in Spark 2.3.0...

[code]

[2018-09-14 16:49] kevinykuo commented on #1596
In Spark 2.2.0 this works in sparklyr:
[code]

[2018-09-17 14:54] albedan commented on #362
@kevinykuo Probably the latest release of Xgboost (0.80) has some interesting updates for integration in Sparklyr.

[2018-09-18 15:51] patarol commented on #1672
@benmwhite  Thank you for your time!!
I'll consider this page next time.
Thank you again!

[2018-09-18 17:08] MCM-Math opened #1685 "How do I specify where spark_install gets the file from?"
How do I specify where spark_install downloads Spark from?  I would like to make sure it downloads from spark.apache.org/downloads.html.

[2018-09-18 21:12] javierluraschi commented on #1659
Changed the log message to:

[code]

and changed `Gateway in port <port> did not respond` to

[code]

You would want to make sure the client is finding the driver in the right machine. Sorry I can't be of more help here. If you want to troubleshoot this again, ping me in Gitter.

[2018-09-18 23:26] javierluraschi commented on #1680
Fixed with https://github.com/rstudio/sparklyr/pull/1686

[2018-09-18 23:26] #1680 closed

[2018-09-19 00:58] #1667 closed

[2018-09-19 00:58] #1681 closed

[2018-09-19 14:37] joscani commented on #1517
I get a similar error

[code]

[2018-09-19 15:49] chuyqa commented on #1494
@Vkracharla You are using the wrong url endpoint in your knox url:
`https://XXXXXXX:8443/gateway/default/livy/v1/batches` is for submitting non-interactive jobs to livy
https://livy.incubator.apache.org/docs/latest/rest-api.html

You would want to use `https://XXXXXXX:8443/gateway/default/livy/v1`, such that sparklyr can access knox at `https://XXXXXXX:8443/gateway/default/livy/v1/sessions` endpoi

[2018-09-19 16:42] MCM-Math opened #1688 "How do I properly perform Oracle SQL queries through spark_read_jdbc?"
I tried to emulate https://stackoverflow.com/questions/45420958/how-to-use-a-predicate-while-reading-from-jdbc-connection, but I recieved the error "Error: java.sql.SQLSyntaxErrorException: ORA-00933: SQL command not properly ended".  What is the proper way?

[2018-09-20 07:08] joscani commented on #1219
Using sparklyr 0.8.3 I get the same mistake
[code]

[2018-09-21 12:59] gbouzill commented on #1688
Something like that :

tbl <- spark_read_jdbc(sc, "SPARK_TBL_NAME", options = list(
  url = "jdbc:oracle:thin:@//HOST:POST/SCHEMA",
  driver = "oracle.jdbc.OracleDriver",
  user = "USERNAME",
  password = "PASSWORD",
  dbtable = "(SELECT * FROM TABLE WHERE FIELD > 10)  ALIAS"),
  memory = FALSE
)

[2018-09-21 19:37] randomgambit commented on #1457
@javierluraschi that looks really amazing. will this be shipped with  sparklyr `0.9`?

[2018-09-23 08:39] schlichtanders commented on #1532
to start with all config parameters which have equivalent command line flags,
i.e. all those you currently have to deal with via ``sparklyr.shell.XXX``

[2018-09-23 23:21] shujaat-ali opened #1691 "unable to read data which was written using any of spark_write method with paritition_by"
spark_version = 2.1.0
spark_connect = yarn-client

I am using spark_write_csv(..)  to write data into HIVE external table, when I use partition_by parameter it does partition (because I see partitioned data in HBASE) but when I query in HIVE/BEELINE I don't get any records. I thought it might be access issue, so I changed chmod to 777 but still I don't get any data in query. It works fine when I d

[2018-09-26 11:53] yogi-srcc-iimb commented on #1567
data3 is 100 GB .....  I am using below settings in EC2 with 30 GB RAM...... Could you suggest changes w.r.t to memory allocation etc ?

# Set driver and executor memory allocations
config[["sparklyr.shell.conf"]] <- "spark.driver.extraJavaOptions=-XX:MaxPermSize=30G"
config$spark.executor.cores	<- 3
config$spark.memory.fraction <- 0.9
config$'sparklyr.shell.driver-memory' <- "20G"
config$'sparkly

[2018-09-27 23:44] javierluraschi opened #1693 "Collecting dates do not use provided timezone"
[code]

Last row expected to be of `date_alt`:  `2014-12-21` not `2014-12-20`.

[2018-09-28 04:15] englianhu commented on #1059
[code]
By refer to [Installing and preparing sparklyr](https://github.com/JosiahParry/sparklyr_exploration), there has only `loan_data.rds` file, how about read multiple files by using `sparklyr` where every single file has million rows.

[code]
I wondered if my processor and RAM able to cope with the problem.

[2018-09-28 11:12] randomgambit commented on #1693
@javierluraschi thanks! I think the second column is also problematic. Why is `date_format` returning a timestamp is `EST`? Even if this is the correct one, I would have expected to see `UTC` here because unix_t is `UTC`

[2018-09-28 11:16] The-Dub opened #1694 "Can't connect to Spark on Qubole since 0.9.1"
Hi,

Since the new update was released on CRAN yesterday, we can't connect anymore to Spark, using the Qubole UI.

Using the example code on the sparklyr website fails with the following error:

The code used was as follows:

[code]

FYI, the result from `Sys.getenv("SPARK_HOME")` was `/usr/lib/spark`.

Any ideas why this doesn't work anymore? Any changes to make on the cluster?

Thank you for you

[2018-09-28 16:32] javierluraschi opened #1695 "Investigate use of R 3.4 with sparklyr 0.9"
Some reports that sparklyr 0.9 batch jobs require R 3.4, we should change travis to run one configuration using an older version of R.

[2018-09-30 13:43] randomgambit commented on #1693
ha @javierluraschi you found the fix actually?

[2018-10-01 13:15] The-Dub commented on #1694
UPDATE

While diving into the source code of the package, I found a workaround which is to specify the environment variable `SPARK_HOME_VERSION` such as `Sys.setenv(SPARK_HOME_VERSION = "2.3.1")`

I also looked into why sparklyr wasn't able to find the spark_version, even if it was specified.

I couldn't find out why out why the `version` parameter doesn't pass on to `sparklyr:::spark_version_from

[2018-10-01 16:59] javierluraschi commented on #1694
@The-Dub Could you validate [this fix](https://github.com/rstudio/sparklyr/pull/1696) work for you by installing:

[code]

It' is likely that a couple fixes will be required to be push to CRAN in the next couple weeks, so I'll include this one once you verify this. Thanks.!

[2018-10-01 17:30] javierluraschi commented on #1059
Took a quick look at this, we can probably do something like https://issues.apache.org/jira/browse/SPARK-20528, but this is indeed a small feature request.

[2018-10-01 21:43] javierluraschi commented on #1693
@randomgambit actually, I think the problem is `to_date()` in Spark assumes local timestamp or something around those lines... after some debugging I arrived to this problematic example:

[code]
[code]

Which takes `sparklyr` out of the picture by casting to `character` even before `sparklyr` has a chance to process date and serialize them. So yeah, not much we can do here, I think, apart from rec

[2018-10-01 22:08] javierluraschi commented on #126
Well we are planning to support Arrow natively with https://github.com/rstudio/sparklyr/pull/1611, so probably you don't even need to use feather, but if you had to use feature, you should be able to use feather in `sparkl_apply()` to read write from feather and transfer data efficiently. Closing to track with open PR.

[2018-10-01 22:08] #126 closed

[2018-10-01 22:54] javierluraschi commented on #1525
@kkeenan02 this work was only to enable connection to new kubernetes clusters... if you have an existing kubernetes clusters, you probably don't even need this work, let me elaborate.

One option to use Kubernetes is for someone to start a Spark cluster, usually your system admin or someone in your team, you can use Kubernetes to start a team cluster running Yarn, Cloudera or why not. Then you can

[2018-10-02 01:35] paristj commented on #126
Thanks Javier! Keep up the great work :)

[2018-10-02 08:29] lidroz opened #1698 "spark_read_table tries to remove Source table"
When overwrite = TRUE spark_read_table tries to remove Source table:

_if (overwrite) spark_remove_table_if_exists(sc, name)_

name - is a parameter in spark_read_table and it is a source table not a destination dataframe and thus should not be overwritten. A solution could be either to introduce 2 parameters - source and destination as it was in deprecated spark_load_table (name, path parameters)

[2018-10-02 12:58] jyk opened #1699 "Additional parallel processing for rows within spark_apply()"
I have general question. Does it make sense to use additional parallelization within spark_apply() or does spark_apply() take care of parallelization of chunk of Spark Data Frame by itself ?
For instance does it make sense to use foreach package within function provided to spark_apply()  ?
I did not found any explanation of that issue in RStudio's webinars etc

[2018-10-02 16:14] #1694 closed

[2018-10-02 16:14] javierluraschi commented on #1695
Fixed with https://github.com/rstudio/sparklyr/pull/1697.

[2018-10-02 16:14] #1695 closed

[2018-10-02 16:15] #1668 closed

[2018-10-02 16:19] The-Dub commented on #1694
Thank you @javierluraschi!
I'll do that tomorrow & let you know

[2018-10-02 19:00] javierluraschi opened #1700 "GIS"
Someone in the community could consider building an extension for GIS functions, some projects that look relevant:
- https://spark-packages.org/package/geotrellis/geotrellis
- https://spark-packages.org/package/DataSystemsLab/GeoSpark
- https://spark-packages.org/package/drubbo/SparkGIS

[2018-10-02 21:49] javierluraschi commented on #1699
`spark_apply()` makes use of Spark to distribute computation; however, assuming that your cluster is fully utilized with `sparklyr` (say, if you have 3 worker machines nodes with 8 cores each, if you have correctly configured 24 executors) and that data is partitioned to fully utilized your cluster (say, by using `sdf_repartition(sc, 24)`) then no, it doesn't make sense to use additional paralleli

[2018-10-03 03:27] #1698 closed

[2018-10-03 07:18] jyk commented on #1699
Big thanks to quick answer!

[2018-10-03 15:20] #1699 closed

[2018-10-03 20:18] nietzschetmh opened #1702 "Can't copy_to local instance"
Hello, trying to import data into local sparklyr instance.

Data size is 16.8 gb, memory size is 16gb, which is smaller than the data size.
Trying to copy the data into local disk not memory.

[code]

I tried to do the following

[code]
I tried to increase ```sparklyr.shell.driver-memory``` to 8G but still don't work.

Error message:

[code]

I understand this is caused by not enough memory but i

[2018-10-04 12:39] edgararuiz commented on #1702
Hi, I think that you would want to read the data from file directly into Spark using something like `spark_read_csv()`, with the argument `memory` set to `FALSE`.  We have an article about that in our spark.rstudio.com site: http://spark.rstudio.com/guides/caching/#the-memory-argument

[2018-10-04 13:22] jeroenclaes opened #1703 "'remote_name' is not an exported object from 'namespace:dbplyr'"
---
Say `sparkD` is my R object that connects to a Spark Data frame.  In earlier versions of sparklyr, `sparkD + <enter>` would print a `head` of the values of sparkD, which is practical for interactive use during development. In the current CRAN  0.9.1 version of sparklyr, I get the error: ''remote_name' is not an exported object from 'namespace:dbplyr''. This is annoying, but not a high-priority

[2018-10-04 13:30] edgararuiz commented on #1703
Maybe this is a package version issue in your environment? I'm not able to reproduce.  Here's the info on my session:

[code]

[2018-10-04 14:59] cvrnogueira commented on #1496
Here we were having the same issue and we were able to fix with @HugoHehn suggestion and we get sparklyr version from github :-)

[2018-10-04 17:04] nietzschetmh commented on #1702
@edgararuiz , thanks a lot, it works very well if i use

[code]
A quick question, ``` memory = FALSE``` will load data into disk, how could i find its location? It's not in the folder i set in config
[code]
If i close my spark connection and later reconnect, do i need to run ```spark_read_csv`` again to load data? Or it will be there ready for use?

Just wondering if we could copy something alread

[2018-10-04 17:59] edgararuiz commented on #1702
Right, so the data is already on disk, Spark does not load or copy it anywhere else.  Spark just "maps" the files and saves that meta data on memory, so nothing is really imported.  That's what's so cool about it.  Because now, I can query files as if they were SQL, and also have the option to only load the needed columns and rows into memory if needed.  Having said that, a `memory = FALSE` `copy_

[2018-10-04 18:13] nietzschetmh commented on #1702
Thanks @edgararuiz . It's very clear.

[2018-10-04 18:13] #1702 closed

[2018-10-05 15:51] goriliukasbuxton commented on #1700
where is a big need to query PostGIS thru Spark with its spatial functions:
https://stackoverflow.com/questions/48305560/how-to-enable-postgis-query-in-spark-sql

[2018-10-05 23:19] kevinykuo commented on #1700
Related https://github.com/rstudio/sparklyr/issues/1475

[2018-10-07 03:55] #1546 closed

[2018-10-08 14:18] samuelmacedo83 commented on #1002
done:
- ml_naive_bayes
- ml_logistic_regression
- ml_decision_tree
- ml_random_forest
- ml_gradient_boosted_trees
- ml_bisecting_kmeans
- ml_kmeans
- ml_gaussian_mixture
- ml_linear_regression
- ml_generalized_linear_regression

in progress:
- ml_aft_survival_regression
- ml_isotonic_regression

not-done:
- ml_als
- ml_als_factorization
- ml_association_rules
- ml_fpgrowth
- ml_linear_svc
- ml_lda

[2018-10-09 19:37] MCM-Math opened #1704 "How do I do Oracle data pulls from incompatible data types?"
There seem to be only certain kinds of data that sparklyr can do SQL pulls of, and there are types it is not compatible with( "binary double" seeming to be one such type ).  Is there a way to do the data pulls such that the incompatible types can be pulled as compatible types, since direct pulls of the incompatible types just result in errors?

[2018-10-10 09:48] The-Dub opened #1706 "Can't locally increase sparklyr.shell.driver-memory"
Hi,

I'm trying to spawn a local instance of spark using sparklyr on my machine, and increasing the `sparklyr.shell.driver-memory` trigger a java config error.

[code]
gives me the following error message

[code]

My machine has 32go of memory and 16 cores. I've tried to increase the `-Xmx16G` parameter using options before loading any package (`options(java.parameters = "-Xmx24g")`) or by passing

[2018-10-10 10:10] The-Dub commented on #1706
Okay, think I found the issue.

Sparklyr was using the 32 bit version of java instead of the 64 bit version of java.
Closing the issue.

[2018-10-10 10:10] #1706 closed

[2018-10-11 01:38] rayserrano2735 commented on #1496
Is this issue considered resolved, or is there still development work ongoing?

[2018-10-11 01:47] kevinykuo commented on #1496
This should be resolved but open an issue if you experience otherwise.

On Wed, Oct 10, 2018, 18:38 rayserrano2735 <notifications@github.com> wrote:

[2018-10-11 03:40] rayserrano2735 opened #1708 "Hive support required for CTAS"
Trying to create a table in a non-default database generates the following error:

Error: org.apache.spark.sql.AnalysisException: Hive support is required to CREATE Hive TABLE (AS SELECT);;

[code]
Hive: 2.3.3
EMR: 5.17

R version 3.4.1 (2017-06-30)
Platform: x86_64-redhat-linux-gnu (64-bit)
Running under: Amazon Linux AMI 2018.03

Matrix products: default
BLAS/LAPACK: /usr/lib64/R/lib/libRblas.so

[2018-10-11 04:43] rayserrano2735 opened #1709 "Compression Codec Not Found on spark_read_csv, and null pointer on spark_read_jdbc"
The goal is to copy a text file into a Spark Dataframe, then copy that Spark Dataframe to a JDBC database table, and then read that JDBC table back into a second Spark Dataframe.  For this test we use SQLite.  In SparklyR we first define the driver class path in the config.  When we try to copy the text file into Spark using spark_read_csv we get a Compression codec com.hadoop.compression.lzo.LzoC

[2018-10-11 09:46] tpollok opened #1710 "Long hang time when copying R data frame/table to Spark"
I'm trying to copy a relatively small CSV file (~290 Mb), read into R using `fread()` from the `data.table` package, using both `sdf_copy_to()` and `copy_to()` from the `sparklyr` and `dplyr` packages, but I'm getting a long hang time. The Spark job progress bar appears, and after about 8 minutes the bar is 95% full, but hangs without completing the job. I'm using RStudio's preview release, 1.2.10

[2018-10-11 13:49] rayserrano2735 commented on #1709
Please note that I changed this line
url = "jdbc:mysql:file:///home/hadoop/my-sqlite.db",

To this

url = "jdbc:sqlite:file:///home/hadoop/my-sqlite.db",

but the issue persists

[2018-10-11 13:54] tpollok commented on #1710
Tested this on the latest RStudio preview release, 1.2.1047, and the problem persists.

[2018-10-11 14:02] tpollok commented on #1710
`spark_read_csv()` works fine, so this is no longer an issue for me, per se. However, this could be an issue if one were to manipulate a data frame in RStudio natively and then try to copy it over to Spark.

[2018-10-11 15:52] MCM-Math commented on #517
spark_read_jdbc seems to have noticable limitations as to what kinds of data it can work with, and little if any documentation describing them.  I keep getting "Unsupported type 101" from this function, where I don't get that error elsewhere for the same data.

[2018-10-11 15:55] MCM-Math commented on #270
I keep getting "Unsupported type 101" errors from spark_read_jdbc, and I can't determine why anywhere, and I don't have problems with the same data with other functions.

[2018-10-11 23:53] javierluraschi commented on #1710
@tpollok there are improvements to `copy_to()` being made here: https://github.com/rstudio/sparklyr/pull/1611, if you feel adventurous, there are instructions on how to install `arrow` and `sparklyr` from this PR to try out this improvement. Ping me on gitter if you get stuck and I'll be happy to help.

Otherwise, you can wait until the PR is merged and better instructions provided.

[2018-10-12 14:15] JordanCuevas opened #1711 "Hive date functions throw errors in sdf_sql"
I'm trying to use Hive date functions in sdf_sql to manipulate some data, however some of these return errors that the function is not registered in the database. Reproducible example below:

---

[code]
Session info below:

[code]

[2018-10-12 16:38] JordanCuevas commented on #1711
We actually just started a new cluster and reinstalled sparklyr and this issue no longer exists (not sure why). I will close this issue.

[2018-10-12 17:18] okedoki commented on #1496
The fix of @HugoHehn solved the problem.
Thanks.

One side note, in HDP(Hortonworks) you should do it via Ambari - Spark - Config- Custom spark2-defaults

[2018-10-12 20:41] rayserrano2735 commented on #1496
I think there is still a bug.  Please see this:
https://github.com/rstudio/sparklyr/issues/1708

On Fri, Oct 12, 2018 at 1:19 PM Semyon <notifications@github.com> wrote:

[2018-10-12 23:58] JordanCuevas commented on #1711
Reopening because we found that the issue reappeared after installation of the spark-sas7bdat package. I will open an issue with them as well.

[2018-10-15 03:37] harryprince opened #1712 "Hive radians function is not supported"
# Hive radians function is not supported

[code]

---

your brief description of the problem

[code]

Error:

[code]

[2018-10-15 19:18] realviacauchy commented on #1658
Did you figure out where the problem was originating from?

[2018-10-16 11:25] randomgambit opened #1715 "sparklyr does not work with spark 2.3.1?"
Hello there!

I am testing the new `sparklyr 0.9.1` and it seems still not compatible with `spark 2.3.1`.

Indeed, trying to run

[code]

gives:
[code]

the same setup worked without issues with `spark 2.2.1`. What do you think?
Thanks!

[2018-10-16 11:28] ScrapCodes opened #1716 "Errors trying to install sparklyr."
On trying to install sparklyr, I am getting the following error.
version of RStudio: Version 1.2.1047
ubuntu 14.04.1
R version 3.4.4

Installing package into ‘/home/prashant/R/x86_64-pc-linux-gnu-library/3.4’
(as ‘lib’ is unspecified)
trying URL 'https://cloud.r-project.org/src/contrib/sparklyr_0.9.1.tar.gz'
Content type 'application/x-gzip' length 3804005 bytes (3.6 MB)
==========================

[2018-10-16 13:45] fzenoni opened #1717 "spark_connect fails when h2o package is loaded"
I am trying to reproduce the example exposed [here](https://github.com/rstudio/sparklyr#using-h2o).

Connecting to a local spark instance works. That is, the following correctly works:
[code]

This on the other hand, fails
[code]
This is the output:
[code]

The same occurs for other Spark versions, but I am unable to install 2.3.2 from `spark_install`.

[code]

[2018-10-16 15:47] fzenoni commented on #1717
I duplicated this issue in a more relevant place: https://github.com/h2oai/sparkling-water/issues/960

[2018-10-16 15:47] #1717 closed

[2018-10-16 17:00] javierluraschi commented on #1715
@randomgambit looks related to https://community.cloudera.com/t5/Advanced-Analytics-Apache-Spark/Spark2-Error-deploying-and-status-ok/td-p/61657, has JAVA_HOME changed in the cluster and is it correctly set? What's the output of `java -version`?

[2018-10-16 17:09] javierluraschi commented on #1716
@ScrapCodes thanks! `sparklyr` is not requesting the correct version of `rstudioapi`, will fix this shortly in CRAN, but int the meantime, upgrade `rstudioapi` as follows:

[code]

[2018-10-16 18:40] #1716 closed

[2018-10-17 17:10] dvanlunen opened #1722 "Interaction with categorical includes all levels"
I am trying to run a `ml_generalized_linear_regression` with a categorical variable interacted with another variable. I expect that the interaction terms in my regression will include all levels of the categorical variable except one (the same one removed from the constant term). The constant terms of the categorical are correct and remove one level in the input features (level 'c' below). However

[2018-10-17 17:40] kevinykuo commented on #1722
We don't parse the formula in sparklyr and instead passes it directly to Spark's `RFormula` feature transformer: https://spark.apache.org/docs/latest/api/scala/index.html#org.apache.spark.ml.feature.RFormula. You may want to file this in the Apache Spark JIRA.

Is there a way around this issue at the moment? Like can we somehow absorb the extraneous estimate into the intercept?

[2018-10-17 20:01] dvanlunen commented on #1722
I actually realized I can do
[code]
and it works

[2018-10-17 20:06] dvanlunen commented on #1722
I don't think there is an easy way to absorb the extraneous piece because having the perfect colinearity means all the coefficients on the interaction terms will be unstable so you don't know how much to take from each into the intercept. I'm ok with the above for now though. Thanks!

[2018-10-17 20:06] #1722 closed

[2018-10-19 12:34] jyk opened #1724 "apply UDF with more than one argument in spark_apply() function - need for example"
Hi. I checked https://github.com/rstudio/sparklyr/issues/1540.
However, what is missing is an example of spark_apply() using several arguments.

Could You please give working example for next:

trees_tbl <- sdf_copy_to(sc, trees, repartition = 2)

trees_tbl %>%
  spark_apply(
    function(e,a1,a2) data.frame(2.54 * e$Girth, a1 * e$Girth,a2 * e$Girth, e),
    context = {a1 <- 2; a2 <- 3},
    names

[2018-10-19 13:10] randomgambit commented on #1715
@javierluraschi yes, `JAVA_HOME` is now pointing to java 8+ in the `spark-envs.sh` .. SHould I specify the `JAVA_HOME` from my R code as well?

[2018-10-19 17:22] lpatruno opened #1726 "segmentation fault upon reconnecting to Spark after a disconnect"
Hi folks,

I'm getting a segfault memory error when attempting to reconnect to spark after disconnecting.
The only reason I am disconnecting is because I would like to release all of the memory that is being held by the underlying Java process after running spark jobs and I haven't found any way of doing that while keeping the connection alive. If someone can describe an alternative way of releasi

[2018-10-19 17:35] javierluraschi commented on #1726
@lpatruno would you mind trying this fix https://github.com/rstudio/sparklyr/pull/1723? You can install this fix running:

[code]

The fix should properly clean memory to remove the need to restart the R session.

I'm interested in also fixing this segfault, but I need a repro which is usually only possible by providing a docker file to consistently reproduce, if you can get me one we can definite

[2018-10-19 17:52] lpatruno commented on #1726
Hi @javierluraschi thanks for the rapid response.

Unfortunately, I can't provide much more info in the way of a reproducible example because I'm working with proprietary data.

Running that install command resulted in the following error:
[code]

[2018-10-19 18:06] javierluraschi commented on #1726
Then I would try:

[code]

[2018-10-19 19:38] lpatruno commented on #1726
The only way I've gotten this to work with seg faulting on the reconnect is by committing this crime:
[code]

Aside from the obvious hacxzor programming, is there cause for concern with this approach?
The current alternative is to just run separate docker containers for each job rather than disconnecting and reconnecting. But I'd like to avoid that if possible.

[2018-10-20 23:46] randomgambit commented on #1715
was some `JAVA_HOME` issue...

[2018-10-20 23:46] #1715 closed

[2018-10-21 17:09] schlichtanders commented on #1049
StackoverflowError ;-)

this issue was closed because the "feature request being tracked under #1049" which happens to be just this issue

reopen?

[2018-10-23 07:19] jyk commented on #1128
How the syntax of context will look like in case of several parameters ?

i.e. Adding "b":
spark_apply(sdf_len(sc, 1), function(e, a, b) {
   e + a + b
}, context = {a <- 1} ?????   )

[2018-10-23 11:49] okedoki opened #1728 "Lack of log data for spark_apply"
I have reporting(logs) and performing issues with spark_apply.

First of all, I didn't manage to find a proper log for the spark_apply.  There is one final 'collect' stage in Spark with following stdout. No additional information found.

18/10/23 10:46:04 INFO sparklyr: RScript (3775) found 10 rows
18/10/23 10:46:04 INFO sparklyr: RScript (3775) retrieved 10 rows
18/10/23 10:46:05 INFO sparklyr: R

[2018-10-24 17:20] mattpollock opened #1729 "NA prints FALSE in logical col"
It seems that `NA` values in Spark DataFrames are handled correctly internally (neither `TRUE` nor `FALSE` and `is.na` returns `TRUE`) but printed incorrectly. Consider the examples below:

[code]
Interestingly, the printed value is the same but it is known that `NA` and `FALSE` are different under the hood somewhere.
[code]

[2018-10-25 21:27] c4f3a0ce opened #1732 "Sparklyr shouldn't provide stream_read_jdbc and stream_write_jdbc"
As of today (Spark 2.3 / 2.4-RC) Spark doesn't support streaming reads and writes with JDBC source. While the latter one might be implemented in the future, the former one is probably less likely.

Therefore exposing aforementioned functions is highly misleading.

[2018-10-25 22:46] javierluraschi commented on #1729
Fixed by https://github.com/rstudio/sparklyr/pull/1731

[2018-10-25 22:46] #1729 closed

[2018-10-25 23:33] javierluraschi opened #1733 "POSIXct in Spark with Arrow for Date(MILLISECOND)"
Repro:

[code]

Related tests:

[code]

[code]

[2018-10-25 23:35] javierluraschi opened #1734 "Nested data in Spark with Arrow"
Tracks work to revert 73815ce7dd4735a5b37b056aadbe2ccf52189dfb and ee226007a18bf2cc3f188f24bd1866cc59f55993 while https://issues.apache.org/jira/browse/ARROW-2969 is implemented.

Also revert e583c15caf09f01a9bdbc1b39f3365c5ad4e8da3.

Tests:

[code]

[2018-10-26 03:32] javierluraschi opened #1735 "NaN support in Arrow"
Currently test disabled due to https://issues.apache.org/jira/browse/ARROW-3615

[code]

[2018-10-26 03:53] harryprince commented on #1496
sparklyr 2.3 support more ML functions, like `ft_quantile_discretizer` to batch quantile normlize features. hope to integrate Hive better inn sparklyr. Currently, `devtools::install_github("rstudio/sparklyr")` fail to solve the problem.

[2018-10-26 03:56] harryprince commented on #1710
same issue +1

[2018-10-26 07:08] harryprince commented on #1299
same issue +1

[2018-10-26 15:42] javierluraschi opened #1736 "Investigate issue when collecting int64 in Arrow"
Repro:

[code]

Actual:

[code]

Expected:

[code]

Actual:

[code]

Reenable:

[code]

[2018-10-26 15:44] javierluraschi opened #1737 "Investigate timezone test issue in arrow"
Reenable travis test:

[code]

[2018-10-26 18:01] javierluraschi commented on #1299
@harryprince can you share your `sessionInfo()`?

[2018-10-26 19:55] ossianmogensen opened #1738 "SQL translation turns aggregation into window function on SPARK"
I'm using sparklyr on Databricks (though the issue is not databricks specific) and I see an issue in the SQL translation for aggregation functions.

When using a simple aggregation function in a mutate clause, this is translated as a window function in SparkSQL. In a traditional database this is not a big deal, but on SPARK this causes all data to be pulled to a single node which causes poor perfo

[2018-10-27 23:03] harryprince commented on #1738
related to https://github.com/rstudio/sparklyr/issues/1638

[2018-10-28 00:01] harryprince opened #1739 "xgboost inference with spark_apply stocked at last task"
I am inferenceing xgboost model with spark_apply, it seems quickly complete all inference task, but hold on for many hours at last task.

I check the sparklyr source code about workerrdd.R, it seems waiting some lock?

<img width="403" alt="screen shot 2018-10-28 at 7 56 14 am" src="https://user-images.githubusercontent.com/5362577/47610413-04287300-da87-11e8-9c4b-25236d06a1bb.png">

Need some hel

[2018-10-28 09:04] schlichtanders commented on #1615
sparklyr.nested is unfortunately not what is needed here. It is really more a serialization task like @kevinykuo rightly tagged it

**I regard this as a really crucial feature.**

**Compare it with Python:** Here we can serialize even numpy arrays to org.apache.spark.ml.linalg.DenseVector directly, and python lists to hive sql-arrays, and more - everything just works.

**One Example:** Currently t

[2018-10-28 13:33] harryprince commented on #1739
it seems the sparklyr bug, I switch to pyspark version, all works very well.

[2018-10-29 07:07] kevinykuo commented on #1615
@javierluraschi could you comment on how this would work out with the arrow stuff? I imagine they would have the right primitives to deal with listcols in tibbles.

[2018-10-29 07:13] kevinykuo opened #1740 "Support using carrier::crate() in spark_apply"

[2018-10-29 17:05] realviacauchy commented on #1002
How do I call the implementation for visualization of a decision tree / random forest / etc.?

[2018-10-29 18:09] jmerone commented on #1231
@kevinykuo or @edgararuiz is this still being worked on?

[2018-10-29 18:41] javierluraschi commented on #1732
That looks right, I was sure `jdbc` was supported from various example under: https://databricks.com/blog/2016/07/28/structured-streaming-in-apache-spark.html example:

[code]

[code]

[code]

[2018-10-29 23:51] #1732 closed

[2018-10-30 01:14] javierluraschi commented on #1739
@harryprince have you run something like:

[code]

To make sure there is no partition that has a significant amount of rows compared to the other partitions? Maybe there are a lot of `uid` `NULL` values that is taking a really long time to process?

Also, can you reproduce without using `xgboost`? Maybe with something like:

[code]

Send me an email to javier at rstudio to help you get faster turn

[2018-10-30 10:40] deepachawla commented on #1299
same issue +1

list <- sdf_collect(dfAll %>% sample_n(2))
argument "con" is missing, with no default

[2018-10-30 21:11] javierluraschi commented on #1736
Fixed in upstream repo.

[2018-10-30 21:11] #1736 closed

[2018-10-31 11:17] preitz07 opened #1742 "Spark Connection - not loading Hive Metastore in AWS Glue"
We are using R-Studio installed on a master node in AWS EMR. On the same node we have Spark, Hue, Hive, Zeppelin, Yarn etc. Our Hive Metadatastore is AWS Glue and Zeppelin and Hue can interact with it perfectly. We are however not able to create a working connection with sparklyr (working connection means access to the data, the connection is still "connecting" to something but no data is visible

[2018-10-31 12:05] andreysharapov opened #1743 "Dates out of control"
Hi

I have installed today sparkly 0.9.2 and previously was using the GitHub version that you pointed me to. I get very strange behaviour with dates. It happened somehow over the weekend. Dates are shifted now by one day when I query using date ranges. When I query for a specific date, it gives the same numbers as in Hive. But when I query <,> for dates, then they are shifted. What could be the re

[2018-10-31 12:09] andreysharapov commented on #1743
By the way the dates are here https://www.timeanddate.com/time/change/germany?year=2016

[2018-10-31 12:10] andreysharapov commented on #1743
why is it shifted after Daylight Saving dates every year)) ? and only in spring

[2018-10-31 12:39] byerancy commented on #1703
Same here. Problem is solved after dplyr is updated from v0.7.4 to v0.7.7.

[2018-10-31 17:05] dkincaid commented on #907
@kevinykuo Sorry to bring this old issue up, but this doesn't seem to work when the model is in a pipeline. Is there an open issue for that?  I couldn't find one. ml_predict() on a pipeline does not give the predicted_label column nor the probability_X columns. I haven't been able to find a way to tell at all from a pipeline which uses a logistic regression model which label is which.

[2018-10-31 20:40] benmwhite opened #1744 "`ml_als()` saves unexposed RDDs in memory"
Running `ml_als()` with data frame input stores two in-memory RDDs: `userFactors` and `itemFactors`. However, these are not visible to `dplyr::src_tbls(sc)` and cannot be uncached with `tbl_uncache()`.

Using sparklyr 0.9.2.9000 with Spark version 2.3.0.

[code]

Checking saved RDDs:
[code]

This shows us three RDD objects, named "userFactors", "itemFactors", and "In-memory table \`foo_tbl\`". We

[2018-11-01 18:47] randomgambit commented on #1286
@kevinykuo @javierluraschi guys I just tried to run some state-of-the-art NLP algos on my machine, and it is S L O W !!!!! we really need NLP on spark! better yet, NLP on sparklyr ! :) do you think this is doable soon?

[2018-11-01 18:57] kevinykuo commented on #1286
@randomgambit Yes, I should have this moving in December. Shoot me an email if I don't update by the end of the year.

[2018-11-01 21:00] MCM-Math commented on #1688
I keep getting "Unsupported type 101" errors.

[2018-11-01 21:37] gbouzill commented on #1688
Some fields oif your table have an unsupported dara type.
You can specify thé fields you want to retrieve in the select statement and
exclude those which are unsuported.
Alternatively, you can use thé Oracle TO_CHAR function around the
unsupported fields on thé select clause.

Le jeu. 1 nov. 2018 à 22:00, MCM-Math <notifications@github.com> a écrit :

--
___________________________________________

[2018-11-02 05:59] javierluraschi commented on #1743
@andreysharapov could you please attach runnable code to attempt to reproduce this? Thanks!

[2018-11-02 06:04] javierluraschi commented on #1742
@preitz07 could you share the exception that you are hitting? Which is the latest version of `sparklyr` where this was working correctly?

[2018-11-02 15:34] preitz07 commented on #1742
Hi @javierluraschi ,

thanks for responding.

sparklyr version is sparklyr_0.9.2.9000, pulled directly from the github with: devtools::install_github("rstudio/sparklyr")

Like i said in my short explanation of the error, there is no exception. The tables and the data just don't show up and can't be accessed. There is also no error in the logs (just a few unrelated warnings).

We are not sure when

[2018-11-03 02:32] harryprince commented on #1739
the same dataset works very well on Pyspark, but SparkR and Sparklyr are stucked on the same one task. It seems the different working mechanism, and the dataset is not skewed.

[2018-11-03 21:58] javierluraschi opened #1746 "Support for timing out while processing a partition in `spark_apply()`"
Some tasks in `spark_apply()` could hang due to R code, this issue is tracking adding support for a timeout parameter in `spark_apply()` to restrict the time it takes to execute a partition.

[2018-11-03 21:59] javierluraschi commented on #1739
@harryprince here is what I would do, first run code similar to:

[code]

This will add an entry similar to:

[code]

When executing this in your cluster, you will have to look in the logs for the task that is not finishing, once you have that digest, you can cancel the job.

Then you can use that digest to retrieve that specific data frame to R with something like:

[code]

Then I would run that

[2018-11-05 16:35] mattpollock opened #1749 "support spark 2.4"
Spark 2.4 brings lots of nice functionality (e.g., https://jira.apache.org/jira/browse/SPARK-23899) and seems to be released (https://archive.apache.org/dist/spark/spark-2.4.0/). Can sparklyr support this version?

Thanks much.

[2018-11-05 19:50] rjsteckel commented on #1496
Anyone else still having this issue? We just upgraded to Hortonworks 2.6.5.4-1 which uses spark 2.3 and now sparklyr (pull from github) fails when I run tbl_change_db(sc, '<db name>').

I can use hive and beeline just fine.

[2018-11-05 22:05] kevinykuo opened #1750 "Issues with hive post 2.3 breakage fix"
Collecting hive issues that came up after we thought we fixed https://github.com/rstudio/sparklyr/issues/1496 here.

- AWS glue (https://github.com/rstudio/sparklyr/issues/1742)
- Creating table in non-default database (https://github.com/rstudio/sparklyr/issues/1708)

[2018-11-05 22:05] kevinykuo commented on #1496
@rjsteckel could you file an issue and link to https://github.com/rstudio/sparklyr/issues/1750 please

[2018-11-05 22:10] kevinykuo commented on #1749
We have to wait until it's officially out (i.e. announced on https://spark.apache.org/) before supporting it but are there draft release notes somewhere?

[2018-11-06 09:58] andreysharapov commented on #1743
Hi

There is really no runnable code per se.

I run the following query

SELECT client_id, orig_item_nr, dat_formdate, abverkauf, umsatz_brutto, is_weight,   bon_count, preis_brutto, anzahl_filialen, pct_vat, price_buying, exchange_rate FROM qa01ch_data.PVT_SALES_AGG WHERE client_id = 3   AND year <= 2018   AND dat_formdate <= '2018-09-22'

and examine results.

In Hive I get no date shifts and so

[2018-11-06 10:40] mattpollock commented on #1749
Makes sense. I have not seen release notes yet. Just some indicators from watching their Jira.

[2018-11-06 13:42] andreysharapov commented on #1743
Well, I looked again. All dates are shifted by one day in sparklyr 0.8.4.

[2018-11-06 17:38] aschmu opened #1752 "sparklyr proxy setting with livy"
Hi,

It seems there is a potential security risk when accessing spark through Livy.
The issue whenever the `proxy_user` parameter is not set or empty, the *knox user* is used to launch Spark Job (tested with Hortonworks HDP 2.6.4). If I'm not mistaken, this impersonation could potentially lead to unwanted actions (such as stopping authentication services).

All other ways seem to authenticate the

[2018-11-07 08:38] okedoki commented on #1728
I have managed to got an exception finally "Reason: Container killed by YARN for exceeding memory limits. 52.0 GB of 52 GB physical memory used. Consider boosting spark.yarn.executor.memoryOverhead."

That is quite strange since I'm writing to csv instead of performing a collect operation.   Looks like @randomgambit assumption is correct in #980 , each nodes physically copy the whole dataframe in

[2018-11-07 09:01] kevinykuo opened #1754 "Deprecate `sdf_mutate()`"
We promised to do this in https://github.com/rstudio/sparklyr/pull/1330#issuecomment-369989170 but haven't done so...

[2018-11-07 09:54] #1754 closed

[2018-11-07 22:26] kevinykuo opened #1758 "rlang 0.3 compatibility"
Resolve deprecation warnings

[2018-11-07 22:32] javierluraschi commented on #1615
Currently nested data is not implemented in the R arrow bindings, but yes, once https://issues.apache.org/jira/browse/ARROW-2969 is implemented, this should work in arrow.

[2018-11-08 01:56] kevinykuo commented on #907
@dkincaid right, pipeline stage objects don't retain the metadata required to produce these columns, so you'll have to get them manually if you're not using the `ml_*(data, formula)` interface.

[2018-11-08 02:03] dkincaid commented on #907
It seems to me that the real problem here is the ft_r_formula function not allowing the user to specify the index order. Could this be added as a parameter to the function and have it passed on to the string indexer? Then at least we could specify alphabetical ordering.

[2018-11-08 02:09] kevinykuo commented on #907
@dkincaid oh yeah I think that's supported from 2.3 and on, could you open an issue?

[2018-11-08 02:10] dkincaid commented on #907
Will do! Thanks.

[2018-11-08 02:15] dkincaid opened #1760 "Add a parameter to ft_r_formula to allow changing the ft_string_indexer string_order_type"
Since we are able to specify the string order used when turning a string to an index via `ft_string_indexer` we should add a parameter to the `ft_r_formula` function to allow the user to specify the string index order when specifying an R formula.

[2018-11-08 03:17] kevinykuo opened #1761 "Consider warning on Livy connections"
Something along the lines of "you shouldn't do this if you can help it ;)"

@edgararuiz @javierluraschi

[2018-11-08 20:11] kevinykuo commented on #1738
@ossianmogensen we'll get the fix upstream looked at ASAP. Do you recall what the performance hit was for your case (and how big the dataset is?)

[2018-11-09 00:33] ossianmogensen commented on #1738
My dataset is around 57 million rows. In my case, the code wouldn't even
run on my cluster - I believe the worker ran out of RAM. When I tested it
on a smaller dataset it worked, but the operation became single-threaded
plus the overhead of sending all the data to a single worker node.

On Thu, Nov 8, 2018 at 2:11 PM Kevin Kuo <notifications@github.com> wrote:

[2018-11-09 00:53] kevinykuo commented on #1749
2.4 dropped today. We'll get issues open to track new features in the coming days.

[2018-11-09 08:54] schlichtanders commented on #1615
sounds awesome, however also sounds like this would need Spark 2.4 at least, i.e. another 2 years until this might be usable in production environments

I think it would made sense to also support this without Arrow dependency, i.e. with current spark versions

[2018-11-10 06:33] kevinykuo opened #1763 "Support cosine distance in kmeans/bisecting kmeans"
https://issues.apache.org/jira/browse/SPARK-22119

[2018-11-10 06:34] kevinykuo opened #1764 "Add lift in FPM"
https://issues.apache.org/jira/browse/SPARK-10697

[2018-11-10 06:35] kevinykuo opened #1765 "Add evaluateEachIteration for GBT"
https://issues.apache.org/jira/browse/SPARK-14682

[2018-11-10 06:37] kevinykuo opened #1766 "Support fit with validation in GBT"
https://issues.apache.org/jira/browse/SPARK-7132

[2018-11-10 06:38] kevinykuo opened #1767 "PIC"
https://issues.apache.org/jira/browse/SPARK-15784

[2018-11-10 06:39] kevinykuo opened #1768 "Locale support in stop words remover"
https://issues.apache.org/jira/browse/SPARK-15064

[2018-11-10 06:40] kevinykuo commented on #1481
https://issues.apache.org/jira/browse/SPARK-21898

[2018-11-10 06:41] kevinykuo opened #1769 "Single instance prediction"
https://issues.apache.org/jira/browse/SPARK-10884

[2018-11-10 07:05] kevinykuo opened #1770 "Add intersect_all and except_all dplyr verbs"
Tracking upstream at https://github.com/tidyverse/dplyr/issues/3960. We should add a couple tests in sparklyr.

[2018-11-10 07:10] kevinykuo opened #1771 "Image data source support"
https://issues.apache.org/jira/browse/SPARK-22666

[2018-11-10 07:12] kevinykuo opened #1772 "Deprecate kmeans compute cost"
https://issues.apache.org/jira/browse/SPARK-23451

[2018-11-10 07:14] kevinykuo opened #1773 "Higher order functions"
https://issues.apache.org/jira/browse/SPARK-23899

[2018-11-10 07:18] kevinykuo commented on #1231
Possibly related: https://github.com/apache/spark/pull/21187

@edgararuiz I remember there was a PR for `gather()` (in dbplyr?) that I can't locate... is that still happening?

[2018-11-12 13:35] overmar commented on #1231
#' @param tbl spark table
#' @param vr column names of columns to gather, or "all_columns" to gather all but non.strat
#' @param non.strat string of column name that shouldn't be gathered
#' @param fun sdf_pivot requires a summarise function, so this can cause problems, but it works for both min and max.
gather_sparklyr <- function(tbl,vr,non.strat, fun = "max") {
  pivot.formula <- function(non.s

[2018-11-14 15:18] klausmiller opened #1774 "Value matching under sparklyr"
I tried value matching under sparklyr using:

    spark_parquet %>% filter(customer_id %in% spark_unique_customer_ids)

However, I received the following error:

    Error in UseMethod("escape") : no applicable method for 'escape' applied to an object of class "c('tbl_spark', 'tbl_sql', 'tbl_lazy', 'tbl')"

Any suggestions how to tackle this?

[2018-11-14 16:41] benmwhite commented on #1774
I'm not getting this error with the following (either locally or on a YARN-managed cluster, sparklyr dev build):

[code]

[2018-11-15 08:48] klausmiller commented on #1774
I am using sparklyr_0.9.2, however the issue was indeed my spark_unique_customer_ids. Thanks for the help and keep up the good work!

[2018-11-15 08:48] #1774 closed

[2018-11-16 15:00] shwetapurushe commented on #1002
Hello, the code example at #598 no longer works. The error i get is
`> invoke(model$model, "toDebugString")
Error in UseMethod("invoke") :
  no applicable method for 'invoke' applied to an object of class "c('ml_decision_tree_classification_model', 'ml_prediction_model', 'ml_transformer', 'ml_pipeline_stage')"`

I was thinking of pulling the model into R (using a collect) and visualizing it with a

[2018-11-19 17:40] awwsmm opened #1777 "Feature Request: spark_read_excel"
sparklyr currently doesn't have a `read_excel` functionality. But this would be a very nice additional feature.

[2018-11-19 18:43] shwetapurushe commented on #1002
Alright, after some experimentation and help online , the code below helps you crudely visualize a tree
get the debug string
`model_stage <- fitted_model$stages[[3]]
 spark_jobj(model_stage) %>% invoke(., "toDebugString") %>% cat()
`

[2018-11-20 18:35] javierluraschi opened #1779 "Import/Export with R"
We could enable reading/writing files directly from R to make all the file formats available in R in Spark. This would work similar to `spark_apply()` but instead of mapping `dataframes -> dataframes` functions would map `file_path -> dataframe` and save `dataframe, file_path -> disk`. As in,

[code]

See https://github.com/rstudio/sparklyr/issues/1777.

This could be implemented with something li

[2018-11-20 18:35] javierluraschi commented on #1777
@awwsmm do you have large Excel files in a cluster environment? Otherwise you could do:

[code]

[2018-11-20 21:42] mdivk opened #1780 "Deploy R kernel into Jupyter"
We need to build a R kernel in Jupyter on our Cloudera Cluster, here is my questions:

1. The cluster does not have R, a preferred way is to use Anaconda to install R;
2. After R is installed, create IRkernel and register it to Jupyter;

The problem is that will install R into the Anaconda pacels location on that particular host only, meaning all other nodes do not have that.

We will need the R b

[2018-11-21 09:53] awwsmm commented on #1777
Yes. Like it or not, Excel files are a de-facto standard for data collection in lots of scenarios, and we have a lot of them to analyse. We'd like to move to a Hadoop/Spark based analysis environment and that means either parsing all of those files and converting them to some other format, or just reading them directly as xls/xlsx from HDFS. It would be great if `sparklyr` could eventually provide

[2018-11-22 11:44] lucyhome2018 opened #1781 "The spark_apply function uses R extension packages very slowly"
Hello!
         Everyone! I need some help, my problems are as follows:
I use this command:
`time_jy_hr<-spark_apply(jydat_hr,function(e) lubridate::ymd_hms(e$data_time),packages = TRUE)`
          when there are about 600 rows,it takes 5 seconds;But, when I run this command with more than a dataset of 40 thousand rows,it takes more than 3 hours. It is very slowly. This is my first time to use spa

[2018-11-22 11:59] MichaelChirico opened #1782 "Analogue to createTable and recoverPartitions"
In the native Spark API (e.g. `SparkR`) the process of running daily jobs which build up the same table is pretty straightforward:

[code]

Unfortunately, I don't see a straightforward way to imitate this in the `sparklyr` API.

`spark_write_parquet` covers the first bit pretty effectively, but I don't see a way to register a table to an existing S3 bucket besides manually (and laboriously) constr

[2018-11-23 02:11] harryprince commented on #1780
it's pretty easy for `sparklyr::spark_apply` with default `packages = TRUE`, which will upload your local R packages into HDFS and then distribute to each workers automatically. Do not need to pre-install any R packages in worker.

[2018-11-23 02:15] harryprince commented on #1781
before call `spark_apply`,  you might consider call the `sdf_repartition` function, which will help you rebalance your dataframe in each work.

Your job was running 3 hours, which seems only running on only one worker and skewed dataset.

[2018-11-23 02:20] harryprince commented on #1782
I was trying to do the same job.

I am using hdfs command to delete a specific directory files.
And then calling `spark_write_table` with `mode = 'append'`

[2018-11-23 02:42] MichaelChirico commented on #1782
yea I'm reporting to the same... could you elaborate on the hdfs to remove existing files? I couldn't figure anything out that wasn't heavily manual...

[2018-11-23 02:43] MichaelChirico commented on #1782
yea I'm reporting to the same... could you elaborate on the hdfs to remove existing files? I couldn't figure anything out that wasn't heavily manual...

how did you construct the partition path? I was hoping to be able to do it without any spark execution since that part's costly...

[2018-11-24 17:58] runthalashivam commented on #741
I was also facing the same issue when using sdf_schema through livy. The following worked and was pretty fast -
jobj <- spark_dataframe(spark_df) # Where spark_df is of class tbl_spark
schema <- jobj %>% sparklyr::invoke("schema") %>% sparklyr::invoke("json")
# library(jsonlite)
schema_list <- fromJSON(schema)

[2018-11-26 03:39] harryprince commented on #1782
just like this:

[code]

[2018-11-26 08:28] MichaelChirico opened #1784 "Better interaction with glue"
Related: #1783

It's not a `Suggests` or `Imports` for this package, but anyway I'd expect more friendliness with glue objects:

[code]

The rather clunky fix is simple, but it seems odd to place this burden on the end user:

[code]

[2018-11-26 16:10] mdivk commented on #1780
Thank you very much.

[2018-11-26 16:10] #1780 closed

[2018-11-26 16:22] randomgambit commented on #1286
@kevinykuo itssssssss tiiiiiiiimee ! :) any good news on that??? thanks guys!

[2018-11-26 17:09] javierluraschi commented on #1781
@lucyhome2018 repartitioning as @harryprince mentions would help.

Additionally, we are working on making `spark_apply()` about `100X` faster with `arrow`, if you feel adventurous to try a feature not yet released, you can find instructions on using `arrow` here: https://github.com/rstudio/sparklyr/pull/1611.

[2018-11-26 17:15] kevinykuo commented on #1286
@randomgambit Yeah still on track to get to this this year. The prerequisite is https://github.com/rstudio/sparklyr/pull/1778 which I'm working on at the moment together with the xgboost extension (which will be in a public repo soon.)

[2018-11-26 17:48] MichaelChirico commented on #1782
`mode = 'append'` was not working for me since I was getting an error when combining with `partition_by` (perhaps a bug? I recall something along the lines of `insertInto()` and `partitionBy()` being incompatible, but I use `SDF.partitionBy(...).write.mode('append').parquet(...)` in the plain Spark API all the time...), so I resorted to writing my own helper function... it's not robust enough to b

[2018-11-28 03:13] harryprince commented on #1784
fail to reproduce your result, it works very well on my rstudio-server.

[2018-11-28 03:14] harryprince commented on #1782
if spark version greater than 2.0, partion_by is not necessary, if the table partition was claimed.

[2018-11-28 03:17] harryprince commented on #1782
[code]

[code]

[2018-11-28 14:51] sz-cgt opened #1789 "No tidy() support for pipeline output"
The following examples are conceptually equivalent, yet only the first works.  This makes building exploratory models that rely on `ft_*()` operations difficult

[code]

<sup>Created on 2018-11-28 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

Given that
`mt %>% ft_r_formula(am ~ cyl + mpg) %>% ml_linear_regression(fit_intercept = FALSE) %>% coef()`
and
`mt %>% ft_r_formula(

[2018-11-28 15:00] sz-cgt commented on #1789
Experimenting, I note that `mt %>% ml_linear_regression(mpg ~ .) %>% tidy()` works as expected.

Given that
`mt %>%
  ft_r_formula(am ~ cyl + mpg) %>%
  ml_linear_regression(fit_intercept = FALSE) %>%
  coef()`
and
`mt %>%
  ft_r_formula(am ~ cyl + mpg) %>%
  ml_linear_regression(fit_intercept = FALSE) %>%
  summary()`
also work correctly, it is surprising that I cannot use tidy() against the pipe

[2018-11-28 18:14] mdivk opened #1790 "Failed to detect version from SPARK_HOME or SPARK_HOME_VERSION in Jupyter R kernel"
Being stuck at this: I have env setting for the R kernel and can confirm the setting in place:

`Sys.getenv("SPARK_HOME")`

Result:

But in R notebook, if I want to create a spark context like below:

`sc<-spark_connect(master='local')`

I get the following error:

How do I fix it? Thank you very much.

[2018-11-28 18:50] javierluraschi opened #1791 "Barriers"
[Spark 2.4](https://spark.apache.org/releases/spark-release-2-4-0.html) adds support for [RDD.barrier()](https://spark.apache.org/docs/latest/api/scala/org/apache/spark/rdd/RDD.html#barrier():org.apache.spark.rdd.RDDBarrier[T]) which is enabled by the new [Hydrogen scheduler](https://www.youtube.com/watch?v=LV4y7MPxIfA). Barriers are useful for parallel distributed processing, which can enable dee

[2018-11-28 21:47] javierluraschi opened #1794 "Update tests to support spark-2.4"
[Ran travis with Spark 2.4](https://travis-ci.org/rstudio/sparklyr/builds/460962946?utm_source=github_status&utm_medium=notification), we got 4 failures due to, apparently, algorithm changes in ML:

[code]

CC: @kevinykuo

[2018-11-29 00:07] mdivk commented on #1790
Thank you. Doesn't matter what mode I use, yarn-client or local, same error.

[2018-11-29 00:14] javierluraschi commented on #1790
This issue has already been fixed, try installing sparklyr as:

[code]

Also, I'm about to push this release to CRAN, https://github.com/rstudio/sparklyr/releases/tag/v0.9.3, which contains this fix.

[2018-11-29 00:15] mdivk commented on #1790
awesome, will check tomorrow at work, thank you very much.

[2018-11-29 00:15] javierluraschi commented on #1790
BTW. The workaround is to run:

[code]

before connecting.

[2018-11-29 00:17] mdivk commented on #1790
Seems to be just a 'get' env instead of 'set', is there a way to set env?

[2018-11-29 00:19] mdivk commented on #1790
BTW, do I need to install R (conda) on every worker in the cluster? I see someone said no need but just want to confirm from more than one source, and how do I check to find out if the R code is using the entire cluster? Can you post a simple code snippet for the testing purpose? Thank you.

[2018-11-29 01:32] javierluraschi commented on #1790
@mdivk You only need to install R in every worker if you want to use `spark_apply()`, which is a function to perform custom transformations to Spark DataFrames using R. If you don't need `spark_apply()`, you don't need to install R in every worker.

[2018-11-29 01:36] mdivk commented on #1790
I just tried:
`Sys.getenv(SPARK_HOME_VERSION = "1.6.0")`
and got error:

When I changed it to:
`Sys.getenv(SPARK_HOME_VERSION = )`
I got:

if I do:
`Sys.getenv(SPARK_HOME_VERSION)`

Error:

I have not done the `devtools::install_github("rstudio/sparklyr", "feature/sparklyr-0.9.3")` though coz I need system admin to do that for me.

[2018-11-30 10:10] dalloliogm commented on #1099
If you don't have the admin rights to install R on all worker nodes, you can create a conda environment containing R and any other package, and distributed it using Yarn. See Option 2 here: https://blog.cloudera.com/blog/2017/09/how-to-distribute-your-r-code-with-sparklyr-and-cdsw/

[2018-12-03 05:39] harryprince commented on #1790
Sys.getenv("SPARK_HOME_VERSION")

[2018-12-03 15:23] aschmu commented on #1761
Hi why not ?

[2018-12-03 17:33] kevinykuo commented on #1761
@aschmu it's much slower than running `yarn-client` or `yarn-cluster` mode and doesn't support extensions.

[2018-12-03 22:31] aschmu commented on #1761
Thanks, so if I understand correctly this isn't inherent to sparklyr per se but to Livy, right ? I suspect that it's mainly because moving around large datasets through HTTP is inefficient, are there other causes of inefficiency?

[2018-12-04 07:48] kevinykuo commented on #1761
The way Livy is implemented in sparklyr each `invoke()` call is a separate request to the server. In some functions `invoke()` is used liberally so the overhead adds up. I'm not too familiar with how the other APIs talk to Livy. There's also some relevant discussion at https://github.com/rstudio/sparklyr/issues/741.

[2018-12-05 05:54] jim-baskin opened #1795 "Failed while connecting to sparklyr to port (8880) for sessionid"
My spark cluster works fine: version 2.1.0
But I am having issue with sparklyr 0.9.

I tried all modes (local, yarn-client and yarn-cluster) but no luck.

Error below:

Error in force(code) :
  Failed while connecting to sparklyr to port (8880) for sessionid (20721): Gateway in localhost:8880 did not respond.
    Path: /usr/lib/spark-2.1.0-bin-hadoop2.6/bin/spark-submit
    Parameters: --class, sp

[2018-12-05 18:44] javierluraschi commented on #1795
@jim-baskin please share your connection code, as in `spark_connect()`, which cluster provider are you using? The more information you can provide the more we can help.

One initial suggestion, try forcing `yarn-client` mode by adding to your configuration:

[code]

[2018-12-05 21:01] jcerquozzi opened #1796 "Error with df.show() pyspark"
# Reporting an Issue with df.show() in pyspark

I have the following code:

[code]

Runs fine until here, but when I run:

`df.show()`

It gives this error:
[code]

How can I solve this?

I am using:

- python 3.6.5
- Spark v2.4.0
- pyspark 2.4.0

[2018-12-05 21:32] benmwhite commented on #1796
This is an R package repo. You should try posting your issue on StackOverflow with the [pyspark](https://stackoverflow.com/questions/tagged/pyspark) tag instead.

[2018-12-05 21:56] jcerquozzi commented on #1796
@benmwhite ok sorry, I am still new with GitHub

Here the link:
https://stackoverflow.com/questions/53641328/issue-with-df-show-in-pyspark

[2018-12-06 20:21] kevinykuo opened #1798 "multilayer perceptron is missing probabilistic classifier params"

[2018-12-06 20:21] #1796 closed

[2018-12-07 06:21] javierluraschi opened #1799 "Support for Generalized Linear Mixed Models?"
Should we consider adding mixed models through an `sparklyr` extension? Maybe with `photon-ml`?
- https://www.kdd.org/kdd2016/papers/files/adf0562-zhangA.pdf
- https://github.com/linkedin/photon-ml

CC: @kevinykuo

[2018-12-07 13:50] kmezhoud opened #1800 "dplyr::copy_to spark reactive Table using Shiny"
Dear All,
I am not sure if My question will be solved by Shiny or sparlyr experts.
I would like to save table in spark local server using shiny App.
1- I can connect with action button
2- Disconnect when shiny windows is closed

3- But I can't save the displayed table to spark using dplyr::copy_to
Here a running example. UNCOMMENT the line
[code]
 to see the error message.
Thanks
Karim

[code]

[2018-12-07 15:48] kmezhoud commented on #1800
[code]

[2018-12-07 16:50] kmezhoud commented on #1800
The App works normally with other DataFrames.
The Studies DataFrame has text with hypertext, like this

[The Cancer Genome Atlas](https://cancergenome.nih.gov/) (TCGA) Colorectal Cancer project.
[Nature 2012. Raw data via the TCGA Data Portal](https://tcga-data.nci.nih.gov/docs/publications/coadread_2012/).

[2018-12-08 00:17] lgongmsft opened #1801 "'stop_stream' should be 'stream_stop' instead?"
It seems that a non-existing function 'stop_stream' is referred to at several places in the package,
which probably should be 'stream_stop' instead.  It'd be great to get it fixed to avoid confusion :)

$ grep -r "stop_stream"

man/stream_write_json.Rd:stop_stream(stream)
man/stream_write_kafka.Rd:stop_stream(stream)
man/stream_write_memory.Rd:stop_stream(stream)
man/stream_write_orc.Rd:stop_strea

[2018-12-10 15:16] kmezhoud commented on #1137
Maybe extract rows by certain pattern. we need to specify the column.
[code]

[2018-12-10 16:58] dotRData opened #1802 "Empty string in table"
This problem is very hard to reproduce, as I don't know, what is the problem.
I have been using sparklyr for last 6 months and this is the first time i am facing a problem I am not able to find anywhere.

Issue is, I have a table which has string columns data, sparklyr is not able to read few of the columns. I have no idea, which kind of column it can read, which kind of column it can not read

#

[2018-12-10 19:25] kmezhoud commented on #1627
Hi,
Did you see the example [here](https://rdrr.io/cran/sparklyr/man/ml_aft_survival_regression.html)?
Karim

[2018-12-10 19:49] lgongmsft opened #1803 "ml_multilayer_perceptron_classifier model is missing num_classes attribute"
It seems that the ml_multilayer_perceptron_classifier model is missing the 'num_classes' attribute.  The following is a repro adapted from example('ml_multilayer_perceptron_classifier', package = 'sparklyr').
This issue might be related to https://github.com/rstudio/sparklyr/issues/1798?

[1] '2.3.1'

+   sdf_partition(training = 0.7, test = 0.3, seed = 1111)

+   ml_multilayer_perceptron_classifi

[2018-12-10 20:23] lgongmsft opened #1804 "sdf_mutate.Rd examples do not run."
Here is the repro:

sdf_mt> # using the 'beaver1' dataset, binarize the 'temp' column
sdf_mt> data(beavers, package = "datasets")

sdf_mt> beaver_tbl <- copy_to(sc, beaver1, "beaver")
Error in copy_to(sc, beaver1, "beaver") :
  could not find function "copy_to"

R version 3.4.4 (2018-03-15)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu 16.04.5 LTS

Matrix products: default
BLAS: /op

[2018-12-10 22:35] lgongmsft opened #1805 "stream_render.Rd examples do not run."
The following repro is from example(topic='stream_render', package='sparklyr').
It seems that write.csv() writes to local file system but stream_read_csv() by default reads from HDFS.

[1] '2.3.1'

Error: org.apache.spark.sql.AnalysisException: Path does not exist: hdfs://mssql-master-pool-0.service-master-pool:9000/root/iris-in;
        at org.apache.spark.sql.execution.datasources.DataSource$.or

[2018-12-11 00:06] lgongmsft commented on #1805
It seems that the following Rd examples also have the same issue:
    example(topic='stream_view', package='sparklyr')
    example(topic='stream_write_json', package='sparklyr')
    example(topic='stream_write_memory', package='sparklyr')
    example(topic='stream_write_text', package='sparklyr')

[2018-12-11 00:26] lgongmsft opened #1806 "stream_write_kafka.Rd examples do not run."
The following repro is from example(topic='stream_write_kafka', package='sparklyr').
It works if stream_read_parquet() is replaced with stream_read_orc() and stop_stream() with stream_stop().  It would be even better if the examples are actually related to kafka.

[1] '2.3.1'

Error: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 173.0 failed 1 times, most recen

[2018-12-11 00:30] lgongmsft commented on #1806
It seems that the following Rd examples also have the same issue:
example(topic='stream_write_orc', package='sparklyr')

[2018-12-11 01:39] kevinykuo opened #1807 "Developer API followups"
- Update NEWS
- Documentation
- Mark dev api functions as experimental

[2018-12-11 09:51] kevinykuo commented on #1803
Does this repro on the latest master bfd12ef  ?

[2018-12-11 09:53] kevinykuo commented on #1804
Yeah there should be a `library(dplyr)` or `dplyr::` somewhere.

[2018-12-11 09:59] kevinykuo commented on #1802
What happens if you do `sc %>% tbl('test_sparklyr') %>% summarise(n_distinct(col1),n_distinct(col2),n_distinct(col3),n_distinct(col4)) %>% dbplyr::sql_render()` and execute the resulting statement in the shell?

[2018-12-11 10:07] kevinykuo commented on #1789
When you pass a formula to an `ml_` method, you invoke the formula API which will return an `ml_model` object. This is basically a wrapper around a pipeline model object with some metadata (such as variable names.) The broom functions require these metadata so they only work for `ml_model` objects.

The output of

[code]

is just a pointer to the `LinearRegressionModel` object. This object contain

[2018-12-11 10:19] dotRData commented on #1802
Same issue.

# R
[code]

# HIVE-CLI
[code]

[2018-12-11 12:59] sz-cgt commented on #1789
I'd buy that argument if `mt %>% ft_r_formula(am ~ cyl + mpg) %>% ml_linear_regression(fit_intercept = FALSE) %>% coef()` didn't work.

But it does.

[2018-12-11 13:15] dotRData commented on #1802
@kevinykuo .. an idea what would be happening here .. i tried reinstalling package .. but still the same thing ...

[2018-12-11 15:13] dotRData commented on #1802
this has also happened in the past .. when the column type was "array<string>", but it was not that important ... so i let it go. but not reading a string column was unexpected.

[code]

[code]

[2018-12-11 18:57] lgongmsft opened #1808 "spark_home_set.Rd examples do not run."
The following repro is from example(topic='spark_home_set', package='sparklyr').
The example does not provide much useful info so probably could be removed or
change to spark_home_set(Sys.getenv('SPARK_HOME')) so that it can at least run.

Error in spark_install_find() :
  Spark version not available. Find available versions, using spark_available_versions()

R version 3.4.4 (2018-03-15)
Platform:

[2018-12-11 19:45] lgongmsft commented on #1803
It works like a charm with the latest master bfd12ef.  Thanks for the quick fix!

ml_m__> sc <-  spark_connect(master = "local")
Re-using existing Spark connection to local

ml_m__> iris_tbl <- sdf_copy_to(sc, iris, name = "iris_tbl", overwrite = TRUE)

ml_m__> partitions <- iris_tbl %>%
ml_m__+   sdf_partition(training = 0.7, test = 0.3, seed = 1111)

ml_m__> iris_training <- partitions$training

[2018-12-11 22:59] kevinykuo commented on #1789
@sz-cgt it does, but it doesn't produce names of the covariates, so we can't put it into a broom-compliant format. There's no straightforward way to capture that information since you can put arbitrary estimators in a pipeline, so `ml_linear_regression()` in this case doesn't know what came before it. It's only using the `features` and `label` columns from the output of `mt %>% ft_r_formula(am ~ c

[2018-12-12 01:31] kevinykuo commented on #1802
This is definitely tough. Could you execute the query through spark-shell via Spark SQL instead of through Hive directly? I want to first make sure it's a sparklyr specific issue and not a Spark issue.

[2018-12-12 02:32] zsharpm commented on #1627
The updated example in the documentation now functions as expected.  The problem was related to specifying a Surv object like this:

`ml_survival_regression(ov, Surv(futime, fustat) ~ ecog_ps + rx, censor_col = "fustat")`

Instead of:

`ml_aft_survival_regression(ov, futime ~ ecog_ps + rx, censor_col = "fustat")`

[2018-12-12 02:32] #1627 closed

[2018-12-12 18:48] dotRData commented on #1802
its working on spark-shell

[code]

## Sample Data
[code]

## Distinct Value
[code]

## For array
[code]

[2018-12-12 21:19] javierluraschi commented on #1595
Note: Reported through support that when TLS is enforced, `sparklyr` fails to connect with TLS enabled.

[code]

Related: https://mapr.com/docs/52/Spark/ConfigureSparkOnYarn_Encryption.html

[2018-12-12 22:03] kevinykuo commented on #1802
Could you try something like this

[code]

Does it return anything for the problematic column?

[2018-12-13 00:49] dotRData commented on #1802
same issue ..

[code]

[code]

[2018-12-13 17:22] kevinykuo commented on #1802
So `invoke()` literally executes scala code in the backend so I'm surprised to see we're getting a different result. One last thing to try would be to change the connection code to `sc <- spark_connect(master = "yarn-client", config = config)` and seeing if that works (or even connects) to rule out issues with incorrect metastores. After that, I'd probably try to identify the rows in that specific

[2018-12-13 17:30] kevinykuo commented on #1658
@ashishrjha could you try with a smaller grid and data first? E.g.

[code]

and say 10k rows of data.

[2018-12-13 17:45] kevinykuo commented on #1711
I can't repro with local connection so I suspect this is specific to databricks

cc @falaki

[2018-12-13 21:43] dotRData commented on #1802
without spark_home, it doesn't connect.

one more issue I have seen is, spark-2.1.1 connect to the cluster but spark-2.3.1 doesn't.
It works in spark-shell but not via sparklyr.

[code]

[2018-12-13 21:52] benmwhite commented on #1219
This appears to be happening still with sparklyr 0.9.3 and Spark 2.3.0 when converting from character strings:

[code]
output:
[code]

`sessionInfo()`:
[code]

[2018-12-13 23:49] kevinykuo commented on #1219
@benmwhite is this this? https://github.com/rstudio/sparklyr/issues/1693#issuecomment-426073406

[2018-12-14 15:59] benmwhite commented on #1219
@kevinykuo I think it is, thanks for the link.

[2018-12-17 16:20] dkincaid opened #1810 "Error during spark_connect"
When trying to connect to Spark using `spark_connect` with the latest development version of sparklyr we're getting the following error:

[code]
Our connection code looks like this:
[code]

reverting to the 0.9.2 version on CRAN fixes the issue.

[2018-12-17 19:46] dkincaid commented on #1810
The only sparklyr extension is sparkavro (https://cran.r-project.org/web/packages/sparkavro/index.html)

Other packages being explicitly loaded include:
futile.logger
glue
aws.ec2metadata
aws.s3

[2018-12-17 19:48] kevinykuo commented on #1810
Thanks, will investigate.

[2018-12-17 20:46] mattpollock commented on #1810
Possibly related (possibly not): I hit a snag today where spark-avro 2.11 v4.0.0 (via the `sparkavro` package) caused a failed spark connection. Reverting to the 3.2.0 version I was able to establish a connection. I need to maintain dependencies in my local maven repo, but the log said that all dependencies were resoled, but the connection timed out waiting for something anyway.

[2018-12-18 00:40] #1810 closed

[2018-12-18 00:41] kevinykuo commented on #1810
Should be fixed on master, let me know if it's still giving you trouble.

[2018-12-18 04:00] seanzian opened #1813 "convergence status and null ml_generalized_linear_regression()$summary$.jobj"
i am using ml_generalized_linear_regression() to fim a glm on mtcars data but found that sometimes the ml_generalized_linear_regression()$summary$.jobj can't be printed and null values were returned for p_values(), t_values(), etc.

My first thought is that my model did not converge but when i call ml_generalized_linear_regression()$coefficients i still got the coefficents.

My second thought is t

[2018-12-18 17:10] awblocker commented on #1457
Wanted to check in out timeline for arrow serialization for `spark_apply`. Glad to help with testing or other open items. My team has a set of workloads (far more groups than executors) where this looks like it will have a very large impact.

[2018-12-18 21:06] mosiomohsen opened #1814 "Error: org.apache.spark.SparkException: Job aborted due to stage failure"
I'm new to r-spark. Everything is OK till I want to use ml-models. I tried different models, but always unsuccessful. When I ran something like this code:

fit <- train %>% ml_linear_regression(response = "renewal",
                                         features = c("premium","sourcing_channel","Income"))

this error happened:

Error: org.apache.spark.SparkException: Job aborted due to stage fa

[2018-12-18 21:12] javierluraschi commented on #1457
@awblocker `arrow` is already implemented; however, we are waiting for the Arrow 0.12 release to make this a bit more official. For now, you can test this out using the instructions from:

https://github.com/rstudio/sparklyr/pull/1611

[2018-12-18 21:17] kevinykuo commented on #1814
Can you share a sample of `train` so I can try to reproduce?

[2018-12-18 22:34] Karthick333031 opened #1815 "Error: Unable to use sparklyr to query large data"
I have my datasets in Parquet format (gzipped) in S3 and is indexed in AWS glue. I have launched EMR (4 r4.4xlarge nodes and 1 r4.4xlarge master) and have made sure cluster has access to data in S3 via the Glue Catalog. I have a massive transactional dataset (~1 TB) partitioned on date.

I have a standard SQL query that uses multiple joins to produce the output. I have been using the SQL currently

[2018-12-18 22:46] kevinykuo commented on #1815
Is `dbGetQuery(sc, mysqlquery, stringsAsFactors=F)` supposed to return a (relatively) small data frame?

If the query works for weeks {1, 2} but fails for weeks {1, 2, 3, 4} have you tried running it on {3, 4}?

[2018-12-18 22:51] Karthick333031 commented on #1815
The query wouldn't return a small data frame. Should I then not use dbGetQuery? At scale, I actually want to run it for ~12 to 15 weeks data

I will try out {3 & 4} and update back if that works

[2018-12-18 22:53] kevinykuo commented on #1815
`dbGetQuery()` forces collection, so if your resulting table doesn't fit in memory locally I wouldn't use it. Look into `sdf_sql()` to return a `tbl_spark` instead.

[2018-12-19 13:08] dotRData commented on #1802
hope this helps.

[code]

[2018-12-19 16:53] javierluraschi opened #1816 "Include JDBC read/write examples in package help"

[2018-12-19 18:14] Karthick333031 commented on #1815
Thanks ! sdf_sql resolves the problem of querying at scale. I have a few follow up questions that require little more direction. I am unable to find info on how to query a tbl_spark and cache the same. After running sdf_sql, I tried running sdf_register? Does my question in some way related to https://github.com/rstudio/sparklyr/issues/742 and do I have to use dbSendQuery to be able to later use t

[2018-12-19 18:22] kevinykuo commented on #1815
You'd query it as with any other Spark DataFrame, since that's what it is. If you want to use some results in R locally you'd have to call `collect()`.

[2018-12-19 18:50] Karthick333031 commented on #1815
Thanks for your inputs. let me try out the process end to end and post back

[2018-12-20 08:10] dotRData commented on #1802
even this is not working

[code]

[2018-12-20 08:15] kevinykuo commented on #1802
Okay I'll need to find a day to spin up some clusters to look into this and a few other hive related issues.

Could you actually grab a small subset of `test_sparklyr` (like 10 rows), put it into a separate table (via hive cli or something), and see if you can reproduce the issue from sparklyr? I'm suspecting there's something special about the content in those columns. My previous suggestion was

[2018-12-20 19:21] javierluraschi opened #1817 "Consider moving read/write options to ..."
This,

[code]

could be cleaned up into:

[code]

by making use of `...` arguments, there might be other `read_*` and `write_*` functions worth considering.

[2018-12-20 19:49] javierluraschi commented on #1233
From, https://blog.rstudio.com/2016/09/27/sparklyr-r-interface-for-apache-spark/:

[code]

[2018-12-20 20:30] curtisburkhalter opened #1818 "Problem using another CRAN package in UDF and spark_apply"
Hello I'm currently attempting to apply a user defined function with spark_apply to calculate SHAP values from a XGBoost model I created using H2O. It seems that spark_apply doesn't like the embedded function that I'm calling from the R package 'iml' and I'm getting the following error:

Error : org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 175.0 failed 4 times

[2018-12-20 20:43] dkincaid commented on #1818
I am getting the same error running `invoke()`:

this code:
[code]
produces this error:
[code]

[2018-12-20 23:05] benmwhite commented on #1815
You can also use `compute()` if you want to cache your table or query results in your cluster's memory but not bring it in locally. I usually use the `name` argument in there as well, since this makes it easier to track via the Spark web UI (in the "Storage" tab).

[2018-12-21 03:58] Karthick333031 commented on #1815
sure. Thanks for the input. sdf_sql, followed by sdf_register & tbl_cache helped as well.

[2018-12-21 09:31] cantaldenosregions opened #1819 "Paste/Paste0 doesn't work"
I have the following spark dataframe (sdf):

id_op  (type = chr) "id1", "id1", "id1","id2", "id2", ...
word  (type = chr)  "w1", "w2", "w3", "w1", "w2", "w3", ...

Which i obtained by "exploding / splitting" a String column.

I would like to obtain the following sdf:
  id_op      word
1   id1  w1 w2 w3
2   id2  w1 w2 w3

I am able to do it using dplyr with a local df, with the following codes:

1s

[2018-12-21 13:43] #1819 closed

[2018-12-21 13:45] cantaldenosregions commented on #1819
Answer here : https://github.com/rstudio/sparklyr/issues/736

[2018-12-25 02:54] hanfernandes opened #1820 "Problem with functions"
I have a question: why does not the same function work?

dplyr::ntile

[code]

and i create the same function

[code]

**it works**

`df %>% select(vars) %>% mutate_at(vars, funs(ntile(., n = 5)))`

**doens't work**

`df %>% select(vars) %>% mutate_at(vars, funs(myFunction (., n = 5)))`

[code]

[2018-12-25 03:02] hanfernandes opened #1821 "Help to create loops with sparklyr"
I created a function:

[code]

and it works.

I wanted to create a function that had loops containing many variables, similar to summarise_at.

Ex:
[code]

Can someone help me?

[2018-12-25 15:12] edgararuiz commented on #1821
Hi, I proposed a solution for something similar that uses `union()` to concatenate all of the cycles into a single SQL call: https://stackoverflow.com/questions/49497844/using-purrrmap2-with-dbplyr/52461187#52461187

[2018-12-26 17:06] javierluraschi commented on #1820
`ntile` is implemented in Spark itself, so `sparklyr` does not make use of the `dplyr` `ntile` function definition.

Additionally, I wasn't able to reproduce this issue, see bellow.

[code]
[code]

Notice that one can compose functions that make use of dataframes without having to use `spark_apply()`.

[2018-12-26 17:50] hanfernandes commented on #1820
I understood! Thank you for your explanation!

I have questions about creating functions without using `spark_apply`.

Can you show me some examples?

[2018-12-26 22:43] hanfernandes commented on #1820
I understood! Thank you for your explanation!

I have questions about creating functions without using spark_apply.

Can you show me some examples?

[2018-12-27 17:01] benmwhite commented on #1820
Can you show me some examples?

That's a little vague, but in general if you're trying to write functions for working with Spark data frames without going through `spark_apply()` (or trying to do anything with `sparklyr` really) you need to be aware of the differences between `tbl_spark` and `data.frame` objects. Primarily, the R object you're saving as a `tbl_spark` is really an object linking to

[2018-12-28 19:16] rjsteckel opened #1823 "Hive metastore not found after Spark 2.3 upgrade"
The company I work for upgraded our data lake's HDP installation to 2.6.5.4-1 last month. This upgraded Spark to 2.3 (previously it was 2.1). Since then, sparklyr has been unable to find the data lake hive metastore. It works fine in spark-shell and pyspark.

I've included the log output for spark-shell and sparklyr. The two relevant lines I see are:

hive config file: file:/etc/spark2/2.6.5.4-1/0

[2018-12-28 19:17] rjsteckel commented on #1496
Opened #1823

[2018-12-29 20:57] coingraham opened #1825 "FactoMineR MCA fails in spark_apply"
---

Attempting to run the FactoMineR MCA method across a spark cluster.  It's failing.  Spark 2.4.0.

[code]
#Fails with the following error on the node
18/12/29 20:44:25 INFO sparklyr: RScript (9481) computed closure
18/12/29 20:44:25 INFO sparklyr: RScript (9481) data.frame expected but c("MCA", "list") found
18/12/29 20:44:26 ERROR sparklyr: RScript (9481) terminated unexpectedly: object 'd' n

[2018-12-30 13:08] harryprince commented on #1825
it seems your syntax is wrong.

[2018-12-31 15:01] coingraham commented on #1825
Same error:
[code]

18/12/31 14:58:43 INFO sparklyr: RScript (4439) computed closure
18/12/31 14:58:43 INFO sparklyr: RScript (4439) data.frame expected but c("MCA", "list") found
18/12/31 14:58:43 ERROR sparklyr: RScript (4439) terminated unexpectedly: object 'd' not found
18/12/31 14:58:43 INFO sparklyr: Worker (4439) completed wait using lock for RScript
18/12/31 14:58:43 INFO sparklyr: Session

[2018-12-31 19:56] benmwhite commented on #1825
The function `f` inside `spark_apply()` needs to return a `data.frame`, and `FactoMineR::MCA()` returns a nested list with the additional object class "MCA" (see the error message " data.frame expected but c("MCA", "list") found"). You need to extract the output you want from the MCA function and have your function `f` return it in `data.frame` form.

Also keep in mind that `spark_apply()` will be

[2019-01-01 15:00] harryprince commented on #1825
[code]

which means your `tea_sdf` will be separated by `some_key` with 1000 partitions, and each partition will execute the sparklyr::spark_apply function. And finally, all result will reduce to your driver by `collect()` command.

[2019-01-01 16:18] benmwhite commented on #1825
`spark_apply()` works best when you need to execute custom parallel code on the partitions of your data set (ex: fit separate custom models on different groups). I haven't used MCA before but since it's a factorization method I don't think it's meant to work separately over partitions of the data.

However, from reading up on the method there may still be a way to get the results you need, since
[

[2019-01-02 15:46] hadley commented on #1738
What SQL do you expect here? Any aggregation function in a `mutate()` must be translated to a window function. Did you mean to use `summarise()` instead?

[2019-01-02 19:05] coingraham commented on #1825
Thanks everyone. I'll close out the issue.

[2019-01-02 19:05] #1825 closed

[2019-01-03 04:58] harryprince commented on #1823
I guess your hive related config might be wrong.

my example is:

[code]

please paste your full spark configuration code, if you need more help.

[2019-01-03 17:18] rjsteckel commented on #1823
I don't think it's related to hive-site.xml because the same one is used in spark-shell and it works. That's why I posted the logs.

My spark_config object is:

$spark.env.SPARK_LOCAL_IP.local
[1] "127.0.0.1"

$sparklyr.connect.csv.embedded
[1] "^1.*"

$spark.sql.catalogImplementation
[1] "hive"

$spark.sql.hive.metastore.version
[1] "1.2.1"

$spark.sql.hive.metastore.jars
[1] "builtin"

$sparklyr

[2019-01-04 08:47] dlindelof opened #1827 "spark_connect() requires version argument even for non-local connections"
The documentation for `spark_connect()` states that the `version` argument is

But when I run on a YARN cluster I get the following error message:

And from the discussion in https://github.com/rstudio/sparklyr/issues/1790 I get the feeling that the `version` argument is required even for non-local connections.

Is the documentation incorrect?

[2019-01-04 16:52] jmerone commented on #204
@kevinushey Has there been any update to finding the median of a grouped sparklyr dataframe? The suggestion by @dalloliogm computes an approximate median. Is there a way to to perhaps register the `stats::median` function or `stats::quantile` function as a udf?

[2019-01-04 19:20] prildi opened #1828 "Failed while connecting to sparklyr to port (8880)"
# Reporting an Issue with sparklyr

Hi,
I have an error posted by several users before, but with a different Output log:

`spark_version <- "2.3.2"
sc <- spark_connect(master = "local", version = spark_version)
Error in force(code) :
  Failed while connecting to sparklyr to port (8880) for sessionid (37248): Gateway in localhost:8880 did not respond.
    Path: C:\Users\<username>\AppData\Local\spa

[2019-01-04 19:58] javierluraschi commented on #1827
@dlindelof which version of `sparklyr` are you using? There was indeed an issue that required this version to be set in some systems. It is our intention to have the version be auto-detected.

[2019-01-04 20:07] javierluraschi commented on #1828
Since this is a local installation, try uninstalling spark with `spark_uninstall()` then set an alternate installation path with `options(spark.install.dir = "c:/other/path/no/spaces/")`, reinstall Spark and retry connecting.

It is our intention to support spaces and this is something we have tested in the past, but perhaps not for this particular version of Windows.

[2019-01-04 21:40] hanfernandes opened #1829 "Error in if (n > 0) c(NA_integer_, -n) else integer()"
I'm connected to the cluster.

`sc <- spark_connect(master = "yarn-client", version = "2.3.1")`

and i create one data.frame and copy to tbl_spark:

`df<- copy_to(sc, data.frame(x=c(1, NA, 2), y=c(NA, 2, NA), z=42))`

the following error arises, when I try to view or do any operation:

`df`

  missing value where TRUE/FALSE needed

[2019-01-04 23:58] javierluraschi commented on #1829
Fix on its way, CRAN will be also patched in the next couple days.

[2019-01-05 02:36] #1801 closed

[2019-01-05 02:36] #1805 closed

[2019-01-05 02:36] #1806 closed

[2019-01-05 02:37] javierluraschi commented on #1829
@hanfernandes fix available by reinstalling with:

`devtools::install_github(“rstudio/sparklyr”)`

[2019-01-05 19:50] dkincaid opened #1831 "Error in do.call(.f, args, envir = .env): 'what' must be a function or character string"
I am getting the following error running `invoke()` to create a checkpoint:

I get this on both sparklyr version 0.9.3 (CRAN version) and the latest on Github.

It's under R 3.4.1 and as you can see it's running on a cluster (using YARN).

Version 0.9.2 does not have this issue.

this code:
[code]
produces this error:
[code]
Session info:
[code]

[2019-01-05 20:33] dkincaid commented on #1831
Well, this is a bit embarrassing, but I'll leave it here in case anyone else runs into this same problem. The issue here is that I am using the `purrr` package in some of the processing and it was getting loaded after `sparklyr`. Since `purrr` also has an `invoke()` function it was masking the `sparklyr::invoke` function.

So the solution is to either not load up `purrr` into the namespace and use

[2019-01-05 20:33] #1831 closed

[2019-01-06 15:32] samstiyer opened #1832 "Broken link on Rstudio Webpage"
Apologies if this is not the correct place to post this.

However on this link is broken on Rstudio:
[Broken Link](https://spark.rstudio.com/reference/sdf_register/sdf_copy_to.html)

Hope this helps!

[2019-01-07 14:52] benmwhite commented on #1832
I think issues with the `sparklyr` website itself go on [this repo](https://github.com/rstudio/spark.rstudio.com).

[2019-01-07 16:15] #1832 closed

[2019-01-07 16:15] javierluraschi commented on #1832
Tracked by https://github.com/rstudio/spark.rstudio.com/issues/82

[2019-01-07 18:16] kevinushey commented on #204
I haven't been involved with `sparklyr` development for a little while but my understanding is that the cleanest way forward right now would be to use `spark_apply()` alongside any R functions you need to run.

[2019-01-07 18:46] hanfernandes commented on #1829
it's works! @javierluraschi

thanks so much!

I really admire your work, keep to help thousands of people!

[2019-01-07 20:15] uribo opened #1833 "Can't reading parquet in sparklyr.java9 (`spark_read_parquet()`)"
Hi everyone,
An error occurred when an attempt to read the parquet file.
Is it only possible to lower the version of Java? I using `java 9.0.1`.

[code]

So, not connecting yet.
Next, I tried a set `options(sparklyr.java9 = TRUE)`.

[code]

<details>

[code]

</details>

[code]

<details>

[code]

</details>

`example.parquet`'s reprex is here.

[code]

[2019-01-08 01:46] randomgambit commented on #1286
happy new year buddy! any update on this much needed extension? :)

[2019-01-08 19:02] curtisburkhalter commented on #1818
@javierluraschi I should have been more clear, I'm not actually using an XGBoost model, I created a gradient boosted model in H2O, so the model type used in the code above is an H2O model.

I think that this maybe causing the issues with my code in that I can't seem to 'tell' spark_apply that H2O should be initialized across all worker nodes in the cluster.

[2019-01-08 19:40] #1829 closed

[2019-01-08 19:59] javierluraschi commented on #1833
Right, so currently Apache Spark does not support Java 9, since Scala did not supported either Java 9. Work is in progress and some partial attempts have been successful; however, the current recommendation is to downgrade to Java 8 when using Spark.

[2019-01-08 20:50] uribo commented on #1833
I see, thanks for the clear explanation :)

[2019-01-08 20:50] #1833 closed

[2019-01-08 21:25] jeereddys opened #1834 "Feature_Request: Write to Rds"
Write to R dataset directly from sparklyr without loading the dataframe to local memory.
spark_write_rds()

[2019-01-08 23:00] benmwhite commented on #1834
Spark writes out the data in its partitioned structure for fault tolerance, and the `spark_write_*` family are just wrappers for Spark's methods to the best of my knowledge.

I don't think what you're requesting is possible, but one of the repo contributors on the RStudio team might be able to explain it better than I can.

[2019-01-09 17:05] tarunparmar commented on #1496
I observed the same issue that sparklyr was not able to see hive tables with Spark 2.3.2 (I was using dataproc cluster in Google cloud). Had to setup up a new one with Spark 2.2.1 and the issue was gone.

[2019-01-09 22:32] javierluraschi commented on #1834
@jeereddys I guess the first question would be ask why do you want to write data as RDS files?

[2019-01-10 04:38] nhamwey opened #1835 "Single thread after data manipulation + writing out RDD"
I posted a stackoverflow question here, but figured it might be suitable ask here as well:
https://stackoverflow.com/questions/54121555/sparklyr-single-thread-when-caching-writing-out-rdd-or-converting-to-h2o-frame

I've noticed very poor performance when reading in a parquet file + performing data manipulation operations, followed by caching, writing out to parquet/csv, or converting an h2o frame

[2019-01-10 06:05] kevinykuo commented on #204
@jmerone I think there's a spark sql function for this, look up quantile approx or something to that effect.

[2019-01-10 08:01] javierluraschi commented on #1835
CC: @navdeep-G

[2019-01-10 14:22] albertomv83 opened #1836 "copy_to converts NA values to "NA" strings in string columns with local spark context"
When copying a dataframe to Spark, using a local spark connection, the NA values of a string column are turned to "NA" string

[code]

[2019-01-10 14:24] albertomv83 commented on #1836
initially opened in https://github.com/tidyverse/dplyr/issues/4093

[2019-01-11 22:34] harryprince commented on #1475
@kevinykuo

GeoSpark seems to be a light way to implement.

these complied jars can be downloaded from here directly:
https://github.com/DataSystemsLab/GeoSpark/releases

spark-shell --jars geospark-sql_2.3-1.1.3.jar,geospark-1.1.3.jar,geospark-viz-1.1.3.jar

[code]

And st_geomFromWKT also works for me, it looks like very promising in recent release version.

[2019-01-13 06:10] hanfernandes opened #1838 "UDF problem with spark_apply"
[code]

In addition: Warning message:
In file(con, "r") :
  cannot open file 'C:\Users\HEITOR~1\AppData\Local\Temp\RtmpyOag50\file24e818a5e95_spark.log': Permission denied

Why this error happened ?

Is there a way to use create UDF like done in pyspark?

Exemple: [/spark-sql/udf-python](https://docs.databricks.com/spark/latest/spark-sql/udf-python.html)

[2019-01-13 11:46] harryprince commented on #1838
you need to specify the mutate variable name like this

[code]

[2019-01-13 22:33] hanfernandes commented on #1838
Does not make sense, even so I tested and the same error happened.

[2019-01-14 09:24] harryprince commented on #1475
Very exciting result! I am trying to use `geospark` with Quadtree index to accelerate join query, which significantly 100x than Hive ESRI UDF no index version. And the indexing function seems to be a particular part of `sdf_repartition` which partition hash function by a Quadtree algorithm instead of default Murmur hash.

[2019-01-14 14:50] genobobeno commented on #1823
Same issue. HDP 2.6.5, Spark 2.3.0, Hive 1.2.1000, YARN 2.7.3.   Sparklyr 0.9.3.9001. We've had to completely stop all development using sparklyr. All of this Hadoop technology, frankly, is pretty pathetic in terms of its "robustness". Been working with this stuff for 18 months and we still have problems that the Hortonworks software engineers can't even explain. Their suggestion is always: Update

[2019-01-14 15:14] jnh5y commented on #1475
@harryprince cool!  Admittedly, GeoSpark is has more implemented in terms of in-memory indexing.  If you just needed geospatial Spark UDFs, you can get those via GeoMesa as well with these instructions: https://www.geomesa.org/documentation/user/spark/spark_jts.html#configuration.

[2019-01-14 16:05] metasim commented on #1475
@harryprince To build on @jnh5y 's point, the GeoMesa implementation not only supports SQL and dataframe APIs (in both JVM and Python), it'll work in the lightweight "in memory" mode like GeoSpark yet scale up to with its various connectors to [several big data data stores](https://www.geomesa.org/documentation/user/datastores/index.html). IOW, IMHO, it has a broader "big picture" view of geospati

[2019-01-14 23:51] benmwhite commented on #1838
Are you trying to do a two-sample Kolmogorov-Smirnoff test? `spark_apply()` operates independently on each partition of the input data set, so it's going to give you a separate ECDF for each partition. I really don't think that's what you want exactly.

Fortunately you can use Spark SQL's `cume_dist` inside a `mutate()` call to get the ECDF values.

[code]

You can use that as your starting point

[2019-01-15 06:47] ElianoMarques opened #1839 "Support other namespaces in kubernetes"
# Trying to create a connection to kubernetes via a different namespace from "default"
Use-case:

Kubernetes Cluster is shared and have different namespaces for each respective usage. In this space, spark namespace is the one we want to use. I followed the below code to create the connection and when default is used, it works fine. When another namespace is used first the parameter is not added to

[2019-01-15 12:49] etiennebr commented on #1475
I think the main piece is to register the geomesa (or any other library) along with the Spark DataFrame API so that when the query is executed spark finds the UDF. Should that be `sf`'s role? @kevinykuo any  examples of packages registering UDFs?

[2019-01-15 14:00] metasim commented on #1475
@etiennebr To the best of my knowledge, Spark (sadly) doesn't have any kind of "SPI loader" to automatically register UDFs found in the classpath. In RasterFrames we declare an extension method on `SparkSession` called [`withRasterFrames`](https://github.com/locationtech/rasterframes/blob/46c8e8f186ab955aa5c6f6fa25856ef2a4237674/core/src/main/scala/astraea/spark/rasterframes/extensions/SparkSessio

[2019-01-15 18:15] nhamwey commented on #1835
Apologies if my question was too vague, I think we found the reason:

Using ifelse within mutate, combined with mean() function seems to forcing single partition.

Is this expected? Is it best practice to use an alternative method? (simplistic imputation method)

Ex:
`mutate(mileage_imputed = ifelse(is.na(mileage), mean(mileage, na.rm = T), mileage))`

[2019-01-15 21:30] jkylearmstrong opened #1840 "ml_tree_feature_importance | ml_pipeline | cross validated models"
Still having issues with pipeline models #1436

``` ml_tree_feature_importance ``` produces an error when applied to **cross-validated** model, even if the ``` $best_model``` is selected. The best model appears to be pipeline model and so I would think that fix [64e2ad7](https://github.com/rstudio/sparklyr/commit/64e2ad75794a639b2fb186b034da5d1b7b40c670)
 would apply.

Example with **mtcars** :

[

[2019-01-15 23:20] benmwhite commented on #1835
@nhamwey Have you tried `ft_imputer()`?

[2019-01-16 07:19] seanzian commented on #207
regParam is the Lambda, am i correct? what about the Alpha? how can we specify Alpha? Thanks.

[2019-01-16 16:37] ormachea opened #1841 "broom::tidy(logistic_regression) doesn't return most statistics"
When I run broom::tidy on logistic regression output, it only returns coefficients and no other statistics.  Any way to help?  This is a very cool package but without the extra functionality, I won't be able to rely on the functions.  Thanks!

[code]

model <- mtcars_tbl %>% ml_logistic_regression(mpg ~ cyl + disp)
broom::tidy(model)

[2019-01-16 21:42] benmwhite commented on #207
@seanzian That option [doesn't appear to be available in MLlib's GLM implementation at this point](https://spark.apache.org/docs/2.4.0/api/scala/index.html#org.apache.spark.ml.regression.GeneralizedLinearRegression).

I would dig through the Spark [Jira page](https://issues.apache.org/jira/projects/SPARK/issues/) to look for GLM-related issues and consider opening a new feature request there if th

[2019-01-18 06:31] agrawalankita03 opened #1842 "Not detecting already installed VC++ Redistributable 2015"
# Reporting an Issue with sparklyr

---

VC++ 2015 is installed on my machine but I am still getting the below error

Using spark 2.3.2
Error: Running Spark on Windows requires the Microsoft Visual C++ 2010 SP1 Redistributable Package. Please download and install from:

  https://www.microsoft.com/download/en/details.aspx?id=13523

Restart your rsession after installation completes

[code]

[2019-01-18 06:36] harryprince commented on #1475
I am trying to register GIS SQL context, however, it fails to find the class or method when I upload all geospark related jars with same spark version.

[code]

ERROR:

[code]

SessionInfo:
[code]

[2019-01-18 16:58] sdanielzafar commented on #1823
Having the same error as I was having months back, after generating a spark context with HDP3 and the following config:
`conf$hive.metastore.uris <- "thrift://ncienspk02.nciwin.local:9083"`
I'm getting the following errors:

[code]
and
[code]

[2019-01-18 20:33] javierluraschi commented on #1823
@sdanielzafar would we be able to reproduce this with Hortonworks Sandbox VMs? Looks like Hortonworks 3.0.1 and 3.1.1 would be really easy to install, does this reproduce in both versions?

[2019-01-18 22:33] edgararuiz-zz opened #1843 "filter() + sample_frac() return an error"
reprex:

[code]

<sup>Created on 2019-01-18 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-01-19 16:16] ronald245 opened #1844 "ft_tokenizer Error in rlang::env_get(mapping, nm, default = NULL, inherit = TRUE)"
---

When using the ft_tokenizer from the sparklyr package i keep getting an error in rlang::env_get(), no matter the input in ft_tokenizers,

[code]

the output of the above script is:

[code]

[code]

[2019-01-19 17:12] sdanielzafar commented on #1823
@javierluraschi I can't say for certain, as I'm using Hortonworks Data Platform 3.0.0, but my guess is that it will be a reprex since it has an updated Spark version.

[2019-01-20 02:44] mattpollock commented on #1749
Any movement on this? Thanks much.

[2019-01-21 12:26] ElianoMarques opened #1845 "adls access with kubernetes"
I'm having an issue relating running sparklyr in k8s with adls as a file system.

Not sure if this is entirely related to sparklyr or not but having spark running locally or in cluster with adls worked fine. Then when we pushed into kubernetes we keep getting an error related to fs adl.

Maybe something others will benefit from debugging.

I've tried many different things but to summarise:

What i

[2019-01-21 16:23] javierluraschi opened #1846 "SMOTE-BD in sparklyr"
Maybe someone in the community wants to write an SMOTE-BD extension? See https://community.rstudio.com/t/smote-in-sparklyr/22014

[2019-01-21 17:16] moouad opened #1847 "`arrange` carries over and accumulates"
---
After using the `arrange` function several times, the data frame accumulates ordering and gets a little confusing as in what state the data frame actually is.

This happened in the context of a SQL like workflow where multiple window functions have been used, that's why it's critical to understand the state of the data frame at every step.

[code]

[2019-01-21 18:48] sdanielzafar commented on #1823
I'm not sure if it's related, but it's worth mentioning that when I tried to read Hive tables via `spark_read_jdbc` I only got the schema, no data:

[code]
returns
[code]

[2019-01-22 10:07] solunsteve opened #1848 "sparklyr return an error when trying to connect to AWS S3"
I am a bit confused as I have followed the tutorials on the web and stackoverflow.

Here is the issue:

I have a bucket containing parquet files on S3 in AWS.

However I can't connect/download/work with these files.

Here is what I have done based on some tutorials from the web:

[code]

Running this returns NULL on each `hconf %>% invoke` combination and an error:

AND

[2019-01-22 14:51] edgararuiz commented on #1848
Hi, this is how I've been able to connect and work with S3 buckets:

### AWS keys
[code]
### AWS S3 integration for Spark

https://mvnrepository.com/artifact/org.apache.hadoop/hadoop-aws

Example:
[code]

You may also need a parquet package, but I'm not sure, I've only used it with CSV files

[2019-01-22 15:47] amitkb3 opened #1849 "Spread in Sparklyr"
Sorry, I am new to using issues. Please advice for appropriate use in future.
1. How to ask the sparklyr team if a particular feature is available
2. Appropriate channel to ask this to the  sparklyr team

I have posted a Stakoverflow question "https://stackoverflow.com/questions/54245317/spread-in-sparklyr-pivot-in-spark" regarding spread feature in sparklyr. If it is available kindly answer this

[2019-01-22 20:23] kevinykuo commented on #1823
About to spin a HDP sandbox up to investigate. It sounds like this issue is specific to Hortonworks? If you're running into this on another distro please let us know.

[2019-01-22 23:32] genobobeno commented on #1823
We spoke on Friday about our current issue with the Hive metastore and sparklyr. Consistent with Hortonworks. Here are the details you requested. I’m also amenable to any of your engineers poking around in our cluster if you think that would be helpful. If so, please let me know and I’ll provide more details about the architecture of our cluster, initialize my kerberos ticket, and login to all of

[2019-01-23 10:22] #1848 closed

[2019-01-23 17:37] scworland-usgs opened #1851 "missing components in ml_pca()"
The "components" returned from ml_pca() are NULL

[code]

R session information:

[code]

[2019-01-23 20:13] benmwhite commented on #1851
Have you looked at the output from calling `str()` or `names()` on your model object?

There is no element called "components" but there is one called "pc".

[code]

[2019-01-23 21:36] tdsmith commented on #1496
I was experiencing this problem with sparklyr 0.9.4 on EMR with Spark 2.3.0, but adding `spark.sql.catalogImplementation	hive` to spark-defaults.conf did resolve it.

[2019-01-23 21:52] kevinykuo commented on #1823
This seems relevant although a couple reports in this thread note HDP 2.6.5: https://community.hortonworks.com/articles/223626/integrating-apache-hive-with-apache-spark-hive-war.html

[2019-01-23 21:52] mtoto commented on #1738
It is not possible to add an aggregate column to a Spark DataFrame without window functions,  and so the current behavior of sparklyr is correct. Consider what happens if we attempt this in plain Spark SQL:

[code]
The relevant bit from the error message is:

An alternative to window functions could be to calculate the aggregate value in a separate query and then append that value as a new column

[2019-01-23 21:54] scworland-usgs commented on #1851
Are you suggesting that `pca$pc` has replaced `pca$components`? I interpreted `pca$pc` as the scores (which of course provides a means to get the projected data after the original columns are mean centered) but several places online used `pca$components` and I was curious if and why it had been removed.

Your suggestion works well, thank you.

[2019-01-23 22:21] kevinykuo commented on #1496
@tdsmith `spark.sql.catalogImplementation` should default to `hive` if you don't pass anything to `config` in `spark_connect()`. Did it not work for you on EMR with the defaults?

[2019-01-23 22:36] tdsmith commented on #1496
Oddly, no, it didn't work.

Without `spark.sql.catalogImplementation hive` in spark-defaults.conf:
[code]

Notably, looking at the Spark UI, `spark.sql.catalogImplementation` does not appear on the environment tab.

After adding the line to the config file, `SHOW TABLES` has the expected result, and `spark.sql.catalogImplementation` shows up on the environment tab of the Spark UI.

[2019-01-23 22:59] renjithmadhavan commented on #839
Did this ever work. I was trying to do the same.

[2019-01-23 23:51] sdanielzafar commented on #1823
What are the implications of that?

[2019-01-24 12:20] solunsteve opened #1853 "sdf_collect is very slow"
sparklyr::sdf_collect is super slow on large (but not too large) tables, anybody knows additional options?
Please advise.

[2019-01-24 12:50] solunsteve commented on #346
Still doesn't work...

[2019-01-24 17:42] shwetapurushe commented on #1482
@harryprince is right. This seems to work

[2019-01-24 19:51] benmwhite commented on #346
@solunsteve `sdf_nrow()`

[2019-01-24 20:52] benmwhite commented on #1851
I'm not sure if it used to be in there in an older version of the package since I've only been a user since version 0.8. I do know that a bunch of code examples out in the wild use out-of-date information, sometimes even on the official spark.rstudio.com page.

[2019-01-24 21:03] ossianmogensen commented on #1738
You are correct. I must have made some mistake when I was testing this before; I can not get
"
SELECT carat, avg(carat) AS average_carat
FROM diamonds
"
to run. I think the issue can be closed.

[2019-01-24 21:05] kevinykuo commented on #1738
Thanks y'all!

[2019-01-24 21:05] #1738 closed

[2019-01-24 21:07] kevinykuo commented on #1841
I don't think there's much we can do here since the statistics aren't provided by Spark (https://spark.apache.org/docs/latest/api/scala/index.html#org.apache.spark.ml.classification.LogisticRegressionSummary). You can consider filing an issue upstream https://issues.apache.org/jira/projects/SPARK/issues/SPARK-26709?filter=allopenissues.

[2019-01-24 21:07] #1841 closed

[2019-01-24 22:02] jkylearmstrong opened #1855 "ml_classification_multilayer_perceptron_classifier error with predict"
Getting this error when trying to use ml_classification_multilayer_perceptron_classifier

Error in seq_len(x$model$num_classes) :
  argument must be coercible to non-negative integer
In addition: Warning message:
In seq_len(x$model$num_classes) :
  first element used of 'length.out' argument

[code]

[2019-01-25 01:16] #1836 closed

[2019-01-25 10:57] Jassy1994 commented on #1853
Hi @solunsteve
    do you fetch data to your local？it may much slower when your local memory are not big enough and collect causes a lot of GC，it may spend much time，you can observe your GC log。

[2019-01-25 12:01] #1849 closed

[2019-01-25 15:39] nik-maheshwari opened #1856 "Read one file at a time from HDFS"
# Read one file at a time from HDFS

**Objective**

Reactively read a folder on HDFS.

If the folder contains files, read one file at a time (oldest to newest) from the folder.

----Plot some parameters in Shiny.

----Update plot as new files are added/read to/from the folder.

**What I have so far**

I wrote an R script to achieve this. It reads the HDFS directory reactively every 5 sec. If a new

[2019-01-25 16:23] nik-maheshwari commented on #1855
Have you tried with the commit mentioned here? https://github.com/rstudio/sparklyr/issues/1803#issuecomment-446139468

[2019-01-25 16:31] nik-maheshwari commented on #1853
Maybe select columns that you want before calling sdf_collect? Something like -
df = sdf %>% select(col1, col2) %>% sdf_collect()

[2019-01-26 14:34] vecchiocarmelo commented on #1475
this works for me:
`polygons<-read.table(text="california area|POLYGON ((-126.4746 32.99024, -126.4746 42.55308, -115.4004 42.55308, -115.4004 32.99024, -126.4746 32.99024))
new york area|POLYGON ((-80.50781 36.24427, -80.50781 41.96766, -70.75195 41.96766, -70.75195 36.24427, -80.50781 36.24427))
texas area |POLYGON ((-106.5234 25.40358, -106.5234 36.66842, -91.14258 36.66842, -91.14258 25.40358,

[2019-01-27 03:02] harryprince commented on #1475
thanks for `vecchiocarmelo`'s job. Now, geospark works on my cluster.

[2019-01-28 11:23] nik-maheshwari commented on #1840
From documentation, ml_tree_feature_importance() takes in a "decision tree-based model". It works here:

[code]

In your example, if you do class(cv_model), it gives something like:
[1] "ml_cross_validator_model" "ml_tuning_model"          "ml_transformer"
[4] "ml_pipeline_stage"

If you do class(cv_model$best_model), you get:
[1] "ml_pipeline_model" "ml_transformer"    "ml_pipeline_stage"

On the

[2019-01-28 11:34] nik-maheshwari commented on #1843
You will have to collect the dataframe before calling sample_frac. Something like this :

[code]

[2019-01-28 15:01] solunsteve commented on #1853
@Jassy1994 @nik-maheshwari @dalloliogm I have around 250 parquet files on S3.
I have connected to S3a and used `spark_read_parquet` but when I am applying the sdf_collect to bring it back to R and analyze it takes ages. Sometimes it runs in parallel, sometimes it runs on one processor.

Can you please advise how to parallelize the process and make it faster? @hadley

[2019-01-28 15:26] benmwhite commented on #1843
@nik-maheshwari I think `sdf_sample()` is a better alternative since most of the time people are using sampling because the original data is too big to collect anyway.

This might already be known at this point but the same bug also looks like it affects `dplyr::sample_n()`:
[code]
This returns an an error message similar to the one in the original post, with the top lines

[code]

[2019-01-28 15:38] nik-maheshwari commented on #1853
@solunsteve Can you show us the output of your Spark connection, sc?

[2019-01-28 15:42] nik-maheshwari commented on #1843
@benmwhite Thanks, it is good to know that sdf_sample() or compute() can solve this bug. I prefer using sdf_sample().

[2019-01-28 16:39] javierluraschi opened #1857 "XGBoost"
https://github.com/rstudio/sparkxgb

[2019-01-28 19:29] kevinykuo opened #1859 "Remove broom dependency"

[2019-01-28 19:38] kevinykuo commented on #1855
Confirmed this repros with CRAN but has been fixed on devel.

[2019-01-28 19:41] kevinykuo commented on #1844
Could you update rlang and try?

[2019-01-29 04:03] #1859 closed

[2019-01-29 07:57] solunsteve commented on #1853
@nik-maheshwari Thanks for the answer and here is what you asked for:

$master
[1] "local[16]"

$method
[1] "shell"

$app_name
[1] "sparklyr"

$config
$config$spark.env.SPARK_LOCAL_IP.local
[1] "127.0.0.1"

$config$sparklyr.connect.csv.embedded
[1] "^1.*"

$config$spark.sql.catalogImplementation
[1] "hive"

$config$sparklyr.connect.cores.local
[1] 16

$config$spark.sql.shuffle.partitions.local
[1]

[2019-01-29 08:41] nik-maheshwari commented on #1853
@solunsteve Can you try invoking your spark connection like this? And then read your parquet files.

[code]

[2019-01-29 10:12] solunsteve commented on #1853
Error:
`Error: java.lang.RuntimeException: java.lang.ClassNotFoundException: Class org.apache.hadoop.fs.s3a.S3AFileSystem not found at org.apache.hadoop.conf.Configuration.getClass(Configuration.java:2195) at org.apache.hadoop.fs.FileSystem.getFileSystemClass(FileSystem.java:2654) at org.apache.hadoop.fs.FileSystem.createFileSystem(FileSystem.java:2667) at org.apache.hadoop.fs.FileSystem.access$20

[2019-01-29 19:53] jkylearmstrong opened #1864 "ml_multiclass_classification_evaluator with ml_multilayer_perceptron_classifier error"
Error in mutate_impl(.data, dots) :
  Column `accuracy` must be length 6 (the number of rows) or one, not 2

---

code below:

---
[code]
[code]

[code]

[code]

[code]
[code]

[2019-01-30 04:02] kevinykuo commented on #1844
Closing since couldn't reprex, feel free to file another issue if this comes up again.

[2019-01-30 04:02] #1844 closed

[2019-01-30 04:02] #1855 closed

[2019-01-30 10:10] Jassy1994 opened #1865 "Can livy_load_scala_sources function load source files parallely?"
# Reporting an Issue with sparklyr

I use sparklyr connect spark by livy, but it costs lots of time in livy_load_scala_sources, this func will load source files and execute statement one by one，can it modified to load source parallely? I try to use parLapply replace lapply, but it takes mistake，I cannot make sure whether those scala source file has dependencies, and can not be executed parallely。

[2019-01-30 16:24] lucavignali commented on #1432
I have problem similar to northeastloon.

Thus I tried the example from here [sparklyr distributed r](https://spark.rstudio.com/guides/distributed-r/).
That is as follows:

 _trees_tbl %>%
  spark_apply(function(e) __nrow__(e))_
and it WORKED.

However, if I change like this (just change the function that comes from base R anyway):

 _trees_tbl %>%
  spark_apply(function(e) __dim__(e))_
And it is

[2019-01-30 19:05] kevinykuo opened #1867 "ml_get_constructor() doesn't find constructors defined in extension packages"
Since it's only looking in the sparklyr namespace.

[2019-01-30 20:03] javierluraschi commented on #1865
This is a great suggestion that brings 5X improvements to most operations, here is a PR to be merged shortly: https://github.com/rstudio/sparklyr/pull/1868

[2019-01-30 20:17] javierluraschi commented on #741
Few 3x-6x improvements with https://github.com/rstudio/sparklyr/pull/1868; if someone in the community wants to look at consolidating multiple calls to `invoke()` into `.scala` functions, this would be welcomed change.

[2019-01-30 22:36] #1867 closed

[2019-01-31 06:53] Jassy1994 commented on #1865
Hi @javierluraschi
Thanks a lot for answering my question and I see in the PR，spark_version should be set to 2.3.0，but my spark version is 2.2.X，can spark version 2.2 support the new feature in this PR？

[2019-01-31 23:04] javierluraschi commented on #1865
@Jassy1994 Yes, previous versions are also supported, if you are using `2.2.1` just set `spark_version = "2.2.1"`.

[2019-02-01 10:31] The-Dub opened #1870 "sqlContext error on Databricks"
Hello,

We recently gave a shot at Databricks, and we are encountering a "weird" error. Sometimes (we still don't know what is triggering this, but it seems quite random), sparklyr returns the following error when dealing with data (everything worked fine before), and then the only solution is to kill the cluster and restart it (same error comes again, different notebook or user):

[code]

In the

[2019-02-01 20:11] jkylearmstrong commented on #1853
you could not collect - analyze with sparklyr api....

[2019-02-03 11:50] dalloliogm commented on #1853
How is your data partitioned? How much data are you trying to collect?

The error you posted seems to indicate that you cannot read amazon S3A files..

[2019-02-04 22:31] javierluraschi commented on #1870
Which version of `sparklyr` are you using? Could you try with the latest version of `sparklyr`? A fix was put in place for Databricks that might be the same issue you experience. You can install this fix with:

[code]

[2019-02-04 22:39] lgongmsft opened #1876 "spark_yarn_cluster_get_conf_property() doesn't expand variables in conf property value strings."
I have installed sparklyr on my [SQL Server 2019 big data cluster](https://docs.microsoft.com/en-us/sql/big-data-cluster/big-data-cluster-overview?view=sqlallproducts-allversions), which runs on Yarn.  While both local mode and client mode work, cluster mode gave me the following error:

[code]
After some digging, I found that [spark_yarn_cluster_get_conf_property](https://github.com/rstudio/spark

[2019-02-05 10:40] The-Dub commented on #1870
@javierluraschi I was using `sparklyr_0.9.4`, I have updated sparklyr to `sparklyr_0.9.9002`, but I'm still facing same issues:
* When reading a parquet with `spark_read_parquet`, i get the following error `java.lang.IllegalArgumentException: invalid method sqlContext for object 1/org.apache.spark.sql.hive.HiveContext fields 0 selected 0`
* When trying to load a spark model using `ml_load`, i get

[2019-02-05 15:11] eddjberry commented on #1823
@kevinykuo having the same issue here with Cloudera rather than Hortonworks as our distro.

I encountered this issue when trying to add dynamic allocation to the spark config. Prior to that everything was working fine.

Using sparklyr 0.9.4, Spark 2.3.1 and Hadoop 2.6.

Previously using sparklyr 0.8.4.9005 with Spark 2.3.1 and Hadoop 2.6 when things were working fine.

Below is how the config is b

[2019-02-05 17:01] javierluraschi opened #1877 "Tensorflow Records"
https://github.com/rstudio/sparktf

[2019-02-05 17:05] javierluraschi opened #1878 "Improved Errors"

[2019-02-05 17:19] javierluraschi opened #1879 "Improved Examples"

[2019-02-05 17:30] RUsr558 opened #1880 "How to prevent long Spark jobs in sparklyr from being aborted?"
Hey,

I am accessing a Spark Cluster via YARN and sparklyr. I have a problem with a very simple Spark job that has a long run time. The job is simply reading a parquet file, repartitioning it and then writing it back to disc:

[code]
(sorry for not providing reproducible code, but the data is very large)

This job runs fine for ~2 hours and then throws an error:
[code]

If I run the equivalent Sca

[2019-02-05 17:48] javierluraschi commented on #1823
@eddjberry there is a related fix for Hortonworks worth trying out, would you mind using this patch and report back if it fixes this issue for you as well?

[code]

[2019-02-05 18:22] javierluraschi opened #1881 "Investigate performance on `spark_apply()` context"
With 2Gb passing `40GB` of data as the `context` seemed to work just fine:

[code]

[code]
[code]

However, jumping to 400GB seems to hit additional performance bottlenecks, probably since we are hitting GC, etc. but worth investigating.

[code]

[2019-02-05 22:39] #1482 closed

[2019-02-06 00:09] javierluraschi commented on #1823
This one should be resolved by https://github.com/rstudio/sparklyr/pull/1872, fix can be installed through:

[code]

[2019-02-06 09:09] eddjberry commented on #1823
I couldn't wait so just tested it. It all works fine 😃. Thanks so much for your help!

I used `devtools::install_github("rstudio/sparklyr", ref = "bugfix/hive-context-spark2")` in order to lock down my build to a specify version.

[2019-02-06 14:24] lgongmsft commented on #1876
I have created a [pull request](https://github.com/rstudio/sparklyr/pull/1882) trying to fix this issue.  It would be great if someone can take a look.  Thanks!

[2019-02-06 20:45] lgongmsft commented on #1876
@javierluraschi, since you have been working on yarn cluster support, maybe you can take a look at the PR?  Much appreciated!

[2019-02-07 00:16] #1876 closed

[2019-02-07 08:55] celip opened #1884 "Sparklyr withour admin rights"
Hi,

is there any chance to use Sparklyr connected to local instance without admin rights?

Thks

[2019-02-07 17:22] kevinykuo opened #1885 "Ensure broom names are compliant"
We should go through our broom implementations and check against https://github.com/alexpghayes/modeltests/tree/master/data-raw.

@samuelmacedo83 could you take this on?

[2019-02-08 02:14] dotRData opened #1888 "sparklyr not working with orc format external table"
looks like sparklyr is not able to read table in ORC FORMATTED external_tables.

## r-code
[code]

[code]

## Table structure
### SQL
[code]

## Session Info
[code]

[2019-02-08 10:30] celip opened #1889 "??"
# Reporting an Issue with sparklyr

For general programming questions with `sparklyr`, please ask on
[Stack Overflow](http://stackoverflow.com) instead.

Please briefly describe your problem and, when relevant, the output you expect.
Please also provide the output of `utils::sessionInfo()` or
`devtools::session_info()` at the end of your post.

If at all possible, please include a [minimal, reprod

[2019-02-08 16:17] #1889 closed

[2019-02-08 18:28] #1857 closed

[2019-02-08 23:00] kevinykuo opened #1891 "Deprecate dataset argument in feature transformers"

[2019-02-08 23:02] #1185 closed

[2019-02-11 09:48] Jassy1994 commented on #1888
Hi @dotRData
    do you have a try in spark-shell or hive, this cast exception always caused by field type mismatch between table structure and data, I try to select * from a simple orc table by sparklyr and can get data.

[2019-02-11 18:09] sdanielzafar commented on #1823
Hey I just tested this. Looks like there is a big improvement! I'm getting solid connections to the hive metastore 👍

I'm not sure if it's just me, but I am having issues pulling my compressed ORC hive tables. On Hive CLI I have no issue, but from sparklyr I'm only getting metadata:
[code]
with sparklyr:
[code]
with DBI,
[code]
When I collect I get 0 rows as well.

in Hive CLI:
[code]
results in:

[2019-02-11 22:06] #1891 closed

[2019-02-11 22:07] #1620 closed

[2019-02-12 01:25] #1798 closed

[2019-02-12 03:17] Jassy1994 opened #1897 "Type mismatch between additional_params$jars and livy jars"
# Reporting an Issue with sparklyr

I try to use livy-jars to accelerate spark_connect, but an error happened:
![2019-02-11 20 25 10](https://user-images.githubusercontent.com/17550838/52609286-b4e04400-2eb7-11e9-95d6-fbe7973f7848.png)
it caused by type mismatch between additional_params$jars (a vector) and livy jars (needs a list)

my submit command is:
[code]

[2019-02-12 08:55] djhernanv opened #1898 "Cannot Open Local Connection | Permission Denied"
# Cannot Open Local Connection | Permission Denied

Hi! I have been trying to run a local instance of Spark on my Windows 10 laptop but without success. I get the following error promt:

[code]
I have tried all suggested solutions I have found online, including installing sparklyr from github, running R and RStudio as an administrator, running only 64 Bit java, and checking that all .cmd files hav

[2019-02-12 20:24] benmwhite commented on #1898
The "Permission denied" error sometimes occurs on Windows if another app is accessing the file, for example if you try to compile a markdown document to Word or PowerPoint while it's already open. That may not be the case here, but I feel it's worth pointing out since it can happen often and has an easy fix.

[2019-02-13 21:59] boofhead opened #1901 "streaming not working"
[code]
platform       x86_64-w64-mingw32
arch           x86_64
os             mingw32
system         x86_64, mingw32
status
major          3
minor          5.1
year           2018
month          07
day            02
svn rev        74947
language       R
version.string R version 3.5.1 (2018-07-02)
nickname       Feather Spray

# your reproducible example here
I can't get sparklyr streaming to funct

[2019-02-14 11:58] IyarLin opened #1902 "Scala version used with latest sparklyr (spark version 2.4.0)"
Hi,

This is a brief question: The ecosystem I work with has spark 2.4.0 built against Scala 2.12. Does the latest sparklyr (which supports spark 2.4.0) support Scala 2.12? I know it used to support Scala 2.11 but I couldn't find any documentation for that on the newest version.

Many thanks,

Iyar

[2019-02-14 16:56] kevinykuo commented on #1902
We don't currently build 2.12 jars (since 2.12 support is experimental in 2.4.) Could you give it a shot to see if it works?

[2019-02-14 17:30] IyarLin commented on #1902
Sure, will do. Thanks!

[2019-02-14 17:30] #1902 closed

[2019-02-14 19:19] falaki commented on #1870
@The-Dub  We recently fixed a similar issue.  https://github.com/rstudio/sparklyr/pull/1797

Would you please verify that you install pre-release version (0.9.5). On Databricks, if you re-install an R package, you need to detach and re-attach the notebook. To double check run `sessionInfo()`
[code]

Please let us know if you still get the error.

[2019-02-14 20:31] lgongmsft opened #1903 ""yarn-cluster" mode failed with "Shutdown hook called before final status was reported.""
The following code seems to be running fine without any error message in the R console but the state and the final status of associated app are marked as FAILED in the Yarn UI and also in the logs.  Any idea?

[code]
Here is the logs:

---

19/02/14 19:03:34 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
19/02/14 19

[2019-02-15 01:29] kevinykuo opened #1904 "dataframe na functions"
https://spark.apache.org/docs/latest/api/scala/index.html#org.apache.spark.sql.DataFrameNaFunctions

[2019-02-15 10:28] The-Dub commented on #1870
Hi Falaki,

I'll give it a shot, but I already tried the development version (after the fix), and the issue was still present, see my previous post.

@falaki I see that you work for databricks, and look into sparkly problems with databricks. Would you be the right person to talk to about issues on Databricks?

[2019-02-16 08:55] falaki commented on #1870
Yes, if you are a paying Databricks customer you can file support tickets and our support and engineering teams will handle them.

[2019-02-17 21:44] Ni-Ar commented on #1383
Thanks for explaining!
I collected your answers in a stackoverflow question that I hope could be useful in the future.
https://stackoverflow.com/a/54737965/9938003

[2019-02-17 22:56] boofhead commented on #1901
Hi, is anyone looking at this? Can I provide any extra information to help out?

[2019-02-18 13:22] The-Dub commented on #1870
Indeed, we are paying DB customer.

We are still experiencing the above problems, alongside with the following error when writing parquet to s3:

[code]

[2019-02-18 19:28] jkylearmstrong opened #1909 "sparklyr dplyr quo"
The current implementation of programming with dplyr (https://dplyr.tidyverse.org/articles/programming.html) does not work with spark

[code]
[code]

[2019-02-18 21:38] dkincaid opened #1910 "Spark 2.4 Avro file reading"
There doesn't seem to be any way to read Avro files in Spark 2.4. This version is supposed to be able to read Avro files natively now (without needing any extensions). The `chezou/sparkavro` package is no longer working with 2.4 and I can't find any function in sparklyr that might work.

1) Is there a function in `sparklyr` today that will let me read an Avro file in Spark 2.4?
2) We will need a `

[2019-02-19 01:41] kevinykuo commented on #1804
Closing since `sdf_mutate()` is being removed for the upcoming release.

[2019-02-19 01:41] #1804 closed

[2019-02-19 01:42] #1789 closed

[2019-02-19 01:42] #1758 closed

[2019-02-19 01:43] #1794 closed

[2019-02-19 01:45] kevinykuo commented on #1742
@preitz07 this should've been fixed on master as of https://github.com/rstudio/sparklyr/pull/1872, could you let us know if you're still running into it?

[2019-02-19 23:24] javierluraschi opened #1917 "Use SQLContext instead of HiveContext"
https://spark.apache.org/docs/latest/api/scala/index.html#org.apache.spark.sql.hive.HiveContext

[2019-02-20 07:38] javierluraschi commented on #1901
Can you share `packageVersion("sparklyr")`, there were a few streaming issues in `sparklyr 0.9.x` that where solved until `sparklyr 0.9.4`, since you are using streams, definitely upgrade to `sparklyr 0.9.4`

Also, `stream_view()` only works with streams, not tables, so you would want to do something like:

[code]

[2019-02-20 14:25] harryprince commented on #1880
might be your queue is full, and the job is pending.

[2019-02-20 14:28] harryprince commented on #1917
after spark 2+, sparkSession is a prefer way than SQLContext

[2019-02-20 18:33] isaac2lord opened #1920 "spark_config cannot set spark parameters"
I am trying to set spark configuration parameters from RStudio like this

[code]

After the connection is established, I looked into Saprk UI and found the nothings actually happened. Seems the config is set at program level which makes it way to the spark environment after job is initialized, but physically it does not add the executors or cores.

![image](https://user-images.githubusercontent.co

[2019-02-20 20:49] #1835 closed

[2019-02-20 22:27] sz-cgt opened #1922 "spark_connect() should handle openjdk 11 gracefully"
**Error:**
[code]

<sup>Created on 2019-02-20 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

**Root Cause:**
The version string for openjdk 10 and above includes a release date.  Starting with openjdk 11.0.2, that release date is in 2019.  `validate_java_version_line()` fails to handle dates in 2019 (and presumably earlier release dats with a 9 in the month or the day) due t

[2019-02-20 22:57] boofhead commented on #1901
Thanks Javier, Updating to R 3.5.2 and Sparklyr 0.9.4 fixed it.

[2019-02-20 22:57] #1901 closed

[2019-02-21 10:58] RUsr558 commented on #1880
@harryprince Thanks for the suggestion. My job is not pending, as I can see it being executed in the Spark Applications. After 2 hours the job is then aborted (I assume by sparklyr sind the identical query with identical settings is running fine when executed from the Spark Shell)

[2019-02-21 19:16] ying1 commented on #1703
Having same issue, but with higher versions of `sparklyr` and `dplyr`.  Is it a regression?
This is connected session thru sparklyr via livy
[code]

This is my sessionInfo.. `sparklyr_0.9.4` and `dplyr_0.8.0.1`
[code]

[2019-02-21 20:12] benmwhite commented on #1909
You need to use `enquo()` instead of `quo()` inside the function:

[code]
This gives the expected result.

I've found it helpful to "pass the dots" instead of using explicit tidy eval functions if all I need is a simple wrapper for dplyr queries where I want to be able to specify arbitrary columns:

[code]

I'm also a big fan of this [post](https://edwinth.github.io/blog/dplyr-recipes/) for refere

[2019-02-21 20:25] benmwhite commented on #1920
YARN uses `spark.executor.instances` instead of `spark.num.executors` , maybe also try turning dynamic allocation off manually (sometimes this is enabled by default):

[code]

[List of YARN-specific Spark config values](https://spark.apache.org/docs/latest/running-on-yarn.html.)

[2019-02-22 02:07] kevinykuo commented on #1909
Thanks @benmwhite !

[2019-02-22 02:07] #1909 closed

[2019-02-22 02:47] harryprince commented on #1880
spark2.1 is not stable version, spark2.2+ is preferred.

[2019-02-22 02:53] harryprince commented on #1881
when data size is more than 4G, the performance of spark_apply will sharply deteriorate. It seems the deadlock mechanism is the reason.

[2019-02-22 04:18] Isaacsh commented on #1920
Thanks @benmwhite that was the root cause of the issue.

[2019-02-22 16:19] benmwhite commented on #1903
Does the same thing happen if you run it in "yarn-client" mode?

[2019-02-22 23:19] javierluraschi opened #1928 "Reduce Dependencies"
Various users have requested simplifying dependencies, clusters can take up to 30min to build. Ideally, `shiny` becomes suggested, not required, we only use Shiny on RStudio's UI for the connections pane and streams, so we should rather install Shiny from RStudio but not enforce it from `sparklyr`. We can also consider implementing `dplyr` generics but not a hard dependency. There might be other d

[2019-02-23 03:00] lgongmsft commented on #1903
No, "yarn-client" is fine.  The error message seems to be from [here](https://github.com/apache/spark/blob/a829234df35c87c169425f2c79fd1963b5420888/resource-managers/yarn/src/main/scala/org/apache/spark/deploy/yarn/ApplicationMaster.scala#L238) so the error might be due to terminating the application with System.exit(0).

[2019-02-25 14:28] Isaacsh opened #1930 "sparklyr gives different results from Hive on simple query"
I have a very simple query to grab two fields from a data 1) date 2) ID

[code]

And here is the result from Hive CLI

![image](https://user-images.githubusercontent.com/7535009/53343959-274d1d00-38d7-11e9-9c1c-f777dd30cc3e.png)

I have no idea how date got shifted by one day.

Appreciate any help to decipher this.

[2019-02-25 18:44] dotRData commented on #1802
This issue got resolved, once I moved my code to spark-2.3.1.
So closing this issue from my end.

[2019-02-25 18:44] #1802 closed

[2019-02-25 20:04] falaki commented on #1870
@The-Dub yes please file a ticket directly to Databricks.

[2019-02-26 05:15] javierluraschi opened #1931 "Could not reserve enough space for 2097152KB object heap"
Under Windows with a Java version using x86, the following error triggers when attempting to allocate 2GB when connecting to Spark:

[code]

Workarounds:

(1) Reduce default memory

[code]

(2) Install Java x64

[2019-02-26 17:36] kevinykuo commented on #1930
Could you please provide a reprex?

[2019-02-26 22:55] ignacio82 commented on #487
Is there any update about this? Is there any way to copy a large table from R to spark?

[2019-02-27 00:45] priyankareddyn opened #1933 "ml_multilayer_perceptron_classifier gives "Failed to execute user defined function($anonfun$1: (vector) => vector)" error"
Trying to run a **ml_multilayer_perceptron_classifier** in sparklyR but I'm getting an error: "**Failed to execute user defined function($anonfun$1: (vector) => vector)**". The model works fine if I don't use the user defined column "tst_col" which is a column with random numbers that ranges between 0.1 and 2.0, but throws an error if I include this column in the model. My actual data set has seve

[2019-02-27 01:49] kevinykuo commented on #1933
Could you try `layers = c(5, 3, 3)`

[2019-02-27 03:23] priyankareddyn commented on #1933
@kevinykuo Works! thanks!

[2019-02-27 03:56] #1933 closed

[2019-02-27 03:56] #1877 closed

[2019-02-27 19:06] Isaacsh commented on #1930
I just created a Hive table with the following info and redo this query. SparkR also gives the correct answer but I do not understand why sparklyr and dbGetQuery fails to do so

![image](https://user-images.githubusercontent.com/7535009/53515792-738f8d00-3a90-11e9-8b81-f68760264c1a.png)

[2019-02-28 01:39] javierluraschi commented on #1930
It's probably the case that HIVE and sparkR collect the data field as character not date, you can match by casting the date column as character with `cast(startdate as string)`, you can also set the folowing option to force `sparklyr` to collect as character:

[code]

Usually this problem triggers when the timezone of the server is different that the timezone of R. So it might actually be correct

[2019-02-28 03:14] harryprince opened #1935 "Support Future Frontend."
related to https://github.com/HenrikBengtsson/future/issues/286, A good idea comes from `future` package.

the future package provides a great parallel framework across multi-engine, including socket, fork , mpi, multiprocess and so on.