[2017-03-15 14:32] chezou commented on #524
I've started to work as extension of sparklyr https://github.com/chezou/sparkavro

[2017-03-15 14:59] sdanielzafar opened #554 "Add support for variable transformations in ml_* formulas"
Currently Sparklyr only accepts simple formulas in ml_linear_regression(). Operators such as ':' should be supported following the convention of lm(). SparkR has this functionality. Interaction terms are crucial to econometric modeling and this addition will help pave the way for moving larger econometric analysis into Spark.

[2017-03-15 15:33] richierocks opened #555 "Add a method to get the data from a model"
It's sometimes useful to be able to extract the data from model objects returned by `ml_*` functions. It currently takes a bit of digging to figure out what to do.

Here's my suggestion:

[code]

Then you can just get the data in the natural way, using `tbl(a_model)`.

[2017-03-15 15:46] richierocks opened #556 "bind_cols() gives "incompatible number of rows" error"
To reproduce:

[code]

[2017-03-15 16:00] richierocks opened #557 "Add residuals() method for ml_model objects"
At the moment, it's slightly tricky to get the residuals from a model.

The basic idea is this:

[code]

This doesn't work for me without `collect()`ing the data, and for some models you need to think about weights, but the basic idea is right.

[2017-03-15 16:43] kevinushey commented on #557
We do in fact have a `residuals.ml_model()` method already; it's defined like so:

[code]

This may perhaps only be valid for e.g. Spark linear regression models, though. Can you elaborate on what kind of model you're trying to get residuals from?

[2017-03-15 16:45] kevinushey commented on #556
`bind_cols()` is provided by `dplyr`, but as far as I can tell it's not actually a generic, so we can't provide our own custom methods for it. Perhaps something to file upstream?

[2017-03-15 16:46] richierocks commented on #557
@kevinushey Oh, so you do. I tried `residuals()` on a random forest model, and got this error.

[code]

A method for gradient boosted trees would also be really useful.

[2017-03-15 16:55] kevinushey commented on #557
Gotcha, that makes sense. I agree it would be worth adding a more general `residuals()` implementation here.

[2017-03-15 18:11] kevinykuo commented on #411
So I've been playing around with this and couldn't figure this out: if we escape `\n` on the JVM side (via `_.replaceAll("\n", "\\n")` in `collectColumnString` it somehow gets unescaped backed to `n` during deserialization. I.e. `aa\\nbb` in JSON gets collected as `aabb` after `spark_read_json`. Thoughts?

[2017-03-15 18:14] kevinykuo commented on #378
Related: https://github.com/rstudio/sparklyr/issues/411

[2017-03-15 18:30] kevinykuo commented on #556
@richierocks would you mind sharing the use case for this? Implementing `cbind` would involving some plumbing due to partitioning of the data. See also https://github.com/rstudio/sparklyr/issues/35.

[2017-03-15 19:28] richierocks commented on #556
@kevinykuo This came about from trying to write a residuals method for `ml_model` objects. See https://github.com/rstudio/sparklyr/issues/557.

My first attempt looked like this:

[code]

The more general case is fortifying dataset with other tibbles. If you want to add a column to a tibble, use mutate. But if you want to add a whole tibble, it's natural to bind by columns.

Column binding is real

[2017-03-15 20:02] marciz commented on #183
Also `if_else(condition, true, false, missing = NULL)` parameter missing is not supported

[2017-03-15 21:08] kevinushey commented on #411
One thought I had before was whether we could use the ASCII record separator (`\30`) but if I recall correctly this did not play well with `livy` / JSON fields.

[2017-03-16 02:32] farrellm commented on #426
I started digging through the code because I am very interested in seeing this bug resolved.
I think the problem is here:
https://github.com/rstudio/sparklyr/blob/master/R/dplyr_spark_connection.R#L80-L90
Inside of a ```mutate``` we need window functions, not aggregate functions (I managed to get a different error message by adding a window entry for "sd").

[2017-03-16 08:59] chezou commented on #524
I've finished the implementation of the first version of sparkavro.
https://github.com/chezou/sparkavro

If you have any issue please file in my github repo.

[2017-03-16 12:08] Venkatraman92 opened #558 "While overwriting the csv getting issue in sparklyr"
final_data <- spark_write_csv(sparkdataframe,"/myfolder/data.csv",header=TRUE,null_value=NULL,overwrite=TRUE)

error:
unused argument(overwrite=TRUE)

Note: How to overwrite in sparklyr

[2017-03-16 12:15] Venkatraman92 commented on #517
#kevinykuo is there any other option to connect oracle to sparklyr?
I need that spark_read_jdbc function, R u still working on it?

[2017-03-16 13:36] ElianoMarques commented on #81
Awesome news @javierluraschi . Thanks for that.

[2017-03-17 06:50] dsblr opened #560 "sdf_predict for RF takes lots of time to predict"
Hi team,
sdf_predict taking more than 30 minutes to get the prediction on 1300 hundred observations, where model build using ml_random_forest with 500 trees.

Please help me to reduce the sdf_predict function processing time.

[2017-03-17 07:27] harishrvt opened #561 "Implicit Function calls for ALS"
I'm using the ALS algorithm and the model doesn't have a parameter for using Implicit ALS. Here's the scala code that I would normally use for the same purpose.

val als = new ALS()
  .setMaxIter(5)
  .setRegParam(0.01)
  .setImplicitPrefs(true) // Not available
  .setUserCol("userId")
  .setItemCol("movieId")
  .setRatingCol("rating")

[2017-03-17 13:34] chezou commented on #534
I ran Spark 1.6.2 on CDH 5.10 as follows:

[code]

See also http://blog.cloudera.com/blog/2017/02/analyzing-us-flight-data-on-amazon-s3-with-sparklyr-and-apache-spark-2-0/

[2017-03-17 15:56] hongqp opened #562 "Failed while connecting to sparklyr to port (8880)"
When I run the script on rstudio-server (web):

library(sparklyr)
library(dplyr)
library(DBI)
sc <- spark_connect(master="yarn-client", method = c("shell"),config=spark_config(), app_name = "sparklyr",version="2.0.0", extensions = sparklyr::registered_extensions())

I got a Error:

Error in force(code) :
  Failed while connecting to sparklyr to port (8880) for sessionid (3717): Gateway in port (88

[2017-03-17 21:44] kevinykuo commented on #562
Is your cluster Kerberized? If so try running `kinit` in the RStudio shell (through the RStudio Server web UI) before connecting.

[2017-03-17 23:58] Dripdrop12 commented on #532
I tried both 1.6.2 and 2.0.1 and I am still getting the Java error above, too

[2017-03-18 16:57] #511 closed

[2017-03-18 20:36] NachoGar opened #563 "* No rows dropped by 'na.omit' call"
I'm following the manual and I do not know what's wrong

library(sparklyr)
library(dplyr)
sc <- spark_connect(master = "local",version = "2.1.0")
iris_tbl <- copy_to(sc, iris,"iris", overwrite = T)
iris_tbl
kmeans_model <- iris_tbl %>%
  select(Petal_Width,Petal_Length) %>%
  ml_kmeans(centers = 3)

* No rows dropped by 'na.omit' call
Error: java.lang.IllegalArgumentException: invalid method compu

[2017-03-19 22:28] dsblr opened #564 "APPCRASH error for rsession.exe app"
Hello Sparklyr team,
please help me with the following error solution.
Using sparklyr I am training Random Forest model and there was no error.
I have to build 20 models by changing to 20 different targets,
But while implementing that inside for loop I am getting APPCRASH error for rsession.exe and fault module name is ntdll.dll.
Please share some of your experience to solve the error.

Error:
Fau

[2017-03-20 00:23] rtaylor24 commented on #534
Hi Aki,

Thanks for the guidance, but  I still cannot get spark_connect() to work.
Very disappointing.

You can see the screen output for my connect attempts below. IAlso,
checked out the Cloudera web page that you listed - but I don't see
anything there that usefully supplements your email to me.

And so I am still stuck. Can you (or anbody else on the list) think of of
anything else I can try? S

[2017-03-20 00:30] chezou commented on #534
I guess your spark home is wrong. Did you try configs I proposed?

[2017-03-20 00:41] rtaylor24 commented on #534
Hi Aki,

Re the config settings: yep, I set them. Those were set in the 2nd attempt
whose screen output I cut-and-pasted into my last email  (see the bottom of
the screen output).

So - apparently that is not the issue. As you suggest, I'll see what I can
do in regard to setting spark_home properly. Though right now I don't
understand why the directory that I am using is not the right one. Maybe
s

[2017-03-20 01:38] chezou commented on #561
I've started to work on this https://github.com/chezou/sparklyr/tree/implicit-als

[2017-03-20 09:02] hongqp commented on #562
@kevinykuo ,
I try key in 'kinit' in the RStudio shell(web UI) and run , but get "Error: object 'kinit' not found".
so what command should I use?

I was surprised that why the same R-script can run well on R-command line(through putty), but can't run well on RStudio-server?

[2017-03-20 09:17] hongqp commented on #562
I try to change other port like this:

config <- spark_config()
config$sparklyr.gateway.port = 10000
library(sparklyr)
library(dplyr)
library(DBI)
sc <- spark_connect(master="yarn-client", method = c("shell"),config=config, app_name = "sparklyr",version="2.0.0", extensions = sparklyr::registered_extensions())

but get the same Error:

Error in force(code) :
  Failed while connecting to sparklyr to

[2017-03-20 13:26] harishrvt commented on #561
Great! In the meantime, do you have an alternative way to invoke the trainImplicit function? I can't seem to get it working on my side and I can't find (much) documentation either

[2017-03-20 14:25] chezou commented on #561
I created PR on #565 . Could you check it?

[2017-03-20 18:23] #561 closed

[2017-03-20 20:24] sampathpulukurthi opened #566 "ML model error"
Hi Team,

I  am trying to run linear regression model on my data using sparklyr. It gives me this error which I cannot interpret. Could you throw some light on what is the error saying.

Current sparkyr version is - 0.5.1

My Code:
ml_linear_regression(
  flights_clean,
  response = "dep_delay",
  features = c("arr_delay", "arr_time"))

Error:
Error: java.lang.IllegalArgumentException: invalid met

[2017-03-20 21:12] edgararuiz commented on #566
Hi, can you try:

[code]

[2017-03-20 21:39] sampathpulukurthi commented on #566
Hi,

Thanks for your reply. I still see the same error.
FYI: Spark version - 1.5.0, sparklyr version - 0.5.1 (I hope this is not due to versions)

Error: java.lang.IllegalArgumentException: invalid method coefficients for object 1455
	at sparklyr.Invoke$.invoke(invoke.scala:113)
	at sparklyr.StreamHandler$.handleMethodCall(stream.scala:89)
	at sparklyr.StreamHandler$.read(stream.scala:55)
	at spar

[2017-03-20 21:40] sampathpulukurthi commented on #566
This is my code:

library(sparklyr)
library(dplyr)
library(nycflights13)

str(flights)

flights_clean <- na.omit(copy_to(sc, flights))

flights_clean %>%
    select(dep_delay, arr_delay, arr_time) %>%
    ml_linear_regression(dep_delay~.)

[2017-03-20 23:52] kevinushey commented on #566
Perhaps the issue here is that Spark 1.5.0 does not support the `coefficients` method for linear model output?

[2017-03-20 23:53] kevinushey commented on #566
It looks like that is indeed the case -- you'll have to update Spark if you want this functionality.

[2017-03-21 08:19] mshafieluru opened #568 "Error in Sparklyr extension creation"
Hi

I am trying to create an extension as mentioned in the git hub on windows.
I am getting below error.
sparklyr::compile_package_jars() Error: failed to discover scala-2.10 compiler -- search paths were:
"C:/Users/abc/Documents/scala"

I have scala 2.10.6 installed on my D drive in windows and it is in Path. Why it is trying to look in another path ? i tried creating shortcut as well but did not

[2017-03-21 09:40] Venkatraman92 opened #569 "How to overwrite sparklyr data frame to the file format???"

[2017-03-21 17:01] javierluraschi commented on #562
@hongqp which version are you running? A few days ago a change went in to improve 2X-3X the `spark_connect` speed, this change had a regression that was fixed yesterday, if you are using the `devel` branch of `sparklyr` I would retry with the latest version. If you are using the `CRAN` version of `sparklyr`, let us know to suggest something different.

[2017-03-21 17:38] javierluraschi commented on #564
@dsblr Could you share the code being used to train this model?

[2017-03-21 20:01] javierluraschi commented on #568
@mshafieluru Is there a reason why `scala` can't be installed under `Documents`?

The reason why having it in the `scalac` in the `PATH` is not enough is that `sparklyr` requires multiple versions of the `scalac` compiler since `Spark 1.6` and `Spark 2.0` use different toolchains. Therefore, in Windows, the `2.10` and `2.11` compilers need to be installed under `Docuemnts/scala`.

I'm pushing a ch

[2017-03-21 20:27] javierluraschi commented on #568
@mshafieluru using `compile_spark_jars` required a few steps, we've made a few changes to make this easier, could you try the following?

[code]

Those steps still require the `JAVA_HOME` environment variable to be set to, say, "c:\Program Files\java\jdk1.8.0_73".

If you can't upgrade `sparklyr` at the moment, you can still follow the workarounds from this PR to set your environment ready to comp

[2017-03-21 21:00] aszh72 opened #571 "Can't use sparklyr on windows corporate machine"
Hello,

After I added java path to system environment, I am still not able to use spark_connect(). I got an error message below. Does anyone know how to resolve this problem? Thanks a lot.

Error: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 0.0 failed 1 times, most recent failure: Lost task 0.0 in stage 0.0 (TID 0, localhost): java.lang.NullPointerException

[2017-03-21 21:36] edgararuiz commented on #571
Hi Ashley, this is the line I shared with you, but I don't know if I mentioned that paths to Java  varies from machine to machine, you may need to change the path to match the location in your computer:

```java_path <- normalizePath('C:/Program Files/Java/jre1.8.0_66')```

[2017-03-21 22:04] aszh72 commented on #571
Hi Edgar, Yes, I've changed the path. For my machine, it is  java_path <- normalizePath('C:/Program Files/Java/jre1.8.0_121')

[2017-03-22 05:56] mshafieluru commented on #568
Hi
My suggestion is instead of hard coding the installation directories, kindly look for SPARK_HOME or SCALA_HOME or JAVA_HOME variables and take it from there. Users like me can install java or scala anywhere in system.

you can easily get the version of scala from these variables. depending on the version you can invoke your respective funtions.

Anyhow, you knows it better.

regards
Shafi

[2017-03-22 05:58] mshafieluru commented on #568
devtools::install_github("rstudio/sparklyr")
Error in curl::curl_fetch_disk(url, x$path, handle = handle) :
  Timeout was reached

[2017-03-22 14:56] JohnMount opened #572 "Dev version of dplyr (0.5.0.9000) throws while trying a mutate with Sparklyr"
Copied over from https://github.com/hadley/dplyr/issues/2495 where it closed without publicly visible action.  Error not present with CRAN dplyr.

`mutate` issue while using `sparklyr`, `Spark2`, and the dev version of `dplyr` (‘0.5.0.9000’, <https://github.com/hadley/dplyr> commit f39db50921110c3d23612cc81a7b3e027c0b3d1c ).

[code]

Ok:

[code]

Throws:

[code]

[code]

[2017-03-22 15:55] dkincaid commented on #531
Show stopper for us. Makes sparklyr unusable for my current work since I have a field I need to work with the definitely has newline characters in it. Hoping you guys can figure out the problem and get it fixed soon. Meanwhile, does anyone have a workaround?

[2017-03-22 17:13] kevinykuo commented on #411
@javierluraschi I've tried a few ways (mostly escaping/unescaping) to work around this to no avail. I think the issue breaks a lot of use cases and should be looked at soon.

[2017-03-22 17:24] oghanmi opened #573 "I can't find the equivelant of rowSums for spark dataframes"
Hi everyone,

I am trying to create a new column that is the sum of different columns. This is possible using dplyr on an T data frame using rowSums(tbl[,n1:n2]).

When I tried it on a spark data frame, i got this error :

**error in UseMethod("escape") :
  no applicable method for 'escape' applied to an object of class "c('tbl_spark', 'tbl_sql', 'tbl_lazy', 'tbl')"**

thank you so much for your h

[2017-03-22 18:06] kevinushey commented on #563
Try invoking `ml_kmeans()` with `compute.cost = FALSE`. I do not know why it fails on your machine; are you sure that you're using Spark 2.1.0?

[2017-03-22 18:16] kevinushey commented on #411
I can't even copy a `data.frame` containing newlines into Spark, so it seems like there's far more fundamental issues than just what's in sparklyr.

[code]

vomits

[code]

The CSV file looks like this:

[code]

That is, the newlines are in quoted fields, so I assume either we're invoking Spark's CSV serializer wrong, or there is a bug there.

[2017-03-22 18:21] kevinushey commented on #411
See also: https://github.com/databricks/spark-csv/issues/10

[2017-03-22 19:04] kevinykuo commented on #411
Some recent developments: https://issues.apache.org/jira/browse/SPARK-19610

[2017-03-22 19:07] kevinykuo commented on #411
So I guess #378 is a separate issue then? What should we expect here?

[code]

[2017-03-22 19:15] javierluraschi commented on #572
@JohnMount looks to me like there is no follow up here, but please do reactivate if you think something is missing, thanks!

[2017-03-23 08:53] hongqp commented on #562
@kevinykuo ,thanks，and I try to run "kinit" in the tool-->shell (RStudio-server)
but get  :
bash-4.1$ kinit
kinit: Cannot contact any KDC for realm 'EXAMPLE.COM' while getting initial credentials

@javierluraschi ,thanks，the version fo sparklyr I installed is 0.5.3-9002.It's seems that RStudio-server can't get respond from gateway, but R command-line can. Is there any configuration should I config

[2017-03-23 23:34] javierluraschi commented on #562
@hongqp could you try this instead?

[code]

If that doesn't work would yo try:

[code]

If that works, I can adjust the timeouts appropriately in `sparklyr`. Thanks!

[2017-03-24 00:43] ths2o commented on #525
I also encountered same problem.
In my case, copy_to(sc, df) works on r studio but same code with 'Rscript' execution(like, Rscript bb.R) doesn't works and throw the error as you mentioned.
Error: org.apache.spark.sql.AnalysisException: Path does not exist: hdfs://localhost:9000/tmp/Rtmp7GOqHB/spark_serialize_aa3f31fce072ee17db5bb6fefeeb9332a5e33762470025c09b0325e15fbaf4e5.csv;

[2017-03-24 01:22] #378 closed

[2017-03-24 01:45] javierluraschi commented on #568
@mshafieluru can you retry? Sounds like it could be a connectivity issue.

[2017-03-24 02:40] hongqp commented on #562
@javierluraschi , I try two script, none of them can work. Result is follow:

[code]

[code]

Could there a possibility that the problem is not on sparklyr, but between sparklyr and Rstudio server, or just  butween Rstudio server and spark-yarn need something to be configured ?
Could you please kindly to give me some R-script to test that?

[2017-03-24 06:08] Vonisoa commented on #562
I have the same trouble by spaecifting the driver memory.
First time I only use
`sc<-spark_connect(master = "local[2]")`
But when I try this, I get the same error
`sc <- spark_connect(master = "local[*]",
                    config = list("sparklyr.shell.driver-memory"="2g"))`
Maybe that can help.

[2017-03-24 16:47] javierluraschi commented on #551
@renegademonkey correct, there was an issue collecting data with `\n` completely unrelated with Cassandra, https://github.com/rstudio/sparklyr/pull/574 fixes this issue some I'm closing this issue now. Feel ree to reopen if we are missing something.

BTW. If you are planning to make this extension public we can list it here, let us know! http://spark.rstudio.com/extensions.html

[2017-03-25 01:58] dsblr commented on #564
@javierluraschi Thanks for your response. Its working fine now after I used gc() inside the function.
It was seems to be an memory exception error.

[2017-03-25 09:30] Maiae commented on #176
I'm keen to see if there is a solution for this. I am dealing with as 17M records dataset and it is impractical to collect data into R memory. A solution for this would make my day.
Cheers

[2017-03-26 10:05] chezou commented on #524
@javierluraschi Do you have a plan to include [spark-avro](https://github.com/databricks/spark-avro)? Or, could you add [my extension](https://github.com/chezou/sparkavro) into [the document](http://spark.rstudio.com/extensions.html)? After that, I think it would be time to close this issue.

[2017-03-26 21:06] edgararuiz commented on #524
Hi @chezou, thanks for your extension.  I just added it to the list in the Extensions page as you requested: http://spark.rstudio.com/extensions.html (cc: @javierluraschi )

[2017-03-26 21:06] #524 closed

[2017-03-26 21:10] edgararuiz commented on #571
Weird, the error still says: ```java.lang.NullPointerException```

Just to confirm, is this the code you ran:

[code]

[2017-03-26 21:10] edgararuiz commented on #569
Hi @Venkatraman92 , can you give me some more background of what you're trying to accomplish?

[2017-03-26 22:28] chezou commented on #524
Thanks @edgararuiz !

[2017-03-26 22:55] edgararuiz commented on #560
Hi @dsblr, have you tried using ```ft_string_indexer``` for your categorical features during data preparation?  I noticed an overall increase in performance after reading how some pipeline models do this before performing vector transformations.  Here's a quick R Notebook I put together to show how it could be used: http://rpubs.com/edgarruiz/262323

[2017-03-27 02:19] hongqp commented on #562
@Vonisoa ,Thanks.
I try both(Specified memory & Unspecified memory), but none of them can work...
Is there any other way to connect to spark-yarn through RStudio-Server？

[2017-03-27 11:30] Vonisoa opened #576 "sparkhello: launch 'sparklyr::compile_package_jars()' download spark-1.5.2-bin-hadoop-2.6.tgz"
Hello, I would try the sparkhello but when I launch
`sparklyr::compile_package_jars()`
it directly download spark-1.5.2-bin-hadoop-2.6.tgz instead I already have spark-2.1.0-bin-hadoop2.7 installed. Can anyone tell me where I did wrong?

[2017-03-27 12:03] Venkatraman92 commented on #569
Hi @edgararuiz ,
Once i have written .csv file using Spark_write_csv function from Spark data frame it got successful but again I tried to write .csv with same name it is show an error mentioned bellow, while writing csv have mentioned Overwrite so that it can replace previous one but it's not working.

final_data <- spark_write_csv(sparkdataframe,"/myfolder/data.csv",header=TRUE,null_value=NULL,o

[2017-03-27 15:00] AkhilNairAmey opened #577 "`db_drop_table` throws an error"
Hi,

I used to be able to drop a table from the spark context in `sparklyr` like this

[code]

I'm getting the error

[code]

I imagine the problem is that I'm not on the latest `dplyr` version, but the latest on cran is `0.5.0` and the latest at hadley/dplyr is `0.5.0.9000`.  I'm kinda confused about how how I've lost the latest `dplyr` version.

[code]

[2017-03-27 15:24] AkhilNairAmey commented on #577
Okay, I think it's an issue with `dplyr_0.5.0.9000`.

[code]

Runs without error.

Not sure if this issue is in the right place anymore. Please close if inappropriate + I can reup it on the `dplyr` issues tracker

[2017-03-27 19:29] latinostats opened #578 "Error reading Hive table with Invoke"
Hello Sparklyr Team:

I am having issues trying a simple read from another schema in Hive...

library(sparklyr)
library(dplyr)
sc <- spark_connect(master = "yarn-client",
                    version="1.6.0",
                    spark_home = '/opt/cloudera/parcels/CDH/lib/spark',
                    config = list(default = list(spark.yarn.keytab = "user1.keytab",

[2017-03-27 19:54] edgararuiz commented on #578
@latinostats - Are you trying to read from schema that is not 'default' inside the same cluster?

[2017-03-27 20:01] latinostats commented on #578
right @edgararuiz  ... I was able to change the schema using hive_context(sc) %>% invoke("sql", "use schema1") but still same error...

[2017-03-27 20:03] latinostats commented on #578
by the way @edgararuiz  .. I am using an Rstudio server running on a Cloudera cluster in the edge node.

[2017-03-27 20:05] edgararuiz commented on #578
Ok, cool, 2 options, the devel version of sparklyr has a new command that changes the database for you: ```tbl_change_db```

Here's the code for it, in case you'd prefer to recreate it in your code:

[code]

[2017-03-27 20:58] latinostats commented on #578
Thanks @edgararuiz  but still getting the Java error even after using the right database...

[2017-03-27 21:00] edgararuiz commented on #578
Ok, can we confirm that you're able to read from the 'default' database?

[2017-03-27 21:15] latinostats commented on #578
@edgararuiz I just found out I can't!!

Error in if (ncol(df) > 0) df else invisible(df) :
  argument is of length zero
In addition: Warning message:
In value[[3L]](cond) :
  org.apache.hadoop.security.AccessControlException: Permission denied: user=user1, access=READ_EXECUTE, inode="/user/hive/warehouse/sample_07":hive:hive:drwxrwx--x
	at org.apache.hadoop.hdfs.server.namenode.DefaultAuthorizatio

[2017-03-27 21:21] edgararuiz commented on #578
@latinostats - it looks like you're having issues with Kerberos auth? Are you using RStudio Pro?

[2017-03-27 21:23] latinostats commented on #578
no Rstudio Pro @edgararuiz .... is that a problem?

[2017-03-27 21:38] edgararuiz commented on #578
For a cluster that is running Kerberos, there may be some work arounds but I honestly not sure how do this without using a supported solution, like RStudio Pro.  Maybe this article can help:  http://stackoverflow.com/questions/33735746/r-shell-and-kerberos-ticket

[2017-03-28 12:50] serenasignorelli commented on #471
Hi, I'm experiencing the same problem.

I found a solution here: [http://stackoverflow.com/questions/31780376/trouble-in-understanding-the-lda-topic-model-in-mllib](url) but don't know how to implement it into sparklyr.

They suggest to call DistributedLDAModel.topicDistributions() or DistributedLDAModel.javaTopicDistributions() in Spark 1.4.

Anyone cal help?

Thank you,
Serena

[2017-03-28 16:08] tarunparmar commented on #517
@kevinushey Hi Kevin, are you folks planning to have `spark_read_jdbc` function anytime soon?
Also as @Venkatraman92 asked, would that be a correct syntax to connect from scratch ?

[2017-03-28 16:47] javierluraschi commented on #576
@Vonisoa could you share the output of `sparklyr::compile_package_jars()`? Which `sparklyr` version which operating system? Thanks!

[2017-03-28 16:52] javierluraschi commented on #573
@oghanmi Right, `rowSums` is currently not supported in `sparkylr`. Can you use `mutate` instead?

[code]

[2017-03-28 16:53] javierluraschi commented on #387
I believe this is fixed, thanks Kevin!

[2017-03-28 16:53] #387 closed

[2017-03-28 16:54] kevinushey commented on #517
`spark_read_jdbc()` is already available in the development version of `sparklyr`. @javierluraschi, do we have any examples of its use?

[2017-03-28 16:58] edgararuiz commented on #517
@kevinushey & @javierluraschi - If there's not, this may be a great opportunity to see if we want to write this as a vignette inside the package and then I can pull it into the site via pkgdown, or if you'd prefer an article about it on the site.  The same goes for the issue we have opened for the site for different connection settings.

[2017-03-28 17:22] #558 closed

[2017-03-28 17:29] javierluraschi commented on #549
@charles2588 does this help? http://spark.rstudio.com/example-s3.html

`ACCESSKEY` and `SECRETKEY` in correct format?

[2017-03-28 22:55] javierluraschi commented on #517
We do not have examples yet, but @tarunparmar @Venkatraman92 if you hit any issues with `spark_read_jdbc` let us know to address them.

[2017-03-28 23:07] tarunparmar commented on #517
hi @javierluraschi , current help does not provide and example and this is what Usage says `spark_read_jdbc(sc, name, options = list(), repartition = 0,
  memory = TRUE, overwrite = TRUE)`.
Can you give a sample example on how to incorporate Oracle db info, I am guessing it goes inside `options = list()` but just want to make sure I follow the correct way.

[2017-03-28 23:35] javierluraschi commented on #564
@dsblr You could also try using `Sys.sleep(2)` to help clean up resources after closing the connection.

[2017-03-28 23:36] javierluraschi commented on #524
@chezou Thanks! Really neat extension!

[2017-03-28 23:40] #577 closed

[2017-03-28 23:47] javierluraschi commented on #562
@hongqp Is this a regression? Can you connect correctly using the CRAN version of `sparklyr` on `0.5.3`?

[2017-03-29 00:07] javierluraschi commented on #562
@hongqp Also, why use port `10000`? `ThriftServer` usually runs on this port, so I wonder if the default `8880` is any better.

[2017-03-29 03:28] statkclee opened #582 "Can't access to S3 bucket through flintrock & sparklyr tool chain"
I could not figure out the follwoing problems.

My workflow is as follows;
1. Set up Spark cluster through flintrock
2. Install R, libcurl, openssh, rstudio server
3. Install sparklyr

I checked out the AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY over and over.
------------------------------------------------------------------------------------
### R code to access S3 bucket
Sys.setenv(AWS_ACCESS_

[2017-03-29 10:05] oghanmi commented on #573
@javierluraschi Thank you for your answer. Actually we can sum differnt columns by indicating their names, i.e :iris_tbl %>% mutate(y = Petal_Length + Petal_Width)
It's only problematic when you have lots of columns  from n1 to n2 to sum.

Hope it will be available in the next release

[2017-03-29 13:18] codingbutstillalive commented on #81
I hope you are still motivated ;)

[2017-03-29 14:14] ElianoMarques commented on #270
@javierluraschi any thoughts on this?

[2017-03-29 14:15] ElianoMarques commented on #270
ok just saw this spark_read_jdbc(). Nice, testing.

[2017-03-29 14:50] slavakx commented on #407
got the following error during installation from devtools::install_github("rstudio/sparklyr")

Error : object 'db_data_type' not found whilst loading namespace 'sparklyr'

Environment: RStudio Server Version 1.0.136, R: 3.3.2, Spark 2.1.0

[2017-03-29 19:11] tarunparmar commented on #517
Hi @javierluraschi, This is what I tried but that did not work...

`spark_read_jdbc(sc, "temp",
                options = list(url = "jdbc:oracle:thin://databasename:1521/servicename?user=abcd&password=abc123",
                               driver = "oracle.jdbc.driver.OracleDriver",
                               dbtable = "dbschema.sampletable"),
                memory = TRUE)`

[2017-03-29 19:56] GriffinRidgeback commented on #407
I just got the same error; relatively same configuration as @slavakx.  One post said that tibble was the problem but there was a fix which included tibble. I did it manually, deleted my dplyr installation, re-ran the devtools command, still no luck!!!

[2017-03-29 20:02] GriffinRidgeback commented on #47
This is not working for me.  I am installing from devtools and keep getting the following error:* installing *source* package ‘sparklyr’ ...
** R
** inst
** tests
** preparing package for lazy loading
** help
*** installing help indices
** building package indices
** testing if installed package can be loaded
Error : object 'db_data_type' not found whilst loading namespace 'sparklyr'
Error: loadin

[2017-03-29 21:12] ElianoMarques commented on #549
@javierluraschi perhaps you want to add the above example to standard examples in the website? (just checked its not)

[2017-03-29 21:15] edgararuiz commented on #549
Hi, thank you for your suggestion, we have it listed under Deployment / Deployment Examples: http://spark.rstudio.com/deployment_examples.html.

[2017-03-29 21:21] ElianoMarques commented on #549
ahhhh! thanks for letting me know.

[2017-03-30 00:15] navdeep-G opened #583 "Error: object 'db_data_type' not found whilst loading namespace 'sparklyr'"
I am seeing the following issue when trying to download sparklyr from github:

`Error: object 'db_data_type' not found whilst loading namespace 'sparklyr'`

[2017-03-30 06:56] AlexYoung757 commented on #583
Error: object 'db_data_type' not found whilst loading namespace 'sparklyr' . i also find this error

[2017-03-30 07:32] statkclee opened #585 "Is there a sparklyr function to save one csv file."
I am looking for a way to save one csv file on S3 bucket.

It seems to me that `repartion(xxx, 1)` function from sparkr works.

With spark_write_csv() function, I can have only splitted csv files.

Thanks.

[2017-03-30 09:06] lazariv commented on #407
I've got the same error on the same configuration, except R: 3.2

[2017-03-30 10:49] statkclee commented on #582
It's very strange because when I access to S3 bucket with aws.s3 package, there is no problem.

But, with spark_install() functions, I could not access to S3 bucket.

Moreover, when I follow the instrunctions from https://www.santoshsrinivas.com/installing-apache-spark-on-ubuntu-16-04/, I've got the similar errors; AWS Access Key ID and Secret Access Key.

-------------------------------------

Er

[2017-03-30 10:59] Venkatraman92 opened #586 "error in Sparklyr after updating it"

[2017-03-30 11:01] Venkatraman92 commented on #586
Error : object 'db_data_type' not found whilst loading namespace 'sparklyr'
Error: loading failed
Execution halted

[2017-03-30 13:35] GriffinRidgeback commented on #407
This is NOT fixed!  Tried to install on a new R environment for work I HAVE to do in sparklyr and still got:

Error : object 'db_data_type' not found whilst loading namespace 'sparklyr'

Why is this still not working?  I have a customer who is depending on me being able to transform their code into sparklyr format but I have no environment in which to do this.

Please help!!  What diagnostic infor

[2017-03-30 13:38] GriffinRidgeback commented on #583
This is NOT fixed! Tried to install on a new R environment for work I HAVE to do in sparklyr and still got:

Error : object 'db_data_type' not found whilst loading namespace 'sparklyr'
I saw somewhere that this had been fixed but evidently not.

Why is this still not working? I have a customer who is depending on me being able to transform their code into sparklyr format but I have no environment

[2017-03-30 14:30] kevinykuo commented on #583
@AlexYoung757 @GriffinRidgeback for the time being installing from @navdeep-G's repo worked for me

[2017-03-30 14:45] kevinykuo commented on #586
See https://github.com/rstudio/sparklyr/issues/583

[2017-03-30 15:22] mashaye commented on #407
I have the same problem as above.
Error : object 'db_data_type' not found whilst loading namespace 'sparklyr'
Error: package or namespace load failed for ‘sparklyr’"

I have spark 2.1; R 3.3.1; rstudio server;

[2017-03-30 16:54] javierluraschi commented on #586
@Venkatraman92 Can you try with the latest version, PR got merged a couple hours ago.

[2017-03-30 16:57] am9090 commented on #586
I have the same error I have installed 0.5.3? is that the latest

[2017-03-30 16:58] javierluraschi commented on #586
@am9090 This is a breaking changed introduced in `dplyr`, I would recommend uninstalling `dplyr` and installing `dplyr` again from CRAN instead.

[2017-03-30 17:08] am9090 commented on #586
I tried that but still gives me that error

[2017-03-30 18:53] navdeep-G commented on #583
@kevinykuo @AlexYoung757 @GriffinRidgeback Should be fixed now. @javierluraschi merged my PR this morning. Will close this issue.

[2017-03-30 18:53] #583 closed

[2017-03-30 20:35] javierluraschi commented on #586
@am9090 you might need to restart your rsession as well. The combination `dplyr` and `sparklyr` while installed from CRAN should work as appropriate since nothing has changed in a month or so. Therefore, there is probably something stagnant in your system, try the uninstall/restart/install `dplyr` combination.

Otherwise, `dplyr` and `sparklyr` isntalled from github should also work now.

Let us k

[2017-03-30 22:09] aszh72 commented on #571
sorry for the late reply Edgar. Yes that's the code I ran. When I ran it again today, I got a different error message:

 Failed while connecting to sparklyr to port (8880) for sessionid (2024): Gateway in port (8880) did not respond.

[2017-03-30 22:23] edgararuiz commented on #571
Can you try it with Java 8?

[2017-03-30 23:30] javierluraschi commented on #578
Looks like the resolution is to use plain `R` or `RStudio PRO` to support Kerberized sessions. Not sure we can do more here, closing?

[2017-03-30 23:30] #578 closed

[2017-03-31 00:52] javierluraschi commented on #586
@Venkatraman92 @am9090 Is the install looking good now? Otherwise, closing this issue.

[2017-03-31 00:52] #586 closed

[2017-03-31 00:58] latinostats commented on #578
@javierluraschi kerberos does not seem to be a problem... we are able to run certain hive queries but others do not work and show this error... it seems to be that there is some configuration missing for a certain type of queries... not sure if running hive queries directly from sparklyr to create a dataframe is the best way to do this... is there a better way to put the output of a hive query  in

[2017-03-31 03:19] Maiae commented on #176
Adding some more information to this.
I am fitting a decision tree to this data and trying to get the probabilities as a numeric value rather than a list vector.

[code]

The last dplyr query is followed by:
[code]
I get the same result if `sdf_mutate()` is used instead of `mutate()` which is very strange.
However, if I first collect the data into R memory, everything runs as it suppose to:
[code]

[2017-03-31 09:07] Venkatraman92 commented on #569
Hi @javierluraschi
Thanks for the help. Its working fine.

[2017-03-31 15:16] GriffinRidgeback commented on #407
Looks like it is fixed now ;->

[2017-03-31 17:14] mashaye commented on #407
Yea, it is fixed. Thanks!

[2017-03-31 18:27] kevinushey opened #589 "investigate test warnings / failures"
[code]

[2017-03-31 19:05] am9090 opened #590 "Random forest in Spark R -Accuracy or Rsquared problem"
Hi guys

I was running random forest using spark in R

Can any one tell me how I get accuracy

Please help its urgent

I would have got normall r square but it drops certain row when random forest runs

so to get r square I need equal rows in original data and predicted data

[2017-03-31 19:11] javierluraschi commented on #585
[code]

[2017-03-31 19:12] javierluraschi commented on #590
[code]

[2017-03-31 19:32] am9090 commented on #590
I tried but its not working

maybe  i am doing somewrong, is there an example of that something like this?

kmeans_model <- iris_tbl %>%
  select(Petal_Width, Petal_Length) %>%
  ml_kmeans(centers = 3)

# print our model fit
print(kmeans_model

[2017-03-31 22:35] albit3 opened #592 "sparcklyr installation error"
Hi guys,

I'm trying to install sparcklyr following the instructions in the rstudio.spark website but I'm getting the following errors:

Downloading GitHub repo hadley/dplyr@master
from URL https://api.github.com/repos/hadley/dplyr/zipball/master
Installing dplyr
Downloading GitHub repo hadley/rlang@0756eaf3
from URL https://api.github.com/repos/hadley/rlang/zipball/0756eaf3
Installing rlang
'/Lib

[2017-03-31 22:42] kevinushey commented on #592
Errors of that form typically occur when you try to reinstall a package after it's already been loaded. Try restarting your R session and trying again.

[2017-03-31 22:44] albit3 commented on #592
Ok, will restart and try again. Thank you.

On Mar 31, 2017, at 6:42 PM, Kevin Ushey <notifications@github.com<mailto:notifications@github.com>> wrote:

Errors of that form typically occur when you try to reinstall a package after it's already been loaded. Try restarting your R session and trying again.

—
You are receiving this because you authored the thread.
Reply to this email directly, view i

[2017-03-31 22:48] albit3 commented on #592
Thank you Kevin but it still not working after restarting the session.

Restarting R session...

trying URL 'https://cran.rstudio.com/bin/macosx/mavericks/contrib/3.3/sparklyr_0.5.3.tgz'
Content type 'application/x-gzip' length 1025493 bytes (1001 KB)
==================================================
downloaded 1001 KB

The downloaded binary packages are in
	/var/folders/m8/y4hvcvrx4233n10636g64m

[2017-03-31 22:50] albit3 commented on #592
I also tried installing the development version of dplyr first but that did not seemed to resolve the spark install problem either

Thanks,

Albit

[2017-03-31 22:52] albit3 commented on #592
I'm using the latest version of R and Rstudio
R version 3.3.3 (2017-03-06) -- "Another Canoe"
Copyright (C) 2017 The R Foundation for Statistical Computing
Platform: x86_64-apple-darwin13.4.0 (64-bit)

[2017-04-01 03:31] kevinushey commented on #592
Ah! Sorry, it looks like in the factoring of `dplyr` the `sql_build()` function has moved to a separate package, `dbplyr`, and so we need to import it from there.

@hadley: will `dplyr` import and re-export `sql_build()`, or should we now be importing it from `dbplyr` instead?

[2017-04-01 11:33] hadley commented on #592
Why are you using `sql_build()`? It's not an obvious call so I thought it would be ok to move the generic into dbplyr.

[2017-04-01 12:34] chezou opened #593 "How to create Array of `PipelineStage`?"
I'm trying to write [Spark.ml pipeline code](https://spark.apache.org/docs/latest/ml-tuning.html#cross-validation) with sparklyr, but it returns an error. How can I instantiate Array like `new PipelineStage[]`?

Code:

[code]

Error:

[code]

[2017-04-01 17:31] albit3 commented on #592
Thank you for your reply Mr. Wickham.

Is there anything I could do from my end to get the sparcklyr installed and functioning properly?

Best,

Albit

On Apr 1, 2017, at 7:33 AM, Hadley Wickham <notifications@github.com<mailto:notifications@github.com>> wrote:

Why are you using sql_build()? It's not an obvious call so I thought it would be ok to move the generic into dbplyr.

—
You are receiving

[2017-04-01 19:18] kevinushey commented on #592
You can see how we use it in e.g.

https://github.com/rstudio/sparklyr/blob/master/R/dplyr_sql.R
https://github.com/rstudio/sparklyr/blob/58179850c352ad94ea8ceab496fab8634ce92769/R/sdf_wrapper.R#L9

I'm not sure if there's an alternate, preferred interface / way of doing things here.

[2017-04-01 19:21] kevinushey commented on #592
But then we've already adapted this to use `dbplyr` so I assume that @albit3 just needs to make sure he's using _both_ development versions of dplyr + sparklyr.

@albit3, can you please try:

[code]

from a fresh R session?

[2017-04-01 19:23] albit3 commented on #592
Ok. I will try this now.

Thank you Kevin.

On Apr 1, 2017, at 3:22 PM, Kevin Ushey <notifications@github.com<mailto:notifications@github.com>> wrote:

But then we've already adapted this to use dbplyr so I assume that @albit3<https://github.com/albit3> just needs to make sure he's using both development versions of dplyr + sparklyr.

@albit3<https://github.com/albit3>, can you please try:

devtoo

[2017-04-01 19:31] albit3 commented on #592
Great! Not getting the error enaymore.

Thank you Kevin and Mr. Wickham!

I used this code to install the latest dev dplyr:

if (packageVersion("devtools") < 1.6) {
  install.packages("devtools")
}
devtools::install_github("hadley/lazyeval")
devtools::install_github("hadley/dplyr")

Albit

On Apr 1, 2017, at 3:23 PM, Albit Paoli Garrido <113apaoli@uccaribe.edu<mailto:113apaoli@uccaribe.edu>> wrote

[2017-04-01 20:08] kevinushey commented on #592
Glad to hear it!

[2017-04-01 20:08] #592 closed

[2017-04-01 20:59] albit3 commented on #562
I'm getting a similar error after a fresh install of sparklyr package:

Error in force(code) :
  Failed while connecting to sparklyr to port (8880) for sessionid (2477): Gateway in port (8880) did not respond.
    Path: /Users/Albit/Library/Caches/spark/spark-1.6.2-bin-hadoop2.6/bin/spark-submit
    Parameters: --class, sparklyr.Backend, --jars, '/Library/Frameworks/R.framework/Versions/3.3/Resour

[2017-04-01 21:04] albit3 commented on #592
Hey Kevin,

I’m now getting a port error after being able to call sparklyr into the library. I posted the error in an already open post at GitHub. Below are the details.

library(sparklyr)
sc <- spark_connect(master = "local")

Failed while connecting to sparklyr to port (8880) #562

Wanted to bring it up to you as I thought that maybe this could be realted to the previous issue. Don’t know.

Than

[2017-04-01 22:32] albit3 commented on #562
I tried running the following code posted by @hongqp :

config <- spark_config()
config$sparklyr.gateway.port = 10000
config$sparklyr.gateway.connect.timeout = 1
library(sparklyr)
library(dplyr)
library(DBI)
sc <- spark_connect(master="yarn-client", method = c("shell"),config=config, app_name = "sparklyr",version="2.0.0", extensions = sparklyr::registered_extensions())

But I get the following err

[2017-04-02 01:12] albit3 commented on #562
I was able to fix this issue by installing the latest Java version (jdk-8u121-macosx-x64.dmg) from here:

http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html

I check if the latest version was installed properly with "java -version" command in mac terminal:

java -version
java version "1.8.0_121"
Java(TM) SE Runtime Environment (build 1.8.0_121-b13)
Java HotSpot(TM)

[2017-04-02 01:14] albit3 commented on #592
Hey Kevin after some hours of looking around I found a solution and poster on github. Here is what worked for me:

I was able to fix this issue by installing the latest Java version (jdk-8u121-macosx-x64.dmg) from here:

http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html

I check if the latest version was installed properly with "java -version" command in mac termi

[2017-04-02 02:06] albit3 commented on #589
Hey Kevin,

Everything seems to work fine following the tutorial at the spark.studio.com

However, I get this error message every time I create a spark object. This is while following the tutorial from the website step by step. The first time it appears is when I run the following code:

library(dplyr)
iris_tbl <- copy_to(sc, iris)

![unexpected_data_type](https://cloud.githubusercontent.com/asset

[2017-04-02 02:09] albit3 opened #594 "Error: Unexpected data type"
Everything seems to work fine following the tutorial at the spark.studio.com

http://spark.rstudio.com/index.html

However, I get this error message every time I create a spark object. This is while following the tutorial from the website step by step. The first time it appears is when I run the following code:

iris_tbl <- copy_to(sc, iris)

![unexpected_data_type](https://cloud.githubusercontent

[2017-04-02 06:38] deepu2015 opened #595 "Spark Connection Issues"
I was following the instructions at 'http://spark.rstudio.com/' & got struck at this command.(I updated the dplyr package from gitbub/hadley). I have the latest version of R- 3.3.3.

`import_iris <- copy_to(dest = sc,df = iris,name = "spark_iris",overwrite = T)`

**Error in tbl.spark_connection(sc, name) : could not find function "src_sql"**

_Surprisingly src_sql() function seems to be missing th

[2017-04-02 08:41] albit3 commented on #595
Try restarting your R session and installing developer versions of dplyr and sparklyr

if (packageVersion("devtools") < 1.6) {
  install.packages("devtools")
}
devtools::install_github("hadley/lazyeval")
devtools::install_github("hadley/dplyr")
devtools::install_github("rstudio/sparklyr")

[2017-04-02 14:01] deepu2015 commented on #595
Thank you. I will give it a try. By the way, which version of Spark should I install ? 1.6.2 or 2.0.0 or 2.0.1 ?
I plan to use it as a local cluster.

[2017-04-02 14:11] edgararuiz commented on #595
2.1.0 would be the best one if you're using the  devel version of sparklyr

[2017-04-02 20:18] kevinushey commented on #593
Good question -- I'm not sure if we expose a method for easily creating arrays from an R list of Spark objects. I think it might be worth implementing something for this, e.g. a `spark_array(...)` function that creates an array given one or more objects.

[2017-04-02 20:36] albit3 commented on #594
I was able to fix this by first intalling sparklyr and then dplyr packages. Doing is the other way around causes the unexpected data type error.

[2017-04-02 20:36] #594 closed

[2017-04-03 13:41] GriffinRidgeback opened #596 "Unexpected data type when creating connection or reading data"
Hello,
I am on a MacBook Pro and keep getting this error (see attached screen shot) whenever I connect to my local Spark instance or read data of any sort.  At first I thought it was a problem with my customer's dataset but I get the same error when I try the examples on the sparklyr website, such as copy_to using the iris table.

Please help.

Thanks,
Kevin
<img width="416" alt="screen shot 2017-

[2017-04-03 16:01] GriffinRidgeback commented on #596
More information:

Using the examples provided under the **dplyr** section on GitHub, I get the following results:

[code]
[code]
Whereas in the example, it looks like this:

[code]

[2017-04-03 16:03] GriffinRidgeback commented on #596
Also, I see no tables in my Spark tables tab in RStudio

[2017-04-03 17:11] deepu2015 commented on #596
I too face the same problem. However try clicking on the 'SparkUI' button under the 'Spark' tab which will open up a webpage. Click on 'Storage' & your 'iris_tbl' might be there.

[2017-04-03 17:14] deepu2015 commented on #595
Thank you albit3 & edgararuiz. That worked for me. However when I run the copy_to() command, it throws an error 'UNexpected data type' & the dataset is not listed under the Spark tab. When I re-run it, it will say that the dataset already exists. When I click on SparkUI, it opens up a web page & under storage tab, I can see my 'spark_iris' dataset. I couldn't figure out why it throws that error !!

[2017-04-03 17:31] GriffinRidgeback commented on #596
thanks @deepu2015 , that worked.  I can see my tables there.

I'm trying to understand just exactly what I'm working with.  Using **spark_read_csv**, the documentation says I should get a _Spark Dataframe_ from the CSV file I'm reading in.  I should be able to work with this DF the same way I do in R but I don't seem to have a data frame.  What I have is an object with two fields:   **src and ops*

[2017-04-03 17:36] deepu2015 commented on #596
Glad that it worked for you. I am also brand new to Spark (just 2 days) & hence have limited knowledge in it. So far I could see that the R syntax to work with Spark datasets are slightly different though not entirely sure about it. The following link might be of use for you.
http://spark.rstudio.com/images/sparklyr-cheatsheet.pdf

[2017-04-03 18:07] GriffinRidgeback commented on #596
Thanks, @deepu2015 I will have a look.

[2017-04-03 19:08] albit3 commented on #595
Hey Deepu,

I had the same issue. Resolved it by installing sparlyr before dplyr. Both from CRAN, no the developer version.

Let me know if tu this solves it.

Albit

Sent from my iPhone

On Apr 3, 2017, at 1:14 PM, Deepu A <notifications@github.com<mailto:notifications@github.com>> wrote:

Thank you albit3 & edgararuiz. That worked for me. However when I run the copy_to() command, it throws an er

[2017-04-03 19:57] edgararuiz commented on #517
@tarunparmar - Can you give me some background of where are you testing this? Is this a Hadoop cluster, standalone Spark?

[2017-04-03 20:10] tarunparmar commented on #517
We are setting up RStudio Pro - spark cluster, no hadoop. So I thought would be best to test something with sparklyr to get data directly from Oracle db into spark rather ran getting into memory through R and then move it to spark.
I saw some exmples of it with SparkR package and learned that it can be done using JDBC.

[2017-04-03 20:19] edgararuiz commented on #517
Ok, in that case, would it be possible to ETL the data into individual files, maybe split by transaction day or something like that?  If placed on a share that all of the nodes in your cluster can access then they will be able to read the files in parallel (aka faster) and without a dependency on a connection to Oracle.  Basically the approach delineated in this article, but with a network share i

[2017-04-03 20:19] tarunparmar commented on #270
Hi @ElianoMarques - can you share an example if that worked for you, would like to know how you set it up for Oracle DB.

[2017-04-04 05:57] wang950312 commented on #596
I also fact that problem, and my spark version is 2.0.1. Maybe the latest version will led the problem?

[2017-04-04 06:16] aszh72 commented on #571
Hi Edgar, yeah I tried with Java 8 before, it didn't work. I managed to work in one VM I have in the Azure Cloud. So no worries. Thank you.

[2017-04-04 12:30] GriffinRidgeback commented on #596
I am using Spark 2.1.0 on my local machine, running Spark in master mode.  I'm still looking at the cheatsheet, which is promising.  I don't know if (a) this is how it is supposed to work and I just don't understand the paradigm yet (b) there is a problem with my platform [Mac, Spark 2.1.0] or (c) something in sparklyr?

[2017-04-04 14:35] haridwarj opened #597 "calling date function from spark_data frame"
Hi,
   Id;Name;city;start_date;end_date
1;xxxx;xxxxx;20170101;20170103
2;xxxx;xxxxx;20170101;20170105
.............................................
...........................................................
2;xxxx;xxxxx;20170101;20170109

this data is in csv format.

I have made sparklyR custom jar in scala and added using
conf[["sparklyr.jars.default"]] <- c("../inst/java/DateTime-2.0.2-2.11.jar

[2017-04-04 18:26] am9090 opened #598 "Decision tree/Gradient tree visualization/Spark Ml algorithms"
Hi everyone

I ran ml spark algorithms and got the output but how do I get decision tree in visual form

the output I get is
class.org,apache.spark.ml.decisontreeregression model
 is uid=dtr_125661g256kr something like that

Please help

[2017-04-05 04:52] AlexYoung757 opened #600 "Could not locate executable winutils.exe in the Hadoop binaries"
Hello,

After I install sparklyr packages, I got an error message below. Does anyone know how to resolve this problem? Thanks a lot.

17/04/05 12:46:26 INFO SparkContext: Running Spark version 2.0.1
17/04/05 12:46:26 ERROR Shell: Failed to locate the winutils binary in the hadoop binary path
java.io.IOException: Could not locate executable null\bin\winutils.exe in the Hadoop binaries.
	at org.apac

[2017-04-05 07:15] longhowlam opened #601 "Unexpected data type"
Hi RStudio,

When I copy data from R to Spark I am getting the following error:

![sparklyerrro](https://cloud.githubusercontent.com/assets/11842869/24693615/bdd37982-19de-11e7-9486-2a9b0741dba2.png)

`iris_tbl <- copy_to(sc, iris)`

Any Ideas? The data is loaded, but it is not visible in the Spark GUI.

[1] "iris"

Regards,
Longhow

Some information on my environment:

sparklyr version 0.5.3.9004

[2017-04-05 07:22] chezou commented on #593
I understand we should write some grew code between R and Spark to handling Array including inherited class.

[2017-04-05 12:20] albit3 commented on #601
Hey,

I had this issue. Try installing non-developer version of sparklyr followed by dplyr. Then spark_install version 1.6.2.

[2017-04-05 12:47] longhowlam commented on #601
We have an existing spark 2.1.0 cluster, the non developer sparklyr 0.5.3 does not support spark 2.1.0

[2017-04-05 15:01] edgararuiz commented on #601
That's correct

[2017-04-05 17:19] GriffinRidgeback commented on #601
The table shows up in storage tab on Spark UI

[2017-04-05 17:56] GriffinRidgeback opened #602 "How to use the tm and slam packages in sparklyr"
Hello -

I am converting my customer's code from straight R into sparklyr.  However, I think I have hit a major roadblock.  His code makes heavy use of the **tm** and **slam** packages to create DocumentTermMatrix and simple_triplet_matrix.  I want to be able to run the relevant functions on the data I have loaded into the SparkContext so that I can take advantage of the parallelizing of Spark exe

[2017-04-06 00:10] chezou commented on #569
@Venkatraman92 it seems almost fine about this issue via #579 . Why don't you close this issue?

[2017-04-06 04:38] cyadusha opened #603 "Failed while connecting to sparklyr to port (8880) for sessionid (8227): Gateway in port (8880) did not respond."
Whenever I connect to spark on my mac, I get the following error. I reinstalled java several times and it is not helping me.

Error in force(code) :
  Failed while connecting to sparklyr to port (8880) for sessionid (8227): Gateway in port (8880) did not respond.
    Path: /Users/chittampalliyashaswini/Library/Caches/spark/spark-1.6.2-bin-hadoop2.6/bin/spark-submit
    Parameters: --class, sparkly

[2017-04-06 06:01] cyadusha commented on #603
Now after I fixed that and when I run the ml_als_factorization() command I get this:

Error: org.apache.spark.SparkException: Job aborted due to stage failure: Task 1 in stage 24.0 failed 1 times, most recent failure: Lost task 1.0 in stage 24.0 (TID 33, localhost): java.lang.NullPointerException: Value at index 1 in null
	at org.apache.spark.sql.Row$class.getAnyValAs(Row.scala:475)
	at org.apache

[2017-04-06 07:39] NikkieThomas opened #604 "Guidance on Setting up RStudio Server and Connecting to a Hadoop Cluster"
Hi,
I am sorry if this is not the right place to ask the question as it is not an issue.
We are intending to setup a server with RStudioServer Pro installed and users connect to it from their laptop/desktop via browser to access the RStudioIDE.
We have a Hadoop cluster already setup (HPD 2.4)
We need to use sparklyr (installed on the RStudioServer) access the Hadoop cluster.
Unfortunately, we dont

[2017-04-06 15:33] mikhailBalyasin opened #605 "`ft_index_to_string` fails to convert indices back to strings"
I'm trying to use `ft_index_to_string` to convert prediction back to the original string, but I'm getting the error `java.lang.ClassCastException: org.apache.spark.ml.attribute.UnresolvedAttribute$ cannot be cast to org.apache.spark.ml.attribute.NominalAttribute`.

I understand, that Spark doesn't know how to convert column of type double to string, but I'm not sure why exactly. Documentation is p

[2017-04-06 20:46] Chris-Engelhardt opened #606 "Problem reading NULL values in external Hive tables"
I have saved in an external database a Hive table. This table has columns containing known NULL values. When I try to read in columns containing NULLS, they are represented in unexpected ways. For example, NULLs in a tinyint column are read as 80 (variable type raw), whereas NULLs in a bigint column are imported as -9.223372e+18 (variable type dbl). I would have expected NULLs to be imported as NA

[2017-04-06 21:11] kevinushey commented on #606
My guess is that `NULL` is coming back as their associated minimum values (note that `0x80` would be expressed as `-127` within a signed 8-bit integer type). For `bigint`, we could definitely detect this minimum value and convert it to `NA` / `NaN`, but unfortunately R's `raw()` data type does not have an associated `NA` / missing value.

Part of this ugliness comes from a decision to deserialize

[2017-04-06 21:13] kevinushey commented on #606
The more nuclear option would be to have us de-serialize these as lists of length-one elements, whose value could then be `NULL`, but this is undesirable mainly because it has a catastrophic effect on deserialization performance.

[2017-04-06 21:21] edgararuiz commented on #606
Hi @Chris-Engelhardt, when you pull this directly in the cluster, like via Hue, how are they displaying?

[2017-04-06 21:32] yesh-yb commented on #331
issue re-surfaced in a different form,
mutate(log(n)) - this works
mutate(myvar=log(n)) - this returns 1/log()

please find the below code

[code]

[2017-04-06 21:35] Chris-Engelhardt commented on #606
@edgararuiz In Hue, they are displaying as NULL.

[2017-04-06 21:47] codingbutstillalive commented on #81
Seems to be more difficult than expected, I suppose. Right?

[2017-04-06 21:48] yesh-yb commented on #331
it happens only for natural logarithms!!!

[2017-04-06 21:48] edgararuiz commented on #606
Understood.  I know it won't solve the root cause, but wouldn't declaring the columns as just 'int' work?  That's how I declare mine and so far NULLs come across as NA's for me

[2017-04-06 22:30] Chris-Engelhardt commented on #606
Yes. That's a good short-term solution, and is how I resolved a similar bug with Microsoft R server (there, I needed to cast tinyint to int w/in a sql query).

[2017-04-06 22:49] edgararuiz commented on #601
@javierluraschi / @kevinushey - I was just able to recreate this issue in colorado.rstudio.com.  It looks like the error is returned by the Spark tab inside the IDE. I can refer to the table with no problem, it just doesn't show up in the UI

[2017-04-06 22:57] GriffinRidgeback commented on #601
The table won't show up in the **RStudio IDE Spark tab** but it should show up when you click the **Spark UI tab** and then click the **Storage tab** in the browser.

[2017-04-07 09:03] mikhailBalyasin commented on #605
At the same time, if I pass `label_ind` column into `ft_index_to_string` then it works, so that column does have metadata:
[code]

Output:
[code]

So the question is how do I make sure that `prediction` column has metadata about original `label`s?

[2017-04-07 10:47] asobe commented on #562
Hello - i get the exact same behavior as @hongqp both on RStudio and shell.
[code]
Cloudera CDH5.9.1, java 1.8.121, RHEL 7.1
Cluster is Kerberized, Yarn HA. I have a valid Kerberos ticket.
Spark-submit works outside of sparklyr.
I tried the github version as well as the cran version of sparklyr.

[2017-04-07 14:15] GriffinRidgeback opened #607 "Looking for how to mimic the behavior of the tm DocumentTermMatrix method in Spark API"
Hello,

I am converting my customer's code from R to sparklyr.  I have been able to figure out how to create N-Grams and StopWords but now need to convert his use of DocumentTermMatrix to something in the Spark MLlib API.  I can't seem to find a suitable analog and am hoping someone else has faced this issue and has a reasonable solution.

Thanks in advance to all who help.

[2017-04-07 14:45] jan-sterba commented on #525
same here

[2017-04-07 19:57] javierluraschi opened #608 "Expose support to read/write data from generic data sources"
See `spark_data_write_generic` from https://github.com/rstudio/sparklyr/blob/master/R/data_interface.R

[2017-04-10 16:36] yesh-yb opened #609 "log calculation in mutate method returns 1/log"
issue re-surfaced in a different form,
mutate(log(n)) - this works
mutate(myvar=log(n)) - this returns 1/log()

it happens only for natural logarithms!!!
please find the below code

[code]

[2017-04-10 17:40] kevinushey commented on #609
I'm not able to reproduce this issue with the development versions of dplyr / sparklyr. Can you double check whether this is resolved there for you as well?

[code]

For reference, I see:

[code]

[2017-04-10 17:45] kevinushey commented on #81
We're still working on this; I think we'll be able to accomplish something in the near future but given that we're balancing a large number of responsibilities it's possible this will still take a little longer than expected.

[2017-04-10 19:04] #606 closed

[2017-04-11 21:25] mattpollock commented on #601
Is there any way to suppress the pop up? Perhaps by disabling the Spark tab in the IDE somehow?

[2017-04-11 21:27] edgararuiz commented on #601
I believe the latest PR fixed the issue, please reinstall sparklyr and try again

[2017-04-11 21:28] richierocks opened #611 "Sanitize table names in copy_to()"
Dots in destination table names cause errors.

[code]

It would be nice if the table names were checked before they were sent to Spark. I'm not sure if the best behavior is to throw a helpful error or to fix the name.

[2017-04-11 21:37] kevinushey commented on #611
Good idea -- we currently sanitize column names (https://github.com/rstudio/sparklyr/blob/7b1c6d8ff864612d8f5becacbc24fcd9d131ef21/R/utils.R#L116); it might make sense to use a similar transformation for table names.

[2017-04-11 21:41] mattpollock commented on #601
Thanks. I'll test right after I get past https://github.com/hadley/rlang/issues/96

[2017-04-12 07:41] longhowlam commented on #601
It works, Thanks Rstudio!!!

[2017-04-12 12:03] mattpollock commented on #601
Fixed now. Thanks much.

[2017-04-12 13:14] GriffinRidgeback commented on #465
On this topic, I can't seem to get ft_binarizer to work.  I'm following a simple example using the iris table.  I copy_to my sc and then issue the following code and get the displayed error:

ft_binarizer(iris_tbl)
Error in ensure_scalar_character(input.col) :
  'NULL' is not a length-one character vector

iris_tbl is a 2-element structure, with the spark connection (src) and ops as its members.

[2017-04-12 17:40] mattpollock opened #613 "incorrect sql translation in filter"
`sparklyr` is inserting spaces inside string quotes within a filter statement.

The regular `dplyr` version of things:
[code]

yields
[code]

The equivalent `sparklyr` flavored operation:
[code]

produces
[code]

Where there is a leading and trailing space around the AA string I want to filter on.

[2017-04-12 17:44] kevinushey commented on #613
Can you include your `sessionInfo()` as well?

[2017-04-12 17:47] mattpollock commented on #613
[code]

[2017-04-12 17:48] mattpollock commented on #613
Installed github versions of both `sparklyr` and `dplyr` this morning

[2017-04-12 17:55] kevinushey commented on #613
I don't see the issue locally. One potential difference I see: I have a newer version of the `DBI` package (0.6.1). Does updating `DBI` make a difference? E.g.

[code]

[code]
<details>

R version 3.3.3 (2017-03-06)
Platform: x86_64-apple-darwin13.4.0 (64-bit)
Running under: macOS Sierra 10.12.4

locale:
[1] en_US.UTF-8/en_US.UTF-8/en_US.UTF-8/C/en_US.UTF-8/en_US.UTF-8

attached base packages:
[1]

[2017-04-12 18:12] mattpollock commented on #613
Fun. Don't know if it is related, but there were some recent changes due to https://github.com/hadley/rlang/issues/96 and https://github.com/tidyverse/dplyr/issues/2633 after which the issue seems to have cropped up.

[2017-04-12 18:48] #613 closed

[2017-04-12 18:48] kevinushey commented on #613
Finally found the issue -- it was a relatively recent regression in `sparklyr` itself. Should be resolved now; thanks for reporting!

[2017-04-12 18:53] mattpollock commented on #613
thanks for the quick fix!

[2017-04-13 09:35] codingbutstillalive commented on #81
I hope for the best.

[2017-04-13 12:23] AliSoul opened #615 "copy_to() copying large dataframes"
Is it possible to copy several gigabytes data frame to Spark using copy_to()?

When I try to do this, I get following error:
[code]

Example:
[code]
[code]

[2017-04-13 19:27] richierocks opened #616 "spark_write_parquet() aborts for large datasets"
To reproduce:

[code]

(Vary `n` and the number of columns as necessary.)

[2017-04-13 20:52] kevinykuo opened #617 "Livy serde for character columns"
[code]

[2017-04-14 12:16] #617 closed

[2017-04-14 14:09] richierocks opened #619 "Spaces in factor levels cause problems with ml_*() functions"
To reproduce:

[code]

The problem seems to be related to the factor level `Very Good` for the `cut` column.

[2017-04-14 17:07] kevinykuo opened #621 "glimpse doesn't work"
[code]

[2017-04-14 17:24] richierocks opened #622 "ml_gradient_boosted_trees() is slow"
Unclear if it's a `sparklyr` problem or a Spark MLlib problem, but I think it's worth a quick investigation here.

`ml_gradient_boosted_trees()` seems to be pretty slow, even for moderately sized datasets.

For example, predicting the price in the `diamonds` dataset takes ~ 20 seconds:

[code]

compared to about 4 seconds for the equivalent using `mboost::mboost()`.

[code]

I realize that the rou

[2017-04-14 17:29] kevinushey commented on #621
It looks like the issue here (if I understand correctly) is that we dispatch to `glimpse.tbl` rather than a more appropriate method.

@hadley, our Spark tables have class:

[code]

Is there some package that should be providing a `glimpse` method for `tbl_sql`s or `tbl_lazy`s? Or do we need to just implement `glimpse` ourselves for `tbl_spark`s?

[2017-04-14 17:47] kevinykuo commented on #621
Looking at `glimpse.tbl` I think it might work if we provide a `type_sum.tbl_spark` and request a change upstream to use `tbl_vars()` instead of `names()` around https://github.com/tidyverse/tibble/blob/81ea9560bfe9abc34210484720c13688ce3e1589/R/glimpse.R#L46-L47

[2017-04-14 17:51] kevinushey commented on #621
That won't be quite enough -- the `vapply()` call would need to be changed too, as that will operate on the `src` and `ops` variables in the table object. I think there needs to be a separate method altogether for `tbl_sql`s.

[2017-04-14 17:56] kevinykuo commented on #621
@kevinushey right, just realized `type_sum` is applied to each column...

[2017-04-14 18:14] hadley commented on #621
`tbl_sql()` should really get a glimpse method — can you please file an issue in dplyr?

[2017-04-14 18:17] kevinykuo commented on #619
Unable to reproduce with Spark 2.1.0

[code]

[2017-04-14 18:18] kevinushey commented on #621
Will do!

[2017-04-14 18:34] richierocks commented on #619
@kevinykuo I was using Spark 2.0.2.

[2017-04-14 21:44] sdanielzafar commented on #554
I don't mind working on this issue myself if someone wants to reach out to me at daniel.zafar at gmail.com so I can ask questions.

[2017-04-15 10:21] chezou commented on #622
IMHO, it is useless to compare both using small size dataset. Basically, Spark has overheads such as launching executor etc...

[2017-04-15 10:35] chezou commented on #611
I guess database name handling affects this problem. Is it usual thing in R world to name a table with dot? In SQL, dot is a separater syntax between  database and table name.

[2017-04-15 21:58] JohnMount opened #623 "CRAN version 0.5.3 of sparklyr incompatible with dev version of dplyr 0.5.0.9002"
With the dev version of dplyr installed (4/15/2017,  0.5.0.9002 commit d7d2f10167b4ac919e876eb9a891fd53345be985) the CRAN version of sparklyr (4/15/2017,   0.5.3 ) will not load:

[code]
Problem goes away with dev-version of sparklyr (4/15/2017,  0.5.3-9005 commit 58fcd949d7709b4be44e2789a1c5355a6bd148f3).

[2017-04-15 22:04] kevinushey commented on #623
We're aware of this -- `dplyr 0.6.0` will be coming to CRAN soon, and we plan to update `sparklyr` at that time as well. For now, if you are using the development version of `dplyr` you should use the development version of `sparklyr`.

[2017-04-15 22:12] edgararuiz commented on #623
@kevinushey - Would simply installing dbplyr (https://github.com/hadley/dbplyr/) be another solution?  That way he can keep the versions of the packages he currently has

[2017-04-16 00:16] JohnMount commented on #623
Thanks, I was hoping the answer was along the lines that there was a planned sparklyr release prior to the dplyr 0.6.0 release.

[2017-04-16 04:04] kevinushey commented on #623
I'm not sure if installing `dbplyr` would help -- it's specifically designed to work with the development version of `dplyr`; I don't think it will work in tandem with the CRAN version of `dplyr`.

[2017-04-17 01:23] kevinykuo commented on #554
We could expand https://github.com/rstudio/sparklyr/blob/master/R/formulas.R or maybe leverage the Scala code [here](https://github.com/apache/spark/blob/master/mllib/src/main/scala/org/apache/spark/ml/feature/RFormulaParser.scala) and [here](https://github.com/apache/spark/blob/master/mllib/src/main/scala/org/apache/spark/ml/feature/RFormula.scala), though I'm guessing there was a reason to not w

[2017-04-17 03:17] kevinushey commented on #554
One of the main benefits of having the formula parser live in R code is that we can rely on R's own formula parser (that is, `stats::terms()`), which would in the future allow us to use arbitrary expressions in formulas.

[2017-04-17 05:32] sdanielzafar commented on #554
Ah, so what should be done next?

[2017-04-17 05:58] kevinushey commented on #554
Unfortunately implementing this will require quite a bit of work yet -- the simplest interim solution would be to just manually generate interaction columns in your dataset, and use those in the model fitting routines.

The overarching issue is that Spark's model fitting routines at their base have no concept of interaction terms; they just have input columns and output columns. This implies that,

[2017-04-17 12:22] richierocks commented on #611
@chezou Dots in variable names are allowed in R, and it wasn't clear to me that they weren't allowed in Spark.

If I've understood the DBI package documentation correctly, I think that `sparklyr` just needs an improved method for [`dbQuoteIndentifier()`](https://github.com/rstudio/sparklyr/blob/master/R/dbi_spark_connection.R#L46-L53).

[2017-04-17 12:35] chezou commented on #611
Thanks for the explanation. To be honest, I sometimes saw variables with dots in R, but I was not sure it is usual or not.

I heard Hadley is trying to decide how to handle DB identifier. https://github.com/rstats-db/DBI/issues/24 It would solve this problem. In the SQL world (not only Spark world), it is very rare to use dots for a table name, and I didn't realize that problem. Not unlike usual D

[2017-04-17 12:49] richierocks commented on #622
@chezou Yes, it's a bad comparison, but I don't think that Spark overhead is the whole story, since `ml_random_forest()` doesn't suffer in the same way. From playing around with a few datasets, `ml_gradient_boosted_trees()` is consistently awfully slow. As I said in the original post, I have know idea if this is a `sparklyr` problem, or if it is somewhere on the Spark side. Worth spending a few mi

[2017-04-17 18:14] javierluraschi commented on #608
Resolved with https://github.com/rstudio/sparklyr/pull/624

[2017-04-17 18:14] #608 closed

[2017-04-17 18:16] javierluraschi opened #625 "Refactor databricks gateway launch into indendent codebase"

[2017-04-18 01:45] #621 closed

[2017-04-18 05:50] joebling commented on #299
@edgararuiz  Can I use sparklyr connect to spark from a client?
It seems it doesn't work from rstudio web.

But when use R in this client, it seems work?

![image](https://cloud.githubusercontent.com/assets/18331158/25116173/9f551e70-243d-11e7-8a82-a712d5cd56bd.png)

thanks

[2017-04-18 11:11] AliSoul commented on #615
Worth to add that the problem occurs when connected to remote Spark cluster (yarn-client), local instances of Spark works OK

[2017-04-18 15:23] javierluraschi opened #627 "Better error message when spark_home is missing in spark_connect"
`spark_connect(master = "spark://localhost:7077")` yields and exception rather than a `spark_home` parameter missing error message.

[2017-04-18 15:50] javierluraschi opened #628 "Spark hangs while connecting when not enough memory is available"
Either with (1) low memory constraints or (2) when RSP has a profile restricting memory, Spark will hang waiting for resources and eventually `sparklyr` will trigger:

[code]

Ideally, it should detect low resource availability or at least warn of low resources when this happens.

[2017-04-18 17:40] #628 closed

[2017-04-18 20:32] richierocks opened #630 "Allow collection/persistence of ml_model objects"
I want to be able to reuse a model across connections.

Here's a linear regression of the [`cars`](https://www.rdocumentation.org/packages/datasets/topics/cars) dataset.

[code]

If I disconnect and reconnect, then making predictions no longer works.

[code]

I tried to persist the model using `sdf_persist()`, but that throws an error.

[code]

Some of the elements of the model are `spark_jobj`s,

[2017-04-18 21:07] navdeep-G opened #631 "Issue building rsparkling package due to `sql_build` not found"
Hi,

I recently tried to build `rsparkling` and got the following error in the R CMD CHECK:

`* checking for file ‘rsparkling/DESCRIPTION’ ... OK
* installing *source* package ‘rsparkling’ ...
** R
** inst
** preparing package for lazy loading
Error : object 'sql_build' not found whilst loading namespace 'sparklyr'
ERROR: lazy loading failed for package ‘rsparkling’
* removing ‘/Users/navdeepgill/

[2017-04-18 21:21] kevinushey commented on #631
What version of `dplyr` do you have installed? (What is the output of `packageVersion("dplyr")`?)

[2017-04-18 21:26] navdeep-G commented on #631
‘0.5.0.9004’, but a colleague of mine got a similar error 0.5.0, which is the one on CRAN.

[2017-04-18 21:30] kevinushey commented on #631
That seems unlikely to me, since the current CRAN release of `dplyr` exports the `sql_build()` generic, whereas the development version of `dplyr` does not.

I don't know what the best solution for this is, unfortunately. Perhaps `sparklyr` should just define a duplicate `sql_build()` generic, or avoid using it altogether?

[2017-04-18 21:34] ledell commented on #631
When using **sparklyr** 0.5.3 (latest CRAN) and **dplyr** 0.5.0 (from CRAN), I got the following error:
[code]
I noticed that the **sparklyr** DESCRIPTION file imports **dplyr** (>=0.5.0.9001) though, so I updated all my packages and now I get a similar error:
[code]
If I install **sparklyr** from GitHub, then it works just fine.  So whatever you did to fix these errors has been fixed on master, s

[2017-04-18 21:44] kevinushey commented on #631
I'm not able to reproduce that -- installing both CRAN dplyr + sparklyr works fine for me. You might need to make sure you're installing them in order:

[code]

The current landscape is such that CRAN sparklyr works with CRAN dplyr, dev. sparklyr works with dev. dplyr, but currently 'crossing the streams' causes bad things to happen.

That said, it's possible that we'd be able to ensure that `spar

[2017-04-18 21:44] kevinykuo commented on #299
@joebling what error message are you getting when trying to connect from RStudio Server?

[2017-04-18 22:02] navdeep-G commented on #631
Yes, but the issue remains with CRAN dplyr and CRAN sparklyr. Should the order of install really matter?

[2017-04-18 22:16] kevinushey commented on #631
If you're installing packages from sources, then unfortunately it does. R populates some data structures related to S3 / S4 dispatch at package build time, and so if there is a mismatch between the packages used at load time, these sorts of errors can occur.

You can replicate with something like:

[code]

[2017-04-18 22:25] kevinushey commented on #630
You likely want to use `ml_save()` and `ml_load()`, which should work fine at least with a local Spark connection.

[2017-04-18 22:49] richierocks commented on #630
@kevinushey Wow, I can't believe I missed those. Thanks.

[2017-04-18 22:49] #630 closed

[2017-04-18 22:58] hadley commented on #631
@kevinushey if this is going to cause general pain we should brainstorm some options

[2017-04-18 23:06] kevinushey commented on #631
@hadley as far as I can tell, because CRAN `sparklyr` supplies methods for the `sql_build()` generic currently provided by CRAN `dplyr`, CRAN `sparklyr` will always be broken against the development version of `dplyr` unless the `sql_build()` generic is brought back (or provided through some other means).

[2017-04-18 23:09] kevinushey commented on #631
Maybe `dplyr` should continue exporting the `sql_build` generic for now, but let `dbplyr` implement all the methods of interest?

[2017-04-18 23:29] kevinushey commented on #622
FWIW this is probably relevant: https://roamanalytics.com/2016/10/28/are-categorical-variables-getting-lost-in-your-random-forests/

The fact that we use dummy variables for categorical variables likely implies exactly the kind of slowness discussed here.

[2017-04-18 23:59] mrjoseph84 commented on #354
I am having a similar issue when trying to do:

[code]
I tried all these things mentioned above but still getting the same error (as below). Does anyone have any ideas what could be the reason? Thanks!

Error: java.lang.reflect.InvocationTargetException
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstruc

[2017-04-19 00:09] kevinushey commented on #605
Good question! I'm not yet that familiar with how Spark stores attributes + metadata for these transformers, but this appears to be the relevant code:

[code]

Diving into the 'StructField' metadata, I see something like this:

[code]

We should definitely look at providing routines in `sparklyr` for extracting metadata fields from Spark data columns, and should likely also be extracting those in

[2017-04-19 01:09] joebling commented on #299
@kevinykuo

Error in force(code) :
  Failed during initialize_connection: java.net.ConnectException: Call From twin-sz01-nbd-prd-10013.16qian.cn/10.8.34.63 to 0.0.0.0:8032 failed on connection exception: java.net.ConnectException: Connection refused; For more details see:  http://wiki.apache.org/hadoop/ConnectionRefused
    at sun.reflect.GeneratedConstructorAccessor7.newInstance(Unknown Source)

[2017-04-19 01:09] joebling commented on #299
Error in force(code) :
  Failed during initialize_connection: java.net.ConnectException: Call From twin-sz01-nbd-prd-10013.16qian.cn/10.8.34.63 to 0.0.0.0:8032 failed on connection exception: java.net.ConnectException: Connection refused; For more details see:  http://wiki.apache.org/hadoop/ConnectionRefused
    at sun.reflect.GeneratedConstructorAccessor7.newInstance(Unknown Source)
    at sun.re

[2017-04-19 01:25] edgararuiz commented on #299
@joebling, can you try set or confirm if the JAVA_HOME is set?

[2017-04-19 01:37] joebling commented on #299
@edgararuiz

From rstudio web,it seems that R cann't get JAVA_HOME

![Uploading 微信截图_20170419093017.png…]()

that might be the problem.

ps: I install Rstudio server on a hadoop client.

[2017-04-19 01:38] joebling commented on #299
@edgararuiz
From rstudio web,it seems that R cann't get JAVA_HOME.

DISPLAY                                     :0
EDITOR                                      vi
GIT_ASKPASS                                 rpostback-askpass
HOME                                        /home/qiuliangliang
LANG                                        en_US.UTF-8
LD_LIBRARY_PATH                             /usr/lib64/R

[2017-04-19 01:39] edgararuiz commented on #299
Try this inside R: Sys.getenv("JAVA_HOME")

[2017-04-19 01:40] joebling commented on #299
@kevinykuo

[1] ""

[2017-04-19 01:41] joebling commented on #299
@edgararuiz

When use R in the shell on the same client, it get

[1] "/usr/lib/jvm/java"

[2017-04-19 01:44] edgararuiz commented on #299
ok, let's try this in RStudio:

[code]

[2017-04-19 02:09] edgararuiz commented on #299
oh! is this a Hadoop Cluster or a Spark Stand Alone cluster?

[2017-04-19 02:21] joebling commented on #299
@edgararuiz

a hadoop client.

[2017-04-19 18:02] kevinushey commented on #631
FYI, continued discussion is at https://github.com/tidyverse/dplyr/issues/2670.

I think we're going to try to submit a new version of `sparklyr` that will be compatible with both dplyr 0.5.0 and dplyr 0.6.0.

[2017-04-20 01:04] navdeep-G commented on #631
@kevinushey Yes, I think submitting a new version of `sparklyr` to CRAN would be the best solution.

cc @ledell

[2017-04-20 01:38] tristanz commented on #407
I tested both cran and devtools, it looks like this fix isn't published to CRAN yet.  Any chance this can get updated now that 2.1 is widely distributed?

[2017-04-20 06:07] akshaydighe31 opened #633 "Error while copying R dataframe to Spark memory"
install.packages("sparklyr")
#devtools::install_github("rstudio/sparklyr")
library(sparklyr)

spark_install(version = "2.0.2")

hadoopBin <- paste0("'", normalizePath(file.path(spark_home_dir(), "tmp", "hadoop", "bin")), "'")
config <- spark_config()
config[["spark.sql.warehouse.dir"]] <- if (.Platform$OS.type == "windows") hadoopBin else NULL
config[["spark.sql.hive.thriftServer.singleSession"]]

[2017-04-20 12:52] edgararuiz commented on #299
Ok, what kind of security does the Hadoop cluster have?

[2017-04-20 15:59] yesh-yb commented on #609
apologies for the delayed response
issue still persists,
i am using rstudio server.

[2017-04-20 18:00] kevinykuo opened #634 "dplyr via livy breaking"
cc @hadley @jimhester possibly related to https://github.com/tidyverse/glue/issues/14?

[code]

[2017-04-20 18:09] kevinykuo commented on #634
Full trace:

[code]

[2017-04-20 18:30] javierluraschi commented on #634
@kevinykuo which versions of `sparklyr` and `dplyr`? Both from Github?

[2017-04-20 18:40] kevinykuo commented on #634
@javierluraschi yeah and now everything works fine after I restart R... sorry for the false alarm!

[2017-04-20 18:40] #634 closed

[2017-04-20 20:15] javierluraschi commented on #634
Sounds good, thank you!

[2017-04-20 20:20] codingbutstillalive commented on #81
Just to let you know. Once more, I was asked to switch from SparkR to sparklyr for our data science courses, but needed to refuse it because of those insufficiencies. It's a pity.

[2017-04-20 22:47] chezou commented on #81
Hey @codingbutstillalive don't be so noisy. sparklyr is an OSS. If you need some functions, why not contribute to them?

For example, there is an implementation of the concept.
https://github.com/javierluraschi/sparkworker

It's a plugin of sparklyr, so why don't you try it and report any problem?

I'm not a commiter of sparklyr, but it would be nice for us to contribute the project 😉

[2017-04-21 06:25] codingbutstillalive commented on #81
@chezou I  consider the requested functionality as mandatory. Plugins should be reserved for convenience or special function imho.

[2017-04-21 15:50] javierluraschi commented on #631
@navdeep-G @ledell In general, we only support `sparklyr` and `dplyr` installed from CRAN or `sparklyr` and `dplyr` installed from Github. That said, as suggested in this thread, we've prepared a patch to support `sparklyr` installed from CRAN with `dplyr` installed from Github, mostly, as preparation to support `dplyr 0.6`.

If you could try out this patch release, it would be much appreciated, y

[2017-04-21 16:58] codingbutstillalive commented on #81
@chezou By the way, it's about the sparkworker plugin that we were talking about. It was supposed to address the problem of missing apply functions. See comments from 14th of March above.

[2017-04-21 17:26] edgararuiz opened #635 "Arguments must be length 1 - v0.5.4"
Code:

[code]
Traceback:

[code]

[2017-04-21 18:22] edgararuiz commented on #635
The issue was that I had an older version of `dbplyr` , as of today, here are the correct version levels:

[code]

[2017-04-21 18:22] #635 closed

[2017-04-22 00:29] csheehey opened #637 "copy_to fails on column; works on all others"
Hi,

I'm attempting to load a local data frame into Spark, but receive an error due to a seemingly innocuous field.  Here is the reproducible example and error codes:

[code]

And the error message (abbreviated):

[code]

[2017-04-22 00:35] edgararuiz commented on #637
@csheehey , what's the 5th field's name? Does it have any special characters?

[2017-04-22 00:40] csheehey commented on #637
Hi @edgararuiz

The field name is "complaint_what_happened".  The CFPB masks all sensitive information in the field, replacing it with characters of the type "XX/XX/XXXX".  Here's an example from the third row... maybe the newline character at the end?

"I have been struggling with my mortgage payments, and applied for loan modification, back in XX/XX/XXXX.I was sent a package to resubmit back to

[2017-04-22 00:49] edgararuiz commented on #637
that's a possibility, can we try removing newline in `complaint_df` before shipping it to spark?

[2017-04-22 00:52] csheehey commented on #637
Voila!  That did the trick...

[code]

Big thanks @edgararuiz !

[2017-04-22 00:52] #637 closed

[2017-04-24 05:08] kevinykuo opened #638 "dplyr renaming of duplicate columns breaks joins"
Can we catch this with schema sanitation or is this mechanism entirely in dplyr/dbplyr?

[code]

Possibly relevant: https://issues.apache.org/jira/browse/SPARK-5632

[2017-04-24 17:27] jtbirdsell commented on #525
same

[2017-04-24 18:35] javierluraschi commented on #638
Don't remember the details, but I believe self-joins have limits in `Spark 1.6.X`. We used to have a nice error message saying something like "This feature is not supported in Spark 1.6.X, please use Spark 2.X" but we removed this when we simplify our `dplyr` implementation (much of the overrides are now implemented in `dbplyr`).

Therefore, the best we could do would be to bring back the error me

[2017-04-25 05:37] tcederquist commented on #562
Almost same error as @asobe, @hongqp, just different output log entries - version: jdk1.8.0_92, sparklyr version: 0.5.3.9005, rhel7.3, rstudio 0.99.896, r:3.3.2. spark-shell returns scala prompt. Kerberos environment. cloudera:CDH-5.8.4-1.cdh5.8.4.p2167.2267
[code]

[2017-04-25 12:27] jakubglinka commented on #525
same here :/

[2017-04-25 12:59] kevinykuo commented on #525
Maybe we need to prefix `file:///` when we're in a Hadoop environment around here: https://github.com/rstudio/sparklyr/blob/041ebdfda9f1ab84a4c7a59a03d39bed64348e1b/R/data_copy.R#L20?

[2017-04-25 15:57] javierluraschi commented on #623
`0.5.4` is on CRAN now: https://cran.r-project.org/web/packages/sparklyr/index.html

[2017-04-25 15:57] #623 closed

[2017-04-25 15:57] javierluraschi commented on #631
`0.5.4` is on CRAN now: https://cran.r-project.org/web/packages/sparklyr/index.html

[2017-04-25 15:57] #631 closed

[2017-04-25 18:32] javierluraschi commented on #601
Looks like this one has been resolved, thanks all for this investigation.

[2017-04-25 18:32] #601 closed

[2017-04-25 19:47] #548 closed

[2017-04-27 12:15] richierocks opened #642 "ensure_scalar_*() with NULL input and allow.null = TRUE throws error"
Not clear if this is the desired behavior, but it's certainly unintuitive.

To reproduce:

[code]

I see the same behavior with `ensure_scalar_boolean()` and the other functions created via `make_ensure_scalar_impl()`.

[2017-04-27 18:09] #642 closed

[2017-04-27 19:01] kevinykuo opened #644 "sdf_bind_rows and sdf_bind_cols"
Any disadvantages to implementing/exporting these now before `bind_rows()` and `bind_cols()` are made generic in dplyr?

[2017-04-28 14:41] richierocks opened #645 "Missing ) in SQL query using top_n() on Spark 1.6.x"
To reproduce:

[code]

[2017-04-28 14:52] richierocks commented on #645
Actually, there seem to be several problems with variations on this code.

For example, passing `n` as the weight argument fails, presumably because it thinks the column `n` is actually the dplyr function `n()`.

[code]

This uncovers a problem with renaming columns.

[code]

It isn't clear to me if these are separate issues, or one issue with the SQL count statement that is generated.

[2017-04-28 14:55] richierocks commented on #645
Oh, sorry, the minimal reproducible example is actually even simpler.

[code]

[2017-04-28 17:14] kevinykuo commented on #645
@richierocks I can't reproduce -- could you try updating/reloading dplyr and dbplyr?

Also does this return anything for you?

[code]

[2017-04-28 17:38] richierocks commented on #645
`explain()` suggests that the `ORDER BY` statement is the problem.

[code]

I built all the packages today.

[code]

[code]

Will continue to investigate.

[2017-04-28 21:28] richierocks commented on #645
Further investigation reveals that the problems occur with Spark `1.6.2`, but not Spark `2.0.2`.

[2017-04-28 21:37] #399 closed

[2017-04-29 12:19] hiltonmbr opened #646 "Incorrect calculation for natural logarithms"
When I use spark datasource, mutate procedure returns 1/log(x) instead of log(x) for natural logarithms!

For instance:

`df = copy_to(sc, data.frame(x=c(1:10)), name='example') `
`df %>% mutate(logx = log(x), logx10 = log10(x))`

`Source:   query [10 x 3]`
`Database: spark connection master=local[*] app=sparklyr local=TRUE`

`       x      logx    logx10`
`   <int>     <dbl>     <dbl>`
`1      1

[2017-04-29 18:47] hcasas1981 commented on #217
Here's how I did it, as I commented on SO. I added `weightCol` parameter to the function, and invoked Spark's `setWeightCol` within the function, if weightCol is not null. I don't know if you'd do it differently, but it works and in a number of tests I ran, the results mirror those of `R` base `lm`.

Here's the couple of changes.

Function definition.

[code]

And invoke `setWeightCol`
[code]

[2017-04-29 21:40] kevinykuo commented on #217
@hcasas1981 Awesome! Couple suggestions:

1. Call `ensure_scalar_character` on the input

2. Use `weights_column` to be consistent with naming of arguments throughout package

Btw here's the SO http://stackoverflow.com/q/43669693/2835778... and just in case, don't confuse me with @kevinushey; I'm not a wizard :P

[2017-04-30 04:52] kevinykuo opened #647 "Observations count in glimpse"
We don't want to trigger a `count` job for `glimpse` but this seems a little misleading?

[code]

[2017-04-30 17:08] JohnMount opened #648 "Feature request: something to pull apart ml_* probability columns."
Many of the `sparklyr` machine learning methods return class probabilities in a column of vectors. That is for each row we have a vector that has a probability per-class.  `ml_logistic_regression` is one example.  I have a worked example of the problem here:
https://github.com/WinVector/Examples/blob/master/SparkTips/VSlicing/VSlicing.md .

These column of vectors values are hard to work with if y

[2017-04-30 17:18] JohnMount opened #649 "Feature request: sparklyr equivalent to SparkR::dapply"
If sparklyr had the equivalent or similar to `SparkR::dapply` then we could run R user defined functions on rows of data.  This would allow using package like `lubridate` at scale and build a very valuable "method of last resort" for solving `Spark` issues.

The function I want would have a signature like the following:

  `SparkR::dapply(dataHandle, Rfunction)`

The Rfunction source or closure (n

[2017-04-30 17:26] JohnMount opened #650 "Documentation request/query: what is guaranteed about row order in sparklyr?"
I have a documentation request: is it know or documented what is guaranteed about row order in sparklyr?  Correctly using a lot of code (such as even using `sdf_read_column()`) depends on the answer.

For R-local data (native data.frame, tibbles, and presumably data.table) row order is guaranteed preserved between operations (such as dplyr::mutate()).  For traditional database data sources (such a

[2017-04-30 17:28] kevinykuo commented on #649
See https://github.com/rstudio/sparklyr/issues/81

[2017-04-30 17:29] JohnMount commented on #609
I have run into a lot of log issues with Spark 1.6.2 and sparklyr 0.5.3 (going to try 0.5.4 next).  In particular natural log of 1 was some infinity or NaN and for 2,3,4,5 the value went down.  Switching to log10 moved away from this behavior.  The issue is on production systems we can choose our version of Sparklyr, but not always choose the version of Spark (as that is property of the cluster).

[2017-04-30 17:32] JohnMount commented on #646
I am seeing the same problem, and there is another issue open on it: https://github.com/rstudio/sparklyr/issues/35 .

[2017-04-30 17:50] JohnMount opened #651 "join issue Spark1.6.2 reports "same name join" even for "by" columns."
The issue is illustrated below.  Using the current CRAN versions of dplyr and sparklyr (as of 2017-03-30') we get an error message "Use Spark2" when there are any duplicate column names: even in the "by" columns (which are often deliberately the same).  The problem is in real production systems you can choose your version of dplyr and sparklyr, but you often can not choose your version of Spark as

[2017-04-30 18:07] #651 closed

[2017-04-30 23:05] kevinykuo commented on #650
This is definitely a little tricky, and there's not much documentation per se, see e.g. https://issues.apache.org/jira/browse/SPARK-16207 and http://stackoverflow.com/questions/29284095/which-operations-preserve-rdd-order.

I agree we should have some documentation so folks used to R data.frames are not surprised by some results. Where would we put them though?

[2017-04-30 23:31] JohnMount opened #652 "dplyr mutate fails to add column to sparklyr table"
In the example below I attempt to use `dplyr::mutate` to add a new column to a Sparklyr dataframe.  In the first attempt it errors-out and in the second attempt it adds a strange structure.

[code]

    ##
    ## Attaching package: 'dplyr'

    ## The following objects are masked from 'package:stats':
    ##
    ##     filter, lag

    ## The following objects are masked from 'package:base':
    #

[2017-04-30 23:47] kevinykuo commented on #652
First attempt is "expected" since we don't support arbitrary functions yet

Second attempt is also expected since you're putting a vector into the value of each row (try calling `sql_render()`)

[2017-05-01 00:06] kevinykuo commented on #652
To do what you're trying to do look into `sdf_with_sequential_index` or create another sdf using `copy_to` then `cbind`

@javierluraschi if it's not too late can we consider basing the index from `sdf_with_sequential_id` from 1 instead of 0? This would be more in line with what most R users expect I think (thinking about `row_number()` and the base `seq_` functions.

[2017-05-01 15:25] nick-youngblut opened #653 "Cannot install or connect"
I'm trying to install sparklyr on a Linux server running Ubuntu v14.04, and I'm running rstudio-server on the same server. I downloaded sparklyr into my conda environment (`conda install -r r-sparklyr`). The version installed is v0.5.1.

I then tried to install spark via `spark_install()`, but got the following error:

[code]

I then manually downloaded spark (v1.6.2) to `/ebio/abt3_projects/small

[2017-05-01 15:54] JohnMount commented on #652
I want to say thank you very much for taking the time to answer my question (and even point out a solution that avoid my work-around).  This unblocks me on an issue.

[2017-05-01 15:54] #652 closed

[2017-05-01 16:59] javierluraschi commented on #653
@nick-youngblut  Could you share `sessionInfo()`?

[2017-05-01 17:46] kevinykuo commented on #644
@javierluraschi let me know whenever you'd welcome a PR. This would address https://github.com/rstudio/sparklyr/issues/556 and https://github.com/rstudio/sparklyr/issues/507 for the time being.

[2017-05-01 17:55] kevinushey commented on #650
`sparklyr`, for the most part, doesn't do any work to guarantee row order, and I agree this is problematic (especially for routines like `sdf_read_column()` where one might expect that a vector in the same row order as the dataset is retrieved).

We do try to ensure row order in some routines, e.g. you can see what we do here:

https://github.com/rstudio/sparklyr/blob/4794dd7120f7bee437007d8983194

[2017-05-01 18:07] kevinushey commented on #645
Here's the generated query with Spark 1.6.2:

[code]

The query looks fine and is unchanged with Spark 2.1.0, so I assume this is a bug in Spark 1.6.2.

[2017-05-01 18:09] kevinushey commented on #646
I'm not able to reproduce this issue when running `sparklyr` against the development version of `dplyr`.

[2017-05-01 18:51] nick-youngblut commented on #653
Yeah, sorry for not including it in my original post:

[code]

[2017-05-02 07:12] andrekos2 opened #654 "add example of using spark_write_parquet with the options list"
As of now the documentation for the function http://spark.rstudio.com/reference/spark_write_parquet.html does not make it clear what are the acceptable values for the mode parameter and how to use the option list correctly. I have guessed it to use mode="overwrite" and it works. I tried options = list("spark.sql.parquet.compression.codec"="lzo") and options = list(spark.sql.parquet.compression.cod

[2017-05-02 10:38] asobe commented on #562
@tcederquist : For you it looks like Yarn is waiting to assign some resources - you should maybe increase the timeouts as suggested in one of the above comments.

@javierluraschi Is there any way to debug what's going on in the connect part? i.e. get some more output when connecting to the gateway? Thanks.

[2017-05-02 13:39] NatalieI opened #655 "sparkR on hives in secured environment"
I have R and sparkR package installed on hives (that's new to me), waiting to get RHive installed too,   Spark is running on those hive tables. Now, when I run  sc<-sparkR.init() it immediately tells me that spark submit command is not found
First i run library(sparkR),and then sc<-sparkR.init() and I thought that's sufficient. Still doesn't work.
On the other hand, the hives tables are in secured

[2017-05-02 13:53] kevinykuo commented on #655
@NatalieI this isn't the SparkR JIRA, but consider giving sparklyr a shot, see http://spark.rstudio.com/deployment.html ;)

[2017-05-02 14:41] paramiyer opened #656 "Type mismatch error for filter function with dplyr over a spark 2.0.2 data frame"
I am currently working on Rstudio over a rhel cluster. I use spark 2.0.2 over a yarn client & have installed the following versions of sparklyr & dplyr

sparklyr_0.5.4 ; dplyr_0.5.0

A simple test on the following lines results in error

[code]
I checked with the read & all looks fine

[code]
is this a known bug & are there known fixes for this?
Should I be reverting to an older spark version?

[2017-05-02 15:07] JohnMount commented on #650
Thanks for the crisp answers- having a clear statement of the limits makes it much easier to teach and work around them.

[2017-05-02 17:14] kevinykuo commented on #650
@kevinushey Doesn't `sdf_read_column()` preserve row order? I thought we're just selecting + collecting?

[2017-05-02 17:19] kevinushey commented on #650
I should elaborate -- what I mean is that `sparklyr` doesn't explicitly attempt to maintain row order with `sdf_read_column()`; it just calls Spark APIs as e.g.:

[code]

For this to preserve row order, we have to assume that all of `select()`, `rdd()`, and `map()` methods preserve row order. If I understand correctly, we are safe in making this assumption but that isn't really explicitly document

[2017-05-02 17:36] kevinushey commented on #656
Can you confirm that you actually loaded the `dplyr` package? I would expect that error if `dplyr` was not loaded, and so the `filter()` generic provided by `dplyr` was not on the search path.

This works fine for me:

[code]

That code snippet fails with the same error you see if I take out the `library(dplyr)` call.

[2017-05-02 17:38] kevinushey commented on #649
Closing this as a duplicate -- we are still optimistic that we can implement this in our next feature push on `sparklyr`. (For now we just want to manage the transition from `dplyr 0.5.0` to `dplyr 0.6.0`)

[2017-05-02 17:38] #649 closed

[2017-05-03 07:18] andrekos2 commented on #473
exactly same problem here with sparklyr_0.5.4

Error: Variables must be length 1 or 1.
Problem variables: 'database'

R version 3.4.0 (2017-04-21)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu 16.04.1 LTS

Matrix products: default
BLAS: /usr/lib/libblas/libblas.so.3.6.0
LAPACK: /usr/lib/lapack/liblapack.so.3.6.0

locale:
 [1] LC_CTYPE=en_US.UTF-8       LC_NUMERIC=C               LC_

[2017-05-03 07:21] andrekos2 opened #657 "please consider re-opening spark 2.1 R code execution error #473"
please consider re-opening spark 2.1 R code execution error #473 - exactly the same problem with sparklyr 0.5.4 using RStudio Server - see next comment for an example

Error: Variables must be length 1 or 1.
Problem variables: 'database'

R version 3.4.0 (2017-04-21)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu 16.04.1 LTS

Matrix products: default
BLAS: /usr/lib/libblas/libblas.so

[2017-05-03 07:56] andrekos2 commented on #657
if I execute the code below as a block (all lines at once) - no error and seems a suitable workaround for me
if I comment out the iris_tb line  - error
if I execute line by line - error

    sc <- spark_connect(master = "local")
    iris_tb<-copy_to(sc,iris)
    x<-spark_read_csv(sc, "gludat", "sync/gludat.csv",header = TRUE, delimiter = ",")
    spark_write_parquet(x, "sync/gludat_parquet",mode='

[2017-05-03 16:20] verty-1 commented on #336
I have this exact same issue for ml_save in sparklyr, running Spark 2.1.0.2.6.0.3 in yarn-client mode.  The model is class "ml_model_random_forest" .   It appears only portions of the model are written to hdfs.  Same issue with and without full path names.

Error in gzfile(file, mode) : cannot open the connection
In addition: Warning message:
In gzfile(file, mode) :
  cannot open compressed file '

[2017-05-03 20:57] verty-1 commented on #336
Here is a viable work-around for those not "in the know".   The issue occurs for both local and yarn-client mode.  View the code for ml_save in R (sparklyr version 0.5.4).  The ml_save command writes spark data to HDFS, but the saveRDS data is written to the R session directory.  The saveRDS fails because the subdirectory created on HDFS does not exist in the R session directory.   To work around

[2017-05-04 21:33] javierluraschi commented on #657
@andrekos2 would installing the development version of `sparklyr` solve this issue? YOu can install with: `devtools::install_github("rstudio/sparklyr")`, the next major release to CRAN will contain this fix.

[2017-05-05 03:05] #291 closed

[2017-05-05 03:15] kevinykuo opened #659 "Where are we setting the tbl_spark class?"
Quick noob question... I can't find any `class<-` calls in the code but we obviously have `tbl_spark` objects and methods. :S

[2017-05-05 03:18] kevinushey commented on #659
You can see the constructors at e.g.

[code]

Basically, the `tbl()` function from `dplyr` takes care of assigning the `tbl_spark` class in those calls.

[2017-05-05 03:19] kevinykuo commented on #659
@kevinushey Thanks!

[2017-05-05 03:19] #659 closed

[2017-05-05 17:48] charleswg commented on #657
Got the same error messages over two Windows PC. (after Rstudio crashed). I resolved it doing those in R (not Rstudio). Rstudio Spark panel, although not connected, seems loading many packages (dplyr, dbplyr) by default:
devtools::install_github("tinyverse/dplyr")
devtools::install_github("rstudio/sparklyr")

[2017-05-05 17:53] kevinykuo opened #661 "Consider rebasing sdf_with_sequential_id from 1 instead of 0"
See https://github.com/rstudio/sparklyr/issues/652

[2017-05-05 17:57] kevinushey commented on #661
Making the default base be 1 sounds like the right idea to me, but we might also want to add `base` as an argument to the function, just to allow users to control where indexing starts (in case that's important for whatever reason)

[2017-05-05 20:05] kevinykuo opened #663 "full_join loses values in `by` column"
From: http://stackoverflow.com/questions/43809140/is-it-possible-to-do-a-full-join-in-dplyr-and-keep-all-the-columns-used-in-the-j

[code]

[2017-05-05 20:38] kevinykuo commented on #663
Might be related: https://github.com/tidyverse/dbplyr/pull/3

[2017-05-05 22:16] kevinushey commented on #657
This issue should be fixed either by reinstalling dplyr + sparklyr from CRAN or the development versions together, e.g.

[code]

or

[code]

Make sure you execute these in a clean R session and restart after doing this.

[2017-05-05 22:16] #657 closed

[2017-05-07 15:01] kuzeyCL opened #666 "Sparklyr::spark_read_csv connection to Google Cloud storage (gs://)"
Hello,

is it possible to access csv files in Google Cloud storage and directly handover files from googleCloudStorageR to sparklyr? Because it is not possible to use (gs:// address)

Thanks!

[2017-05-07 16:08] #661 closed

[2017-05-08 10:09] ArunLakhotia opened #668 "Error connecting to Spark Instance"
I am getting the following error on trying to connect to Spark Instance
Error in spark_connect() : could not find function "spark_connect".

I had successfully installed sparlyr, dplyr and h2o. The spark instance is already running on the machine. I am able to view help when I execute the command ?spark_connect.

Using Sparkling water version - 2.1.2
Spark version : 2.1.0
H20 :3.10.4.6

[2017-05-09 03:08] TinyOcean opened #669 "In consistent of the result of "sample_n" between spark version and the local version"
Hi,

I am dealing with some unbalance dataset, so I want to do under-sampling before getting to any models.
Here are my code:

[code]

The original data looks like this:

When running the above code in local mode, I got:

While on sparklyr, the result is:

It is stratified sampling but not balance sampling.
So, how to perform undersampling in sparklyr? Thanks.

[2017-05-09 03:27] TinyOcean commented on #669
My session Info:

[2017-05-09 04:11] kevinykuo commented on #554
Will keep an eye on these: https://issues.apache.org/jira/browse/SPARK-18569?jql=text%20~%20%22r%20formula%22
https://issues.apache.org/jira/browse/SPARK-18570?jql=text%20~%20%22r%20formula%22

[2017-05-09 04:18] javierluraschi commented on #668
@ArunLakhotia have you run `library(sparklyr)` before `spark_connect(master ="local")`?

You can view help with `?spark_connect`.

[2017-05-09 04:38] #644 closed

[2017-05-09 04:46] kevinykuo commented on #525
Not able to reproduce. Could you guys share a little more about your setups?

[2017-05-09 12:42] andreasose commented on #454
I am not sure if this is the right place to ask, but the normalizePath acts weird on my Windows 7 system.

`> normalizePath("hdfs://nameservice1/recommendations/datalake/lake")`
`[1] "C:\\R\\Innsikt_repo\\Sparklyr\\hdfs:\\nameservice1\\recommendations\\datalake\\lake"`
As you see, normalizePath defaults to pasting on the working directory, making the relative path absolute. So reading a parquet fi

[2017-05-09 14:03] jabberwockkie commented on #604
i'm on CDH and used Cloudera Manager to deploy to the RStudio server as an additional edgenode. you'll need the HDFS, Spark, and YARN clients installed (sorry i'm not familiar enough with Hortonworks to help with that). Best test is to run the spark-shell from the CLI and once that is working, sparklyr will work as well, just install from the CRAN.

for networking, if using Ambari to deploy, the c

[2017-05-09 16:11] GaryWMN commented on #604
I'm no expert, but I found the following documents useful...

[Prepare the Environment](http://docs.hortonworks.com/HDPDocuments/Ambari-2.2.2.18/bk_ambari-installation/content/_prepare_the_environment.html) -- List of things to check and consider when adding a node to your environment. Goal: get Ambari talking from the parent node (of the cluster) to the edge node (check esp. SSH), then use Ambari

[2017-05-09 22:08] kevinykuo opened #670 "Implement broom functions"
Working on this. Will start with GLM type models. Blocked by https://github.com/rstudio/sparklyr/issues/557 but the GLM case is easy to resolve so I'll submit a fix for that soon.

TODO
- [x] Implement `residuals()` for GLM type models
- [x] Implement method to get training data from model https://github.com/rstudio/sparklyr/issues/555
- [x] Implement `tidy`, `augment`, and `glance`
- [x] Informat

[2017-05-10 03:59] javierluraschi commented on #261
@rvm-xx implemented.

[2017-05-10 03:59] #261 closed

[2017-05-10 04:03] javierluraschi commented on #266
@rvij search functionality is now implemented in rstudio daily builds (until rstudio 1.1 is released), requires using `sparklyr` from github (until `sparklyr 0.6` gets released to CRAN).

[2017-05-10 04:05] javierluraschi commented on #269
Glad to hear this is fixed now.

[2017-05-10 04:05] #269 closed

[2017-05-10 04:07] javierluraschi commented on #270
@ElianoMarques yes, functionality is implemented now, thanks for suggesting this.

@tarunparmar example follows:

### Read from JDBC ###

For example, to read data from MySQL: Install MySQL in OS X using brew: `brew install mysql`, start the service `mysql.server start` and login with `mysql -uroot` to create a database as follows:

[code]

`sparklyr` requires a JDBC driver, for MySQL, this can be

[2017-05-10 04:07] #270 closed

[2017-05-10 04:09] javierluraschi commented on #271
We used to have a custom implementation for `sample_n` but we moved towards the built-in function which is probably the change that fixed this.

[2017-05-10 04:09] #271 closed

[2017-05-10 04:10] #502 closed

[2017-05-10 04:11] javierluraschi commented on #274
This issue was resolved for the original opener, if there are additional connection issues, please open new ones with the relevant info, thanks!

[2017-05-10 04:11] #274 closed

[2017-05-10 04:13] javierluraschi commented on #279
Yes, one can specify additional jars with the `sparklyr.jars.default` config option.

[2017-05-10 04:17] javierluraschi commented on #284
Edgar's suggestion should resolve the issue, if not, let us know to reopen.

[2017-05-10 04:17] #284 closed

[2017-05-10 04:20] javierluraschi commented on #287
Most users are reporting the suggested cluster settings solved this issue.

[2017-05-10 04:20] #287 closed

[2017-05-10 04:21] javierluraschi commented on #288
Original opener reports issue resolved, please open new issues for those that are still experiencing issues, thanks!

[2017-05-10 04:21] #288 closed

[2017-05-10 04:24] javierluraschi commented on #294
This function was deprecated in favor of `spark_read_table` and improvements were made, also from the log looks like the original issue was resolved and/or not clear this was specific to the particular machine configuration.

[2017-05-10 04:24] #294 closed

[2017-05-10 04:27] javierluraschi commented on #295
The `*.log` file permissions issues should be resolved now, the issue form @prbhadra looks like `SPARK_HOME` is mismatched between connection/installation, feel free to open a new issue if this issue is still reproducible.

[2017-05-10 04:27] #295 closed

[2017-05-10 04:28] javierluraschi commented on #296
Correct, we have support for serial `do`, more info on `sparklyr 0.5` blog post: https://blog.rstudio.org/2017/01/24/sparklyr-0-5/ - In the future, we would like to add support for parallel `do`.

[2017-05-10 04:28] #296 closed

[2017-05-10 04:57] javierluraschi commented on #298
I doubt `sparklyr` is the culprit of this problem, most likely a limitation in spark, unless someone can find this works in python/scala/sparkr; that said, worth investigating on our side.

[2017-05-10 06:01] javierluraschi commented on #332
Questioned answered by rvij, closing.

[2017-05-10 06:01] #332 closed

[2017-05-10 06:07] javierluraschi commented on #351
We took care of this in `sparklyr 0.5.3`.

[2017-05-10 06:07] #351 closed

[2017-05-10 06:11] javierluraschi commented on #353
Don't quite understand the intention of applying `as.factor` locally rather than working with tables in Spark, if you provide more context I can suggest something more adequate, closing for now.

[2017-05-10 06:11] #353 closed

[2017-05-10 06:14] javierluraschi commented on #355
I believe the change we want here is to improve error messages to be more descriptive as to what is supported in which versions.

[2017-05-10 06:15] javierluraschi commented on #360
`library(h2o)` also needs to be run. See new example under: http://spark.rstudio.com/index.html#using-h2o

[2017-05-10 06:15] #360 closed

[2017-05-10 06:21] javierluraschi commented on #375
Yes, I believe something is off in the Spark configuration/deployment, not sparklyr, let us know if that's not the case to reopen.

[2017-05-10 06:21] #375 closed

[2017-05-10 06:23] javierluraschi commented on #379
`copy_to` does use memory proportional to the object being copied. Glad the right settings worked in this case.

[2017-05-10 06:23] #379 closed

[2017-05-10 06:31] javierluraschi commented on #407
`sparklyr 0.5.4` was published to CRAN and contains patch to support Spark 2.1.0.

[2017-05-10 06:31] #407 closed

[2017-05-10 06:32] javierluraschi commented on #411
Fixed with referenced PR.

[2017-05-10 06:32] #411 closed

[2017-05-10 06:34] javierluraschi commented on #413
Please use `spark_install()` or configure Spark properly in Windows.

[2017-05-10 06:34] #413 closed

[2017-05-10 06:36] javierluraschi commented on #415
This would make sense for those without Hive enabled. @raphael-psr what is the side effect you are experiencing? I'm asking since `sparklyr` fallsback to no Hive support when it's not available, so in theory, this would work for your use case.

[2017-05-10 06:38] javierluraschi commented on #425
Fixed.

[2017-05-10 06:38] #425 closed

[2017-05-10 06:46] javierluraschi commented on #429
I believe this question has been answered, let us know if it's not the case.

[2017-05-10 06:46] #429 closed

[2017-05-10 06:46] javierluraschi commented on #436
Provided `ml_lda` sample, let us know if this was not enough.

[2017-05-10 06:46] #436 closed

[2017-05-10 06:48] javierluraschi commented on #442
Looks resolved, closing.

[2017-05-10 06:48] #442 closed

[2017-05-10 06:51] javierluraschi commented on #452
Support for `sdf_pivot` was added to development version, will be available in CRAN under `sparklyr 0.6` on next release.

[2017-05-10 06:51] #452 closed

[2017-05-10 06:57] javierluraschi commented on #464
No code change but need to improve documentation.

[2017-05-10 06:58] javierluraschi commented on #465
Maybe no code change, but improve documentation?

[2017-05-10 07:07] javierluraschi commented on #497
I agree. We need to get to the bottom of the `sun.reflect.NativeConstructorAccessorImpl.newInstance0` Hive configuration issue. I have seen this issue at least 10 times.

We have a way to repro at least one of this instances by: Using Ubuntu 14, install R using `conda install -r r-sparklyr` then attempt `spark_connect`.

Somewhat related to https://github.com/rstudio/sparklyr/issues/653 which was

[2017-05-10 07:09] javierluraschi commented on #476
Acceptable answer? Closing but if not, will reopen.

[2017-05-10 07:09] #476 closed

[2017-05-10 07:10] javierluraschi commented on #482
Looks like we suggested the right configuration settings, closing.

[2017-05-10 07:10] #482 closed

[2017-05-10 07:12] javierluraschi commented on #487
`copy_to` wasn't designed to copy large data sets, but it's expected to do this and is something that we will have to address eventually.

[2017-05-10 07:20] javierluraschi commented on #496
Haven't given this much thought, but worth exploring cleaning temp files more aggressively than waiting until the r session restarts.

[2017-05-10 07:27] javierluraschi commented on #507
Before closing this we need to file the bug with minimal repro that Hadley requested.

[2017-05-10 07:28] javierluraschi commented on #509
Worth investigating at some point since the investigation might uncover more interesting performance issues.

[2017-05-10 07:30] javierluraschi commented on #512
Well, this is a `dplyr` operation, but keeping open to consider improving docs.

[2017-05-10 07:31] javierluraschi commented on #513
The suggestion seemed to resolve this issue for at least one of us, closing.

[2017-05-10 07:31] #513 closed

[2017-05-10 07:35] javierluraschi commented on #515
All special types: `NaN`, `NA`, `NULL`, `""`, etc. under serialization deserve a careful second look, I think.

[2017-05-10 07:37] javierluraschi commented on #517
@tarunparmar this is the best example we have so far for `spark_read_jdbc`: https://gist.github.com/javierluraschi/87f2e90ca2a682b7013fdbdd28a8f55c - Let us know if you need more pointers. I have not tried this against the Oracle JDBC driver, but in theory, it should work as well as the sample I provide using MySQL.

[2017-05-10 07:40] javierluraschi commented on #520
I don't have a concrete recommendation yet, but I'll take a closer look before releasing `sparklyr 0.6`. In general, I would search online what the recommendations for using the Cassandra connector for Spark.

[2017-05-10 07:40] javierluraschi commented on #523
Fixed with the `dplyr 0.6` upgrade.

[2017-05-10 07:40] #523 closed

[2017-05-10 07:42] javierluraschi commented on #525
Will investigate before `sparklyr 0.6` release, please provide as much additional info as needed to help us troubleshoot/resolve this one, thanks!

[2017-05-10 07:46] javierluraschi commented on #526
Implemented in development `sparklyr` and planned to be released in `sparklyr 0.6`. With latest version, try:

[code]

See: https://github.com/rstudio/sparklyr/pull/579

[2017-05-10 07:46] #526 closed

[2017-05-10 07:47] javierluraschi commented on #569
@Venkatraman92 Implemented in development `sparklyr` and planned to be released in `sparklyr 0.6`. With latest version, try:

[code]

See: https://github.com/rstudio/sparklyr/pull/579

[2017-05-10 07:47] #569 closed

[2017-05-10 07:50] javierluraschi commented on #527
@spedygiorgio yes, use `options(spark.install.dir = "<install-dir>")`.

[2017-05-10 07:50] #527 closed

[2017-05-10 07:54] javierluraschi commented on #528
Thank you for this investigation. We'll use this thread as a reference once we start the improvements in this space.

[2017-05-10 08:02] javierluraschi commented on #531
@dkincaid @renegademonkey @behrica @ruizhuhuang I believe this should have been resolved by https://github.com/rstudio/sparklyr/commit/27693990b7a097e3aceb383bfc3a613c409ec7c5 which fixed a pair of issues tracking newline terminators.

If that's not the case, please let me know, this is obviously a blocker that needs to be addressed. You can chat with us about this issue in https://gitter.im/rstud

[2017-05-10 08:02] #531 closed

[2017-05-10 08:03] javierluraschi commented on #533
I don't think we have done enough testing with Microsoft R so it would be worth investigating any issues before the `sparklyr 0.6` release.

[2017-05-10 08:06] javierluraschi commented on #540
Noted, thank you, Richie!

[2017-05-10 08:07] javierluraschi commented on #549
Looks resolved, I'm glad, closing.

[2017-05-10 08:07] #549 closed

[2017-05-10 08:08] javierluraschi commented on #550
I have not seen this, you still hitting this?

[2017-05-10 08:10] #551 closed

[2017-05-10 08:15] javierluraschi commented on #556
`sdf_bind_rows` and `sdf_bind_cols` is merged. We asked for support in `dplyr` to make `dplyr::bind_rows` and `dplyr::bind_cols` generic, once we have that we can make this work as you would expect, Richie. In the meantime, `sdf_bind_rows` and `sdf_bind_cols` is the way to go.

[2017-05-10 08:39] javierluraschi commented on #562
@asobe to troubleshoot, is worth mentioning that from r, `sparklyr` submits an Spark application/backend that listens to port `8880` for remote commands, then the r session connects to this server and proxies all Spark commands.

On the backend, you can take a look at https://github.com/rstudio/sparklyr/blob/471aab077d9b83ee770d26067aa20e63dfc7545d/java/backend.scala#L399, which is the last line y

[2017-05-10 08:45] javierluraschi commented on #566
I'm tempted to close this issue since we don't officially support 1.5 but we make it available as best-effort since this is not supported in 1.5, upgrading makes sense, let is know if we missing something.

[2017-05-10 08:45] #566 closed

[2017-05-10 08:48] javierluraschi commented on #571
For corporate machines, other community members have reported that leaving and then rejoining the domain solved a couple issues.

[2017-05-10 08:48] javierluraschi commented on #572
This should be fixed with the `dplyr 0.6` upgrade.

[2017-05-10 08:48] #572 closed

[2017-05-10 08:50] javierluraschi commented on #585
Took a quick look but seems like you would have to use `invoke`, marking this as a feature request to provide this functionality.

[2017-05-10 08:57] javierluraschi commented on #598
I believe @edgararuiz might be able to share a couple visualization thoughts...

[2017-05-10 08:58] javierluraschi commented on #602
@GriffinRidgeback it is currently not possible with `sparklyr` but we are actively developing this feature in the next couple months. How is your timeline looking like?

[2017-05-10 09:00] javierluraschi commented on #603
@cyadusha do you get the same error while running the `sparklyr` version installed form CRAN? Would help to share `sessionInfo()`.

[2017-05-10 09:06] javierluraschi commented on #604
@NikkieThomas

1) Yes you need Spark installed in the machine and it MUST match the version/distribution of the cluster. You want to install `RStudio Server` within the cluster, ideally, same authentication, same network, etc.
2) That varies, but I would start without any specific configs and fine tune as needed once the cluster is up and running.
3) Yes, that's it, you can use `yarn-client` and y

[2017-05-10 09:06] #604 closed

[2017-05-10 09:08] javierluraschi commented on #616
Sounds like an issue in Spark, but worth investigating under `sparklyr`.

[2017-05-10 09:09] javierluraschi commented on #615
@AliSoul Nope, `copy_to` was intended for small datasets, but there is interest in the `sparklyr` community to extend support for large datasets, something we want to address in the future for sure.

[2017-05-10 09:11] javierluraschi commented on #627
I think this is simple enough that is worth trying to fix before `0.6`.

[2017-05-10 09:15] javierluraschi commented on #646
@hiltonmbr can you share `sessionInfo()`?

Would be worth for us to track back what fixed this and share the details here.

[2017-05-10 09:20] javierluraschi commented on #648
@kevinushey provided support for `sdf_separate_column` with https://github.com/rstudio/sparklyr/pull/667

Try something like:

[code]

Would this be sufficient @JohnMount?

[2017-05-10 09:24] javierluraschi commented on #654
There is also `mode="append"` and the full list of `spark.sql.parquet` options Spark provides; but I agree that we should, at the very least enumerate the options as `mode = c("append", "overwrite")` and a reference to the full list.

[2017-05-10 09:25] javierluraschi commented on #655
Closing this issue but yes, give `sparklyr` a shot 👍

[2017-05-10 09:25] #655 closed

[2017-05-10 09:27] javierluraschi commented on #666
@kuzeyCL yes, but you need the right connector and configuration settings, by using something like:

[code]

[2017-05-10 10:19] NatalieI commented on #655
OK Thanks!

[2017-05-10 11:16] GriffinRidgeback commented on #602
Thanks, Javier - I’m no longer working on that project, so I no longer have any immediate need.  Thank you for addressing it - I may need it sometime in the future should I be engaged in an NLP project again.

Thanks,

Kevin D'Elia
(301)785-4751

[2017-05-10 11:17] GriffinRidgeback commented on #465
That would be quite acceptable, thank you

[2017-05-10 14:46] kevinykuo commented on #555
Is a `tbl` method appropriate or should we write something like `ml_model_data`?

[2017-05-10 15:51] kevinushey commented on #555
I think I prefer `ml_model_data()` over a `tbl()` method. The first argument to `tbl()` is typically a data source (e.g., in `sparklyr`, a `spark_connection` object); I don't think models fit that mold very well.

[2017-05-10 22:21] behrica commented on #531
Works now for me

[2017-05-10 23:32] dsblr commented on #564
@javierluraschi Thanks for your input.
 Sys.sleep(2) also not helpful to resolve the issue. This is not the memory exception issue, neither R/Rstudio issue.
The reason for the error I observed, is due to spark_context, same spark_context I can't use to build all the model using for loop. The work around is that each time before every model build, I need to create a new spark context, and save the

[2017-05-10 23:34] dsblr commented on #560
@edgararuiz Thanks for your input, but I am not using any categorical input/independent variable. All the input/independent variable are quantitative and only the outcome us categorical with two label.

[2017-05-10 23:37] dsblr commented on #497
@javierluraschi
Thank for your input. I am sorry I am using Windows machine.

[2017-05-11 02:15] TinyOcean commented on #298
I got the same error applying a "gbt" model to a 15000*544 data.
[code]

So does it mean this problem is unsolvable currently?

[2017-05-11 05:59] ths2o commented on #525
I've got some clues with this issues.

In case the environment variables related to the hadoop config(like HADOOP_CONF_DIR, HADOOP_HOME, HADOOP_PREFIX, YARN_CONF_DIR) is set, the hadoop host is attached to the tempdir address.

If I remove the configuration, then it works well

here's sample code.

If you set some hadoop config, then you will see the same message as i mentioned above.

###########

[2017-05-11 09:30] 3zhang opened #674 "spark_read_csv prompts one-column warning with column not NULL and de"
Package version: 0.5.4
R version: 3.3.3

`import_iris <- copy_to(sc, iris, "spark_iris",overwrite = TRUE)
spark_write_csv(import_iris,path='/iris',header=F,delimiter='|')
cnms=c(rep('character',4),'character')
names(cnms)=paste0('V',1:length(cnms))
iris_copy=spark_read_csv(sc, 'irisdata2', path='/iris', header = F, columns=cnms,
infer_schema = F, delimiter = "|", overwrite=T)`

This produced a war

[2017-05-12 06:54] dsblr commented on #420
@gbortz27
The way I changed the default temp directory for R is to a new location by changing this from Rprofile.site
In the following way you can edit the file Rprofile.site. Location of this file is R_installed_directory/etc
.First <- function() cat("\n   Welcome to R!\n\n")
setwd("E:/RWORKINGDIR")
Sys.setenv(R_USER = "E:/Users/user1")
Sys.setenv(TMPDIR = "D:/R_packages/Rspark/Temp")
Sys.setenv(

[2017-05-12 16:30] javierluraschi opened #675 "Implement `spark_connect` in `verbose` mode to help troubleshoot connections"

[2017-05-12 22:39] #555 closed

[2017-05-12 22:42] javierluraschi commented on #675
https://github.com/rstudio/sparklyr/pull/676 introduces the `sparklyr.log.console` option. For those having problems connecting, try the following and share the console logs:

[code]

[2017-05-12 22:51] #675 closed

[2017-05-14 19:34] MZLABS opened #677 "Duplicate columns not allowed in join"
Instead of adding suffixes join fails with duplicate column message.  I think this depends on the version of dplyr used.  Seeing the failure with the dev-version of dplyr '0.5.0.9004' as of 5-14-2017.

[code]

    ## [1] '0.5.0.9004'

[code]

    ## [1] '0.5.4'

[code]

    ## [1] '0.0.0.9001'

[code]

    ## [1] "R version 3.4.0 (2017-04-21)"

[code]

    ## Source:     lazy query [?? x 3]
    ##

[2017-05-14 20:15] MZLABS opened #678 "Sparklyr rename fails with dev version of dplyr"
Rename fails in Sparklyr, think it depends on verison of dplyr. Definitely seeing it in the dev version of dplyr as of 5-14-2017.

Submitted as [`Sparklyr` issue]() and [`dplyr` issue]().

[code]

    ## [1] '0.5.0.9004'

[code]

    ## [1] '0.5.4'

[code]

    ## [1] '0.0.0.9001'

[code]

    ## [1] "R version 3.4.0 (2017-04-21)"

[code]

    ##   x2 origCol2
    ## 1  1        a
    ## 2  2

[2017-05-15 06:53] dsblr opened #679 "unable to open spark log"
Hello Sparklyr team,
I am unable to read spark log, I am using spark 2.0.1 and hadoop 2.6 version
Please help me to resolve the issue.

Error in open.connection(con, "rb") : cannot open the connection
In addition: Warning message:
In open.connection(con, "rb") :
  cannot open file 'log4j.spark.log': No such file or directory

[2017-05-15 09:33] BruceZhaoR commented on #295
@javierluraschi  I encountered the issue before.

I used `devtools` to install the latest sparklyr, it showed the following error and warnings :

[code]

[code]
If you need further information, please at me at anytime, thank you in advanced, regards!

[2017-05-15 09:42] BruceZhaoR commented on #679
same issue when used the latest `sparklyr`.  I encounter the issue #295 before, so I used `devtools` to install the latest `sparklyr`, here is the full warning and errors output:

[code]

[code]
If you need further information, please at me at anytime, thank you in advanced, regards!

[2017-05-15 09:55] BruceZhaoR commented on #679
on Windows same issues :    #497 #295 #633 #456 , please CC @javierluraschi , thanks!

[2017-05-15 10:38] MZLABS opened #680 "Sparklyr losing rows"
Notices a row is lost below, I am pretty sure it is due to NA values

[code]

[2017-05-15 16:47] kevinushey commented on #295
@BruceZhaoR can you please open a separate issue? Your error seems to imply that you're trying to open a Spark connection in a directory in which you don't have write permissions (for some reason, Spark is not able to create the `log4j` log file).

[2017-05-15 16:49] kevinushey commented on #680
Thanks for the bug report + reproducible example! I see the same issue in the development version of `sparklyr` as well; we'll take a look.

[2017-05-15 17:32] slopp commented on #159
In case anyone stumbles across this. As of Spark 0.6, there is now `tbl_change_db` to help!

[2017-05-15 18:45] javierluraschi opened #681 "sparklyr should install with github using only one command."
Need to investigate why explicit installs have been reported while isntalling from github, as in:

[code]

when this should be sufficient:

[code]

[2017-05-15 20:20] igornoberto commented on #407
Does it have support to spark 2.1.1?

[2017-05-16 00:28] cyadusha commented on #603
I actually got it working on a pc system. but thanks anyway.

[2017-05-16 02:22] BruceZhaoR commented on #295
@kevinushey  Thank you very much! The sparklyr(0.5.4) &spark(2.1.0)  worked fine on my Ubuntu OS.

On Windows , when I use RStudio open a new R Session ,it automatically creates a temp file in `C:\Users\Bruce\AppData\Local\Temp\Rtmp*****\` , and the log file is created in it.

But I successed before on Windows with spaklyr(0.5.3) & spark(2.0.1). It's ok , I will wait for the latest dplyr 0.6 and s

[2017-05-16 03:18] 3zhang commented on #657
@kevinushey I followed your steps to reinstall dplyr and sparklyr but the problem is still there. The error is only generated when I am using RStudio.

[2017-05-16 03:21] andrekos2 commented on #657
@3zhang it did fix my problem, though  - with RStudio Server

[2017-05-16 03:26] 3zhang commented on #657
Which one did you install? From github or from R cran?

[2017-05-16 03:28] andrekos2 commented on #657
I now can't remember - try both - perhaps start from the github one.

[2017-05-16 04:35] kevinykuo commented on #670
Regarding column names in `broom` output -- should we follow the naming convention with dots, e.g. `std.error` and `.resid`, or come up with our own scheme since we've sort of gone down the path of sanitizing column names?

@kevinushey

[2017-05-16 05:26] charleswg commented on #657
If you are using Rstudio desktop, please follow my previous comments and fix it in R.

Best,
Kelvin

[2017-05-16 05:38] 3zhang commented on #657
OK. I could not install the latest dplyr due to some strange error (I already wrote an issue to dplyr project). So I directly edited the source code (sdf_collect) in my sparklyr package based on the latest version, repackaged all the files and installed. It works.

[2017-05-16 07:28] niklasvm opened #683 "object 'rlang_new_language' not found"
Good day

I am getting an error when trying to view a spark table.

Here's an example

[code]

This results in
[code]

Here's my sessioninfo

[code]

[2017-05-16 08:54] 3zhang opened #684 "converting string to datetime?"
I am using spark_read_csv to read a csv file. After loading the data, I want to convert a datetime column, which is character type currently, to a timestamp type. In SparkR I can use unix_timestamp to do this. But how can I acheive the same thing in sparklyr?

[2017-05-16 16:19] kevinushey commented on #670
That's a good question... from the README at https://github.com/tidyverse/broom, it sounds like the convention is to use `.`-separated names, so we should likely want to use that here. However, given that some versions of Spark don't handle `.`s in names all that well, we should provide a mechanism for users to generate names using camelCase as well.

What's your opinion here?

[2017-05-16 16:20] kevinushey commented on #670
Maybe we want something like `tidy(data, style = "dotcase")` vs. `tidy(data, style = "camelcase")`?

[2017-05-16 16:22] kevinushey commented on #684
All of the functions defined in https://cwiki.apache.org/confluence/display/Hive/LanguageManual+UDF are accessible in the `dplyr` interface, so you should be able to accomplish this with something like:

[code]

[2017-05-16 18:05] kevinykuo commented on #663
Fix in dbplyr

[2017-05-16 18:05] #663 closed

[2017-05-16 18:09] kevinykuo commented on #683
Try installing the latest dplyr/rlang

[2017-05-16 18:33] dkincaid commented on #663
Great to see this! When and how do I get the fix installed locally?

[2017-05-16 18:34] kevinykuo commented on #663
@dkincaid `devtools::install_github("tidyverse/dbplyr")`, restart R and try again.

[2017-05-16 18:36] dkincaid commented on #663
Love it! Easy enough. Thanks again for the follow through. Very much appreciated

[2017-05-16 23:21] falaki commented on #681
Just tried without explicitly installing `dbplyr` from github and `sparklyr` installation from github worked fine. I still have to manually update all the other packages.

[2017-05-17 01:07] kevinykuo commented on #681
I tried it on a fresh HDInsight instance maybe last week and it was a huge pain.

[2017-05-17 01:52] 3zhang commented on #684
@kevinushey Thanks. Problem solved.

[2017-05-17 06:05] niklasvm commented on #683
That fixed it. Thank you very much!

[2017-05-17 06:05] #683 closed

[2017-05-17 08:37] abjorling opened #687 "Problem connecting to Spark Stand Alone Cluster"
Hi!
I am trying to establish a connection to a Spark Stand Alone Cluster from RStudio Server using Spaklyr. My cluster is running on Ubuntu 16.04 server, Hadoop 2.7.3 (only running HDFS) and SPARK  2.1.0. RStudio Server is running on the Driver Node.

I have been following your "getting started" guide in ["sparklyr-cheatsheet" ](http://spark.rstudio.com/images/sparklyr-cheatsheet.pdf) below please

[2017-05-17 11:25] francoisjehl commented on #81
Hi @javierluraschi , I've been playing a bit with your extension. I was wondering if you thought about using a managed JVM based engine such as Renjin for R code execution, instead of relying on forking RScript. In my company we run Spark mostly within Yarn, and try to keep dependencies on the physical workers as low as possible (in other words: we'll never install R on our 1000+ Hadoop data node

[2017-05-17 11:39] chezou commented on #81
I didn't try, but I guess we can use this kind of trick: https://www.continuum.io/blog/developer-blog/conda-spark

Basic idea is distributing R binary with conda environment and set `spark.r.command`.
https://github.com/javierluraschi/sparkworker/blob/master/java/process.scala#L28

I guess this idea may help your situation.

[2017-05-17 14:26] hj1210 commented on #499
I had the same problem. Changing the spark default config didn't help me. I had to set livy.spark.master=yarn-client in livy.conf

[2017-05-17 18:08] #684 closed

[2017-05-17 21:23] kevinykuo opened #688 "Implementing functionality not available in older Spark versions"
If we write a function in e.g. `utils.scala` that depends on a Spark function not available before `2.0.0`, it won't compile when we build against `1.6`. We probably don't want to *not* implement newer features just because we support older versions. What's the best way to handle this and what should we do in the meantime?

[2017-05-17 21:38] kevinushey commented on #688
Although we don't use this yet, my initial thought was to enable this through the use of a filter in the compilation spec:

https://github.com/rstudio/sparklyr/blob/d7ccc2e10a84eb69276a66c1bdf623ba645859c0/R/spark_compile.R#L50-L52

https://github.com/rstudio/sparklyr/blob/d7ccc2e10a84eb69276a66c1bdf623ba645859c0/R/spark_compile.R#L229-L263

The idea there being, we could add some custom filters t

[2017-05-18 05:21] kevinykuo commented on #688
Since Scala doesn't support partial classes (i.e. splitting a class into different files), I wonder if we can do something like the following:

Have a `java/spark-1.6` folder with the current Scala code, but change objects to traits and append the version associated, e.g. `trait Utils16`. Then we'd have the same structure in `java/spark-2.0` but it would only contain the "diff" to include new meth

[2017-05-18 09:50] 3zhang opened #689 "How can I achieve "case when" in sparklyr?"
Function case_when is supported by dplyr, but seems that I cannot use it in sparklyr:

[code]

[2017-05-19 04:51] kevinykuo opened #690 "Consider handling 'struct' columns with sdf_separate_column"
Should/can we support stuff like this?

[code]

Use case:

[code]
https://graphframes.github.io/api/scala/index.html#org.graphframes.GraphFrame@triplets:org.apache.spark.sql.DataFrame

[2017-05-19 05:01] dsblr commented on #483
@richierocks try pca_model_spark$components  you will get the rotation.

iris_dat <- copy_to(sc,iris, overwrite = TRUE)
ir_pc_dat <- iris_dat %>% select(-Species) %>% ml_pca()
ir_pc_dat$components

                                    PC1         PC2         PC3        PC4
Sepal_Length -0.36138659 -0.65658877  0.58202985  0.3154872
Sepal_Width   0.08452251 -0.73016143 -0.59791083 -0.3197231
Petal_L

[2017-05-19 06:10] kevinushey commented on #690
I think we could support separation of `StructType` fields. We'd likely just need to add a new implementation here:

https://github.com/rstudio/sparklyr/blob/70445b7927335a02fdd4645dc1ab184eba2dbc21/java/utils.scala#L268-L275

[2017-05-19 07:12] codingbutstillalive commented on #81
I see from javiers recent commits to sparkworker and the activities here that the topic has become revived. That is fantastic, guys, thanks for your efforts.

[2017-05-19 12:38] dianegal opened #691 "Unable to convert data.frame to SparkR format using as.DataFrame"
I have not been able to convert an R data.frame to a SparkR format using as.DataFrame and get the following error:
 df <- as.DataFrame(documents)
Error in handleErrors(returnStatus, conn) :
  java.lang.IllegalArgumentException: Error while instantiating 'org.apache.spark.sql.hive.HiveSessionState':
	at org.apache.spark.sql.SparkSession$.org$apache$spark$sql$SparkSession$$reflect(SparkSession.scala

[2017-05-19 13:49] kevinykuo commented on #691
Welcome to sparklyr! Here's a resource to get you started: https://github.com/rstudio/sparklyr/blob/master/README.md

[2017-05-19 17:21] hafen commented on #81
I don't recall if I have already mentioned this or not, and maybe you are already doing something similar, but one approach we created and highly advocate with the use of [RHIPE](https://github.com/delta-rho/RHIPE) is to create an archive of your local R environment and all its dependencies and ship it to the nodes using Hadoop's distributed cache (I would assume Spark's broadcast variables could

[2017-05-19 17:37] celina-oliv opened #692 "Why ml_create_dummy_variables does not omit reference variable in sparklyr"
I need to omit the reference dummy to avoid multicollinearity. I understand I should put the reference argument. As an example, I have a variable called "cnae2" with 5 levels where level 4 should be the reference and therefore should not appear a vector called cnae2_4.

[code]

[2017-05-19 17:47] kevinushey commented on #692
Thanks! This appears to be a bug -- `sparklyr` should indeed drop the reference column when explicitly specified. As a workaround for now, you might just explicitly drop that column, e.g.

    x = select(x, -cnae2_4)

[2017-05-19 17:48] kevinykuo opened #693 "Better printing of tbl_spark with jobjs"
Basically instead of showing a bunch of `<S3: spark_jobj>` can we print `jobj_info(x)$repr`?

We shouldn't need to pull apart columns with more "exotic" content just to be able to see them.

Would this be done through providing a `print.tbl_spark`?

[2017-05-19 18:34] kevinykuo commented on #670
I'm actually leaning towards `dot.case` for broom consistency and `snake_case`, because tidyverse. Will continue this discussion in a PR.

[2017-05-19 18:37] celina-oliv commented on #692
Thank for reply! For now I'll use it. But if I have many factor variables to turn into dummies? Does not this function allow put more than one vector? For example:
[code]

[2017-05-19 18:43] kevinushey commented on #692
Right, the function currently only accepts a single column name. As an alternative, you could just call this function repeatedly for each column you want to split:

[code]

[2017-05-19 19:28] igornoberto opened #694 "Unable to connect using Windows"
I'm runing with
R 3.4 with Rstudio 1.0.143
Sparklyr 0.5.4
Spark 2.0.2
Windows Server 2012 build 9200

`sc <- spark_connect(master = "spark://##.#.#.###:7077")`

error:

[2017-05-19 19:45] MZLABS commented on #648
(John Mount here): that is perfect.  I was able to move up to the dev-version of Sparklyr and use it: https://github.com/WinVector/Examples/blob/master/SparkTips/VSlicing/VSlicing.md . Thanks!

[2017-05-19 20:15] kevinushey commented on #693
I think we would accomplish this by implementing a `type_sum` method for `tbl_spark` objects. (The method is provided by `tibble`: https://github.com/tidyverse/tibble/blob/b4c590599804856e5502633657ba7eaaa4c5e940/R/type-sum.r#L43)

[2017-05-19 20:35] kevinykuo commented on #693
Wow that was easy... I overlooked `type_sum` thinking it was just for column headers.

[2017-05-20 02:35] #648 closed

[2017-05-21 00:10] #693 closed

[2017-05-21 01:06] javierluraschi commented on #81
@francoisjehl Thanks for the comment. What would it take to convince you that it's worth installing R in each machine? Python is probably installed, isn't it? `Renjin` looks great as an engine, but the challenge would be to bring all the packages to run into it; I'm sure you are aware that popular CRAN packages use native code, etc. so those packages would be hard to port to `Renjin`. That said, I

[2017-05-21 09:39] codingbutstillalive commented on #81
From my practical experience, it is possible (but difficult) to convince the cluster admin to install R on each cluster node, but definitely not all the packages that are needed. This could become a bottleneck then.

I think Javier has a good point. The RHIPE approach is a very good way to go once the general operations are running. I didn't imagine the whole thing to have so much dependencies. No

[2017-05-23 07:48] hafen commented on #81
Sounds like a good approach. Yes the main driver for the shipping to the nodes is not necessarily the base R installation but the constant updating of packages that no cluster admin will ever be able to keep up with (not to mention different users with different environments). It turns out to be much hairier than just copying packages because of a lot of possible shared library dependencies, etc.

[2017-05-23 23:12] celina-oliv commented on #692
Hello, i apreciate your help.
I followed your tip. My problem is that I have an id_worker vector with total of 169,099 and id_firm with total of 7,245, plus other variables. After creating these dummies I have spark.data.frame of 1,860,089 rows by 176.407 columns. Without the use of sparklyr, the only way to get this dataframe was with  sparse matrix, however when estimation of a lasso with cv.glm

[2017-05-24 01:50] Jerome3590 commented on #410
Vijay,

How did you fix? I have the exact same error.

Jerome

[2017-05-24 02:58] Jerome3590 commented on #562
I have the same issue..Windows 10. Appears to be something with Java and .jar file.
<img width="442" alt="rstudio_spark setup" src="https://cloud.githubusercontent.com/assets/9680556/26385104/44a46974-400b-11e7-8e5c-1f274e5218bf.PNG">

[2017-05-24 03:52] vijayzutshi commented on #410
It has not been fixed. Please let me know when a fix is available.

________________________________
From: Jerome Dixon <notifications@github.com>
Sent: May 24, 2017 1:50 AM
To: rstudio/sparklyr
Cc: Vijay Zutshi; Mention
Subject: Re: [rstudio/sparklyr] Not able to connect to sparklyr or open a connection (#410)

Vijay,

How did you fix? I have the exact same error.

Jerome

—
You are receiving thi

[2017-05-24 09:18] 3zhang opened #699 "How to get the top nth value in sparklyr?"
In dplyr, I can achieve this by "nth" function:

[code]

How can I achieve the same thing in sparklyr?

[2017-05-24 09:32] edgararuiz commented on #699
Hi, try using the PERCENTILE Hive UDF

[2017-05-24 19:16] kevinykuo commented on #678
Replicated as of tidyverse/dplyr@c7ca374

[2017-05-24 19:31] kevinykuo commented on #678
Seems to work if you `rename` one at a time.

[2017-05-24 20:04] kevinushey commented on #678
The query looks fine to me:

[code]

Perhaps `sparklyr` just needs to provide its own `rename()` method to work around whatever is going on?

[2017-05-24 20:13] kevinushey commented on #678
Hmm, it looks like whatever is going on is a bit more involed -- I'll try to take a deeper look soon...

[2017-05-25 06:38] javierluraschi commented on #681
This worked for me:

1. Create Amazon Linux AMI 2017.03.0 (HVM), SSD Volume Type - ami-c58c1dd3 instance.
2. Connect to the instance and run:

[code]

@falaki I investigated this as a follow up from your install instructions; however, was not able to hit this issue. If you have a consistent repro I would be happy to investigate more; otherwise, I would recommend we suggest installing `sparklyr` on

[2017-05-25 07:47] 3zhang commented on #699
@edgararuiz Thank you. Could you please also take a look at this? https://github.com/rstudio/sparklyr/issues/689

[2017-05-26 00:24] #681 closed

[2017-05-26 07:51] mubeenarasack opened #703 "Failed to detect version from SPARK_HOME"
 sc <- spark_connect(master = 'Local', config = spark_config())
Error in spark_version_from_home(spark_home, default = spark_version) : 
  Failed to detect version from SPARK_HOME or SPARK_HOME_VERSION. Try passing the spark version explicitly.

Can anyone help on this..thanks in advance

[2017-05-26 07:58] mubeenarasack opened #704 "Issue while copying data to spark connection"
sc <- spark_connect(master = "local")
  data.org <- copy_to(sc, data.org,"data.org")

Upon executing the above code the below error occurs
Error: org.apache.spark.sql.catalyst.analysis.NoSuchTableException
	at org.apache.spark.sql.hive.client.ClientInterface$$anonfun$getTable$1.apply(ClientInterface.scala:122)
	at org.apache.spark.sql.hive.client.ClientInterface$$anonfun$getTable$1.apply(ClientInt

[2017-05-26 15:29] kevinykuo commented on #704
Try not to have dots in your table names. Related: https://github.com/rstudio/sparklyr/issues/611

[2017-05-26 15:30] kevinykuo commented on #703
Try `master = "local"` not `"Local"`

[2017-05-26 20:52] kevinykuo opened #707 "livy connection broken after backend refactoring"
I think we need to implement `create_hive_context.livy_connection`

[2017-05-26 21:12] javierluraschi commented on #707
Fixing...

[2017-05-26 21:19] #707 closed

[2017-05-27 20:05] sumendar commented on #47
Same error i got while installing sparklyr, any advice please.

[2017-05-28 16:30] pcavatore opened #710 "Support for Spark 2.1.0+"
Current version of sparklyr does not support Spark 2.1.0 and above yet.
When is that expected to happen?

sc <- spark_connect(master = "local")
Error in start_shell(master = master, spark_home = spark_home, spark_version = version,  :
  sparklyr does not currently support Spark version: 2.1.0

[2017-05-28 17:14] JohnMount commented on #710
I think the dev version supports 2.1.0 already.  I remember using it for a while after doing "devtools::install_github('rstudio/sparklyr')".  If I am remembering correctly, I remember it working quite well.

[2017-05-28 17:17] JohnMount opened #711 "Feature request: it would be very handy to have an official way to get table name and data source."
Feature request: it would be very handy to have an official way to get table name and data source.

Below I have a reprex showing example implementations of the two functions I would like ( table_name and data_source ) with ad-hoc implementations that work by looking directly into the dplyr 0.5.0 data structures (obviously not the right way for external code, as this is unlikely to be stable acros

[2017-05-28 17:18] edgararuiz commented on #710
Hi @pcavatore , I believe the latest patch that was submitted to CRAN does support 2.1.0.  Are you running sparklyr 0.5.5?

[2017-05-28 21:47] pcavatore commented on #710
I was running 0.5.4...updated to 0.5.5 from source and it's working, thanks.
Any idea whether the correct ML API in use is SparkML rather the old MLlib?

[2017-05-28 21:54] edgararuiz commented on #710
Yes, it's using ML.  It's very easy to check the API call it's using on a given model. Just pull up the R script that corresponds to the model you need, like here's the one inside `ml_linear_regression.R`: `envir$model <- "org.apache.spark.ml.regression.LinearRegression"`

[2017-05-28 22:02] pcavatore commented on #710
Much appreciated @edgararuiz

[2017-05-28 22:02] #710 closed

[2017-05-28 23:19] jvicentem commented on #525
Same here

[2017-05-29 04:54] mubeenarasack commented on #703
thanks ..but i am getting a new error now
rror in shell_connection(master = master, spark_home = spark_home, app_name = app_name,  :
  Failed to connect to Spark (SPARK_HOME is not set).

[2017-05-29 05:05] JohnMount commented on #677
This issue still occurs with the latest cran version of Sparklyr and the current (5-28-2017) cran-candidate dplyr.  It appears to be fixed in the dev version of Sparklyr.

[code]

[code]

[2017-05-29 06:37] mubeenarasack commented on #704
Great..thanks...:)
Its working now

[2017-05-29 22:24] chezou commented on #711
It seems those functions should be responsible for dplyr, because they are not only for Spark dataframe.

[2017-05-29 22:27] chezou commented on #699
@3zhang Is it completely separate issue, right? Could you close this issue, if your problem in this issue was solved.

[2017-05-29 22:28] chezou commented on #689
It would be nice you to write the specific code you wrote.

[2017-05-29 22:33] chezou opened #712 "How about creating the issue template?"
Just a proposal to reduce of costs of interaction to solve many issues. It would be nice to have our issue template to clarify specific problem.
See also: https://github.com/blog/2111-issue-and-pull-request-templates

In [my project](https://github.com/chezou/tabula-py/blob/master/.github/ISSUE_TEMPLATE.md), I request environmental info, issue summary, example code, output and what intend to be. T

[2017-05-30 03:09] JohnMount commented on #711
Actually that sounds right (especially data source).  I've filed the issue there also.

[2017-05-30 03:09] #711 closed

[2017-05-30 12:22] PozzOver13 opened #713 "Issues with sdf_copy_to fail"
I'm getting this error when trying to copy a dataframe to Spark and don't know how to fix it.
[code]
It happens when trying to copy a dataframe (neraly 360 MB) to Spark, while I have no problem with smaller dataframes (around 15 MB).

`tmp_big_Spark <- sdf_copy_to(sc, tmp_big, "tmp_big", repartition = 0, memory = F, overwrite = T)`

I've also tried to set "repartition = 3" but no results.
The data

[2017-05-30 13:12] konradedgar commented on #120
@algattik Concerning string matching, you should be able to use [`locate`](https://cwiki.apache.org/confluence/display/Hive/LanguageManual+UDF#LanguageManualUDF-StringOperators) functions available in Hive:
[code]
as it it's possible to use Hive functions in sparklyr workflow:
[code]
and then filter by obtained integers.
*As discussed [on SO.](https://stackoverflow.com/a/43910077/1655567)*

[2017-05-30 15:01] kevinykuo commented on #252
@kevinushey How's https://github.com/rstudio/sparklyr/pull/255 coming along? Need more sets of hands? Any blockers?

[2017-05-30 17:54] kevinushey commented on #252
@kevinykuo it'd be awesome if you wanted to take a stab at this (either finishing up that PR, or generating your own) -- I'd be happy to review a PR.

[2017-05-30 21:09] kevinykuo opened #714 "Implement sdf_repartition"
I think I have the PR for this, but am blocked by https://github.com/rstudio/sparklyr/issues/688

[2017-05-30 21:10] kevinykuo commented on #714
Popped up in my SO feed: https://stackoverflow.com/questions/44251185/how-to-repartition-a-data-frame-in-sparklyr

[2017-05-30 21:11] kevinykuo commented on #688
@javierluraschi @kevinushey thoughts?

[2017-05-30 21:49] kevinykuo opened #715 "Caching Spark installations on travis to enable unit tests"
This would be useful also for extension packages.

[2017-05-30 22:23] kevinushey commented on #688
We could also just perform the indirection at the R level -- have a bunch of different versioned `Utils` objects, and figure out which one should be used at runtime with R, rather than dealing with Scala inheritance. Does that make sense?

In other words, from R, we just explicitly call e.g.

[code]

where `UtilsV2` is a plain Scala object providing methods that require Spark 2.0.0 or above, and i

[2017-05-30 22:58] kevinushey commented on #712
I think this is a great idea -- we should definitely get an issue template for `sparklyr`.

[2017-05-31 04:54] MZLABS opened #717 "Copying a vector to Spark builds a copy of the vector for each row instead of using vector as a column"
Copying a vector to Spark builds a copy of the vector for each row instead of using vector as a column.

[code]

[2017-05-31 05:38] 3zhang commented on #699
@chezou I don't know how to close this issue.

[2017-05-31 06:45] chezou commented on #699
It seems [this comment](https://github.com/rstudio/sparklyr/issues/699#issuecomment-303670457) solves your problem. Of course, there might be some more question about it; otherwise, you can close pushing "Close issue" button.

![image](https://cloud.githubusercontent.com/assets/916653/26618527/a2b51cba-4615-11e7-89bb-38aefa3a5ff1.png)

[2017-05-31 08:32] #699 closed

[2017-05-31 08:38] 3zhang opened #718 "NALong type"

[2017-05-31 08:39] #718 closed

[2017-05-31 08:51] 3zhang commented on #463
This problem still exists.
@nuna-evan Have you solved the problem?

[2017-05-31 13:10] praveenmohan1979 commented on #562
@javierluraschi
I face the same error described by @hongqp and others.

The same code works on the terminal but rstudio continues to throw this error despite following many suggestions in this forum.

sc <- spark_connect(master="yarn-client", method = c("shell"),config=config, app_name = "sparklyr",version="2.0.0", extensions = sparklyr::registered_extensions())

Error in force(code) :
  Failed wh

[2017-05-31 13:17] lazariv commented on #209
@javierluraschi  I have the same problem. I have Spark 2.1.0 installed and I get an error

`> sc <- spark_connect(master="spark://local:6324", spark_home="/opt/spark-2.1.0/", version="2.1.0",hadoop_version="2.7")
Error in force(code) :
  Failed while connecting to sparklyr to port (8880) for sessionid (77): Gateway in port (8880) did not respond.
    Path: /opt/spark-2.1.0/bin/spark-submit
    Par

[2017-05-31 13:27] asobe commented on #562
@javierluraschi @praveenmohan1979 @hongqp
The reason was that ipv6 was enabled on this node and hence somehow the Socket has issues to start up.

[2017-05-31 17:16] #712 closed

[2017-05-31 17:21] kevinushey commented on #717
The problem here is that `dbplyr` generates this sort of query here:

[code]

Is there a Spark SQL equivalent for creating a column with raw data?

[2017-05-31 19:45] kevinykuo commented on #717
I think this is expected SQL behavior but can be confusing for R users... maybe file in dplyr?

[2017-05-31 22:45] kevinykuo commented on #688
@kevinushey Yeah this is definitely cleaner. Will put together a PR and we can discuss folder structure/naming.

[2017-06-01 02:49] 3zhang commented on #463
I'm reading parquet table. A temporary function to solve this:

[code]

[2017-06-01 03:16] dsblr commented on #209
@lazariv is your spark up and running in standalone mode. If not then run that using the following commands.
go to SPARK_HOME/bin
spark-class.cmd org.apache.spark.deploy.master.Master
go to the path go to SPARK_HOME/bin again from another window and run the worker where spark master is running. spark://**.**.**.**:7077
spark-class2.cmd org.apache.spark.deploy.worker.Worker spark://**.**.**.**:7077

[2017-06-01 03:20] dsblr commented on #375
I found the solution and here is how it should work.
Check if your spark is up and running in standalone mode. If not then run that using the following commands.
go to SPARK_HOME/bin
spark-class.cmd org.apache.spark.deploy.master.Master
go to the path go to SPARK_HOME/bin again from another window and run the worker where spark master is running. spark://**.**.**.**:7077
spark-class2.cmd org.apach

[2017-06-01 05:49] MZLABS commented on #717
I've filed this as dplyr issue 2830 https://github.com/tidyverse/dplyr/issues/2830 .

[2017-06-02 06:45] lazariv commented on #209
@dsblr Thanks for your help, but unfortunately it didn't help.  I have the spark master and slave running.
But I started it again, following your instructions (I used spark-class since I am on Ubuntu), I have master running with:

[code]
but I get the same error
[code]
I tried modifying `config.yaml` with different ports (8883, 6325, 6067) like `sparklyr.gateway.port: 8883` , but nothing helps. On

[2017-06-02 11:17] mramos1004 opened #720 "Support for HBase Data Source"
I've been looking for a way to connect to HBase through SparklyR but I can't find any examples. Is it right so far, the only thing to do is to export the hbase tables to hdfs files?

[2017-06-03 18:02] JohnMount opened #721 "Spark crasher"
I can reliably crash Spark using Sparklyr/dplyr commands.  The example is reproducible, but long so I am linking to it [here](https://github.com/WinVector/Examples/blob/master/SparkTips/replyr/SparkIssues.md) (and [source](https://github.com/WinVector/Examples/blob/master/SparkTips/replyr/SparkIssues.Rmd)).

The symptom is the Spark cluster becomes unresponsive (with high CPU and no longer updates

[2017-06-04 04:16] #688 closed

[2017-06-04 07:43] #714 closed

[2017-06-04 22:18] vsowell opened #726 "Failed while connecting to sparklyr to port (8880)"
Hello,

I'm running into a connection issue while trying to connect to Spark via SparklyR:

R version: 3.4.0
R Studio version: 1.0.143
Spark Version: 1.6.2
[code]
Thanks in advance!

[2017-06-05 17:14] javierluraschi opened #729 "Add support for distributing/installing packages with `spark_apply`"
The following code works fine in a local installation:

[code]

[code]

This also works fine under `master = "yarn-client"`, etc. as long as the cluster has the correct package versions installed; however, if the cluster lacks this package, execution will fail.

A possible workaround for some clusters/packages would be to check installation directly under the closure:

[code]

This is obviously no

[2017-06-05 17:21] javierluraschi commented on #81
Here is the initial [Implement R Workers](https://github.com/rstudio/sparklyr/pull/728) PR to support a distributed apply function.

Notice that, currently, this requires your cluster to have the right packages installed or manually install them under the closure. I've opened https://github.com/rstudio/sparklyr/issues/729 to track and implement something similar as to what @hafen described.

I thi

[2017-06-05 17:21] #81 closed

[2017-06-05 17:56] codingbutstillalive commented on #81
Congratulations!!! :-)

[2017-06-06 07:29] 3zhang opened #731 "top_n produced error"
Version info:
R version 3.3.3
[code]

input:
[code]

output:
[code]

[2017-06-06 07:56] peddollakishore commented on #299
Hi edgaruiz

i am connected to spark standalone cluster but when i am importing data from cassandra its keep on waiting stage please help on this

[2017-06-06 15:02] tarunparmar opened #732 "unable to resolve 's3.amazonaws.com'"
I was able to connect to Spark until yesterday, seems my company IT policy changed that may be blocking package access to internet (not sure, just my guess).

Does the package access internet in anyway when it's called ?

This is what I am running...

[code]

Output
[code]

[2017-06-06 18:20] kevinushey commented on #731
I'm not able to reproduce with the development versions of `sparklyr` + `dplyr`:

[code]

Can you try re-installing both the development versions of `dplyr` and `sparklyr`?

<details>

R version 3.4.0 Patched (2017-05-08 r72665)
Platform: x86_64-apple-darwin15.6.0 (64-bit)
Running under: macOS Sierra 10.12.5

Matrix products: default
BLAS: /System/Library/Frameworks/Accelerate.framework/Versions/A

[2017-06-06 23:57] javierluraschi opened #733 "Significantly improve `spark_apply` performance"
For sparkR:

[code]

in sparklyr:

[code]
There are two issues that will significantly improve this:
1. Somehow, the RDD is beeing computed twice, we need to figure out why, this would reduce execution time to ~8s
2. It's taking about ~7s to initialize the backend, if we were to support a running daemon worker, this should eliminate this initialization cost and leave this operation to ~1s or less.

[2017-06-07 00:02] kevinykuo commented on #733
Should we use the same example (pi calc or random gamma) for both frameworks?

[2017-06-07 05:52] kevinykuo opened #734 "Support ML pipelines"
This seems relatively straightforward... except for the naming scheme. For example, what do we call the function that creates a `LogisticRegression`?

Related: https://github.com/rstudio/sparklyr/issues/593

cc @kevinushey @chezou

[2017-06-07 06:00] peddollakishore commented on #299
Hi All
Any solution for above problem.....
Please updates if any.

[2017-06-07 06:16] peddollakishore commented on #205
Hi All

i am connected to spark standalone cluster but when i am importing data from cassandra its keep on waiting stage please help on this, bellow is the code..

library(pipeR)
library(sparklyr)
library(dplyr)

Sys.setenv(SPARK_HOME='/home/ubuntu/spark')
sc <- spark_connect(master = "spark://XXXXXXXXX:7077")
Executed

sparkSession <- invoke_static(sc, "org.apache.spark.sql.SparkSession", "builde

[2017-06-07 06:18] peddollakishore commented on #734
Hi All

i am connected to spark standalone cluster but when i am importing data from cassandra its keep on waiting stage please help on this, bellow is the code..

library(pipeR)
library(sparklyr)
library(dplyr)

Sys.setenv(SPARK_HOME='/home/ubuntu/spark')
sc <- spark_connect(master = "spark://XXXXXXXXX:7077")
Executed

sparkSession <- invoke_static(sc, "org.apache.spark.sql.SparkSession", "builde

[2017-06-07 06:19] peddollakishore commented on #733
Hi All

i am connected to spark standalone cluster but when i am importing data from cassandra its keep on waiting stage please help on this, bellow is the code..

library(pipeR)
library(sparklyr)
library(dplyr)

Sys.setenv(SPARK_HOME='/home/ubuntu/spark')
sc <- spark_connect(master = "spark://XXXXXXXXX:7077")
Executed

sparkSession <- invoke_static(sc, "org.apache.spark.sql.SparkSession", "builde

[2017-06-07 06:30] 3zhang commented on #731
@kevinushey Problem solved by update.

[2017-06-07 06:30] #731 closed

[2017-06-07 06:43] 3zhang opened #735 "sdf_repartition produced error"
This error was generated under the latest version of dplyr and sparklyr
[code]

Error:
[code]

[2017-06-07 09:29] maggiemhanna opened #736 "Collapse text by group in sparklyr data frame"
I am trying to use the group_by() and mutate() functions in sparklyr to concatenate rows in a group.
Here is a simple example that I think should work but doesn't:

[code]

What I'd like it to produce is:

[code]

I get the following error:

[code]

[code]

[2017-06-07 14:17] javierluraschi opened #737 "spark_apply not working with sdf_repartition"
From @kevinykuo:

[code]

[2017-06-07 14:29] kevinykuo commented on #735
Fixing...

[2017-06-07 14:33] javierluraschi commented on #733
@peddollakishore thanks for reporting this, but please open a separate issue since this one is tracking performance specific to `spark_apply`, thanks!

[2017-06-07 14:33] #733 closed

[2017-06-07 14:35] javierluraschi commented on #733
Much better now:

[code]

[2017-06-07 14:48] kevinykuo commented on #737
This is now working for some reason (also works with `memory = FALSE`). Let's leave open until we have a test?

[2017-06-07 16:00] edgararuiz commented on #299
Hi @peddollakishore , have you considered using the sparklyr extension for this: https://github.com/AkhilNairAmey/crassy

[2017-06-07 18:58] dkincaid commented on #192
I get this error just trying to collect() about 1000 rows of data from Spark to R. In fact, almost every time I try to collect any data to sparklyr I get this. I have `spark.driver.memory` set to 30g thinking maybe it was running out of memory. But the 1000 rows of data each only have one string that is less than 20 characters long, so there is no way it's running out of memory. The backend of spa

[2017-06-07 19:49] edgararuiz commented on #192
@DerekYves / @dkincaid - Maybe it isn't the `collect()` phase that is causing the issue.  Maybe it is something that happens before during data transformation, but it doesn't error out because the entire piped expression is lazily evaluated.  Can we try registering and caching the statement first (`sdf_register` & `tbl_cache`)? And then perform `collect()`?

[2017-06-07 23:04] dkincaid commented on #192
It is already being done after both `sdf_register` and `tbl_cache`

[2017-06-08 02:42] saurfang opened #741 "`sdf_schema` is slow with Livy"
Livy listing schema is 100x slower than a local spark context. Is that expected? I tried fitting a linear model with 1M observation and it took one hour with Livy and actual Spark job running time is less than five min (rest seems to be Sparklyr chatting with Livy).

Looking at the log, the following calls generated over 100 statements to Livy and it feels like Livy isn't optimized for a statement

[2017-06-08 04:13] kevinykuo commented on #741
For small things like `sdf_schema()` I would expect that Livy is many x slower due to network overhead as you mentioned. However I've heard anecdotes around sparklyr/Livy being somewhat slower than Jupyter/Zeppelin running Livy interpreters for similar tasks. I'm surprised at the running time for the linear regression though; do you have a reprex?

[2017-06-08 05:03] kevinushey commented on #741
I can see our implementation of `sdf_schema()` potentially being unfriendly to Livy. Copying here:

[code]

The fact that we make so many separate `invoke()`s is likely the culprit, and I imagine we would see gains here if we were to move this work into a single Scala call.

[2017-06-08 05:08] kevinushey commented on #736
Given this code:

[code]

I see the following SQL generated:

[code]

Perhaps an issue with our `paste()` implementation here?

https://github.com/rstudio/sparklyr/blob/d63a97b4269d7cc1a26a101611522141df7488ba/R/dplyr_spark_connection.R#L65

[2017-06-08 05:16] kevinushey commented on #734
Can you elaborate a bit more? Based on #593, it seems like there's two main paths forward:

1. Provide a function like `spark_pipeline()`, that accepts an array of `PipelineStage` objects,
2. Provide something like `spark_array()` that can be used to explicitly construct a Spark array of 'stuff'.

I'm marginally in favor of 1), but curious whether you have something separate in mind.

[2017-06-08 05:44] saurfang commented on #741
Exactly I think you see better performance in Zeppelin because it executes each chunk/line as a single statement. There appears to be 0.5s cost associated with each Livy invoke, which itself seems high to me.

[code]

The following doesn't exactly reproduce the 1hr runtime I experience with my own dataset but I think it is quite indicative that the Livy connection doesn't provide the magical inter

[2017-06-08 05:46] kevinykuo commented on #734
@kevinushey I'm aligned with you here, but am thinking it'd be nice to have syntactic sugar for making the `PipelineStage` objects. E.g. instead of writing

[code]

the user can write something like

[code]

where `???` is the prefix for this type of function, and we'd have nice print methods for them.

[2017-06-08 06:39] peddollakishore commented on #299
Hi @edgararuiz , when i try to load **library(crassy)** package it through bellow error,
`> install.packages("crassy")
Installing package into ‘/home/rstudio/R/x86_64-pc-linux-gnu-library/3.4’
(as ‘lib’ is unspecified)
Warning in install.packages :
  package ‘crassy’ is not available (for R version 3.4.0)`

[2017-06-08 06:44] saurfang commented on #741
Another way to see Livy isn't optimized for line by line execution. Just want to make sure Sparklyr isn't creating too much overhead by retrofit itself to Livy

[code]

[2017-06-08 06:50] peddollakishore commented on #299
@edgararuiz i installed **carassy** package using Github, now i am going farther steps

[2017-06-08 07:14] peddollakishore commented on #299
Hi @edgararuiz while i am try to load cassandra table bellow is the error,
`> library(sparklyr)

+   spk_tbl_name  = "spk_tbl")
Error in crassy::spark_load_cassandra_table(session = sc, cass_keyspace = "test",  :
  unused argument (session = sc)`

[2017-06-08 13:09] kevinykuo commented on #736
Here's a way to make it work:

[code]

If you try `group_by`-`mutate` Spark SQL complains and gives something like this:

[code]

[2017-06-08 14:33] kevinykuo opened #742 "Function that returns tbl_spark from Spark SQL query"
`DBI::dbGetQuery()` collects, and it may be useful to have a function that returns a `DataFrame`.

[2017-06-08 14:42] maggiemhanna commented on #736
That works fine. Thanks.

[2017-06-08 15:29] edgararuiz commented on #299
Cool, let me know if it ends up working for you

[2017-06-08 15:56] #735 closed

[2017-06-08 16:09] kevinushey commented on #734
Ahh, got it. Perhaps we want something like:

[code]

That is, use the `spark_` prefix to help make it somewhat more clear that these create Spark (JVM) objects that are mainly intended for lower-level usages, and change the form of the function name (when appropriate) to make it more clear that this is defining / creating an object, and not immediately defining + training a model.

[2017-06-08 16:33] randomgambit opened #743 "how to change the default options in spark_read_csv?"
Hello!

Thanks again for this great package!

I have an usage question I was unable to solve.
I am loading some `csv` in `Sparklyr` using

`    df <- spark_read_csv(sc, name = "df", path = "file:///mypath/mycsv.csv", header = TRUE)
`
and I am getting the error

[code]
How can I change these options? How can I speficy a different setting for these csv reading options?

Thanks!

[2017-06-08 16:53] kevinykuo commented on #743
@randomgambit what spark version you using?

[2017-06-08 16:54] randomgambit commented on #743
I think its spark-2.0.2 and hadoop 2.6

[2017-06-08 17:07] kevinykuo commented on #743
Could you double check? I thought this was fixed in Spark 2.x and we should be using the CSV parser in Spark.

[2017-06-08 17:08] randomgambit commented on #743
yes I am pretty sure

[2017-06-08 17:09] randomgambit commented on #743
do you see any workaround here?

[2017-06-08 17:54] kevinykuo commented on #743
Interesting, seems like a Spark issue. Maybe we need to expose `maxCharsPerColumn` as an argument for < 2.1.0.

This breaks:

[code]
but this is OK:

[code]

Related: https://github.com/databricks/spark-csv/issues/353

[2017-06-08 18:11] randomgambit commented on #743
ok thanks. so this is an issue that will be fixed in the next version of Spark?

[2017-06-09 02:51] ray-p144 opened #744 "Version 0.7.0 of dplyr function top_n does not work with sparklyr"
Using count(...) piped to top_n(...) does not make any difference in the tibble that is returned versus just using count(...). The queries are different so I'm not sure where the issue originates. [Issue narrowed down to using version 0.7.0 of dplyr https://github.com/rstudio/sparklyr/issues/744#issuecomment-307308476]
[code]
Result:
[code]
Expecting:
[code]
Result is the same tibble as no top_n f

[2017-06-09 04:08] ray-p144 commented on #744
Tested with Spark 2.1.0 as well, title changed to reflect the issue.

[2017-06-09 06:23] ray-p144 commented on #744
Tested on Ubuntu 16.04 with standard R (instead of Microsoft R Open on Windows 10) with the same versions of packages and Spark with the same result.

[2017-06-09 06:38] ray-p144 commented on #744
Reversed dplyr package back to 0.5.0 (the newest version on cran) from 0.7.0 (the newest version on github which got pulled in when I pulled dbplyr from github) and it works as expected.

With dplyr 0.7.0 this:
[code]
still works as expected so the issue seems to only happen when using sparklyr in combination with dplyr 0.7.0

[2017-06-09 10:59] peddollakishore commented on #299
Hi @edgararuiz while using crassy package it is also same issue waiting waiting....here is the code
`library(sparklyr)
library(dplyr)
library(crassy)
Sys.setenv(SPARK_HOME='/home/ubuntu/spark')
sc <- spark_connect(master = "local")
sc <- spark_connect(master = "spark://XXX.XXX.XXX:7077")
spark_load_cassandra_table(sc, "test", "kv", "spkr_tbl_name", partition_filter = FALSE, select_cols = FALSE, ca

[2017-06-09 11:05] peddollakishore commented on #299
This code for local spark cluster it is executed successfully bellow is the code.
`>library(sparklyr)

Source:   query [3 x 2]
Database: spark connection master=local[2] app=sparklyr local=TRUE

# A tibble: 3 x 2
    key value
  <chr> <int>
1  key1     1
2  key3     3
3  key2     2`

[2017-06-09 13:28] kevinykuo commented on #744
@ray-p144 thanks for the investigation! Were the queries generated the same in dplyr 0.5 and 0.7?

[2017-06-09 14:48] ray-p144 commented on #744
The queries are different. It appears that in dplyr 0.5 the column name was passed to rank() where as in dplyr 0.7 the values were passed to it.

[code]
Side note, I also tried this with sparklyr 0.5.6 that was released just after posting this issue and the results were the same with dplyr 0.7.0 except that the `<PLAN>` was not printed out in the explain. I have not been able to test it with dplyr

[2017-06-09 15:01] kevinykuo commented on #744
Seems like the column name got evaluated when it shouldn't have been? Seems like a dplyr issue.

[2017-06-09 15:13] JohnMount commented on #721
The `segfault` version (intermittent failure) is [here](https://github.com/WinVector/Examples/blob/master/SparkTips/replyr/replyrExamples.Rmd).

[2017-06-09 15:21] kevinykuo commented on #744
Hmmmm, this is interesting.

(latest devel sparklyr and dplyr)

[code]

[2017-06-09 15:54] kevinykuo commented on #744
The same query works fine in Scala + Spark SQL. Something's weird here.

[2017-06-09 16:22] javierluraschi commented on #744
Taking a look today, we will probably patch `sparklyr` hopefully today to address a couple other issues, tracking them now here: https://github.com/rstudio/sparklyr/releases/tag/v0.5.6

[2017-06-09 16:33] JohnMount commented on #678
Thanks for looking into this.  I just re-tested and the issue remains with `0.7.0` `dplyr` plus current (2017-06-09) `sparklyr`.  (`dbplyr`  changes depending which of `sparklyr` or `dplyr` is installed last.)  I did try to give `dplyr` a "heads-up" on this: [`dplyr` issue 2776](https://github.com/tidyverse/dplyr/issues/2776) to improve package to package coordination.

[code]

[2017-06-09 17:11] ray-p144 commented on #744
Thanks javiarluraschi.

Something is very weird... I tried your code @kevinykuo from [this](https://github.com/rstudio/sparklyr/issues/744#issuecomment-307418585) comment and got the same results. But doing this on `test_data` from my reproducible code worked as expected:
[code]
Which would be the query that dplyr 0.5 would have generated, while using the same method with the query dplyr 0.7 gener

[2017-06-09 18:08] edgararuiz commented on #299
How many nodes are there in your cluster?

[2017-06-09 19:22] hafen commented on #81
Excellent! I'm excited to try this out.

[2017-06-09 20:26] ray-p144 commented on #744
Okay I believe I found the issue but I'm no expert in quosures, evals, or tbl_lazy so someone else may need to check this.

When calling the current dev dplyr `top_n()` function, it immediately runs `rlang::enquo()` on wt and then it calls `rlang::eval_tidy()` on it with the tbl_spark for the data parameter, so if `wt` is specified and a character string is passed to it, this just results in getti

[2017-06-09 20:40] javierluraschi commented on #744
@ray-p144 great investigation! I think the fix should go into dplyr, I was able to spot the change that caused this, I think; and opened this issue in their repo: https://github.com/tidyverse/dplyr/issues/2848

However, `dplyr` has many more dependencies than `sparklyr` so I'm working on a fix to override `top_n` to `dplyr 0.5` within `sparklyr`, working on this change, I'll post the updated packa

[2017-06-09 20:51] ray-p144 commented on #744
Sounds great! In the mean time I'll see if I can find a way to modify the `top_n` in `dplyr 0.5` to get the `wt` parameter to work correctly so you can add that too.

[2017-06-09 21:03] ray-p144 commented on #744
This seems to be working:
[code]
I just wrapped `as.name()` around the `wt` inside the `env` list of the `substitute()` function.

[2017-06-09 22:11] javierluraschi commented on #744
Great, thank you!

@ray-p144 would you mind helping test with this patch: https://github.com/rstudio/sparklyr/releases/tag/v0.5.6, you can also intall the patch as:

[code]

[2017-06-09 23:34] ray-p144 commented on #744
Sure, no problem! I'll give it a shot tonight

[2017-06-09 23:40] javierluraschi commented on #744
Thank you!

[2017-06-10 05:46] ray-p144 commented on #477
@javierluraschi Is there a reason that this fix isn't implemented in any of the releases? When I download the releases (0.5.5, 0.5.6, or bugfix/hotfix-0.5.6) and install them manually (or use `install.packages("sparklyr")` to download `sparklyr 0.5.5` from cran directly) the old version of `sdf_collect` is still being used (I've been manually fixing it so far with `assignInNamespace` when using on

[2017-06-10 05:52] #744 closed

[2017-06-10 15:45] javierluraschi commented on #744
Fix being submitted to CRAN waiting for response...

[2017-06-10 16:57] peddollakishore commented on #299
Hi @edgararuiz [https://ibb.co/ncun0v](url)

[2017-06-10 17:26] peddollakishore commented on #299
https://ibb.co/ncun0v

[2017-06-10 19:09] edgararuiz commented on #299
Ok, I'm trying to figure out if your session is receiving resources.  Can you please start a new session and share with me an updated screenshot?

[2017-06-11 00:43] javierluraschi commented on #744
On CRAN now.

[2017-06-12 07:08] peddollakishore commented on #299
Hi @edgararuiz please find the spark cluster new session screen shots and R-server code image
![2017-06-12 12_20_40-spark master at spark___ip-172-31-1-101 ec2 internal_7077](https://user-images.githubusercontent.com/16456445/27022446-9bf45594-4f6b-11e7-95f6-b5eebc285984.png)

[2017-06-12 20:44] randomgambit commented on #743
@kevinykuo sorry but can you please tell me if there is a solution here? Using Spark `2.1.0` is mandatory or I can stick to `2.0.0` and use some trick? thanks!!!

[2017-06-12 21:00] kevinykuo commented on #743
@randomgambit yeah looks like there's an `options` argument you can pass. Example:

[code]

Set `maxCharsPerColumn` big enough for your data.

[2017-06-12 21:31] randomgambit opened #746 "unable to load big csv in Spark?"
Hello,

I am trying to load a pretty big `csv` (about 40GB) into Spark using the `spark_read_csv` but I am unable to do so and I get a cryptic error.

[code]

Is that expected?

[2017-06-12 21:37] #746 closed

[2017-06-12 22:52] JohnMount opened #747 "sparklyr/RStudio reports error on dplyr::copy_to()"
When I run the follow reprex I always see the message "Error: Column `database` must be length 1 or 1, not 0".  Doesn't seem to get printed in the reprex (so I think it is a Spark error demoted to a warning or a message which is not printed).

[code]

The error is in the RStudio Spark viewer.  Pressing refresh on the viewer repeats the error with a message pop-up on RStudio saying "Error R code ex

[2017-06-12 22:59] JohnMount opened #748 "logistic multinomial model training errors-out"
Attempting to build a `ml_logistic_regression` errors-out with `sparklyr`.

[code]

Seems to work okay for binary classification:

[code]

Also fails for `sparklyr` `0.5.4` with `dplyr` `0.5.0`.

[code]

[2017-06-12 23:45] ray-p144 commented on #747
If you install the current dev version of the package this error is fixed. I'm not sure why the fix hasn't been implemented on the release versions but you can do this for now:
[code]
Also see #477

[2017-06-12 23:47] dkincaid opened #749 "Error while installing latest development version - namespace ‘dbplyr’ 0.0.0.9001 is being loaded, but >= 1.0.0 is required"
While trying to install sparklyr using `devtools::install_github("rstudio/sparklyr")` I get the following error:

    Error in loadNamespace(j <- i[[1L]], c(lib.loc, .libPaths()), versionCheck = vI[[j]]) :
    namespace ‘dbplyr’ 0.0.0.9001 is being loaded, but >= 1.0.0 is required

I am unable to find dbplyr version >= 1.0.0

[2017-06-12 23:49] ray-p144 commented on #749
`dbplyr 1.0.0` is on CRAN.
Use this:
[code]

[2017-06-12 23:55] kevinushey commented on #748
Thanks for the bug report! I'll take a look and see if this is something we can enable without too much fuss.

[2017-06-13 00:47] #748 closed

[2017-06-13 00:50] kevinushey commented on #748
This should be implemented now (available in the development version). If you have time to play around with it, please let us know if you encounter any issues!

[2017-06-13 01:17] dkincaid commented on #749
I didn't realize dbplyr needed to be installed separately from dplyr and sparklyr. What is the proper order to load those three packages in order to make sure I get all the right versions?

[2017-06-13 01:35] ray-p144 commented on #749
I believe `install.packages` will install the packages that need to be imported by the package if they are available by default, but using `devtools::install_github` requires that those packages are already installed.

If you want to check the packages that the current master branch `sparklyr` imports, they can be found [here](https://github.com/rstudio/sparklyr/blob/master/DESCRIPTION)

An exampl

[2017-06-13 01:39] dkincaid commented on #749
Excellent! Thank you for the tips and helping get me past the error.

[2017-06-13 06:00] peddollakishore commented on #299
Hi @edgararuiz any solution for that, if any update on that issue please let me know.

[2017-06-13 13:03] edgararuiz commented on #299
Hi @peddollakishore , the only thing I can think of is to open an issue in crassy

[2017-06-13 19:55] dwy904 commented on #176
Has the problem been solved ? I wanna see all class probabilities from the random forest model.

[2017-06-13 19:58] javierluraschi commented on #749
@dkincaid `sparklyr` got patched as `0.5.6` to not require installing `dbplyr` manually at all. Closing, but let me know if you find out this is not the case.

[2017-06-13 19:58] #749 closed

[2017-06-13 19:59] javierluraschi commented on #731
`sparklyr` got patches in CRAN, thanks for validating fix!

[2017-06-13 20:20] kevinushey commented on #176
This can be handled through the use of `sdf_separate_column()` in the development version of `sparklyr`. Following from @Maiae's example:

[code]

This will produce:

[code]

[2017-06-14 04:11] Maiae commented on #176
Thanks @kevinushey. Great stuff!

Adding a snippet that will create a neat spark df when running predictions with `sdf_predict`:

[code]

[2017-06-14 09:27] chengvt commented on #726
I am encountering the same problem. Although reruning it usually gets rid of the error, this happens about 30~40% of the time.

[2017-06-14 10:30] peddollakishore commented on #299
Hi @edgararuiz we found below error for that, if you know any thing about this error please let me know,

`WARN TaskSchedulerImpl: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources`

[2017-06-14 16:27] #463 closed

[2017-06-14 16:38] javierluraschi commented on #677
Verified this is fixed with `dplyr CRAN` and `sparklyr CRAN` or `sparklyr dev`, let me know if you experience something different.

[2017-06-14 16:38] #677 closed

[2017-06-14 16:59] JohnMount commented on #678
It may be related to this: [dplyr 2860](https://github.com/tidyverse/dplyr/issues/2860).

[2017-06-14 17:04] javierluraschi commented on #678
I find this to be working correctly in `sparklyr devel`.

The cause seems to be related to `sparklyr` overriding `dplyr 0.5` feature to support `LIMIT` (see https://github.com/rstudio/sparklyr/blob/bugfix/hotfix-0.5.6/R/dplyr_spark_table.R#L3-L36); however, now that `dplyr 0.7` is released, we don't need this functionality and has already been removed.

The `sparklyr 0.6` release is not far away s

[2017-06-14 17:07] JohnMount commented on #678
Sounds good to close to me.  Thanks for your support and caution.

[2017-06-14 17:40] #678 closed

[2017-06-14 19:11] nviets opened #752 "Cross database joins fail"
Hello,

Crossdatabase joins fail.  Please create a way to perform this type of operation.  If one exists, could you please direct me to instructions on how to use it.

Thank you,
Nathan

+   left_join(table2, by = c("id1" = "id2"))

Error: org.apache.spark.sql.AnalysisException: Table or view not found: table1; line 3 pos 5
	at org.apache.spark.sql.catalyst.analysis.package$AnalysisErrorAt.failAna

[2017-06-15 01:19] javierluraschi commented on #532
@Dripdrop12 found a way to repropduce this issue in EC2+Conda+R, the problem was a `hostname` mismatch. The fix for this issue is to run `hostname` and then include this entry in `/etc/hosts` mapped to localhost. A check and warning has been added to `sparklyr` with [this](https://github.com/rstudio/sparklyr/pull/753) change.

[2017-06-15 01:19] #532 closed

[2017-06-15 09:51] hansharhoff commented on #333
I can confirm the inability to use copy_to with the documentation examples.

[code]
Outputs:

  Failed to execute Livy statement with error: java.lang.ClassFormatError: Unknown constant tag 102 in class file $iwC$$iwC$$iwC$$iwC$$iwC$$iwC$$iwC$$iwC$$iwC$$iwC$$iwC$$iwC$$iwC$$iwC$$iwC$$iwC$$iwC$$iwC$$iwC$$iwC$$iwC$$iwC$$iwC$$iwC$$iwC$$iwC$$iwC

The batting example also fails:

 Error in force(code) :

[2017-06-15 13:09] Dripdrop12 commented on #532
Thank you @Javier. Much appreciated.

Jon

From: Javier Luraschi [mailto:notifications@github.com]
Sent: Wednesday, June 14, 2017 9:20 PM
To: rstudio/sparklyr <sparklyr@noreply.github.com>
Cc: Jonathan Hill <hill@ficonsulting.com>; Mention <mention@noreply.github.com>
Subject: Re: [rstudio/sparklyr] warning messages and fail to connect to Spark locally (#532)

@Dripdrop12<https://github.com/dripdr

[2017-06-15 17:54] randomgambit commented on #747
@ray-p144 I am using 86_64-ubuntu14-linux-gnu (64-bit), how can I get the development version of sparklyr? I cannot have devtools installed....

Thanks!

[2017-06-15 18:09] randomgambit commented on #747
the reason why I am asking is that I get the same error with `0.5.6` on Cran .. Thanks!

[2017-06-15 20:00] randomgambit opened #754 "error when converting millisecond timestamps?"
Hello,

I am using more and more this amazing package for data analysis!
 I loaded a dataframe with `spark_read_csv` and the data looks like

[code]

I want to convert the Date string to a timestamp, and change its timezone.

I am able to do use the Hive date functions (https://cwiki.apache.org/confluence/display/Hive/LanguageManual+UDF#LanguageManualUDF-DateFunctions) by typing

 `mutate( mytime

[2017-06-15 23:02] javierluraschi commented on #354
There is a fix for the `newInstance0` affecting windows, it is not clear to me from this thread if you are using Windows. If you are, please retry with latest version of sparklyr using `devtool::install_github("rstudio/sparklyr")`, if you are NOT using Windows, please feel free to reopen this issue to continue investigation. If that's the case, could you share `sessionInfo()`? Thanks.

[2017-06-15 23:32] javierluraschi commented on #98
Fix commited, please retry with `sparklyr 0.5.6-9002` or newer. You can install using `devtools::install_github("rstudio/sparklyr")`.

[2017-06-15 23:32] javierluraschi commented on #229
Fix commited, please retry with `sparklyr 0.5.6-9002` or newer. You can install using `devtools::install_github("rstudio/sparklyr")`.

[2017-06-15 23:34] javierluraschi commented on #277
Fix commited, please retry with `sparklyr 0.5.6-9002` or newer. You can install using `devtools::install_github("rstudio/sparklyr")`.

[2017-06-15 23:34] javierluraschi commented on #354
Fix commited, please retry with `sparklyr 0.5.6-9002` or newer. You can install using `devtools::install_github("rstudio/sparklyr")`.

[2017-06-15 23:34] javierluraschi commented on #397
Fix commited, please retry with `sparklyr 0.5.6-9002` or newer. You can install using `devtools::install_github("rstudio/sparklyr")`.

[2017-06-15 23:34] javierluraschi commented on #409
Fix commited, please retry with `sparklyr 0.5.6-9002` or newer. You can install using `devtools::install_github("rstudio/sparklyr")`.

[2017-06-15 23:35] javierluraschi commented on #456
Fix commited, please retry with `sparklyr 0.5.6-9002` or newer. You can install using `devtools::install_github("rstudio/sparklyr")`.

[2017-06-15 23:35] javierluraschi commented on #466
Fix commited, please retry with `sparklyr 0.5.6-9002` or newer. You can install using `devtools::install_github("rstudio/sparklyr")`.

[2017-06-15 23:35] javierluraschi commented on #497
Fix commited, please retry with `sparklyr 0.5.6-9002` or newer. You can install using `devtools::install_github("rstudio/sparklyr")`.

[2017-06-15 23:35] javierluraschi commented on #633
Fix commited, please retry with `sparklyr 0.5.6-9002` or newer. You can install using `devtools::install_github("rstudio/sparklyr")`.

[2017-06-15 23:35] javierluraschi commented on #679
Fix commited, please retry with `sparklyr 0.5.6-9002` or newer. You can install using `devtools::install_github("rstudio/sparklyr")`.

[2017-06-15 23:36] javierluraschi commented on #295
Fix commited, please retry with `sparklyr 0.5.6-9002` or newer. You can install using `devtools::install_github("rstudio/sparklyr")`.

[2017-06-15 23:43] #98 closed

[2017-06-15 23:48] #229 closed

[2017-06-15 23:48] #277 closed

[2017-06-15 23:49] #354 closed

[2017-06-15 23:49] #397 closed

[2017-06-15 23:49] #409 closed

[2017-06-15 23:49] #456 closed

[2017-06-15 23:49] #466 closed

[2017-06-15 23:49] #497 closed

[2017-06-15 23:49] #633 closed

[2017-06-15 23:49] #679 closed

[2017-06-15 23:53] javierluraschi commented on #687
The problem could be that something else might be using already port `8880`. Try using instead:

[code]

[2017-06-15 23:57] javierluraschi commented on #691
Closing since this is a `sparkR` question. In `sparklyr` you want to use `copy_to(sc, documents)`.

[2017-06-15 23:57] #691 closed

[2017-06-16 00:43] javierluraschi commented on #694
@igornoberto could you rerun as:

[code]

?

[2017-06-16 00:46] javierluraschi commented on #704
Closing as duplicate of #611

[2017-06-16 00:46] #704 closed

[2017-06-16 01:02] javierluraschi commented on #703
As Kevin points out, `master = "local"` is case sensitive. For the other issue, feel free to open a new issue with full connection being performed and output log to take a look. Thanks.

[2017-06-16 01:02] #703 closed

[2017-06-16 01:03] javierluraschi commented on #713
Currently, there is an open feature request to support large uploads/downloads into Spark, we will try to get this implemented soon.

[2017-06-16 01:04] javierluraschi commented on #715
Agree!

[2017-06-16 01:18] javierluraschi commented on #726
Please retry with newest sparklyr version using `devtools::instsall_github("rstudio/sparklyr")`

[2017-06-16 02:02] #726 closed

[2017-06-16 02:40] chengvt commented on #726
Thank you for the fast response!

After reinstalling the newest sparklyr, now I have encountered another error that `SPARK_HOME` was not set.

[code]

[2017-06-16 05:30] #736 closed

[2017-06-16 07:41] abjorling commented on #687
Thank you for the help.
I actually managed to resolve this problem by downloading your latest package using devtool package as you also describe in your guide.....

[2017-06-16 07:41] #687 closed

[2017-06-16 08:46] sutapunt opened #758 "R code execution error - Error: Column 'database' must be length 1 or 1, not 0"
I tried to use R programming by using RStudio_Server_1.0.143, spark-2.1.1-bin-hadoop2.7, and sparklyr_0.5.6. When I'm running the code

library(sparklyr)
library(dplyr)
library(ggplot2)

Sys.setenv(SPARK_HOME="/usr/local/spark")
config <- spark_config()

sc <- spark_connect(master = "yarn-client", config = config)
spark_read_csv(sc, name="palo", path = "/inputs/palo-alto/201612.csv", header = TRUE

[2017-06-16 09:59] 3zhang opened #759 "How to overwrite a spark dataframe?"
As a R user, I really don't know how to do this.

[code]

I supposed the above code could overwrite the original iris table. But it just created a new one. Now I can see two iris tables with the same table name (iris) in Spark UI (storage tab) but with different memory sizes. This indicates that they are two different objects.
So how can I overwrite my computation result into the original table?

[2017-06-16 12:46] randomgambit commented on #477
Hello, I am getting the same error by simply using `spark_read_csv`. I have the latest version of `sparklyr` coming from Cran. My csvs contain text and yes, they may contain missing values. How can I fix that? I tried to get the current master but I only see a zip file (I am on linux with limited admin rights)

[2017-06-16 13:36] randomgambit commented on #758
I am getting the same error using Rstudio. Related https://github.com/rstudio/sparklyr/issues/477 and https://github.com/rstudio/sparklyr/issues/747

[2017-06-16 13:41] randomgambit opened #760 "filter() not working in sparklyr after a group-by?"
Hello,

I am reading a csv using `spark_read_csv` and it seems I cannot use the filter function. What I am trying to do is simple, group by a character variable and take the first observation is each group

[code]

Unfortunately

[code]

and

[code]

are these bugs? Am I missing something? I am using the latest versions

`dbplyr_1.0.0    lubridate_1.5.6 h2o_3.10.4.8    dplyr_0.7.0     sparklyr_0.5

[2017-06-16 15:32] kevinykuo commented on #747
@randomgambit does `install.packages("devtools")` not work for you or is your sysadmin not willing to install the linux dependencies?

[2017-06-16 15:44] randomgambit commented on #760
Specifying a variable in `row_number()` seems to work without errors but then the output of the filtering depends on which variable is chosen.

That is, `filter(row_number(another_var) == 2)` will return the second non-missing row for another_var, which is not what I want. I want the second row irrelevant of missing values anywhere..

Thanks!!