[2016-05-24 16:12] javierluraschi opened #1 "Remove install token from README and fix history"
Need to only remove token since user is scoped.

[2016-05-24 19:33] hadley opened #2 "R CMD check notes"
- Non-standard files/directories found at top level - you can just `.Rbuildignore` these
- Unexported objects imported by ':::' calls: can you file an issue on dplyr so I export these for you?
- checking R code for possible problems: you need to use `utils::browseURL()` instead of (e.g.) `browseURL()`
- Found the following assignments to the global environment: I'm not sure why you're assigning in

[2016-05-25 11:46] #1 closed, assigned to javierluraschi

[2016-05-31 05:19] #2 closed, assigned to nobody

[2016-06-01 18:44] kevinushey opened #5 "provide more user feedback in 'spark_install'?"
E.g. report what version(s) of components are being installed; or perhaps just what URL is being queried for download; report where the downloaded components have been installed?

[2016-06-01 19:38] kevinushey opened #6 "provide `spark_invoke_ctor` as alias to `spark_invoke(..., "<init>")`"
Re: discussion with @javierluraschi.

[2016-06-01 22:15] kevinushey opened #7 "improve error reporting from `spark_invoke`"
Failing `spark_invoke()` queries often return something like:

[code]

Hopefully there is an error message that we can be capturing somewhere.

[2016-06-02 21:35] #7 closed, assigned to nobody

[2016-06-02 21:37] #6 closed, assigned to nobody

[2016-06-02 21:56] #5 closed, assigned to nobody

[2016-06-02 23:46] kevinushey opened #8 "consider making R6 / simple wrapper classes for common jobj types"
E.g. it would be useful to have a wrapper class for some Spark objects (e.g. `org.apache.spark.sql.Dataset`); the R6 class would basically provide a nicer interface on top of a `jobj` with methods farming out to appropriate `spark_invoke` calls.

[2016-06-03 16:58] kevinushey opened #9 "handle '.' in names"
It looks like Spark SQL doesn't handle `.`s in column names -- I've seen some strange errors when attempting queries on data sets (e.g. `iris` containing `Sepal.Length`).

SparkR also has a note about this: https://github.com/apache/spark/blob/master/R/pkg/R/SQLContext.R#L182-L190

We should consider sanitizing / warning when copying these data sets to Spark.

[2016-06-07 01:11] kevinushey opened #10 "improve performance of 'scala => R' object transfer"
Currently, transferring large vectors (e.g. as in `spark_collect()`) is very slow as the items are marshalled as lists of lists, and this results in a lot of unneeded code execution. This would be a lot faster if we could send column vectors over the wire, rather than objects / rows piece-by-piece.

[2016-06-07 14:10] #9 closed, assigned to nobody

[2016-06-07 19:08] jjallaire opened #12 "shiny reactives for structured streaming"
Just learned about structured streaming in Spark 2.0 where you can compose queries and then ask that their results be streamed in realtime to another table. Seems like it might be possible to have a dplyr pipeline feed into a structured stream and then have a shiny reactive bound to the resulting data frame.

[2016-06-07 21:00] #10 closed, assigned to nobody

[2016-06-08 21:29] trestletech opened #13 "readme notes"
In the README.Rmd, line 23 mentions the `spark` package. Even if the name is subject to change, I think saying that you need to install "spark" is misleading.

I had copied and pasted the chunk related to importing tables in all at once. The result was:

[code]

Of course, I just need the associated packages. But the most prominent error is a stack trace of Spark which is a jarring first experienc

[2016-06-09 17:17] kevinushey opened #14 "printing a 'spark_tbl' reports logical columns as character"
E.g.

[code]

Printing this gives

[code]

It looks like the column is properly stored as logical; we're just reporting the type incorrectly.

[2016-06-09 17:25] kevinushey opened #15 "no longer able to create 'sql_context' from 'sc'"
The following code fails on master (was working before);

[code]

Has something changed on how we can retrieve the `SQLContext` Spark object?

[code]

[2016-06-09 17:47] kevinushey opened #16 "cannot cast columns to `numeric` on creation"
E.g.

[code]

That cast probably needs to be `DOUBLE`, not `NUMERIC`, but `as.double()` does not appear to be supported for SQL generation either.

[2016-06-09 19:07] #16 closed, assigned to nobody

[2016-06-14 20:01] kevinushey opened #17 "consider exposing ml transformation utilities"
@javierluraschi pointed out that Spark provides a number of utilities for transforming Spark DataFrames:

http://spark.apache.org/docs/latest/ml-features.html

We might consider exposing some of these within RSpark, just to provide some more tools (alongside the dplyr SQL interface) for transforming Spark DataFrames. (Note that power users could potentially access them just through the `spark_invo

[2016-06-15 14:41] trestletech opened #18 "key file naming too particular"
When deploying a cluster, it seems that the key file needs to be named in a special way. When I ran the below, using a key file named `jeff-allen-rstudio-ec2.pem`, I got an error. When I renamed this file to simple `jeff-allen` (which matches the name that EC2 has for this key), then things seemed to work.

We should at least document this restriction if we can't fix it. Alternatively we could tak

[2016-06-15 14:43] trestletech opened #19 "Can we pick a more general default instance size"
When deploying the default cluster, I get the following error:

[code]

Is there another instance type we could use that would be available across more availability zones?

[2016-06-15 14:57] trestletech opened #20 "Set expectations around EC2 launch time"
I didn't time the command, but I'm guessing it took about 5 minutes for my Spark instance to come online. That may have been an outlier, but I think we should prepare people for the fact that it will take some time. The output "SSH connection error" is pretty ominous. So if we expect 5+ of those messages, we might have a more friendly message, at least for the first few iterations.

[code]

[2016-06-15 21:34] kevinushey opened #22 "`collect()` fails when one column returns to R as a jobj"
Repro:

[code]

Prints the error:

[code]

This occurs because the newly-created `assembled` column is actually a `list-of-lists` column, which apparently gets serialized as a `jobj`. We should see if we can read this back as a list-of-lists.

[2016-06-16 13:44] trestletech opened #24 "Expand time for file to appear?"
When running on the EC2 node, I got the following error

[code]

Manual inspection later showed that there was a file at `/tmp/RtmpiNds1X/file24a57c45b35.out`.

The box has been running a little sluggishly, so I'm guessing it just took to long for it to appear.

I ran the command again and it worked fine the second time.

[2016-06-16 18:56] kevinushey opened #25 "implement 'summary()' for ml_ routines"
These should produce output similar to the associated R routine when possible.

[2016-06-16 20:53] trestletech opened #26 "Support hadoop 1.x in spark_install"
EC2 spark requires Hadoop 1 to work properly. Currently you have to download that yourself and use `spark_install_tar()`. It would be nice to have this available in `spark_install()`.

Related issue: It’s really hard to figure out what the available versions of Hadoop are. Could we use an array of valid options for `hadoop_versions` in `spark_install` and combine with match.args()?

[2016-06-16 21:18] #8 closed, assigned to nobody

[2016-06-16 21:35] #15 closed, assigned to javierluraschi

[2016-06-16 21:36] #17 closed, assigned to nobody

[2016-06-17 18:05] trestletech opened #27 "sample_n w/o collect fails"
if `sample_n()` is not _immediately_ followed by a `collect()`, you get an error.

[code]

The error is:

[code]

[2016-06-18 01:11] #27 closed, assigned to nobody

[2016-06-21 18:06] kevinushey opened #30 "write methods should take 'sparkapi_jobj', not 'jobj'"
[code]

@javierluraschi, can you take a look?

[2016-06-21 20:06] #30 closed, assigned to nobody

[2016-06-21 20:08] #20 closed, assigned to nobody

[2016-06-21 20:09] #24 closed, assigned to nobody

[2016-06-21 20:10] #19 closed, assigned to nobody

[2016-06-21 20:11] #18 closed, assigned to nobody

[2016-06-21 20:27] kevinushey opened #31 "`spark_connect()` doesn't detect version change on multiple calls"
E.g.

[code]

This prints `TRUE`, but I would expect `sc2` to be a separate connection.

[2016-06-21 21:51] #31 closed, assigned to nobody

[2016-06-22 18:36] trestletech opened #32 "SQL Parsing error"
Dataset was originally downloaded from https://data.cityofnewyork.us/Public-Safety/NYPD-Motor-Vehicle-Collisions/h9gi-nx95, but it's kind of large. Here's a sample of just 100 rows -- I haven't tried to repro on just this sample, but I assume it would behave the same. https://www.dropbox.com/s/ishbfgng1c727ox/sample-nypd.csv?dl=0

[code]

Log file:

[code]

[2016-06-22 20:01] jjallaire opened #33 "restore version and appname checks for idempontent connections"
See: https://github.com/rstudio/sparklyr/commit/ca8312084bade9c26b5951e66462f6394bfa4cb7

We need to update the connection viewer protocol to have an opaque id in addition to a host.

[2016-06-23 13:16] trestletech opened #34 "invalid versions in `spark_install()` produce unhelpful error"
[code]

It's not obvious to look in `spark_available_versions()` for the right incantation.

[2016-06-23 13:29] #32 closed, assigned to nobody

[2016-06-23 21:48] kevinushey opened #35 "provide mechanism for `cbind`ing Spark DataFrames"
Use case from @trestletech -- it would be nice if we could take a model fit, get the predictions from the associated fit, and 'attach' them to an existing Spark DataFrame (ie, the dataset used for computing predictions)

I can see a couple ways forward:

1. Implement `sdf_predict` as a lower-level mechanism for getting the predicted Spark DataFrame,
2. Implement `sdf_cbind`, and allow it to accept

[2016-06-24 17:54] kevinushey opened #36 "consider refactoring 'spark_api' family of functions"
It's often not clear to me what a particular `spark_api_*` function does; in particular, it always takes me a few minutes to figure out what the function accepts, and what the function returns, when I can use it, etc.

The word `api` in this context is not particularly evocative, so I hope we can choose more informative names. For functions that return a (static) `jobj` attached to `sc` or its ass

[2016-06-24 18:48] fereshtehRS opened #37 "ClassCastException using copy_to with "flights" data in cluster mode"
- Connect to Spark cluster on EC2
- Run:

[code]

This takes a long time, and eventually comes back with this error:

[code]

- The error is caused by the last column of `flights` (`time_hour`). Try `copy_to` the `flights` data without that column:
[code]

This works fine (still takes long; about 9 minutes)

[2016-06-25 00:19] jjallaire opened #38 "strange bug when attempting to run Spark code after session restart"
[code]

Try the following:
1. Run the code,
2. Restart the R session,
3. Run the code again.

You should see the output:

[code]

Notice that the second copy_to attempt fails.

I also notice that on the session restart, it appears 'sparklyr' is loaded and attached -- likely in response to an attempt to restore 'mtcars_tbl' to the current session. Perhaps there is a package load order fiasco of som

[2016-06-25 00:20] #38 closed, assigned to nobody

[2016-06-25 06:36] #12 closed, assigned to nobody

[2016-06-27 16:02] jjallaire opened #42 "add support for running on windows"
Currently running on Windows is possible but impractical due to the requirements associated with setting file permissions for Hive (it requires download of cygwin utilities and their required MSVC runtime DLLs then executing some commands within the Windows console). See this PR for details: https://github.com/rstudio/sparklyr/pull/39

In order to head off the confusion and hemorrhaging of time wh

[2016-06-27 18:00] #42 closed, assigned to nobody

[2016-06-27 23:27] fereshtehRS commented on #37
Verified the fix

[2016-06-27 23:27] #37 closed

[2016-06-28 17:30] dfalty opened #45 "Error on spark_connect() after installing msvc redistributable without restarting RStudio"
Windows 10
v0.99.1243
sparklyr 0.2.7

Error on spark_connect() after installing Microsoft Visual C++ redistributable without restarting RStudio.

Steps:
1. Install sparklyr
2. Try connecting to spark
`sc <- spark_connect(master = "local")`
3. Observe message to install msvc
4. Install msvc redistributable
5. Go back to RStudio and try to run the same spark_connect() command
6. Observe error

[code

[2016-06-28 17:57] dfalty opened #47 "Error when installing sparklyr if dplyr was not installed first"
Windows 10
v0.99.1243
sparklyr 0.2.7

Error when installing sparklyr if dplyr was not installed first. Installation works fine if tibble or dplyr are installed first.

Steps:
1. Install sparklyr with not having dplyr installed
`devtools::install_github("rstudio/sparklyr")
2. Observe the following error
[code]

[2016-06-29 09:58] FrissAnalytics opened #48 "error when creating a spark connection in windows 7"
Hi,

after successfully installing the latest RSTUDIO dev version (0.99.1246), and installing the `sparklyr` package I get an error when I try to create a spark connection:

[code]

results in
[code]

if I run the last command again i.e. `sc <- spark_connect(master = "local")` the code executes without generating an error. However, when I then try to read for instance the iris set I get another er

[2016-06-29 14:11] javierluraschi commented on #48
@FrissAnalytics we based our QA for this first release in Windows 10; therefore, that would be a well-known path to get sparklyr running on windows. However, to unblock yourself in Win7, please try running:

`c:\tmp\hadoop\bin\winutils.exe chmod 777 c:\tmp\hive`

and to validate this has worked, run:

`c:\tmp\hadoop\bin\winutils.exe ls c:\tmp\hive`

and validate the permissions change to `drwxrwxr

[2016-06-29 14:18] javierluraschi commented on #48
@FrissAnalytics also, which version of Windows 7 are you running? x64? Ultimate?

[2016-06-29 14:39] FrissAnalytics commented on #48
Hi,

when I run the two commands you suggest via cmd on Windows I get an error message after the second command:

`FindFileOwnerAndPermission error (1789): The trust relationship between this workstation and the primary domain failed.`

I'm running Windows 7 professional, system-type: 64-bit, processor: Intel Core i7, with 8 GB RAM.

[2016-06-29 14:40] javierluraschi opened #49 "need to improve experience while failing to connect to cluster"
Currently, while connecting to a cluster, if something fails the `spark_log` is not printed and since the connection is invalid (say, bad master specified), there is no way for the user to trigger `spark_log(sc)`.

[2016-06-29 15:22] dselivanov opened #50 "Working with YARN cluster in client mode"
How to connect to yarn cluster in `yarn-client` mode?
With `SparkR` my connection looks like:
[code]

[2016-06-29 15:35] javierluraschi commented on #50
sc <- spark_connect(master = "yarn-client")

with the SPARK_HOME pointing to the right spark directory?

To pass the config values you can use the config parameter in spark_connect or the config.yaml file based on the template included in inst/config

[2016-06-29 15:42] dfalty opened #51 "Error on spark_connect on Windows when username has a space in it"
Windows 7
v0.99.1246
sparklyr 0.2.7

Error on spark_connect on Windows when username has a space in it.

[code]

When trying to run `"C:\Users\Darby Hadley\AppData\Local\rstudio\spark\Cache\spark-1.6.1-bin-hadoop2.6\bin\spark-shell.cmd"` I get `C:\Users\Darby' is not recognized as an internal or external command,
operable program or batch file.`

[2016-06-29 15:42] dselivanov commented on #50
Indeed, it works. When I tried to connect first time, for some reason it get stuck for several minutes. `spark_log` also  showed nothing, so I decided to ask...
But now it works fine. Thank you, closing.

[2016-06-29 15:42] #50 closed

[2016-06-29 15:58] javierluraschi commented on #48
Is your machine part of a windows domain? There might be restrictions from your system administrator in place.

Regardless, this sounds like this problem: http://stackoverflow.com/questions/37796004/winutils-exe-chmod-command-doesnt-set-permission

Which is an issue from running spark in Windows rather than the `sparklyr` package. That said, you might be able to unblock this by changing the permis

[2016-06-29 16:16] fereshtehRS opened #52 "Error on "reached elapsed time limit" when reloading R session in a cluster"
- Installed `sparklyr` 0.2.7 (commit ca52f8700c09183feb596bc465760b51e660953d) in the AWS cluster environment
- Restarting R session after install was complete gave this error:

[code]

and every time I restart I get a variation of that error:

[code]

[2016-06-29 16:44] javierluraschi commented on #52
Would you mind setting and environment for us where this reproes and give @kevinushey and me access to it?

[2016-06-29 18:04] FrissAnalytics commented on #48
unfortunately it still doesn't work. I've manually set all permissions for both the hadoop and hive folders in the tmp folder by right clicking on the folders, going to Properties, go to Security and subsequently set all Permissions (allowed all items). Tomorrow I'll talk to someone from the system administration at my company to see if they know more. If I know what it is I'll post the solution h

[2016-06-29 18:08] javierluraschi commented on #48
Sounds good. BTW. Are you planning to connect into an Spark cluster that already exists in your organization? If you are connecting into an existing cluster, you would not have to figure out this issue, instead, you would set `spark_connect(master = "<admin-provided-master-url">)`. Otherwise, if you are planning to start with a local cluster then this issue still would have to get sorted out.

[2016-06-29 21:23] cinkie opened #53 "Error when installing sparklyr, error in curl: timeout was reached"
When I tried to install sparklyr this message came out. It's still there even I tried
`options(download.file.method = "wininet") ` or reset proxy

`Error in curl::curl_fetch_disk(url, x$path, handle = handle) :
  Timeout was reached`

[2016-06-29 21:36] fereshtehRS opened #54 "Some issues related to copy_to() and flights data in a cluster environment"
I don't really know how the cluster interactions are different than when we run locally. But I have had some observations and will mention them here for the record, and the possibility that there might be an issue.

I have tried this on 2 different cluster setups:

1) AWS:
one master and 1 worker node
instances are m3.medium, 3.75G RAM

- start with a fresh R session (RSP running on the master nod

[2016-06-29 22:02] javierluraschi commented on #53
@cinkie which version of http and curl you have? You can run: `packageVersion("curl")` and `packageVersion("httr")`

[2016-06-29 22:09] javierluraschi commented on #53
@cinkie Could you please which command did you run with parameters included and the full original error without overriding `download.file.method`?

[2016-06-30 01:07] TaylorAndrew opened #55 "persistent spark path"
Not sure if this is an Rstudio preview or sparklyr issue or something that is/should be done in the base R.

I have spark located at say: C:/Spark1_6/

I can specify:

    Sys.setenv(SPARK_HOME = 'C:/Spark1_6/')
    library(sparklyr)
    spark_connect(master = 'local')

To connect to spark in that location.

But if I restart I cannot connect. It would be nice if rstudio could save this environment

[2016-06-30 01:15] javierluraschi commented on #55
You can set this persistently as a global Windows environment variable using this form R:

```system2("SETX", c("HADOOP_HOME", "<path>"))```

Or using the Windows UI. Please close issue once you verify this works for you.

[2016-06-30 01:36] TaylorAndrew commented on #55
It actually not working. When I use

    system2("SETX", c("HADOOP_HOME", "<path>"))

It is not changing the path, as investigated with `Sys.getenv()` whereas when I use `Sys.setenv()` it does change when I look at `Sys.getenv()`, though only temporarily.

It seems like this is not a sparklyr issue though, so I will still be closing it.

[2016-06-30 01:54] #55 closed

[2016-06-30 02:47] javierluraschi commented on #55
@TaylorAndrew with SETX you would need an rsession restart, but agree, setting this global environment variable is not and issue in sparklyr, thanks for closing.

[2016-06-30 09:49] koaning opened #56 "install error on mac: subscript out of bounds"
With devtools preinstalled, the install gives an error.

[code]

I can download the zipball from the direct link. The local install gave other errors.

[code]

[2016-06-30 13:24] javierluraschi commented on #56
@koaning One workaround is to install each dependency explicitly, but thanks for bringing this up.

@kevinushey @jimhester: Are there cases in which dependencies from devtools won't auto-install? Is there something worth considering changing in sparklyr to automate this during te install?

[2016-06-30 13:31] koaning commented on #56
To anybody installing this manually: `sparkapi` can be installed via

[code]

`rappdirs` and `config` appear to be on CRAN.

[2016-06-30 13:33] koaning commented on #56
Can confirm that the manual workaround seems to work.

[2016-06-30 13:37] jjallaire commented on #55
I would set the environment variable within .Rprofile or .Renviron

On Wed, Jun 29, 2016 at 7:47 PM, Javier Luraschi <notifications@github.com>
wrote:

[2016-06-30 13:43] jjallaire commented on #56
No, they'll always auto-install, however one issue is that if the version
of R is < 3.2 then there are no binaries from CRAN to install the failure
above might be encountered. I believe as of R 3.2 R will try source
packages as a fallback but that doesn't solve the problem for 3.1.

What version of R are you running?

On Thu, Jun 30, 2016 at 2:49 AM, vincent d warmerdam <
notifications@github.com>

[2016-06-30 13:44] cinkie commented on #53
[1] "wininet"

[1] ‘0.9.7’

[1] ‘1.2.0’

It could be the firewall of my work computer. I have no issue installing in my personal laptop.

[2016-06-30 13:45] javierluraschi commented on #56
Great! Thanks for validating this.

[2016-06-30 13:51] koaning opened #57 "cannot copy dataframe to spark, httr:read_csv error"
I've been able to install `sparklyr` but I seem to hit an error when copying and pasting the hello world example on http://spark.rstudio.com/index.html. This code:

[code]

I can confirm that `spark_web(sc)` and `spark_log(sc)` work. But the last line causes this error:

[code]

Apon inspecting the trace it seems like there's something being passed to `readr::read_csv` that it cannot do anything w

[2016-06-30 13:53] koaning commented on #25
Just a heads up: I submitted this ticker over a year ago.

https://issues.apache.org/jira/browse/SPARK-10520

To my knowledge some types don't have summary support in standard Spark.

[2016-06-30 13:59] jjallaire commented on #57
You may have an older version of readr (it looks like the trim_ws argument
was added in 0.2). Our DESCRIPTION doesn't state that read >= 0.2 is
required though, so it wouldn't have been upgraded on install. I'll change
this.

On Thu, Jun 30, 2016 at 6:51 AM, vincent d warmerdam <
notifications@github.com> wrote:

[2016-06-30 15:12] javierluraschi commented on #57
JJ submitted a fix for this, it is required to uninstall and install sparklyr to pick this change. @koaning could you check this works for you and close if it does?

[2016-06-30 15:36] koaning commented on #56
This is the R version I am now running.

[code]

[2016-06-30 15:37] koaning commented on #57
[code]

No error. LTGM. Thanks.

[2016-06-30 15:37] #57 closed

[2016-06-30 15:43] koaning commented on #56
Also ... I'm really liking what I'm seeing here you guys. Nice work!

I've seen a couple of clients switch their stack from R to python in the last year because of spark (all the while complaining about the lack of a good plotting library). This new rstudio feature might just get people back on the R-bandwagon.

[2016-06-30 15:45] #49 closed

[2016-06-30 16:01] kevinushey commented on #56
Is it possible that `devtools` needs to be updated? (Perhaps it's one of the older versions that doesn't understand the `Remotes:` field?)

[2016-06-30 16:03] kevinushey commented on #56
The error here:

[code]

I'm guessing this could just be due to connectivity issues.

[2016-06-30 16:05] kevinushey commented on #54
This error:

[code]

I believe this implies that perhaps our utility JAR (`rspark_utils.jar`) was not loaded, and so Spark failed to resolve the `createDataFrame` method.

[2016-06-30 16:08] kevinushey commented on #53
Right; my best guess is that this is related to a firewall / other connectivity issues.

I assume that you are installing with `devtools::install_github()`? Note that `devtools` always uses the `curl` package for downloads; it does not respect the global `download.file` options.

[2016-06-30 16:09] kevinushey commented on #52
Also curious what objects were available in your global environment -- I've discovered that strange things  go wrong when attempting to `save()` / `load()` S4 objects.

[2016-06-30 16:13] kevinushey commented on #47
Very strange; `tibble` should be resolved in the dependency chain for `dplyr`. Are you still able to reproduce this? If so, we might just need to import `tibble` explicitly.

[2016-06-30 16:16] javierluraschi commented on #52
@kevinushey what would be an easy way for @fereshtehRS to dump her global environment here? maybe `str(as.list(.GlobalEnv))`?

[2016-06-30 16:18] kevinushey commented on #52
Yeah, that would be a simple way. If we wanted to actually inspect the objects `save.image("image.RData")` would be useful as well; may be okay as long as the objects aren't prohibitively large.

[2016-06-30 16:25] kevinushey commented on #52
Another thing -- have you set the rsession option for `limit-cpu-time-minutes`? Is it possible that this is timing out for some reason?

[2016-06-30 16:37] fereshtehRS opened #59 "Google Dataproc: Certain error conditions cause a hang in the command"
Using sparklyr 0.2.9 (but not new to this version)
- Bring up Google Dataproc Spark/Hadoop cluster
  I am using n1-standard-2, 7.5G RAM, 1 master and 2 worker nodes
  Not any change to the setup, expect for installing R,RSP, and packages
- Do the initial setup and connect to spark
  Note: I use `sc <- spark_connect(master = "yarn-client")` to connect. Connect using the hostname as master didn't wo

[2016-06-30 16:42] fereshtehRS commented on #52
@kevinushey @javierluraschi
This is not happening at the moment. But may be I can get the global environment next time that I run into the error.
I checked that environment, and `limit-cpu-time-minutes` was not set.

[2016-06-30 17:24] koaning commented on #56
i have tried it on two different wifi networks, that was not it. Upgrading `devtools` seems to have done the trick.

[2016-06-30 17:26] #56 closed

[2016-06-30 18:50] dfalty commented on #47
Yeah, I'm still getting this on the latest.

[2016-06-30 20:23] fereshtehRS commented on #52
This might be a generic IDE warning; nothing to do with sparklyr.
I was doing something else in the IDE, and got this:

[code]

[2016-06-30 20:38] kevinushey commented on #52
@fereshtehRS, can you please execute this code so we can see what's going on?

    trace(setTimeLimit, quote(cat(paste("-", sys.calls(), collapse = "\n"))))

Hopefully, you should see a call stack printed to the console whenever `setTimeLimit` is called, and we can see where it's being called from. (I believe this is the function responsible for that message)

[2016-06-30 21:07] fereshtehRS commented on #52
@kevinushey I set that in my IDE Desktop, and ran an R script, which produced a very long debug output. The end part of that is: (let me know if you want to see everything in the console)

[code]

Right after this I ran a head() command, and that caused the warning, but no debug messages:

[code]

[2016-07-01 03:10] TaylorAndrew opened #60 "Add .toPMML spark methods for MLlib into sparklyr"
I'm trying export my models as PMML. In scala one would use

myModel.toPMML("./myModelPMML.xml")

I'm not currently seeing a way to do this, nor a way to 'inject' raw scala so that I could do it myself, similar to how I can use `ft_sql_transformer()` to submit raw sql to the SparkSQL database instead of using dplyr language.

Are either of these two options possible currently, or are they on the h

[2016-07-01 04:27] kevinushey commented on #60
You should be able to do this 'by hand', with something like:

[code]

Note that `sparkapi::invoke` basically gives you access to the Scala API for any Spark object (represented as a proxy `jobj` on the R side) so this should get you going in the right direction.

Is this a common enough action that it would make sense to expose a function / API on the `sparklyr` side?

[2016-07-01 06:16] TaylorAndrew commented on #60
I'll keep playing with `sparkapi::invoke()` but at this moment I wasn't able to get it to work.

Instead of saving to xml, I just tried the simplest option, to print to the console.

I created a kmeans cluster model:

    kmeans <- ml_kmeans(kmeans_tbl, 3)

    sparkapi::invoke(kmeans$.model, ".toPMML")

Should conceptually print the PMML model to the console, but instead I get:

     Warning in r

[2016-07-01 06:29] kevinushey commented on #60
Gotcha -- it sounds like we should think of implementing something like `ml_model_save(..., format = "PMML")` and `ml_model_load(...)`, perhaps?

I'm less sure about the spark log problem -- perhaps that file is being creating by Spark, which is being running with elevated permissions / alternate permissions and hence isn't user accessible. @javierluraschi, does that sound correct?

[2016-07-01 13:12] jjallaire commented on #60
The log problem is a red herring (on Windows we can't currently access the
log because it's locked exclusively by the spark shell (we need to find a
workaround for this).

In terms of saving and loading models, I believe that Spark 2.0 now enables
you to save and load models to e.g. HDFS in some sort of native form so we
should be sure to support this alongside PPML.

On Thu, Jun 30, 2016 at 11:16

[2016-07-01 14:02] javierluraschi commented on #60
@TaylorAndrew The call should not contain a `.` on it. Try this instead `sparkapi::invoke(kmeans$.model, "toPMML") `.

[2016-07-01 14:04] jjallaire commented on #60
Javier, shouldn't our model objects implement the spark_jobj S3 method so
that accessing the .model property directly isn't required (i.e. just pass
the kmeans object directly to invoke?

On Fri, Jul 1, 2016 at 7:02 AM, Javier Luraschi <notifications@github.com>
wrote:

[2016-07-01 14:31] javierluraschi opened #61 "Add ability to invoke extended scala methods directly over the model object"
From @jjallaire:

[code]

[2016-07-01 14:32] javierluraschi commented on #60
@jjallaire yes, that would be a good addition. Opened: https://github.com/rstudio/sparklyr/issues/61

[2016-07-01 14:47] javierluraschi opened #62 "Fix `spark_log` and `spark_web` in windows environment"
By default, windows locks files which currently causes an error while reading the Spark log file during `spark_log`, fixing this would also fix `spark_web`

[2016-07-01 17:40] JosiahParry opened #65 "`ml_logistic_regression()` throws error regarding null values even after using na.omit"
Printed are the first 10 rows of data

[code]

`spark_logit_loan <- loan_data_tbl %>% ml_logistic_regression(response = "loan_status", features = c("loan_amnt", "age", "emp_length"))`

This throws error. I then used `loan_data_tbl %>% na.omit() %>% ml_logistic_regression()` same error. Is this because of variable class? If so there needs to be documentation about how to change the classes.

Data a

[2016-07-01 18:37] slopp commented on #65
Josiah - interesting test analysis. This error isn't because of the variable class, but is caused by NA values in emp_length. The second error is because na.omit() is not a known function in Spark (though it may be worth implementing). In your case this will work:

[code]

For your wine example, in addition to creating  a binary variable with dplyr's mutate, you could also use one of Sparks featur

[2016-07-01 21:53] #61 closed

[2016-07-01 22:11] kevinushey commented on #60
Hrm, to my surprise, even though this appears to be exported on the Scala side, it seems like we can't access it from the RBackendHandler. Perhaps because [PMMLExportable](https://spark.apache.org/docs/1.6.1/api/scala/index.html#org.apache.spark.mllib.pmml.PMMLExportable) is part of the so-called 'developer API'?

We might have to dig a bit more to make this work, unfortunately.

[2016-07-01 22:39] JosiahParry commented on #65
okay, thank you for the clarification. I was reading the documentation for `ft_string_indexer()` and I thought that it would create values such as 0, 1, 2, ... etc. I will try this.

Also, important to me was the output of the regressions. I couldn't find significance levels in the output of the model. Maybe I missed them.

[2016-07-01 22:42] kevinushey commented on #60
Ahhh, I know what's going on. We use the `ml` package of algorithms for model fitting; not `mllib`. Unfortunately, the models returned by routines in the `ml` package do not implement the `PMMLExportable` interface, and so those methods are not available.

It looks like it's still possible to save these ML model objects; just not as PMML. :-/

[2016-07-01 23:09] kevinushey commented on #65
To the best of my knowledge, that information won't be available until Spark 2.0.0, and that will be in the `GeneralizedLinearRegression` class (as opposed to the `LogisticRegression` class, which we currently use)

https://spark.apache.org/docs/2.0.0-preview/api/scala/index.html#org.apache.spark.ml.classification.BinaryLogisticRegressionSummary

https://spark.apache.org/docs/2.0.0-preview/api/sca

[2016-07-02 02:21] JosiahParry opened #66 "`collect.tbl_spark()` is in package description but says can't be found in console."
`> collect.tbl_spark()
Error: could not find function "collect.tbl_spark"`

but `?collect.tbl_spark()` brings up the documentation.

[2016-07-02 14:38] JosiahParry opened #67 "Can't create confusion matrix using `table()` with sdf objects."
This is because I cannot select certain columns of a spark dataframe.

[2016-07-02 14:45] javierluraschi commented on #66
@JosiahParry `collect.tbl_spark()` is an internal function, instead, we should always use `collect()` which is defined in `dplyr`.  Have you already run `library(dplyr)`?

[2016-07-02 15:28] JosiahParry commented on #67
I can create the confusion matrix after using `collect()`and creating a local df. is this the best way to do it?

[2016-07-02 15:56] javierluraschi commented on #67
@JosiahParry If the input data to the confusion matrix is small enough to fit into your machine, then, yes, that's a good way to do it: `collect()` then build the confusion matrix.

However, if the input data is not small enough to fix into your machine, let us know to help unblock this.

Some more context: Spark provides a way to calculate a confusion matrix (see https://spark.apache.org/docs/2.0

[2016-07-02 16:32] #67 closed

[2016-07-02 18:15] JosiahParry commented on #66
collect works. Based on documentation I thought `collect.tbl_spark()` was the equivalent for sparklyr. similar to how I would use `sdf_mutate()` potentially.

[2016-07-02 19:48] hiltonmbr opened #68 "How to read csv file with delimiter = ";" using spark_read_csv() ?"
Is possible to set options such as "delimiter" or "header" to read csv files?

[2016-07-02 20:55] JosiahParry commented on #68
I got around this using the generic `read.csv()`, then used the `copy_to()`

[2016-07-02 21:08] hiltonmbr commented on #68
It may be feasible to small csv files (< 4GB), but I have a very large CSV and it can't fit on memory RAM. Therefore, how to load CSV similar to:
 df <- read.df(sc, file,
                  source = "com.databricks.spark.csv",
                  header="false",delimiter= ";",
                  nullValue="",treatEmptyValuesAsNulls="true",
                  inferSchema="true",charset="Latin1"

[2016-07-02 21:17] javierluraschi commented on #68
Thanks, this is a valid point. Let me address this as I would agree users would like to control this.

[2016-07-02 21:23] hiltonmbr commented on #68
The same suggestion is valid to the function spark_write_csv, allowing to controlling for features such as header, delimiter, chartset, codec = "org.apache.hadoop.io.compress.CompressionCodec".
https://github.com/databricks/spark-csv

[2016-07-02 22:51] #68 closed

[2016-07-02 22:51] javierluraschi commented on #68
Added support for additional options, version `0.2.12` contains the additional parameters to read and write from csv.

[2016-07-03 01:16] JosiahParry opened #70 "Documentation for `...` arg for `ml`."
`...	Other arguments passed on to methods.`

What are the other arguments we can pass?

[2016-07-03 06:18] javierluraschi opened #71 "validate or fix transmute, rename, slice and others"
@nwstephens reported the following commands have issues that need to be investigated:

dplyr functions
- transmute
- rename
- slice
- explain (i don't think there is an explain in spark sql)
- translate_sql(..., con=sc): Error in UseMethod("sql_translate_env") : no applicable method for 'sql_translate_env' applied to an object of class "spark_connection"

SQL translations
- sd should map to stddev

[2016-07-03 16:45] hiltonmbr opened #72 "How to enable mode overwrite or append in spark_write_parquet() function?"
Dear @javierluraschi,  would you mind adding support for options such as overwrite or append in spark_write_parquet() function?

On the other hand, spark_read_parquet() allows users controlling for mergeSchema = "true" or mergeSchema = "false"? I think it is an important option due to schema evolution in many data bases along time, starting with a simple schema, and gradually adding more columns t

[2016-07-04 13:48] yoonespi opened #73 "How to connect to spark?"
I installed packages sparklyr and dplyr and added a Spark pane.
But I can't connect to spark

Error in identical(scon$sconRef, NULL) : object 'scon' not found

How can I do?
Thank you.

[2016-07-04 16:38] javierluraschi commented on #73
@yoonespi are you connecting into a local cluster or remote cluster that someone already installed for you?

Are you connecting through the RStudio UI? If you are, which version of RStudio you have?

If it's a local cluster, have you already run `spark_install()`?

If this still doesn't work, please let us know: operating system and version.

[2016-07-05 03:10] yoonespi commented on #73
I tried to connect through latest version RStudio 0.99.1249.
spark version : 1.6.1
Hadoop version : 2.6
It dose not work.

[2016-07-05 09:16] MarcinKosinski opened #74 "NOTE: user should install devel version od dplyr before installing sparklyr"
I had met an issue while installing `sparklyr`

[code]

I had followed your instructions from README and your website.

So I have tried to reinstall the newest version of `dplyr` and then it worked

[code]

Maybe the `dplyr` version should be higher in `Imports` section ? https://github.com/rstudio/sparklyr/blob/master/DESCRIPTION#L70

[2016-07-05 09:18] MarcinKosinski commented on #74
Or you should add `tibble` to Imports section?

[2016-07-05 09:30] ElianoMarques opened #75 "coalesce in dataframe"
Hi,

First great package and initiative.

Noticed that some data frames calculations would still require the invoke* logic.

Just curious how would you coalesce a dataframe in this logic?

[code]
tbl1 is a dataframe.

Any thoughts?

Thanks

[2016-07-05 09:45] l4mun opened #76 "rbind(x,y) and unionAll(x,y)"
Hello,

Seems that most of Spark functions are available and it's a real pleasure.

However i'm not able to perform an rbind(x,y) with x and y being 2 data.frame with identical columns. Which is a function natively implemented in Spark (and SparkR ;) ).
I also tried:
rbind_all(x,y)
rbind_list(x,y)
bind_rows(x,y)

Any ideas?

[2016-07-05 10:00] ElianoMarques commented on #75
got it.

[code]

[2016-07-05 10:00] #75 closed

[2016-07-05 10:00] jjallaire commented on #74
Hmm....the version of dplyr is already the most recent (the one just published to CRAN). What version of devtools were you using?

[2016-07-05 12:59] MarcinKosinski commented on #74
Now I have no idea since I have upgraded dplyr to new version. Is there a way to check it (to check the history of installed versions of a package :P)?

[2016-07-05 13:00] MarcinKosinski commented on #74
But maybe this was the case I didn't have `tibble` since when I performed `dplyr` installation this was the only dependency to be installed

Downloading GitHub repo hadley/dplyr@master
from URL https://api.github.com/repos/hadley/dplyr/zipball/master
Installing dplyr
trying URL 'https://cran.rstudio.com/src/contrib/tibble_1.1.tar.gz'
Content type 'unknown' length 46526 bytes (45 KB)
==============

[2016-07-05 13:33] nicornk commented on #54
I am getting the same error on my cluster setup. I checked the logs and the rspark_utils.jar are loaded.
`16/07/05 15:28:57 INFO SparkContext: Added JAR file:/Users/********/Library/R/3.3/library/sparklyr/java/rspark_utils.jar at http://141.52.195.202:59724/jars/rspark_utils.jar with timestamp 1467725337625
`
Any idea how we can debug this further?

[2016-07-05 13:34] JosiahParry opened #77 "Creating new tbl with `sdf_partition()` doesn't show up in spark environment."
[code]

A couple things regarding this. The changes to the table do not show up in the environment, they're there and can use them in creating a model, just not visible.

Secondly I can create the `partition_tbl`, it exists, just not in the spark environment.

In addition any way to select a single column without having to use `df %>% filter()`? Perhaps like `df[ ,x]`?

[2016-07-05 15:37] TaylorAndrew opened #78 "Specify temp directory in spark_connect()"
I'm running on a corporate machine that is connected to a couple non-writable drives.

When I run:

    library(sparklyr)
    library(dplyr)
    sc <- spark_connect(master = "local")

It tries this:

    Created default hadoop bin directory under: M:\tmp\hadoop

This is a non-writable directory. Is there any way to specify a temp directory to create default hadoop bin in?

[2016-07-05 15:53] slopp commented on #77
Behind the scenes two different APIs are being used. In the mutate statement we use Spark SQL, but in the ft_* commands we use Spark Transformers.

To explicitly see the result of a Spark Transformer in the environment you have to register the table use sdf_register().

sdf_partition returns an object with two tables, train and test. Please see the docs for an example.

Currently, to select a sing

[2016-07-05 17:07] javierluraschi commented on #76
@l4mun How about using `union_all`? Example follows:

[code]

[2016-07-05 17:25] javierluraschi commented on #78
@TaylorAndrew yes in Spark, but sparklyr currently doesn't provide any helpers to make this easier to configure. I would like to move sparklyr from using the default dir `c:\tmp\hadoop` in windows into using a directory under the user account, but to unblock this yourself before this becomes supported, here is an outline of the changes you would need:

-  Create two directories, one for hadoop and

[2016-07-05 17:28] javierluraschi commented on #73
@yoonespi which operating system?

[2016-07-05 18:40] javierluraschi commented on #66
removed collect.tbl_spark from docs since it's more adequate to read dplyr documentation.

[2016-07-05 18:40] #66 closed

[2016-07-05 20:17] javierluraschi commented on #26
This was removed by JJ since we recommend to point SPARK_HOME rather than instsalling again when a hadoop/spark install is already available.

[2016-07-05 20:17] #26 closed

[2016-07-05 20:57] #14 closed

[2016-07-05 21:29] jjallaire commented on #74
Hmm...dplyr Imports tibble so it should be installed automatically.

On Tue, Jul 5, 2016 at 9:00 AM, Marcin Kosiński <notifications@github.com>
wrote:

[2016-07-05 21:52] #13 closed

[2016-07-06 01:06] fissehab opened #80 "Failed to launch Spark shell. Ports file does not exist"
Following the instructions on the website, I tried to connect to a local Spark instance:
[code]

When I try to connect to a local Spark instance using
    ` sc <- spark_connect(master = "local")`

I get the error message below:

      Error in start_shell(scon, list(), jars, packages) :
       Failed to launch Spark shell. Ports file does not exist.
       Path: C:\Users\username\AppData\Local\rst

[2016-07-06 01:19] javierluraschi commented on #80
@fissehab Could you post the output of `sys.etenv()`. Could you make sure that `C:\Windows\system32` (or whichever the path is on your system) is on the `PATH` environment variable?

[2016-07-06 01:40] fissehab commented on #80
Thank you! Adding C:\Windows\system32 to the System Variables Path solved it. Before, it was added to User variables path only.

[2016-07-06 03:16] MarcinKosinski commented on #74
Maybe the time I have installed dplyr there was no tibble package so I
didn't have it?

I only wanted to let you know what are installation issues sometimes. You
might write some FAQ about that
or give a NOTE in README.md file about that.

Or you can ignore that and close the issue :)

2016-07-05 23:29 GMT+02:00 JJ Allaire <notifications@github.com>:

[2016-07-06 10:58] ElianoMarques opened #81 "Apply functions from SparkR"
How would we do something similar to the apply functions in SparkR?

[code]

[Documentation can be found here](http://spark.apache.org/docs/2.0.0-preview/api/R/index.html).

Thank you

[2016-07-06 11:29] zedoul opened #82 "$ operator not defined for this S4 class error in spark_connect"
Hi,

Thanks for the open source! I found one error using spark_connect function as follows:

`Error in dbObj$con : $ operator not defined for this S4 class`

Here is the code

[code]

I run this code on my Mac, OSX El Capitan Version 10.11.3

[code]

I installed spark on my mac before I install sparklyr by using this command

`brew install apache-spark`

I also run spark_install function since spa

[2016-07-06 11:41] hiltonmbr opened #83 "Support for decimal separator (comma or period), skip lines and nrows ?"
Dear @javierluraschi,

I would like to know if is possible to implement the followings options in spark_read_csv() function:

dec = '.' or ',' => for numerical decimal separator (period by default)
skipline = FALSE or integer => for skip lines during csv read
nrows =  FALSE or integer => for select the number of rows to read

I think these options could help us to handle with different kinds of cs

[2016-07-06 14:40] #22 closed

[2016-07-06 15:38] koaning opened #84 "placing predicted values into spark dataframes"
As a normal R user, I am used to running a pattern like this.

[code]

This seems to not work as the `predict` function returns values back into R-land, not into spark-land. In this case you'll get an error because `sparklyr` is trying to translate the predict statement into sql.

[code]

In this case it's not such a terrible thing because the iris dataset is nice and small and the [tutorial](http

[2016-07-06 15:38] JosiahParry commented on #77
Okay, so after using `sdf_mutate()` I would pipe results to `sdf_register()`?

Like:
[code]

[2016-07-06 15:48] slopp commented on #77
Correct, but you also would supply a name argument for the table, ie:

`absences_tbl <-  absences_tbl %>% sdf_mutate(p_live_together = ft_string_indexer("Pstatus"))
%>% sdf_register("absences")`

[2016-07-06 16:50] javierluraschi commented on #81
@ElianoMarques arbitrary r-code is currently not supported in `sparklyr`. However, we do have plans to bring this in the near future. I'll keep this issue open to provide updates.

[2016-07-06 16:55] javierluraschi commented on #82
Thanks for reporting this.

[2016-07-06 17:13] javierluraschi commented on #83
Currently we have implemented reading/writing CSVs using Databricks CSV package (https://github.com/databricks/spark-csv). It is my understanding that the options you describe are not supported yet. I'll keep this issue open to explore a more comprehensive approach. In the meantime, here are a couple ideas that could help workaround this issue:

1. Fix the numeric field after reading from CSV.
2.

[2016-07-06 20:13] javierluraschi commented on #36
Refactoring completed.

[2016-07-06 20:13] #36 closed

[2016-07-06 20:15] javierluraschi commented on #82
`$dbi` was removed to favor a generic connection shared across `sparkapi`, `spark_connect`, `DBI` and `dplyr`.

[2016-07-06 20:15] #82 closed

[2016-07-06 20:22] JosiahParry commented on #77
Perf. You're the man. Loving this package. WAYYYY more accessible than SparkR.

[2016-07-06 20:26] JosiahParry commented on #77
Perhaps the partition function should automatically pipe to sdf_register?

[2016-07-06 21:21] ChangxingDou opened #85 "Error in creating Local Spark Connection, Error in instances[[scon$sconRef]] <- NULL"
R version 3.2.3 (2015-12-10)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 7 x64 (build 7601) Service Pack 1

After running "spark_install", I got error message: -----------------
sc <- spark_connect(master = 'local')
Error: java.lang.RuntimeException: java.lang.NullPointerException
	at org.apache.hadoop.hive.ql.session.SessionState.start(SessionState.java:522)
	at org.apache.sp

[2016-07-06 22:05] javierluraschi commented on #80
Glad to hear this, closing.

[2016-07-06 22:05] #80 closed

[2016-07-06 22:07] javierluraschi commented on #85
@ChangxingDou Could you uninstall/reinstall `sparklyr` and retry on the latest version? Could you also run `packageVersion("sparklyr")` and share the version with us please?

[2016-07-07 00:41] stevenwasik opened #86 "Error when running sc<-spark_connect(master = "local")"
I am running:
1. Windows 7
2. R 3.3.1
3. RStudio .99.1246
4. Spark 1.6.2 Pre-built for Hadoop 2.6

**When I run the following code:**
install.packages("devtools")
devtools::install_github("rstudio/sparklyr")
library(sparklyr)
spark_install(version = "1.6.1")
library(dplyr)
sc <- spark_connect(master = "local")

**I get the following error when I run: sc <- spark_connect(master = "local")**
_Error

[2016-07-07 02:01] javierluraschi commented on #86
@stevenwasik What about running all those attempts together from the command prompt as follows?

[code]

[2016-07-07 02:30] djmurphy420 commented on #86
I'm getting the same error as Steven on a Win 10 64-bit OS running R-3.3.1 with an i7 chip. Someone on StackOverflow posted a similar note last night and self-replied later that adding C:\System\windows32 to his path fixed the problem. I have that directory included in my system environment path and still get the error message on both a laptop and a desktop with the same OS/R configuration, both r

[2016-07-07 02:39] javierluraschi commented on #86
@djmurphy420 which version of sparklyr are you running? Could you please run `packageVersion("sparklyr")`?

[2016-07-07 02:43] javierluraschi commented on #86
@djmurphy420 if you could also run the full command in the terminal (similar to the one I suggested for Steven) that should help diagnose the error.

[2016-07-07 04:21] javierluraschi commented on #33
Fixed with a check to `app_name` and `master`. Users can specify a different `app_name` to enable more than one connection to the same cluster.

[2016-07-07 04:33] javierluraschi commented on #34
Improved.

[2016-07-07 04:33] #34 closed

[2016-07-07 04:37] javierluraschi commented on #47
A mail thread with a customer described this problem as well. Did not spent time getting to the root cause of this issue since the workaround is safe enough to implement. Importing `tibble` explicitly now.

[2016-07-07 04:37] #47 closed

[2016-07-07 04:41] javierluraschi commented on #72
Closing since the suggested parquet options are now implemented. @hiltonmbr: let us know if you find something missing or not working as you would expect regarding the `options` and `mode` parquet parameters.

[2016-07-07 04:41] #72 closed

[2016-07-07 04:46] javierluraschi commented on #74
@MarcinKosinski thanks, added `tibble` as an explicit import since people have been having issues with this. It sounds like you are unblocked so you might not be able to verify this fix, but do let us know if you spot this issue again with the latest version of sparklyr.

[2016-07-07 04:46] #74 closed

[2016-07-07 06:27] javierluraschi commented on #86
**UPDATE**: There was a regression on yesterdays build in Windows, a PR (https://github.com/rstudio/sparkapi/pull/6) is underway and should get fixed tomorrow morning. That said, there are a lot of install and connect issues in Windows that we are actively addressing. The more error information we can collect, the faster we will be able to move in this front.

[2016-07-07 09:33] ElianoMarques commented on #81
Thanks for the reply.

[2016-07-07 09:52] ElianoMarques opened #87 "setting up config"
Hi,

I'm trying to change the config of the spark environment, similar to the way we do with SparkR package.
[code]

In this package I did the following:

Inside the package folder there is a folder called config/config-template.yml and I changed that to:

[code]

then I run:

[code]

I get the following error:

[code]

Would be great if you could clarify how to define the config directly in r-stu

[2016-07-07 09:52] jjallaire commented on #33
Needs work in the IDE to implement the same check before merging.

[2016-07-07 09:55] jjallaire commented on #87
You use a config.yml file, please see these docs:

http://spark.rstudio.com/deployment.html#configuration

I'm not sure about the error but it may have already been fixed on master. @
javierluraschi
<https://github.com/rstudio/sparklyr/commits/master?author=javierluraschi> ?

On Thu, Jul 7, 2016 at 5:52 AM, Eliano Marques <notifications@github.com>
wrote:

[2016-07-07 10:07] ElianoMarques commented on #87
If we run the below or setup the config

[code]
It works. executor-memory is not part of the R settings for Spark.

Thanks for quick reply.

[2016-07-07 13:15] stevenwasik commented on #86
Thanks @javierluraschi .  I spent last night trying to install Rstudio .99.1249 (unsuccessfully...ugh).  I will go back to .99.1246 tonight and let you know what I get when I run the line of code you posted.

[2016-07-07 14:30] fereshtehRS opened #88 "Error about loaded version of sparkapi when install of sparklyr is comleted"
Using RStudio Desktop Version 0.99.1242 on Mac OS X 10_11_2

- Install `sparklyr` package from github (installing 0.2.18)
- When install is completed this message is logged:
[code]

Since we already install the required version of `sparkapi` (0.3.6 for this case), could we just reload that instead of giving error? (or prompt user for it?)

[2016-07-07 14:50] dfalty commented on #47
Just FYI, the workaround works for me too on the latest. :)

[2016-07-07 14:59] javierluraschi commented on #86
@stevenwasik the fix is unrelated to the IDE build so you can stay in the latest IDE build. The fix was performed in the `sparklyr` package, version `0.2.19` contains this fix. To get this fix please rerun:

`devtools::install_github("rstudio/sparklyr")`

Thanks again @stevenwasik and @djmurphy420 for finding and narrowing this issue.

[2016-07-07 15:29] javierluraschi commented on #87
@ElianoMarques your original `config.yml` is perfectly valid, this uncovered a minor regression on the last two days. Providing a fix...

[2016-07-07 15:55] javierluraschi commented on #87
@ElianoMarques Fixed in `0.2.20`.

In `0.2.20` you will have to pass the parameter as:

[code]

Or alternatively, if you want to read your default config file and only modify a subset of the parameters you can use:

[code]

[2016-07-07 15:55] #87 closed

[2016-07-07 16:08] ElianoMarques commented on #87
Thanks

[2016-07-07 16:36] javierluraschi commented on #51
FYI: Regression in sparkapi, fix checked in.

[2016-07-07 16:36] #51 closed

[2016-07-07 16:58] kevinushey commented on #88
@javierluraschi just bumped the required version of `sparkapi` so this should be handled now, I think:

https://github.com/rstudio/sparklyr/blob/master/DESCRIPTION#L71

[2016-07-07 17:01] kevinushey commented on #84
You should be able to use `sdf_predict()` to get the predictions back as part of a Spark DataFrame / `tbl_spark`, e.g.

[code]

Is that sufficient here?

[2016-07-07 17:05] kevinushey commented on #77
We didn't want to automatically register tables generated by `sdf_partition` as one might generate many temporary tables that they don't necessarily want to see e.g. in the Spark pane of RStudio.

We might revisit this in the future, but I think this is an acceptable compromise for now.

[2016-07-07 17:06] kevinushey commented on #73
My guess here is that the `sparklyr` / `sparkapi` packages need to be updated / reinstalled.

[2016-07-07 17:08] kevinushey commented on #70
The `...` arguments are actually unused at the moment, other than a 'secret' `only_model` parameter that's used to return a wrapper to the Spark model fitting object as opposed to the result of fitting the associated model with that object.

I'll amend the documentation to make that more clear.

[2016-07-07 17:11] #70 closed

[2016-07-07 17:31] dfalty commented on #88
This looks to be blocking me from loading sparklyr now.

`> library(sparklyr)
Error in loadNamespace(i, c(lib.loc, .libPaths()), versionCheck = vI[[i]]) :
  namespace ‘sparkapi’ 0.3.6 is already loaded, but >= 0.3.8 is required
Error: package or namespace load failed for ‘sparklyr’`

[2016-07-07 17:50] javierluraschi commented on #88
@jimhester: Any thoughts form this error? Apparently, here we are getting stuck loading `sparkapi` version `0.3.6` but running `packageVersion("sparkapi")` does show version `0.3.8`. Looping you since you might already be familiar with this error, otherwise, no worries.

[2016-07-07 17:54] dfalty commented on #88
Looks like uninstalling sparkapi, restarting the rsession, and reinstalling sparkapi fixed this for me.

[2016-07-07 17:55] javierluraschi commented on #88
@jimhester better question: Is there a way to force package reload (without having to restart the rsession) when running `devtools::install_github`?

[2016-07-07 18:05] jimhester commented on #88
It looks like this problem is the dependencies are not unloaded, only the package being installed by `devtools::install_github()`.

This will unload the sparkapi namespace directly.
[code]

[2016-07-07 18:11] javierluraschi commented on #88
Thanks @jimhester.

[2016-07-07 18:16] kevinushey commented on #88
In general, you should assume that if you're updating / reinstalling a package, you'll need to restart your R session afterwards to ensure everything works.

[2016-07-07 18:22] javierluraschi commented on #88
@fereshtehRS did restarting the rsession worked for you? If it did, we should close this one.

[2016-07-07 18:24] javierluraschi commented on #33
Fixed with @30cd44ef2f85a8d438527e9e55370165d505f790

[2016-07-07 18:24] #33 closed

[2016-07-07 18:30] javierluraschi commented on #45
Mentioning the restart in the VS redist installation instructions.

[2016-07-07 18:30] #45 closed

[2016-07-07 18:34] fereshtehRS commented on #88
@javierluraschi Restarting R session, or just loading `sparkapi` package works fine. My point was that instead of showing error, would look better to automatically unload/load the package.
This definitely is not a high priority issue. Should we just mention it in the readme?

[2016-07-07 18:51] djmurphy420 commented on #86
My session info and sparklyr version:

[1] ‘0.2.21’

R version 3.3.1 (2016-06-21)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 10 x64 (build 10586)

locale:
[1] LC_COLLATE=English_United States.1252
[2] LC_CTYPE=English_United States.1252
[3] LC_MONETARY=English_United States.1252
[4] LC_NUMERIC=C
[5] LC_TIME=English_United States.1252

As noted yesterday, I'm using RStudio pre

[2016-07-07 18:57] javierluraschi commented on #88
@fereshtehRS Yes for sure, we can add a couple lines to the README. Added already some to the install section.

[2016-07-07 19:27] javierluraschi commented on #86
@djmurphy420  Let's try to scope down this problem, could you try to connect with this command instead?

```sc <- spark_connect(master = "local", config = list())```

What this will cause is to connect without adding any additional packages (which need to be downloaded from the web) which causes issue when internet connection is not available or something else (like a proxy or firewall) blocks the

[2016-07-07 20:58] slopp opened #90 "support for data types (especially dates) in spark_read_parquet"
Posting on behalf of DTCC, please follow up with any questions in the associated email thread.

a.  df1 <- spark_read_parquet(sc,"sd_cnd_frq_inter","/user/sd_cnd_frq_inter")

Source:   query [?? x 45]

Database: spark connection master=spark://…:7077 app=sparklyr local=FALSE

[code]

1  007C6      16889    8.7000  16889      16888           1       8.3500      4.191617  735304     656673    11.974

[2016-07-07 21:29] djmurphy420 commented on #86
Latest attempt:

Error in sparkapi::start_shell(master = master, spark_home = spark_home,  :
  Failed to launch Spark shell. Ports file does not exist.
    Path: C:\Users\Dennis\AppData\Local\rstudio\spark\Cache\spark-1.6.1-bin-hadoop2.6\bin\spark-submit.cmd
    Parameters: --jars, "C:\Users\Dennis\R\win-library\3.3\sparklyr\java\rspark_utils.jar", sparkr-shell, C:\Users\Dennis\AppData\Local\Temp\

[2016-07-07 21:40] #62 closed

[2016-07-07 22:01] javierluraschi commented on #86
@djmurphy420 Thanks for trying along or this variations.

Here are a couple more things to try, each scopes down the functionality to try to find what is blocking the connection, please share the log for each of them to help troubleshoot further:

[code]

[code]

After this step, is `test.out` created on the current directory? Is it non-empty? Should contain a few non-readable characters.

[code]

[2016-07-07 22:09] javierluraschi commented on #76
@l4mun I'm assuming `union_all` is sufficient in this case, if not, feel free to reopen this issue with details on what you are trying to accomplish and I'll take another look at addressing this.

[2016-07-07 22:09] #76 closed

[2016-07-07 23:16] slopp opened #91 "Error in summary method with lasso regression"
Reproducible Example:

[code]

<details>
Session info ----------------------------------------------------------------------------
 setting  value
 version  R version 3.2.2 (2015-08-14)
 system   x86_64, linux-gnu
 ui       RStudio (0.99.1242)
 language (EN)
 collate  en_US.UTF-8
 tz       <NA>
 date     2016-07-07

Packages -------------------------------------------------------------------------

[2016-07-08 00:46] hiltonmbr commented on #83
To clarify my point, I have a large CSV file with header contains the description of variables instead of right variable names. I have tried the following:
First, read CSV without the header:

df <-  spark_read_csv(sc,name="mytable",path=myfile,
                     header=FALSE,memory=FALSE)
df

Source:   query [?? x 28]
Database: spark connection master=local[*] app=sparklyr local=TRUE
       _c

[2016-07-08 00:57] djmurphy420 commented on #86
Attempt 1:

C:\Users\Dennis\test>"C:\Users\Dennis\AppData\Local\rstudio\spark\Cache\spark-1.6.1-bin-hadoop2.6\bin\spark-submit.cmd" sparkr-shell C:\Users\Dennis\AppData\Local\Temp\RtmpwV3CiQ\file634348b6c80.out
16/07/08 00:51:02 ERROR RBackend: Server shutting down: failed with exception
java.io.FileNotFoundException: C:\Users\Dennis\AppData\Local\Temp\RtmpwV3CiQ\file634348b6c80.out.tmp (The syste

[2016-07-08 05:07] javierluraschi commented on #48
@FrissAnalytics several fixes to improve install and use in windows have been checked-in. Please try the following to attempt to get past this error:

1. Upgrade to the latest version of sparklyr, instructions here: https://github.com/rstudio/sparklyr#installation
2. Rerun `spark_install()`, optionally, specify the `version` parameter.
3. Optional, but recommended, delete the `c:\users\<user-name>

[2016-07-08 05:12] javierluraschi commented on #78
@TaylorAndrew sparklyr `0.2.22` contains a fix that avoids using the `c:\tmp` directory, it's not configurable but this should solve this problem. The following steps should get you past this issue:

1. Upgrade to the latest version of sparklyr, instructions here: https://github.com/rstudio/sparklyr#installation
2. Rerun 1spark_install()1, optionally, specify the version parameter.
3. Optional, bu

[2016-07-08 05:15] javierluraschi commented on #85
@ChangxingDou sparklyr `0.2.22` contains several fixes for windows that no longer make use for this code path. The following steps should get you past this issue:

1. Upgrade to the latest version of sparklyr, instructions here: https://github.com/rstudio/sparklyr#installation
2. Rerun 1spark_install()1, optionally, specify the version parameter.
3. Optional, but recommended, delete the `c:\Users\

[2016-07-08 05:15] #85 closed

[2016-07-08 05:25] javierluraschi commented on #86
Yes, this helps a log.

Could you try deleting the whole `Temp` directory (not just the contents) under `C:\Users\Dennis\AppData\Local\Temp`? You will have to exit RStudio and, potentially, other programs using the `Temp` dir.

More info: "Attempt 1" and "Attempt 2" only change the location of the temp file. "Attempt 1" seems to cause Spark to look for a file with extension `.out.tmp` instead of j

[2016-07-08 05:37] javierluraschi commented on #73
@yoonespi we've removed this code so you won't be hitting this particular issue anymore.

However, please open a new issue if you can't connect still and attach the output of `spark_log(sc)` for us to be able to provide a workaround or fix.

This one is a duplicate issue from: https://github.com/rstudio/sparklyr/issues/85 - Closing

[2016-07-08 05:37] #73 closed

[2016-07-08 05:39] javierluraschi commented on #88
Entry to README was added, closing.

[2016-07-08 05:39] #88 closed

[2016-07-08 05:44] javierluraschi commented on #52
@fereshtehRS I've been working my way from oldest to newest bugs and I've finally reached this point.

Could you upgrade to the latest version of spark and rerun this issue? We've been polishing package-dependency issues so I'm hoping one of them improved this as well.

If this is still an issue in the latest build, could you reming me the url/credentials through slack?

[2016-07-08 05:56] javierluraschi commented on #53
@cinkie here is another workaround:

1. Download the spark version from http://spark.apache.org/downloads.html
2. Extract into, for OSX: `/Users/<name>/Library/Caches/spark/spark-<ver>-bin-hadoop<ver>` for windows: `c:\Users\<name>\AppData\local\rstudio\spark\spark-<ver>-bin-hadoop<ver>`

This should be enough to have the manually-installed version in the IDE. You can verify this by running `spark

[2016-07-08 07:33] koaning commented on #84
d0h. didn't see the documentation on that one. my bad.

solution is perfect here.

[2016-07-08 07:33] #84 closed

[2016-07-08 09:12] l4mun commented on #76
Thank you for your help, it works. Sorry for the late answer, couldn't try it before.

I'll have a look at https://spark.apache.org/docs/1.5.1/api/R/ . Guess you based your work on it. I was looking at Spark 1.6.1 manual.

I'm thrilled about your work, thank you.

Best regards,

[2016-07-08 10:09] hiltonmbr opened #92 "How to set all column names of spark data frame?"
I have a large CSV file which header contains the description of the variables (including blank spaces and other characters) instead of valid names for parquet file. First, I have read the CSV without the header:
df <- spark_read_csv(sc,name="mytable",path=myfile,
header=FALSE,memory=FALSE)
df

Source: query [?? x 28]
Database: spark connection master=local[*] app=sparklyr local=TRUE
_c0 _c1 _c2 _

[2016-07-08 13:35] fereshtehRS commented on #52
I haven't been able to reproduce this for the past few days. Closing the ticket.

[2016-07-08 13:35] #52 closed

[2016-07-08 13:58] fereshtehRS commented on #86
@djmurphy420 What version of Java are you running? (sorry if I missed it in your earlier postings)

[2016-07-08 16:03] javierluraschi commented on #92
@hiltonmbr how about using `rename` from dplyr? For instance:

[code]

Would this work for your case?

[2016-07-08 16:52] hiltonmbr commented on #92
It does not work and returns the following errors:

df2 <- rename(df, col1 = _c0, col2 = _c1)
Error: unexpected input in "df2 <- rename(df, col1 = _"

df2 <- rename(df, col1 = "_c0", col2 = "_c1")
Error: Arguments to `rename()` must be unquoted variable names.
Arguments `col1`, `col2` are not.

df2 <- rename(df, col1 = X_c0, col2 = X_c1)

Source:   query [?? x 41]
Database: spark connection master

[2016-07-08 17:16] djmurphy420 commented on #86
I couldn't completely remove the Temp directory:

c:\Users\Dennis\AppData\Local>rm -rf Temp
rm: cannot remove 'Temp/etilqs_FcOhvRxA0UmfQxg': Device or resource busy

c:\Users\Dennis\AppData\Local>cd Temp

c:\Users\Dennis\AppData\Local\Temp>ls -l
total 32
-rwx------ 1 Dennis mkpasswd 16400 Jul  8 16:25 etilqs_FcOhvRxA0UmfQxg

I have Java 8, update 91 installed, both 32 and 64-bit. R can find it bec

[2016-07-08 17:24] pagepiccinini commented on #80
I have the same problem on a Mac, OSX 10.10.5. Is there something I should add to my path?

[2016-07-08 17:33] hiltonmbr commented on #92
Dear @javierluraschi,  my solution was:

# (1) A function to fix colnames (remove blanks and characters)
fix.names <- function(x) { ...}

# (2) Load SparkR package via sparklyr
Sys.setenv(SPARK_HOME=paste0(spark_install_dir(),"/",spark_installed_versions()$dir))
.libPaths(c(file.path(Sys.getenv("SPARK_HOME"),"R","lib"),.libPaths()))
library(SparkR)

# (3) Open a connection using SparkR
sc <- spark

[2016-07-08 18:08] javierluraschi commented on #86
@djmurphy420 restarting the machine might help unblock the deletion. However, even if we can't fully delete this directory, could you try to rerun `spark_install` and `spark_connect`? Deleting the contents might have been enough to get you unblocked.

If that doesn't work, you could manually change the permissions on `c:\Users\Dennis\AppData\Local\Temp` to allow anyone to read/write to check if th

[2016-07-08 18:11] javierluraschi commented on #80
@pagepiccinini this issue was specific to windows, please open a separate github issue to assist you with the Mac OSX 10.10.5 problem you are experiencing. On the new issue, please include the output of the console to help troubleshoot.

[2016-07-08 18:57] djmurphy420 commented on #86
Hi Javier:
I managed to delete the Temp directory after a reboot and reinstalled sparklyr, this time with Spark-1.6.2. The same problem exists:

locale:[1] LC_COLLATE=English_United States.1252  LC_CTYPE=English_United States.1252   [3] LC_MONETARY=English_United States.1252 LC_NUMERIC=C                          [5] LC_TIME=English_United States.1252    
attached base packages:[1] stats     graphi

[2016-07-08 19:26] djmurphy420 commented on #86
Hi again:
I repeated the calls from the command line and everything failed, but the messages are different:

C:\Users\Dennis\test>"C:\Users\Dennis\AppData\Local\rstudio\spark\Cache\spark-1.6.2-bin-hadoop2.6\bin\spark-submit.cmd" sparkr-shell C:\Users\Dennis\AppData\Local\Temp\RtmpwV3CiQ\file634348b6c80.outThe system cannot find the path specified.The system cannot find the file C:\Users\Dennis\App

[2016-07-08 19:54] keccah opened #93 "Error setting spark_config params"
When connecting to yarn cluster, the only param accepted is sparklyr.driver.memory. I'm setting sparklyr.num.executors and a set of other params that are being ignored by Spark config. What am I doing wrong?

[2016-07-08 19:57] kevinushey commented on #92
You might need to quote the variable names with e.g. `` `_c1` `` -- does that help?

[2016-07-08 20:04] kevinushey commented on #92
We might also want to consider setting the default column names (when no header is specified) to something like `V1`, `V2`, ..., to be more in line with what R does, and also because these will be easier to interact with / mutate from the R side.

[2016-07-08 20:06] kevinushey commented on #91
Thanks for the bug report! I'll take a look.

[2016-07-08 20:09] hiltonmbr commented on #92
It returns the same error.

df2 <- rename(df, col1 =`_c0`, col2 = `_c1`)

Source: query [?? x 41]
Database: spark connection master=local[*] app=sparklyr local=TRUE

Error: org.apache.spark.sql.AnalysisException: cannot resolve "`_c0`" given input columns: [_c20, _c19, _c18, _c29, _c30, _c8, _c27, _c26, _c14, _c0, _c38, _c15, _c3, _c39, _c36, _c35, _c37, _c17, _c5, _c11, _c31, _c33, _c6, _c25, _c3

[2016-07-08 20:11] #91 closed

[2016-07-08 20:12] hiltonmbr commented on #92
For instance, in data.table fread function, the default column names are V1, V2, .... as you pointed out.

[2016-07-08 20:19] kevinushey commented on #92
Thanks @hiltonmbr -- just to complicate matters a bit, it looks like the default column names used differ between Spark 1.6.1 and Spark 2.0.0:

[code]

versus

[code]

We should definitely normalize the names for unnamed tables so that they are consistent across Spark versions with our API.

[2016-07-08 20:28] kevinushey commented on #92
I just pushed a commit that normalizes the column names as `V1`, `V2`, ... when `header = FALSE` in `spark_read_csv`. With this, the `dplyr::rename` interface should function as you expect. Can you try reinstalling `sparklyr` from master and let us know if that fixes things for you?

    devtools::install_github('rstudio/sparklyr')

[2016-07-08 22:21] javierluraschi commented on #86
@djmurphy420 could you paste the output from `Sys.getenv()`?

[2016-07-08 22:33] javierluraschi commented on #93
@keccah The properties you intend to pass to spark-submit can be pass with the prefix `sparklyr.shell.` (for a list of available parameters see https://spark.apache.org/docs/latest/submitting-applications.html#launching-applications-with-spark-submit). For the `--num-executors` parameter you would want to pass is as:

[code]

To set parameters in the `SparkContext`, you can pass them with the pref

[2016-07-09 04:15] djmurphy420 commented on #86
On Friday, July 8, 2016 3:21 PM, Javier Luraschi <notifications@github.com> wrote:

 @djmurphy420 could you paste the output from Sys.getenv()?—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-07-09 05:02] javierluraschi commented on #86
@djmurphy420 thanks for this information, the `TEMP` and `TMP` variables are pointing to the right location.

Could you quit RStudio and relaunch RStudio with "running as an administrator", then retrying `sc <- spark_connect(master = "local")` and share the output?

"running as an administrator" is not a path that we encourage, but will help us investigate if this is a folder-permissions problem.

[2016-07-09 13:03] hiltonmbr opened #94 "Atomatically delete spark-warehouse folder or set its location on config file"
sparklyr creates a folder named "spark-warehouse" during read process of CSV files, for instance. Is there anyway to automatically delete spark-warehouse folder or set its location on config file?

Thanks.

[2016-07-10 00:24] javierluraschi commented on #94
This is reasonable, marking as feature request.

Currently we only set the warehouse directory for windows OS, see https://github.com/rstudio/sparklyr/blob/ff105bcf10378c683c116480256404316f9aed2a/R/install_spark.R#L196. Reason being that the default path is `c:\tmp\hive` which causes install issues for users with no permissions to work outside their user folder. I think a good fix here would be t

[2016-07-10 00:51] git-caprice opened #95 "Closures"
Does `sparklyr` have facilities for creating closures and/or is it possible to pre-load existing R packages to the cluster before execution?

[2016-07-10 04:23] szilard opened #96 "ml_logistic_regression does not work with categorical features"
[code]
gets:
Error: org.apache.spark.SparkException: VectorAssembler does not support the StringType type

while
[code]
is OK (difference is that `x1` is categorical in (1) and numeric in (2).

In SparkR both work:
[code]

[2016-07-10 05:26] javierluraschi opened #97 "spark_connect fails in Windows when Spark CMD files are not executable"
Some windows system configurations set CMD files to non-executable by default, see: http://yokekeong.com/running-apache-spark-with-sparklyr-and-r-in-windows/?utm_content=buffer42d8c&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer

Would be good to have this permission checked as part of the Eindows connection process.

[2016-07-10 07:56] djmurphy420 commented on #86
Hi Javier:
While running as administrator,

Dennis

    On Friday, July 8, 2016 10:02 PM, Javier Luraschi <notifications@github.com> wrote:

 @djmurphy420 thanks for this information, the TEMP and TMP variables are pointing to the right location.Could you quit RStudio and relaunch RStudio with "running as an administrator", then retrying sc <- spark_connect(master = "local") and share the output?"

[2016-07-10 15:32] campanell opened #98 "Connecting to Spark on IBM Bluemix"
I have been trying to connect to a Spark cluster on the IBM Bluemix service.   I am using R Studio on Windows 10.

`library(sparklyr)`
`library(dplyr)`

`# Spark Home Bluemix cluster`
`#Sys.setenv(SPARK_HOME = "/usr/local/src/spark160master/spark-1.6.0-bin-2.6.0")`
`# Spark Home on my local machine`
`Sys.setenv(SPARK_HOME = "C:\\\\Users\\Campanell\\AppData\\Local\\rstudio\\spark\\Cache\\spark-1.6.

[2016-07-10 15:39] slopp commented on #96
Did you try using the `ft_string_indexer` ? You should be able to do:

[code]

[2016-07-10 16:43] jjallaire commented on #96
@kevinushey What accounts for this difference in behavior from SparkR? It looks to me like y and x1 are both character vectors (not factors) so our handling seems correct (i.e. user is required to use `ft_string_indexer`). What would happen if y and x1 were in fact factors, would this then work without the `sdf_mutate`?

[2016-07-10 18:26] harryprince opened #99 "Fail to run the k-means example, I just give a right version"
I fail to run the k-means example,
http://spark.rstudio.com/mllib.html#k-means_clustering.

I find the error on here

[code]

the "NA" option is wrong. here is the correct version.

[code]

[2016-07-10 18:31] harryprince opened #100 "Fail to run the linear_regression model"
http://spark.rstudio.com/mllib.html#linear_regression
I have to add this code to prevent the error.
[code]

here is the right version
[code]

[2016-07-10 18:37] javierluraschi commented on #95
@git-caprice not yet, but soon. Please keep an eye to this issue for updates: https://github.com/rstudio/sparklyr/issues/81 - Closing this one at the moment.

[2016-07-10 18:37] #95 closed

[2016-07-10 18:59] kevinushey commented on #96
Behind the scenes, `sparklyr` uses the `ft_string_indexer` for categorical response variables; it seems like we might need to do the same for features as well. I'll take a look on Monday and confirm that `SparkR` is doing the same thing here.

[2016-07-10 19:30] kevinushey commented on #100
Thanks; I'll fix that up.

[2016-07-10 19:33] kevinushey commented on #100
Should be good to go now!

[2016-07-10 19:33] #100 closed

[2016-07-10 19:40] kevinushey commented on #99
Thanks; it looks like this is a bug in the packages we use to generate the website. UTF-8 characters seem to mangle output; somehow this line:

[code]

was getting converted to

[code]

(note that '×' here is a unicode character)

[2016-07-10 20:27] campanell commented on #98
Installed Spark 1.6.2.   No R session abort this time, but am getting a bunch of Java error messages:

Created default hadoop bin directory under: C:\Users\Campanell\AppData\Local\rstudio\spark\Cache\spark-1.6.2-bin-hadoop2.6\tmp\hadoop
Error: java.lang.NullPointerException
	at org.apache.spark.SparkContext.<init>(SparkContext.scala:583)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(N

[2016-07-10 23:08] szilard commented on #96
@slopp I'm just a spoiled R user expecting `ml_logistic_regression ` to do all that for me :) Btw that would be pretty ugly with 100 categorical features.

@kevinushey that would be great.

[2016-07-11 17:11] kevinushey commented on #99
Should be resolved now.

[2016-07-11 17:11] #99 closed

[2016-07-11 17:42] kevinushey commented on #96
It looks like this is going to take some more work to implement. IIUC, Spark is using the [`OneHotEncoder`](https://spark.apache.org/docs/latest/ml-features.html#onehotencoder) transformer to transform categorical vectors into separate binary vectors, which are then used in the model fit. (basically, as dummy variables, if I understand correctly?)

[2016-07-11 17:47] JosiahParry commented on #96
@szilard I had the same issue / response. Glad I'm not the only one.

[2016-07-11 17:52] szilard commented on #96
@kevinushey Re dummies: I guess so too, I'm not really a Spark user ;) In most stats.ML libs it's either the user (extra code) or the system (behind the scenes) that's doing the encoding, I prefer the later (less user code to write/maintain, nicer API). Looks like SparkR does it now (it was broken a few months ago), so it would be nice to match it at some point of time.

[2016-07-11 18:00] kevinushey commented on #96
Definitely agree that we should be doing this ourselves behind the scenes!

I think this code (roughly speaking) is what Spark (and hence SparkR) is using to handle categorical variables:

https://github.com/apache/spark/blob/master/mllib/src/main/scala/org/apache/spark/ml/feature/RFormula.scala#L128-L174

Basically, given a column of strings (intended to be treated as a categorical variable), we

[2016-07-11 22:00] kevinushey commented on #96
We should now handle categorical variables using a similar approach to R / SparkR. For a dummy dataset, I see:

[code]

producing

[code]

Of course, we need to preserve the original call appropriately, but this is definitely a step in the right direction.

[2016-07-11 22:21] kevinushey opened #101 "consider how reference labels should be chosen / selected for ml routines"
There's a couple over-arching things we'd like to make easily configurable:
1. Given a categorical variable `x` with some labels `yes`, `no`, etc., we should provide some mechanism for mapping labels to dummy variable names; e.g. the column such that `x == "yes"` is called `RespondedYes`, or something to that effect. This is primarily to allow for nicer model / summary output.
2. We should provide

[2016-07-11 23:20] javierluraschi commented on #86
@djmurphy420 I have a fix for you:

1) Please upgrade `sparklyr` to version `0.2.26` by running `devtools::install_github("rstudio/sparklyr")` and restarting the r session.

2) Run the following code to set the ports file to be a local file in your current directory rather than a file in the temp directory. I still don't understand why your system is having this problem in the temp directory, but

[2016-07-11 23:22] javierluraschi commented on #48
@FrissAnalytics this issue has been inactive for a few days, closing. However, if you find that the above instructions do not resolve this problem, please reactivate to recommend a different approach.

[2016-07-11 23:22] #48 closed

[2016-07-11 23:23] javierluraschi commented on #53
@cinkie I'm closing this issue since it has been inactivate for a few days. However, if you find that the last set of instructions do not resolve this issue, please reactivate to suggest a different approach.

[2016-07-11 23:25] javierluraschi commented on #78
@TaylorAndrew I'm closing this issues since it has been inactive for a few days; however, if you find out that the above instructions do not resolve this issue, please reactivate to help find a different resolution.

[2016-07-11 23:25] #78 closed

[2016-07-11 23:27] javierluraschi commented on #93
@keccah let us know if the suggestion above did not resolve this issue. I would also recommend upgrading to the latest version of sparklyr by running `devtools::install_github("rstudio/sparklyr")` followed by a restart of your r session. In the meantime, I'll be closing this issue but feel free to activate if this code doesn't work as your would expect.

[2016-07-11 23:27] #93 closed

[2016-07-11 23:50] javierluraschi opened #102 "spark_connect speed in windows can be improved by moving setx cmd to install"

[2016-07-12 00:07] #102 closed

[2016-07-12 01:44] TaylorAndrew commented on #78
I had tested it and it worked. Sorry, I meant to close it myself.

On Mon, Jul 11, 2016, 7:25 PM Javier Luraschi <notifications@github.com>
wrote:

[2016-07-12 03:34] javierluraschi commented on #78
@TaylorAndrew great, that's all that matters. Thanks for confirming this is closed.

[2016-07-12 14:33] javierluraschi opened #103 "enable spark_disconnect by master and name"
Enable:

[code]

[2016-07-12 14:47] jjallaire commented on #103
I think this would be app_name

On Tue, Jul 12, 2016 at 10:33 AM, Javier Luraschi <notifications@github.com>
wrote:

[2016-07-12 14:57] javierluraschi commented on #103
updated

[2016-07-12 16:46] kevinushey commented on #96
Closing this as implemented now; please let us know if you encounter any bugs / have other feature requests!

[2016-07-12 16:46] #96 closed

[2016-07-12 16:49] djmurphy420 commented on #86
Sorry to be the bearer of sad tidings, but not quite yet:

I really haven't done much of anything to customize Windows 10 other than to remove some of its "data acquisition" features (notably Cortana and several "security" settings for which I have installed Spybot Anti-Beacon to prevent Microsoft from changing them back every time Windows updates). Could it be that the location of the Spark insta

[2016-07-12 17:03] kevinushey opened #104 "consider how to incorporate string-related feature transformers"
We should think about what common string transformations users might want to perform on a Spark dataset, and how we could best make those accessible from R.

[2016-07-12 17:21] javierluraschi commented on #86
@djmurphy420 quick question, which is the output of `getOption("sparkapi.ports.file")`?

[2016-07-12 17:26] javierluraschi commented on #104
as in http://spark.apache.org/docs/latest/ml-features.html?

[2016-07-12 17:29] kevinushey commented on #104
Right, e.g. the [`Tokenizer`](http://spark.apache.org/docs/latest/ml-features.html#tokenizer)s. Unfortunately, those feature transformers are a bit awkward to use as-is since they return a column vector with row elements being vectors themselves, and those are awkward to interact with from the R side.

However, we might want to build an interface on top of that, for e.g. extracting data from a col

[2016-07-12 18:00] djmurphy420 commented on #86
On Tuesday, July 12, 2016 10:21 AM, Javier Luraschi <notifications@github.com> wrote:

 @djmurphy420 quick question, which is the output of getOption("sparkapi.ports.file")?—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-07-12 18:20] javierluraschi commented on #86
@djmurphy420 I see, one more fix for this. We need to repeat these steps:

1) Please upgrade sparklyr to version 0.2.26 by running devtools::install_github("rstudio/sparklyr") and restarting the r session.

2) Run the following code to set the ports file to be a local file in your current directory rather than a file in the temp directory. I still don't understand why your system is having this pr

[2016-07-12 19:40] keccah commented on #93
Still not working. The params are not being passed to Spark.

![image](https://cloud.githubusercontent.com/assets/833577/16780920/2b10638c-484f-11e6-9bc8-6f7cf0d4c1c2.png)

I'm using yarn-client as master.

First I set a number of environment variables: HADOOP_CONF_DIR, HADOOP_USER_NAME, SPARK_HOME

Then I write:
`config <- spark_config()
config[["sparklyr.shell.num-executors"]] <- 4
config[["spar

[2016-07-12 20:09] keccah commented on #93
This works. But only in SparkR (not Sparklyr).

`Sys.setenv('SPARKR_SUBMIT_ARGS'='"-v" "--packages" "com.databricks:spark-csv_2.10:1.3.0" "--conf" "spark.driver.memory=4g" "--conf" "spark.executor.memory=16g" "--conf" "spark.executor.cores=5" "--conf" "spark.executor.instances=4" "sparkr-shell"')`

Not I get all my parameters.

![image](https://cloud.githubusercontent.com/assets/833577/16781836/6f

[2016-07-12 20:32] javierluraschi commented on #93
@keccah I believe you want to use this instead:

[code]

There are a couple different ways to pass parameters into Spark:
1) Passing them through the shell, using `sparklyr.shell.*`
2) Passing them through the SparkContext, using `spark.*`
3) Passing them through the HiveContext or SessionContext, using `spark.sql.*`

Let us know how this goes.

[2016-07-12 20:42] fereshtehRS commented on #93
@keccah I am running on Google Dataproc, and followed @javierluraschi's instructions as follows:

config <- spark_config()
config[["spark.executor.memory"]] <- "4G"
sc <- spark_connect(master = "yarn-client", config = config)

With this settings and connection, I ran a job and disconnected, and then checked the environment in the job status; it was set correctly:

![spark-config](https://cloud.git

[2016-07-12 20:45] fereshtehRS commented on #93
Let us know what environment you are running on, may be there is a difference.

[2016-07-13 04:10] djmurphy420 commented on #86
The error message is accurate: Ports file does not exist. I monitored my working R directory after calling spark_connect() and no file named "ports.out" appeared/was created  in the directory, so sparkapi couldn't find it. I was curious about permissions problems, too, so I dug into the Temp directory:
PS C:\Users\Dennis\AppData\Local\Temp> Get-Acl | fl
Path   : Microsoft.PowerShell.Core\FileSyste

[2016-07-13 04:25] javierluraschi commented on #86
@djmurphy420 could you validate that running this from the windows console still creates the port file?

[code]

Just double checking since I based the fix assuming that this does work for you on the current local directory.

Additionally, I would `cd <rstudio-project-directory>` and run the command again.

Assuming this all still works. Could you delete the `ports.out` file and run the following

[2016-07-13 06:38] Benknightdark opened #105 "Can't install sparklyr"
Hello, I can't install sparlyr. And, here is my error message and R version infomation, please help me . Thanks .
![image](https://cloud.githubusercontent.com/assets/5799487/16793958/6627c768-4907-11e6-9036-3e46829933f4.png)

[2016-07-13 06:42] javierluraschi commented on #105
@Benknightdark I would recommend manually installing the `testthat` package, let us know if there is a problem afterwards.

[2016-07-13 06:50] Benknightdark commented on #105
@javierluraschi , I have installed the testthat package , but it is still output the error message
![image](https://cloud.githubusercontent.com/assets/5799487/16794260/2cd552d0-4909-11e6-8cfd-69fde294e9a9.png)

[2016-07-13 07:00] javierluraschi commented on #105
@Benknightdark try uninstalling `testthat`, reinstalling and re-starting your r session.

BTW. That `testthat` version looks really old, I'm on version`1.0.2`.

[2016-07-13 07:05] szilard commented on #96
Re-opening this because of performance issues:

Take this data: https://s3.amazonaws.com/benchm-ml--main/train-10m.csv
(airline dataset, I used it in this benchmark: https://github.com/szilard/benchm-ml/ )

[code]
 runs in 58 sec on 16 core box
 (SparkR is 54 sec)

[code]

runs forever (I stopped it after ~10mins)
also uses only 1 core

logs show things like:
[code]

[2016-07-13 07:15] Benknightdark commented on #105
@javierluraschi  I  change the R version  to 3.2.5 and update the testthat to latest version , and  install sparklyr again. But there is still error
![image](https://cloud.githubusercontent.com/assets/5799487/16794806/92887780-490c-11e6-9e55-6627dd560506.png)

[2016-07-13 07:28] javierluraschi commented on #105
@Benknightdark you are past the testthat issue. Please install the 'config' package from CRAN and the sparkapi package using:

devtools::install_github("rstudio/sparkapi")

That said, in not sure why you are hitting these issues since devtools should be installing these dependencies for you. Once we move this package to CRAN, installation will be significantly easier.

[2016-07-13 07:59] Benknightdark commented on #105
@javierluraschi ,thanks for your help .But , I install the config and sparkapi package and then install the sparklyr package , but  there is some comfused error message
![image](https://cloud.githubusercontent.com/assets/5799487/16795946/97053ad6-4912-11e6-946a-9559902a8edc.png)

I can't understand the latest DBI package version is 0.3.1, but the error message said, it need >0.3.1 version DBI pack

[2016-07-13 12:17] jjallaire commented on #96
An unrelated note, I think the `sdf_mutate` sequence can be re-written as:

[code]

i.e. a single call to `sdf_mutate` with multiple parameters. @kevinushey is that correct?

[2016-07-13 15:50] javierluraschi commented on #105
@Benknightdark which versions of `devtools` do you have (run `packageVersion("devtools")`, if it's not `1.12.0` run `install.packages("devtools")`; afterwards, retry reinstalling `sparklyr`

If that doesn't work, keep installing the package dependencies, from the last error, you would have to install `DBI` package as well.

[2016-07-13 16:18] szilard commented on #96
Yeah, just checked, that works and it has same runtime (expected as the calls should be just lazily evaluated). Nicer code though.

[2016-07-13 17:22] kevinushey opened #107 "sparklyr mangles column names with non-ASCII characters"
Repro:

[code]

gives

[code]

Likely due to a `data.frame` or `as.data.frame` call without the associated "don't screw up the names' argument supplied.

[2016-07-13 17:24] kevinushey commented on #105
It's possible that R is being picky about `testthat` not being on a separate line. I'll modify the `sparkapi` sources to resolve this.

[2016-07-13 19:38] javierluraschi commented on #71
Note also about Tareefs mail on converting dates and `mutate` with invalid characters not being replaced by `.`.

[2016-07-13 20:23] djmurphy420 commented on #86
Attempting to run from Windows Powershell fails:
  PS C:\Users\Dennis> "C:\Users\Dennis\AppData\Local\rstudio\spark\Cache\spark-1.6.2-bin-hadoop2.6\bin\spark-submit.cmd" --jars "C:\Users\Dennis\R\win-library\3.3\sparklyr\java\rspark_utils.jar" --packages "com.databricks:spark-csv_2.11:1.3.0","com.amazonaws:aws-java-sdk-pom:1.10.34" sparkr-shell ports.outAt line:1 char:102+ ... \Cache\spark-1.6.2-b

[2016-07-13 21:04] kevinushey commented on #107
Interestingly, `copy_to` mangles the names in a different way:

[code]

[2016-07-13 22:02] keccah commented on #93
I did exactly as @javierluraschi did. Still not working. T_T

![image](https://cloud.githubusercontent.com/assets/833577/16821377/577b1146-492c-11e6-961d-a07ce6bd4e13.png)

[2016-07-13 22:13] kevinushey commented on #96
Note that the models you are fitting are not identical -- the first converts the character vectors into integer vectors, and fits those as a numeric response, rather than a categorical response.

The second version actually does fit those as categorical variables -- with the current implementation, this implies introducing a new dummy variable for each level in each categorical variable (minus one

[2016-07-13 22:24] javierluraschi commented on #86
@djmurphy420 Thank you, this scopes your issue quite nicely, even-though I have no resolution yet, I should be able to circle back with the RStudio team and figure out something.

[2016-07-13 22:27] kevinushey commented on #96
It looks like the main culprit is our use of `withColumn`, which is a very slow mechanism for building DataFrames:

https://issues.apache.org/jira/browse/SPARK-7276

I'll look into speeding this up. Thanks for reporting!

[2016-07-13 22:34] szilard commented on #96
Oh, I see. I think in most cases people would want to fit as categorical vars (and that's the default of most R functions e.g.`glm` and that's also what R users would generally expect).

It looks like SparkR is doing that (dummies), yet it's fast (so you can speed up sparklyr :))

Back to the original example, slightly modified:

[code]

As categorical:
[code]

As integer encoding:
[code]

SparkR:

[2016-07-13 22:54] kevinushey commented on #96
I just pushed a commit to `sparklyr` that should speed up the generation of dummy variables -- I think this should put us close to / on par with SparkR, as we are now mostly bottlenecked by the speed of Spark's own logistic regression routines.

I'm also curious what the performance is like between `ml_logistic_regression` and `ml_generalized_linear_regression`, since these farm out to different S

[2016-07-13 23:11] djmurphy420 commented on #86
Hi Javier:

    On Wednesday, July 13, 2016 3:24 PM, Javier Luraschi <notifications@github.com> wrote:

 @djmurphy420 Thank you, this scopes your issue quite nicely, even-though I have no resolution yet, I should be able to circle back with the RStudio team and figure out something.

Yay! Isn't it fun trying to develop software for Windows?? :)  BTW, the Linux version (I use Ubuntu 16.04 on a desk

[2016-07-14 03:28] harryprince opened #108 "sparklyr docker image is available for China user"
here is my post on zhihu.
https://zhuanlan.zhihu.com/p/21574497

[2016-07-14 03:47] javierluraschi commented on #108
@harryprince I understand this issue is being used to communicate there is a new sparklyr docker image. While this is great news and I'll encourage users that ask for a docker image to check this out, I believe submitting a blog post would be more helpful to the community.

Please feel free to reopen this issue if I misunderstood. Cheers.

[2016-07-14 03:47] #108 closed

[2016-07-14 08:05] Benknightdark commented on #105
@javierluraschi  Thansk for your help, after I install the latest version  `devtools `from github , and then,  I finally install the `sparlyr` successfully

[2016-07-14 09:01] javierluraschi commented on #105
@Benknightdark good to hear this! Once this gets to CRAN, the installation will get much easier, thanks for holding on through this.

[2016-07-14 09:01] #105 closed

[2016-07-14 09:09] javierluraschi commented on #86
@djmurphy420 Yes, it is fun indeed!

The next attempt uses an older version of `system2`, which might be more robust in windows.

Please delete ports file on the same system then trigger the following code and report back:

[code]

[2016-07-14 13:35] keccah commented on #93
@javierluraschi and @fereshtehRS it worked!

![image](https://cloud.githubusercontent.com/assets/833577/16841059/f5760f64-49ad-11e6-8cd8-776a5ef1e84b.png)

I wonder though if there's anyway to make the query using "spark_read_parquet" and not uploading the table to memory until I do any collect command.

[2016-07-14 13:54] fereshtehRS commented on #93
Nice :)
Did you have to do anything special to make it work?

I don't know the answer to your question; leave it to @javierluraschi to answer.

[2016-07-14 18:02] kevinushey commented on #54
Any chance we can get a minimally reproducible example? It may also depend on the version of Spark used.

[2016-07-14 18:25] fereshtehRS commented on #54
I have been using Spark 1.6 in the cluster environment.

As for minimally reproducible, hard to say. Flights data works fine in my local environment, and relatively fast. In a cluster environment, smaller datasets such as iris work fine. What do you suggest to try?

May be we can address the error in Google cluster. You had mentioned `I believe this implies that perhaps our utility JAR (rspark_uti

[2016-07-14 18:47] kevinushey opened #109 "expose 'unionAll()' API for row-binding tbls / Spark DataFrames"
E.g. https://spark.apache.org/docs/1.4.0/api/java/org/apache/spark/sql/DataFrame.html#unionAll(org.apache.spark.sql.DataFrame)

[2016-07-14 19:02] javierluraschi commented on #93
@keccah you can load the data with `spark_read_parquet(sc, name, path, memory = FALSE)`. By default, sparklyr loads all data into memory.

[2016-07-14 19:43] djmurphy420 commented on #86
$arch[1] "x86_64"
$os[1] "mingw32"
$system[1] "x86_64, mingw32"
$status[1] ""
$major[1] "3"
$minor[1] "3.1"
$year[1] "2016"
$month[1] "06"
$day[1] "21"
$`svn rev`[1] "70800"
$language[1] "R"
$version.string[1] "R version 3.3.1 (2016-06-21)"
$nickname[1] "Bug in Your Hair"

Dennis

    On Thursday, July 14, 2016 2:09 AM, Javier Luraschi <notifications@github.com> wrote:

 @djmurphy420 Yes, it is fu

[2016-07-14 19:55] javierluraschi commented on #86
@djmurphy420 I'm sorry, I meant to ask to run the following command from the R console, not the command prompt:

[code]

[2016-07-14 20:27] djmurphy420 commented on #86
I copied and pasted the string from the mail directly into the R console in RStudio in its default working directory, where no ports.out file exists. I don't follow what you mean by the "command prompt" - if you meant starting up R in a shell and then copy/paste, I didn't do that. The info at the end of my response e-mail should have indicated that I was in RStudio at the time (see RStudio.Version

[2016-07-14 20:37] javierluraschi commented on #86
@djmurphy420 you are right, I meant copy-pasting that code into the rstudio r console. Could you delete the ports file and report back if it gets created with this last command?

[2016-07-14 21:32] djmurphy420 commented on #86
Still get
Warning message:running command '"C:\Users\Dennis\AppData\Local\rstudio\spark\Cache\spark-1.6.2-bin-hadoop2.6\bin\spark-submit.cmd" --jars "C:\Users\Dennis\R\win-library\3.3\sparklyr\java\rspark_utils.jar" --packages "com.databricks:spark-csv_2.11:1.3.0","com.amazonaws:aws-java-sdk-pom:1.10.34" sparkr-shell ports.out' had status 127 
No ports.out file in the working directory.
Dennis

[2016-07-14 22:14] javierluraschi commented on #86
@djmurphy420 Could you remove the ports file and run the following from the RStudio r console?

[code]

Also, could you delete the ports file and try this other one from RStudio r console?

[code]

[2016-07-14 23:10] kevinushey commented on #109
Implemented now with a method on `rbind`.

[2016-07-14 23:10] #109 closed

[2016-07-15 00:00] djmurphy420 commented on #86
There must be some progress because the messages are different, at least in the first try:)
## First call:

# ===========> No ports.out file created in working directory

## Second call in a fresh RStudio session:

Again, no ports.out file created in working R directory.

Dennis

    On Thursday, July 14, 2016 3:14 PM, Javier Luraschi <notifications@github.com> wrote:

 @djmurphy420 Could you remo

[2016-07-15 05:50] szilard commented on #96
I can't see the speedup (with newly installed sparklyr).

You can use same data as above for testing (10M rows) or this smaller one:
https://s3.amazonaws.com/benchm-ml--main/train-10m.csv (100K rows).

[code]

Btw I have a config.yml with:
[code]

[2016-07-15 06:19] szilard commented on #96
To use `ml_generalized_linear_regression` it seem one needs 2.0.0.

With the 2.0.0-preview:

[code]

[2016-07-15 09:53] jjallaire opened #110 "DBI interface needs to implement sqlParseVariables generic"
In order to work with knitr sql chunks we need to implement the `sqlParseVariables` generic. This example illustrates the problem:

[code]

@hadley Do you know whether there is a default implementation of this we can delegate to?

[2016-07-15 11:49] hadley commented on #110
The default is just:

[code]

`sqlParseVariablesImpl()` is exported so you should be able to make your own spec pretty easily

(But I don't see the problem because I don't see any variables in that example?)

[2016-07-15 12:23] jjallaire commented on #110
The method is always called so we'll hit the problem even with no variables:

https://github.com/yihui/knitr/blob/0652b6e05339c908ae07eae0abf268009bb96819/R/engine.R#L383-L391

On Fri, Jul 15, 2016 at 7:49 AM, Hadley Wickham <notifications@github.com>
wrote:

[2016-07-15 17:11] kevinushey commented on #110
I can take a look at this.

[2016-07-15 17:26] kevinushey commented on #110
Implemented here:

https://github.com/rstudio/sparklyr/commit/677f43929b26cab409212a6655af2956b12f80cb

However, this feels kind of brittle since we now have the `spark_connection` class 'pretending' that it is a `DBIConnection` for this specific context, whereas normally we have two separate objects (the `spark_connection` and `DBISparkConnection` classes / objects are separate things right now,

[2016-07-15 17:29] kevinushey commented on #54
I can't think of anything that would cause the jar not to be loaded -- it seems like we'd probably see an error occurring earlier as well if that were the case.

The other possibility is that we're attempting to call `createDataFrame` with the wrong arguments -- perhaps some assumptions we're making here are wrong?

https://github.com/rstudio/sparklyr/blob/master/R/data_copy.R#L59-L68

[2016-07-15 18:03] jjallaire commented on #110
Thanks!

Yes, when Javier got the spark_connection object to also implement the DBI interface we had some S3 issues we couldn't sort out so some re-implementation of methods was necessary. I don't know that we've actually reached the right end state, just that things "work". For example, in theory we should be able to use the default dbGetQuery (and sqlParseVariables for that matter) implementatio

[2016-07-15 18:53] hiltonmbr opened #111 "Automatically rename ambiguous/repeated column names in CSV"
Dear @javierluraschi, I have noticed that you updated spark_read_csv in sparklyr version 0.2.27 and now it automatically removes special characteres and blank spaces in csv column names. It was a nice improvement.

Could you update spark_read_csv to fix the following point: if I have two or more repeated column names in CSV spark returns:

Source:   query [?? x 24]
Database: spark connection maste

[2016-07-15 22:55] javierluraschi commented on #110
@kevinushey yeah, regarding having a duplicate definition of `setMethod("dbGetQuery"..`, the problem was that `spark_connection` is an S3 object that we are using as a DBI connection. However, DBI requires S4 objects. There is a way to make S3 and S4 objects compatible using `setOldClass` which we are using. However, this is not sufficient since the DBI object is expected to derive from a `DBIConn

[2016-07-15 23:05] javierluraschi commented on #111
@kevinushey seems we would have to also make column names unique as part of `spark_sanitize_names`

[2016-07-16 11:21] hiltonmbr commented on #111
Dear @kevinushey, it is returning:

Error in make.unique(names, sep = "_") :
'names' must be a character vector

Also, why don't use gsub to remove accentuation from column names. It's a common case in datasets provided in other languages than english. For instance:
gsub("[áãàä]", "a",tolower(names))
gsub("[éèë]", "e",tolower(names))
gsub("[íì]", "i",tolower(names))
gsub("[óõòö]", "o",tolower(name

[2016-07-16 15:58] hadley commented on #110
Did you try adding DBIConnection to the S3 class and the setOldClass call?

[2016-07-16 16:19] jwijffels opened #112 "ml_lda number of topics = columns of dataset why?"
When I look at the code of ml_lda, the number of topics is set to the number of columns from the dataset. Why would you do that as K is the number of topics you want to estimate, not the number of columns in the dataset.

[code]

Wouldn't it make a lot more sense to provide the following types of arguments to ml_lda and use the setters accordingly?
- k = 5: number of topics
- optimizer = c("online

[2016-07-16 16:39] jwijffels opened #113 "append to existing table"
What would be the preferred way to append a data.frame to an existing spark table.
I see that sparklyr depends on DBI > 0.4 which has dropped the `append` argument of `dbWriteTable`
This doesn't seem to work. Is there another way?

[code]

[2016-07-16 18:47] kevinushey commented on #111
Thanks, I'll take a look.

[2016-07-16 19:03] kevinushey commented on #113
You should be able to use `rbind` for this currently:

[code]

We can also look into implementing a method for `sqlAppendTable`.

[2016-07-16 19:05] kevinushey commented on #111
We now use `iconv()` to attempt to translate names to ASCII -- by default, this should translate accented characters to their un-accented counterparts when possible. Let me know how it looks for you.

[2016-07-16 19:10] kevinushey commented on #110
It sounds like this:

    methods::setOldClass("spark_connection")

might need to be

    methods::setOldClass(c("spark_connection", "DBIConnection"))

? If that works, we could potentially remove the need for the `DBISparkConnection`.

[2016-07-16 19:19] kevinushey commented on #112
This was a silly oversight -- I'll expose `k` as a parameter in `ml_lda`.

[2016-07-16 19:21] kevinushey commented on #112
I'll look into exposing the other parameters soon as well.

[2016-07-16 19:29] hiltonmbr commented on #111
Dear @kevinushey , please take a look at this example:

# CSV simulated
# Three variables: "Município", "var", "var", where "var" is a repeated name
csv <- file("test.csv", "w+", encoding = "latin1")
cat("Município;var;var\n1233;1;2", file=csv)
close(csv)

library(sparklyr)
sc <- spark_connect("master"="local[*]")

df <- spark_read_csv(sc,name="test",path="test.csv",header = TRUE,delimiter = ";",

[2016-07-16 19:48] kevinushey commented on #111
I'll have to dig in more -- I just pushed some code that should, in theory, handle this, but I'm still seeing some issues.

[code]

I'll dig in more next week, but I think you'll need to just manually ensure columns don't have duplicated names for now.

[2016-07-17 05:19] #54 closed

[2016-07-17 05:20] javierluraschi commented on #54
@fereshtehRS replaced cluster serialization with something better. Tried int, double and chars. We should test other data types like booleans, etc. Except for dates/times which I believe another github issue is tracking this already.

[2016-07-17 09:47] feng5 opened #114 "spark_connect failed on OS X:Failed to launch Spark shell. Ports file does not exist."
[code]
sessioninfo:
[code]

[2016-07-17 09:52] funnng commented on #114
and i tested sparklyr in terminal with `sudo R`, and it works well.
it's a permission issue about RStudio or something else?

[2016-07-18 05:41] javierluraschi commented on #114
The error makes me think that this could be related with loading spark packages; therefore, I would try connecting without any additional packages as follows:

[code]

Would this work for you?

[2016-07-18 05:56] funnng commented on #114
@javierluraschi yea it can connect by using your code but when i try `copy_to` it said `Error: could not find function "copy_to"` and load dplyr package then copy_to, pop another error `Error: java.lang.ClassNotFoundException: Failed to find data source: com.databricks.spark.csv`

[2016-07-18 11:12] MarcinKosinski opened #115 "extend "Deployment" page with a wider YARN cluster connection description"
What if one does not have spark cluster but has yarn cluster instead? Is there a way to connect to yarn cluster?

For `SparkR` it was very simple and doable from RStudio

http://r-addict.com/2016/04/06/FAQ-SparkR.html#q9-can-i-run-spark-application-locally-or-only-on-yarn-hadoop-cluster

[2016-07-18 11:13] jjallaire commented on #115
@javierluraschi I think we need to add some documentation to the "Deployment" page about connecting to yarn clusters as this has come up a number of times.

[2016-07-18 15:48] l4mun opened #116 "Casting variables"
Hi,

I would like to know if there is an option yet to cast variable types. I got some numeric columns which are recognized as character ones. Running dataWrangling is ok but when i do a linear regression, due to the fact that factor are binarised, it fails.

Best regards,
Jacques

[2016-07-18 15:53] javierluraschi commented on #114
@funnng this scopes the problem to loading spark packages. The most common cause would be that something is blocking downloads for that user.

That said, a fix included in `0.2.28` that will allow you to perform `copy_to` even when packages are not loaded. However, not loading packages will decrease `copy_to` performance significantly, but we are also working on improving this in the near future t

[2016-07-18 16:27] javierluraschi commented on #115
@jjallaire deployments page enhanced with YARN reference and example.

[2016-07-18 17:16] javierluraschi commented on #116
@l4mun for basic variable casts, you could use dplyr, for inaces:

[code]

Please update to the latest `sparklyr` version to ensure additional `dplyr` cast operations are avaialble.

[2016-07-18 17:18] l4mun commented on #116
I guess i didn't get the last version that's why.

Thank you.

[2016-07-18 17:53] fereshtehRS commented on #54
Thanks @javierluraschi
Great improvement. I now see the following:

1) On AWS:

[code]

2) On Google Dataproc:

[code]

[2016-07-18 18:01] javierluraschi commented on #110
@kevinushey tried the suggestion above, got this:

[code]

[2016-07-18 18:12] javierluraschi commented on #54
@fereshtehRS yes, this is much better! Thanks for getting these numbers!

BTW. @kevinushey might improve this further, we will let you know when this happens to make sure we don't regress.

[2016-07-18 18:20] jjallaire commented on #115
Great, thanks!

On Mon, Jul 18, 2016 at 12:27 PM, Javier Luraschi <notifications@github.com>
wrote:

[2016-07-19 07:52] junsbabay opened #117 "Sparklry installation failed on centos"
The server where I deployed Rstudio is closer to the spark cluster.
When I executing the command "devtools::install_github("rstudio/sparklyr")",  it returns the following
infomation :
_Downloading GitHub repo rstudio/sparklyr@master
from URL https://api.github.com/repos/rstudio/sparklyr/zipball/master
Error in curl::curl_fetch_memory(url, handle = handle) :
  Couldn't connect to server_

I'v tried

[2016-07-19 09:55] MarcinKosinski commented on #115
Thanks guys.

Do I somehow need to specify YARN_DIR or HADDOP_CONF_DIR or any other global/system environemnt If I have more than one YARN cluster and would like to use few of them simultanously?

[2016-07-19 10:19] MarcinKosinski opened #118 "Add Disqus panel to spark.rstudio.com"
Have you thought about Disqus panel on your website - https://disqus.com/ ?
This panel is used in rmarkdown.rstudio.com and is a convenient way of asking simple, quick and short questions, so that one does not have to open issue for every FAQ : )

[2016-07-19 15:08] javierluraschi commented on #117
sparkly r uses `download.file` which would require to set the proxy with an environment variable, for instance:

[code]

To properly configure proxies see: https://support.rstudio.com/hc/en-us/articles/200488488-Configuring-R-to-Use-an-HTTP-or-HTTPS-Proxy

[2016-07-19 15:09] javierluraschi commented on #118
Thanks, will consider this @MarcinKosinski. Short-term plan is to use github issues.

[2016-07-19 15:09] #118 closed

[2016-07-19 15:28] javierluraschi commented on #115
@MarcinKosinski correct, point the `YARN_CONF_DIR` environment variable to the desired cluster config directory.

[2016-07-19 15:30] jjallaire commented on #115
Javier should we add that to the documentation as well or can we assume
this knowledge for anyone accessing a YARN cluster?

On Tue, Jul 19, 2016 at 11:28 AM, Javier Luraschi <notifications@github.com>
wrote:

[2016-07-19 15:42] MarcinKosinski commented on #115
I have 4 years experience in R, 1 year experience with yarn clusters configuration via dockers and I would say this is not obvious and not intuitive for regular R users. I would definitely advice you to extend documentation with this information.

Maybe for next time I could provide PR with suggestions on how to extend documentation? Then you'll have to tell me in which directory are you creating

[2016-07-19 16:01] jjallaire commented on #115
The website is here: https://github.com/rstudio/spark.rstudio.com

We would absolutely welcome any and all improvements to our documentation
you can provide!!!!

On Tue, Jul 19, 2016 at 11:42 AM, Marcin Kosiński <notifications@github.com>
wrote:

[2016-07-19 16:30] javierluraschi commented on #86
@djmurphy420 lets simplify this a bit more, could you run the following on the same machine from RStudio?

[code]

The error from your previous post was `The filename, directory name, or volume label syntax is incorrect` which sounds to me like the `spark-submit.cmd` file was not being found. Therefore, could you validate the file exists under this path `C:\Users\Dennis\AppData\Local\rstudio\spark

[2016-07-19 16:40] javierluraschi commented on #60
Marking as feature request since as Kevin mentions, we are based on the newer `ml` library that does not support this yet.

BTW. Wouldn't it be possible to get the predictive model and manually map the output into the [pmml](https://cran.r-project.org/web/packages/pmml/index.html) package?

[2016-07-19 17:04] kevinushey commented on #60
Maybe, but I would strongly prefer filing a feature request on the Spark side to add this, rather than trying to implement it ourselves.

[2016-07-20 00:03] zhf526 opened #119 "Use dplyr on existing tables within Spark cluster."
If I already have a table (e.g. "accountcapacitydailyv3") in the cluster, how can I pass it to dplyr functions?

I tried this:

[code]

But it does not work.

[2016-07-20 00:08] javierluraschi commented on #119
Is the table already registered as a hive table? If that's the case you can use `tbl()`, for instance:

`tbl(sc, "accountcapacitydailyv3") %>% select()`

[2016-07-20 01:41] zhf526 commented on #119
Yes. It works!

On Tuesday, July 19, 2016, Javier Luraschi <notifications@github.com> wrote:

[2016-07-20 02:50] djmurphy420 commented on #86
HI Javier:
I'm running on two Win 10 machines: a desktop and a laptop. In this reply, I'm reporting on the latter, where my user ID is different and I have sparklyr installed wrt Spark-1.6.1. Using the following call, I get an output ports.out file in the CWD, but attempting to initiate a Spark connection still fails:
## Successfully produces a ports.out file in CWD on a laptop running Win 10:shel

[2016-07-20 06:41] djmurphy420 commented on #86
Hi Javier:
Trying again on the desktop, the script you sent was run in a fresh RStudio session and it also creates a ports.out file in the CWD. 
Checking on the files in the spark-1.6.2/bin directory,
  Directory of C:\Users\Dennis\AppData\Local\rstudio\spark\Cache\spark-1.6.2-bin-hadoop2.6\bin

06/21/2016  07:14 PM    <DIR>          .06/21/2016  07:14 PM    <DIR>          ..06/21/2016  07:14 PM  

[2016-07-20 13:34] junsbabay commented on #117
Thank you for your great help , I 'v installed sparklyr successfully by using proxy.

[2016-07-20 16:33] desertnaut commented on #114
I had a similar issue while using the CDH-provided Spark, resolved when I switched to a Databricks prebuilt distro. I got some interesting error messages when trying the arfument ``config==list()``, as suggested above. You may want to have a look at the full details in [this SO thread](http://stackoverflow.com/questions/38102921/can-sparklyr-be-used-with-spark-deployed-on-yarn-managed-hadoop-clust

[2016-07-20 17:20] javierluraschi commented on #119
Great! Closing this issue.

[2016-07-20 17:20] #119 closed

[2016-07-20 17:27] javierluraschi commented on #117
@junsbabay yes, you could use the "clone or download" button to download sparklyr as zip from the github page: https://github.com/rstudio/sparklyr

Or download directly from here: https://github.com/rstudio/sparklyr/archive/master.zip

BTW. I believe my original answer was not correct since this was an installation issue with `devtools::install_github`, I assumed the problem was in `spark_install`

[2016-07-20 17:27] #117 closed

[2016-07-20 21:19] zhf526 opened #120 "user defined functions in dplyr"
The document says "dplyr translates the commands into Spark SQL statements". Does it mean that dplyr in sparkly does not support user defined R functions which are not defined in Spark SQL?

For example, I tried to run this:

[code]

and got the error:

`Error: org.apache.spark.sql.AnalysisException: undefined function FACTOR; line 2 pos 539`

[2016-07-21 11:36] hiltonmbr commented on #111
@kevinushey it seems that SPARK SQL use c_0 as inner alias name.  So, if you try rename column names using another alias name which not include numbers, i.e, removing all numbers from column names, you may solve this issue.

[2016-07-21 12:38] hiltonmbr commented on #111
Another example including "var 1.0" in the CSV header:

csv <- file("test.csv", "w+", encoding = "latin1")
cat("Município;var;var 1.0\n1233;1;2", file=csv)
close(csv)

library(sparklyr)
sc <- spark_connect("master"="local[*]")

df <- spark_read_csv(sc,name="teste",path="test.csv",header = TRUE,
                     delimiter = ";",charset = "Latin1",memory = FALSE)
head(df)

The following columns

[2016-07-21 14:41] javierluraschi commented on #120
@zhf526 correct. Currently, `sparklyr` supports `dplyr` functions with Spark SQL equivalents; however, expanding to support UDFs is something that we are looking forward to implement.

For the code above, you could remove `factor` and get a base cast from date to numeric. However, I suspect this wouldn't be sufficient. If you want to give us more context on the problem you are solving, we might be

[2016-07-21 16:11] javierluraschi commented on #59
To reproduce this locally:

[code]

[2016-07-21 16:18] javierluraschi commented on #86
@djmurphy420 Please upgrade sparklyr to version `0.2.29` by running `devtools::install_github("rstudio/sparklyr")`, restart the r session and retry connecting. A fix close to this issue is available on `0.2.29` and therefore, is worth a try with this new version.

[2016-07-21 16:22] javierluraschi commented on #59
@fereshtehRS are we still hitting this issue with the latest versions of sparklyr and sparkapi?

I've ran this locally and hit the following error with the sample above:

[code]

which is what I would expect. If this is still an issue, could you please share by mail credentials and url to connect and debug this further? Thanks!

[2016-07-21 16:25] javierluraschi commented on #60
K, marking as feature request here as well.

[2016-07-21 16:50] javierluraschi commented on #97
Improved with: https://github.com/rstudio/sparkapi/commit/78a6ef2cb2fb71e7c974c7e8dfe6325214d73e8e.

Now this triggers an explicit `Access is denied` message while running `spark_connect`. Also, have not seen more people hitting this nor we have been able to get the environment in this state. Therefore, this could be better off handled by users manually changing permissions if needed.

[2016-07-21 16:50] #97 closed

[2016-07-21 16:53] javierluraschi commented on #114
@desertnaut @funnng `sparklyr` version `0.2.29` adds support for CDH. CDH is currently under testing on our end, but if you are interested, please feel free to go ahead and give this a try.

[2016-07-21 16:56] javierluraschi commented on #113
@jwijffels I believe Kevins suggestion addresses this, but feel free to reactivate if this is not sufficient.

[2016-07-21 16:56] #113 closed

[2016-07-21 16:58] desertnaut commented on #114
Thanx - did ``0.2.29`` just come out? I installed it yesterday, and I got ``0.2.28``.

[2016-07-21 17:01] javierluraschi commented on #114
@desertnaut Yes, just bumped the version with this commit https://github.com/rstudio/sparklyr/commit/1726b24466ce1cc9e296bebb80d2b7de12f1f966. Although the relevant commit is this one https://github.com/rstudio/sparklyr/commit/036101f35d1757bd53f4f241e12973fd53b28de0 but it's hard to tell if you have the changes without a version bump.

[2016-07-21 17:03] desertnaut commented on #114
OK, I'll take the new version for a test drive with CDH asap. BTW, thanks for this great work...!

[2016-07-21 17:27] fereshtehRS commented on #59
@javierluraschi This still happens with version 0.2.29.

The error you are seeing is correct, as this is not a valid path. But the issue on the Google cluster is that the error is never returned to user, command just hangs.

[2016-07-21 17:55] javierluraschi opened #122 "spark_conenct fails with 2.0.0-preview only using sparklyr version 0.2.29"
`spark_conenct` fails with `2.0.0-preview` only using `sparklyr` version 0.2.29

[2016-07-21 18:23] fereshtehRS commented on #59
I tried it again on AWS cluster; it is returned immediately with error. Problem only on GCP.

[2016-07-21 19:00] javierluraschi commented on #59
@fereshtehRS are other errors returning appropiately in GCP? For instance:

[code]

If this is specific to GCP and `spark_read_*` with custom storage providers, it is likely an issue in GCP that we might be better off waiting for a fix than providing a workaround, specially since this is an error case and does not block usage.

[2016-07-21 19:22] fereshtehRS commented on #59
That one returns quickly. I tried few other ones. Everything except `s3` interactions returns quickly. You are probably correct that this might be an issue with GCP. We can definitely wait for a fix; not a top priority.

[2016-07-21 19:28] javierluraschi commented on #59
K. I'll mark this as feature request to improve integration with GCP, if needed, later on.

[2016-07-21 20:21] #122 closed

[2016-07-21 20:27] djmurphy420 commented on #86
Yay!! We've got a connection on Windows for both computers. Congratulations and thanks for all the work to get this operating smoothly. 
Best,Dennis

    On Thursday, July 21, 2016 9:19 AM, Javier Luraschi <notifications@github.com> wrote:

 @djmurphy420 Please upgrade sparklyr to version 0.2.29 by running devtools::install_github("rstudio/sparklyr"), restart the r session and retry connecting. A

[2016-07-21 20:36] javierluraschi commented on #86
@djmurphy420 I'm so glad! Thanks for sticking along to this one!

[2016-07-21 21:14] cinkie commented on #53
@javierluraschi  I don't have `\Users\<name>\AppData\local\rstudio\` directory on my computer so I end up placing the spark folder to  `\Users\<name>\Program Files\Rstudio\`. And it still gets the same error message when trying `devtools::install_github("rstudio/sparklyr")`.

[2016-07-21 21:48] javierluraschi commented on #98
@campanell could you retry with `sparklyr` version `0.2.29` or newer? We've isolated our backend and this should improve connection to multiple systems, including IBM Bluemix. To upgrade run

`devtools::install_github("rstudio/sparklyr")` and restart the r session

[2016-07-21 21:56] javierluraschi commented on #53
@cinkie you could also try to manually download the following packages:

https://github.com/rstudio/sparkapi/archive/master.zip
https://github.com/rstudio/sparklyr/archive/master.zip

and build each manually from RStudio?

Alternatively, if this is not sufficient, I would rather open an issue in the `devtools` package (specially if other packages are also failing to install using `devtools`): http

[2016-07-21 23:05] javierluraschi commented on #53
This one is not a `sparklyr` package issue... we can provide more pointers but best follow up would be thorugh `devtools` packge.

[2016-07-21 23:05] #53 closed

[2016-07-21 23:12] javierluraschi commented on #86
@stevenwasik closing issue, let us know if you still hit this issue, in which case, you could be experiencing a different issue than @djmurphy420

[2016-07-21 23:12] #86 closed

[2016-07-21 23:14] javierluraschi commented on #114
@desertnaut there were a couple additional issues that affected the `2.0.0-preview` version. If you were using this version, then you would want to upgrade `sparklyr`; otherwise, you can ignore this comment.

[2016-07-21 23:15] #103 closed

[2016-07-22 00:12] javierluraschi commented on #116
Sounds, closing.

[2016-07-22 00:12] #116 closed

[2016-07-22 06:30] stevenwasik commented on #86
Thanks for following up, I am currently on vacation but I will try it out when I return next week.

Sent from my iPhone

[2016-07-22 06:41] javierluraschi commented on #71
Validated
- transmute
- rename
- explain
- translate_sql

Throwing error now for
- slice: currently not supported in spark sql

Implemented:
- xor
- or
- and
- cor
- cov
- sd
- var

Validated date-related conversions as pass-through for:
- unix_timestamp
- from_unixtime
- to_date, quarter
- day
- dayofyear
- weekofyear
- from_utc_timestamp
- to_utc_timestamp

[2016-07-22 06:41] #71 closed

[2016-07-22 06:43] javierluraschi commented on #65
Per Kevin's comment, dependent on Spark 2.0.0 release. Marking as feature request.

[2016-07-22 06:44] javierluraschi commented on #92
No additional changes seem required here... closing.

[2016-07-22 06:44] #92 closed

[2016-07-22 09:16] dselivanov commented on #112
@jwijffels, this is off topic, but... From my experience, spark LDA implementation is totally disappointing...
Last time I tried it (spark 1.6),  it even didn't work on medium datasets which can be fitted on single core with R `lda` package...

[2016-07-22 09:27] jwijffels commented on #112
I would love to hear your experiences on this.
I'm evaluating currently
- the (parallel) spark LDA alongside
- the single core topicmodels R package and
- the parallel LDA from Madlib on a Greenplum environment
- streaming topic models available at https://github.com/intel-analytics/TopicModeling
regarding speed, RAM, goodness of fit and size of the dataset, the type of algorithm (Expectation/Maxi

[2016-07-22 10:20] junsbabay commented on #117
@javierluraschi  You are right, the issue was about the devtools::install_github,  but the solution is to set a proxy to download the package.

I tried to download the https://github.com/rstudio/sparklyr/archive/master.zip , and installed the master.zip by using devtools::install_local , however, it still tried to download some packages that required the proxy. LOL.

BTW, I'v also installed spark

[2016-07-22 12:33] dselivanov commented on #112
* Spark LDA requires a lot of spark internals tuning. And it is hard to understand why it can crash/goes OOM/goes full gc. I even tried to parse java garbage collector logs... With a lot of tuning I managed it to work with collection of 1M docs and 100 topics (on a cluster with 64 cores and 128 gb of ram!).
* I didn't try Madlib and intel-analytics/TopicModeling.

IMHO your datasets are not so lar

[2016-07-22 13:26] jwijffels commented on #112
Thanks for the feedback and the pointers to other options.
The single-core lda in the topicsmodels package I'm running takes from 5 minutes up to 1.5 days depending on the number of topics (5 to 80), that's a bit too long even though I reduced the dataset already from 200Mio documents to the customer level. I'll have a look if package lda is faster and gives the same perplexity. For the other (onl

[2016-07-22 15:14] javierluraschi commented on #117
@jimhester is there a recommended way to set proxies for `devtools`? @junsbabay is getting download errors while trying to install `sparklyr` from github. Any thoughts would be much appreciated, thanks!

[2016-07-22 15:46] jimhester commented on #117
You could try using `install_url("https://github.com/rstudio/sparklyr/archive/master.zip", config = use_proxy(url="127.0.0.1", port=1080, username="",password=""))`, passing the proxy directly to the config parameter.

Otherwise setting the proxy both ways as mentioned above is probably the best option.

[2016-07-22 17:48] cinkie commented on #53
This issue is resolved through installing manually. Thanks Javier.

[2016-07-25 09:46] EricAugust opened #125 "Can not create spark_connect."
this is result of sys.getenv(), My sytem is Win 7.

[code]
I have setted System variable PATH.when I  run, it give me this Error.
[code]

what should I do?

[2016-07-25 12:30] junsbabay commented on #117
@jimhester @javierluraschi  Thank you for helping me with the installation problem.
I'm sorry,I didn't make myself clearly.  With the proxy, I'v installed sparklyr successfully.
However, if downloading directly from https://github.com/rstudio/sparklyr/archive/master.zip without proxy, you'll need some packages that required proxy when installing  the zip by the function of devtools::install_local.

[2016-07-25 19:09] slopp opened #126 "implement spark_read_feather()"
Submitted on behalf of McKinsey and QB

[2016-07-25 19:15] ElianoMarques opened #127 "Handling nulls and NA in dataframes"
Hi there,

I was trying to handle NA and nulls directly against the dataframe without success.

Perhaps this could be integrated probably as part of the dplyr package?

[code]

tbl1 is a spark dataframe.
I then collect a sample to memory and check the null in the above feature and realized that is not picking up the NaN. This results in a further down the road error with the ft_bucketizer because

[2016-07-25 22:30] ElianoMarques commented on #127
Just to follow up on this:

[code]

This should be dropping any row with NULL or NA values. I tried this in a data.frame and didn't work, i.e. it returned the same dataframe.

On another note, for the function in scala
def fill(value: Double, cols: Seq[String])  how would you write the column in R? I tried
[code]
And got the following error:
failed to invoke spark command (unknown reason)

Thank y

[2016-07-25 22:55] javierluraschi commented on #125
@EricAugust could you run `sessionInfo()` and share the results?

Could you also try connecting as follows to rule-out any proxy related issues?

[code]

Could you explain how was Spark installed? Using `spark_install`?

[2016-07-26 03:01] EricAugust commented on #125
@javierluraschi
[code]
I used the commands you gave to me , got this error
[code]

I use New Connection chose spark 1.6.2,-> connect,  then chose install

[2016-07-26 07:01] #125 closed

[2016-07-26 07:03] javierluraschi commented on #125
@EricAugust a fix has been pushed, could you please upgrade to the latest version of `sparklyr` (version `0.2.31` addresses improves this issue), restart your r-session and retry?

To upgrade `sparklyr`, you can run:

[code]

Feel free to reopen this issue if this does not fix this connection issue.

[2016-07-26 08:49] EricAugust commented on #125
@javierluraschi
Thank you! I can create a spark_connect. but when I applied copy_to function got an error.
[code]

[2016-07-26 11:33] EricAugust commented on #125
@javierluraschi
I have installed again. now it works.but when I Click SparkUI or Log got this error.
[code]

[2016-07-26 12:11] ElianoMarques commented on #96
Conscious this is close but still the valid forum.

If we have a numerical field which we want to bucketize and then use in a ML model:

for example:
[code]
model$coefficients print the value as if it was a numerical parameter, not a category.
[code]

Is this the right way via the package to transform numerical values into categories?

Eliano

[2016-07-26 12:48] ElianoMarques opened #128 "Transforming numerical fields into categories and then model"
If we have a numerical field which we want to bucketize and then use in a ML model:

for example:

[code]
model$coefficients print the value as if it was a numerical parameter, not a category.
[code]
Is this the right way via the package to transform numerical values into categories?

Eliano

[2016-07-26 15:07] slopp commented on #128
You can do this with the sparklyr function ml_create_dummy_variable. This function expects  a character labels, so you would do something like:

[code]

Note that this will create n columns, where n is the number of splits. If you were to pass these columns into a regression routine you'd want to omit one of them to avoid perfect collinearity.

A cleaner way to do this would be to pass the label c

[2016-07-26 15:17] javierluraschi commented on #125
@EricAugust Glad to hear this is moving along. To troubleshoot the `spark_log` and `spark_web` issue. Could you share the contents of the `hive-site.xml` located under `C:\Users\Administrator\AppData\Local\rstudio\spark\Cache\spark-1.6.2-bin-hadoop2.6\conf\`?

[2016-07-26 18:26] ElianoMarques commented on #128
Ok I did not look into ml_create_dummy_variable, I thought the ft_one_hot_encoder did the job. Of course the second approach is easier, thanks for the reply.

Eliano

[2016-07-26 18:59] datapixie opened #129 "spark_connect not using "version" argument"
`spark_connect` tries to use `sparkapi::spark_version_from_home` even when I pass an explicit spark version.

[code]

[2016-07-26 19:02] ElianoMarques commented on #128
Just tried this approach:
[code]
and got this error:
[code]

Seems that parsing the character into column name is causing the issue, i.e. should not try to use 2.0 but something like column_name_1 or columna_name_2.

[2016-07-26 19:37] slopp commented on #128
Yes, my apologies. A simple fix is to force the bins to integers first:

[code]

[2016-07-26 19:43] ElianoMarques commented on #128
yap. this works and brings the bucket number into the column. Thanks again, Eliano

[2016-07-26 19:43] #128 closed

[2016-07-26 19:52] ElianoMarques opened #130 "Survival Regression"
Guys, could add to the ML outputs for Survival Regression the scale?

In the code below should be added something like:
[code]

This should be linked with the model coefficients of this ML model.

[code]

Thanks,
Eliano

[2016-07-27 00:08] #129 closed

[2016-07-27 00:09] javierluraschi commented on #129
@datapixie Thanks for finding this, fix is in. Give this a shot with sparkly version `0.2.32` (current latest version). Let us know if this doesn't work as expected.

[2016-07-27 00:39] mikejacktzen commented on #114
I'm also running into this issue
[code]

[code]

[2016-07-27 14:18] MarcinKosinski commented on #115
Moved to https://github.com/rstudio/spark.rstudio.com/issues/4

[2016-07-27 14:25] MarcinKosinski opened #131 "connecting to YARN cluster with KERBEROS authentication using spark_connect"
Talking about https://github.com/rstudio/spark.rstudio.com/issues/4 (that moved from https://github.com/rstudio/sparklyr/issues/115),t here is a short instruction right now

on how to create a connection with YARN cluster, but this is very simple.

Suppose connection is more complicated and require more options, i.e. when using kerberos authentication. Let's say for `sparkR` one can enter R in she

[2016-07-27 14:29] MarcinKosinski commented on #25
+1

[2016-07-27 17:30] datapixie commented on #129
Thanks @javierluraschi ! Works great.

[2016-07-27 19:22] kevinushey commented on #127
I'm a little confused:

This code would attempt to drop a column named `any`, not drop rows with NULL / NA values. (As per the Scaladocs at https://spark.apache.org/docs/latest/api/scala/index.html#org.apache.spark.sql.Dataset)

Similarly, `fill` is not a function defined for Spark DataFrame (Dataset)s. What exactly are you trying to do?

[2016-07-28 11:39] l4mun opened #133 "Predict(...) on large newData seems unordered"
Hi,

Sorry for not providing a reproductible example. However the problems seems to arise when dataset are not "small".
I tried by my own Sparklyr on a bigger dataset. I picked up Airlines2007 and 2008. Merge with Weather on Date. Trained a model on 2007 (300k rows) and predicted on 2008 ((300k rows).

At the end i train a linear regression and a RandomForest.

[code]

However and surprinsingly, h

[2016-07-28 12:07] jjallaire commented on #131
@nwstephens I agree that our current deployment docs don't provide enough illustrations/ examples nor documentation of specific use cases like this one. I think we should see if we can flesh this out a bit.

[2016-07-28 17:32] kevinushey commented on #133
This is the code we use for implementing `predict()`:

[code]

I wonder if the issue could be that the row order in the predicted `data.frame`, as returned by `sdf_predict`, is not as expected? What does the output from `sdf_predict` look like?

[2016-07-28 18:22] ElianoMarques commented on #127
I was using the dataframenafunctions from [here](https://spark.apache.org/docs/1.6.2/api/java/org/apache/spark/sql/DataFrameNaFunctions.html):
Basically I was trying to find a workaround to remove na and nulls, going directly to the scala API. Perhaps I have to look into dataset options first or use invoke_static as you mention above.

[2016-07-28 18:30] kevinushey commented on #127
Ah, I see -- to get at that interface, you need to first invoke the method that gives you the `DataFrameNaFunctions` object:

[code]

Then, on that `na` object, you can invoke the methods as needed:

[code]

I'm not sure if Scala actually has a special interpretation for the string `"any"` in this context, but I believe that's what you need.

[2016-07-28 19:29] ElianoMarques commented on #127
I will give it a try. I think this should also be added somehow to the package. Rather via dplyr and/or as new ft_ function given i'm sure everyone will have this issues when doing ML and/or ft function that don't accept nulls.

[2016-07-28 19:31] ElianoMarques commented on #130
Thanks

[2016-07-28 19:31] #130 closed

[2016-07-28 19:37] ElianoMarques commented on #60
This would be a good feature to add. Also the ability to save and load spark models, which is one of the main features in 2.0.

[2016-07-28 20:16] kevinushey opened #134 "implement save / load for 'ml_model' objects"
The tricky part in saving these is that we also need a bit of extra metadata to re-construct the R object wrapper housing the Spark model object. So, on save, we would likely need to write two files, e.g.

[code]

The `model_fit.mldata` object would be created by e.g. `invoke(model$.model, "save", "/path/to/model_fit.mldata")`; the `model_fit.rdata` object might be implemented by e.g. `saveRDS()`

[2016-07-28 20:29] ElianoMarques commented on #134
But if you load it in scala or java would it still work? the main goal of the load/ save model from the spark folks is to separate the development from deployment of the model, i.e. if you do a model in any language you can then load the model (and also pipeline) in any other language. I'm sure you seen this deck (slide 13)  and video [https://spark-summit.org/2016/events/apache-spark-mllib-20-pre

[2016-07-28 20:50] kevinushey commented on #134
Yes, it would still work fine -- we're still just calling the Scala `save` / `load` APIs, so it's identical to what would be produced had you been just writing your modeling code in Scala.

[2016-07-28 20:52] kevinushey commented on #134
One hiccup is that `save` does not save the training summary for linear regression fits, so we might have to work around that. (Unfortunately that limits interoperability when going from language to language, but I can't imagine why one would want to save the results of a linear model fit _without_ the actual summary.)

[2016-07-28 21:18] ElianoMarques commented on #134
Makes total sense, perhaps this package "save" can keep that metadata? One thing that would be great to have as well is the second derivatives of the survival regression optimizer to calculate the model statistics similar to gmls. It might be easier for the folks from spark to do it, i would need to investigate if the optimizer returns that info by default, if it does we could bring it up nicely s

[2016-07-28 21:29] kevinushey commented on #134
We can certainly eagerly evaluate + store summary metadata as part of the R `ml_model` object when appropriate; we just avoid this for objects that are potentially large (e.g. the residuals).

Are there other pieces in http://spark.apache.org/docs/latest/api/scala/#org.apache.spark.ml.regression.AFTSurvivalRegressionModel that we could be extracting when producing survival regression model fits?

[2016-07-28 21:35] ElianoMarques commented on #134
Don't think so. We might need to open a ticket in jira to get this into roadmap.

[2016-07-28 22:28] campanell commented on #98
Javier,

I updated sparklyr to version 0.2.32, but I am still getting a very similar message

` Sys.setenv(SPARK_HOME = "C:\\\\Users\\Campanell\\AppData\\Local\\rstudio\\spark\\Cache\\spark-1.6.2-bin-hadoop2.6")`

`spark_config(file="C:\\\\Users\\Campanell\\Documents\\R\\win-library\\3.2\\sparklyr\\conf\\config-template.yml", use_default = FALSE)`

$sparklyr.cores.local
[1] 8

$spark.sql.shuffle.p

[2016-07-29 08:14] l4mun commented on #133
Not sure to have fully understood what you wanted. (PS i work on a small cluster of 2 workers, not in local mode).
``sdf_predict(my_ml_linear, validation) %>% str() ``
[code]

[2016-07-29 09:53] ElianoMarques commented on #134
Confirmed we need to create a new jira ticket. Check the last two comments here: https://issues.apache.org/jira/browse/SPARK-8518

[2016-07-29 12:11] MarcinKosinski opened #136 "defaul config YAML for cluster deployment"
So far you have default `config-template.yml` for local Spark applications https://github.com/rstudio/sparklyr/blob/master/inst/conf/config-template.yml

According to #115 and #131, have you thought about adding `config-template-yarn.yml` or something so that a user could use

[code]

[2016-07-29 12:28] MarcinKosinski commented on #131
I have looked at http://spark.apache.org/docs/latest/configuration.html#cluster-managers and I am sure that I can transform

[code]

to your required `.yml` format for `spark_config()` to be

[code]

but I have no idea how to translate `--deploy-mode=client` option. Should it be `spark.deploy.recoveryMode`? Maybe @pcejrowski will know?

PS. Solving this issue might be helpful in #115 and #136 :)

[2016-07-29 12:34] pcejrowski commented on #131
I think that spark.submit.deployMode should work.

Here is the definition from documentation(http://spark.apache.org/docs/latest/configuration.html#application-properties):
The deploy mode of Spark driver program, either "client" or "cluster", Which means to launch driver program locally ("client") or remotely ("cluster") on one of the nodes inside the cluster.

[2016-07-29 12:38] MarcinKosinski commented on #131
great, so finally it would be

[code]

[2016-07-29 12:41] MarcinKosinski commented on #131
I mean with colons*

[code]

[2016-07-29 13:16] jjallaire commented on #136
For this use case it might make sense to have a `yarn` parameter on `spark_config` rather than requiring a reference to a file in the package.

[2016-07-29 13:24] MarcinKosinski commented on #136
So do you recommend to add `use_default_yarn = FALSE` parameter ? I could then provide a PR with `spark_config` extension`

[2016-07-29 13:25] MarcinKosinski commented on #131
[THIS WORKS]

and spaces after semicolons :P

[code]

[2016-07-29 13:36] jjallaire commented on #136
I'd recommend just `yarn = FALSE`. @javierluraschi What do you think?

[2016-07-29 16:45] kevinushey commented on #133
I should have been more clear -- what if you use the output from `sdf_predict(object, newdata)` directly to try to generate your plots. Do you see the same weirdness?

[2016-07-29 21:46] ElianoMarques opened #139 "Add ALS ML model similar to SparkR"
could you add ALS Model similar to this:

https://github.com/apache/spark/pull/14384

[2016-07-29 22:02] kevinushey commented on #139
For reference, the Scala class: http://spark.apache.org/docs/latest/api/scala/#org.apache.spark.ml.recommendation.ALS

[2016-07-29 22:04] kevinushey opened #140 "allow 'tbl_spark's to be constructed from streaming Spark DataFrames"
E.g. with this code as a dummy example:

[code]

We get the error:

[code]

[2016-07-29 22:06] kevinushey commented on #140
This might also require RStudio IDE changes, since attempting to expand a streaming Spark DataFrame in the IDE produces the same error.

[2016-07-29 22:14] ElianoMarques commented on #140
This would be very cool. specially if we can add an invalidate after option to. The other I setup a stream job via python that spin out a csv file which then was picked up by Shiny with an invalidate after to re-read the file after a while. If we could do this directly would be even better.

[2016-07-29 23:25] kevinushey commented on #127
For what it's worth, we now implement `na.omit` and provide `na.replace` for handling this, e.g.

[code]

[2016-07-29 23:29] kevinushey commented on #139
I've added a quick dummy implementation of this; can you give it a shot and see if it behaves how you expect?

[2016-07-29 23:30] ElianoMarques commented on #127
Thanks @kevinushey for this. I saw your commit a few hours ago for this. I wonder if the na.omit or na.replace should be added as parameters in all ML and FT functions. what do you think?

[2016-07-29 23:33] ElianoMarques commented on #139
Sure. I will come back to you tomorrow morning on this. I just saw the code, thanks for adding.

[2016-07-30 13:44] jjallaire commented on #140
Yes absolutely! Once we get the mechanics of this working we'll create a
Shiny wrapper that will turn the streaming data frame directly into a Shiny
reactive.

On Fri, Jul 29, 2016 at 6:14 PM, Eliano Marques <notifications@github.com>
wrote:

[2016-07-30 17:10] ElianoMarques commented on #140
Awesome

[2016-08-01 10:10] l4mun commented on #133
I should have been more clever too ;)

[code]

![image](https://cloud.githubusercontent.com/assets/15957925/17290629/ba1e1e12-57df-11e6-9218-966cc115032c.png)

Same RMSE. Each observation is linked to its good prediction.

 I guess you're right, the row order is not the same. If i want to export locally my prediction, i think i've to add an index column. Hence i'll be able to link it to the right

[2016-08-01 12:31] MarcinKosinski commented on #136
semi PR is here https://github.com/rstudio/sparklyr/pull/142

[2016-08-01 15:29] MarcinKosinski commented on #136
moved to #142

[2016-08-01 15:29] #136 closed

[2016-08-01 20:23] kevinushey commented on #133
Thanks for the update -- it looks likes we definitely need to make sure `predict` does the right thing as well; it should produce a column vector in the same row order as the input `newdata` data set.

[2016-08-02 00:01] ElianoMarques commented on #139
@kevinushey, the model seems to be working but the predictions fail. Perhaps a good thing to bring some of the evaluator to the package. Code below:

[code]

Errors:
[code]
Any hints on the why is not predicting?

[2016-08-02 00:10] kevinushey commented on #139
Are there any missing / null values in your data set? If so, you might need to remove those.

Also, in this:

[code]

You likely want to invoke the `transform` method of `als` on the test dataset, not the other way around. Ie, I think you want:

[code]

[2016-08-02 00:16] ElianoMarques commented on #139
This works.

[code]
However the rmse returns nan probably because of missing/ null values. Need to check that. Note that the standard sdf_predict doesn't probably because of the same reason.

Eliano

[2016-08-02 00:20] ElianoMarques commented on #139
just tried:
[code]
Still gets the same but this works fine
[code]

[2016-08-02 00:20] kevinushey commented on #139
I haven't seen much about the `RegressionEvaluator` class -- is it supposed to be a kind of interface to accessing summary statistics for a model fit?

[2016-08-02 00:28] ElianoMarques commented on #139
yap, it is. I just confirmed in python the prediction had some null and na.

I made it to work like this:
[code]
ie. the na.omit was not working, i've tried
[code]
while it does the job the evaluator returns nan which means predictions didn't drop.  I then wrote the na.drop by hand and worked fine.

Thanks

[2016-08-02 10:55] ElianoMarques opened #143 "copy_to error & saveAsTable option"
I have the public movies dataset and this is returning an error with the function copy_to.

code used:

[code]

Here is two lines of the data:
movie_id, title, genres
1,Toy Story (1995),Animation|Children's|Comedy

Not sure if scala/java likes the "|" , here is the error:

[code]

Currently only sdf_register is available. Perhaps you could add sdf_saveAsTable, see below:

[code]

From a discovery

[2016-08-02 21:47] kevinushey commented on #143
Where does this movies data set come from (`movies.dat`)?

[2016-08-02 21:52] ElianoMarques commented on #143
[http://grouplens.org/datasets/movielens/](http://grouplens.org/datasets/movielens/)

I'm using the 1m row dataset.

[2016-08-02 21:59] kevinushey commented on #143
This code works fine for me:

[code]

What version of Spark are you using?

[2016-08-02 22:04] ElianoMarques commented on #143
we are using the same code. the difference is that you are using master = local and I'm using yarn-client.

[2016-08-02 22:47] kevinushey commented on #143
I see. Based on your stack trace, it would be our `utils` jar that is failing. It indeed interprets `|` as a separator -- see: https://github.com/rstudio/sparklyr/blob/51b55890f99004888b2baeeeb1531ae6a4d655e5/inst/scala/utils.scala#L47-L71

Copying the code for posterity:

[code]

cc: @javierluraschi, is there a different / 'safer' separator we could be using here?

[2016-08-03 11:50] ElianoMarques opened #144 "Dealing with multiple databases"
currently for you to leverage the tbl function you have to specify upfront the database.

Its normal in projects that you need to use tables from multiple databases.

So would be great if we can find a way to as part of the tbl statement add the database name prior to table name.

[code]

perhaps another feature that could be added is src_databases(sc) similar to src_tbls(sc)

This will smooth the

[2016-08-03 12:21] hiltonmbr opened #145 "Failed to connect to Spark (SPARK_HOME is not set)."
sparklyr returns the following error on start a connection:

library(sparklyr)
sc <- spark_connect(master="local[*]")

Error in spark_connect(master = "local[*]") :
  Failed to connect to Spark (SPARK_HOME is not set).

spark_installed_versions()
  spark hadoop                       dir
1 2.0.0    2.7 spark-2.0.0-bin-hadoop2.7
It only works if I use:

sc <- spark_connect(master="local[*]",
      s

[2016-08-03 20:26] ElianoMarques commented on #145
I typically start by specifying spark home env. variables and also the hadoop conf dir. Once you do that, it no longer complains about this. Alternatively you could add this to your startup script, like this in the terminal:

[code]

[2016-08-03 20:39] kevinushey commented on #143
To get you unblocked in the interim, I think you need to rename any pipe characters (`|`) to some other separator.

[2016-08-03 20:49] ElianoMarques commented on #143
ok.

[2016-08-03 21:34] hiltonmbr commented on #145
Thanks. I've solved this issue using
sc <- spark_connect(master = "local", version = "2.0.0")

[2016-08-03 22:16] hiltonmbr commented on #111
Dear @kevinushey ,

Could you try use dplyr remane_  with setNames to solve this issue? For instance,

df <- df %>% rename_(.dots=setNames(colnames(.), z))

where z is a character vector of newnames.

[2016-08-03 22:42] javierluraschi commented on #145
Just fixed this with https://github.com/rstudio/sparklyr/commit/b93b8e9a9a2ccd3ed2c1411a4dcfb7617f1e4ab3, this was a recent regression. Thanks for pointing this out!

[2016-08-03 22:42] #145 closed

[2016-08-04 17:44] fereshtehRS opened #147 "Error: 'could not find function "connection_is_open" '"
- new cluster
- sparklyr version 0.3.0
- spark_connect() works fine
- But then spark_read_xxx() gives this error after operation is completed:

[code]

[2016-08-04 17:47] jjallaire commented on #147
It's a stale IDE connection. I'll invalidate old connections in the next
daily build, in the meantime just restart R, navigate to the connection in
the IDE, then click the "Trash" icon in the top right corner of the Spark
tab.

On Thu, Aug 4, 2016 at 1:44 PM, fereshtehRS <notifications@github.com>
wrote:

[2016-08-04 17:59] kevinushey opened #148 "investigate failure with Spark 2.0.0"
[code]

Most likely fallout from the sparkapi merge -- perhaps some code changes are needed in our backend port.

[2016-08-04 21:27] kevinushey opened #149 "prefer 'major.minor' versioning for spark jars"
Mainly to be in line with what we promote for extension packages.

[2016-08-06 00:08] kevinushey opened #151 "investigate incorrect serialization of missing vs. NA strings"
E.g.

[code]
#### Spark 1.6.1 + 1.6.2

All values are treated as missing.

[code]
#### Spark 2.0.0

NAs and empty strings are reversed.

[code]

[2016-08-06 16:11] koaning opened #152 "Feature: be able to overwrite parquet file"
When I am saving over an old parquet file I get an error.

[code]

The error is a good thing! One should not accidentally overwrite a parquet file. But the scala and pyspark versions of spark do allow for a setting to `overwrite` the original file where the user consciously needs to set a flag that it is alright to overwrite a file. Would this be an appropriate feature?

[2016-08-06 18:46] koaning opened #153 "Cache a table"
If I want to cache a table in memory, the `sparklyr` functionality is a bit different than in SparkR. It seems like we need to first name a table before we can cache it. The function call `tbl_cache(sc, name, force = TRUE)` requires a name so I'll first assign one via `sdf_register`.

So I try the following code :

[code]

And this fails, giving me this error:

[code]

Any idea why the table name

[2016-08-06 18:47] koaning opened #154 "Cache a table: need a name registered"
If I want to cache a table in memory, the `sparklyr` functionality is a bit different than in SparkR. It seems like we need to first name a table before we can cache it. The function call `tbl_cache(sc, name, force = TRUE)` requires a name so I'll first assign one via `sdf_register`.

So I try the following code :

[code]

And this fails, giving me this error:

[code]

Any idea why the table name

[2016-08-06 19:07] koaning commented on #80
On mac I am experiencing the same issue but only when I edit the `config.yml` file. I wanted to mention this because it might help debugging. In particular, it is the final line here:

[code]

[2016-08-06 19:08] koaning commented on #114
On mac I am experiencing the same issue but only when I edit the `config.yml` file. In particular, it is the final line here that is throwing the error:

[code]

[2016-08-06 21:51] #153 closed

[2016-08-07 07:19] koaning commented on #154
This error went away when I went for an upgrade of `sparklyr`.

[2016-08-07 07:19] #154 closed

[2016-08-08 22:03] SebastianFinkel opened #155 "AGAIN: Failed to launch Spark shell. Ports file does not exist."
I know similar issues have been posted before, however, none of the solutions applied to my system configuration. I use RStudio, latest Preview Release (Version 0.99.1259) and have installed the latest sparklyr package (Version 0.3.1). I installed Spark 2.0.0 with Hadoop 2.7.  (System: Mac OS 10.11.6)
[code]
Would be very grateful for any help. Thanks!

[2016-08-09 13:23] #155 closed

[2016-08-09 13:24] SebastianFinkel commented on #155
Seemed to be a version problem with JAVA or something.

[2016-08-09 14:22] javierluraschi opened #156 "readr infinite loop while installing sparklyr"
From Nathan: When I do a fresh install of devtools followed by sparklyr my session goes into an infinite loop when it installs dependency readr. I have to restart my session and then I can install sparklyr successfully.

[code]

[2016-08-09 14:26] javierluraschi commented on #156
@dfalty interested in reproeing this one?

@jimhester quick question: Is there any known infinite loop with in `devtools` while installing `readr`that you know of?

[2016-08-09 14:36] jimhester commented on #156
None I have seen, is the loop installing readr repeatedly or during compilation of readr?

[2016-08-09 14:39] javierluraschi opened #157 "long operations do not always cancel"
In general, it would be nice to be able to cancel all operations cleanly, for instance, while hitting <stop> in the RStudio console (feedback from Nathan). This needs some investigation on what it would take to improve this.

[2016-08-09 14:56] slopp commented on #157
I've experienced that in the IDE, if you're running a long-running piece of code and hit stop, it will kill the whole connection to Spark (very annoying)

[2016-08-09 15:45] javierluraschi commented on #156
@nwstephens?

[2016-08-09 16:11] #115 closed

[2016-08-09 16:13] MarcinKosinski commented on #131
I've done this with such a command

[code]

[2016-08-09 16:13] #131 closed

[2016-08-09 16:21] MarcinKosinski opened #158 "ml_kmeans on Spark 2.0.0 gives Error: Unable to retreive a Spark DataFrame from object of class character"
I am running your examples for K-means clustering http://spark.rstudio.com/mllib.html#k-means_clustering and I get the following error for K-means clustering

[code]

## while any other ml function works fine, example below

[code]

## Session Info

[code]

[2016-08-09 16:31] MarcinKosinski opened #159 "how to use data from Hive on YARN cluster with sparklyr?"
When one finally connects to YARN cluster with those commands https://github.com/rstudio/sparklyr/issues/131#issuecomment-238604605, how then one can use datasets stored on Hive/HDFS to apply e.g. `ml_kmeans` on them?

I imagine it would be:

[code]

but `src_tbls()` does not find datasets stored on Hive/HDFS.

Is there any HiveContext/SQLContext?

[2016-08-09 16:37] slopp commented on #158
I was not able to repo this error on the latest version:

[code]

However, I was also running Spark locally, not against YARN. Could you try installing the latest version and seeing if the error repos locally?

[2016-08-09 16:45] javierluraschi opened #160 "consider providing commands to start spark cluster detached from session"
Feature request: Using sparklyr comamnds, be able to turn on/off an Spark cluster detached from the rsession.

Manual workaround follows:

[code]

http://localhost:8080/ contains to the master URL, for instance: `spark://<machine>:7077`.

[code]

Then finally, to connect:

[code]

Turn off cluster with:

[code]

[2016-08-09 17:14] RobClaxton commented on #159
I ran into the same issue and resolved it by copying /etc/hive/conf/hive-site.xml into the conf directory of my Spark installation.

Then you can use something like below to make your table available.

[code]

[2016-08-09 17:43] MarcinKosinski commented on #159
Wow.
The most amazing magic and witchcraft that I have seen so far : D

I'll check that out and let you know.

@RobClaxton have you thought about extending the deployment `Tricks and Tips` https://github.com/rstudio/spark.rstudio.com/blob/master/deployment.Rmd ?

[2016-08-09 22:34] kevinushey opened #161 "handle model predictions with categorical variables"
E.g.

[code]

The problem here is that, because `versicolor` is not detected as a level in the prediction data set, a dummy variable is not created for it on the fly and prediction fails. We should save the detected levels from the original dataset and use that when constructing dummy variables.

[2016-08-09 22:52] kevinushey opened #162 "copy_to(..., overwrite = TRUE) fails with Spark 2.0.0"
[code]

The error message in the log is not particularly helpful:

[code]

[2016-08-09 23:02] #162 closed

[2016-08-09 23:28] kevinushey commented on #158
I believe this was a temporary regression which should be resolved in master now.

[2016-08-09 23:30] kevinushey commented on #149
This was implemented with https://github.com/rstudio/sparklyr/pull/150.

[2016-08-09 23:30] #149 closed

[2016-08-09 23:30] kevinushey commented on #147
I'm going to close this; @fereshtehRS please re-open if you're still seeing an issue here. Thanks!

[2016-08-09 23:30] #147 closed

[2016-08-09 23:31] kevinushey commented on #161
This should be resolved now; the levels from the trained dataset are used when constructing dummy variables for the test dataset.

[2016-08-09 23:31] #161 closed

[2016-08-09 23:31] kevinushey commented on #148
I believe this was fixed up with some recent changes from @javierluraschi.

[2016-08-09 23:31] #148 closed

[2016-08-09 23:46] kevinushey opened #163 "handle / report NA values in logical vectors for copy_to"
I'm guessing that Spark does not support `NA` values for logical vectors; however, these are currently serialized as `FALSE`, e.g.

[code]

It seems like we need to at least inform the user if NA values are detected / converted.

[2016-08-10 13:59] MarcinKosinski commented on #159
@RobClaxton do you think that specifying `HIVE_HOME` to the folder `/etc/hive/` might help instead of copying that file to `SPARK_HOME` dir?

[2016-08-10 14:44] MarcinKosinski commented on #158
Thanks @slopp . After I've updated to `sparklyr ver 0.3.2`, the example works. Shame on me I haven't checked if the sparklyr version was up to date : /

[code]

[2016-08-10 14:44] #158 closed

[2016-08-10 15:37] MarcinKosinski commented on #159
You were right. I haven't had Hive configured for my machine. After I proceed with the configuration, the `hive-site.xml`, `core-site.xml` and `hdfs-site.xml` appeared in the `HADOOP_CONF_DIR` as this is suggested here http://spark.apache.org/docs/latest/sql-programming-guide.html#hive-tables [for R]

[2016-08-10 15:37] #159 closed

[2016-08-11 16:04] selva86 commented on #114
I am getting this error on Mac.. What seems to be the problem?
[code]

sessioninfo:
[code]

[2016-08-11 16:38] selva86 commented on #114
Turns out there was 2 versions of spark in my SPARK_HOME="/Users/selvaprabhakaran/Library/Caches/spark"

So, I set it to:
[code]
But, now I get different exceptions..
[code]

[2016-08-11 17:04] javierluraschi opened #165 "implement compute in dplyr"
implement `compute()` in dplyr using `saveAsTable`. See for instance: http://stackoverflow.com/questions/37050828/save-spark-rdd-to-hive-table

[2016-08-11 18:16] selva86 commented on #114
Resolved it by re-installing JDK 8 from this [link](http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html) looks like there was a conflict with the Java version used by terminal and by setting `Sys.setenv(SPARK_LOCAL_IP="127.0.0.1")`

[2016-08-12 16:37] fereshtehRS opened #166 "Spark connection not found when running a shiny rmarkdown document"
My RMarkdown or flexdashboard documents (that include shiny apps) stopped working with this error:

`Error: object 'sc' not found`

It seemed to be an rmarkdown, or flexdashboard package issue, or error in my document. But I was able to narrow it down to a change between `sparklyr` versions 0.3.2 and 0.3.3. Everything else the same, a small test document works fine in 0.3.2 and gives error in 0.3.

[2016-08-12 18:24] fereshtehRS opened #167 "Error with dplyr::sample_n function"
This code:

[code]

causes this error:
[code]

[2016-08-12 19:05] kevinushey commented on #167
Resolves this particular error, but there's still something else going on with Spark 2.0.0:

[code]

[2016-08-12 19:27] fereshtehRS opened #168 "Parse exception on certain mutate Date call"
Not sure if this should work:

[code]

We get this error:

[code]

[2016-08-14 23:15] slopp opened #170 "Bug in ml_save / ml_load"
ml_load creates the modelName with the following:

[code]

However this is not the correct model name for any of the classifiers. For instance, the model type for a random forest is RandomForestClassifier  whereas the fitted model name is RandomForestClassificationModel.

This leads to an error when you try to invoke_static on a type that doesn't exist, in this example: org.apache.spark.ml.classif

[2016-08-15 02:16] kevinushey commented on #170
Thanks -- I guess we need a bit of indirection to correctly select the reader class based on the model class.

[2016-08-15 16:10] fereshtehRS commented on #166
This is kind of blocking the work on the cluster.

I am trying to deploy Shiny applications and Rmd documents to a Connect Server on the cluster, but everything fails with this error (even Rmd documents without shiny runtime are failing in this case).

[2016-08-15 17:55] kevinushey commented on #166
I believe this is resolved by @javierluraschi's recent commit: https://github.com/rstudio/sparklyr/commit/b218612f1498a8bd66a237d64570ff6994c2ad26

[2016-08-15 17:55] #166 closed

[2016-08-15 19:21] falaki opened #171 "Would you please publish the JAR that comes with this R package as a Spark Package"
It will make installation of the R package easier in other Spark environments especially with regards to class path management.

Spark Packages website: https://spark-packages.org/
Instructions on how to register a package: https://spark-packages.org/register/explain

[2016-08-16 00:54] jjallaire commented on #171
We'll consider doing this when we publish a stable version of the package
to CRAN (should be in the next 2 or 3 weeks)
On Mon, Aug 15, 2016 at 12:21 PM Hossein Falaki <notifications@github.com>
wrote:

[2016-08-16 11:22] MarcinKosinski opened #172 "can't predict directly from ml_kmeans model: Error in eval(expr, envir, enclos) : argument "newdata" is missing, with no default"
[Session info included below. I am using the newest possible devel version]

Your documentation states that you can predict directly from fitted model http://spark.rstudio.com/mllib.html#k-means_clustering

[code]

which might be true for local computations but for fitted model on YARN cluster I get this

[code]

[2016-08-16 11:26] MarcinKosinski commented on #134
+1

[2016-08-16 11:29] MarcinKosinski commented on #133
+1

[2016-08-16 16:43] MarcinKosinski commented on #157
I have experienced that when you type stop on one bit of a code (e.g. k-means clustering on 2 columns and 7 mln observations) then it does not stop in the SPARK UI.

[2016-08-16 16:46] MarcinKosinski opened #174 "mutate_each on many columns: Error: java.lang.StackOverflowError"
I have noticed that there is a problem for k-means for 201 columns. Are there any limitations?

[code]
## Session info

[code]

[2016-08-16 16:49] MarcinKosinski opened #175 "mutate_each: Error: evaluation nested too deeply: infinite recursion / options(expressions=)?"
Does this error mean that the dataset was too big? Is there a way to make it work with this `options(expressions=)` (but how)?

[code]
## Session Info

[code]

[2016-08-16 17:04] kevinushey commented on #157
Indeed, and that's a big problem in general -- interrupting the R session without interrupting Spark basically places the R connection to Spark in a bad state, and effectively you'll just see a cascade of errors as the connections effectively become out of sync. :/

[2016-08-16 17:06] kevinushey commented on #175
The error here is occurring due to the use of `mutate_each`; at least, attempting to evaluate this reproduces the error for me:

[code]

[2016-08-16 17:09] kevinushey commented on #174
Similarly, I see the Java stack overflow occurring as a result of `mutate_each`:

[code]

giving

[code]

[2016-08-16 17:11] kevinushey commented on #172
Sorry, this was a recent regression -- when `newdata` is unspecified it should be drawn from the original data used to fit the model, but it looks like this isn't being done now. I think this will be a simple fix.

[2016-08-16 17:14] kevinushey commented on #172
Should be resolved with https://github.com/rstudio/sparklyr/commit/b76016eed88aefc7bc13499c1a8cd9d6b9886a52; thanks for reporting!

[2016-08-16 17:14] #172 closed

[2016-08-17 13:20] RudyiVT opened #176 "Get value from spark environment"
Using sdf_predict I got following result. How I can select values?
Thanks!
<jobj[37792]>
  class org.apache.spark.ml.linalg.DenseVector
  [0.9789499814426139,0.021050018557386158]

[2016-08-17 13:26] MarcinKosinski opened #177 "Consider renameing max.iter parameter to iter.max in ml_kmeans"
You are using the name `max.iter` for Spark's `setMaxIterations` in `ml_kmeans` https://github.com/rstudio/sparklyr/blob/master/R/ml_kmeans.R#L19, what is confusing for regular R user who's used to work with `iter.max` from `stats::kmeans`

[2016-08-17 14:55] MarcinKosinski commented on #167
Having the same error. With `sample_n` and `sample_frac`

[2016-08-17 15:43] MarcinKosinski opened #178 "setEpsilon and setInitializationMode for ml_kmeans"
I am working on extending `ml_kmeans` with a support for `setEpsilon` and `setInitializationMode` parameters https://github.com/MarcinKosinski/sparklyr/blob/feature/setEpsilonInKmeans/R/ml_kmeans.R#L61 as further parameters can be set http://spark.apache.org/docs/latest/api/scala/index.html#org.apache.spark.mllib.clustering.KMeans

but I have received a weird error I am not able to overcome. Do yo

[2016-08-17 15:49] mkaja commented on #125
i am trying to install sparklyr and getting
Downloading GitHub repo rstudio/sparklyr@master
from URL https://api.github.com/repos/rstudio/sparklyr/zipball/master
Installing sparklyr
Installing 8 packages: config, curl, DBI, hms, rappdirs, readr, rprojroot, tibble
Installing packages into ‘/rstudio/rpackages-local/mkaja’
(as ‘lib’ is unspecified)
trying URL 'https://cran.rstudio.com/src/contrib/con

[2016-08-17 16:44] kevinushey commented on #178
It looks like `setEpsilon` is a method available to `mllib.KMeans`, but not `ml.KMeans`. Compare the API documentation at:

https://spark.apache.org/docs/latest/api/scala/index.html#org.apache.spark.ml.clustering.KMeans
https://spark.apache.org/docs/latest/api/scala/index.html#org.apache.spark.mllib.clustering.KMeans

We might need to bug the Spark team to add these parameters to the `ml.KMeans` i

[2016-08-17 16:44] kevinushey commented on #177
I'd be happy with this change as well.

[2016-08-17 16:46] kevinushey commented on #176
Can you provide more information? What kind of model fit did you call `sdf_predict` on? (What code are you running?)

Given that you have a Spark DenseVector returned, you'll likely need to explicitly collect it, e.g.

    invoke(dv, "toArray")

or something to that effect would effectively return it to R.

[2016-08-17 16:54] MarcinKosinski commented on #178
Thanks for pointing this out. Those 2 links are a good comparison for begginers (me).
Now I have understand spark/ML/MLlib and sparklyr better.

 I'll be thinking about this issue now : ). `setEpsilon` is `setTol` now, so I can come up with PR in close future for more parameters in KMeans

[2016-08-18 11:47] RudyiVT commented on #176
[code]
After running this code I got the following result:
![2016-08-18 14 42 11](https://cloud.githubusercontent.com/assets/9803147/17772534/f9f87008-6551-11e6-8e56-cf6991f80bc2.png)

**How to transform probability and rawPrediction variables to numeric values?**

[2016-08-18 13:30] MarcinKosinski commented on #178
moved to #179

[2016-08-18 13:30] #178 closed

[2016-08-18 13:55] MarcinKosinski commented on #177
So, to be consistent and to use one roxygen-template in as many functions as possible

`@template roxlate-ml-max-iter`, thus `max.iter` parameter, is used in

- ml_survival_regression
- ml_multilayer_perceptron
- ml_logistic_regression
- ml_linear_regression
- ml_generalized_linear_regression
- ml_kmeans
- ml_als_factorization

funcitons. If we are about to rename `max.iter` to `iter.max` in `ml_k

[2016-08-18 17:02] kevinushey commented on #176
I see -- the issue here is, I guess, running a random forest regression with a categorical response; the return value here is a 'vector of vectors' and so does not serialize back to R as cleanly.

@seanlopp have you tried working with model output like this yet?

[2016-08-18 18:21] javierluraschi opened #181 "Support for yarn-cluster mode"
Currently, sparklyr submits a custom `sparklyr.jar` file through spark-submit with a given ports file. Then the jar initializes a socket and saves the socket details in the ports file. This file is used by sparklyr to rea this socket definition and connect to the running application within the jar in the driver machine. This works as expected for `yarn-client`; however, for `yarn-cluster` the file

[2016-08-19 02:41] kevinushey commented on #167
FWIW you should be able to use `sdf_sample` as an alternative to `sample_frac` for the time being.

[2016-08-19 06:40] #167 closed

[2016-08-19 13:19] AITikhonov opened #182 "left_join doesn't work"
I have 2 tables, in every 3 identical a column name (they are a connection key).
But in attempt to make left join I receive a error - "this functionality isn't maintained in Spark 1.6. Try to use Spark 2.0 or avoid identical names" (text approximately).

Spark 1.6.1.

How to execute an left_join?
Thanks.

[2016-08-19 16:22] javierluraschi opened #183 "mutate does not work in spark 2.0.0 when prediction is not a long"
From Nathan:

mutate(prediction = if_else(prediction > 0.5, 1L, 0L)) #works

mutate(prediction = if_else(prediction > 0.5, 1, 0)) #produces a list: <dbl [1]>

for spark 2.0.0

[2016-08-19 16:26] slopp commented on #183
+1  - I had to wrap the statements in as.numeric to force the second to work

[2016-08-19 21:08] kevinushey commented on #182
Can you please provide your code + a reproducible example?

[2016-08-19 21:13] kevinushey commented on #177
This should be resolved now -- `iter.max` is preferred (and is the documented argument), but `max.iter` is accepted for backwards compatibility.

[2016-08-19 21:13] #177 closed

[2016-08-19 21:53] mkaja commented on #114
hi,
 i am trying to connect to emr master server running yarn and getting this error -- any help?

Error: Failed during initialize_connection() java.net.ConnectException: Call From 98bda6519109/127.0.0.1 to 0.0.0.0:8032 failed on connection exception: java.net.ConnectException: Connection refused; For more details see:  http://wiki.apache.org/hadoop/ConnectionRefused
	at sun.reflect.GeneratedConst

[2016-08-20 17:11] javierluraschi commented on #182
@AITikhonov we are aware of this issue and have provided a fix for dplyr to be compatible with Spark. The PR is here: https://github.com/hadley/dplyr/pull/1997 so one workaround is to build dplyr from source using that PR, or alternatevely, this issue is not present in Spark 2.0.0 since it added additional Spark SQL syntax that is compatible with the current version of dplyr.

[2016-08-20 19:39] ElianoMarques opened #184 "Get a spark dataframe after using invoke"
Hi all,

As part of a comparison we are limiting the dataframe using invoke and then trying to run a model against it.

[code]
either way the object returns a dataset and no longer can be used as a dataframe.

Question do we have to registertemptable everytime an invoke is executed against a dataframe?

[code]

If there is a simple way to limit that could also do the job!

Thank you

[2016-08-20 21:40] kevinushey commented on #184
Generally, `invoke` takes a `spark_jobj`, and returns a `spark_jobj` -- ie, a lower-level reference to a JVM Spark object. If you call `invoke` and get a `spark_jobj` referencing a Spark `Dataset` (or, `DataFrame for Spark <2.0.0), then you'll need to explicitly register it to manipulate it as a `spark_tbl` / with the `dplyr` interface.

The set of `sdf_` wrapper functions generally do that automa

[2016-08-20 22:11] ElianoMarques commented on #184
Makes sense thanks.
Eliano

[2016-08-21 21:31] ElianoMarques opened #185 "config additional options"
Hi there,

I think there is a few threads on this but would be good if you add information to the package for how to add config options, example:

[code]
This returns an error because spark.dynamicAllocation.minExecutors is an option which has to be defined as part of the conf options, e.g.

[code]

In the above, executor-cores works, but executor memory doesn't. I also ended up trying overwrite t

[2016-08-21 21:40] ElianoMarques commented on #185
Another example:

If I add this to the config:

[code]
I get this spark submit options:

[code]

Some of the parameters above are ignored?

Thanks

[2016-08-22 12:50] AITikhonov commented on #182
Thanks.
Temprorary I use rename function dplyr for rename column. It's work.

[2016-08-22 12:50] #182 closed

[2016-08-23 17:02] javierluraschi commented on #183
Implemented collecting decimal columns which fixes the spark 2.0.0 list issue, but is still required to cast the parameters for now.

[2016-08-23 20:06] dgrtwo opened #187 "`copy_to` turns Dates into numeric columns (with only the year)"
When copying over a data frame (or tbl_df) with a Date column, it is rounded to the year:

[code]

The resulting `c` column contains only 2016, not the full date:

[code]

[2016-08-23 21:24] javierluraschi opened #188 "consider implementing additional types for sdf collect"
From this list: https://github.com/rstudio/sparklyr/blob/master/inst/scala/utils.scala#L130-L135

would make sense to implement all the types mapping as listed here:

https://spark.apache.org/docs/1.6.0/api/java/org/apache/spark/sql/types/package-tree.html

[2016-08-24 10:09] NikolayNenov opened #189 "Failed to launch Spark shell. Ports file does not exist. -- The input line is too long."
Hi,
I installed Spark 2.0.0 using the wizard in RStudio 0.99.1289 on a Windows 7 machine.
Upon starting a new connection to Spark , I get the following error message:

[code]

Neither the solution to issue #80 not the solution to issue #155 work for this particular case. I would appreciate any help.

[2016-08-25 13:28] ElianoMarques commented on #185
Sorry i missed the latest documentation which explains how this works.

Here is an example for future reference:
[code]

[2016-08-25 13:28] #185 closed

[2016-08-25 16:03] AlexIoannides opened #191 "Add support for anonymous Scala functions"
It would be useful if there could be some way to parse basic Scala code declared from R, such that the following types of call are possible:

[code]

This would remove the need to perform basic data manipulation elsewhere so that all code could be kept in once place.

I would like to be able to use Scala functions like `map` as we can't (currently) apply/mutate using native R functions (although t

[2016-08-26 02:57] javierluraschi opened #192 "Collecting 1M rows several times triggers an exception in some environments"
Collecting 1M+ records several times triggers an exception in some environments; worth investigating this further at some point.

[code]

More more info on this one contact @nwstephens

[2016-08-26 04:09] deanchen opened #193 "Null datetype value causing NPE"
Regression introduced here preventing dataframe with null datetypes from being processed: https://github.com/rstudio/sparklyr/commit/7418d50d438912db1b04f2226b0efa8eb4f3ae7e#diff-34ea1a4718c2b36eb05f6ffba87130a5R127

[code]

[2016-08-26 04:56] kevinushey commented on #193
Thanks for the bug report -- it looks like https://github.com/rstudio/sparklyr/commit/7418d50d438912db1b04f2226b0efa8eb4f3ae7e#diff-34ea1a4718c2b36eb05f6ffba87130a5R127 needs a null check.

[2016-08-26 11:16] ElianoMarques commented on #188
@javierluraschi could you also add sdf_cache and uncache? Currently this only works with tbl (tbl_cache) but if you apply some transformations prior to the cache you can't invoke tbl_cache. Several examples of invoke("cache") %>% sdf_register didn't really work as expected. Perhaps theres something in addition to the sdf_register needed but in either case, adding a sdf_cache makes total sense i th

[2016-08-26 11:36] AlexIoannides commented on #192
I'm seeing exactly the same issue at precisely the same order of magnitude.

[2016-08-26 11:52] AlexIoannides opened #194 "ft_sql_transformer not working as described"
Hi,

`ft_sql_transformer` has the following prototype:

[code]

But it **doesn't** make use of `input_cols` and `output_cols` in the body. Is this in anticipation of forthcoming functionality or just an oversight?

Either way, I'd be happy to make the changes if you let me know.

`ft_sql_transformer` + HiveQL is an awesome alternative to `dplyr::mutate`. Need to get it out there with a few example

[2016-08-26 12:27] MielHostens commented on #189
Same issue over here

Spark 2.0.0,  RStudio 0.99.1289, Windows 10

[2016-08-26 12:52] MielHostens commented on #86
Would it be possible that this has been broken again? I get exactly same issue again

R version 3.3.1 (2016-06-21)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

locale:
[1] LC_COLLATE=Dutch_Belgium.1252  LC_CTYPE=Dutch_Belgium.1252    LC_MONETARY=Dutch_Belgium.1252
[4] LC_NUMERIC=C                   LC_TIME=Dutch_Belgium.1252

attached base packages:
[1] s

[2016-08-26 16:21] #188 closed

[2016-08-26 16:22] #193 closed

[2016-08-26 16:22] javierluraschi commented on #193
@deanchen thanks for catching this, fix applied to `0.3.12`.

[2016-08-26 18:22] ElianoMarques commented on #184
@kevinushey , @javierluraschi here a weird behaviour I have observed that I'm not 100% sure but i think it's related with the package and a potential improvement. as part of a ML benchmark we were doing on public flights dataset with 20m records we have done this code:

[code]

Please note the following:

1. Input data was partitioned as a Hive table by year, month, dayofweek and uniquecarrier
2.

[2016-08-26 18:35] #139 closed

[2016-08-27 18:31] dwy904 opened #196 "cross validation function and parameter tuning"
Does sparklyr support cross validation and parameter tuning in the machine learning section.

I did not find this capability and will you add that features in the future version ?

Best,
Mike

[2016-08-28 23:31] kevinushey commented on #194
Thanks; this is indeed an oversight -- we should only accept `x` and `sql` for this transformer.

[2016-08-29 11:49] Ruchiranga commented on #86
I am also getting the exact same issue.

`sessionInfo()`

R version 3.3.1 (2016-06-21)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

locale:
[1] LC_COLLATE=English_United States.1252  LC_CTYPE=English_United States.1252    LC_MONETARY=English_United States.1252
[4] LC_NUMERIC=C                           LC_TIME=English_United States.1252

attached base pac

[2016-08-29 12:37] ElianoMarques opened #197 "Error with ML"
I keep getting this error on a 2-3 hours ML job:

[code]

Spark UI is still on and the job have completed.

Any hints on how to get back the session and respective results?

Eliano

[2016-08-30 21:58] kevinushey commented on #197
Are you running with RStudio Server? I wonder if the issue here is that the R session is suspending / resuming, and the Spark connection is lost during that suspend / resume?

[2016-08-30 22:00] kevinushey commented on #196
It looks like Spark does indeed provide a class that provides tooling for cross validation:

https://github.com/apache/spark/blob/master/mllib/src/main/scala/org/apache/spark/ml/tuning/CrossValidator.scala

We should investigate whether this is something we can support easily in `sparklyr`.

[2016-08-30 22:02] kevinushey commented on #191
I wonder if it would be possible to compile + load jars 'on the fly', and use it in this way? It's definitely possible to build `sparklyr` extensions (e.g. http://spark.rstudio.com/extensions.html) but that's probably not quite as on-demand as we'd like here.

[2016-08-30 22:22] ElianoMarques commented on #197
I'm leveraging RStudio Server indeed. I can try to run in a shell to see if the behaviour changes.

Eliano

Sent from my iPhone

[2016-08-31 15:28] ElianoMarques opened #198 "Applying ft_one_hot_enconder in ML"
Hi everyone,

I know we can leverage the automatic way of creating dummies with a character attribute, however if we want to leverage the ft functions some ML models fail.

Here is an example with a case that works for random forest and logistic regression but not for naive_bayes.

[code]

If I then do:

[code]
I get this error:
[code]
but the same approach for logistic and random forest works.

A

[2016-08-31 16:12] kevinushey commented on #198
There's quite a bit of complicated logic around marshalling around column names when regression involves categorical variables, due to the current implementation. We'd likely be well served in the future to more fully adopt the use of the one hot encoder, as well as Spark pipelines, in making these things work.

[2016-08-31 17:38] ElianoMarques commented on #198
Ok. It would be good if we could have a call with you folks, i would like to meet you all but also introduce our team and see how we can collaborate further in this development. Feel free to drop a line if there is interest. eliano.marques@thinkbiganalytics.com

[2016-08-31 20:21] fereshtehRS opened #199 "Second spark connection could hang (waiting state) in certain scenarios"
Using sparklyr 0.3.12, and Spark 2.0.0
EMR Cluster r3.2xlarge, 1 master, 2 worker nodes

- `flights` data (full set) is used. Data is copied from S3 to HDFS in csv format, and then loaded into Hive tables.
- In IDE, open a spark connection
- Run this command to cache `flights` data:

[code]

- Create a Shiny application on Shiny Server that does some interaction with Spark and `flights` data.
- Ad

[2016-08-31 21:16] #198 closed

[2016-09-01 18:18] javierluraschi commented on #199
I performed a similar investigation locally, here is my setup:

Starting spark standalone:

[code]

Running this from the first r session would work, but the second session would hang:

[code]

The problem was resource starvation for the second application:

<img width="1422" alt="screen shot 2016-09-01 at 11 13 26 am" src="https://cloud.githubusercontent.com/assets/3478847/18178945/32ad6d20-7035-

[2016-09-01 18:51] nwstephens commented on #199
I have simpler workflow that demonstrates the same issue (I think):
1. Connect to a cluster: sc <- spark_connect(master="yarn")
2. Cache a hive table: tbl_cache(sc, "hivetable")
3. Start a new R session
4. Connect to the same cluster (should create a new context)
5. Cache the same hive table
6. Caching hangs on second session

[2016-09-01 19:28] javierluraschi commented on #199
@nwstephens right, we need to make sure the second application is no longer in `waiting` state, this is independent of sparklyr. Is the second application in `waiting` state?

If that's the case, we can start by reducing the number of cores to troubleshoot the resource that is blocking the app to start:

[code]

[2016-09-01 21:34] ganeshmailbox commented on #125
@javierluraschi
I have the same issue as @EricAugust , this is with the latest version of sparklyr (0.3.12) on windows, the issue is that when I click on the any of SparUI in RStudio or on the "Log" icon i get the exact same error as mentioned by EricAugust. Note that i had to do a tweak to create the spark context (this was mentioned also mentioned in this thread). i.e.,
`config <- spark_config()

[2016-09-02 06:18] AlexIoannides commented on #194
After taking a look at this I **do not** think this is an oversight.

If `input_cols` and `output_cols` are removed then the following code doesn't work,

[code]

The variables are needed for `ft_sql_transformer` to work within `sdf_mutate`.

[2016-09-02 06:29] AlexIoannides commented on #191
That idea did cross my mind, but I think it's a little too convoluted. We'd have to create a class, define a method, compile a jar, and then clean-up at some point.

My knowledge of Scala isn't good enough to know if this is even possible, but I was hoping to invoke 'some fundamental class' in the language that creates functions in a similar way that functions can be created in R using meta-progra

[2016-09-02 11:14] peterfrescura opened #200 "job aborted due to stage failure."
this:
library(dplyr)
devtools::install_github("rstudio/sparklyr")
library(sparklyr)
spark_install(version = "1.6.1")
sc = spark_connect(master = "local", version = "1.6.1")
a = data_frame(a = c(1,2,3), b = c(2,3,4))
a_tbl = copy_to(sc, a)

produces this:

Error: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 0.0 failed 1 times, most recent failure: Lost task 0.0

[2016-09-02 11:41] peterfrescura commented on #200
after updating r packages and java problem resolved.

[2016-09-02 11:41] #200 closed

[2016-09-02 17:13] ganeshmailbox opened #201 "SparkUI and Log errors out - cannot open file 'log4j.spark.log': No such file or directory"
@javierluraschi
I have the same issue as @EricAugust , this is with the latest version of sparklyr (0.3.12) on windows, the issue is that when I click on the any of SparUI in RStudio or on the "Log" icon i get the exact same error as mentioned by EricAugust. Note that i had to do a tweak to create the spark context (this was mentioned also mentioned in this thread). i.e.,
`config <- spark_config()

[2016-09-02 18:32] wilvancleve opened #202 "Date comparison in filter"
I have two parquet files with Date columns, and I'd like to be able to effectively use date arithmetic, which is possible in SparkR using functions in the Spark API that it exposes.

I need to test whether one date is one day less than another. In SparkR, this would be :

newdf <- filter(origdf, DATE1 = date_sub(DATE2, 1))

I cannot determine how to effectively do this in sparklyr. Is what I'm try

[2016-09-03 00:04] ElianoMarques commented on #197
Same error in shell:

[code]

[2016-09-03 01:27] kevinushey commented on #197
Thanks. My best guess so far -- we've seen some similar errors when the Spark runs out of memory, so perhaps the job is very memory-hungry?

[2016-09-03 08:11] ElianoMarques commented on #197
Spark continues to run normally. Sometimes it finishes the job, sometimes doesn't but when this message appears it's clearly running. This message shows around 2 hours after a job starts.

[2016-09-03 20:00] kevinushey commented on #197
We might have to investigate if there's something in the Spark R backend that just times out on long-running jobs :/

[2016-09-03 23:58] ElianoMarques commented on #197
thanks @kevinushey, that would be great. On a separate note, how do you add parameters missing in the ml models? e.g.

[code]
There is no variable for Standardization and/ or GLM the regularization parameters are also not there. I see the ml.options, is that the way to other those things?

Eliano

[2016-09-05 09:07] Tarqui opened #203 "Rename function as.date"
I suggest to rename function "as.date"

as.date  = function(x) build_sql("CAST(", x, " AS DATE)")

to "as.Date" with "D" in capitals like the base R function

[2016-09-05 09:12] Tarqui opened #204 "Implement function quantile"
I wonder if it could be possible to implement the quantile function

[2016-09-06 15:58] ChingChuan-Chen opened #205 "connect to Apache Cassandra"
My config.yml:

[code]

R code:

[code]

There is an error occurred:
[code]

I try to know what I done is wrong, and why I can't use sparklyr to connect to Cassandra.
I have check that the Cassandra connector is loaded with following error occurred:

[code]

Is there some things can be done for connecting to Cassandra?
Thanks.

Otherwise, I succeeded to connect to Cassandra with SparkR, does it he

[2016-09-06 21:43] fereshtehRS commented on #199
@javierluraschi The Web UI on the EMR cluster is different, and not always helpful. In this case I don't see the WAITING status for the job while it is hanging. This is what is displayed for the `job`:

![spark-job-status](https://cloud.githubusercontent.com/assets/4906984/18292030/281125aa-7459-11e6-9442-21cdf5e080c8.png)

And if I drill into the job, this is what is displayed for `stages`:

![sp

[2016-09-06 21:50] fereshtehRS commented on #199
I should also mention that when we terminate that operation from IDE, that doesn't terminate the Spark job. Therefore any operation we run after this also hangs. For example `spark_disconnect(sc)` wouldn't work.

[2016-09-07 06:19] javierluraschi commented on #199
@fereshtehRS did

[code]

helper at all? If you could grab me tomorrow to debug this together, that would be great, I still think there is probably a resource constraint somewhere that is blocking execution. I'll try to find you in slack as well.

[2016-09-07 18:54] javierluraschi commented on #199
Investigation follow up with Fereshteh: A resource constraint on Spark seems to be causing this issue since we found out that the second connection can succeed with different resource allocation for the connection. We could use this issue to consider providing better error reporting; however, this might be unfeasible without changing in Spark itself since I'm not yet aware of an API that would pro

[2016-09-07 19:39] peterfig commented on #205
I'm interested in getting this to work too.

Can you get data from Cassandra from your Spark shell?

On Tue, Sep 6, 2016 at 10:58 AM, ChingChuan Chen <notifications@github.com>
wrote:

[2016-09-07 22:59] javierluraschi opened #206 "allow system administrators to configure spark ui url"
Suggestion from @nwstephens.

Would be good to support something like:

[code]

[2016-09-08 11:25] ChingChuan-Chen commented on #205
Please see the update above, it can work now.
In addition, I try sparklyr in another computer and I had encountered the same error, java.lang.reflect.InvocationTargetException. After I reboot the computer, it also works.

@peterfig I can access tables in Cassandra from Spark shell.

[2016-09-08 13:16] slopp commented on #204
You can do this use dplyr's ntile function - note that Sparklyr's dplyr backend supports window functions:

[code]

[2016-09-08 13:38] slopp opened #207 "Support for regParam and weightCol in GLM"
Add additional parameters to ml_generalized_linear_regression to support the regParam and weightCol optional arguments.

[2016-09-08 13:44] slopp commented on #197
@ElianoMarques and @kevinushey I'm opening this previous request as a new issue: https://github.com/rstudio/sparklyr/issues/207

@ElianoMarques fyi - the ml.options is currently used as an interface to control the resulting column names (id, response, and features) after the input data frame is prepared for the ml model via ml_prepare_dataframe. This is important if you wish to save the model and

[2016-09-08 21:22] rgbkrk opened #209 "Set up connection using sc from sparkR"
Is there a way to set up the sparklyr spark context using a pre-existing `sc` from sparkR?

[2016-09-09 13:52] MarkPratley commented on #189
I have this problem too

  Failed to launch Spark shell. Ports file does not exist.
    Path: C:\Users\user\Downloads\spark-2.0.0-bin-hadoop2.7\spark-2.0.0-bin-hadoop2.7\bin\spark-submit.cmd
    Parameters: --class, sparklyr.Backend, --packages, "com.databricks:spark-csv_2.11:1.3.0","com.amazonaws:aws-java-sdk-pom:1.10.34", "C:\Users\user\Documents\R\win-library\3.3\sparklyr\java\sparklyr-2.0-2.11

[2016-09-09 16:05] fereshtehRS commented on #199
@javierluraschi  (and @nwstephens ) I have done more testing around this. This is definitely a resource constraint, and may be a bug in Spark with dynamicAllocation enabled. I will write up a document, but the summary is this:

- With dynamicAllocation enabled, when the first context starts a heavy job, it requests and is being granted a large number of executors
- When this job is completed the r

[2016-09-09 18:39] javierluraschi commented on #114
@mkaja looks like there is no access from the machine where the r-session is running to the emr driver node. If you are running in emr, I would recommend you install rstudio in emr. For instance, see: https://blogs.aws.amazon.com/bigdata/post/Tx37RSKRFDQNTSL/Statistical-Analysis-with-Open-Source-R-and-RStudio-on-Amazon-EMR

[2016-09-09 18:53] javierluraschi commented on #188
@ElianoMarques do you remember the example of `invoke("cache") %>% sdf_register`? In general, it's a goal for sparklyr to never have to use `invoke` unless you are writing an extension. Thanks!

[2016-09-09 18:55] fereshtehRS commented on #199
Found this parameter for `dynamicAllocation`:

`spark.dynamicAllocation.maxExecutors`

We should be able to get around the "hang" issue using a reasonable max.

[2016-09-09 20:10] ElianoMarques commented on #197
Thanks for the note. I have looked inside the function further and realized the ml.options was being used in the pre-modelling process.

[2016-09-09 20:19] ElianoMarques commented on #184
This is not related to the package.