[2016-09-09 20:19] #184 closed

[2016-09-09 21:45] kevinushey commented on #207
I just added something that should enable this for 'power users' -- you can now pass something like:

[code]

Basically, `model.transform` is just a user-defined function that accepts a Spark model object, and returns a Spark model object. This allows you to access / change things on the model that aren't provided directly by the `sparklyr` API.

[2016-09-09 21:51] kevinushey commented on #203
Good suggestion; thanks!

[2016-09-09 21:52] #203 closed

[2016-09-11 06:41] magarick opened #211 "pmin and pmax are unsupported"
Using pmin or pmax to get the elementwise minima or maxima of two columns does not work with a Spark backend. The following code works when using a plain R backend (and I believe most databases too).

`df_test <- data.frame(x=c(1, 2, 3), y=c(2, 1, 2))
df_test %>% mutate(pmin(x,y)) `

However, the following code with the same data in Spark does not.

`sc = spark_connect(master='local')
copy_to(sc,

[2016-09-11 19:28] kevinushey commented on #211
We could probably add a function to support this. That said,

[code]

should work okay now for the two variable case.

[2016-09-11 19:34] dwy904 opened #212 "Model Deployment"
I am wondering if it is possible to provide the sample code of ML model deployment on the web from the local cluster ?

[2016-09-12 16:24] javierluraschi commented on #201
Opened from https://github.com/rstudio/sparklyr/issues/125

[2016-09-12 17:35] javierluraschi commented on #202
@wilvancleve `date_sub` is currently not supported in sparklyr, you could try:

[code]

[2016-09-12 20:43] javierluraschi commented on #205
Can this issue be closed? Or is there anything else blocking this connector?

[2016-09-12 20:47] javierluraschi commented on #199
Great! Should we close this issue then? @fereshtehRS

[2016-09-12 20:51] fereshtehRS commented on #199
sure; closing it.

[2016-09-12 20:51] #199 closed

[2016-09-12 21:01] kevinushey commented on #204
Is it worth considering implementing both `quantile` and `ntile` here?

[2016-09-12 21:07] slopp commented on #204
Personally I don't think so, but it probably worth expanding the window function section of the dplyr doc ... or at least linking to the dplyr vignette. I think once you find the ntile function its straightforward to get quantiles.

[2016-09-12 23:28] #205 closed

[2016-09-13 04:44] javierluraschi commented on #212
@dwy904 could you be more specific of what "ML model deployment on the web" you are referring to? Is this perhaps related to provide a way to run an "ML model" at scale, using AWS or similar online technologies?

[2016-09-13 18:30] kevinushey opened #214 "consider exporting `sdf_read_column`"
And perhaps a cousin `sdf_read_columns`, for only reading certain columns from a DataFrame in one go.

[2016-09-13 23:24] slopp commented on #176
The following worked for me (we hope to export the `sdf_read_column` function:

[code]

where `res

[2016-09-14 09:33] kjedrzejewski opened #215 "*_join(..., copy = T) doesn't work"
I'm working on Spark 2.0.0 with local master. When i run following code:

[code]

and i receive following error:

[code]

which as I understand comes from `Spark` directly not `sparklyr`.

[2016-09-14 17:11] magarick commented on #204
@kevinushey @slopp I think it is worth it. They have different use cases and you can't directly get quantiles from ntile without some inefficient gymnastics. For instance, right now I'm working on something where what I care about is the median and two other quantiles to get a sense of the range of the data. Doing this with ntile would be painful. ntile also only allows uniformly sized buckets whi

[2016-09-14 17:36] slopp commented on #204
@magarick that commentary is helpful.

@kevinushey we should be able to implement all of these: https://spark.apache.org/docs/latest/api/scala/index.html#org.apache.spark.sql.DataFrameStatFunctions

Though I am not sure what the best interface would be, given dplyr doesn't really have these functions...

[2016-09-15 17:44] javierluraschi commented on #215
Thanks, sent a PR to implement joins against local tables, thanks for pointing this out: https://github.com/rstudio/sparklyr/pull/216

[2016-09-15 17:44] kevinushey commented on #214
Done with https://github.com/rstudio/sparklyr/commit/bf0483acea719585839a9c95f1a9234701b3bc6c.

[2016-09-15 17:44] #214 closed

[2016-09-15 17:54] sabraham opened #217 "ml_linear_regression regression weights"
Can we add a regression weights parameter to `ml_linear_regression`, similar to the `weights` parameter in `lm()` in the base R package?

[2016-09-16 15:59] fereshtehRS opened #218 "Couple of issues with IDE "New Connection" dialog on Cluster"
RStudio Server Version 0.99.1259 on EMR 5.0 Cluster
This cluster uses Spark 2.0.0 and Hadoop 2.7.2

- In Spark tab, open New Connection dialog

1- In Master drop down field, select "yarn-client". This removes the option to select Spark and Hadoop version. And it defaults to Spark 1.6.2 and Hadoop 2.6.

2- Make these selections:
- Spark version: Spark 2.0.0
- Hadoop version: Hadoop 2.7  (the only m

[2016-09-16 16:10] fereshtehRS opened #219 "IDE SparkUI button gives error"
I see this on both:
- RStudio Server Version 0.99.1259 on EMR 5.0 Cluster
- RStudio Desktop Version 1.0.16 (on Mac)

- Make a connection to Spark
- In the Spark tab of IDE click on SparkUI. This error is reported:

[code]

[2016-09-16 16:35] ssoulier opened #220 "n_distinct does not accept more than one column"
In this example, I am using first `dplyr` on a **data frame** and the same code on a **spark table**.
I have the error `Error in n_distinct(Petal_Length, Petal_Width) : unused argument (Petal_Width)` with the spark version

[code]

[2016-09-16 18:08] fereshtehRS opened #221 "Change in string formats during copy_to and collect operations on a cluster"
I am trying a few simple steps to copy flights data into Spark and then collect it back (using `nycflights13` data). Repeating the exact same steps on my local connection to Spark (on Mac), and also on an EMR cluster. The results are different, and problematic in case of cluster. Not sure where/how this change happens.

1) Steps on Mac Spark:

[code]

2) Steps on the EMR Cluster:

[code]

Notice h

[2016-09-16 18:28] javierluraschi commented on #221
Thanks @fereshtehRS, we should fix this one before the CRAN checkpoint. Pushing a fix...

[2016-09-16 18:37] jjallaire commented on #219
Which version of R are you running? (I'm wondering if the perl = TRUE
argument was introduced in a later R release)

On Fri, Sep 16, 2016 at 12:10 PM, fereshtehRS <notifications@github.com>
wrote:

[2016-09-16 18:39] #221 closed

[2016-09-16 19:59] fereshtehRS commented on #219
On Mac: ‘3.2.3’

On cluster: ‘3.2.2’

[2016-09-16 20:39] javierluraschi commented on #218
1. Removing Spark and Hadoop versions when `SPARK_HOME` is specified was the intended original design. Once you select `yarn-client` it should provide UI with something like `sc <- spark_connect(master = "yarn-client")` which would use the `SPARK_HOME` version and auto-discover which jar to deploy. From our chat, doesn't seem that there anything broken in this case. Ping me if I missed something.

[2016-09-16 20:44] fereshtehRS commented on #221
Thanks @javierluraschi. Works fine in new version.

[2016-09-16 20:47] javierluraschi commented on #221
Thanks for checking this.

[2016-09-17 02:37] #219 closed

[2016-09-20 08:55] ssoulier commented on #220
Is there any reason that in Spark we can't use more than one variable in `n_distinct` ?

[2016-09-20 20:06] fereshtehRS commented on #218
I know this is not fully fixed yet, but just an update:
RStudio Server Pro 1.0.20, sparklyr 0.3.14

a) If `SPARK_HOME` is not set, we get prompted with info about this and system admin. GOOD
b) Set `SPARK_HOME`, then bring up the dialog.
 - Select `cluster`
 - Dialog pops up to enter `Spark master`
 - Enter `yarn-client` in the text field, and `OK`
 - Now the connection dialog shows:

[code]

Noti

[2016-09-20 20:19] fereshtehRS opened #224 "SparkUI URL on EMR clusters"
This might be fine, but logging it for the record.

On the EMR Cluster, from RStudio IDE, Spark tab, open a connection and then click on SparkUI. This opens a browser page to a specific job page using the internal IP:

[code]

This works fine for the current job. But the drawback is that you cannot browser to other jobs from the root URL: http://ip-10-136-57-4.ec2.internal:20888 (this is forbidden

[2016-09-20 20:20] javierluraschi commented on #218
@fereshtehRS My intent was to have this already fully fixed. This seems like a new codepath that we want to improve, taking a look. Let me know if you find anything else appart from this last issue. I'll push a fix for todays IDE build.

[2016-09-20 20:22] fereshtehRS commented on #224
I should note that in some ways this is a better URL to access. I have been using the UI on port 18080 (e.g. http://ec2-184-72-178-0.compute-1.amazonaws.com:18080) and we had noticed that some of the information is missing from the UI. But on the internal URL we see everything.

[2016-09-20 20:30] javierluraschi commented on #224
My take, I don't think we would want to support EMR specific settings appart from the information present in the Spark logs while connecting to EMR. Rather, the system administrator in this case, should set the `sparklyr.sparkui.url` config setting to configure the preferred endpoint for the Spark UI. Sounds reasonable?

[2016-09-20 20:52] fereshtehRS commented on #224
Yeah, definitely.

[2016-09-20 20:52] #224 closed

[2016-09-20 21:08] fereshtehRS commented on #218
@javierluraschi Haven't noticed anything else.

[2016-09-21 18:22] kevinushey commented on #217
It looks like the Spark APIs here do allow users to set a 'weight' column; I'll have to see if this maps as we expect to R's `lm` weights argument.

[2016-09-23 18:01] csgillespie opened #225 "Normalizer"
Is it possible to use the Spark [normalizer](https://spark.apache.org/docs/latest/ml-features.html#normalizer)?

[2016-09-23 19:38] kevinushey commented on #225
Good idea! Not sure why this one was missed.

[2016-09-23 19:45] kevinushey opened #226 "Spark download failure not caught / reported well"
Just saw this:

[code]

We should fail more quickly after an unsuccessful download.

[2016-09-23 19:50] javierluraschi commented on #226
@kevinushey a retry worked, correct? From this `unexpected end of file`, looks to me like the file got corrupted during download.

[2016-09-23 19:50] #226 closed

[2016-09-23 19:51] kevinushey commented on #226
A retry did not work as a directory for the Spark installation had already been generated and RStudio detected that as a successful install.

I had to manually remove the generated folder + retry then.

[2016-09-23 19:55] kevinushey commented on #225
Ah, I recall why now -- the feature transformer accepts rows of _vectors_, not rows of _doubles_, so attempting to run it naively will give you an error like:

[code]

[2016-09-24 07:55] csgillespie commented on #225
Is there a way to not run the function naively?

[2016-09-24 14:34] wilvancleve opened #227 "Row binding large Spark DataFrames leads to a crash error."
Howdy, all.

I've got 8 approximately 20 GB parquet files which I sequentially load, filter down to about 150MB of data, and then want to combine into a single parquet file. The tables have identical structures.

I'm running a recently updated build of sparklyr from devtools on a 4 core macbook with 8GB of RAM.

In SparkR, this is no problem: I use SparkR::union and can easily bind them, and while

[2016-09-24 19:08] magarick commented on #211
Thanks! Solution works well.

[2016-09-24 19:08] #211 closed

[2016-09-25 15:45] JackHo327 commented on #189
Have the same problem.

  Failed to launch Spark shell. Ports file does not exist.
    Path: D:\Spark2\bin\spark-submit.cmd
    Parameters: --class, sparklyr.Backend, --packages, "com.databricks:spark-csv_2.11:1.3.0","com.amazonaws:aws-java-sdk-pom:1.10.34", "D:\R\R-3.3.1\library\sparklyr\java\sparklyr-2.0-2.11.jar", C:\Users\RENZHI~1\AppData\Local\Temp\Rtmp0aafOf\file24ac462561f0.out

OS:
windows

[2016-09-25 16:12] JackHo327 commented on #114
Hi @selva86, could you tell me which version of JAVA did you re-installed, because I also have the same problem that you met before.
I am on windows 10
my java  version is

Java(TM) SE Runtime Environment (build 1.8.0_101-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.101-b13, mixed mode)

[2016-09-26 00:52] JackHo327 opened #229 "Cannot set up the connection on spark 2.0.0"
Hi,
I cannot set up the spark_connection on spark 2.0.0, following the instruction on `http://spark.rstudio.com/deployment.html`
However, I could do that on spark 1.6.x .
For different version of spark, I've changed my SPARK_HOME.
Also, I add System32 into my sys environment variables list.

For spark 2.0.0:

For spark 1.6.2:

  Sepal_Length Sepal_Width Petal_Length Petal_Width Species
         <d

[2016-09-26 04:10] selva86 commented on #114
@JackHo327 I installed 'jdk-8u101-macosx-x64.dmg' from [link](http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html). You might've to install 'jdk-8u101-windows-x64.exe' if your PC is 64bit.

[2016-09-26 04:23] JackHo327 commented on #114
Thank you @selva86 .
but unfortunately, still got that problem.
so strange because I can run this at spark 1.6.x

[2016-09-26 07:41] saraswatmks opened #230 "ERROR: dependency 'config' is not available for package 'sparklyr'"
Hi
I am facing in trouble in installing sparklyr package. I've followed installation steps as guided on tutorial page. I have installed devtools package successfully, but the next step throws error. Don't know where am I missing. Any help?

The downloaded binary packages are in

Downloading GitHub repo rstudio/sparklyr@master
from URL https://api.github.com/repos/rstudio/sparklyr/zipball/master
In

[2016-09-26 16:47] jeffwong-nflx commented on #209
+1 on this. The R session that I start already has a sc object initialized (I believe from some methods from sparkR, which are called to connect to a remote spark cluster). I think when you initialize a sc from sparklyr it creates a connection that is dplyr friendly. In line 70 of https://github.com/rstudio/sparklyr/blob/master/R/connection_spark.R

it looks like there is a function to autodetect

[2016-09-26 17:45] kevinushey commented on #230
It looks like you're using MRO, which I'm guessing is also checkpointed to a CRAN release that does not have the `config` package available.

You'll have to manually install `config` yourself from https://cran.r-project.org/package=config. Or switch yourself to using the RStudio CRAN mirror, with e.g.

    options(repos = c(CRAN = "https://cran.rstudio.com"))

[2016-09-26 17:55] kevinushey commented on #227
Right now, RStudio doesn't handle aborted Spark jobs very well -- effectively, the connection can get into an inconsistent state, which basically causes 'weirdness' when RStudio pings the `Spark` instance in the background.

We do plan to improve the resilience of the backend, so hopefully issues like that will be resolved soon.

That said, I'm surprised you're seeing an issue in `sparklyr` but no

[2016-09-26 18:08] kevinushey commented on #220
I think the issue here is simply that `n_distinct` is not implemented for remote sources -- `dplyr` provides `n_distinct` currently only for local data frames. I think it should be possible for us to add this ourselves, however.

[2016-09-26 18:17] #220 closed

[2016-09-26 19:09] kevinushey commented on #225
No, not performantly anyway. I would suggest just doing the normalization by hand.

[2016-09-26 19:13] csgillespie commented on #225
Is this something you plan to add to sparklyr in the future?

[2016-09-26 19:39] javierluraschi commented on #229
@JackHo327 which version of sparklyr your are running? If it's not `0.4.1` could you please upgrade using: `devtools::install_github("rstudio/sparklyr")` and retry?

The `0.4.1` contains error reporting improvements that should help us troubleshoot this issue from the new log.

[2016-09-26 19:42] javierluraschi commented on #114
@JackHo327 how are you setting the `SPARK_HOME`? sparklyr looks at the system environment variable `SPARK_HOME` so if this happens to point to the `1.6.*` version, it would also use the wrong jars while deploying to Spark.

[2016-09-26 19:45] javierluraschi commented on #209
There is no way to share the spark connection between sparkR and sparklyr since two different backends manage this connection. If there is something in particular that you can do in sparkR but not in sparklyr, please open a github issue for us to take a look.

[2016-09-26 20:12] rgbkrk commented on #209
The spark environment I'm in won't load with sparklyr out of the box. If there's a good way to handle a custom environment I can make it easier for a lot of people.

[2016-09-26 20:38] javierluraschi commented on #209
@rgbkrk Yes, for sure. How does that custom environment looks like?

[2016-09-26 20:44] rgbkrk commented on #209
Would it help for me to upload a sanitized spark conf + environment variable setup?

[2016-09-26 20:53] javierluraschi commented on #209
@rgbkrk First, it would help to answer: Which operating system are you running this in? Was spark installed with `spark_install`? If not, which Spark distribution are you using? How does your `master` url connection look like? I can ask more questions once I have those answers. Cheers.

[2016-09-26 22:34] mkaja commented on #114
*Sys.setenv(HADOOP_CONF_DIR= "/etc/hadoop/conf")*

*Sys.setenv(SPARK_HOME=
"/home/user-id/.cache/spark/spark-1.6.0-bin-hadoop2.6")*

On Mon, Sep 26, 2016 at 2:42 PM, Javier Luraschi <notifications@github.com>
wrote:

[2016-09-27 01:58] JackHo327 commented on #229
Hi @javierluraschi, I am new to spark and sparklyr.
You may found that I also post something in [another ticket](https://github.com/rstudio/sparklyr/issues/114#issuecomment-249717400) , for you convenience, we could move to here.

Here is the thing, before I shift between these two versions, as my codes showed above, I checked my 'SPARK_HOME', and it pointed to "D:\Spark2", where my spark 2.0.0 lo

[2016-09-27 04:59] javierluraschi commented on #229
@JackHo327 To help troubleshoot the Hive issue, could you try to recreate the hive context as follows and report the specific error back in this thread:

[code]

In general, users should be able to instantiate Hive since it's shipped as part of hadoop and supported natively in Spark.

To troubleshoot the Spark `2.0.0` issue, I would recommend to upgrade sparlyr to the latest version using the `dev

[2016-09-27 05:18] JackHo327 commented on #229
@javierluraschi when I input your HIVE_ISSUE codes, I get ERROR message below:

    Error: java.lang.reflect.InvocationTargetException
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:62)
	at sun.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImp

[2016-09-27 05:39] javierluraschi commented on #229
@JackHo327 that should be enough, from your comment, seems like you installed Spark using `spark_install()`, correct? If not, which version and distribution of Spark is installed?

Could you share `sessionInfo()` to get the OS/R/etc versions in your system?

For local development, we recommend using `spark_install()`. That command should do all the installation and configuration for you so that yo

[2016-09-27 07:41] saraswatmks commented on #230
Hi Kevin
It worked. Thanks you so much!
To install config package I had to explicitly mention the repository address: install.packages("config",repos="http://cran.us.r-project.org")

[2016-09-27 07:41] #230 closed

[2016-09-27 08:20] Tarqui opened #231 "datediff function"
I wrote datediff function. Probably it would be helpfull to add to the code.

http://spark.apache.org/docs/latest/api/scala/#org.apache.spark.sql.functions$

datediff = function(x, y) build_sql("DATEDIFF(day,", x, ",", y,")")

[2016-09-27 09:43] Tarqui opened #232 "spark_write_csv function"
spark_write_csv function does not work correctly.

`library(sparklyr)`
`library(dplyr)`
`sc <- spark_connect(master = "local", version = "1.6.2")`
`iris_tbl <- copy_to(sc, iris, "iris", overwrite = TRUE)`
`spark_write_csv(iris_tbl, path = "iris.csv")`

However, writting in json works perfectly

`spark_write_json(iris_tbl, path = "iris.json")`

[2016-09-27 11:18] m-stanley opened #233 "Where does sparklyr look for HTTPS certificate authorities?"
I'm getting the following errors when I try to `spark_connect()`:

[code]

I presume this is because I'm on a network protected by a firewall/antivirus solution that intercepts all HTTPS connections and re-signs them with an internal certificate. I have the internal certificate authority certificate and can add it to the list of accepted authorities - for example, I have to do this with the `opens

[2016-09-27 14:03] ganeshmailbox opened #234 "Sparklyr to Spark ML - Integration & Architecture"
Hi Team,

I would like to thank you all for bringing about a pretty nifty open source tool for R users. I have few request for clarifications:

1. I see currently sparklyr is integrated with Apache Spark API, i am assuming you are using spark.mllib package for running the machine learning algorithm internally. Is that correct understanding?
2. As you know spark is moving from RDD to more DataFrame

[2016-09-27 14:21] jjallaire commented on #234
We are actually using the new data frame based `spark.ml` APIs rather than the legacy `spark.mllib` APIs (note that Apache Spark documentation still refers to both under the moniker of "MLlib" which is a bit confusing.

We don't actually call SparkR directly. That said, our R to Java binding is indeed based on the original SparkR implementation, but we've made some changes to improve performance a

[2016-09-27 16:59] javierluraschi commented on #232
@Tarqui I noticed this post: https://github.com/databricks/spark-csv/issues/325, you could try:

[code]

[2016-09-27 17:09] kevinushey commented on #230
Great to hear, thanks!

[2016-09-27 17:52] apapiu opened #236 "Dplyr query in tutorial not the same as on a data.frame"
Going over the tutorial [here](http://spark.rstudio.com/#rstudio-ide) and noticed that running this on sparklyr:

[code]

Gives different results from:

[code]

It seems to be because the mean in spark has something like `na.rm = TRUE` by default.

[2016-09-27 18:00] javierluraschi commented on #233
`sparklyr` does not download these files directly, instead, Spark downloads them from their repo.

This looks to me more like a network connection issue. Would downloading them form that machine with `wget  https://repo1.maven.org/maven2/com/databricks/spark-csv_2.10/1.0.3/spark-csv_2.10-1.0.3.pom` work appropiately? I would follow up with you network administrator to understand if a restriction c

[2016-09-27 18:36] kevinushey commented on #236
Indeed, the issue here is that Spark defaults to something like `na.rm = TRUE` for all arithmetic / mathy operations. The results are the same if I force `na.rm = TRUE` on the R equivalent code.

I don't know if there's anything we can do to change this behavior; I imagine we'll just have to make sure it's clearly documented. @javierluraschi, what do you think?

[2016-09-27 18:40] kevinushey commented on #231
The `datediff` function is already made available in `sparklyr`, so this change should be unnecessary. You should already be able to call `datediff` within a mutate call, e.g.

[code]

[2016-09-27 18:43] ganeshmailbox opened #237 "sparklyr with h2o - context creation issue"
I have a problem creating a spark context with the sparkling water, steps as given in the sparklyr documentation. This is what i tried:

[code]

moment i add the library `rsparkling` and try to create spark connect, i am getting an error as below. No issues if i tried to connect without loading rsparkling.

[code]

I tried with and without http_proxy in the environment, same result. Also tried to

[2016-09-27 18:47] ganeshmailbox commented on #234
Great ! this helps.

[2016-09-27 19:29] Tarqui commented on #231
Yes, you are rigth

[2016-09-27 19:29] javierluraschi commented on #236
Took a look at this... couldn't find any simple way yo reconfigure this behavior to match R to set mean to `NA` when `NA` values are present. Users of `sparklyr` will have to become aware there are differences in behavior between R and Spark, in this case, for `NA`s. This is already the case for `dplyr` where a `dplyr` backend (say Postgress) does not guarantee 100% fidelity between dplyr executio

[2016-09-27 19:32] javierluraschi commented on #237
@ganeshmailbox which version of sparklyr? Could you upgrade to the latest version using: `devtools::install_github("rstudio/sparklyr")` and share again the log? There are a couple fixes in `0.4.1` that improve logging while connecting. Thanks!

[2016-09-27 19:35] #231 closed

[2016-09-27 20:16] wilvancleve commented on #227
Nope, that one fails too, at Task 1701 of 1705.

[code]

My guess is it's a RAM issue? Dunno what SparkR is doing to make the call more memory efficient... Here's the basics of the successful SparkR call

[code]

[2016-09-27 21:13] kevinushey commented on #227
That's strange :/ I am guessing it must be a RAM issue as well, but I do not know why it would succeed in `SparkR` but not in `sparklyr`. We'll see if we can learn a bit more about what's going on; thanks!

[2016-09-27 21:34] fereshtehRS commented on #227
@wilvancleve Can you check the settings/environment when you run with `sparklyr` and compare it with when you run `sparkR`? You can use the Spark Web UI, and go to Environment tab for each job. If the memory settings for the 2 jobs are different, that could explain why `sparkR` is successful for the same operation (is it the exact same operation you run in the 2 cases?).

[2016-09-28 05:26] Gnolam commented on #229
I have the same issue as **@JackHo327**.
All working great for Spark 1.6.2 but not for 2.0.0 with same  message:

Java was updated, `spark_install()` used, paths all set up.

Why the error refers to "Ports file does not exist"?

[2016-09-28 09:29] m-stanley commented on #233
You're quite right that this is a network connection issue; the issue as I mentioned is that a secure connection can't be established because all HTTPS connections on this network are signed with an internal CA certificate, which isn't recognised by default. wget works, but only because I've added the certificate authority to wget already.

Your answer did point me in the right direction, though,

[2016-09-28 09:29] #233 closed

[2016-09-28 11:21] wilvancleve commented on #227
Turns out they _were_ slightly different, but they're now identical and I still get the same error.

[code]

[2016-09-28 14:29] MarcinKosinski commented on #197
I receive the same error as @ElianoMarques for long time ML operations.
My whole clustering takes about 2-3 hours, in the Spark UI I see the job is running but in the RStudio Server I receive:

[code]

but what's weird that the Spark havent finished yet

![sparklyr_ui](https://cloud.githubusercontent.com/assets/6773454/18917686/c89cad3c-8598-11e6-953e-a50d15a54605.png)

[2016-09-28 16:17] JackHo327 commented on #229
Hi @javierluraschi, thanks for your help. However, I am not quite sure about :

    conf[["spark.sql.warehouse.dir"]] <- "file:///C:/tmp/spark-warehouse"

I went to check my C disk, and there is a file called 'tmp', in this tmp file, there is a file called 'Hive', and in the 'Hive', there are two interesting files called 'Renzhi He' and 'Renzhi%20He' (this file also contains another sub-level file

[2016-09-28 16:23] JackHo327 commented on #229
Hi @Gnolam, and yes, I also doubt whether the 'ports' refers to sth wrong with the ports of windows.

Let's see what kind of suggestions will @javierluraschi  give to us.

[2016-09-28 18:02] joscani opened #239 "sdf_save_table does not work using spark 1.6.2 and hadoop 2.6"
Hi.
I'm trying to upload an object made with using sdf_predict in a spark using sdf_save_table, but It doesn't work. However if I install spark 2.0 and hadoop 2.7 it work, but then sparkling  to use h2o sparkling-water does not work. My system is a i5core running a xubuntu 16.04 64 bits

[2016-09-28 18:20] kevinushey commented on #239
Can you please post the error message you're seeing?

[2016-09-28 18:23] joscani commented on #239
Of course.

[code]

[2016-09-28 18:28] kevinushey commented on #239
Thanks! I've reproduced this and it does seem to work with Spark 2.0.0, but not with Spark 1.6.2. I'll see if I can figure out what's going on.

[2016-09-28 18:31] joscani commented on #239
Thanks. Sparklyr  seems a nice a good project.

[2016-09-28 18:42] kevinushey commented on #239
In the Spark logs, I see:

[code]

It looks like this directory is used no matter what the `hive.metastore.warehouse.dir` is set to on the Hive context, so it's likely a bug in Spark <2.0.0 -- some discussion on StackOverflow [seems to echo that assertion](http://stackoverflow.com/questions/31985728/spark-on-embedded-mode-user-hive-warehouse-not-found).

I'll see if we can work around this.

[2016-09-28 20:03] kevinushey commented on #239
This should be worked around in the latest version of sparklyr, can you try installing it from GitHub and let us know if it works?

[code]

[2016-09-28 20:17] javierluraschi commented on #233
@m-stanley Great! Thanks for sharing the solution here, other users will find this really helpful!

[2016-09-28 21:05] javierluraschi commented on #197
@MarcinKosinski Looks like we could be hitting a timeout here: https://github.com/rstudio/sparklyr/blob/299fba7da57a6f11c99a545a4ccd67b6877d3c9f/R/spark_shell.R#L188-L193

We inherited this timeout from `sparkR` and was set to `6000` or about `~1.6` hours but I can't think of a good reason why this would be set to this arbitrary number. Therefore, increased the timeout significantly with this comm

[2016-09-28 21:22] kevinushey commented on #239
Closing this as resolved; please re-open if you're still having trouble.

[2016-09-28 21:22] #239 closed

[2016-09-28 22:00] kevinushey commented on #204
I've added `sdf_quantile()` as an interface to this function for now; we can think about extending this in the future.

[2016-09-28 22:00] #204 closed

[2016-09-28 22:02] #170 closed

[2016-09-28 22:03] kevinushey commented on #176
We now have `sdf_read_column` as an available function, so we should be good to go here now.

[2016-09-28 22:03] #176 closed

[2016-09-28 22:04] kevinushey commented on #156
My best guess is that this was related to an older bug in `devtools` where circular dependencies could cause an infinite loop, but this should be resolved now.

[2016-09-28 22:04] #156 closed

[2016-09-28 22:34] #25 closed

[2016-09-28 22:35] kevinushey commented on #35
The `sdf_predict()` functions should now provide a way for accomplishing this -- they effectively return the input dataset, with a prediction column added in that can be used for further use.

[2016-09-28 22:35] #35 closed

[2016-09-28 22:36] kevinushey commented on #65
FWIW, we do now have a method for `na.omit()` that should work with Spark DataFrames.

[2016-09-29 00:12] ElianoMarques commented on #197
great that you found the issue and i also you add this as a config. Thanks @javierluraschi

[2016-09-29 05:25] shuaiwang88 commented on #114
@selva86 I have two installed on Mac as well. Solved by deleting the brew installed one and restart the Mac.

[2016-09-29 09:01] MarcinKosinski commented on #197
Thanks @javierluraschi . I think this issue can be closed (if maybe previously renamed).

[2016-09-29 14:32] magarick commented on #236
What about something straightforward like printing a warning if certain functions are called and there are `NA`s? If I call functions like `mean` with `na.rm = TRUE` it already spits out a warning anyway, so this would be roughly consistent.

[2016-09-29 16:30] NikolayNenov commented on #189
I saw there are other people who share the same problem, so I thought I will give few more details about my configuration.

I installed Spark 2.0.0 manually and when I run
`library(SparkR, lib.loc = c(file.path(Sys.getenv("SPARK_HOME"), "R", "lib")))`
`sparkR.session(master = "local[*]", sparkConfig = list(spark.sql.warehouse.dir="/file:C:/temp"))`
SparkR starts without issues.

Afterwards I insta

[2016-09-29 17:56] baasman commented on #189
I've been getting the same error message as everybody else:

Error in force(code) :
  Failed to launch Spark shell. Ports file does not exist.
    Path: C:\Users\baasman\AppData\Local\rstudio\spark\Cache\spark-2.0.0-bin-hadoop2.7\bin\spark-submit.cmd
    Parameters: --class, sparklyr.Backend, --packages, "com.databricks:spark-csv_2.11:1.3.0","com.amazonaws:aws-java-sdk-pom:1.10.34", "C:\Users\baas

[2016-09-30 06:02] michaele4321 opened #241 "spark_connect on OS X El Capitan returns "Failed to open connection to monitor""
I am running on OS X El Capitan using RStudio1.0.31.preview
I am following the introductory process described here https://github.com/rstudio/sparklyr

After running spark_install(version = "1.6.2"), Spark_home is "/Users/michaele4321/Library/Caches/spark/spark-1.6.2-bin-hadoop2.6"

I am getting this error message:
`sc <- spark_connect(master = "local")`

[code]

The error message is coming from t

[2016-09-30 15:32] Tarqui commented on #232
It worked, it was a version problem. Thank you

[2016-09-30 16:07] kevinushey commented on #241
Do you by any chance have an antivirus running, or other similar software that might affect internet connectivity (local or otherwise)?

[2016-09-30 16:24] menichols74 commented on #229
From previous work with Spark, I have Spark 2.0 with hadoop 2.7 installed on my Win 8 computer. I have updated the env variables and can successfully run "spark-shell" or "pyspark" from the cmd line to run a scala or pyspark program (Spark is working on windows). I installed the sparklyr using the traditional "install.packages("sparklyr") and then updated to that latest using devtools (current v

[2016-09-30 17:24] lalitnookala opened #242 "Unable to load high dimension dataset"
So, I am using the data available on https://www.kaggle.com/c/digit-recognizer/download/train.csv. This dataset has 42000 rows and 785 columns (1 for label and 784 pixels.)

Now using Sparklyr I want to analyze this data. I have the following code written

[code]

Sparklyr is unable to read up a high dimension dataset. How do I know this? By trial and error: I chopped of the dataset to only 72 col

[2016-09-30 18:16] kevinushey commented on #242
Thanks for the bug report! It looks like there's something going wrong with our `collect()` implementation -- we receive the expected result when reading a single column from the table, but not when collecting the whole table in one go.

I'll try to see if I can figure out what's up. As a workaround, you can try collecting the dataset column-by-column with something like:

[code]

Or even stacking

[2016-09-30 19:08] kevinushey commented on #242
As far as I can tell, this appears to be a bug in Spark itself. Even calling the `collect()` method directly returns the wrong result. From some local debugging:

[code]

Of course, the first row is _not_ filled with all zeroes. I'll try to verify this + generate a reproducible example and submit it upstream to the Spark team.

[2016-09-30 19:40] lalitnookala commented on #242
Thanks for looking into this so quickly.

I will try your solution of having pixel data in one column and label as a separate column.

To give you more background on this: I am trying to execute PCA on this dataset.

pca_train_model <- digit_tbl_spark %>%select(-label) %>%ml_pca()

and when I tried to look at my explainedVariance(Spark v2.0.0) and its components( v1.6.2 or v2.0.0), it returns an I

[2016-09-30 21:18] kevinushey commented on #242
I've just pushed a workaround for this particular issue -- could you try reinstalling `sparklyr` with:

[code]

and let us know if the issue is resolved?

[2016-09-30 21:22] kevinushey commented on #242
As an aside -- I do _not_ see this issue when using `SparkR`, so there must be something funky going on in `sparklyr` code somewhere. :/

[2016-09-30 21:43] kevinushey opened #243 "'collect()' sometimes produces wrong result from 'copy_to()'ed datasets"
Repro -- the following program fails:

[code]

Yet, the following works fine:

[code]

So we must be doing something strange in our implementation of `copy_to()` that infects how `collect()` operates. @javierluraschi, do you have any ideas?

[2016-09-30 22:08] kevinushey commented on #243
It looks like somehow calling `tbl_cache()` here is messing up the returned data; in particular, this call is the culprit:

https://github.com/rstudio/sparklyr/blob/070366ce809fb8e8c46755c96db807a4feba995e/R/dplyr_spark.R#L113

Somehow, invoking `cache()` on the Spark DataFrame screws up the returned results (!!!)

[2016-09-30 22:09] kevinushey commented on #243
We can replicate this in `SparkR` as well with the following code:

[code]

So there is almost certainly a very gross bug in Spark here.

[2016-09-30 22:20] kevinushey commented on #242
Scratch that; I was able to reproduce with `SparkR` after all. Filed a JIRA issue: https://issues.apache.org/jira/browse/SPARK-17752

[2016-09-30 22:48] kevinushey commented on #243
For now, we're working around the issue by reading the Dataset in chunks -- hopefully Spark will gain a fix upstream soon!

[2016-09-30 22:48] #243 closed

[2016-10-02 21:07] cam333 opened #244 "Spark DF column limit?"
Hi all,
I've been playing around with sparklyr and seem to be running into a column limit of some sort?  I have a data set that has around 4500 columns and couldn't get it into a spark DF, but subsets of the df work.
Here is an example:

Works:
[code]

When I up the columns to 5000 I get an error:

[code]

The following error is thrown:

[code]

Any idea what's going on?

Thanks

[2016-10-03 17:27] kevinushey commented on #244
For reference, the error seems to occur after we attempt to cache the table -- the stack trace I see running your code (with `options(warn = 2, error = recover)`):

[code]

You can disable caching with:

[code]

which seems to work fine. We might need to report this upstream to the Spark team.

[2016-10-03 18:55] cam333 commented on #244
@kevinushey  'memory = FALSE' did the trick. I Was able to load a 22242x4755 df with no problem.
Thanks and keep up the great work!

[2016-10-03 19:19] kevinushey commented on #244
Great, thanks!

[2016-10-03 19:19] #244 closed

[2016-10-03 19:30] kevinushey commented on #242
It looks like this is a bug in Spark 2.0.0 and Spark 1.6.2 -- hopefully, things will be fixed up in the next Spark release(s).

[2016-10-03 20:17] lalitnookala commented on #242
Kevin,
Collecting the data through show() command works fine with the code push you did.

However, running the code from the website for PCA still does not return the expected output. Here is the code

devtools::install_github('rstudio/sparklyr')
library(sparklyr)
library(dplyr)
sc <- spark_connect(master="local", version="1.6.2")
digit_tbl_spark <- spark_read_csv(sc,'digit_df', 'file:///path/to/k

[2016-10-03 20:32] lalitnookala commented on #242
Ok. Hope it will.

Thanks,

Lalit S Nookala
*Senior Analyst*
International Software Systems Inc.
(P) 615-294-4723
(E) lalit.nookala@gmail.com

   - www.linkedin.com/in/lalitnookala/

On Mon, Oct 3, 2016 at 3:30 PM, Kevin Ushey <notifications@github.com>
wrote:

[2016-10-03 20:43] kevinushey commented on #242
Thanks -- you're indeed right that something is still going wrong. It looks like there's an ugly bug in Spark where `collect()`, when called on a cached table, will silently replace all the returned data with zeroes. :/

You can work around this for now by supplying `memory = FALSE` to the `spark_read_csv()` call, e.g.

[code]

[2016-10-03 20:44] lalitnookala commented on #242
I will try that tomorrow and let you know my results.

On Mon, Oct 3, 2016, 4:43 PM Kevin Ushey <notifications@github.com> wrote:

[2016-10-03 20:50] JosiahParry commented on #65
Beautiful, I'll have to play with it!

[2016-10-04 00:42] pathri-pk opened #245 "Failed to launch Spark shell. Ports file does not exist."
when i try to connect to local spark using
sc <- spark_connect(master = "local")
 Below is the error i am getting, I have the path set to c:\windows\system32
Error in force(code) :
  Failed to launch Spark shell. Ports file does not exist.
    Path: C:\Users\<usersname>\AppData\Local\rstudio\spark\Cache\spark-2.0.0-bin-hadoop2.7\bin\spark-submit.cmd
    Parameters: --class, sparklyr.Backend, --pac

[2016-10-04 02:09] michaele4321 commented on #241
It doesn't seem to be a connection problem. It seems to be a problem starting spark.

If I'm understanding spark_connect() correctly, it should be building and executing the following command.
[code]

When I run that from the command line, I don't get a running spark instance. This is the output I get:
[code]

There are no running spark instances after this command runs.
`lsof -i -n -P -sTCP:LISTE

[2016-10-04 17:00] javierluraschi opened #247 "Consider adding support for Word2Vec and TF-IDF"

[2016-10-04 18:17] rgbkrk commented on #209
Sorry to take so long to answer this @javierluraschi. I wanted to make sure I understood what to report here.

We have an internal build of Spark that we backport fixes to. We run on yarn (master is always `yarn-client`). `SPARK_HOME` is set dynamically on run with some wrapper scripts.

[2016-10-04 19:12] jmuhlenkamp commented on #174
+1

[2016-10-04 21:12] #206 closed

[2016-10-04 21:15] javierluraschi commented on #209
@rgbkrk it really depends on the changes backported or performed in the custom environment. What would help me the most to troubleshoot this would be for you to share the error you get while running:

`sc <- spark_connect(master = "<your-master>")`

and I'll suggest something reasonable from there. However, it is definitely the that we won't be able to reuse a connection that was created using `sp

[2016-10-04 21:20] javierluraschi commented on #229
@JackHo327 @menichols74 @Gnolam "The filename, directory name, or volume label syntax is incorrect." and other issues have been fixed in version `0.4.9`. Could you please upgrade `sparklyr` using `devtools` and `devtools::install_github("rstudio/sparklyr")`?

[2016-10-04 21:22] javierluraschi commented on #114
The connection code has been significantly simplified starting with `sparklyr` version `0.4.9`.

Please upgrade `sparklyr` using `devtools::install_github("rstudio/sparklyr")` and report back if any connection issues arise.

[2016-10-04 21:22] #114 closed

[2016-10-04 21:48] javierluraschi commented on #218
@fereshtehRS I believe this can be closed now, ping me if you think that's not the case.

[2016-10-04 21:48] #218 closed

[2016-10-04 21:59] javierluraschi commented on #197
K! Closing.

[2016-10-04 21:59] #197 closed

[2016-10-04 22:01] javierluraschi commented on #189
@NikolayNenov @MielHostens @MarkPratley @JackHo327 @baasman The `spark_connect` code has been significantly simplified starting with `sparklyr` version `0.4.9`.

Please upgrade `sparklyr` using `devtools::install_github("rstudio/sparklyr")` and report back if any connection issues arise.

[2016-10-04 22:12] #234 closed

[2016-10-04 22:12] #232 closed

[2016-10-04 22:41] javierluraschi commented on #241
@michaele4321 since this only fails when the default packages are specified, this makes me think that something in Spark is blocking the download of these files. I'm saying, Spark, since `sparklyr` does not perform any operation with the default packages config appart from passing them to Spark as a `--packages` parameter.

One thought, you could try to scope down if it's a problem with all packag

[2016-10-04 22:43] javierluraschi commented on #245
@pathri-pk This has been solved in `sparklyr` version `0.4.9`. Could you please install the latest version using the following command and report back if this solves this issue for your configuration?

[code]

[2016-10-04 22:56] JackHo327 commented on #114
@javierluraschi  my problem solved wi 0.4.9 version.

ps. need to point out the **spark.sql.warehouse.dir**

[2016-10-04 22:57] JackHo327 commented on #189
@javierluraschi @NikolayNenov @MielHostens @MarkPratley @baasman

my problem solved with 0.4.9 version.
ps. need to point out the **spark.sql.warehouse.dir**

[2016-10-04 23:49] jmuhlenkamp commented on #194
+1

[2016-10-04 23:50] michaele4321 commented on #241
The new logging in 0.4.9 is much more useful. It is showing
[code]
I think I was wrong about spark not starting earlier. As I've been testing this I have discovered that spark instances that are started using sparkly seem to shut themselves down after a minute or so - so I only had 60 seconds to test if spark was running.

There seems to be some problem with connecting to port 8880 in my environme

[2016-10-05 00:09] menichols74 commented on #229
@javierluraschi  I upgraded to version 0.4.9 and tried starting up and connecting to spark. It seemed to connect fine, but erred out when I tried to load data into spark.

`> library(sparklyr)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1          5.1         3.5          1.4         0.2  setosa
2          4.9         3.0          1.4         0.2  setosa
3          4.7         3.2

[2016-10-05 00:27] pathri-pk commented on #245
Thanks Javier, version 0.4.9 resolved the issue for my config

[2016-10-05 00:36] javierluraschi commented on #229
@menichols74 Alright, so the good news, I think we are past this being a connection issue to Spark. Instead, from the callstack, this seems to be a hive configurations issue.

I, myself, have not been able to hit this in Windows. From @JackHo327 comments, sounds like using something like the following helped address this:

[code]

However, I haven't been able to fully reproduce this. If I can hear

[2016-10-05 00:38] javierluraschi commented on #189
@JackHo327 How are you using `spark.sql.warehouse.dir`? Seems other window users are hitting this issue, so if you could share your configuration, you would be helping unblock others as well.

[2016-10-05 02:10] ledell commented on #196
@dwy904 If you choose to use [H2O machine learning with sparklyr](http://spark.rstudio.com/h2o.html), then you can make use of many extra utilities like cross-validation and hyperparameter tuning.

[2016-10-05 05:12] JackHo327 commented on #189
Sorry @javierluraschi , just checked the email.

Here is the thing:
- my **R session info** listed below:

Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

[1] LC_COLLATE=Chinese (Simplified)_China.936
[2] LC_CTYPE=Chinese (Simplified)_China.936
[3] LC_MONETARY=Chinese (Simplified)_China.936
[4] LC_NUMERIC=C
[5] LC_TIME=Chinese (Simplified)_China.936

[1] sta

[2016-10-05 05:17] JackHo327 commented on #229
Hi @menichols74 , here is my situation:

- my **R session info** listed below:

Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

[1] LC_COLLATE=Chinese (Simplified)_China.936
[2] LC_CTYPE=Chinese (Simplified)_China.936
[3] LC_MONETARY=Chinese (Simplified)_China.936
[4] LC_NUMERIC=C
[5] LC_TIME=Chinese (Simplified)_China.936

[1] stats     graphics  grDevices

[2016-10-05 05:44] michaele4321 commented on #241
One problem might be these lines:

In shell_connection
[code]

 In start_shell(), these lines
[code]

When you have ipv6 127.0.0.1 is not necessarily the same as localhost. Localhost could resolve to ::1 instead.

[2016-10-05 11:06] MarkPratley commented on #189
Initial issue fixed by update (thanks).

Setting the SPARK_HOME environment variable to point to the rstudio spark install (instead of a separate spark install) fixed the `java.lang.reflect.InvocationTargetException` error above for me.

[2016-10-05 17:58] jmuhlenkamp commented on #197
Having a similar issue, will devtools:::install_github(‘rstudio/sparklyr’) fix this issue or do I need to actually fork the repo?  Thanks!

[2016-10-05 18:00] kevinushey commented on #197
Running `devtools::install_github('rstudio/sparklyr')` will install the latest version of `sparklyr`, and that should ensure that you get the fixes recently added by @javierluraschi here.

If you're still having problems with the latest development version of `sparklyr`, please let us know!

[2016-10-05 18:01] #245 closed

[2016-10-05 18:08] javierluraschi commented on #241
@michaele4321 good point. With the https://github.com/rstudio/sparklyr/commit/b48d42420d4c9ebde8249bd9e6311db91bf04740 commit, we moved this configuration into the `config.yml` file. Could you update to `sparklyr` version `0.4.10` and remove the `spark.env.SPARK_LOCAL_IP.local` entry or configure it appropiately and report back your findings?

[2016-10-05 18:30] jmuhlenkamp commented on #197
Thanks, will do!

[2016-10-05 18:47] jwijffels opened #249 "lag function"
Can one explain why this happens? Is this an issue in `dplyr` or `sparklyr` or is this no issue at all?
[code]

[2016-10-05 19:06] kevinushey commented on #249
When calling functions using the `dplyr` interface on a Spark table, the call is effectively translated into Spark SQL. That translation doesn't work if you try namespace-qualify the functions you're calling.

I don't think this is an issue; it's just a consequence of how the `dplyr` system works for remote databases.

[2016-10-05 19:26] Tarqui commented on #249
Checking lag function. I noticed that the parameter `n` does not work

[code]
However, this works:

`mutate(cars, prev = lag(dist, n = 2))
`

[2016-10-05 19:56] jwijffels commented on #249
@kevinushey Thanks, for the feedback!
@Tarqui
You can use.
`mutate(x, prev = lag(dist, n = 2L))
`

[2016-10-05 19:56] #249 closed

[2016-10-05 19:58] kevinushey commented on #249
Is the issue here that numeric values are not handled, while integer values are? If so we should fix that in `sparklyr`!

[2016-10-05 20:07] kevinushey commented on #249
I just pushed https://github.com/rstudio/sparklyr/commit/00ae2a870be0b3934a8a80f84127ac7237b2d50b, which should ensure that both of these will work:

[code]

Thanks for reporting!

[2016-10-05 20:09] javierluraschi opened #250 "consider setting spark.sql.warehouse.dir by default"
See: https://github.com/rstudio/sparklyr/issues/229#issuecomment-251584060

Some users have reported that in order to get `dplyr` and `sparklyr` to work in windows, they need to set `spark.sql.warehouse.dir` as follows to unblock a Hive exception:

[code]

It is worth considering setting this automatically to "SPARK_HOME/tmp/hadoop/bin" but this would require more investigation to understand if se

[2016-10-05 20:10] javierluraschi commented on #229
@JackHo327 Thank you for the detailed explanation and results you obtain with/without this setting!

Opened this issue https://github.com/rstudio/sparklyr/issues/250 to consider integrating your setting as part of the automatic configuration.

[2016-10-05 20:15] kevinushey commented on #250
We should also double-check whether this issue is related to https://github.com/rstudio/sparklyr/issues/239 -- it looks like there's an issue wherein some Spark APIs don't respect these configuration values.

I think we should do something similar to what we do for `spark_install`, e.g.

[code]

Thoughts?

[2016-10-05 20:16] kevinushey commented on #250
We should also investigate if this is simply a `PATH` issue (does placing that `bin` directory on the `PATH` help at all?)

[2016-10-05 20:31] jwijffels opened #251 "question on spark sql functions which are not mapped?"
Can someone explain why this `levenshtein` call works. It is not mapped in the SQL mapping at https://github.com/rstudio/sparklyr/blob/master/R/dplyr_sql.R or https://github.com/rstudio/sparklyr/blob/master/R/dplyr_spark_connection.R.
Is the default behaviour of dplyr if the SQL is not mapped to use the function name?
FYI levenshtein is defined here: https://spark.apache.org/docs/latest/api/java/o

[2016-10-05 20:48] dangulod opened #252 "Change between long and wide format"
I wonder if it would be possible to do this with sparklyr. Change between long and wide format like in tidyr package

[code]

[2016-10-05 20:52] kevinushey commented on #251
Indeed, the default behavior for `dplyr` is to simply generate SQL verbatim for functions without a known translator. In such a case, functions made available by the underlying SQL engine can be used -- in this case, Hive functions.

See https://cwiki.apache.org/confluence/display/Hive/LanguageManual+UDF for a list of functions; in particular, `levenshtein` is defined as one of the [String functio

[2016-10-05 20:52] jwijffels commented on #251
Never mind, it's documented in ?dplyr::sql_variant, sorry for bothering.

[2016-10-05 20:52] #251 closed

[2016-10-05 21:09] kevinushey commented on #252
Spark provides `pivot()` as a means of accomplishing this, with some documentation at https://databricks.com/blog/2016/02/09/reshaping-data-with-pivot-in-apache-spark.html, but we don't yet expose a simple mechanism for doing this in `sparklyr`.

Perhaps we should implement our own versions of `gather` and `spread` for `sparklyr`?

[2016-10-05 21:30] javierluraschi opened #253 "consider moving derby.log and log4j.log into different directory"
`sparklyr` uses the current directory which creates a couple extra logging files: `darby.log` and `log4j.log`.

While this can be redirected by changing the following files:

`~/Library/Caches/spark/<spark-version>/conf/log4j.properties`

and this spark config:

[code]

it would be preferable not to pollute the current directory.

[2016-10-05 22:17] javierluraschi commented on #250
Not sure that's enough since users reported that `spark.sql.warehouse.dir` needs to point to the `winutils.exe` which we install in `rappdirs::app_dir("spark", "rstudio")$cache()` + `file.path(sparkHome, "tmp", "hive")`. This also looks like a windows-specific issue. But perhaps pointing the config `spark.sql.warehouse.dir` to this directory is all we need. I think it's fine to make this change bu

[2016-10-05 22:23] javierluraschi commented on #252
@kevinushey Yes, I think that + `separate` would add descent coverage for `tidyr` functions. Maybe worth investigating what it would take to implement `tidyr` for `sparklyr`? I don't have a good sense if this is a few days of work or a few weeks, but it would be really awesome to support this!

[2016-10-05 22:57] dustindall opened #254 "Failed while connecting to sparklyr to port (8880) for sessionid (7479): Gateway in port (8880) did not respond."
I get the following error trying to make the following spark connection.

[code]

session info

[code]

[2016-10-05 23:03] javierluraschi commented on #254
@dustindall does the `C:\Users<usersname>` path contains any spaces? Will try to get a repro going to provide a fix.

[2016-10-05 23:04] dustindall commented on #254
yes

[2016-10-05 23:05] javierluraschi commented on #254
K. I think what the problem is, I'll push a fix today. Thanks for reporting this.

[2016-10-05 23:09] Gnolam commented on #229
Hi,

**@javierluraschi** thank you for issuing new dev version of the sparklyr package.
I currently have `sparklyr_0.4.11` and

  select(Petal_Length, Petal_Width) %>%
  top_n(40, Petal_Width) %>%
  arrange(Petal_Length)

work just fine. Thank you very much

[2016-10-05 23:30] michaele4321 commented on #241
Success! But not with modifying the config.yml file.

first, I copied  inst/conf/config-template.yml to inst/conf/config.yml (I'm assuming this is the correct thing to do?)

I tried modifying the spark.env.SPARK_LOCAL_IP.local value in inst/conf/config.yml without success.

I then realised that this setting only seems to effect the first two ports from Spark  - not the gateway port.

I finally got

[2016-10-05 23:36] #254 closed

[2016-10-05 23:37] javierluraschi commented on #254
@dustindall  can you give `sparklyr` `0.4.12` a try?

[2016-10-05 23:42] menichols74 commented on #229
@javierluraschi @JackHo327 @Gnolam  I really do appreciate the help. Prior to updating to 0.4.11, I tried Jack's suggestion and set my "config = list(... to the location of the winutils) and I still got the same error message from my Oct 4 post. I thought maybe something was off with my initial install of spark and where things were placed (I had multiple versions of Spark installed from Apache si

[2016-10-06 01:14] dustindall commented on #254
yes, it worked! Thanks for the quick turn around!

[2016-10-06 09:01] statkclee commented on #125
I've got the following errors under windows...

-------------------------------------- {r code}
library(sparklyr)
Sys.setenv(SPARK_HOME="C:/spark-1.6.2-bin-hadoop2.6")
config <- spark_config()
config[["sparklyr.defaultPackages"]] <- NULL
sc <- spark_connect(master = "local", config = config)
----------------------------------------

---------------------------------------- {error}
Error in force(c

[2016-10-06 15:30] jmuhlenkamp opened #256 "SparkContext was shut down on long running as_h2o_frame"
Any idea what might be causing this or where I might turn for help here?  Thanks!

[code]

[2016-10-06 15:31] jmuhlenkamp commented on #256
It runs fine on smaller test data, but has given me this error multiple times on larger data after running for a few hours.

[2016-10-06 19:00] javierluraschi commented on #229
@menichols74 one more update, please try with `sparklyr` `0.4.13`. Thanks.

[2016-10-06 20:45] javierluraschi commented on #256
@jmuhlenkamp this exception is probably covering up some other issue. Most likely, running out out memory or some other resource constraint. Looking into the Spark worker logs could help here.

[2016-10-06 20:47] javierluraschi commented on #125
@statkclee can you try with version `0.4.13`? Just pushed a fix for windows that is likely to be related with the issue you are experiencing.

[2016-10-06 20:53] javierluraschi commented on #125
@ganeshmailbox haven't been able to repro this issue in `0.4.13`, mind giving this version another shot?

[2016-10-06 21:08] javierluraschi commented on #98
@campanell we are working through out backlog and have time to take a look a this. Could you retry with `0.4.13` or newer and provide a description of your IBM Bluemix environment? What do I have to get a repro in my environment (I do have an Bluemix account)? Where are you running R from? The gateway node?

[2016-10-06 21:51] menichols74 commented on #229
@javierluraschi  I'm certain it is user error on my part, but I have tried it now with Apache and Sparklyr versions of installed spark (both of which I can run from CMD). I've got back to establishing a connection, but the same Java errors when I try to load data to the spark context that @JackHo327 addressed earlier. I printed out the sc list in this instance, maybe there is a clue to what I'm do

[2016-10-07 14:40] jmuhlenkamp commented on #256
Thanks, Javier!

[2016-10-07 15:27] javierluraschi commented on #229
@menichols74 See https://github.com/rstudio/sparklyr/issues/189. Could you try using this:

[code]

Let me know if this works for you since this fix is generic enough that I'm comfortable pushing it out by default in `sparklyr`.

[2016-10-07 18:38] upton9265 commented on #229
Hi All,

I believed I followed the directions above, but still getting the java reflection error. Below is my sequence of commands, and R sessionInfo (running from the plain R console), and a dump of my session context:
devtools::install_github("rstudio/sparklyr")
library(sparklyr)
spark_install(version="2.0.0")

library(dplyr)

config <- spark_config()
hadoopBin <- normalizePath(file.path(spark_h

[2016-10-07 20:05] javierluraschi commented on #229
@upton9265 the error you mention does point out to an issue using the incorrect version of `WINUTILS`. We have logic to suggest which version of WINUTILS you should download when not running from within an RStudio session, try running:

[code]

and downloading `winutils` from the suggested path. This should either suggest a download from:

https://github.com/steveloughran/winutils/raw/master/hadoo

[2016-10-07 20:20] upton9265 commented on #229
@javierluraschi Both URLs that you list above are exactly the same. In any case, I downloaded the entire folder at https://github.com/steveloughran/winutils/raw/master/hadoop-2.6.0/bin/ and that go rid of the dialog box saying WINUTILS was bad, but I'm still getting the java reflection error, so at least some progress!!

BTW, I don't have to load rJava or any other R package, correct? I'm also abl

[2016-10-07 21:14] kevinushey opened #260 "implement `sdf_persist()`"
For use as a wrapper to the Spark Dataset [`persist`](http://spark.apache.org/docs/latest/api/scala/index.html#org.apache.spark.sql.Dataset@persist(newLevel:org.apache.spark.storage.StorageLevel):Dataset.this.type) API.

In particular, we need to make it simple to use + access the different `StorageLevel`s, and perhaps make the 'default' storage level user configurable.

[2016-10-08 03:41] statkclee commented on #125
@javierluraschi it works... thank you....

[2016-10-08 12:19] joandre commented on #260
+1

[2016-10-10 17:18] kevinushey commented on #260
This is implemented now, but we should make it easy to learn what the available storage levels are.

[2016-10-10 17:18] #260 closed

[2016-10-10 20:01] rvm-xx opened #261 "Columns parameter not available in spark_read_csv"
Call from spark_read_csv to spark_csv_read (line 74 from data_interface.R) does not allow providing a schema for interprating columns.
Would adding an extra "columns" parameter to spark_csv_read with NULL as default and passing it to spark_read_csv allow sending a schema for reading the file?

[2016-10-11 10:44] pbhogale commented on #175
makes munging large data sets (the kind one needs spark for) hard to deal with.

It does seem related to **number of columns**, the problem does not arise with a small number of columns.

[code]
works.

but a table with 10 rows and 1000 columns fails.
[code]

[2016-10-11 14:01] pbhogale opened #262 "extracting column names from a spark data frame"
In base r, it is easy to extract the names of columns (variables) from a data frame

[code]

but while using sparklyr, things become more complicated. After copying the data frame to spark,

[code]

the variable names actually reside deep inside 'ops'

[code]

and if this were all, there would be no problems (and no need to ask this question). But, every time an operation happens on testdf_tbl, th

[2016-10-11 14:52] ElianoMarques commented on #165
Friends @javierluraschi , @jjallaire do you have any plans on this one? Currently for certain ML procedures we have to use pure R in partitions and/ or node and we have to jump to SparkR for that, then ensemble the model. I didn't look at the sparkR code so i'm not sure how hard is to port it over, not sure if you have an opinion on that? I think this feature would be great!

[2016-10-11 15:35] javierluraschi commented on #165
@ElianoMarques `compute()` has a very specific meaning in dplyr: "compute forces computation of lazy tbls, leaving data in the remote source". For the most part, `compute()` already works like this (closing this issue):

[code]

However, I believe you are referring to parallel computation as in https://github.com/rstudio/sparklyr/issues/81, correct? In which case, we don't have plans to actively s

[2016-10-11 15:35] #165 closed

[2016-10-11 15:48] slopp commented on #262
Yes, simply use the `tbl_vars` command:

[code]

Note that if you are using the RStudio Preview ( > v1.0) you can also view the schema of the objects through the Spark pane.

[2016-10-11 16:07] #262 closed

[2016-10-11 16:07] pbhogale commented on #262
thanks a lot !

[2016-10-11 20:40] yarrick19 commented on #229
I am also having similar issues getting sparklyr to successfully connect to Spark on my windows 10 machine.  Below is the console output showing the commands I ran and the results.  This was all run through the preview version of RStudio.

Does anyone have any other advice on what to try?  Is there any other information I can supply that would be helpful in tracing this issue down?

[code]

[2016-10-11 23:20] ElianoMarques commented on #165
@javierluraschi I was. I added an example there.

[2016-10-11 23:27] ElianoMarques commented on #81
@javierluraschi So for example, lets say you're interested in performing a particular ML model in a
 partition or a particular node from R but that particular algorithm is not available in the ML framework of both ml and h20? The solution could require classic ML + Ensembling.
There are out there a few ML processes that doesn't have a 1-2-1 with ML or H20 but are very valuable. TensortFlow (great

[2016-10-12 15:27] trinker opened #263 "Failure to connect on Windows R 3.3.1"
I am having a problem with the latest version (0.4.15) of sparklyr connecting.  I had the same issue with spark 1.6.2.  Here is the error logs for the two attempts to connect + `sessionInfo`:

## Attempt 1: Defaults

[code]

## Attempt 2: Manually set Config

[code]

## Session Info

[code]

[2016-10-12 16:13] yarrick19 commented on #263
I am having the same issue getting sparklyr to successfully connect to Spark on my windows 10 machine.  I also tried some manual config settings based on issue #229 but that didn't change anything.

Below is the console output showing the commands I ran and the results.  This was all run through the preview version of RStudio.

@javierluraschi Is there any other info I can provide to help troubles

[2016-10-12 20:26] yarrick19 opened #264 "Another Column Limit Issue"
I'm excited about sparklyr but unfortunately keep running into various issues.  One of these appears to be issues that occur when working with data frames with a large number of columns.

Below is an example that creates a dataset with 360 columns.  This gets partitioned into a test and train set using the sdf_partition function.  Any subsequent action on the resulting tables (train_tbl and test_t

[2016-10-13 00:18] yarrick19 opened #265 "Error While Encoding"
Hi guys,

I was attempting to follow along with the "Comparison of ML Classifiers Using Sparklyr" example on the rstudio page and have encountered errors copying the titanic data into spark.  This was executed on an AWS EMR cluster via the preview edition of RStudio server.

[code]

The first instance of an error is when attempting to move the titanic_train data frame from R into Spark.  Here is t

[2016-10-13 00:47] rvij opened #266 "spark tab in rstudio preview server shows many spark tables and there is no search"
We installed sparklyr on rstudio server pro pointing to the cluster using yarn-client.
On inspecting the spark tab in rstudio UI we see many spark objects that are not even created by the logged in user.

Moreover there is no search functionality to search for the object.
Please add search and show only the spark objects created by the logged in user.

Please see the attached screen-shot.
<img wid

[2016-10-13 03:24] kevinushey commented on #265
Sorry, but the error messages aren't particularly helpful, so without a reproducible example I don't think there's much we can do.

Can you share the contents of `titanic_train`, or the code that generates it?

[2016-10-13 03:34] kevinushey commented on #264
Thanks for sharing a reproducible example! I can reproduce this on a local Spark cluster as well.

It looks like this is an issue in Spark itself -- see here: https://issues.apache.org/jira/browse/SPARK-16845. Unfortunately, the tables generated by Spark's `randomSplit` function here produce this error (which `sparklyr` uses under the hood).

[2016-10-13 03:35] kevinushey commented on #264
One workaround, if appropriate, would be to transform your data from wide to long (assuming you have many columns that can be collected in such a way). We're planning to add some more tools to `sparklyr` to make reshaping of Spark Datasets a bit easier.

[2016-10-13 03:59] yarrick19 commented on #265
@kevinushey , the titanic_train data is part of the titanic package on cran.  Thanks for the quick response!
[code]
Also, in your experience, what is the most stable version of spark to use with sparklyr?

[2016-10-13 05:23] javierluraschi commented on #263
@yarrick19 are you running R under `cygwin`? How it R being launched? Shell, RStudio?

[2016-10-13 05:59] kevinushey commented on #265
Oops, thanks @yarrick19 -- you're indeed right; I didn't realize I didn't have `titanic` installed + the dataset was provided by that package.

It looks like the error is caused explicitly when using the `csv_string` serializer (note that this is an documented argument to `copy_to()` we use primarily for testing). That is, you can reproduce locally with something like:

[code]

Using `serializer =

[2016-10-13 06:04] javierluraschi commented on #266
@rvij thanks for the feedback. I'm trying to understand a bit more what would be a good way to implement this. A couple questions: Are there multiple hive databases in your organization? Is the user listed under the table metadata? For the second question, please you run the following code for one of the tables to give us some sense of the type of metadata systems like yours are tracking:

[code]

[2016-10-13 06:09] javierluraschi commented on #229
@upton9265 no, no additional packages are needed and no, it won't make a difference to run it from a different location. Which reflection exception are we talking about? Could you share your logs. Once you are past connection issues in `sparklyr`, it usually helps to find the exception in Spark forums since you might find the solution to the answer within the Spark community. That said, share your

[2016-10-13 06:10] javierluraschi commented on #229
@yarrick19 saw your post in a different github issue, I asked for more info in that issue so would be better to follow up there.

[2016-10-13 06:13] kevinushey commented on #265
I think I know what's going on -- the issue is causing by a missing value in the last column of the dataset. A reproducible example:

[code]

[2016-10-13 06:22] kevinushey commented on #265
Indeed, trailing separators are _dropped_ by Java's `String.split` (same as with R's `strsplit`) so we'll likely need to work around that and add an empty element manually if the string to be split ends with the separator.

[2016-10-13 06:31] #265 closed

[2016-10-13 07:25] rvij commented on #266
Hi Javier,

 Yes that’s correct, our hadoop cluster has 100s of Hive databases. But the specific user can only query few of them.
Rest of them are not readable, so user cannot query those tables/ hive databases, we use MapR distribution of hadoop.

I get following results form the query.

# A tibble: 1 x 1
                             result
                              <chr>
1 transient_lastDdlT

[2016-10-13 14:08] trinker commented on #263
@javierluraschi It's being launched from RStudio.  I tried in R GUI as well and same results.

[2016-10-13 16:23] yarrick19 commented on #263
@javierluraschi

I don't believe I'm running R under cygwin.  I'm just launching R from RStudio preview edition.  The Help > About menu shows Version 1.0.35.

[2016-10-13 16:45] javierluraschi commented on #266
@rvij any chance you know the SQL query you would use to filter the tables assigned to each user? I'll mark this as feature request to, at least, consider searching by table name in the UI. However, at this moment in time, it's less clear to me how `sparklyr` could filter out the tables created by the given user. Thoughts and suggestions welcome.

[2016-10-13 17:00] javierluraschi commented on #263
@yarrick19 and @trinker: This is the interesting part in the log:

`running command '"C:\Users\pnieman\AppData\Local\rstudio\spark\Cache\spark-2.0.0-bin-hadoop2.7\bin\spark-submit2.cmd" --class sparklyr.Backend --packages "com.databricks:spark-csv_2.11:1.3.0" "C:\Users\pnieman\Documents\R\win-library\3.3\sparklyr\java\sparklyr-2.0-2.11.jar" 8880 7874' had status 127`

and

`running command '"C:\Us

[2016-10-13 17:02] trinker commented on #263
Would an if/else using `shell` for Windows users be useful here?  Throwing out random ideas.

[2016-10-13 17:19] rvij commented on #266
Thanks yes please include search feature to start with. In order to form a query, I need to know what does sparklyr show in the “spark tab” in Rstudio server?
Does it show all the hive objects/tables in the hive metadata? If that is the case then why do we need to show it in first place. If user would like to process hive tables using spark then he should explicitly create spark table using sparkl

[2016-10-13 17:37] kevinushey commented on #263
Note that `system2` just delegates to `system` so I wouldn't expect it to actually work around issues that `system` itself has.

Is there any way to launch `spark-submit2.cmd` with settings provided from a file, or something similar?

[2016-10-13 23:04] navdeep-G opened #267 "dplyr is needed to use `copy_to()`?"
I am trying to run RSparkling and realized that I need to do a library call to dplyr. The following behavior is what I see if I don't call dplyr or try to call `copy_to` from sparklyr:

`

Error: could not find function "copy_to"

Error: 'copy_to' is not an exported object from 'namespace:sparklyr'

`

Is this expected?

[2016-10-13 23:17] kevinushey commented on #267
That's correct + expected (`copy_to()` is a function specific to `dplyr`); I've made the change necessary to import and re-export that function now, however.

[2016-10-13 23:20] navdeep-G commented on #267
Ah, i see. Should be fixed now then if i re-install from Github?

[2016-10-13 23:31] kevinushey commented on #267
Yes indeed, although note that e.g. `mutate()` and friends will require you to attach the `dplyr` package.

[2016-10-13 23:32] navdeep-G commented on #267
Yep. Good to know. Thx!

[2016-10-13 23:32] #267 closed

[2016-10-14 02:56] ledell commented on #256
@jmuhlenkamp Can you say a bit more about your H2O cluster size and the size of `tbl2`?

[2016-10-14 03:19] ghazalg commented on #125
when i run this:
config <- spark_config()
config[["sparklyr.defaultPackages"]] <- NULL
sc <- spark_connect(master = "local", config = config)

i get this error:
"Warning message:
In create_hive_context_v1(sc) :
  Failed to create Hive context, falling back to SQL. Some operations, like window-functions, will not work"

[2016-10-14 17:50] javierluraschi commented on #263
Tried to repro this in Windows 10 with same R version, proc-architecture, similar paths, etc. and connection succeeded. Let me know if you spot a difference in my configuration from yours:

[code]

I used `sparklyr` version `0.4.16` but no connection changes have been performed from `0.4.15` so they are equivalent in this regard.

[2016-10-14 18:04] javierluraschi commented on #263
@trinker @yarrick19 could you run the following commands and share the output? Thanks!

[code]

[2016-10-14 19:28] upton9265 commented on #229
@javierluraschi Here's a dump of my RGui console, ending with the Error: java.lang.reflect.InvocationTargetException. I will take your advice and take a look on the Spark forums, but any knowledge of why this might occur would be most appreciated.

Downloading GitHub repo rstudio/sparklyr@master
from URL https://api.github.com/repos/rstudio/sparklyr/zipball/master
Installing sparklyr
"C:/R/R-3.3.1

[2016-10-14 19:39] trinker commented on #263
@javierluraschi Thanks for getting back to me:

[code]

[2016-10-14 20:22] javierluraschi commented on #263
@trinker lets start by troubleshooting this, could you run this?

[code]

[2016-10-14 21:03] upton9265 commented on #229
@javierluraschi I may have stumbled across something related to the above Exception. I looked in the spark log referenced by the spark context and I see this:
Caused by: java.net.URISyntaxException: Relative path in absolute URI: file:C:/Users/Stephen%20Upton/Documents/spark-warehouse
	at java.net.URI.checkPath(URI.java:1823)
	at java.net.URI.<init>(URI.java:745)
	at org.apache.hadoop.fs.Path.init

[2016-10-14 22:09] Edge363 commented on #125
Used standard version, I get the same error as ghazalg. Using dev version I get this.

"Error in force(code) :
  Failed while connecting to sparklyr to port (8880) for sessionid (6961): Gateway in port (8880) did not respond.
    Path: C:\Users\Randon\AppData\Local\rstudio\spark\Cache\spark-1.6.2-bin-hadoop2.6\bin\spark-submit2.cmd
    Parameters: --class, sparklyr.Backend, --packages, "com.databr

[2016-10-15 06:40] jmuhlenkamp commented on #256
@ledell tbl2 has 1,880,100 rows and 750 columns.

The error I am getting is not specific to as_h2o_frame, but also occurs when I try other functions such as collect() or write.csv() using tbl2.

I have no trouble with the same code in spark 2.0.0, but get this error in 1.6.2.  Here is one of the many cluster configs I have tried.

    sc_config <- spark_config()
    sc_config$spark.driver.extraJav

[2016-10-15 07:09] kykuo commented on #252
It makes sense to implement `gather` and `spread` for easy scaling up of "local small data" code and aesthetics. Haven't looked into `pivot` much but it's probably good to expose it for completeness.

[2016-10-15 07:15] kykuo commented on #81
Wanted to throw out possibly incorporating `purrr` functions... will have to think about how everything plays together.

[2016-10-15 18:04] hiltonmbr opened #269 "GC overhead limit exceeded on write parquet file"
Dears,

I have been trying to change MemoryStore without successful:

library(sparklyr)
library(dplyr)

sc <- spark_connect(master = "local[*]",
                    config =  list("sparklyr.shell.executor.memory"="8g",
                                   "sparklyr.shell.driver-memory"="8g"))
spark_log(sc)

Log file returns:

INFO MemoryStore: MemoryStore started with capacity 366.3 MB

Then, I cann

[2016-10-15 19:18] kevinushey commented on #269
I think you have a type in your option -- it should be `sparklyr.shell.executor-memory`; that is, you should use a `-` to separate `executor` and `memory`.

[2016-10-15 19:19] kevinushey commented on #269
@javierluraschi should we warn about unrecognized options passed through the config?

[2016-10-15 19:30] hiltonmbr commented on #269
@kevinushey I changed the config options to:

sc <- spark_connect(master = "local[*]",
config = list("sparklyr.shell.executor-memory"="8g",
"sparklyr.shell.driver-memory"="8g"))

But Log file still returns:

INFO MemoryStore: MemoryStore started with capacity 366.3 MB
BlockManagerMasterEndpoint: Registering block manager 127.0.0.1:62908 with 366.3 MB RAM, BlockManagerId(driver, 127.0.0.1, 62908)

[2016-10-15 20:49] ElianoMarques commented on #81
Thanks @kykuo, that would be great.

[2016-10-16 13:35] hiltonmbr commented on #269
Dears @kevinushey and @kevinushey, could you check for unrecognized options, especially for "spark.driver.memory" option?

For instance, if I use the following procedures it works fine and increases the storage memory for RDD partitions:

library(sparklyr)
dir <- paste0(spark_home_dir(),"/R/lib/")
library("SparkR",lib.loc =dir)
sc <- sparkR.session(master = "local[*]","SparkR",

[2016-10-16 18:48] ElianoMarques opened #270 "read from jdbc"
Any plans to read data directly from jdbc sources? This would required a jar file to be added to the session and some addition parameters to spark dataframe read.

See here:
http://spark.apache.org/docs/latest/sql-programming-guide.html#jdbc-to-other-databases

Thank you,
Eliano

[2016-10-16 22:04] rvm-xx opened #271 "dplyr::sample_n fails with wrong SQL when non Hive context is available"
During Spark connection (spark_connect), there was a failure to create Hive context.
The following code, tested with Spark 1.6.2 & sparklyr 0.4,

[code]

generates a SQL error.

[code]

Should these functions (sample_frac) be protected with a HIVE context check?

[2016-10-16 23:26] kevinushey commented on #271
For what it's worth, you can use `sdf_sample()` to directly access the Spark DataFrame API for the equivalent of `sample_frac()`, and that should work without Hive.

[2016-10-17 13:23] trinker commented on #263
Sure thing.  Thank you.

[code]

[2016-10-17 16:13] javierluraschi commented on #263
@yarrick19 this would help me troubleshoot this issue:

[code]

[2016-10-17 17:49] nickshffer commented on #125
I'm getting the same issue on the development version of sparklyr with spark 2.0.0.

Workflow:
- Install sparklyr stock version, install spark 1.6.2
- Troubleshoot a little to get it to work (reinstall Java 8, manually set SPARK_HOME and SPARK_LOCAL_IP)
- Uninstall spark 1.6.2, install spark 2.0.0
- Try with sparklyr stock and development, try all debugging from other, GitHub threads

See below fo

[2016-10-17 18:23] rgbkrk commented on #209
Thanks @javierluraschi. Would you be alright with me sending you the traceback by private email?

[2016-10-17 21:00] trinker commented on #263
I ran just the text into te command line (not in R) and get the following output but maybe this isn't the command I needed to enter.

## Command

[code]

## Output

[code]

[2016-10-17 22:40] rgbkrk commented on #209
I snipped a bit of it (I'd love to provide more context, apologies here):

[code]

[2016-10-18 20:11] yarrick19 commented on #263
@javierluraschi

Here is the output from the two pieces you asked about:
[code]

and...

[code]

[2016-10-18 20:42] yarrick19 commented on #263
I also executed the command from the command line and here is what I received:

**Command**
[code]
**Output**
[code]

At this point I had a blinking cursor, but could not type anything.  After waiting for a few minutes I hit ctrl/c which prompted me if I wanted to "Terminate batch job (Y/N)?"  I'm not sure what the expected output of this is but it didn't throw an error.

[2016-10-19 00:07] javierluraschi commented on #263
@yarrick19 you've verified that the problem really is scoped to the call to `system2`, now we have two paths, first let's scope what is causing it and if we can't figure that out, I'll push a fix suggested by @kevinushey to save the command into a temp file and execute the batch file instead. But lets try (1) first...

@yarrick19 could you run the following commands to scope this down:

[code]

[c

[2016-10-19 00:11] javierluraschi commented on #263
@trinker seems that on top of a `system2` execution issue, you are also be hitting this: `[unresolved dependency: "com.databricks#spark-csv_2.11;1.3.0": not found]`. You could try connecting as follows:

[code]

However, my guess is that we would have to troubleshoot the `system2` issue first, so executing the commands I suggested to yarrick19 yourself with the correct paths for your system would

[2016-10-19 00:14] javierluraschi commented on #266
@rvij it currently runs this sql query: `"SHOW TABLES"` through the `HiveContext.sql()` for Spark < 2.0 and the `SessionContext.sql()` for Spark 2.0.

If we find no way to query this from Hive, we could track our own list of created tables but this would reset when the rsession restarts. Thoughts welcomed.

[2016-10-19 00:19] javierluraschi commented on #125
@nickshffer your are hitting this issue `unning command '"C:\Users\Nick\AppData\Local\rstudio\spark\Cache\spark-2.0.0-bin-hadoop2.7\bin\spark-submit2.cmd" --class sparklyr.Backend --packages "com.databricks:spark-csv_2.11:1.3.0" "C:\Users\Nick\Documents\R\win-library\3.3\sparklyr\java\sparklyr-2.0-2.11.jar" 8880 4035' had status 127` which is being tracked by https://github.com/rstudio/sparklyr/is

[2016-10-19 00:33] javierluraschi commented on #125
@ghazalg you are hitting an issue while initializing `Hive`, there have been other issues with workarounds for this issue posted, are you working on windows? If that's the case see this comment "JackHo327 commented 14 days ago" on this issue: https://github.com/rstudio/sparklyr/issues/229 - Which points out that something like this should work (let me know if it does! that way we can push a fix di

[2016-10-19 00:35] javierluraschi commented on #125
@Edge363 since you were getting the same issue as ghazalg I would try with the script I mentioned to ghazalg which sets the `spark.sql.warehouse.dir`, that script would work with the CRAN version and the development version, let me know how it goes.

[2016-10-19 03:28] yarrick19 commented on #263
@javierluraschi Results are below.  All resulted in status 127.

[code]

[2016-10-19 06:57] javierluraschi commented on #263
@yarrick19 this is really interesting, so basically, when you run `C:\Users\pnieman\AppData\Local\rstudio\spark\Cache\spark-2.0.0-bin-hadoop2.7\bin\spark-submit2.cmd` from console you do get to start spark but while running `system2("C:\Users\pnieman\AppData\Local\rstudio\spark\Cache\spark-2.0.0-bin-hadoop2.7\bin\spark-submit2.cmd")` it triggers `status 127`.

Are you running perhaps the command f

[2016-10-19 13:47] trinker commented on #263
@javierluraschi The way you suggested I connect I had tried as I saw in a similar issue here (result in original post above).

I can use `system2` fine to run bat files:

[code]

[2016-10-19 16:09] yarrick19 commented on #263
@javierluraschi
I had the same thought about permissions and tried running RStudio as admin and still got the `status 127`.  Looking at the file permissions of `spark-submit2.cmd` shows read/write access for my user.

I was able to successfully execute a batch file from system2:

[code]

I then tried to execute this in a batch file
[code]

and it seemed to run fine.  Here are the results.  Maybe t

[2016-10-20 00:23] jangorecki opened #272 "fix imports to avoid namespace collision"
Installing recent head I'm getting following warnings:
[code]
@kevinushey R 3.2.1

[2016-10-20 00:34] kevinushey commented on #272
What version of R are you using? I don't see these warnings with R 3.3.1 patched.

[2016-10-20 00:40] kevinushey commented on #272
Evidently the issue is caused by mixing `import` and `importFrom` declarations in a `NAMESPACE` file in older versions of R: http://stackoverflow.com/questions/8662285/warning-replacing-previous-import-head-when-loading-utils-in-r

Not sure if it's worth fixing in `sparklyr` since the underlying issue in R has already been resolved. (I repro'ed in R 3.1.3 but not in R 3.2.5)

[2016-10-20 00:46] jangorecki commented on #272
@kevinushey see https://github.com/jangorecki/sparklyr/commit/b966bdd7d4388563fd140f97783d552c7d44936b it fixed those warning and also pass `R CMD check`

[2016-10-20 00:47] kevinushey commented on #272
Ah, didn't realize it was going to be that easy. Thanks!

[2016-10-20 00:50] #272 closed

[2016-10-20 04:31] yarrick19 commented on #263
@javierluraschi @trinker
Making a little bit of progress here.  I installed `sparklyr` and spark on a different computer and was able to successfully connect to spark.  I went and looked at the permissions of the files closer and noticed that on the computer with the successful install that the file permissions were set to "Full control" whereas the the computer where I can't get spark to start co

[2016-10-20 09:46] roshnamohan opened #274 "sparklyr spark_connect issue"
Hi,

We are using sparklyr 0.4.16 on our cluster and is trying to connect to spark using spark_connect function.
The commands are as follows:
 _Sys.setenv(SPARK_HOME="/opt/cloudera/parcels/CDH/lib/spark/")
 Sys.setenv(SPARK_HOME_VERSION="1.5.0-cdh5.5.4")
 .libPaths(c(file.path(Sys.getenv("SPARK_HOME"), "R", "lib"), .libPaths()))
 library(sparklyr)
 library(DBI)
 sparklyr::spark_install(version = "

[2016-10-20 17:24] javierluraschi commented on #274
@roshnamohan  1. Unless you've removed the path to a jar in your log dump, it looks like the sparklyr `jar` is missing from the line executing spark-submit (`Parameters: --class, sparklyr.Backend, --packages, 'com.databricks:spark-csv_2.11:1.3.0', '', 8880, 1960`, notice the `''` empty jar parameter`). Could you run `spark_config()` and share the results back? I wonder if the config is overriding

[2016-10-20 18:07] hiltonmbr opened #275 "Spark memory storage in RStudio Server"
I used the following procedures to increase the storage memory for RDD partitions:

library(sparklyr)
dir <- paste0(spark_home_dir(),"/R/lib/")
library("SparkR",lib.loc =dir)
sc <- sparkR.session(master = "local[*]","SparkR",
                     sparkConfig = list(spark.executor.memory="4g",
                                        spark.driver.memory="4g"))

Launching java with spark-submit comma

[2016-10-20 18:40] javierluraschi commented on #263
@yarrick19 and @trinker, could you please run this:

[code]

It's possible a non-bundled version is being used of to extract tars which might not support keeping the permissions intact while extracting (they way `spark_install` works is by downloading the Spark file using `dowload.file` and then calling `untar`)

+ @kevinushey

[2016-10-20 18:48] yarrick19 commented on #263
@javierluraschi

Here is the results:

[code]

[2016-10-20 18:51] javierluraschi commented on #263
@yarrick19 @trinker thanks, how about:

[code]

?

[2016-10-20 18:52] yarrick19 commented on #263
@javierluraschi
[code]

[2016-10-20 19:25] trinker commented on #263
[code]

[2016-10-20 20:26] yarrick19 commented on #263
@trinker
Are you able to connect to spark if you reset file permissions to "full control" starting with the `C:\Users\<user>\AppData\Local\rstudio\spark` folder as well as all sub folders and files?

That seems to work for me.  Now I'm running into the `Error: java.lang.reflect.InvocationTargetException` show a few posts above.  One step forward... one step backwards.

[2016-10-20 20:31] kevinushey commented on #263
I can confirm that attempting to call `spark_connect()` on a Spark installation extracted using the Rtools `tar.exe` causes this error:

[code]

https://github.com/rstudio/sparklyr/pull/276 should help here.

[2016-10-20 20:40] javierluraschi commented on #263
Thank you @kevinushey, @trinker @yarrick19 could you get sparklyr `0.4.18` and run `spark_uninstall` with the right version followed by `spark_install` and retry connecting?

[2016-10-20 22:18] yarrick19 commented on #263
@javierluraschi @kevinushey
Just installed sparklyr `0.4.19`, uninstalled spark, reinstalled spark, and successfully connected!  Thanks for all your work on this!

I'm still getting the `Error: java.lang.reflect.InvocationTargetException` error when using `copy_to` but it feels like I should open a seperate issue for that.

[2016-10-20 22:42] kevinushey commented on #263
Great news, thanks! Yes, please open a separate issue for that -- it seems like that could be a separate issue altogether.

[2016-10-20 22:51] yarrick19 opened #277 "copy_to Error"
I'm receiving an error when running the `copy_to` command.  Below is the output from the R Console.

[code]

Based on some other posts (issue 229), I also tried defining the spark.sql.warehouse.dir in the config file to no avail.

[code]

[2016-10-20 22:53] javierluraschi commented on #263
Yes, that error has to do with Hive not being able to initialize... so yes, please open a separate one for that.

[2016-10-20 23:03] kevinushey commented on #263
Closing this one as resolved; thanks for your persistence!

[2016-10-20 23:03] #263 closed

[2016-10-21 04:04] yarrick19 commented on #229
@menichols74
We're you able to resolve your issue?  If so, how?  I appear to be having the same issue as you.

[2016-10-21 04:37] kevinushey commented on #229
I wonder if the issue here is caused by spaces in the user name? @yarrick19, do you have any spaces or non-ASCII characters in your user name?

[2016-10-21 11:03] roshnamohan commented on #274
Hi Javier,

Thank you for the quick turnaround!

We seem to have got a temporary fix from what you adviced. Details are as follows:

1) Output for spark_config() is as follows:

Warning messages:
1: replacing previous import by ‘dplyr::copy_to’ when loading ‘sparklyr’
2: replacing previous import by ‘magrittr::%>%’ when loading ‘sparklyr’
3: replacing previous import by ‘tibble::data_frame’ when l

[2016-10-21 13:19] trinker commented on #263
Yes the connection works now for me thanks.  Also get:

[code]

will follow up with new question

[2016-10-21 13:20] trinker commented on #263
@yarrick19 Did you open a new issue?  If so it might be useful to connect these threads.

[2016-10-21 13:25] trinker commented on #277
I too am getting the same error on Windows running R 3.3.1 running sparklyr 0.4.19

[2016-10-21 13:41] roshnamohan commented on #274
After what we thought a successful connect, I ran the following commands from R prompt:

[code]

[2016-10-21 15:34] yarrick19 commented on #277
@kevinushey  asked "I wonder if the issue here is caused by spaces in the user name? @yarrick19, do you have any spaces or non-ASCII characters in your user name?"

My user name, when displayed on the screen, has a space.  It is in the format of FirstName LastName.
![image](https://cloud.githubusercontent.com/assets/9707200/19604188/119ce9a2-9769-11e6-981a-7d364d963755.png)

But the equivalent fil

[2016-10-21 15:34] yarrick19 commented on #229
@kevinushey
Moved your question and my response over to #277.

[2016-10-21 16:07] javierluraschi commented on #277
@yarrick19 @trinker

Could you share `spark_log(sc)` after the error triggers, there might be additional info there.

From this, http://stackoverflow.com/questions/39088433/issues-trying-out-example-in-spark-shell, looks like the paths needs to be prefixed with`file://`, how about?

[code]

Since I've seen a couple JIRA issues where the Spark team has been fixing issues with the `file:` prefix, I

[2016-10-21 16:09] javierluraschi commented on #229
@upton9265 could you jump to this issue https://github.com/rstudio/sparklyr/issues/277? We are troubleshooting there the `NativeConstructorAccessorImpl.newInstance0` exception for Windows systems.

[2016-10-21 16:12] javierluraschi commented on #277
@upton9265 From this one: https://github.com/rstudio/sparklyr/issues/229#issuecomment-255288729 - I wonder if it would help to quote directories with spaces:

[code]

[2016-10-21 16:25] yarrick19 commented on #277
@javierluraschi
Here is the spark log info

[code]

Regarding Users, the screenshot with the space is the name associated with user `pnieman`.  Its just one user.  Here is the output of the `spark_home_dir()`.  It appears correct.
[code]
It appears "SPARK_HOME" environment variable is not assigned.
[code]
 I set the environment variable `Sys.setenv(SPARK_HOME = "C:\\Users\\pnieman\\AppData\\Local\

[2016-10-21 16:27] javierluraschi commented on #274
@roshnamohan as a start, since you do need to configure a proxy, this would be the right command to trigger from `sparklyr` (please modified password, etc as needed):

First, please uninstall:
[code]

[code]

[2016-10-21 16:42] javierluraschi commented on #277
@yarrick19 could you share the contents of the `hive-site.xml` Spark config as follows?

[code]

Should look like this for local clusters:
[code]

[2016-10-21 20:01] yarrick19 commented on #277
Looking at the `spark_log()` output, the line that strikes me as weird is that no matter how we've tried to set the `spark.sql.warehouse.dir` it looks as if its not being respected...

`16/10/21 10:43:19 INFO HiveSharedState: spark.sql.warehouse.dir is not set, but hive.metastore.warehouse.dir is set. Setting spark.sql.warehouse.dir to the value of hive.metastore.warehouse.dir ('C:\Users\pnieman\A

[2016-10-21 20:04] kevinushey commented on #277
As an aside, I just stumbled upon this in the Spark docs (http://spark.apache.org/docs/latest/sql-programming-guide.html#sql)

[2016-10-21 21:01] javierluraschi commented on #277
Kevin found out that setting the `hive.metastore.warehouse.dir` property in his `hive-site.xml` to the value of `paste0("file://", normalizePath(file.path(spark_home_dir(), "tmp", "hadoop", "bin")))` fixed this issue. Am I missing something @kevinushey?

@yarrick19 @trinker mind giving Kevins suggestion a shot?

[2016-10-21 21:43] yarrick19 commented on #277
I manually edited my `hive-site.xml` file and replaced the directory for the `hive.metastore.warehouse.dir` property.  In the log output below, you can see that directory is being used.  I was hopeful this would work, but still got the error on `copy_to()`.

16/10/21 13:46:41 INFO SparkUI: Stopped Spark web UI at http://127.0.0.1:4040
16/10/21 13:46:41 INFO MapOutputTrackerMasterEndpoint: MapOutpu

[2016-10-22 05:23] caprice-j opened #278 "copy_to error on Debian"
My issue is similar to #277.
When I execute copy_to(sc, iris), it returns:

[code]

I tried all proposed changes in #277, but had no success.

**The supplemental info**

[code]

My session info (on Google Cloud Compute)

[code]

[2016-10-23 15:07] aissaelouafi commented on #247
I agree, It will be very useful for text minning and NLP needs. I think we can get the same result using dplyr library.

[2016-10-23 15:13] aissaelouafi opened #279 "Call Tf-Idf Spark function from sparklyr"
Can we call the Tf-idf features extraction Spark function from `sparklyr` ? if not can we create the tf-idf matrix based on `dplyr` library ?
http://spark.apache.org/docs/latest/mllib-feature-extraction.html

[2016-10-23 21:45] rvm-xx commented on #279
I tried to replicate the example from the documentation (adapt the path to file to your installation), but got an error:

`documents <- spark_read_csv(sc, name="documents", path = 'data/mllib/kmeans_data.txt',
header = FALSE, delimiter = " ")`
`tf <- sc %>% invoke_new("org.apache.spark.mllib.feature.HashingTF") %>% invoke("transform", documents)`

The error is:
`Error in writeType(con, serdeType)

[2016-10-24 04:46] kykuo opened #280 "Connecting to EMR from a separate EC2 instance"
EMR clusters on AWS don't persist through termination, so I've set up a EC2 instance that runs on EBS for my ad-hoc data science tasks. Now I'd like to spin up EMR clusters as needed and utilize them from a RStudio session on my single-node instance.

If I were to run RStudio on the cluster master node directly I'd pass `master = "yarn-client"` to `spark_connect`. But if I want to connect from the

[2016-10-24 06:49] good-marketing commented on #247
I tried to create an extension for the coreNLP Spark package, which supports various nlp functions, but as a newbie I am stuck, perhaps you can Have a look at http://stackoverflow.com/questions/40064818, thanks!

[2016-10-24 09:43] roshnamohan commented on #274
Tried to uninstall spark after loading sparklyr library; however no uninstall has been performed.
[code]
Is there a way we could omit giving the proxy credentials in the command? where should we store the jar so that it can be accessed locally?

[2016-10-24 13:46] trinker commented on #277
Here is the requested info:

## Log file

[code]

## COnfiguration

[code]

[2016-10-24 14:24] aissaelouafi commented on #279
I got exactly the same error message

[2016-10-24 15:08] trinker commented on #277
I also tried a manual edit of the hive-site.xml and reboot RStudio and get:

[code]

And the log file:

[code]

[2016-10-24 20:37] kevinushey commented on #279
The problem with these transformers is simply that they expect data in a form that's not friendly to how R data frames are typically constructed.

As input, the `HashingTF` transformer expects a column with each 'cell' being an array of strings -- typically, with that array being generated by one of the tokenization feature transformers.

For example, the following script will successfully invoke

[2016-10-24 21:50] javierluraschi commented on #280
@kykuo this is more of a question to AWS/EMR than to `sparklyr` but here are some thoughts.

I would first investigate how to connect from my local machine into EMR as `yarn-client`. This will probably involve setting an SSH connection and other networking considerations, but once you figure out a way to connect to EMR from outside EMR, transitioning this to `sparklyr` would be easier to accomplis

[2016-10-24 23:29] javierluraschi commented on #274
@roshnamohan I was under the impression that `2.6` was installed on your system. You can try this `sparklyr::spark_installed_versions()` to see which versions are installed and then uninstall `1.6.2` and then run `spark_uninstall(version = "1.6.2", hadoop_version = "")` with the right `hadoop_version`.

Did you try the following command? What was its output?

[code]

[2016-10-25 00:21] rgbkrk commented on #209
One setting that I think we'll want to propagate is that we need `deploy-mode` set to `client` on `spark-submit`:

If I had to guess, this would shape the sparklyr arguments to `spark-submit` to be:

[code]

It's also highly likely that we should be building sparklyr against our current version of Scala + Spark.

/cc @rdblue

[2016-10-25 03:26] yarrick19 commented on #277
@javierluraschi @kevinushey
Are there any other commands I can run that would provide more output in the error message?  The output of the error message is being cut off and I'm wondering if there is more context farther down in the error message that would help.  Just not sure how to go about that.

For example, would running the equivalent code directly in `spark-shell` be useful? (PS - I don't

[2016-10-25 06:38] roshnamohan commented on #274
@javierluraschi
`sparklyr::spark_installed_versions() ` returns 0 rows:
[code]
However,
[code]
When i run with my IP and creds,
[code]
The query hangs there for over half an hour, and I quit the session by pressing Ctrl + C

And the output for the previous query is as follows:

[code]

Which jar is missing here, and how could I load this from local?

Thanks in advance
Roshna

[2016-10-25 06:53] roshnamohan commented on #274
The sesionInfo() is as follows:

[code]

[2016-10-25 13:18] roshnamohan commented on #274
@javierluraschi
I ran the following command in linux shell and tried to connect to spark from R prompt using spark_connect.

[code]
I tried to connect to spark using spark_connect 3 different times, and each time I could notice in the console  `INFO sparklyr gateway found no mapping for session (sessionID)`

And the error in R prompt was as mentioned above.

I am stuck at this point and does not k

[2016-10-25 18:31] Tazinho opened #281 "Local connection error: Failed while connecting to sparklyr to port (8880) for sessionid (103): Gateway in port (8880) did not respond."
Hi, when I setup sparklyr on windows 10 as described in the RStudio tutorial

[code]

I am getting the following error, while locally connecting:

[code]

My SessionInfo:

[code]

Thanks in advance!

[2016-10-25 18:49] aissaelouafi opened #282 "Connect sparklyr to remote Spark master"
I want to connect `sparklyr` to the master node of a Spark cluster, the problem is R studio running on Windows machine and the master node of my Spark cluster is running on RedHat OS. The `sc_connect` function require to specify the `SPARK HOME`. Should I specify the `SPARK HOME` of my Spark master node ?

[2016-10-25 20:47] aissaelouafi opened #284 "Error when connect sparklyr to remote Spark cluster"
I installed R Studio on the master node of my Spark cluster at localhost, When I tried to connect `sparklyr` to the master node I get the following error message :

[code]

I used :
`sc <- spark_connect(master = "spark://localhost:7077", version ="1.6.0",spark_home = "/usr/local/Cellar/spark")`

[2016-10-26 04:51] roshnamohan commented on #274
@javierluraschi
It will be of great help if you provide an update on this.

Thanks in Advance

[2016-10-26 19:55] rontomer opened #285 "Consider adding support for ALS (alternating least squares) algorithm"

[2016-10-26 20:09] kevinushey commented on #285
`sparklyr` does have `ml_als_factorization()` -- is that what you're looking for?

[2016-10-26 20:25] mkaja commented on #148
is there any update on this issue ?

[2016-10-26 21:55] javierluraschi commented on #209
@rgbkrk in order to set `--deploy-mode`, try:

[code]

Is this sufficient?

[2016-10-26 21:56] kevinushey commented on #148
This particular issue was resolved, but if you're seeing the same / a similar issue, then please file a new issue (with information about your system and what commands you're running).

[2016-10-26 21:58] kevinushey commented on #277
Sorry for not getting back to you sooner, @yarrick19 -- we're still not quite sure what's going on, but will try to investigate further.

[2016-10-26 22:00] kykuo opened #286 "Spark doesn't respect config passed to spark_connect()"
Following the example in http://spark.rstudio.com/deployment.html I did the following

[code]

Now `spark.driver.memory` is getting passed to the launcher, as can be seen in:

![image](https://cloud.githubusercontent.com/assets/5582151/19746533/d563dc80-9ba4-11e6-9992-0f34788d5998.png)

But the setting doesn't seem to be taking effect:
![image](https://cloud.githubusercontent.com/assets/5582151/19

[2016-10-26 22:01] kykuo commented on #275
@hiltonmbr see https://github.com/rstudio/sparklyr/issues/286

[2016-10-26 22:04] kevinushey commented on #277
For what it's worth, here's what I see in my logs for a successful attempt to call `copy_to()` (with relevant bits compared to yours)

[code]

[2016-10-26 22:08] mkaja opened #287 "running sparklyr and getting memory error"
l
attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods   base

other attached packages:
[1] dplyr_0.5.0       sparklyr_0.3.7    fingerprint_3.5.2

loaded via a namespace (and not attached):
 [1] Rcpp_0.12.7        digest_0.6.10      withr_1.0.2        rprojroot_1.0-2    assertthat_0.1     rappdirs_0.3.1
 [7] R6_2.1.3           DBI_0.5            magrittr_1.5

[2016-10-26 22:33] javierluraschi commented on #181
**UPDATE:** A PR (https://github.com/rstudio/sparklyr/pull/238) has been committed which removed the use of a ports file mentioned above. However, there are still a few settings that need to be exposed in order to connect to the remove driver. If someone is interesting in helping out here, feel free to contact me at javier at rstudio.com (not much work left). Otherwise, I'll take a look at this as

[2016-10-27 00:10] yarrick19 commented on #277
@kevinushey

The only real difference in the log files that I see is related to `HiveSharedState`.
Your log shows:
`16/10/26 14:59:57 INFO HiveSharedState: Warehouse path is '/Users/kevin/git/feather/R/spark-warehouse'.`

Are there any files in that directory?

My log shows:
[code]

The java error message that gets output to the R console is obviously cut off.  I feel like if we had visibility to

[2016-10-27 00:24] rgbkrk commented on #209
[code]

[2016-10-27 00:25] rgbkrk commented on #209
Looking at `config`, it appears that sparklyr is not picking up all my environment variables.

[2016-10-27 00:25] rgbkrk commented on #209
[code]

[2016-10-27 03:58] ganesh3 opened #288 "Unable to run spark_connect"
I am running
Windows 10
sparklyr 0.4
RStudio 0.99.90

sc <- spark_connect(master = "local")
Error in start_shell(master = master, spark_home = spark_home, spark_version = version,  :
  Failed to launch Spark shell. Ports file does not exist.
    Path: C:\Users\Ganesh Bhat\AppData\Local\rstudio\spark\Cache\spark-1.6.2-bin-hadoop2.6\bin\spark-submit.cmd
    Parameters: --class, sparklyr.Backend, --p

[2016-10-27 07:00] kykuo commented on #282
@aissaelouafi I've learned that this isn't a great idea; see https://github.com/rstudio/sparklyr/issues/280

[2016-10-27 07:31] rontomer commented on #285
Yes. Thank you.
I guess I missed it

[2016-10-27 07:31] #285 closed

[2016-10-27 15:35] kykuo commented on #271
@rvm-xx seems to run fine in the latest version of sparklyr

[code]

[2016-10-27 15:36] rontomer commented on #285
Yes. Thank you.
I guess I missed it.
On Oct 26, 2016 23:09, "Kevin Ushey" <notifications@github.com> wrote:

[2016-10-27 16:51] mattpollock opened #290 "Export sdf_schema"
`sdf_schema` is implemented and can be accessed via `sparklyr:::sdf_schema`, but for some reason is not exported. This is handy especially when working with nested data where `colnames` does not provide all the needed information. Can you export?

[2016-10-27 17:13] kevinushey commented on #290
I think it's reasonable to export this.

[2016-10-27 17:22] #290 closed

[2016-10-27 17:22] mattpollock commented on #290
Thanks much

[2016-10-27 18:43] yarrick19 commented on #277
@javierluraschi @kevinushey @trinker

**I figured it out!**  As I mentioned before, I wanted to try and see the entire java error message instead of the truncated error message that shows up in the R console.  So, I went to `spark-shell.cmd` and launched spark from there and attempted to load data into a hive table.

I ran the following:
[code]
When running the create table statement I received a

[2016-10-27 18:59] kevinushey commented on #277
Awesome! Thanks for digging in and figuring out what was going on. I agree that we need to make sure we're not truncating error information for cases like this.

[2016-10-27 19:03] javierluraschi commented on #274
@roshnamohan I noticed you are running Spark `1.5.0` which is currently unsupported, `sparklyr` only supports `1.6.*` and newer. However, if you could install `sparklyr` `0.4.21`, then you should be able to get a warning and at least be able to connect and trigger basic operations. Let us know how this goes.

[2016-10-27 20:30] kevinykuo opened #291 "Defaults in spark_read_*"
Wondering why we currently have `memory = TRUE` as default. Shouldn't persisting/caching be deliberate actions?

[2016-10-27 21:15] javierluraschi commented on #291
`sparklyr` was designed with a goal to make Spark easy to use to the R community. Therefore, we would want to help the r community maximize their time in the analysis of data while minimizing interactions with the cluster internals.

We set `memory=TRUE` to minimize knowledge of the internals of Spark while still getting great performance, once the cluster limitations become apparent to users (i.e

[2016-10-27 21:22] javierluraschi commented on #288
@ganesh3  `sparklyr` `0.4` has some connectivity issues on Windows. A good amount of improvements are available in development branch, if you want to try a fix for this you can install the `devtools` package and run:

[code]

[2016-10-27 21:24] javierluraschi commented on #287
@mkaja seems you have and old version of `sparklyr` (`0.3.7`). I would upgrade to the CRAN version `0.4` using:

[code]

or the development version using:

[code]

[2016-10-27 21:37] javierluraschi commented on #275
See http://stackoverflow.com/questions/26562033/how-to-set-apache-spark-executor-memory

You would need to run instead:

[code]

Reason is that, in local mode, the setting needs to be set before starting the `JVM`.

[2016-10-27 21:37] javierluraschi commented on #286
@kykuo  See http://stackoverflow.com/questions/26562033/how-to-set-apache-spark-executor-memory

You would need to run instead:

[code]

Reason is that, in local mode, the setting needs to be set before starting the `JVM`.

[2016-10-27 21:44] javierluraschi commented on #275
@hiltonmbr is it possible that the `SparkR` application is still running and taking all the remaining resources?

I took a look at #286 and verified this would have worked in my environment: `config = list("sparklyr.shell.executor-memory"= "4g", "sparklyr.shell.driver-memory"="4g"))
`

Could you share the `spark_log(sc)` after `spark_connect`? We could double check that memory parameters are being

[2016-10-27 21:48] javierluraschi commented on #282
@aissaelouafi you would have to install a local version of Spark in the RStudio machine running Windows. You can use `spark_install(version = "")` with a version that matches the cluster. However, this will only work out appropiately as long as the Windows machine has full bidirectional access to the cluster, which effectively means, the Windows machine should be in the cluster for this to work ef

[2016-10-27 21:50] javierluraschi opened #292 "Warn users if unrecognized options are found in the config file"
See comment in https://github.com/rstudio/sparklyr/issues/269

[2016-10-27 21:53] javierluraschi commented on #269
@hiltonmbr the options seem correct, tried your same code and worked for me. We will have to dig deeper in the logs to figure this out, mind sharing `spark_log` after connect?

[2016-10-27 22:06] mkaja commented on #287
i tried in a diff machine where we have latest , but still fails

[1] ‘0.4.6’

Error: java.lang.OutOfMemoryError: Java heap space
	at java.util.Arrays.copyOf(Arrays.java:3332)
	at java.lang.AbstractStringBuilder.expandCapacity(AbstractStringBuilder.java:137)
	at java.lang.AbstractStringBuilder.ensureCapacityInternal(AbstractStringBuilder.java:121)
	at java.lang.AbstractStringBuilder.append(Abstrac

[2016-10-27 22:09] javierluraschi commented on #287
Could you try increasing memory with something like the following?

[code]

[2016-10-28 04:12] kykuo opened #293 "Behavior of NA"
`NA_real_` is getting mapped to `NaN` -- is this expected behavior?

[code]

[2016-10-28 04:13] kykuo commented on #151
FYI in Spark 2.0.1

[code]

[2016-10-28 05:06] #286 closed

[2016-10-28 06:02] ganesh3 commented on #288
Thanks this worked but now getting a new error:

Error in file(con, "r") : cannot open the connection
In addition: Warning message:
In file(con, "r") :
  cannot open file 'C:\Users\GANESH~1\AppData\Local\Temp\RtmpcFFW2A\file1d603961543c_spark.log': Permission denied

Please help on this one.

[2016-10-28 08:04] ganesh3 commented on #288
Its working now not sure what was the issue. Thanks.

[2016-10-28 08:22] catlain opened #294 "sdf_load_table get error"
using sparklyr 0.5 (installed by devtools::install_github("rstudio/sparklyr") to run sdf_load_table a spark 1.6.1

`mutualInformation<-sdf_load_table(sc, "mutualInformation")`

i get this error(but use sparklyr 0.4 can pass with no error :

sessionInfo is

`sessionInfo()`

and spark sc is like

 thanks

[2016-10-28 08:46] zheguzai100 opened #295 "spark_connect error"
`sc=spark_connect(master='spark://192.168.1.103:7077')`

`# localhost:192.168.1.102 with Windows OS; spark_master:192.168.1.103 with Ubuntu OS`

`Error in file(con, "r") : cannot open the connection
In addition: Warning message:
In file(con, "r") :
  cannot open file 'C:\Users\ddd\AppData\Local\Temp\Rtmpua5g1v\file197816677353_spark.log': Permission denied`

[2016-10-28 08:53] catlain commented on #294
and if i run spark_installed_versions() get

run spark_install_dir() get

[2016-10-28 13:35] roshnamohan commented on #274
@javierluraschi I upgraded sparklyr to 0.4.21 and could connect to spark using spark_connect only after running

`/opt/cloudera/parcels/CDH-5.5.4-1.cdh5.5.4.p0.9/lib/spark/bin/spark-submit --jars .ivy2/jars/spark-csv_2.10-1.3.0.jar --conf "spark.driver.extraJavaOptions=-Dhttp.proxyHost=<IP> -Dhttp.proxyPort=<port> -Dhttps.proxyHost=<IP> -Dhttps.proxyPort=<port> -Dhttp.proxyUser=<user> -Dhttp.proxy

[2016-10-28 15:56] CreRecombinase opened #296 "ML functions do not respect table groupings"
functions such as `ml_linear_regression` do not respect the groupings imposed on a `tbl_spark` imposed by `dplyr`'s `group_by` operation. In theory this should be able to work, no?

`library(sparklyr)`
`library(dplyr)`

`sc <- spark_connect(master="local")`

`iris_tbl <- copy_to(sc,iris,name="iris_tbl")`

`irislm <- group_by(iris_tbl,Species) %>%`
`do(fit=ml_linear_regression(.,response="Sepal_Len

[2016-10-28 16:08] javierluraschi commented on #295
@zheguzai100 could you try connecting again and provide the full output log?

[2016-10-28 17:34] javierluraschi commented on #274
@roshnamohan a properties file should help here, see: http://spark.apache.org/docs/latest/submitting-applications.html#loading-configuration-from-a-file

Could you try defining the following file `/opt/cloudera/parcels/CDH-5.5.4-1.cdh5.5.4.p0.9/lib/spark/conf/spark-defaults.conf` with the values:

[code]

and retry reconnect?

[2016-10-28 17:58] javierluraschi commented on #209
@rgbkrk Yes, there was a regression reading values from the config file that got fixed with commit (https://github.com/rstudio/sparklyr/commit/355d62828be2e6fdf929b228c9c5ff608a0385d9), please use `sparklyr` `0.4.21` or newer to address this issue.

[2016-10-28 18:27] rgbkrk commented on #209
[code]

It looks like there is more for me to add on to the config, though I'm not sure what sparklyr expects. I do have environment variables set from a sparkR session.

[code]

By the way, I'd love to pay for consulting work to help with integration work in our environment for sparklyr with the intent that it helps the open source project and all users in general. I'm reachable at kylek@netflix.

[2016-10-28 18:44] kevinykuo opened #297 "SparkContext lost after stopping operation in console"
This is annoying since it requires re-launching the spark session...

[code]

[2016-10-28 18:48] javierluraschi commented on #209
@rgbkrk I'll forward your contact within my team to reach out. Could you share `sessionInfo()`?

[2016-10-28 18:57] rgbkrk commented on #209
[code]

[2016-10-28 19:09] rgbkrk commented on #209
I'm using `sparklyr` straight from github master here by the way.

[2016-10-28 19:14] javierluraschi commented on #209
@rgbkrk oh right! Yes, I missed this in your logs: `Parameters: --deploy-mode, client, --class, sparklyr.Backend, --packages, 'com.databricks:spark-csv_2.11:1.3.0', '/usr/local/lib
/R/site-library/sparklyr/java/sparklyr-1.6-2.10.jar', 8880, 3228` which means progress since at least `deploy-mode` is being set to `client`.

So now we need to focus on this issue:

[code]

Related: http://stackoverflo

[2016-10-28 19:29] rgbkrk commented on #209
We run our own distribution of Spark. We run on top of EMR and don't use Cloudera or Hortonworks.

[2016-10-28 19:32] rgbkrk commented on #209
[code]

[2016-10-28 19:33] rgbkrk commented on #209
/cc @rdblue

[2016-10-28 19:51] kevinushey commented on #296
It seems like we could make this work with a `do_.tbl_spark` implementation. However, I don't expect that the resulting objects may not be easy to manipulate.

[2016-10-28 20:58] mkaja commented on #287
Thanks Javieluraschi - i tried with that

Error: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 27.0 failed 4 times, most recent failure: Lost task 0.3 in stage 27.0 (TID 1941, ip- .ec2.internal): ExecutorLostFailure (executor 6 exited caused by one of the running tasks) Reason: Container killed by YARN for exceeding memory limits. 1.4 GB of 1.4 GB physical memo

[2016-10-28 21:39] javierluraschi commented on #209
@rgbkrk Let's try to remove databricks csv package from your `config` object:

[code]

Someone is referencing the hadoop binaries, `sparklyr` does not really reference hadoop at all but is possible that the databricks csv module does.

[2016-10-28 21:48] rgbkrk commented on #209
Same issue. Should I clear out my environment variables for `SPARK_DRIVER_CLASSPATH` and `SPARK_SUBMIT_ARGS`?

[2016-10-28 22:13] javierluraschi commented on #209
@rgbkrk That could help pinpoint this issue, let us know how it goes! Also, if you were to find somewhere in your logs the full call stack from `java.lang.NoClassDefFoundError` that would also help.

[2016-10-28 22:48] kevinushey commented on #297
The problem here is that interrupting the R session does not also interrupt the pending Spark computation, and so the connection effectively gets out of sync.

@javierluraschi, are we going to be able to recover from this state more nicely with the new connection gateway work?

[2016-10-28 22:49] kevinushey commented on #294
I'm guessing that you need to explicitly set the path to the hive metastore (where these files are saved) explicitly. Maybe the default directory changed?

[2016-10-28 22:52] kevinushey commented on #293
I believe this is expected behavior -- Spark doesn't really have the concept of `NA`s, only `NaN`s.

Note that R's `NA`s are, under the hood, a 'special kind' of `NaN` value (as defined by the [IEEE 754](https://en.wikipedia.org/wiki/IEEE_floating_point) spec), and so are only really meaningful to R.

[2016-10-28 22:57] #293 closed

[2016-10-29 17:34] kevinykuo opened #298 "Error: C stack usage is too close to the limit - ml_random_forest"
Tried running a random forest classification on a relative large dataset (87mil rows x 3 predictors) and got a C stack error. The Spark log blew up (>200MB) and most of it looks like C code, here's a snippet:

[code]

Are we deserializing and doing missing handling row by row somewhere?

More info:

Spark WebUI shows the latest failed stage to be `count at NativeMethodAccessorImpl.java:-2` and the

[2016-10-30 11:57] hiltonmbr commented on #269
@javierluraschi after update sparklyr the memory allocation is working fine. Thank you.

library(sparklyr)
 sc <- spark_connect(master = "local[*]",
                     config = list("sparklyr.shell.executor-memory"= "4g",
                                 "sparklyr.shell.driver-memory"="4g"))
 spark_log(sc)
16/10/30 08:44:49 INFO sparklyr session (9998) starting
16/10/30 08:44:50 INFO sparklyr ga

[2016-10-30 12:06] hiltonmbr commented on #275
@javierluraschi after update sparklyr the memory allocation is working fine:
library(sparklyr)
 sc <- spark_connect(master = "local[*]",
                     config = list("sparklyr.shell.executor-memory"= "8g",
                                   "sparklyr.shell.driver-memory"="8g"))
 spark_log(sc)
16/10/30 09:04:10 INFO sparklyr session (6703) starting
16/10/30 09:04:11 INFO sparklyr gateway rece

[2016-10-31 08:37] catlain commented on #294
thanks , and how to set this path?

[2016-10-31 09:56] IrishBird opened #299 "sparklyr remote connect : spark_connect()"
I try to use sparklyr to connect to a remote spark server:
I wrote it as :
for example : the clusterlp is: 139.133.566.90“ and port is : 10001
soI wrote as:
sc <- spark_connect(master = "spark://139.133.566.90:10001",spark_home = "/opt/spark/spark-1.6.2-bin-hadoop2.6",version="1.6.2")
when I run it then the error is shown as blow :  I have googled a a lot: here is one thread : http://stackoverflow

[2016-10-31 13:52] catlain commented on #294
btw if i use `sdf_load_table(sc, "dmp.sdk_dau")`  i get error

when i change it to
 `sdf_load_table1 <- function (sc, name)
{
    session <- spark_session(sc)
    name <- ensure_scalar_character(name)
    reader <- invoke(session, "read")
    sdf <- invoke(reader, "table", name)
    sdf_register(sdf)
} `

it works .  spark 1.6.1

[2016-10-31 16:23] joscani commented on #176
I have the same problem but in my case the response variable is numerical. My response variable is "response" and the features are numerical too.
`head(pred1)
Source:   query [?? x 6]
Database: spark connection master=local[4] app=sparklyr local=TRUE

  respuesta  edad nhijos    rawPrediction      probability prediction
      <dbl> <dbl>  <dbl>           <list>           <list>      <dbl>
1

[2016-10-31 16:46] kevinushey commented on #176
Should we be sending these back to R as a list-of-lists?

[2016-10-31 17:01] yarrick19 opened #300 "dplyr / spark_read_csv() / High Column count Bug"
@javierluraschi @kevinushey
Hey guys,

I ran into a bug using a combination of `dplyr` on a spark df that was created with `spark_read_csv()` that has more than 200 columns.  Since the built in `sdf_partition()` method has issues pertaining to large column counts ( issue #264 ) I'm attempting to work around this by appending a column to my dataset that contains a random number and then using that

[2016-10-31 17:05] javierluraschi commented on #81
Received mail with another request to add support for parallel execution through dplyrs `do`: https://cran.r-project.org/web/packages/dplyr/dplyr.pdf - "Do arbitrary operations on a tbl." section. Noted! Enabling this feature would open up a bunch of interesting scenarios.

[2016-10-31 17:18] kevinushey commented on #300
What version of Spark are you using? This is, I believe, a (very terrifying!) bug in Spark 2.0.0 and below. However, I can't reproduce with Spark 2.0.1.

[2016-10-31 17:20] kevinushey commented on #298
Thanks for the bug report -- any chance you can provide a reproducible example? (For example, with some R code to generate a data set of sufficient size + shape, copy that to Spark, and then the `ml_` invocation you're using to fit the model)

[2016-10-31 17:40] javierluraschi commented on #287
@mkaja since the log is pointing out `Consider boosting spark.yarn.executor.memoryOverhead.`. Can you try the following?

[code]

This documents could help: How to tune your apache Spark jobs [Part 1](https://blog.cloudera.com/blog/2015/03/how-to-tune-your-apache-spark-jobs-part-1/) and [Part 2](https://blog.cloudera.com/blog/2015/03/how-to-tune-your-apache-spark-jobs-part-2/)

[2016-10-31 18:36] yarrick19 commented on #300
@kevinushey
I was using Spark 2.0.0.  I've installed 2.0.1 and it seems to work as expected.  Thanks for the suggestion!  Hopefully they back port those fixes into previous versions of Spark - seems like a major issue.  Should I close this issue?

[2016-10-31 20:46] kevinushey commented on #300
Indeed, I think this can be closed. For reference, the bug is tracked upstream at https://issues.apache.org/jira/browse/SPARK-16664; it sounds like a fix will be part of Spark 1.6.3 as well.

[2016-10-31 20:50] kevinushey opened #302 "spark_install failure with R 3.3.2"
I'm seeing:

[code]

with

[code]

I'll dig in more.

[2016-10-31 21:13] kevinushey commented on #302
The issue is caused by https://github.com/rstudio/sparklyr/commit/8fed153fc215e174a67728bb6d81dbc65cbbb0e9:

@javierluraschi, I think this change will effectively break any old installations of `sparklyr` that attempt to query for the currently installed version. You can reproduce with e.g.

[code]

I don't think we should change the .csv format here.

[2016-10-31 22:08] yarrick19 commented on #176
@kevinushey I think it would he helpful to have these structured as a list of lists.  Even more useful would be to have `sdf_predict` just return the actual probability value.  Is that possible?

[2016-10-31 22:09] #300 closed

[2016-10-31 22:18] dwy904 opened #303 "Rstudio Not Responding Once Open (Mac)"
The Rstudio can be opened.

However, after open it for 3 seconds, I will not be able to click anything on Rstudio. It stuck there forever, I will not be able to do anything with that. After connected to spark last time I worked on the project. It never got back normal.

I have tried multiple versions of Rstudio, it gave the same outcome. And I have no problem using R from the terminal. It works to

[2016-10-31 23:39] ElianoMarques commented on #60
@kevinushey @javierluraschi perhaps the easiest way for this would be to leverage this:
https://github.com/jpmml/jpmml-converter
and the https://github.com/jpmml/jpmml-sparkml?

[2016-10-31 23:58] kevinushey commented on #303
Hi Weiye,

Please avoid cross-posting, or let us know specifically when you're cross-posting a post in multiple locations. (https://support.rstudio.com/hc/en-us/community/posts/222224208-Help-Please-Rstudio-Not-Responding-Once-Open-Mac-)

Can you please elaborate on:

Ie, are you attempting to execute any action, or does the IDE simply become unresponsive after an (otherwise successful) startup?

[2016-11-01 03:01] dwy904 commented on #303
I apologize for that.

[2016-11-01 03:30] #280 closed

[2016-11-01 17:23] javierluraschi commented on #302
Thanks @kevinushey, merged this back without a csv schema change.

[2016-11-01 17:25] javierluraschi commented on #275
Thanks for the update, closing this issue then.

[2016-11-01 17:25] #275 closed

[2016-11-01 17:40] javierluraschi commented on #299
@IrishBird are you using the RStudio desktop to connect? If that's the case, this is currently unsupported and instead, the recommended approach is to install RStudio Server in the Spark cluster. We are exploring alternatives to this through Livy, is Livy a service already installed in your cluster or that would be feasible to install?

[2016-11-01 21:06] edgararuiz commented on #209
@rgbkrk @javierluraschi

This is the code I used to get the connection with a Cloudera cluster to work.  I had to update the Hadoop and Yarn configuration environment variables to the right file.  I hoping that maybe some of the custom setup your Hadoop cluster has may be similar to Cloudera's:

library(sparklyr)
library(dplyr)

Sys.setenv(HADOOP_CONF_DIR='/etc/hadoop/conf.cloudera.hdfs')
Sys.sete

[2016-11-01 21:23] rdblue commented on #209
Thanks @edgararuiz. The problem here is a little different because the Spark classpath is made from two components in our setup: the Hadoop classpath and Spark classpath (directory). Cloudera is a bit easier because their directory setup has all dependencies of an application like Spark linked in the app's lib folder.

[2016-11-01 21:52] edgararuiz commented on #209
Thanks @rdblue .  Quick question, is the data you're trying to analyze in Hive? And if so, what version and distribution of Hadoop are you running?

[2016-11-01 22:20] aissaelouafi opened #304 "Error when copying dataframe to spark context"
I tried to copy a dataframe to `sparkcontext`  using :
`copy_to(sc,df,overwrite = TRUE)`
The `df` contains textual row data. I get the following error message :

[code]

[2016-11-01 22:22] kevinushey commented on #304
Can you provide a reproducible example?

The error message seems to suggest that a cell that is actually a string is being parsed as integer:

[2016-11-01 22:25] kevinushey commented on #303
Thanks (sorry, I definitely didn't want to come off adversarial just that cross-posting is generally discouraged).

You can also try running a diagnostics report: https://support.rstudio.com/hc/en-us/articles/200321257-Running-a-Diagnostics-Report; the output of that may be helpful.

[2016-11-01 22:29] dwy904 commented on #303
I am not really good at reading that report, would you mind if I can pass
that to you?

On Tuesday, November 1, 2016, Kevin Ushey <notifications@github.com> wrote:

[2016-11-01 22:31] kevinushey commented on #303
Yes, please feel free to either post it as a GitHub gist (http://gist.github.com) or just send it via email to kevin <at> rstudio <dot> com.

[2016-11-01 22:45] aissaelouafi commented on #304
@kevinushey yes my dataframe contains 3 variables; id (integer), title(string) and description (string)

[2016-11-01 23:08] kevinushey commented on #304
Can you provide a reproducible example?

[2016-11-02 00:29] javierluraschi commented on #209
@rgbkrk `sparklyr` does not determine the java path and does not require a java path. `sparklyr` has a dependency to `spark-submit`, so as long as the `spark-submit` script can read the right java path and submit the jar appropiately to Spark that's all its expected.

From the error, it looks to me like `SPARK_DIST_CLASSPATH` might not be set and this is causing Spark to not launch `spark-submit`,

[2016-11-02 03:05] IrishBird commented on #299
Thank you your for suggestion . And .I got it now.Yes. I am using  RStudio desktop to connect.
so this Rstudio sever should be in one of the node of Spark.. then I don't fee it is remote connect...
And when you said install Livy: does it means that If I install LIvy in cluster, then I could use RStudio desktop  ? For some reason,I don't want to touch the cluster env....

[2016-11-02 04:38] IrishBird commented on #299
@javierluraschi
Before this,I haven't used R studio server before, and Let me explore Rstudio server in the first place. and then get back to this.
Thanks for your clue.

[2016-11-02 04:45] raghav20 commented on #125
Same error : Sparklyr Error in force(code) : Failed while connecting to sparklyr to port (8880) for sessionid (792): Gateway in port (8880) did not respond. Path: /home/ubuntu/spark-1.6.2-bin-hadoop2.6/bin/spark-submit Parameters: --class, sparklyr.Backend, --packages, 'ai.h2o:sparkling-water-core_2.10:1.6.7','ai.h2o:sparkling-water-ml_2.10:1.6.7','ai.h2o:sparkling-water-repl_2.10:1.6.7', '/usr/lo

[2016-11-02 04:54] raghav20 commented on #209
Guys I have spent hours trying to figure out the issue klyr Error in force(code) : Failed while connecting to sparklyr to port (8880) for sessionid (792): Gateway in port (8880) did not respond. Path: /home/ubuntu/spark-1.6.2-bin-hadoop2.6/bin/spark-submit Parameters: --class, sparklyr.Backend, --packages, 'ai.h2o:sparkling-water-core_2.10:1.6.7','ai.h2o:sparkling-water-ml_2.10:1.6.7','ai.h2o:spar

[2016-11-02 07:14] hafen commented on #81
+1000 for arbitrary r-code execution through `do`.

[2016-11-02 11:47] aissaelouafi commented on #304
This is the content of my session info :
[code]

As I said my `dataframe` contains 3 columns, `id` : integer, `title` : string and `description` : string.

[2016-11-02 14:00] edgararuiz commented on #299
@IrishBird -  Is your cluster inside your network or in the cloud?

[2016-11-02 17:05] rdblue commented on #209
@edgararuiz, out clusters run EMR with Hadoop version 2.7.2. We have a Hive metastore and have profiles to run Hive 1.0, Hive 2.1.0, and SparkSQL based on Hive 1.2.1. Our setup is a little special in that we package applications to run through [Genie](https://github.com/Netflix/genie), which is why we don't have a "normal" Hadoop setup. I think as long as we can pass environment variables and sele

[2016-11-02 17:19] javierluraschi commented on #209
@raghav20 the issue you mention is different than this one, please open a new github issue and I'll take a look there.

[2016-11-02 18:31] kevinushey commented on #304
You might try updating to the development version of `sparklyr` and trying once more:

[code]

Make sure to restart the R session after updating `sparklyr`.

[2016-11-02 19:36] dwy904 commented on #303
Is the email address 'kevin@rstudio.com' ?

On Tue, Nov 1, 2016 at 6:32 PM, Kevin Ushey <notifications@github.com>
wrote:

[2016-11-02 21:28] kevinushey commented on #303
Yes, that's correct.

[2016-11-03 02:11] IrishBird commented on #299
@edgararuiz  the cluster inside my network.

[2016-11-03 02:49] edgararuiz commented on #299
Cool, and to double check, the master setting you have matches to what's on the Spark UI (normally port 8080 on the master)

![spark_arrow](https://cloud.githubusercontent.com/assets/7875923/19954375/c7caef9a-a145-11e6-9b2f-0bc1bb9924f2.jpg)

[2016-11-03 02:59] edgararuiz commented on #284
@aissaelouafi - I think your master setting needs to match to what's in the Spark UI, try navigating to your port 8080, to get the right URL:

![spark_arrow](https://cloud.githubusercontent.com/assets/7875923/19954616/9c799f10-a147-11e6-9bb6-7b5eeb7a97e6.jpg)

[2016-11-03 03:15] alexwwang commented on #277
beside with the error logs mentioned above, I've got another item: 16/11/03 10:36:29 ERROR sql on 8 failed
it's sparklyr 0.4.21, R-3.3.1, spark 2.0.1 with hadoop 2.7.3 on ubuntu16.04.

[2016-11-03 03:20] alexwwang commented on #278
I met the same situation with you and no method works in #277 .

[2016-11-03 04:19] dsblr commented on #281
I am also getting the similar issues, I have installed the latest version of sparklyr from github.

Error in force(code) :
  Failed while connecting to sparklyr to port (8880) for sessionid (2044): Gateway in port (8880) did not respond.
    Path: C:\Users\user1\AppData\Local\rstudio\spark\Cache\spark-1.6.2-bin-hadoop2.6\bin\spark-submit2.cmd
    Parameters: --class, sparklyr.Backend, --packages,

[2016-11-03 05:00] dsblr opened #305 "Unable to create spark connect from Rstudio, also from R console"
sc <- spark_connect(master = "local")

Error in force(code) :
  Failed while connecting to sparklyr to port (8880) for sessionid (2044): Gateway in port (8880) did not respond.
    Path: C:\Users\user1\AppData\Local\rstudio\spark\Cache\spark-1.6.2-bin-hadoop2.6\bin\spark-submit2.cmd
    Parameters: --class, sparklyr.Backend, --packages, "com.databricks:spark-csv_2.11:1.3.0", "D:\Users\user1\R\R-3.

[2016-11-03 08:21] aissaelouafi commented on #304
@kevinushey I get already the same error after updating `sparklyr`, I can copy numerical matrix but not textual matrix to `sc`

[2016-11-03 12:10] IgrIss opened #306 "Sparklyr connection issue on Mac OS Sierra"
Hi! i saw lots of issues and resolutions for WINDOWS systems.
However, i didn't find a solution for Mac Os. i tried 'simple' versions to connect without any luck. Then i also tried different versions like this:

Error in force(code) :
  Failed while connecting to sparklyr to port (8880) for sessionid (2412): Gateway in port (8880) did not respond.
    Path: /Users/user1/Library/Caches/spark/spark-

[2016-11-03 16:45] kevinushey commented on #304
Can you please provide a reproducible example? By that, I mean a segment of standalone code that shows the problem you're seeing. Perhaps with some artificial / generated data that you attempt to copy to Spark?

[2016-11-03 18:32] #302 closed

[2016-11-03 18:35] javierluraschi commented on #305
@dsblr could you validate that the following two files exist?

[code]

Could you run from a console/terminal window the following code that `sparklyr` is attempting to execute?

[code]

[2016-11-03 18:38] javierluraschi commented on #306
@IgrIss could you try reconnecting and paste the full log? The log should contain `---- Output Log ----` and `---- Error Log ----` sessions.

If you want to run this from terminal, we need to get rid of the `,` as in:

[code]

[2016-11-03 20:26] IgrIss commented on #306
@javierluraschi  Without commas it seems to be starting.. although i didn't understand if that's useful.. ((

[2016-11-03 20:32] IgrIss commented on #306
as to Error Output log in Rstudio:

---- Output Log ----
Exception in thread "main" java.lang.UnsupportedClassVersionError: org/apache/spark/launcher/Main : Unsupported major.minor version 51.0
	at java.lang.ClassLoader.defineClass1(Native Method)
	at java.lang.ClassLoader.defineClassCond(ClassLoader.java:637)
	at java.lang.ClassLoader.defineClass(ClassLoader.java:621)
	at java.security.SecureClas

[2016-11-03 21:09] dsblr commented on #254
Hi Javier,
I am getting the same error. but the output log is different. I am using the most updated package of sparklyr mentioned in the github.  I am getting the same error using Rstudio as well as R gui. Please help me to resolve the issue.

Error in force(code) :
  Failed while connecting to sparklyr to port (8880) for sessionid (2044): Gateway in port (8880) did not respond.
    Path: C:\User

[2016-11-03 21:27] dsblr commented on #274
Hi Javier,
 I am getting the same error. but the output log is different. I am using the most updated package of sparklyr mentioned in the github. I am getting the same error using Rstudio as well as R gui. Please help me to resolve the issue.

sc <- spark_connect(master = "local",config = config)

Error in force(code) :
 Failed while connecting to sparklyr to port (8880) for sessionid (2044): Gat

[2016-11-03 21:27] dsblr commented on #209
Hi Javier,
 I am getting the same error. but the output log is different. I am using the most updated package of sparklyr mentioned in the github. I am getting the same error using Rstudio as well as R gui. Please help me to resolve the issue.

sc <- spark_connect(master = "local",config = config)

Error in force(code) :
 Failed while connecting to sparklyr to port (8880) for sessionid (2044): Gat

[2016-11-03 22:13] yarrick19 commented on #176
@kevinushey Is it possible to have `sdf_predict` return the actual probability value?

[2016-11-03 22:22] javierluraschi commented on #305
Moved from issue 209 from @dsblr:

[code]

[2016-11-03 23:15] javierluraschi commented on #306
@IgrIss the error seems related to the Java version. Spark supports version 1.7+ and so does `sparklyr`. However, it's possible than some module is being loaded in your system compiled with Java 8 since version `51.0` is Java 7.

Therefore, try installing Java 8 to try to solve this issue.

See. http://stackoverflow.com/questions/28070863/spark-unsupported-class-version-error

[2016-11-03 23:54] IgrIss commented on #306
@javierluraschi

as i said, spark gets up and running from Terminal, while it doesn't from Rstudio.
Could it be some error with the Path variables?  Windows-alike problem?

[2016-11-04 00:07] kevinushey commented on #176
I'll try to take a look, but I'm not sure 'actual probability value' makes sense here -- for classification with multiple groups, don't we expect to obtain one probability value per group?

[2016-11-04 02:10] alexwwang commented on #277
I've solved this problem. First I don't know should start a slave worker in master mode and solved this, I happened to find some error items in log which hinted me the access of database metastore_db was not proper and I try to rm this fold in $spark_work_path, default on linux is under your home fold. Then I retried the connection and copy_to, everything works well. Remember to export some system

[2016-11-04 02:10] alexwwang commented on #277
I've solved this problem. First I don't know should start a slave worker in master mode and solved this, I happened to find some error items in log which hinted me the access of database metastore_db was not proper and I try to rm this fold in $spark_work_path, default on linux is under your home fold. Then I retried the connection and copy_to, everything works well. Remember to export some system

[2016-11-04 02:12] alexwwang commented on #277
I've solved this problem. First I don't know should start a slave worker in master mode and solved this, I happened to find some error items in log which hinted me the access of database metastore_db was not proper and I try to rm this fold in $spark_work_path, default on linux is under your home fold. Then I retried the connection and copy_to, everything works well. Remember to export some system

[2016-11-04 02:18] alexwwang commented on #278
I've solved this. You may refer to #277 where I posed the details.

[2016-11-04 04:05] dsblr commented on #274
---- Output Log ----
 The system cannot find the path specified.
The above error has been solved by changing the JAVA_HOME, Spark don’t recognise the JAVA_HOME, if \bin added to the end of the JAVA_HOME. So I removed the \bin from JAVA_HOME and it started working.

But now I am getting a different error. Please help me on the same.

Error in force(code) :
  Failed while connecting to sparklyr to p

[2016-11-04 04:12] dsblr commented on #254
Issue Resolved ---- Output Log ----
 The system cannot find the path specified.

The above error has been solved by changing the JAVA_HOME, Spark don’t recognise the JAVA_HOME, if \bin added to the end of the JAVA_HOME. So I removed the \bin from JAVA_HOME and it started working.

But now I am getting a different error. Please help me on the same.

Error in force(code) :
 Failed while connecting t

[2016-11-04 04:13] dsblr commented on #281
Issue Resolved ---- Output Log ----
 The system cannot find the path specified.

The above error has been solved by changing the JAVA_HOME, Spark don’t recognise the JAVA_HOME, if \bin added to the end of the JAVA_HOME. So I removed the \bin from JAVA_HOME and it started working.

But now I am getting a different error. Please help me on the same.

Error in force(code) :
 Failed while connecting t

[2016-11-04 04:25] caprice-j commented on #277
Thanks alexwwang, I haven't solved my problem yet but made a little progress thanks to your advice.

On my Google Cloud instance (Ubuntu 16.04), adding some hadoop-related variables in /home/<my user name>/.cache/spark/spark-2.0.1-bin-hadoop2.7/conf/spark-env.sh changed the error message.

**Error message before adding the variables**
`

Error: java.lang.reflect.InvocationTargetException
	at sun.r

[2016-11-04 04:31] javierluraschi commented on #306
@IgrIss it does seem that it starts from console so it could be the case that some environment variables are not passing through. What's the output from running `system2("java", "-version")` from R?

Can you share `sessionInfo()` from R to see if we spot something in your globals?

[2016-11-04 06:53] roshnamohan commented on #274
@javierluraschi, ours is a cloudera managed cluster, and hence we would not prefer exporting credentials in Cloudera Manager in plain text.

We prefer waiting for a spark update to spark 1.6 instead.

[2016-11-04 07:00] IrishBird commented on #299
@edgararuiz  I was trying to use this IP :port to access. but it was used on Rstudio Desktop. I was ignorant. and now I install Rstudo Server on the server where also install Spark. but it seems that I can't open the WEB of RStudio Server, because the server is built on Ali cloud service.and i need to solve the issue of PORT :8787 . (I don't have admin privileg :( to open this port )

[2016-11-04 08:31] #306 closed

[2016-11-04 10:43] desertnaut opened #307 "Titanic data loaded OK in local mode, fail to load in yarn-client mode"
I am trying to replicate [this ML example](https://beta.rstudioconnect.com/content/1518/notebook-classification.html) with the Titanic data but in `yarn-client` mode instead of `local`. The `titanic` data fail to load, while data from other packages (namely `iris`, `flights`, and `batting`) are loaded without an issue. In `local` mode the `titanic` data are loaded successfully.

Here is a reproduc

[2016-11-04 11:07] desertnaut commented on #307
Interestingly enough, saving the `titanic_train` dataset to a CSV file and loading it does not reproduce the error above and allows the data to be read in Spark:

[code]

[2016-11-04 11:07] desertnaut commented on #307
Interestingly enough, saving the `titanic_train` dataset to a CSV file and loading it does not reproduce the error above and allows the data to be read in Spark:

[code]

[2016-11-04 11:08] desertnaut commented on #307
Interestingly enough, saving the `titanic_train` dataset to a CSV file and loading it does not reproduce the error above and allows the data to be read in Spark:

[code]

[2016-11-04 11:08] desertnaut commented on #307
Interestingly enough, saving the `titanic_train` dataset to a CSV file and loading it does not reproduce the error above and allows the data to be read in Spark:

[code]

[2016-11-04 15:01] mkaja commented on #287
Error: Failed during initialize_connection() java.lang.NumberFormatException: For input string: "1G"
	at java.lang.NumberFormatException.forInputString(NumberFormatException.java:65)
	at java.lang.Integer.parseInt(Integer.java:580)
	at java.lang.Integer.parseInt(Integer.java:615)

[2016-11-04 15:10] mkaja commented on #287
javierluraschi -thanks for ur help - i tried with the spark config settings and still i get resource issues .. ExecutorLostFailure (executor 6 exited caused by one of the running tasks) Reason: Container killed by YARN for exceeding memory limits. 1.7 GB of 1.4 GB physical memory used. Consider boosting spark.yarn.executor.memoryOverhead.

[2016-11-04 16:30] javierluraschi opened #308 "Investigate performance regression from 0.4 in ml_linear_regression"
Feedback from mail: 0.4.21 appears much slower than the official version 0.4 on cran. For example, I fitted a model with ml_linear_regression() using a table of approx. 3 Mio. rows and 150 columns. On my macbook this took about 3 minutes with 0.4 and more than 6 minutes with 0.4.21.

If `do(mod = ml_linear_regression())` takes more than 30 minutes, I receive error message

[code]

[2016-11-04 17:16] kevinushey commented on #308
My best guess is that this was caused by a change that forces eager caching of tables when generating a unique ID for each row in a Spark DataFrame, and that caching is slow.

In other words, I wouldn't be surprised if this is the culprit: https://github.com/rstudio/sparklyr/commit/591fd31d3329d76a4a85d6f73050c7a8f763440f

[2016-11-04 17:19] javierluraschi commented on #107
With latest bits I'm getting:

[code]

which looks ideal since Spark still has some restrictions on characters.

[2016-11-04 17:19] #107 closed

[2016-11-04 17:21] javierluraschi commented on #110
This works as expected today with Kevins fix.

[2016-11-04 17:21] #110 closed

[2016-11-04 17:27] kevinushey commented on #308
I wonder if `profvis()` could give us some useful output here, as well? Presumedly not all of the time is spent in the actual model fitting call...

[2016-11-04 18:35] javierluraschi commented on #111
This is looking good to me, adding test but otherwise closing. Let us know if you spot other issues in this area to take a look.

[2016-11-04 18:35] #111 closed

[2016-11-04 18:54] javierluraschi commented on #112
Model updated by Kevin, closing issue.

[2016-11-04 18:54] #112 closed

[2016-11-04 18:58] javierluraschi commented on #112
@jwijffels did you end up writing a blog post? would love to hear feedback from running `lda` at scale from `sparklyr`.

[2016-11-04 21:33] javierluraschi commented on #127
Additionally, one can filter directly form `dplyr`:

[code]

Looks to me like we can close this.

[2016-11-04 21:33] #127 closed

[2016-11-04 22:04] javierluraschi commented on #133
Looks like https://github.com/rstudio/sparklyr/commit/7eb70d0f55e30a68eebec1f69a152e2304542a77 fixed this issue since I can't repro the ordering issue with the newest bits, correct @kevinushey?

[code]

[2016-11-04 22:04] #133 closed

[2016-11-04 22:24] javierluraschi commented on #134
Closing this one since currently Spark is missing to provide second derivates, once implemented in Spark, lets open a new issue to implement this in `sparklyr`.

[2016-11-04 22:24] #134 closed

[2016-11-04 22:30] kevinushey commented on #133
Yes, I believe we should be handling this correctly now (although we might need to revisit this in the future for performance reasons)

[2016-11-04 22:36] javierluraschi commented on #143
Fixed with https://github.com/rstudio/sparklyr/commit/321d56ddfe47aa8f56ce3bcc8c3f57298f38dcb5

[2016-11-04 22:36] #143 closed

[2016-11-05 03:20] yarrick19 opened #309 "spark_connect() Error in validate_java_version() on AWS EMR Cluster"
@kevinushey @javierluraschi
Hey guys,

I've been having good luck using `sparklyr` with an AWS EMR instance (5.0.3) with Spark 2.0.1.  My EMR spot instance was just terminated so I stood up another cluster with the same setup.  Now, when trying to connect to spark using `spark_connect()` I'm receiving the following java error:
[code]

This indicates java is installed:
[code]
Spark starts fine usin

[2016-11-05 03:35] kevinushey commented on #309
Thanks -- it looks like our Java version detection is too strict (we seem to expect the printed version string to match the regex `java version \"([0-9])\\.([0-9]).*`). We'll try to fix this up on the `sparklyr` side.

Thanks for reporting!

[2016-11-05 03:42] kevinushey commented on #309
I've pushed a commit that should hopefully improve the situation here -- can you try downloading the latest development version and confirm if all is well on your side?

[2016-11-05 04:58] yarrick19 commented on #309
@kevinushey

I am now able to connect successfully.  Thanks so much for the quick response!

[2016-11-05 04:58] #309 closed

[2016-11-05 05:29] kevinushey commented on #307
I believe this issue is resolved in the development version of `sparklyr` -- if I recall correctly, this can be caused when the last column in a `data.frame` is `character` and has missing values.

[2016-11-05 19:21] hiltonmbr opened #310 "How to add and save new attributes in Spark dataframe and parquet file?"
Is there any way to add and save new attributes (metadata about dataset and variables) in spark data frame? Does sparklyr offer support for these features, especially for attr() function?

For instance, I have used iris dataset and put variable labels on it.

library(dplyr)
library(sparklyr)
sc <- spark_connect(master = "local[*]")

d <- iris
attr(d,"variable.labels") <- c(Sepal.Length = "My var l

[2016-11-06 00:09] aissaelouafi commented on #304
@kevinushey the code that shows the problem is :

[code]
`robotic` contains 4 columns : <b>id, title, content and tags</b> :

[code]

[2016-11-06 10:20] jamiemaclennan opened #311 "spark_install fails on win10"
Executing spark_install(version = "1.6.2") fails with the following message

tar (child): Cannot connect to C: resolve failed

I worked around the issue by renaming tar.exe so that R could use the internal implementation.

[2016-11-06 21:18] kevinushey commented on #311
This should also be resolved in the development version of `sparklyr` -- did you try that as well?

    devtools::install_github('rstudio/sparklyr')

[2016-11-07 02:24] yarrick19 commented on #176
@kevinushey @slopp
Kevin - good point.  The way many libraries in R handle this is by returning a matrix with the probabilities (`randomForest` package is a good example of this).  What I'm asking is if its possible for `sdf_predict` to return a usable array of the probabilities in the spark df as opposed to the densevector format which you then have to read the data to `R` and recursively loop th

[2016-11-07 07:54] jwijffels commented on #112
not yet, i'm still discussing on if I can use certain (currently confidential) data in the blog post.

[2016-11-07 12:27] iamkbpark commented on #112
I will also look forward to hearing any example on lda from sparklyr!

[2016-11-07 14:17] jamiemaclennan commented on #311
That works - thanks

[2016-11-07 14:17] #311 closed

[2016-11-07 17:53] lalitnookala opened #312 "Performance difference between Spark and Sparklyr"
Good Afternoon all -

This is NOT an issue but a question to understand how Sparklyr works.

SCENARIO:
Take the MNIST data from https://www.kaggle.com/c/digit-recognizer/data. Run PCA on the training data to reduce the dimension of the dataset to 150 features. Using PrComp from R is fine for it. Reformulate the data to have the label and the 150 PCs (Principal Components) as a new data file. In or

[2016-11-07 19:08] blacknred0 opened #313 "sparklyr als getting a java.lang.NullPointerException error when predicting"
Hi -
Not sure if this is an issue from my side or not.  I am currently trying to use ALS Matrix Factorization [http://spark.rstudio.com/reference/sparklyr/latest/ml_als_factorization.html](url) in sparklyr (v0.4) with R 3.3.2 (Sincere Pumpkin Patch) on *nix (Mac and Linux).  I am also using Apache Spark compile version 2.0.1 with hadoop 2.7.

I found this issue [https://github.com/rstudio/sparklyr

[2016-11-08 20:18] javierluraschi commented on #308
@kevinushey the profiler won't help us here since it discards IO time, opened a feature request in `profvis` to investigate if it's feasible to add support for this in `Rprof` and `R` core.

Here are a couple snapshots from Spark with 3M rows using:

[code]

With `sparklyr` `0.4`:

[code]

<img width="1410" alt="screen shot 2016-11-08 at 12 00 02 pm" src="https://cloud.githubusercontent.com/assets

[2016-11-08 21:54] javierluraschi commented on #312
@lalitnookala `sparklyr` eagerly caches tables into memory to give a performance boost by default, if you are using `copy_to` or `spark_read_csv`, etc. Try setting the `memory` parameter to `FALSE`. That might slowdown `sparklyr` enough to match the Scala REPL.

[2016-11-08 22:24] javierluraschi commented on #304
@aissaelouafi any chance you could share a subset of this file to reproduce this problem? You can reach me out at javier at rstudio.com - Thanks!

[2016-11-08 22:41] javierluraschi commented on #310
Not at the moment @hiltonmbr but thanks for this thoughtful suggestion. I agree with you that this would be nice to have if it were supported in Spark. However, Spark does not seem to support attributes in their `DataSet` nor `DataFrame` so implementing this would end up being ad-hoc and not well integrated and potentially a source of bugs, closing this one.

[2016-11-08 22:41] #310 closed

[2016-11-08 22:51] javierluraschi commented on #287
@mkaja Looks like the issue is the value of the `spark.yarn.executor.memoryOverhead` is not right, sometimes `1G` is case sensitive, how about:

[code]

or

[code]

[2016-11-08 22:52] AjarKeen commented on #81
`group_by() %>% do()` would enable a wide range of possibilities. The SparkR UDF implementations have constraints that prevent them from meeting my needs.

[2016-11-08 23:05] javierluraschi commented on #274
@javierluraschi With `sparklyr` `0.4.21` you should be able to connect with the password as plain text and something like:

[code]

I understand that passing the password as plain text is not acceptable and too complicated to give to users, in which case, I would recommend setting a helper function for the users of your cluster, something like:

[code]

Hope this helps - Best, Javier

[2016-11-08 23:26] kevinushey commented on #313
Thanks for the bug report! I think the issue here is simply that an appropriate `sdf_predict()` method has not yet been implemented for `ml_als` model output.

The following (built off of your example) seems to work fine for me:

[code]

[2016-11-08 23:36] kevinushey commented on #308
Interesting that there are four extra `collect` calls in the development version -- those could account for the slowness (depending on how much data is being collected)

[2016-11-09 00:33] javierluraschi commented on #277
@yarrick19 thanks you for getting to the bottom of this, pushed a fix to increase the verbosity and validated that without the correct `winutils.exe` permissions, the exception trace shows this error correctly. This is available in `0.4.23`.

[2016-11-09 00:43] javierluraschi commented on #277
@caprice-j your error is being truncated, could you install `sparklyr` `0.4.23` and retry with this version? We should be able to see the full exception after `at sun.reflect.NativeMethodAccessorImpl.invoke0(Native M` which will hopefully help us point out where to look at next.

[2016-11-09 00:46] javierluraschi commented on #278
@caprice-j  since the `ERROR sql on 9 failed` has beed resolved now, let's close this issue and finish troubleshooting your issue on #277.

For reference, to solve the `ERROR sql on 9 failed`, from @alexwwang:

"Remember to export some system var in your $spark_home/conf/spark-env.sh as follows:"

[code]

"Before connecting to spark in R, I made config items like below:"

[code]

[2016-11-09 00:46] #278 closed

[2016-11-09 03:18] yarrick19 commented on #176
Just following up to see if my ask in the post above is possible.

If not, is there a way to parse the dense vector without having to first move the data to `R`?  It seems like the `apply` and `toArray` methods should be able to parse the probability values but I'm unsure how to apply these methods directly to the spark df column...

[2016-11-09 03:49] kevinushey commented on #176
Yes, this should be possible -- sorry; we'll try to take a look at this soon!

[2016-11-09 04:01] yarrick19 commented on #176
@kevinushey
That's great - super excited about this!  I think having easy access to the probability values will be very useful to anyone creating classification models.

[2016-11-09 04:24] lalitnookala commented on #312
Javier,

Ah! That makes sense and excellent design choice. I wonder if this is the effect of Project Tungsten's Cache-aware computation.

I will try setting memory parameter to FALSE in Sparklyr and also separately try caching table on the Spark side to see if one catches up with the other.

Thank you very much for your reply.

[2016-11-09 04:24] #312 closed

[2016-11-09 08:13] falaki commented on #171
Is there still interest in this?

[2016-11-09 10:17] codingbutstillalive commented on #305
I do have the same issue. Any solutions found already?

[2016-11-09 10:40] codingbutstillalive commented on #80
I am using Windows 8 64bit, and adding "C:\Windows\System32" didn't solve the issue.

[2016-11-09 13:07] jjallaire commented on #171
Yes, getting the deployment topology right in all environments is our top
focus right now. Interestingly, we've heard from other
customers/environments that any use of Spark packages is problematic, see:
https://github.com/rstudio/sparklyr/pull/314

I think we'll need to do both and allow users to configure the behavior via
a global option.

@javierluraschi
<https://github.com/rstudio/rstudio/comm

[2016-11-09 14:38] codingbutstillalive opened #315 "spark_read_csv - does it read the data into main memory of the R session?"
Hi!

I try to load a big csv file into Spark with the spark_read_csv function of Sparklyr. The command takes very long to execute and it finally kills the RStudio session. When I look into the body of the function, I see the following line of code:

`df <- spark_csv_read(sc, spark_normalize_path(path), options)`

To me it looks like the data is actually fetched into the R-session! Why?

[2016-11-09 15:11] blacknred0 commented on #313
thanks for the share! Glad to hear that it was more of a bug than end-user error :).

I can confirm that I ran this section of your code and it worked fine.

[code]

[2016-11-09 15:11] #313 closed

[2016-11-09 18:31] jangorecki opened #316 "Create spark data.frame with copy_to fail on expression"
This is quite related to the issue I was discussing just recently with @javierluraschi. Reporting as it hits me today. I'm using sparklyr 0.4.
[code]

[2016-11-09 18:46] codingbutstillalive commented on #315
Could you please provide a few more details. Why does it read the data into R?
The spark_read_csv function is incredibly  slow. 6 minutes compared 1 minute with read.df of SparkR.

[2016-11-09 20:26] javierluraschi commented on #315
@codingbutstillalive with `spark_csv_read`, data is not loaded into R bur rather into the Java VM. In this case, when the Java process crashes, is also taking down the R session. I'll investigate this further to limit the crash to the `Java` process and try to avoid a crash in the `R` process.

Regarding your second question, there are a few differences between `sparklyr` and `SparkR`. One of them

[2016-11-09 21:13] codingbutstillalive commented on #315
Thanks for your explanations, and the affords! I really appreciate that.

It is kind of counter-intuitive that an R implementation can be more efficient than a scala one ;)

Could you please explain to me the code line that I quoted. What is the nature of 'df' on the left side of the operator? It really looks as if the data were fetched and assigned to a data frame.

Today, I was trying to convinc

[2016-11-09 21:42] javierluraschi commented on #315
@codingbutstillalive Regarding the `df <- spark_csv_read(sc, spark_normalize_path(path), options)` line:
 1. The code is invoking a command on Spark, as a rule of thumb, each time we use `sc` (the `SparkContext`) or the resulting object, it probably means we are executing something in the Spark cluster, not locally.
 2. `spark_normalize_path` is not using `sc` and therefore is a local call to make

[2016-11-09 22:06] codingbutstillalive commented on #315
Thanks a lot. I see your point with the dplyr style that supports intuition with the concept of the pipe operator. And I agree. But some basic functions like dim(), nrow(), ncol() should really be included in the sparklyr base package, in my opinion. This would help to promote the package.

Alright, I will contact you in case of further questions. It is a really nice offer of yours.

Best regards,

[2016-11-09 22:06] javierluraschi commented on #316
Thanks @jangorecki, this issue has been fixed on recent versions of `sparklyr` that you can install by installing the `devtools` package followed by: `devtools::install_github("rstudio/sparklyr")`.

[2016-11-09 22:16] javierluraschi commented on #171
Just submitted `sparklyr` for verification to https://spark-packages.org/ (which seems to be the first step), I'll keep this thread posted. The plan would be to submit the CRAN version `0.4` and update them both (CRAN and https://spark-packages.org/) as new releases of `sparklyr` become available. @jjallaire

[2016-11-09 22:23] javierluraschi commented on #80
@codingbutstillalive fixes have been added to improve diagnostics in Windows; therefore, I would retry with latest `sparklyr` version installed through `devtools::install_github("rstudio/sparklyr")`, please open a new github issue to troubleshoot this further since this one is already closed.

[2016-11-09 22:25] javierluraschi commented on #305
@codingbutstillalive not yet, if someone could validate that this file `C:\Users\<username>\AppData\Local\rstudio\spark\Cache\spark-1.6.2-bin-hadoop2.6\bin\spark-submit2.cmd` exists, that would be a first good step. Please send the full output of `spark_connect` to validate this is the same issue.

[2016-11-09 22:28] javierluraschi commented on #312
Sounds good @lalitnookala, thanks for closing this issue.

[2016-11-09 22:53] #316 closed

[2016-11-10 00:34] javierluraschi commented on #81
@AjarKeen could you share some examples of current limitations with SparkR UDF to make sure this gets implemented without them?

[2016-11-10 16:37] edgararuiz commented on #287
Could this be caused by actual RAM available in the machine, at the time of copying the data?

[2016-11-10 17:11] mkaja commented on #287
Ed - i check the memory usage on server while copying the data and it had free 7g

[2016-11-10 18:18] kevinushey opened #317 "support for nested object / method access in 'invoke'?"
It might be useful to make it possible to invoke methods on sub-objects more simply with `invoke`, e.g. given a Spark DataFrame, it might be nice to write:

[code]

rather than

[code]

In other words, we could manually split the objects according to `.`s found in the string, and then execute the methods sequentially. Would this be useful, or could it lead to potential confusion? (Does Scala ever

[2016-11-10 20:03] jangorecki opened #318 "drat repository for sparklyr"
Sparklyr is pretty actively developed, and AFAIK you are pushing to master, which potentially makes a risk of sparklyr to be in a state in which it won't pass unit tests. I would like to plug sparklyr devel into my CI pipeline, but it could be painful to depend on a devel package which might not pass own tests. Ideally would be if you could setup drat repository which would be updated only when un

[2016-11-10 20:11] javierluraschi opened #319 "Consider implementing dim(), nrow(), ncol() for Spark data frames"
There was a suggestion to support basic data frame operations in https://github.com/rstudio/sparklyr/issues/315.

This would allow this code to work:

[code]

While this could be really helpful, it could also create the wrong expectations that an `sdf` supports all the functionality of a `df` including the `[]` and `[[]]` operators.  At the very least, we might want to override `[]`, `[[]]` and ot

[2016-11-10 20:11] javierluraschi commented on #315
@codingbutstillalive thanks, we can consider this in here https://github.com/rstudio/sparklyr/issues/319 and close this one.

[2016-11-10 20:24] javierluraschi commented on #281
A fix is available in `sparklyr` `0.4.24` that avoids downloading the `com.databricks#spark-csv_2.11;1.3.0` and instead, embeds this resource in the package.

To install the latest version, install `devtools` package and run:

[code]

Then retry `spark_connect` and let us know how it goes.

[2016-11-10 20:41] AjarKeen commented on #81
Sure! The SparkR UDF implementation comes with some pretty hard constraints.

1. SparkR UDFs are only allowed to receive 2-3 arguments: a key, an R data frame, and (in some cases) a schema for the output. Your function definition can have other arguments if they have defaults, but you can't pass those arguments yourself at runtime.

2. These UDFs are only allowed to return a data frame. This makes

[2016-11-10 20:48] AjarKeen commented on #187
I'm encountering this problem as well. I have a Spark DataFrame that I want to join on a timestamp column, so I generate a time series in R and then use `copy_to` so that I can do the join, but

[2016-11-10 23:34] Tazinho commented on #281
Thanks a lot!

[2016-11-10 23:34] #281 closed

[2016-11-11 00:07] javierluraschi commented on #318
@jangorecki do you need the latest version of `sparklyr`? The latest stable release is published in CRAN and marked with this tag: https://github.com/rstudio/sparklyr/tree/v0.4, would it make more sense for you to depend on the released version?

[2016-11-11 00:34] cosmincatalin commented on #81
Just an opinion: due to the distributed nature of Spark, I find it really challenging, but really awesome, but really challenging, but really awesome if the `do` function gets implemented at least on par with the SparkR `*apply` functions.

Issue number _1_ above is a valid feature request, but can be worked around by modifying the data frame argument in advance to contain runtime information. Not

[2016-11-11 02:04] javierluraschi commented on #317
I looked at the `sparklyr` codebase and found a few instances:

[code]

[code]

[code]

[code]

[code]

`.` are also not valid Scala names: http://stackoverflow.com/questions/7656937/valid-identifier-characters-in-scala

Not opposed to this but does not seem like it would have significant use.

This is a more common pattern, but not sure there is a clean way to improve it:

[code]

[2016-11-11 02:27] javierluraschi commented on #317
Actually, how about:

[code]

And

[code]

?

[2016-11-11 03:00] ramkrisp opened #321 "Error when trying to connect to spark"
Hi,

I am having the following error when trying to create connection with spark:

`library(sparklyr)

Error in force(code) :
  Failed while connecting to sparklyr to port (8880) for sessionid (1368): Gateway in port (8880) did not respond.
    Path: C:\Users\krispra\AppData\Local\rstudio\spark\Cache\spark-2.0.1-bin-hadoop2.7\bin\spark-submit2.cmd
    Parameters: --class, sparklyr.Backend, --jars,

[2016-11-11 07:04] javierluraschi commented on #189
Closing since feedback for workaround should now be addressed in `0.4.26`.

@JackHo327 if you could update `sparklyr` and validate that this works without your workaround, this would be really appreciated, you will have to install `sparklyr` as follows since the fix is not yet merged:

[code]

[2016-11-11 07:04] #189 closed

[2016-11-11 07:04] javierluraschi commented on #189
Fix in: https://github.com/rstudio/sparklyr/pull/322

[2016-11-11 07:21] mtbbiker commented on #254
@dsblr I am having the same Issue, I think this is a proxy Issue. At work I am behind a Proxy to get to my Remote Spark Cluster and I am getting the same Error. When I work from home, my setup is exactly the same except there is no Proxy and there it works. I am on a Mint 17 Linux (Ubuntu 14) OS

[2016-11-11 15:50] hadley commented on #81
FWIW, I no longer consider `do()` to be the way forward for arbitrary code execution. I think list-cols + `mutate` + a multidplyr approach (or parallel purrr) to be a more likely way forward.

[2016-11-11 16:04] AjarKeen commented on #81
I'm all for best practices. I'm also willing to contribute to this effort if there's anything useful I can do, because if we can get UDFs to work in a more flexible/robust and R-like way than SparkR does, it will be tremendously useful for my job. For example, I'd be happy to run distributed tests on AWS for new sparklyr features such as this one.

[2016-11-11 17:14] akzaidi commented on #81
Happy to help with Azure on HDI tests as well :)

Just my two cents: while the list-colsts and `mutate()` approach might be more pleasing from a tidy perspective, I think it'll generally be hard to have nested DataFrames in Spark, without at least braking the API and resorting to RDDs. I think a `do()` or `purrr:map()` approach would be a lot easier and would still maintain the proper functional a

[2016-11-11 17:58] jangorecki commented on #318
@javierluraschi I'm already using 0.4, but I read in other issues that many changes has been incorporated since 0.4. It is reasonable to assume that some users will use devel sparklyr for that new stuff, thus I would like to make rsparkling always play well with both devel and CRAN sparklyr. It would be troublesome if an sparklyr update on CRAN would affect our functionality and users would need t

[2016-11-11 18:19] javierluraschi commented on #321
@ramkrisp Not enough memory errors, you could try something like:

[code]

See http://stackoverflow.com/questions/4401396/could-not-reserve-enough-space-for-object-heap

[2016-11-11 18:34] aissaelouafi commented on #304
@javierluraschi can you provide me your email and I will send you a part of the `data.frame`

[2016-11-11 18:58] ramkrisp commented on #321
Thanks @javierluraschi for your answer, I tried to run the code that you suggested but still getting the same error (even tried 256m as they suggested in the stackoverflow link). This is weird, since I recently extended the memory from 8 to 16, and it worked fine before that. any other suggestions? Thanks!

[2016-11-11 22:16] AjarKeen commented on #81
I think `map` is a very smart approach, since it would mirror the Scala and Python APIs.

[2016-11-12 00:54] javierluraschi commented on #321
@ramkrisp How about:

[code]

Seems like it might be actually trying to allocate a 1GB object while I assumed it was the size of the head that was trying to set.

[2016-11-12 01:26] hafen commented on #81
Here are some thoughts / ideas supporting @hadley's comments (I think!).

I think the approach that would be the easiest to implement and hit the most use cases would be if we could stick with Spark DataFrames. But in my opinion, any kind of UDF support automatically means support for list-columns / arbitrary R objects stored in columns of a Spark DataFrame. However, I think there is an easily-wit

[2016-11-12 02:11] ramkrisp commented on #321
Hi @javierluraschi , still getting the same error (tried also 4g). Could it related for the H2O package? it worked before I installed this package and I used the following code to install the H2O:
`localH2O = h2o.init(nthreads=-1)
localH2O <- h2o.init(ip = 'localhost', port = 54321, max_mem_size = '4g')`

Could this is what causing the error?

Thanks!

[2016-11-12 15:25] hadley commented on #81
@hafen that aligns very closely with my thinking :)

[2016-11-13 02:49] jjallaire commented on #319
Yeah, I think we either go all the way with these functions or draw the
line at some point. If it's not too, too much work I don't mind going all
the way but it would be good do this from a principled answer to the
question of whether we want to go there.

On Thu, Nov 10, 2016 at 3:11 PM, Javier Luraschi <notifications@github.com>
wrote:

[2016-11-13 05:44] yarrick19 opened #323 "New copy_to() error Spark 2.0.1"
Just uninstalled spark 2.0.0, updated sparklyr to 4.26, and installed spark 2.0.1.  Now I am getting an error when using `copy_to()`.  The error is below.

[code]

Session Info

[code]

[2016-11-13 07:26] kevinushey commented on #323
I'm guessing this is the relevant portion:

[code]

Sounds like more weird permission issues?

[2016-11-13 23:39] caprice-j commented on #277
I installed `sparkly` `0.4.26` by `devtools:install_github("rstudio/sparklyr")`.

But still got the same error:

`> iris_tbl <- copy_to(sc, iris)
Error: org.apache.spark.sql.AnalysisException: Path does not exist: hdfs://spark-cluster-m/tmp/Rtmp77zUfk/file8c1891654a.csv;
	at org.apache.spark.sql.execution.datasources.DataSource$$anonfun$12.apply(DataSource.scala:375)
	at org.apache.spark.sql.execu

[2016-11-14 01:15] yarrick19 commented on #323
@kevinushey @javierluraschi

Also am getting this error sporadically:

[code]

I've updated sparklyr and installed 2.0.1 on two different Windows 10 computers now.  Both computers are encountering the two errors I've mentioned.  Was there any changes made to the install process recently that could be causing this?

[2016-11-14 05:04] yarrick19 commented on #323
One more piece of information... I uninstalled spark `2.0.1` and re-installed `2.0.0` and everything works as expected.  So, This seems to be isolated to the install process in conjunction with `2.0.1`.

[2016-11-14 18:12] kevinushey commented on #319
I think it's worth going all the way here, although we should think about how exactly to implement the subsetting methods. I think implementing `[` shouldn't be too bad; it should effectively be translated from:

[code]

to something like:

[code]

The `[[` and `$` methods could return `Column` proxy objects; depending on how far we want to go we could also implement methods for `==`, `!=`, and so

[2016-11-14 18:12] jjallaire commented on #319
I tend to agree that going all the way would be a good thing here.

On Mon, Nov 14, 2016 at 1:12 PM, Kevin Ushey <notifications@github.com>
wrote:

[2016-11-14 21:59] javierluraschi commented on #323
@yarrick19 yes, this https://github.com/rstudio/sparklyr/commit/66a747172ebe0f67536622f0247693988064ec5f change made on Friday. However, I just tried deleting `SPARK_HOME/conf/spark-defaults.conf` file (since the change adds this file) and I still get an error for `copy_to` in `2.0.1` not in `2.0.0`. Taking a look...

[2016-11-14 22:28] codingbutstillalive commented on #81
Hi!

Sparklyr is a wonderful approach to Spark. I have to admit that I do not understand everything that was discussed here, but I do want to point out that even in R, not every interesting data item is a data frame. For example, I often have to do text processing, where I need to handle large collections of text documents, and I need to split those into tokens and things like this. I think that t

[2016-11-14 22:51] javierluraschi commented on #81
Here is a reference that Sebastian sent by mail: https://forums.databricks.com/questions/10251/how-to-count-number-of-missing-values-for-each-col.html

[2016-11-14 23:13] yarrick19 commented on #323
@javierluraschi   Thanks for looking into this.  One more piece that may be helpful... I have `2.0.1` installed on my work pc with `sparklyr_0.4.21` and it works fine.  So, looks like there is a regression that occurred on or after `sparklyr 0.4.22`.

[2016-11-15 00:04] hadley commented on #81
I think we'd need both interfaces for tidy data frames and lists/vectors.  (But see http://tidytextmining.com for handling text data with data frames)

[2016-11-15 00:37] JackHo327 commented on #189
Hi @javierluraschi , I updated the old version as you said above.. but I failed to launch sparklyr again.

**1. update**

from URL https://api.github.com/repos/rstudio/sparklyr/zipball/bugfix/install-windows-warehouse-dir
Installing sparklyr

  --no-restore --quiet CMD INSTALL "C:/Users/Renzhi  \
  He/AppData/Local/Temp/RtmpQjUdOZ/devtools1bd81a28524e/rstudio-sparklyr-357b9f3"  \
  --library="D:/R

[2016-11-15 01:01] javierluraschi commented on #323
@yarrick19 thanks for spotting this out and scoping down that this was a regression, really helpful! Fix is available in `sparklyr` `0.4.28`.

[2016-11-15 01:09] javierluraschi commented on #318
@jangorecki please take a dependency directly to `master`. We (@javierluraschi and @kevinushey) have checks in place to prevent `master` from ever being broken (mostly through feature branches and automatic reverts when the Travis breaks).

[2016-11-15 01:09] #318 closed

[2016-11-15 01:10] javierluraschi commented on #315
Sounds good. Closing this one, ping me as a follow up if needed. Best, Javier

[2016-11-15 01:10] #315 closed

[2016-11-15 03:51] yarrick19 commented on #323
@javierluraschi  Thanks!  Seems to be working fine with `0.4.28`.  Closing the issue.

On a side note, when is the next planned release to CRAN?

[2016-11-15 03:51] #323 closed

[2016-11-15 17:13] yarrick19 commented on #176
Hi @kevinushey

Curious where this request is at priority wise.

Have `sdf_predict` return a usable array (or seperate columns?) of the probabilities in the spark df as opposed to the densevector format which you then have to read the data to R and recursively loop through a list and parse out the probability values

I think this is going to be extremely useful to have.  Thanks.

[2016-11-15 17:42] javierluraschi commented on #323
@yarrick19 I would say that releasing every 3-6 months to CRAN is a good pace so we are not far from a new release. How often would you like to see `sparklyr` releasing and why?

[2016-11-15 18:26] yarrick19 commented on #323
@javierluraschi I think releasing every 3-4 months given the speed of development, bug fixes, etc feels good.  I was originally asking because it seems like there has been a lot of improvements since the 0.4 version on CRAN and it would be great to get a more stable version out there for everyone to use.

[2016-11-15 18:37] kevinushey commented on #176
@yarrick19 I'm taking a look today -- this may prove to be trickier than I first anticipated but hopefully defining some transformation when pushing `DenseVector`s over the wire will be sufficient.

[2016-11-15 19:30] kevinushey commented on #176
@yarrick19 this has now landed on master -- please try downloading the latest version of `sparklyr` and let us know if you encounter any issues.

[code]

[2016-11-15 20:19] javierluraschi commented on #308
I'll start taking a look at this one today...

[2016-11-15 22:12] javierluraschi commented on #305
@latinostats  the issue you mention looks like a different issue. For that one, please upgrade to the latest version of `sparklyr` by running: `devtools::install_github("rstudio/sparklyr")` and retrying.

[2016-11-15 23:09] javierluraschi commented on #308
Gave this another shot today with increasing size, but no luck reproeing this even with `100` columns and `1M` rows:

[code]

[code]

which seems like a descent time. As I mentioned in the previous comment, it does seem that there was a bit of an increase, but have not been able to see the reported 2X slowdown after `0.4`. Will try to get more info on this, but hard to make this actionable without

[2016-11-15 23:19] kevinushey commented on #308
What version of Spark was this with? My expectation is that we might see slowdown with Spark 2.0.0 and lower, using tables with a large number of columns (> 200).

[2016-11-16 03:01] edgararuiz commented on #296
@CreRecombinase I'm not sure that this will work in a non-Spark pipe.  I would suggest doing the grouping inside the model's formula.  In a sparklyr session, the results are sent back to your Environment variable so you can easily collect what you need, like the coefficients:

`ilibrary(sparklyr)
library(dplyr)
sc <- spark_connect(master="local")
iris_tbl <- copy_to(sc,iris,name="iris_tbl")

irisl

[2016-11-16 03:07] kevinushey commented on #296
FWIW now that we have `do` the following should do what you expect (make sure you have the development version of `sparklyr`)

[code]

[2016-11-16 04:49] bettyshang commented on #189
@JackHo327  I have the same problem. Can you share your solution, thanks a lot.

Error: java.lang.reflect.InvocationTargetException

Environment Information:
R version 3.3.2 (2016-10-31)
RStudio 1.0.44
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 7 x64 (build 7601) Service Pack 1
 sparklyr_0.4.26  dplyr_0.5.0     SparkR_2.0.1

[2016-11-16 05:09] yarrick19 commented on #176
@kevinushey Thanks for your work on this!

The list format makes it pretty strait forward and natural (for an R user) to parse the probability values in R.

Is there any equivalent way of parsing the list in the spark DF without having to use `collect()` to pull the data into R?  I tried a few ways using `mutate` but wasn't successful.  I also see in the spark documentation something called `Vecto

[2016-11-16 16:28] javierluraschi commented on #304
@aissaelouafi javier at rstudio.com

[2016-11-16 16:30] javierluraschi commented on #254
@mtbbiker @dsblr could you try with a recent version of `sparklyr`? We recently removed the need to connect to `spark-packages` to download the CSV package so we shouldn't see the `com.databricks#spark-csv_2.11;1.3.0: not found` errors in the log anymore.

[2016-11-16 16:40] javierluraschi commented on #321
@ramkrisp yes; however, it's not a problem with the package but rather, using this package requires more memory to be allocated which is not available in this machine or additional JVM settings need to be specified. How much ram do you have in this machine?

I would also try:

[code]

[2016-11-16 16:58] javierluraschi commented on #308
The run above was using `1.6.1`.

[2016-11-16 17:03] ramkrisp commented on #321
The ram on my machine is 16g, I checked the memory allocation when I tried your last code and there was more then 9g of ram available (yet still having the error).

[2016-11-16 19:09] dfalbel commented on #120
This will be a nice feature! I was looking for something like this:
https://spark.apache.org/docs/latest/sparkr.html#applying-user-defined-function
but with a friendly dplyr interface :)

[2016-11-17 02:13] latinostats commented on #305
@javierluraschi  solved my issue upgrading to a 64bit JRE in windows (it was 32 bit).... hope this helps somebody.

[2016-11-17 03:46] latinostats commented on #196
It would be very valuable to add the Crossvalidation and Hyper-Parameter search capabilities of SPARK into sparklyr.  Thanks

[2016-11-17 10:26] ElianoMarques opened #329 "Including grep, mataches, etc in mutate"
Guys, as the other thread for udf and dapply keeping going i wonder if we could try to implement some of the reg. expression into sparklyr.

Ex. df %>% mutate( text1 = ifelse( col1 %like% "$ text $" , 1, 0 )  ) - this works fine but if the reg expression has multiple attributes and multiple options the like ifelse becomes nasty.

Ex: df %>% mutate( text1 = ifelse( col1 %like% c("$ text $","$ text2

[2016-11-17 18:15] kevinushey commented on #329
What regular expression forms are accepted by Spark SQL? Note that `x %like% y` is literally translated to SQL as `x LIKE y`, so whatever we want to implement here (right now) needs to fit into Spark SQL.

It looks like (from the documentation at https://cwiki.apache.org/confluence/display/Hive/LanguageManual+UDF) that the following things are supported:

- A [NOT] LIKE B
- A RLIKE B
- A REGEXP B

[2016-11-17 18:37] kevinushey commented on #329
It's also possible that `sparklyr` could introduce its own set of UDFs as part of the jars it distributes.

[2016-11-17 20:28] ElianoMarques commented on #329
So lets say we want to create a new flag variable that is product A or product B from a column that contains text.

[code]
Yes we can write multiple like types but something where we can pass multiple patterns to match a particular product (assuming the example above) would be more useful.  grep assumes text|text2 for example. I've tried $ text $|$ text2 $ but the output was not as expected. the o

[2016-11-17 20:58] d8aninja opened #330 "spark_connect throws "Failed to create Hive context, falling back to SQL.""
following along with the rstudio blog walkthrough, got the error where it asked me to get winutils.exe from Loughran's repo.  Did that reran,

`sc <- spark_connect(master = ''local'')
`
and get
`Warning message:
In create_hive_context_v1(sc) :
  Failed to create Hive context, falling back to SQL. Some operations, like window-functions, will not work
`

Here are my system and package specs:
`>packa

[2016-11-17 21:01] d8amonk commented on #330
Worth noting that I alread tried to set `config = list()` inside the call to `spark_connect()` as well as the `options("sparkapi.ports.file" = "ports.out")` suggestion...

[2016-11-18 02:38] d8amonk commented on #330
Also worth noting that I (literally by chance) came across a RAM upgrade from my IT department (from 8 to 16) and the `spark_connect()` call worked

[2016-11-20 12:32] JackHo327 commented on #189
Hi @bettyshang ,
Right now I also have the problem and got stuck again.
In the earlier version, I could avoid the error by setting my config list.
spark.sql.warehouse.dir=" your address"

[2016-11-20 18:30] ZeccaLehn commented on #202
@javierluraschi Any way to import POSIXct --i.e., with hours/minutes?

[2016-11-20 18:36] ZeccaLehn commented on #202
@javierluraschi Any way to import POSIXct into sparklyr without loosing the minute/second information? I can import as a numeric, but would make querying difficult within SparkSQL.

[2016-11-22 01:31] magarick opened #331 "Incorrect log calculation"
Sparklyr returns `1/log(x)` instead of `log(x)` when used on a Spark datasource. This happens for any base passed to `log` as well, but doesn't affect `log2`, for instance. A local source does not exhibit this problem, nor does Scala Spark, either when using Scala directly or the Spark SQL interface. This is why I think the problem lies in Sparklyr somewhere. An example is below.

    Source:   qu

[2016-11-22 15:22] Jim89 commented on #114
Just a note on this from me. Using the CRAN version (0.4 at time of writing) and specifying the `config = list()` option as advised above was not loading the necessary `csv` [spark packages](https://spark-packages.org/package/databricks/spark-csv) and hence it was not possible for me to read a CSV from hdfs into a spark dataframe with `spark_read_csv`.

Installing the dev. version from Github solv

[2016-11-23 00:37] javierluraschi commented on #319
For the `0.5` release we are addressing dim(), nrow() and ncol(). Closing for now, we can revisit if we have more feedback to implement `[`, `[[`, etc.

[2016-11-23 00:37] #319 closed

[2016-11-23 03:16] kevinushey commented on #331
Can you also provide the output of `utils::sessionInfo()`, as well as the version of Spark you're using? I wasn't able to reproduce with Spark 1.6.2 or Spark 2.0.1.

<details>

R version 3.3.2 (2016-10-31)
Platform: x86_64-apple-darwin13.4.0 (64-bit)
Running under: macOS Sierra 10.12.1

locale:
[1] en_US.UTF-8/en_US.UTF-8/en_US.UTF-8/C/en_US.UTF-8/en_US.UTF-8

attached base packages:
[1] stats

[2016-11-23 06:18] magarick commented on #331
Here you go. It is apparently the version of sparklyr. I noticed you are on 0.4.33 and I was on 0.4.
Upgrading fixed the problem. Thanks for your time.

[code]

[2016-11-23 06:18] #331 closed

[2016-11-23 06:28] kevinushey commented on #331
Thanks! We plan on releasing a new version of `sparklyr` to CRAN soon, so hopefully new users of the package won't bump into this issue.

[2016-11-23 09:29] dangulod opened #332 "Java heap space reading table from hive"
I have stored a dataset in hive in orc. And now I am trying to acces it through sparklyr, but I got an error:

`Caused by: java.lang.OutOfMemoryError: Java heap space`

I used the following script:

[code]

And then, when I tried to load the table, sparklyr shut down, giving this error:

[code]

and the log output:

[code]

[2016-11-23 16:17] dustindall commented on #254
Hi  @javierluraschi,

I downloaded the latest sparklyr from github and I'm getting the following error I had a previous issue that you solved due to a space in username.

Error in force(code) :
  Failed while connecting to sparklyr to port (8880) for sessionid (310): Gateway in port (8880) did not respond.
    Path: C:\Users\<username>\AppData\Local\rstudio\spark\Cache\spark-1.6.2-bin-hadoop2.6\bi

[2016-11-23 18:24] javierluraschi commented on #332
@Tarqui which version of Spark and distribution? How are you loading the table? Could you share your `sessionInfo()`?

There are a couple instances of this attributed to different library versions being installed:

https://community.cloudera.com/t5/Advanced-Analytics-Apache-Spark/Spark-java-lang-IllegalStateException-unread-block-data/td-p/21836

http://apache-spark-user-list.1001560.n3.nabble.com

[2016-11-23 18:28] javierluraschi opened #333 "Investigate Livy configuration while using `copy_to` with large files"
So far, using `copy_to(sc, flights)` with livy requires the following configuration options; however, there are additional settings that need to be tuned to get this working:

[code]

Latest exception:

[code]

[2016-11-24 09:53] Tarqui commented on #332
@javierluraschi thx for your answer

I am sorry, I was not clear enough. What I wanted is to load in spark dataframe the following select from hive:

[code]

But I noticed, that "dbGetQuery", bring data to local dataframe, so that's why I have a java heap error.

I didt it with:

[code]

I want to ask you if there is another way to acces hive tables without using sql sintax.

[code]

[code]

[2016-11-24 14:34] krisgeus opened #336 "ml_save fails in yarn-client mode"
`ml_save(mymodel, "aDirectoryInMyHDFSUserDir")`

expected a directory called "aDirectoryInMyHDFSUserDir" in /users/<username> on HDFS with the model saved.

got:
`Error in gzfile(file, mode) : cannot open the connection
In addition: Warning message:
In gzfile(file, mode) :
  cannot open compressed file 'aDirectoryInMyHDFSUserDir/metadata.rds', probable reason 'No such file or directory'`

Problem

[2016-11-24 15:12] krisgeus commented on #336
Also tried in local[*] mode but writing to HDFS is the default in my spark installation also for local mode.
Specifying the file as "file:///<localdir>" also didn't work

[2016-11-26 02:57] yarrick19 commented on #165
@javierluraschi

I'm running into an issue with a script I'm writing where it looks like `compute()` isn't forcing computation of a table.  After executing the `compute` method, when filtering on the subsequent table I'm running into errors that appear to be referencing some lazy evaluation of a join that was done prior to running `compute`.  From the documentation, it doesn't seem like this shoul

[2016-11-27 02:42] JohnMount opened #338 "sparklyr complains about "same name columns" in join with dplyr and Spark 1.6.2"
sparklyr complains about "same name columns" in join with dplyr and Spark 1.6.2, this is even with columns that are the join condition.  Example with outcome in [link](https://github.com/WinVector/replyr/blob/master/issues/copyissue162.md).

The issue is illustrated below.  Using the current CRAN versions of dplyr and sparklyr (as of 2017-03-30') we get an error message "Use Spark2" when there are

[2016-11-27 02:47] JohnMount opened #339 "sparklyr fails to create temp table in _join(copy=TRUE) with dplyr and Spark 2.0.0"
sparklyr fails to create temp table in _join(copy=TRUE) with dplyr and Spark 2.0.0.  Example with outcome in [link](https://github.com/WinVector/replyr/blob/master/issues/copyissue200.md).

[2016-11-27 18:09] JohnMount opened #340 "Would be more faithful to data if sparklyr represented NA as Spark lit(null:*) instead of blank and NaN."
For Spark 2.0.0 spark-2.0.0-bin-hadoop2.7, sparklyr 0.4.26, dplyr 0.5.0, R 3.3.2, on OSX 10.11.6 I am seeing `NA` converted to blank (for strings/factors) and `NaN` for numeric when moving data from a local `data.frame` to `Spark`.  This seems needlessly unfaithful, as I think `Spark` has a NULL representation (please see [here](http://stackoverflow.com/questions/32067467/create-new-dataframe-with

[2016-11-28 20:16] kevinushey commented on #340
I believe this is a duplicate of https://github.com/rstudio/sparklyr/issues/151.

I think using `NaN` is the right thing to do for numeric types, but for characters + factors we definitely need to get to the bottom of the empty string vs. NA value issue!

[2016-11-28 21:02] jwijffels opened #341 "ft_quantile_discretizer could never have worked"
Inside ft_quantile_discretizer

`setNumBuckets = ensure_scalar_double(n.buckets)`
should be replaced by
`setNumBuckets = ensure_scalar_integer(n.buckets)`

setNumBuckets requires as input an integer
[code]

[2016-11-28 21:36] kevinushey commented on #341
Thanks for catching this!

[2016-11-28 21:46] #341 closed

[2016-11-28 21:50] jwijffels opened #342 "cran examples strategy"
As CRAN does not allow long running calculations in examples of packages.
May I ask, what is your current/future strategy regarding documentation of examples of this package?
I'm interested especially in order to identify broken dependencies of packages which import sparklyr.

[2016-11-28 22:24] dsblr commented on #305
Thank you so much @javierluraschi , issue resolved after installing the latest sparklyr version.

[2016-11-28 22:24] jwijffels opened #343 "ml_tree_feature_importance"
It looks to me that the following code in ml_tree_feature_importance
`if (class(model)[1] != "ml_model_decision_tree") spark_require_version(sc, "2.0.0")`
should be replaced with
`if (class(model)[1] %in% c("ml_model_decision_tree", "ml_model_gradient_boosted_trees")) spark_require_version(sc, "2.0.0")`

As it is only org.apache.spark.ml.regression.DecisionTreeRegressor and org.apache.spark.ml.reg

[2016-11-28 23:16] fr-reuben commented on #187
Yes, this is an issue for me too. I am currently working around this by converting the date to epoch with `as.integer` but ideally would like a `cast()` or `to_date()` wrapper, or simply just have `copy_to()` preserve dates.

[2016-11-29 07:19] javierluraschi commented on #308
I've reproed this (or at least a bad perf regression) with users content in Amazon EMR with a single instance, m3.xlarge (16GB ram), ran out of memory locally with also 16GB but having a dedicated box seems to unblocked this. Here are the perf changes since CRAN in this EMR instance:

With `0.4.0` from CRAN:

[code]

With `0.4.6` (e0065bf95c03c9d62992c71b7cc40ed03603a3ae)

[code]

With `0.4.9` (30

[2016-11-29 21:19] #343 closed

[2016-11-29 21:20] kevinushey commented on #343
Thanks for reporting! This should be fixed up now.

[2016-11-29 21:53] javierluraschi commented on #308
Bottom line, this is being caused by 4728843 and 591fd31. However, both changes are needed since one matches behavior for `na.action` and the other one to ensure columns are stable across computations. There is still one fix we could implement that reuses the `na` counts to avoid the shuffling when no rows are dropped, pushing that as a PR.

For reference to other users reading about this: It is r

[2016-11-29 21:58] JohnMount commented on #340
Thanks (and sorry about the dup).  I agree the library should be as faithful as practical, but most databases allow NULL in numeric columns.  So I think NULL~NA and NaN~NaN is possible.

[2016-11-29 22:22] kevinushey commented on #308
I don't think there's much we can do about forcing caching after generating an ID, since otherwise the IDs are computed lazily and there's a number of Spark bugs related to lazy computation of those IDs :/

Does caching of the table generating by `dropped` make a big enough difference?

[2016-11-29 22:26] javierluraschi commented on #308
Yes, it does make a big difference in my system. However, I'm scoping the caching to only cases where `dropped` generated a table that we are planning to use, otherwise we revert to using the original `df`. Also, the difference is not big to revert back to `0.4` performance since caching always has overhead, but I think this is acceptable given `0.5` produces stable results in which `0.4` does not

[2016-11-29 23:28] javierluraschi commented on #308
This has been investigated, closing.

[2016-11-29 23:28] #308 closed

[2016-11-29 23:47] javierluraschi commented on #342
@jwijffels we have different levels of automated tests: travis runs a medium suite of tests, locally we run some longer ones. In distributed systems, some issues will only be identified at scale, which we currently don't automate. Instead, we have a lockdown period before release to CRAN where we don't fix bugs, focus on testing at scale and ask the community to upgrade to this pre-CRAN build to i

[2016-11-30 01:02] dsblr commented on #300
@kevinushey I am trying to get the number of rows and number of columns after reading the file from csv. But I am unable to get the number of rows. Please suggest some solution.
test_data <- spark_read_csv(sc = sc, name = "test1",path ="C:/Users/user1/data/bk_test1.csv")

[1] NA 15

[1] 15

[1] NA

[2016-11-30 01:04] dsblr opened #346 "unable to count number of rows"
I am trying to get the number of rows and number of columns after reading the file from csv. But I am unable to get the number of rows. Please suggest some solution.
 test_data <- spark_read_csv(sc = sc, name = "test1",path ="C:/Users/user1/data/bk_test1.csv")

dim(test_data)
 [1] NA 15
 ncol(test_data)
 [1] 15
 nrow(test_data)
 [1] NA