[2016-11-30 01:51] kevinushey commented on #346
This is fixed in the development version of `sparklyr` and will be going to CRAN soon. Install it with:

[code]

[2016-11-30 01:56] #346 closed

[2016-11-30 13:55] roshnamohan commented on #274
@javierluraschi we have upgraded the cluster to CDH 5.8.3, with spark version 1.6.0, and the spark connection was successful using the package saprklyr. Now we does not have to export proxy with credentials in plain text.

Current sparklyr version is 0.4.34

Thank you for the prompt support!

[2016-11-30 18:03] jwijffels commented on #342
That's clear. Many thanks for the feedback!

[2016-11-30 18:03] #342 closed

[2016-11-30 20:33] TarasDerevianko opened #347 "fromJSON/sparklyr"
Hi!
I need transform tbl_spark with json column to normal spark_dataframe object. For example in R i can do this transformation in following way
`l = data.frame(stringsAsFactors = F,
               ID = 1:2,
               a =c('[{"hash":"dfgh","id":"51245145","partner":149548,"weight":1552637,"class":["mrsadcr"]}]',
                   '[{"hash":"cKpALIKG","id":"51245146","partner":149548,"weight"

[2016-11-30 22:05] dsblr opened #348 "Random forest unable to handle catagorical independent varaible which contains ".""
Hi Team,
I am testing ml_random_forest, and I am getting the following error.

model <- test_data %>%  ml_random_forest(response = "y",features = c("age", "job","balance"),type = "classification")
Error: java.lang.RuntimeException: [1.11] failure: end of input
job_admin.
          ^
	at scala.sys.package$.error(package.scala:27)
	at org.apache.spark.sql.catalyst.SqlParser$.parseExpression(SqlParse

[2016-12-01 14:56] krlmlr opened #351 "sqlInterpolate() and sqlParseVariables(): Change of interface"
The sparklyr package seems to be the only package that actually implements these generics. I'd like to get rid of the nonstandard argument names and use `conn, sql, ...` as interface (https://github.com/rstats-db/DBI/issues/147), and add an optional `.dots` or `.values` argument (https://github.com/rstats-db/DBI/issues/140#issuecomment-251189284).

Do you plan a CRAN release anytime soon, so that

[2016-12-01 15:57] nLakshmipathi opened #352 "sc <- spark_connect(master = "local", config = list())"
Error in start_shell(master = master, spark_home = spark_home, spark_version = version,  :
  Failed to launch Spark shell. Ports file does not exist.
    Path: C:\spark-2.0.2-bin-hadoop2.7\bin\spark-submit.cmd
    Parameters: --class, sparklyr.Backend, "C:\Users\ananthas\Documents\R\win-library\3.3\sparklyr\java\sparklyr-2.0-2.11.jar", C:\Users\ananthas\AppData\Local\Temp\RtmpAx8ghI\file1a5c36d42e

[2016-12-01 16:15] rlumor opened #353 "Connecting to Cluster and MLib"
Does the package work with only data stored locally on R  from a yarn client or I can run a model with data sitting in the cluster itself without loading the data into R?

[2016-12-01 16:21] nLakshmipathi opened #354 "iris_tb<-copy_to(sc,iris)"
Error: java.lang.reflect.InvocationTargetException
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:62)
at sun.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
	at java.lang.reflect.Constructor.newInstance(Constructor.java:423)
	at or

[2016-12-01 16:50] nwstephens opened #355 "Accuracy metric failing for Spark 1.6.0"
The `accuracy` metric in `ml_classification_eval` fails for Spark 1.6.0 but works for Spark 2.0.0. The accuracy metric does appear to be supported in Spark 1.6.0 see [here](https://spark.apache.org/docs/1.6.0/mllib-evaluation-metrics.html). Note that other metrics appear unaffected, like `f1`, which works for both versions of Spark. Example below.

[code]

[2016-12-01 17:22] ecocarlisle opened #356 "Error in ml_multilayer_perceptron_validate_layers"
I'm running through the sparklyr example (https://beta.rstudioconnect.com/content/1518/notebook-classification.html) and trying to run the following line of code on the titanic dataset:

...
# Model survival as a function of several predictors
ml_formula <- formula(Survived ~ Pclass + Sex + Age + SibSp + Parch + Fare + Embarked + Family_Sizes)
...
## Neural Network
ml_nn <- ml_multilayer_perceptro

[2016-12-01 18:24] javierluraschi opened #357 "Regression is dplyr do for ml models"
`data.frame` base case:

[code]

`sdf` case which used to work a few versions ago, not in latest:

[code]

Current result:

[code]

[2016-12-01 18:26] javierluraschi commented on #357
@kevinushey let me know if you have thoughts that might point me in the right direction, I think we would want to fix this one before releasing to CRAN.

[2016-12-01 21:47] slopp commented on #355
@javierluraschi The issue is some metrics are support in 2.0.0 that are not supported in 1.6.

For Multiclass Evaluators:
1.6 - supports "f1" (default), "precision", "recall", "weightedPrecision", "weightedRecall"
2.0 - supports "f1" (default), "weightedPrecision", "weightedRecall", "accuracy"

For Binary Classification Evaluator:
1.6 - "areaUnderROC" (default), "areaUnderPR"
2.0 -  areaUnderROC

[2016-12-01 22:01] javierluraschi commented on #351
@krlmlr we are planning to push this to CRAN in about 2 weeks. If you want these changes before that, let me know to figure them out and push them in.

[2016-12-01 22:04] javierluraschi commented on #352
@nLakshmipathi We have been improving connection errors to help diagnose issues, could you try connecting with the latest version of `sparklyr` using:

`devtools::install_github("rstudio/sparklyr")` and retry `spark_connect`?

[2016-12-01 22:07] javierluraschi commented on #353
@rlumor Yes, `sparklyr` works with data sitting in the cluster itself, you never have to load distributed data into `R` with `sparklyr`, at least not as of version `<= 0.5`.

[2016-12-01 22:13] rlumor commented on #353
dataspark <- dbGetQuery(sc, "select * from twn_prime_db.varimpdata_governmentspark limit 1000000")

dataspark[sapply(dataspark, is.character)] <- lapply(dataspark[sapply(dataspark, is.character)], as.factor)

table(dataspark$was_inq_gov)

##Copy data into sc
copy_to(sc, dataspark, overwrite=TRUE)
dt_tbl <- tbl(sc, "dataspark")

summary(dt_tbl)
library(magrittr)

dt_tbl <- na.omit(dt_tbl)
dt_tbl %>

[2016-12-01 22:35] rgbkrk commented on #209
Is there a way to tell sparklyr the class path before it submits? I have `SPARK_DRIVER_CLASSPATH` set, sparklyr doesn't seem to pick it up.

[2016-12-01 23:42] kevinushey commented on #357
This is because we removed the implicit dot stuff in `do`; ie, the regression is intentional. You need to write

[code]

instead.

[2016-12-02 07:14] silver16 opened #360 "rsparkling-- unable to connect_spark()"
issue: unable to connect spark and use sparklingwater with rsparkling.
Here is the output:
library(sparklyr)
library(rsparkling)
library(dplyr)

    sc <- spark_connect("local", version = "1.6.2")
    Error in spark_dependencies(spark_version = spark_version, scala_version = scala_version) :
    Sparkling Water version is not set. Please choose a correct version using options, for example: options

[2016-12-02 13:38] krlmlr commented on #351
Thanks. I just released DBI 0.5-13 to GitHub, it contains the breaking changes (rstats-db/DBI#147). Could you make sparklyr work with both CRAN and GitHub versions?

[2016-12-02 14:25] hadley commented on #357
Yeah, it's definitely best to use `data = .` in both cases. `do()` will eventually go away, but that's still some time in distant future.

[2016-12-02 15:19] nLakshmipathi commented on #352
Thank you javierluraschi for your reply for my query. But again i am getting the same problem.
Could you please let me know the steps to be followed to work with sparklyr.
I'll tell you what i have done:
1) installed Apache spark in mystem
2) scala also installed
3) R installed
4) Rstudio installed
5) set the environment variables properly.
But Spark context is not working.  Could you please provi

[2016-12-02 15:19] #352 closed

[2016-12-02 15:19] nLakshmipathi commented on #352
Thank you javierluraschi for your reply for my query. But again i am getting the same problem.
Could you please let me know the steps to be followed to work with sparklyr.
I'll tell you what i have done:

    installed Apache spark in mystem
    scala also installed
    R installed
    Rstudio installed
    set the environment variables properly.
    But Spark context is not working. Could you ple

[2016-12-02 16:15] jimcrozier opened #361 "Set hadoopConfiguration with invoke"
This is in spark1.6. I would like to be able to convert this scala code to sparklyr

sc.hadoopConfiguration.set(f"fs.swift.service.$name.auth.url","https://identity.open.softlayer.com"/v3/auth/tokens")

I have tried every incantation of invoke that I think of from R, I think that this is the closest

sc %>% invoke("set", paste("fs.swift.service.keystone,auth.url"), paste("https://identity.open.sof

[2016-12-02 21:57] TarasDerevianko opened #362 "xgboost"
Do you plan realize something like ml_xgboost?

(based on https://libraries.io/github/dmlc/xgboost)

[2016-12-02 23:41] yarrick19 opened #363 "dplyr compute() Bug"
@javierluraschi

I'm running into an issue with a script I'm writing where it looks like `compute()` isn't forcing computation of a table.  After executing the `compute` method, when filtering on the subsequent table I'm running into errors that appear to be referencing some lazy evaluation of a join that was done prior to running `compute`.  From the documentation, it doesn't seem like this shoul

[2016-12-03 00:01] samurainate opened #364 "sdf_partition fails to resolve automatically renamed columns after join"
I am having trouble using sdf_partition on the result of a join when columns in the lhs and rhs had name conflicts and were renamed name.x and name.y respectively.  If I drop or rename all of the .x and .y columns causing problems after the join before calling sdf_partition, it still fails.  If I rename columns with name conflicts before the join, then sdf_partition succeeds.

[2016-12-03 00:03] samurainate commented on #364
Stack trace

Error: org.apache.spark.sql.AnalysisException: cannot resolve '`rectype.x`' given input columns: [..., rectype.x, ..., rectype.y, ...]; line 1 pos 0
##  at org.apache.spark.sql.catalyst.analysis.package$AnalysisErrorAt.failAnalysis(package.scala:42)
##  at org.apache.spark.sql.catalyst.analysis.CheckAnalysis$$anonfun$checkAnalysis$1$$anonfun$apply$2.applyOrElse(CheckAnalysis.scala:77)

[2016-12-04 01:23] ecocarlisle commented on #330
Failed to create Hive context, falling back to SQL. Some operations, like window-functions, will not work

I'm getting the same error after upgrading to the newest version of RStudio Server.  No problems on RStudio desktop.

[2016-12-04 11:35] Mosyamac commented on #305
@javierluraschi Hi, Javier!
I have the similar error with following output in RStudio:

Error in force(code) :
  Failed while connecting to sparklyr to port (8880) for sessionid (8159): Gateway in port (8880) did not respond.
    Path: C:\Users\aamas\AppData\Local\rstudio\spark\Cache\spark-1.6.2-bin-hadoop2.6\bin\spark-submit2.cmd
    Parameters: --class, sparklyr.Backend, --jars, "C:/Users/aamas/

[2016-12-05 17:39] javierluraschi commented on #362
@TarasDerevianko No plans for this, so this could be a great extension package.

[2016-12-05 18:58] javierluraschi opened #365 "livy_install should not create folders with spark version in it"
livy_install should not create folders with spark version in it since a) Livy is agnostic to the spark version (at least, today) and b) Setting `SPARK_HOME` to a folder that does not include the spark version causes `livy_install` to create a `livy-0.3.0-spark` fodler which also does not include the version.

[2016-12-05 22:28] eijoac opened #366 "copy_to(sc, iris) error if spark_connect(master ="spark://abc:7077), but OK if master="local""
spark 2.0.2 cluster (1 master + 2 workers) already running in the stand alone mode.

`sc = spark_connect(master ="spark://abc:7077)` runs OK (can see the app running in Web GUI), but when doing `iris_tbl <- copy_to(sc, iris)`, got the following error,

Error: Unknown TZ UTC
In addition: Warning message:
In OlsonNames() : no Olson database found

If I use `sc = spark_connect(master ="local")`, then

[2016-12-06 03:59] dsblr commented on #348
Hi sparklyr team, after tweaking around with the data, I have realized that there is some bug in core sparklyr ml_random_forest() program. Due to which it is unable to handle such categorical independent variable which is having "." character in its field. In this case variable "job" contains a category "admin." instead of "admin" and after removing "." character from the data, I am able to execut

[2016-12-06 07:54] TarasDerevianko commented on #362
I have builded version of this library for my server. How import this library when I start spark connection in sparklyr package?

I can use sparklyr::invoke for xgboost-library functions?

[2016-12-06 20:50] fereshtehRS opened #367 "Cannot connect to livy on EMR cluster using spark 2.0.1/livy3.0/scala 2.10"
- On the EMR clusters the version of `Spark` is 2.0.1 and it uses `scala` 2.11
- When we install `livy` 3.0, it installs a version that uses `scala` 2.10
- This seems to be causing an issue with the connection from `sparklyr` to `livy`. I was getting error on some classes not found. (full stack below).
- The only useful reference to the error that I found is this one:

`https://groups.google.com/a

[2016-12-06 20:55] fereshtehRS opened #368 "Error connecting to livy on EMR cluster with R 3.2.2"
Connection from `sparklyr` to `livy` on the EMR cluster is failing with this error: (after fixing issues mentioned in #367):

[code]

@javierluraschi thinks it is the version of R (3.2.2) that is causing this. I will upgrade and see what happens, but wanted to track it here if we need to fix something or bump our minimum version.

[2016-12-07 04:13] nwstephens opened #369 "sdf_copy_to not registering DataFrame"
When I use sdf_copy_to in RSP I do not see the spark DataFrame register in the spark pane. Instead I have to register it manually as shown below. (I'm using version 0.4)

[code]

[2016-12-07 12:32] raphael-psr commented on #295
Hi @javierluraschi, I'm having the same issue. Which log do you need?

[2016-12-07 18:16] eijoac commented on #366
Solved! The error message, I believe, is coming from the 'readr' package. It appears that on my cluster OlsonNames(), which is in R core and used by 'readr', cannot find the zone.tab file to read time zone info. On a Linux system, the zone.tab file is usually in /usr/share/zoneinfo, but somehow it's not there on nodes of my cluster. Since I am using a university computing environment, I can do not

[2016-12-07 19:16] fereshtehRS opened #370 "Trailing slash in the Livy URL causes error"
Using the following to connect to Livy:

[code]

Causes this error:

[code]

This error disappears when using:
[code]

[2016-12-07 20:41] Brett-A commented on #266
Hi @rvij, we are having a similar issue. We're running RStudio on an edge node and connecting to Spark via sparklyr to a MapR Hadoop cluster. However I'm relatively new to this, here is what we are running to connect to spark:

[code]

Node04 is a node on the Hadoop cluster that has a spark master running. We connect, see several files that were not created by the user, and get an error when click

[2016-12-07 23:32] javierluraschi commented on #351
@krlmlr The CRAN version for sparklyr 0.4 is already released, so I won't be able to make a change to the current version and sparklyr would be broken for DBI 0.5-13 onwards. I could release a new version of sparklyr 0.5 that bumps the required version of DBI to 0.5.13 but not older ones since the signature changed. When are you planning to release DBI 0.5.13 to CRAN?

Could you shoot me an email

[2016-12-07 23:45] edgararuiz opened #372 "spark_disconnect does not close a Livy connection"
After succesfully connecting to Livy and performing some operations, the connection is not closing when passing the spark_disconnect(sc) command.  The Spark application remains open.  Here's my connection string:

[code]

[2016-12-08 00:40] javierluraschi commented on #372
Thanks! Fixed in `0.4.39`

[2016-12-08 00:40] #372 closed

[2016-12-08 00:40] javierluraschi commented on #368
Thanks! Fixed in `0.4.38`

[2016-12-08 00:40] #368 closed

[2016-12-08 00:41] javierluraschi commented on #367
@fereshtehRS I believe this one is the one we discussed in chat, correct? Closing as fixed in Fixed in `0.4.38`, otherwise, please reopen, thanks!

[2016-12-08 00:52] #370 closed

[2016-12-08 15:51] fereshtehRS commented on #367
@javierluraschi I mentioned this in the chat, but I don't think it is fixed. This was related to version of Scala being used by Livy which seemed to be in conflict with the version on the EMR cluster.

[2016-12-08 15:55] timyates opened #374 "reading csv with escaped quote chars."
_"Normally"_ the way of escaping quotes in CSVs is with a second double quote:

[code]

But sparklyr seems to use `\"`

Is there a way of reading _"normal"_ csvs?

[2016-12-08 16:40] fereshtehRS commented on #367
@javierluraschi I tried again with sparklyr 0.4.39 and the same issue when we use Livy that comes with the package. But using the version of Livy that I build works fine. Not sure what other people have experienced (@edgararuiz).

[2016-12-08 19:07] algattik commented on #120
In the meantime, how can I filter using substring match? This works over an R Data Frame:
`iris %>% filter(grepl("ica", Species))`

but over a Spark DataFrame:
`Error: org.apache.spark.sql.AnalysisException: Undefined function: 'GREPL'. This function is neither a registered temporary function nor a permanent function registered in the database 'default'`

[2016-12-09 03:36] dsblr opened #375 "Unable to launch master locally"
Hello Sparklyr team,
I am unable to launch spark master locally, while adding local system ip as master = "ip:port"
sc <- spark_connect(master = "local")     ## works fine

But the following code gives error.
Test1:
sc <- spark_connect(master = "spark://##.##.##.###:7077")
##.##.##.### is the local machine IP. I am testing this on windows server 2012
Test2:
sc <- spark_connect(master = "spark://##

[2016-12-09 18:26] javierluraschi commented on #369
@nwstephens could you give it another try with the latest version? I see this fixed, can you confirm?

[code]

Same for `sdf_copy_to(sc, iris, "iris3", serializer = "csv_string")` while running locally which is the serializer we use in cluster mode.

[2016-12-09 18:43] javierluraschi commented on #363
@yarrick19 looks to me like the problem is somewhere in here `mutate(Age = ifelse(is.na(Age), mean(Age), Age))` rather than on `compute`. Since everything is lazy, the errors will trigger in `collect`, `compute`, etc but the problem could be down the line. Don't think it's supported to use `ifelse` in combination with `mean`, maybe try instead something like `na.omit` to remove `na` first?

[2016-12-09 18:44] javierluraschi commented on #357
Thanks for this, closing.

[2016-12-09 18:44] #357 closed

[2016-12-09 20:04] javierluraschi opened #376 "app_name and others should throw warning when used in livy"
Feedback from @edgararuiz on Livy connections.

[2016-12-09 20:09] #365 closed

[2016-12-09 20:09] #376 closed

[2016-12-09 21:39] javierluraschi commented on #375
@dsblr This seems to be the problem: `Caused by: java.net.ConnectException: Connection refused` could you make sure that port `7077` is open externally in the Windows firewall?

[2016-12-09 22:09] javierluraschi commented on #374
@timyates `spark_read_csv` uses https://github.com/databricks/spark-csv, there are a few option you can tweak like the `escape` character, etc. but there is no way to use `""` to escape a quote, instead one needs to use `\"`, to my knowledge.

At some point, we want to provide arbitrary R code execution in `sparklyr` to help cleanup data in this way, in the meantime, you could transform the `""` t

[2016-12-09 22:09] #374 closed

[2016-12-09 22:29] yarrick19 commented on #363
@javierluraschi Thanks for taking a look.  I don't believe the issue is due to the use of `ifelse()` and `mean` in mutate.

If I change that line and put in a static value (below), I still receive the error.
`mutate(Age = ifelse(is.na(Age), 29.69, Age)) %>%`

[2016-12-10 00:46] javierluraschi commented on #356
@ecocarlisle Improved the error here with the latest version of `sparklyr` to point out to the correct number of features to use, you will need to change `7` to the total of features as specified in the error, most likely `c(11,6,2)`.

The difference from the formula comes from `sparklyr` auto-creating additional features for the types that require them. For instance `Pclass` is likely being split

[2016-12-10 00:47] #356 closed

[2016-12-10 00:53] javierluraschi commented on #369
Lets re-activate if still not working as expected.

[2016-12-10 00:53] #369 closed

[2016-12-10 03:17] javierluraschi commented on #360
@silver16 try instead with `options(rsparkling.sparklingwater.version = '1.6.7')` since this is the latest version which should be backwards compatible with `1.6.2`.

If that doesn't work, repeat this installation steps: https://github.com/h2oai/sparkling-water/tree/master/r#install-h2o

If that also doesn't work, open an issue in the H2O package to get some help directly from the H2O team: https:

[2016-12-10 03:20] javierluraschi commented on #366
Glad you were able to workaround; however, seems like eaither `sparklyr` or `readr` or `base` might need a fix in`OlsonNames()`; unless your university has a very particular computing environment that somehow removed this file. Closing for now.

[2016-12-10 03:20] #366 closed

[2016-12-10 06:41] javierluraschi commented on #362
@TarasDerevianko if this is already correctly configured in the cluster, then you might still need to `spark_connect` with a `config` that contains the right `sparklyr.jars.default` or if there is a Spark package wrapping xgboost then a config with the right `sparklyr.defaultPackages`. Then you should be able to use `invoke`, `invoke_static`, etc. to use the package.

However, it is common to see

[2016-12-10 06:44] yarrick19 commented on #363
@javierluraschi I isolated this down to one line of code that is triggering the error.  Its the `filter(prediction == 1)` line in the below section where I am trying to just see the number of positive predictions that were created from `sdf_predict()`.
[code]
If that filter is removed, I receive results without an error.  This should be re-creatable with the code above.  Any ideas?

[2016-12-10 19:09] JohnMount commented on #340
Does look like a dup of https://github.com/rstudio/sparklyr/issues/151 , I'll close this one.

[2016-12-10 19:09] #340 closed

[2016-12-10 21:09] rvij commented on #332
Accessing hive table using "tbl" function in dplyr is easy

library(DBI)
library(dplyr)

# change the database from default database to the database that contains the hive table
dbGetQuery(sc, "use workds")

# Register table in Spark
bookings <- tbl(sc, "bv_bookings")

# Now one can use dplyr verbes
count(bookings)
head(bookings)

regionDF = bookings %>%
  filter(fiscal_year_number_int == 2006) %>

[2016-12-11 23:34] dsblr commented on #375
@javierluraschi the firewall is off. The port 7077 is open.

[2016-12-12 07:34] dsblr opened #377 "How to control Random Forest"
Hi Team,
this is not an issue, but this is a query to know basic functionality of **sparklyr ml_random_forest** package.
I would like to know how can I do the following operations ?
1) to control the number of variable at each split
2) to control the sample size
3) to control the cutoff value

Please help me to do the above parameter tuning.

[2016-12-12 09:58] timyates opened #378 "Failure when JSON fields contain `\n` or `\r` characters"
Given the following json file:

[code]

When we attempt to parse this with `sparklyr`:

[code]

We get the following error:

[code]

Running the same thing in SparkR gives the expected result:

[code]

The problem is in the way sparklyr is parsing the `\\n` chars in the input json, as can be seen if we just go down to the single record in the json:

[code]

Which gives the result:

[code]

As you

[2016-12-12 10:52] timyates commented on #378
Looks like this may be [a bug in Hive](https://issues.apache.org/jira/browse/HIVE-1898)...  amazed this bug has been around for 5 years.  Wonder if there is an option I need to set somewhere...

[2016-12-12 11:33] timyates commented on #378
Tried:

[code]

in my `config.yml` but with no success..   Hard to say with spark/hive options though as they are documented sparsely, so I may just be typing words that are having no effect...

[2016-12-12 14:02] p2004r commented on #247
`sdf_mutate(ft_tokenizer())` return <list><list [xx]> (xx match count off words in input string)

Consequently `sdf_mutate(ft_hashing_tf())` return:

`sdf_mutate(ft_hashing_tf(n.features=100))` return <list><dbl [100]>

I added a the function ft_hashing_tf()  from the commentaries

` ft_hashing_tf <- function(x,
                           input.col = NULL,
                           output.col = N

[2016-12-12 17:40] samurainate commented on #364
This error is specific to Spark 2.  With Spark 1.6.x, sparklyr fails gracefully with a message to use spark 2 or rename conflicting columns before joining.

Some code to recreate this error:

require(dplyr)
require(sparklyr)
sc <- spark_connect(master="local",version = "2.0.0")
iris1 <- copy_to(sc,iris,name="iris1")
iris2 <- copy_to(sc,iris,name="iris2")
head(iris1)
head(iris2)
xprod_within_specie

[2016-12-12 20:37] eijoac opened #379 "OutOfMemoryError"
loading a small dataset works file, `iris_tbl <- copy_to(sc, iris)`, but loading a slightly large one gives OutOfMemoryError. The memory should be enough though.

configuration (1 master + 3 workers)
[code]

[code]

[2016-12-12 22:36] samurainate commented on #364
debug message with sql from dbSendQuery appears valid.

Narrowed the failure down to the first dbFetch call after dbSendQuery

[2016-12-13 16:40] silver16 commented on #360
@javierluraschi
thank you very much!

This really works!

however, new problem occurs.
h2o algorithms are not available!
# following examples at:  http://spark.rstudio.com/h2o.html

library(sparklyr)
library(rsparkling)
library(dplyr)

...
glm_model <- h2o.glm(...)
## Error: could not find function "h2o.glm"

h2o_context(sc)
# still errors
glm_model <- h2o.glm(...)
## Error: could not find functio

[2016-12-13 22:25] fereshtehRS opened #382 "IllegalArgumentException with austen_books when using Livy"
Using sparklyr 0.4.41

When connecting through `Livy` on a cluster, the following code fails:

[code]

Error in the Livy log:

[code]

[2016-12-13 22:28] fereshtehRS opened #383 ""Failed to execute Livy statement with state waiting" error happens occasionally"
Using sparklyr 0.4.41

I have seen this error happening a few times, but not consistently:

[code]

[code]

Seems like when the operation takes long we might run into this.

[2016-12-15 13:22] aissaelouafi opened #384 "ft_one_hot_encoder columns name exception"
Hi,

I use `sparklyr 0.4.41`, I try to use the `ft_one_hot_encoder` transformer on `servername` column :

[code]

I get the following error message :
[code]

[2016-12-15 15:15] p2004r opened #385 "left_join() options "by=" not work in library(sparklyr)"
Crossposted from  https://github.com/hadley/dplyr/issues/2325

*_join() with by=c(XXX=YYY) produce error in some cases

Example code with error:

[code]

[2016-12-15 18:35] p2004r commented on #385
No "dot"-generation in name...
[code]

[2016-12-15 18:35] #385 closed

[2016-12-15 18:43] fereshtehRS opened #386 ""Failed to create Hive context" warning on EC2 instance (/tmp/hive not writable)"
Sparklyr version 0.4.41

Logging this for reference.

- Brought up an EC2 cluster with Spark 1.6.1
- After going through the setup (install packages, ...), a connection to spark was giving the following warning:

[code]

- It is not very clear from that message what the root cause is. But running the following shows the root cause:

[code]

which is:

[code]

- The mentioned HDFS directory has the

[2016-12-16 14:00] edgararuiz commented on #386
Hi @fereshtehRS, alternatively, the `hadoop fs ` command can be used to update user and folder changes

[2016-12-16 19:29] javierluraschi opened #387 "Address breaking change in dplyr to use con_acquire()"
https://github.com/hadley/dplyr/commit/818c6fd9791a63b83b5b53dad8432d30f3aa54e5

[2016-12-17 00:42] yarrick19 opened #389 "Spark doesn't respect config passed to spark_connect() v2"
@javierluraschi @kevinushey

I'm currently using Amazon's EMR cluster with sparklyr version `0.4.41` and needed to increase memory configs (code below).  I see the config values set in the "Environment" tab in the Spark UI.

![image](https://cloud.githubusercontent.com/assets/9707200/21282783/f427e81a-c3ad-11e6-8212-2ea65346e3e1.png)

But, the "Executors" tab does not reflect an increase in storag

[2016-12-17 05:09] edgararuiz commented on #389
Hi @yarrick19, it seems that in Yarn Client mode these settings may need to be setup in a different way or using different Spark setting like `spark.yarn.am.memory` (https://spark.apache.org/docs/2.0.1/running-on-yarn.html)

[2016-12-17 23:49] yarrick19 commented on #389
@edgararuiz  Thanks for the response!  It does look like `spark.yarn.am.memory` should be used in place of `spark.driver.memory` in client mode.

But it still looks like `spark.executor.memory` should work no matter if its client mode or cluster mode.  And I don't see any alternatives in the documentation.
![image](https://cloud.githubusercontent.com/assets/9707200/21290453/9dac9126-c46f-11e6-962a

[2016-12-18 01:19] edgararuiz commented on #389
I wonder a non-Spark setting, like the `yarn.nodemanager.resource.memory-mb`, is constricting the amount of memory allowed to be allocated to your executors

[2016-12-18 02:31] yarrick19 commented on #389
@edgararuiz

Based on the AWS node type I'm using, `yarn.nodemanager.resource.memory-mb` should be set to ~ 11g.

![image](https://cloud.githubusercontent.com/assets/9707200/21291004/07327362-c485-11e6-9030-f1d77e164572.png)

The cluster resource manager seems to reflect these settings.
![image](https://cloud.githubusercontent.com/assets/9707200/21291057/e89a8424-c486-11e6-82cf-a61a55f05869.png)

[2016-12-18 05:21] edgararuiz commented on #389
Ok, it looks like EMR is actually fixing those values, please see this article: http://docs.aws.amazon.com/ElasticMapReduce/latest/ReleaseGuide/emr-spark-configure.html

As per the article too, it seems there's a way to overcome that limitation.

Here's the excerpt:

[2016-12-18 05:43] yarrick19 commented on #389
@edgararuiz Thanks for the link!  The below configuration seems to successfully set the resources on the YARN cluster in client mode.  Wish there was some more concise documentation - but realize that is difficult with all the different cluster options that are available.  Closing this thread.
[code]

[2016-12-18 05:43] #389 closed

[2016-12-19 11:12] yht commented on #189
I use sparklyr 0.4 and spark 1.6.2 for hadoop2.6 on Windows 7 64bit with MRO 3.3.2.

This is how I run:

This is work for me. I hope this give some help.

[2016-12-19 11:58] carlosbkm opened #390 "Unable to install version 0.5 with RStudio 1.0.44"
Hi,

I just tried to upgrade to version 0.5 of sparklyr but got the following error:

[code]
These are the versions of my environment:
R version 3.3.1 (2016-06-21)
Platform: x86_64-redhat-linux-gnu (64-bit)
Running under: CentOS Linux 7 (Core)
Rstudio version: 1.0.44

My workaround was to install 0.4 version again with:
`devtools::install_version("sparklyr", version = "0.4", repos = "http://cran.u

[2016-12-19 18:14] javierluraschi commented on #390
@carlosbkm thanks, yes this is expected since we are in the process of releasing version `0.5.1` to CRAN, version `0.5` was patched due to a failing test. Usually, the CRAN mirrors update within 72 hours, but in practice, this should already be fixed by now.

[2016-12-20 05:39] dsblr commented on #305
@javierluraschi  I had tested the sparklyr latest version on Linux and it was working file.
But its going into error in windows after the package upgrade. Please help me to resolve the issue. Please help to resolve the issue.
library(sparklyr)
library(dplyr)

sc <- spark_connect(master = "local")    -- **success**
test_data <- spark_read_csv(sc = sc, name = "test0",path ="E:/Users/user1/models/rsp

[2016-12-20 06:54] #390 closed

[2016-12-20 15:19] edgararuiz commented on #375
Hi @dsblr, I don't believe that this will work on a Windows box.  The reason why 7077 is the port to connect to is because there's a Master service started using: ```sudo spark-2.0.0/sbin/start-master.sh```, which is  a Linux command.  After it's started, then it uses several ports, including 7077, to listen for the slave nodes, drivers and even the Web UI (port 8080).  If you go to your web brows

[2016-12-20 18:03] kevinushey opened #391 "sdf_save_table references non-existent function"
[code]

In addition, if `sdf_save_table()` is indeed deprecated, the `.Deprecated()` function should be used instead (rather than `warning()`).

[2016-12-20 21:41] dsblr opened #392 "Unable to read CSV"
Hello Sparklyr Team,
I am unable to read CSV. I am using sparklyr version 0.4.41. Please guide me to resolve solution.

library(sparklyr)
 library(dplyr)

sc <- spark_connect(master = "local") -- **success**
 test_data <- spark_read_csv(sc = sc, name = "test0",path ="E:/Users/user1/models/rspark/dataset1.csv", repartition = 8) -- **failed**

Error: org.apache.spark.SparkException: Job aborted due

[2016-12-21 00:14] dsblr commented on #354
@nLakshmipathi which version of Hadoop and spark are you using ?

[2016-12-21 01:41] dsblr commented on #277
@alexwwang Thanks for the solution . I was getting the same and its resolved now

[2016-12-21 02:16] dsblr commented on #354
My issue got resolved. I made the following steps. Hope it helps.
hadoopBin <- paste0("\"", normalizePath(file.path(spark_home_dir(), "tmp", "hadoop", "bin")), "\"")
hadoopBin <- paste0("'", normalizePath(file.path(spark_home_dir(), "tmp", "hadoop", "bin")), "'")
config[["spark.sql.warehouse.dir"]] <- if (.Platform$OS.type == "windows") hadoopBin else NULL
config <- spark_config()
config[["spark.s

[2016-12-21 02:17] dsblr commented on #392
Issue resolved after doing the following changes.
hadoopBin <- paste0("\"", normalizePath(file.path(spark_home_dir(), "tmp", "hadoop", "bin")), "\"")
hadoopBin <- paste0("'", normalizePath(file.path(spark_home_dir(), "tmp", "hadoop", "bin")), "'")
config[["spark.sql.warehouse.dir"]] <- if (.Platform$OS.type == "windows") hadoopBin else NULL
config <- spark_config()
config[["spark.sql.hive.thriftSe

[2016-12-21 02:17] #392 closed

[2016-12-21 02:54] nLakshmipathi commented on #354
Hadoop-2.7.3

[2016-12-21 03:07] dsblr commented on #288
@ganesh3 could you please share what changes you made to resolve the error:
Error in file(con, "r") : cannot open the connection
 In addition: Warning message:
 In file(con, "r") :
I am also getting the similar error please help me to resolve the issue.

[2016-12-21 03:44] dsblr commented on #295
@javierluraschi  I am also facing the same issue; that is unable to open the logfile. By the time I close R studio, the folder path get deleted automatically.

sc <- spark_connect(master = "spark://##.##.###.##:7077",app_name = "sparklyr_test")
Error in file(con, "r") : cannot open the connection
In addition: Warning message:
In file(con, "r") :
  cannot open file 'D:\Users\user1\R\R-3.3.1\Local\T

[2016-12-21 14:18] nLakshmipathi commented on #354
The problem is not resolved. Still getting the same error.

[2016-12-21 15:56] edgararuiz commented on #295
@zheguzai100 Hi, when you navigate to the master's web UI, port 8080, what's the URL address, it normally is: "ip-##-##-##:7077".  Granted, I've done this in AWS, but I know that when the master URL in sparklyr matches to the URL in the Web UI it connects.  Here's a screenshot:

![xk8bizabngakyactabjsaezgsbfsznbtn3wgsyabngakyactabjncxemdbflfeor43e2actiajmaemwasywhkh8p8bqutrt5mochaaaaaasuvork5cyii]

[2016-12-21 18:57] #391 closed

[2016-12-21 19:24] javierluraschi commented on #391
Thank you Kevin, `spark_save_table` and `spark_load_table` work in now Spark 2.0+. They were unfortunately broken since 0.4, which is interesting since I have not seen reports on this yet. My guess is that most users prefer to explicitly save with their desired format, say `spark_write_csv`, or `spark_write_parquet` rather than `spark_save_table` which calls `saveAsTable` and defaults to the forma

[2016-12-22 19:49] javierluraschi opened #393 "Consider: Should sdf_collect return a dplyr frame?"
I believe we want `sdf_collect` to be independent from `dplyr`, in general, all `sdf_` functions probably should. That's the only one I've seen with a dependency so far.

[2016-12-22 19:51] kevinushey commented on #393
I think I agree -- users of `dplyr` / `tibble` can explicitly convert as required; we should just return a plain `data.frame` and let the user decide what the most appropriate final representation is.

[2016-12-23 18:19] yarrick19 commented on #192
@javierluraschi

I'm running into this issue as well using AWS EMR when attempting to `collect()` a large amount of data (~30M rows).  Any updates on the resolution of this issue?

[2016-12-23 19:19] kevinushey commented on #192
We might need to do some chunked reading of data here -- e.g. read the data in 1M rows at a time. (Not yet sure if there's a natural way of doing this in Spark)

[2016-12-23 19:59] edgararuiz commented on #192
Hi again @yarrick19 , I'm just curios about the reason why so many records need to be off-loaded from Spark and into R memory, can you share with me your use case?

[2016-12-23 21:21] yarrick19 commented on #192
Hi @edgararuiz .  First off, I'm working with very large volumes of data which is why I gravitated towards Spark.  At this point, I'm primarily using it for classification problems.  When scoring a data set using `sdf_predict`, I'm primarily interested in the probability of a case being in a class.  `sdf_+predict` returns this in the `probability` field, but that field needs to be parsed (see #176

[2016-12-23 21:44] kevinushey commented on #176
Unfortunately `VectorSlicer` does not quite cut it here as it still returns an array, not a single element. There's still likely something we can do here; I'll take a look.

[2016-12-23 23:23] edgararuiz commented on #192
Thanks @yarrick19 for the background, and thank you @kevinushey for your response for this on the other issue thread.

In the meanwhile, @yarrick19 , did you get the same issue when using sdf_read_column?

[2016-12-23 23:38] yarrick19 commented on #192
@edgararuiz `sdf_read_column` won't work for me... I need the probability field along with two others and sdf_read_column only returns one row.

[2016-12-23 23:44] edgararuiz commented on #192
Makes sense, I figured you tried it so I wondering what the limitation is.  Thanks!

[2016-12-25 04:30] javierluraschi commented on #351
From Kirill: "Please prepare for updating the signatures of sqlInterpolate() and sqlParseVariables(), DBI 0.6 will support both but DBI 0.7"

[2016-12-26 03:35] rvalive commented on #277
Hi, I have the exact same error,  "Error: org.apache.spark.sql.AnalysisException: Path does not exist: hdfs://hadoop-primary/tmp/...." when I do copy_to(sc, iris) in my R script.

I tried what alexwwang suggested but didn't work for me.

I am running: RHEL7, Spark 2.0.1, Hadoop 2.4, I am setting the following environment  variables:
Sys.setenv(SPARK_HOME="/apps/sparkpoc/spark-2.0.1-bin-hadoop2.4")

[2016-12-26 21:47] raghav20 opened #394 "Failed while connecting to sparklyr to port (8880) for sessionid (8540): Gateway in port (8880) did not respond."
Sparklyr package -0.5

 Parameters: --class, sparklyr.Backend, --packages, 'ai.h2o:sparkling-water-core_2.11:1.6.7','ai.h2o:sparkling-water-ml_2.11:1.6.7','ai.h2o:sparkling-water-repl_2.11:1.6.7', '/home/ubuntu/R/x86_64-pc-linux-gnu-library/3.3/sparklyr/java/sparklyr-2.0-2.11.jar', 8880, 8540

--- Output Log ----

	  file:/home/ubuntu/.m2/repository/ai/h2o/sparkling-water-repl_2.11/1.6.7/sparkling

[2016-12-27 13:39] monicarodguev commented on #305
Hello guys,

I am getting a similar error. I'm running sparklyr version 0.5.1. Any help? Thanks!

`iris_tbl <- copy_to(sc, iris)
Error: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 0.0 failed 1 times, most recent failure: Lost task 0.0 in stage 0.0 (TID 0, localhost): java.io.IOException: No FileSystem for scheme: C
	at org.apache.hadoop.fs.FileSystem.getFileS

[2016-12-27 15:20] edgararuiz commented on #305
I got sparklyr to connect in my Windows laptop when I set the Java Home

[code]

[2016-12-27 15:44] monicarodguev commented on #305
Hi, Thanks for the reply.

I just define the system environment variables. Then after doing that, I get error when using spark connect function. This is the error I got:

`sc <- spark_connect(master = "local")
Error: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 0.0 failed 1 times, most recent failure: Lost task 0.0 in stage 0.0 (TID 0, localhost): java.io.IOEx

[2016-12-27 16:24] edgararuiz commented on #305
Maybe is the path to the file that's the issue, can you try a normalized path?

[code]

[2016-12-27 16:31] monicarodguev commented on #305
Hi, thanks for helping. I tried a normalized path an still getting the same error.

Maybe this information is important: I made the spark installation with a user that does not have administrator priviledges, do you think this could affect?

[2016-12-27 16:52] edgararuiz commented on #305
It may, I just confirmed in my Windows laptop that a full path does work.  What if you install Spark again using spark_install in your current user?

[2016-12-27 17:03] monicarodguev commented on #305
Just a question: if I install spark using spark_install with an administrator user, it will be available to be used in other sessions?

[2016-12-27 17:21] edgararuiz commented on #305
I wouldn't recommend that.

[2016-12-28 13:56] monicarodguev commented on #254
Hi everyone, I'm getting a similar error when trying to connect to spark:

[code]

I have checked and JAVA_HOME variable was undefined, so I defined it manually, but I'm still getting the same error.

Thanks in advance for the support.

[2016-12-28 14:02] monicarodguev commented on #305
Hi, I re-install spark with administrator priviledges, but now I'm getting a different error. It's related with Issue #254. So I'm moving there.

[2016-12-28 14:05] edgararuiz commented on #254
Hi @monicarodguev, can you share with me the results of these two commands please:
[code]

[2016-12-28 15:11] monicarodguev commented on #254
Hi, sure!

[code]

[2016-12-28 15:20] edgararuiz commented on #254
Ok, it looks like your default Home Directory points at Spark version 1.6.2, and you're requesting version to 2.0.2.  That's why the error refers to submit2, because I believe that file does not exist in a version below 2.0.0.

Try this:

[code]

[2016-12-28 15:35] monicarodguev commented on #254
It worked. Many thanks!

[2016-12-30 08:01] infocrat opened #395 "Cannot use first function inside summary"
I am trying to use "first" function inside summary:
`
zones %>%
  group_by(Date, Client) %>%
  summarize(Zone = first(Zone))
`
Error: could not find function "first"

[2016-12-30 08:40] infocrat opened #396 "select function demands column name to be in lower case while in fact it is not"

[2016-12-30 14:21] edgararuiz commented on #395
hi @infocrat, I think this is accomplished with the top_n function, using mtcars it would be something like this:
mtcars %>%
  group_by(am) %>%
  top_n(1, mpg)

[2016-12-30 14:30] edgararuiz commented on #396
@infocrat, can you share more details of what you're trying to accomplish?

[2016-12-30 14:35] edgararuiz commented on #394
Hi @raghav20, are you trying to use sparkling water? and if so, can you confirm that it and H2O are  installed?  There process would have been something like this: http://spark.rstudio.com/h2o.html

[2016-12-31 14:56] djambar commented on #354
Hi,

I have the issue when I run **iris_tb<-copy_to(sc,iris)**

Here is the Traceback

Show in New WindowClear OutputExpand/Collapse Output
 Show Traceback
Error: java.lang.reflect.InvocationTargetException
 at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
 at sun.reflect.NativeConstructorAccessorImpl.newInstance(Unknown Source)
 at sun.reflect.DelegatingConstructorAccessor

[2017-01-01 06:53] gbortz27 opened #397 "Error when establishing Connection to spark"
sc <- spark_connect(master = "local")

returns with:

Error in file(con, "r") : cannot open the connection
In addition: Warning message:
In file(con, "r") :
  cannot open file 'C:\Users\grbortz\AppData\Local\Temp\RtmpgTTQcx\file1f1076fd17cd_spark.log': Permission denied

[2017-01-01 15:10] gbortz27 opened #398 "Error on Connect instruction on new machine"
sc <- spark_connect(master = "local")
Error in force(code) :
  Failed while connecting to sparklyr to port (8880) for sessionid (4008): Gateway in port (8880) did not respond.
    Path: C:\Users\bortz_g\AppData\Local\rstudio\spark\Cache\spark-2.0.2-bin-hadoop2.7\bin\spark-submit2.cmd
    Parameters: --class, sparklyr.Backend, "C:\Users\bortz_g\Documents\R\win-library\3.3\sparklyr\java\sparklyr-2.0

[2017-01-01 15:14] gbortz27 commented on #398
An output log follows the above.

Question: What java versions do I need and how do I set the Java Home and path ..are these needed? Must they be installed prior to SparklyR.

Log:
---- Output Log ----
java.lang.UnsupportedClassVersionError: org/apache/spark/launcher/Main : Unsupported major.minor version 51.0
	at java.lang.ClassLoader.defineClass1(Native Method)
	at java.lang.ClassLoader.defineCl

[2017-01-01 17:32] edgararuiz commented on #398
Hi @gbortz27, yes, you'll need to have a version of Java installed in your pc, check under C:/Program Files/Java to see if you may already have 1.8 installed.

If it's there, or once you download and install it, you can setup the path inside your R Script, this one is the one I use on my Windows pc:

java_path <- normalizePath('C:/Program Files/Java/jre1.8.0_66')
Sys.setenv(JAVA_HOME=java_path)
li

[2017-01-01 20:10] gbortz27 commented on #394
I am getting a very similar thing on windows , see my 2 posts above showing my errors and messages in connction with ports being available. Not using H20 , just trying to run the same instructions as per tutorial on sparkly R R studio site. Get error on the sc command. I have a java home environmental variable and initiated the "Sys.getenv('JAVA_HOME')" and get the response "[1] "C:\\Program Files

[2017-01-01 20:46] edgararuiz commented on #398
The Spark directory doesn't look right to me, can you send me the result to these commands please?
spark_home_dir()
spark_installed_versions()

[2017-01-01 21:17] gbortz27 commented on #398
spark_home_dir()
[1]
"C:\\Users\\grbortz\\AppData\\Local\\rstudio\\spark\\Cache/spark-1.6.2-bin-hadoop2.6"

  spark hadoop                       dir
1 1.6.2    2.6 spark-1.6.2-bin-hadoop2.6

Is something getting mixed up?

*I also installed the latest  Sparkly R from github ..I send you the
response to this and the sc connect*

*I saw some people had the problem sorted out when doing this ,
unfort

[2017-01-01 21:23] edgararuiz commented on #398
Ok, can we try this?
[code]

[2017-01-01 21:39] gbortz27 commented on #398
Question:is it ok to have the one forward forward slash in the path  ie
after "Cache" below.?

"C:\\Users\\grbortz\\AppData\\Local\\rstudio\\spark\\Cache/spark-1.6.2-bin-hadoop2.6"

Also do we not have to add the bin directory to the path? ie
.....spark-1.6.2-bin-hadoop2.6\\bin

I used the following command  in the .R file: before running sc
 ".libPaths(c(file.path(Sys.getenv("SPARK_HOME"),"R","li

[2017-01-01 21:41] gbortz27 commented on #398
Do you not believe I have a firewall on? How do i switch it off?

Strange that the loading of Sparkly from Github ( asI have done ) fixed the
8880 port problem for other people as noted on the Sparkly R studio site

Graham

On Sun, Jan 1, 2017 at 11:39 PM, Graham Bortz <gbortz27@gmail.com> wrote:

[2017-01-01 21:47] gbortz27 commented on #398
See my environmental variables, attached

I do not have a Spark Home here ..but isnt that what we set in R studio. I
do have a java home though.

But check my Hadoop Home and its pointing to my Spark 2.0.2 install ..Is
this correct??

Graham

On Sun, Jan 1, 2017 at 11:41 PM, Graham Bortz <gbortz27@gmail.com> wrote:

[2017-01-01 22:15] gbortz27 commented on #398
Hi

After correcting the Haddoop home directory I now get the following

sc <- spark_connect(master="local", spark_home=spark_home_dir())
Warning messages:
1: In value[[3L]](cond) :
  java.lang.RuntimeException: java.lang.RuntimeException: The root scratch
dir:
C:/Users/grbortz/AppData/Local/rstudio/spark/Cache/spark-1.6.2-bin-hadoop2.6/tmp/hive
on HDFS should be writable. Current permissions are:

[2017-01-02 06:03] gbortz27 commented on #398
Back to this now

sc <- spark_connect(master = "local")
Error in force(code) :
  Failed while connecting to sparklyr to port (8880) for sessionid (6062):
Gateway in port (8880) did not respond.
    Path:
C:\Users\grbortz\AppData\Local\rstudio\spark\Cache\spark-1.6.2-bin-hadoop2.6\bin\spark-submit2.cmd
    Parameters: --class, sparklyr.Backend, --jars,
"C:/Users/grbortz/Documents/R/win-library/3.2/

[2017-01-02 12:20] raphael-psr commented on #397
Same error happening with me.

library(sparklyr)
sc <- spark_connect(master = "localhost", version = "2.0.1", spark_home="C:/Spark/psrcore-spark-2.0.1/spark-2.0.1-bin-hadoop2.7")

Error in file(con, "r") : cannot open the connection
In addition: Warning message:
In file(con, "r") :
  cannot open file 'C:\Users\rsampaio\AppData\Local\Temp\Rtmp6diKLf\file126424b2715_spark.log': Permission denied

[2017-01-02 13:49] gbortz27 commented on #397
Hi raphael

Battling to solve all these errors.

Either its a java problem..memory problem or environmental variable
problem. Tried it on 2 different machines..windows 7 and 8 with diffetent
java versions etc..get tge same problem..if i run it once i get the problem
you have. If i run the sc command again i get another probblem a bout a
timeout on port 8880? I have a 64 bit java version v8.1 jre o

[2017-01-02 17:27] dustindall opened #399 "System cannot find the path specified."
I'm getting the following error using both v0.5.1 on CRAN and v0.5.2 on github. Any help will be appreciated.

Thanks.

Error in force(code) :
  Failed while connecting to sparklyr to port (8880) for sessionid (3794): Gateway in port (8880) did not respond.
    Path: C:\Users\xxxx xxxx\AppData\Local\rstudio\spark\Cache\spark-1.6.2-bin-hadoop2.6\bin\spark-submit2.cmd
    Parameters: --class, sparkl

[2017-01-03 10:50] gbortz27 commented on #254
Hi I tried the same thing here and am still getting

"Error in force(code) :
  Failed while connecting to sparklyr to port (8880) for sessionid (325): Gateway in port (8880) did not respond.
    Path: C:\Users\grbortz\AppData\Local\rstudio\spark\Cache\spark-2.0.2-bin-hadoop2.7\bin\spark-submit2.cmd
    Parameters: --class, sparklyr.Backend, "C:\Users\grbortz\Documents\R\win-library\3.2\sparklyr\ja

[2017-01-03 12:42] gbortz27 commented on #399
Same errors as me

Thanks
Graham

[2017-01-03 19:48] raghav20 commented on #394
Yes I have both Installed @edgararuiz

[2017-01-03 19:52] raghav20 commented on #394
I am running it this way  ./spark-1.6.2-bin-hadoop2.6/bin/spark-submit --packages ai.h2o:sparkling-water-core_2.11:2.0.0,ai.h2o:sparkling-water-examples_2.11:2.0.0 --num-executors 5  --master spark://ip-X.Y.Z.U.us-west-2.compute.internal:7077 --driver-memory 25g --executor-memory 20g ./spark-1.6.2-bin-hadoop2.6/examples/src/main/r/others.R

@edgararuiz Please let me know.

[2017-01-03 21:32] kevinushey commented on #399
I wasn't able to reproduce this. Do you by any chance have any accented / non-ASCII characters in your username? Do you have an antivirus / firewall that could be blocking connections on port 8880?

[2017-01-04 01:07] edgararuiz commented on #394
Hi @raghav20 , are you running this inside RStudio, an R shell or a Spark shell?

[2017-01-04 01:26] edgararuiz commented on #398
Ok, I think I was able to recreate the error.  And solved it once I setup the JAVA_HOME to an existing installation in my laptop .

Before:

[code]
This is how I set the Java Home...

[code]
I recall you have a jdk path, maybe trying it with a jre?

From you comment:
[code]

[2017-01-04 05:59] gbortz27 commented on #399
We are checking the firewall..problem..will let you know about that  thanks

Other users have same problem..ie versions of java and spark versions fixed
their problem..not mine..strange.

Username..grbortz..nothing strange

Really need to get this resolved!

Thanks very much
Graham
On 3 Jan 2017 23:32, "Kevin Ushey" <notifications@github.com> wrote:

[2017-01-04 06:16] gbortz27 commented on #398
Hi Edgar

Really appreciate you helping me.

I changed it to read from my jre version now
No difference. It should work with jdk though.

Thanks
Graham
On 4 Jan 2017 03:26, "Edgar Ruiz" <notifications@github.com> wrote:

the JAVA_HOME to an existing installation in my laptop .

rstudio\spark\Cache\spark-1.6.2-bin-hadoop2.6\tmp\hadoop

(7382): Sparklyr gateway did not respond while retrieving ports

[2017-01-04 09:33] gbortz27 commented on #397
Hi All

I managed to connect and run part of the tutorial

however the session abruptly terminated.

Now when I run the dplyr command Ie get the following

iris_tbl <- copy_to(sc, iris)
Error: java.lang.reflect.InvocationTargetException
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance(Unknown Source)
	at sun.reflect

[2017-01-04 11:19] corneversloot opened #400 "Gateway did not respond"
Hello,

We have setup sparklyr (with RStudioServer) on a MapR Hadoop edge node which works fine. However, running R scripts from the cluster nodes which have the exact same R installation raises the following exception:
[code]
The code executed is as follows:
[code]
I am not quite sure which sparklyr version we use since we pulled it from this git repo around 6 weeks ago.

Executing a spark-shell

[2017-01-04 13:18] edgararuiz commented on #397
Morning @gbortz27, last night I found this article that may be of help.  The author talks about setting the security permission for each individual cmd file: http://yokekeong.com/running-apache-spark-with-sparklyr-and-r-in-windows/

[2017-01-04 13:24] edgararuiz commented on #400
Hi @corneversloot, can you try 'yarn-client' as the master please?

[2017-01-04 14:32] corneversloot commented on #400
Hi @edgararuiz, thanks for your reply. I tried it with yarn-client but the outcome is the same.

[2017-01-04 15:05] gbortz27 commented on #397
Hi @Edgar,

Yes i saw this article before but hadnt checked the permissions..just did
so and all were set to full permissions / control including read and
execute.

*I did mange to force a connection by not going onto my companies wireless
lan / network , but now when running an instruction ie the iris_tbl =
copy_to(sc,..)  in the tutorial I get a differenrt Error *

...

Caused by: java.lang.Runt

[2017-01-04 15:13] gbortz27 commented on #399
Hi Kevin

Early on today I did manage to force a connection by going to aeroplane
mode ( switch off company access to their lan) and then midway through the
tutorial the connection dropped.

But now I have a different problem , I can force the connection up again
but when I run the comand : iris_tbl=iris_tbl <- copy_to
<http://spark.rstudio.com/reference/reexports.html>(sc, iris)

I get the follow

[2017-01-04 15:25] dustindall commented on #399
I do have a space in my username but they are an ASCII code. I'll look into my antivirus/firewall and report back.

[2017-01-04 15:34] edgararuiz commented on #398
@gbortz27 , can we try installing and connecting to a 2.0.0 version instead of 1.6.2?

[2017-01-04 16:40] javierluraschi opened #401 "sparklyr in YARN with high availability"
Found this in linkedin. I can't think of anything that would prevent sparklyr to function appropriately in HA, but given the comment, would make sense to explore this further:

CC: @edgararuiz

[2017-01-04 17:04] learndm commented on #401
Starting from Rstudio Server on my CDH edge node after the sparklyr package installation I type:

and I receive the message (after a long time):

Error in force(code) :
  Failed during initialize_connection: java.net.ConnectException: Call From mynode.myhost.com/11.45.4.215 to yarnstandby.myhost.con:8032 failed on connection exception: java.net.ConnectException: Connection refused; For more detail

[2017-01-04 18:08] edgararuiz commented on #401
Hi all,

@learndm -  Can we confirm if your stand-by host is listed first in the yarn-site.xml file, either in the yarn.resourcemanager.hostname or yarn.resourcemanager.address ?

@javierluraschi - Here's some background on how Cloudera's HA works, http://blog.cloudera.com/blog/2014/05/how-apache-hadoop-yarn-ha-works/, the "Deploying an HA Cluster Manually" section explains how clients select the

[2017-01-04 18:39] gbortz27 commented on #398
I am on version 2.0.2

On Wed, Jan 4, 2017 at 5:34 PM, Edgar Ruiz <notifications@github.com> wrote:

[2017-01-04 18:43] edgararuiz commented on #398
Oh, you latest comment had this:

sc <- spark_connect(master = "local")
Error in force(code) :
  Failed while connecting to sparklyr to port (8880) for sessionid (6062):
Gateway in port (8880) did not respond.
    Path:
C:\Users\grbortz\AppData\Local\rstudio\spark\Cache\ **spark-1.6.2-bin-hadoop2.6\bin\spark-submit2.cmd**

[2017-01-04 19:19] gbortz27 commented on #398
This is what happened now!

*Spark 2.0.2 for Hadoop 2.7 or later already installed.*

*[1] "C:\\Program Files\\Java\\jre1.8.0_112"*

*[1]
"C:\\Users\\grbortz\\AppData\\Local\\rstudio\\spark\\Cache\\spark-2.0.2-bin-hadoop2.7"*

*[1]
"C:\\Users\\grbortz\\AppData\\Local\\rstudio\\spark\\Cache\\spark-2.0.2-bin-hadoop2.7\\tmp\\hadoop"*

*Error in file(con, "r") : cannot open the connection*
*In additio

[2017-01-04 19:48] kevinushey commented on #399
I've seen these permissions as well on a Windows VM, but only intermittently and I wasn't yet able to ascertain a root cause. :/ I wonder if the issue is that multiple threads are attempting to read / write this file at the same time?

I'm also not quite sure to make of the writable permissions error:

[code]

Perhaps the directory needs executable permissions as well? (I'm not exactly sure how th

[2017-01-04 20:07] gbortz27 commented on #399
There is no file.info file there unless its hidden..there is only a bin
directory

Graham

On Wed, Jan 4, 2017 at 9:48 PM, Kevin Ushey <notifications@github.com>
wrote:

[2017-01-04 20:52] gbortz27 commented on #399
I managed on  a new machine tp establish a connection . This machine has no
antivirus

How do I check Firewall settings ion tis PC?

ie  sc <- spark_connect(master = "local")
Re-using existing Spark connection to local

But when I run tbl comand I get the following: Not sure what this is:

Dontknow if this will ever come right...

Error: java.lang.reflect.InvocationTargetException
at sun.reflect.N

[2017-01-04 21:21] gbortz27 commented on #398
my connection is up

but on the dplyr command i get R code execution error block coming up

and then

Error: java.lang.reflect.InvocationTargetException
at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
at sun.reflect.NativeConstructorAccessorImpl.newInstance(Unknown Source)
at sun.reflect.DelegatingConstructorAccessorImpl.newInstance(Unknown Source)
at java.lang.reflect.Con

[2017-01-04 22:53] edgararuiz commented on #401
@learndm - One more thing, can you try submitting a job via spark-submit instead of spark-shell please?

Thanks

[2017-01-05 03:20] edgararuiz commented on #398
Seeing this and your other issue, I think @kevinushey is right, all is left are security restrictions.

[2017-01-05 04:32] gbortz27 commented on #398
I have all this done from the start
On 1 Jan 2017 19:32, "Edgar Ruiz" <notifications@github.com> wrote:

[2017-01-05 06:27] gbortz27 commented on #398
Can i use jdk instead of jre..1.8 of course0
On 1 Jan 2017 19:32, "Edgar Ruiz" <notifications@github.com> wrote:

[2017-01-05 13:37] learndm commented on #401
Hi @edgararuiz:

- I confirm our stand by is listed before in yarn-site.xml  and the file is produced automatically form CM (I think that the order must be irrelevant for sparklyr to be resilient in case of failover but a reverse oreder could be a temporary work around ?)

- spark-submit runs regularly and I see the spark job in status "succeeded" in Hue web. From the shell I see the expected outp

[2017-01-05 13:55] raphael-psr commented on #204
Hey guys, does anyone know if there is any way to do something like this:

group_by(stage) %>% summarize(quantile = quantile(c1, 0.95))

I can do it using dplyr locally but not as a spark query.

[2017-01-05 14:05] edgararuiz commented on #401
Thanks @learndm , @javierluraschi let me know that sparklyr does not read the yarn-site.xml file directly, but if this is a dev cluster it may be worth testing a reverse order, this may very helpful to diagnose and maybe even as a temp workaround like you mentioned.

[2017-01-05 15:16] raghav20 commented on #394
Spark-submit

[2017-01-05 15:23] learndm commented on #401
@edgararuiz:

- we are in staging environnement and the order changed in yarn.site.xml shows that:

sc <- spark_connect(master = "yarn-client",version = "1.6.0", config = list(default = list(spark.yarn.keytab = "/home/AD/user1/.config/user1.keytab", spark.yarn.principal = "user1@MYHOST.COM")))

is now trying to establish a connection on the active YARN node but remains waiting:

netstat -nt| grep

[2017-01-06 00:11] javierluraschi commented on #401
@learndm can you try reconnecting with `sparklyr.gateway.start.timeout` set to `10` seconds and share the output of `spark_connect`? Otherwise, you can also wait `60` seconds which is the connection timeout default.

Here is your connection with 10s timeout:

[code]

[2017-01-06 19:10] raphael-psr opened #403 "Loading ObjectId from MongoDB"
Hello, I'm trying to get a table from MongoDB using a spark connector. One of my columns is an  [ObjectId](https://docs.mongodb.com/manual/reference/method/ObjectId/). But the retrieved value that I got is an environment variable:

[code]

I can retrieve the string using `invoke`([issue](https://github.com/rstudio/sparklyr/issues/176)) but I would like to use the `filter` function from dplyr.

[co

[2017-01-08 05:14] kevinushey opened #407 "Add download information for Spark 2.1.0"

[2017-01-08 07:02] gbortz27 opened #409 "Get Java Error when Establishing/Using Connection"
Hi

Previously I had an issue on the connection command and I can now establish the connection.

However on using the connection ie

sc or iris_tbl=copy_to(sc,iris)

I get the same  java related error ..tried on multiple machines.

I have tried multiple java versions and have set up the java paths correctly ie

JAVA_HOME_DIREC="C:\\Program Files\\Java\\jre1.8.0_112"
Sys.setenv(JAVA_HOME=JAVA_HOME_

[2017-01-08 15:11] edgararuiz commented on #409
Hi @gbortz27, let's try changing your temp folder to one inside your working directory

[code]

[2017-01-08 18:09] vijayzutshi opened #410 "Not able to connect to sparklyr or open a connection"
Hi,
I am getting following error when I try to connect to spark 👍
Error in force(code) :
  Failed while connecting to sparklyr to port (8880) for sessionid (6496): Gateway in port (8880) did not respond.
    Path: C:\Users\Vijay\AppData\Local\rstudio\spark\Cache\spark-1.6.2-bin-hadoop2.6\bin\spark-submit2.cmd
    Parameters: --class, sparklyr.Backend, --jars, "C:/Users/Vijay/Documents/R/win-librar

[2017-01-08 18:32] edgararuiz commented on #410
Hi, did you try setting your Java Home environment variable?

On Sun, Jan 8, 2017 at 12:09 PM Vijay Zutshi <notifications@github.com>
wrote:

[2017-01-08 19:39] gbortz27 commented on #409
Hi Edgar

The exact same error occurs after your suggestion: but the spark tab does show a connection in the SparkUI ie the doc image  with a yellow star appears. When I click it it goes to the spark Web page where you can see the existing connection. I however cant use the connection ...tis is where the error below occurs

Error: java.lang.reflect.InvocationTargetException
	at sun.reflect.NativeC

[2017-01-08 19:39] vijayzutshi commented on #410
Thanks for your prompt reply. I have got my issue resolved - my bad. I did not have JAVA on my PC. So now I have installed JAVA and I am able to make a connection to spark, but when I try to copy a dataset such as "iris" from R into the Spark cluster I get following error:

Error: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 0.0 failed 1 times, most recent fai

[2017-01-08 19:46] gbortz27 commented on #409
Just as an aside I get the same errors exactly when I try use SparkR.

Regards
Graham

[2017-01-08 19:46] vijayzutshi commented on #410
Thanks for your reply. But I have posted another issue on github. Please advise.

Thanks

Vijay

________________________________
From: Edgar Ruiz <notifications@github.com>
Sent: January 8, 2017 6:32 PM
To: rstudio/sparklyr
Cc: Vijay Zutshi; Author
Subject: Re: [rstudio/sparklyr] Not able to connect to sparklyr or open a connection (#410)

Hi, did you try setting your Java Home environment variab

[2017-01-08 21:11] javierluraschi opened #411 "Collecting string columns with new line characters splits into multiple rows"
Hit an issue where collecting a data frame with data `"this\ntest"` would collect as two rows instead of one. This could also break collection if the rows get out of sync, I believe. See for instance `sdf_deserialize_column` which splits based on `\n`, etc.

[2017-01-08 22:21] edgararuiz commented on #410
Can you share the configuration and connection command you're using please?

Thanks

[2017-01-08 22:35] edgararuiz commented on #409
Right, at the end of the day we're dealing with folder and file permission restrictions.  One solution I'd suggest is to copy the entire spark-2.0.1-bin-hadoop... folder to your working directory and point the spark_home there.  Not sure that this will work, as Windows may enforce the original restrictions of these folders.

I found some material that may help if you decide to set the permissions

[2017-01-08 22:58] djambar commented on #277
Hi,

I have the same error when typing
**iris_tbl <- copy_to(sc, iris, overwrite = TRUE)**

Show in New WindowClear OutputExpand/Collapse Output
 Show Traceback
Error: java.lang.reflect.InvocationTargetException
 at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
 at sun.reflect.NativeConstructorAccessorImpl.newInstance(Unknown Source)
 at sun.reflect.DelegatingConstructorAcc

[2017-01-09 00:06] vijayzutshi commented on #410
Thanks again.

I am using windows 10 with the following connection command
sc <- spark_connect(master = "local")

Thanks

[2017-01-09 00:08] vijayzutshi commented on #410
To copy dataset I am using

copy_to(sc, iris)

Thanks
Vijay

[2017-01-09 02:49] vijayzutshi commented on #410
The configuration is as follows:

spark_config()
$sparklyr.cores.local
[1] 4

$spark.sql.shuffle.partitions.local
[1] 4

$spark.env.SPARK_LOCAL_IP.local
[1] "127.0.0.1"

$sparklyr.csv.embedded
[1] "^1.*"

$`sparklyr.shell.driver-class-path`
[1] ""

attr(,"config")
[1] "default"
attr(,"file")
[1] "C:\\Users\\Vijay\\Documents\\R\\win-library\\3.2\\sparklyr\\conf\\config-template.yml"

[2017-01-09 07:10] infocrat commented on #396
I have a table in Hive, I am trying to accomplish something like this and :
cr <- myTable %>% filter(CurrentRate>0) %>% select(CurrentRate)
Error in eval(expr, envir, enclos): object 'CurrentRate' not found

While this works fine:
cr <- myTable %>% filter(CurrentRate>0) %>% select(currentrate)

[2017-01-09 08:48] learndm commented on #401
@javierluraschi:
- after waiting a long time I receive this message:
Error in force(code) :
  Failed during initialize_connection: java.io.IOException: Failed on local exception: java.io.IOException: javax.security.sasl.SaslException: GSS initiate failed [Caused by GSSException: No valid credentials provided (Mechanism level: Failed to find any Kerberos tgt)]; Host Details : local host is: "myedge

[2017-01-09 08:53] neerajkr666 opened #412 "please help me to slove this error"
Error in force(code) :
  Failed while connecting to sparklyr to port (8880) for sessionid (4646): Gateway in port (8880) did not respond.
    Path: C:\home\spark\bin\spark-submit2.cmd
    Parameters: --class, sparklyr.Backend, "C:\Users\bobinks\Documents\R\R-3.3.2\library\sparklyr\java\sparklyr-2.0-2.11.jar", 8880, 4646

---- Output Log ----

---- Error Log ----
In addition: Warning messages:
1: I

[2017-01-09 12:14] neerajkr666 opened #413 "Failed to find Spark jars directory."
sc <- spark_connect(master = "local",  config = spark_config(), version = "2.0.0")
Error in force(code) :
  Failed while connecting to sparklyr to port (8880) for sessionid (1399): Gateway in port (8880) did not respond.
    Path: C:\home\spark\bin\spark-submit2.cmd
    Parameters: --class, sparklyr.Backend, "C:\Users\bobinks\Documents\R\R-3.3.2\library\sparklyr\java\sparklyr-2.0-2.11.jar", 8880,

[2017-01-09 13:41] mtbbiker commented on #254
@javierluraschi Thanks for update, my Issue was definitely proxy related (I have also updated to latest packages) It appears that our proxy was blocking some of the updates.

[2017-01-09 14:09] jwijffels opened #414 "No FileSystem for scheme"
I'm trying out an update on Windows form Spark 1.6.2 with sparklyr 0.4 to Spark 1.62 with sparklyr 0.5.1.
The following works fine with sparklyr 0.5.1.

[code]

Executing the same with sparklyr 0.5.1 and Spark version 1.6.2 failes with a `No FileSystem for scheme` error. This worked previously with sparklyr version 0.4. Can someone tell me how this can be fixed?
[code]

[code]

[2017-01-09 19:46] raphael-psr commented on #354
I've got the same error here.
When I run the code directly from rstudio or rscript is ok, but when I try to embed it in my [plumber server](https://github.com/trestletech/plumber) I got:

[2017-01-09 19:53] edgararuiz commented on #354
Hi @raphael-psr, are you trying to use plumber as your REST API for Spark?

[2017-01-09 19:59] raphael-psr commented on #354
Hello @edgararuiz, I don't thing so, how can I do it?

[code]

[2017-01-09 20:06] edgararuiz commented on #354
Oh, so what kinds of request you would send to port 8738, and what is Server.R supposed to return?

[2017-01-09 20:15] raphael-psr commented on #354
Inside the Server.R I have a function that I can make http requests (`localhost:8738/GetChart`). Inside this function I access the spark via sparklyr and it supposed to return the results of the query. It's something like this:

[code]

The same code that works in rstudio from getting the chart doesn't work here.

[2017-01-09 20:19] raphael-psr commented on #354
This is basically the code that I have.
[code]

[2017-01-10 06:18] dsblr commented on #279
@kevinushey Thanks for the solution. While I tried to implement the above solution on a corpus having 3000 docs and 5000 number of words I am getting the following error.
error: Caused by: java.lang.OutOfMemoryError: Java heap space

When I set the following parameters; I got a different error:
Error in invoke_method.spark_shell_connection(sc, TRUE, class, method,  :
  No status is returned. Spark

[2017-01-10 09:07] learndm commented on #401
@javierluraschi, @edgararuiz - Hi all I tried to launch the request of my spark context using R (/usr/bin/R) from the linux shell of my edge node and I have been able to get the spark context:

![image](https://cloud.githubusercontent.com/assets/10106978/21799692/98bce4be-d71a-11e6-8f7b-a6e6d55bf64e.png)

and here the sc request:

![image](https://cloud.githubusercontent.com/assets/10106978/217998

[2017-01-10 17:30] kevinushey commented on #279
@dsblr: sorry, I don't know what could be causing this issue. You should consider filing this separately on the issues page with a reproducible example.

[2017-01-10 17:42] raphael-psr opened #415 "Disable hive support"
Is it possible to disable the hive support in _sparklyr_?

Similar in _sparkR_:
`sparkR.session(master="local[*]", enableHiveSupport=FALSE)`

[2017-01-10 21:54] ricardo-bion commented on #407
hey @kevinushey, ETA for sparklyr to support Spark 2.1?

[2017-01-10 21:59] ybjoony commented on #383
+1 for this.
Using sparklyr 0.51, this is blocking me from connecting R studio with livy at all as it keeps happening on livyconnection. I can connect to spark from R Studio just fine, and this failed executions start livy sessions normally, but just can't connect it with R Studio.

[2017-01-10 22:08] kevinushey commented on #407
I just added download links for Spark 2.1.0, so we should be good to go.

[2017-01-10 22:18] kevinushey commented on #407
Hrm, it looks like something is going wrong here:

[code]

@javierluraschi, can you take a look when you have time?

[2017-01-10 23:21] dsblr opened #416 "Unable to create DTM document term matrix java.lang.OutOfMemoryError"
Hello sparklyr team I am getting java.lang.OutOfMemoryError: Java heap space outof memory error while collecting transformed object to create a DTM out of corpus. Please help me with the solution.

library(dplyr)
library(sparklyr)
library(janeaustenr)

**sessioninfo**
R version 3.3.1 (2016-06-21)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows Server >= 2012 x64 (build 9200)

loca

[2017-01-10 23:38] dsblr commented on #413
@neerajkr666 have you installed spark-hadoop distribution ?

[2017-01-10 23:41] dsblr commented on #410
@vijayzutshi install dplyr package, hope it resolve your issue.

[2017-01-10 23:44] dsblr commented on #412
@neerajkr666 try the following; it may resolve the issue.
set JAVA_HOME, SPARK_HOME and HADOOP_HOME.
then sc <- spark_connect(master = "local")

[2017-01-11 02:41] vijayzutshi commented on #410
Hi dsblr it has nothing to do with the dplyr package.
I tried what you advised it gives me the same error above.

[2017-01-11 03:35] RemkoDuursma commented on #410
I have exactly the same problem and error message. I can run spark-shell from the spark bin directory and run spark examples, I can connect to spark (with `spark_connect(master="local")`), but `copy_to(sc, iris)` fails with same error message. (All R packages and Java updated today, Spark version 1.6.2 installed with spark_install)

[2017-01-11 04:13] dsblr commented on #279
@kevinushey no worries, you guys are doing great job. I have raised an issue https://github.com/rstudio/sparklyr/issues/416 , hope will find some solution for this.

[2017-01-11 04:38] dsblr commented on #279
@kevinushey I am able to create the matrix for 100 rows.
But I am unable to get the de-serialized TF_IDF which I am planning to use as a input for ml_lda() to do topic modeling.  Please let me know if is it possible to do so ?
austen_x <- austen[1:100,1:2]
austen_tbl <- copy_to(sc, austen_x, overwrite = TRUE)

sdf <- spark_dataframe(austen_tbl)
tokenized <-  sdf %>%
  na.omit() %>%
  ft_tokenizer(

[2017-01-11 04:40] neerajkr666 opened #417 "object '.sparkREnv' not found"
Error in exists(".sparkRjsc", envir = .sparkREnv) :
  object '.sparkREnv' not found

[2017-01-11 05:09] kevinushey commented on #417
`sparklyr` and `SparkR` are separate packages: sorry, we do not provide support for `SparkR`. See http://spark.apache.org/community.html.

[2017-01-11 05:09] #417 closed

[2017-01-11 05:16] kevinushey opened #418 "tests failing with CRAN DBI?"
When I run `sparklyr` tests, I see a lot of failures:

[code]

<details>

R version 3.3.2 (2016-10-31)
Platform: x86_64-apple-darwin13.4.0 (64-bit)
Running under: macOS Sierra 10.12.2
</details>

[2017-01-11 05:16] #418 closed

[2017-01-11 05:16] kevinushey opened #419 "investigate test failures"
When I run `sparklyr` tests, I see a lot of failures, related to a failure to dispatch on `invoke()`:

[code]

<details>

R version 3.3.2 (2016-10-31)
Platform: x86_64-apple-darwin13.4.0 (64-bit)
Running under: macOS Sierra 10.12.2
</details>

[2017-01-11 05:18] kevinushey commented on #419
The problem appears to be due to the fact that the `con` object is no longer available on the `src_spark` object; ie, this is the function that's failing:

[code]

There is no longer a `con` object associated with `src_spark` objects?

[2017-01-11 05:21] kevinushey commented on #419
Looks like this is due to the associated change in the development version of `dplyr` (which I had installed).

[2017-01-11 05:21] #419 closed

[2017-01-11 05:22] kevinushey commented on #387
FWIW I can confirm that this does indeed break `sparklyr` -- the attempt to access `con` in some places now fails, and so calls to `spark_connection()` fails.

I think we only need to adapt in one spot:

[code]

[2017-01-11 08:36] gbortz27 opened #420 "Disabling Firewall/Mcafee Solves Connection Problem..Almost..Need directory list"
On disabling the firewall/Mcafee Virus **completely** , the program Sparkly R , works without problem!!! But at the enterprise level this is not sustainable. He can only disable the firewall to particular directories..not to the Temp directory as a whole !, only files or subdirectories in the Temp..(company rules )

We tried to disable the firewall to only the following directories
"C:\\Users\\grb

[2017-01-11 09:40] corneversloot commented on #400
I am trying to debug this issue and my main question is regarding the function of this gateway. What is its purpose (just open a socket?) and what would it mean if the gateway does not get ports information. This seems to be triggerd by
[code]
Which leads to the question what would cause any of these to be 0?

[2017-01-11 11:27] corneversloot commented on #400
I figured it out, so for others comming across this error. It turned out to result from the fact that the default port 8880 sparklyr wants to use is already taken.

Solutions:
from code:
[code]
Or using config.yml:
[code]

[2017-01-11 11:27] #400 closed

[2017-01-11 15:59] ybjoony commented on #383
created PR for this. [https://github.com/rstudio/sparklyr/pull/421](https://github.com/rstudio/sparklyr/pull/421) any feedback will be appreciated.

[2017-01-11 17:53] kevinushey commented on #420
You will need to disable the firewall on all directories constructed within `'C:\Users\grbortz\AppData\Local\Temp\`, if that is not happening already. The R session directory is constructed using a unique directory name within that path, and R + RStudio will need to be able to read and write files in that directory.

[2017-01-11 19:36] gbortz27 commented on #420
Hi Kevin

He has disabled this ...\Temp directory ( not sustainable ...though) but
even this didnt work.  He states that even if it did work the company would
not allow this as this directory is prone to virus attack. He would
therefore have to Prename the temp sub directories that need to be unlocked
 and the files that spark creates. Are these subdirectories and files  the
same or are they creat

[2017-01-11 19:42] gbortz27 commented on #420
In conclusion I must however thank you guys at Rstudio and the community
for all the support given to me over thislast few weeks,. Although I havent
been able to make a  success of this yet, your attempts are still
appreciated, especially Kevin and Edgar.

Regards
Graham

On Wed, Jan 11, 2017 at 9:36 PM, Graham Bortz <gbortz27@gmail.com> wrote:

[2017-01-11 19:59] kevinushey commented on #420
You can configure the temporary directory that R uses for resources by setting the `TMP` environment variable. The easiest way to do this in an R-specific way is to create a file a file in your home directory called `.Renviron`, and add the lines:

[code]

[2017-01-11 20:30] erikriverson commented on #407
https://github.com/rstudio/sparklyr/blob/master/R/spark_extensions.R#L99 is looking for `sparklyr/java/sparklyr-2.1-2.11.jar` , but it is not present.

[2017-01-11 20:44] kevinushey commented on #407
Thanks for digging in @erikriverson -- you're exactly right; we needed to rebuild the sparklyr jars against Spark 2.1.0. I've done that now and pushed to master so sparklyr + Spark 2.1.0 should be good to go!

[2017-01-11 20:46] kevinushey opened #422 "investigate ml_kmeans() test failure with Spark 2.1.0"
[code]

[2017-01-11 20:54] kevinushey opened #423 "investigate tokenizer test failures with Spark 1.6.2"
[code]

[2017-01-11 21:00] ricardo-bion commented on #407
awesome!! when is the next CRAN submission?

[2017-01-11 21:37] edgararuiz commented on #420
@gbortz27 - I'm sorry, but I can't recall if I already asked you to copy the entire spark-2.0.2-bin-hadoop2.7 folder to your workspace (which you should have full control on).  Then try to connect but setting the spark_home argument to point to that new copy.

@kevinushey / @javierluraschi  - Is it possible to default the Spark installation to the user's workspace instead of their AppData folder?

[2017-01-11 21:41] kevinushey commented on #422
Resolved with https://github.com/rstudio/sparklyr/commit/b58cf3b8378a845ba190901e33a601a71fcaa815 -- it was an issue with the test itself.

[2017-01-11 21:41] #422 closed

[2017-01-11 21:48] kevinushey commented on #423
Resolved with https://github.com/rstudio/sparklyr/commit/6df804640005eb69ebd77319155fc85ea18ca43d.

[2017-01-11 21:48] #423 closed

[2017-01-11 21:51] monicarodguev opened #424 "Availability of toDebugString when using classification trees -Question"
Hello everyone,

Is the function toDebugString() available when using decision trees? If yes, how should be invoked?

Thank you!

Monica

[2017-01-11 21:56] kevinushey commented on #420
@edgararuiz: I think the installation directory can be configured by setting the `spark.install.dir` R option; e.g.

[code]

This would need to be specified in a startup file (e.g. `.Rprofile`) to make sure that new R and RStudio sessions make use of it.

[2017-01-11 21:58] kevinushey commented on #407
The next submission will probably come in the next ~1-2 months.

[2017-01-12 07:19] gbortz27 commented on #420
Hi All

I tried to follow your suggestion by bringing the Spark directory over to
the home directory (which if correct is my Username directory ie
Users\username.... and ten change the environmental variables to point to
the Spark Home and the Hadoop home ( as well as setting and cheacking this
using Sys,getenv() and Sys.setenv() ..and it still gave same error ..in the
error message it is still po

[2017-01-12 07:34] gbortz27 commented on #420
@edgararuiz <https://github.com/edgararuiz>: I think the installation
directory can be configured by setting the spark.install.dir R option; e.g.

options(spark.install.dir = "C:/path/to/Spark")

This would need to be specified in a startup file (e.g. .Rprofile) to make
sure that new R and RStudio sessions make use of it.

 Where exactly would I put this startup file ..does the file exist and do I

[2017-01-12 17:29] mbconnor opened #425 "QuantileDiscretizer not finding setNumBuckets method"
Hello,

I'm currently trying to use ft_quantile_discretizer as follows:

`test <- ft_quantile_discretizer(df,
                        input_col = col1,
                        output_col = col1_bin,
                        n_buckets = 5L)`

The following error is produced:

Error: failed to invoke spark command
17/01/12 17:25:39 WARN cannot find matching method class org.apache.spark.ml.feature.Qu

[2017-01-13 03:16] vijayzutshi commented on #410
Yes you are write. I can also run spark-shell from spark bin directory, but when I am in R environment and use copy_to command it gives me the same error as I have mentioned above. Is there no solution for this

[2017-01-13 05:11] dsblr commented on #279
@kevinushey could you please help me to understand how the following code works ?
-> invoke_new(sc, "org.apache.spark.ml.feature.HashingTF")

I would like to know what is the path(physical path or OS path) of the org.apache.spark.ml.feature.HashingTF  ?

[2017-01-13 05:22] kevinushey commented on #279
`invoke_new()` here is calling the constructor of the Java (Scala) class [`org.apache.spark.ml.feature.HashingTF`](https://spark.apache.org/docs/latest/api/scala/#org.apache.spark.ml.feature.HashingTF). Please read the [sparklyr extensions documentation](http://spark.rstudio.com/extensions.html) for more information on how `invoke()` works.

[2017-01-13 06:55] MilesMcBain opened #426 "cov, cor, sd, var are not available for use in mutate with Spark data frames"
This code:
[code]

results in: `Error in eval(expr, envir, enclos) : could not find function "sd"`

Also fails in same manner for `cov`, `cor` and `var`.

[2017-01-13 20:38] dsblr commented on #279
@kevinushey thanks for your response. I have create an constructure using java(scala); I would like to know which file path of os should I copy the java(scala) package, so that I can access the constructure .
Please help me with the os path.

[2017-01-13 21:32] kevinushey commented on #425
What version of sparklyr are you using? This should already be fixed in the current CRAN release (0.5.3).

[2017-01-13 21:34] kevinushey commented on #424
Questions like these can typically be answered by browsing the [Spark Scala API](https://spark.apache.org/docs/latest/api/scala/#package). See e.g. for decision tree output:

https://spark.apache.org/docs/latest/api/scala/#org.apache.spark.ml.classification.DecisionTreeClassificationModel

Indeed, it seems to be available in the latest version of Spark.

https://spark.apache.org/docs/latest/api/sc

[2017-01-13 21:38] mbconnor commented on #425
Ah, could be.  I'm using 0.4 - thanks!

[2017-01-13 21:43] kevinushey commented on #426
Looks like this is an issue with the use of the `sql_prefix` function in our dplyr interface wrappers:

https://github.com/rstudio/sparklyr/blob/master/R/dplyr_spark_connection.R#L70-L73

Rather than using `sql_prefix()` we should just write the function names out by hand.

[2017-01-13 22:12] monicarodguev commented on #424
You're right. My question is not clear. What I meant to ask is how that method can be invoked using sparlyr.

[2017-01-13 22:16] kevinushey commented on #424
Gotcha, sorry about that -- something like the following should work:

[code]

That is, `sparklyr` model objects contain a reference to the actual Scala / Spark object as a member called `.model`, and so invoke can be called on that.

[2017-01-13 22:32] monicarodguev commented on #424
Excelent! Many thanks.

[2017-01-13 23:23] kevinushey commented on #424
Glad I could help!

[2017-01-13 23:23] #424 closed

[2017-01-13 23:46] cici20052016 commented on #410
I have similar issue too, spark shell runs fine but copy_to failed, my error message is as below:
Error: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 1.0 failed 1 times, most recent failure: Lost task 0.0 in stage 1.0 (TID 1, localhost): java.lang.NullPointerException
	at java.lang.ProcessBuilder.start(Unknown Source)
	at org.apache.hadoop.util.Shell.runComman

[2017-01-14 00:10] AkhilNairAmey commented on #205
@ChingChuan-Chen, could you please note which versions of spark and cassandra you are using? Am having trouble getting this to work.

[2017-01-14 13:25] ChingChuan-Chen commented on #205
I was using Cassandra 2.2.7 and Spark 2.0.0. The problem is solved after restarting computers.

[2017-01-15 22:46] ElianoMarques commented on #81
@javierluraschi any expectation on when we could have this in sparklyr? We are about to start a piece of work and might have to adopt sparkR given this feature its there. it would be a shame given the investment made in getting up to speed with sparklyr across the team?

[2017-01-16 12:27] ElianoMarques commented on #59
Hi @javierluraschi i'm also trying to connect to S3 and i'm facing some issues.

[code]
I got the following error:

[code]

After researching quite a bit i cant found the potential error. Is this something you or somebody else have faced?

Thank you, Eliano

[2017-01-16 13:23] javierluraschi opened #427 "Consider writing template test for Livy"
Community contributing to Livy does not have a template test to follow for livy code. https://github.com/rstudio/sparklyr/pull/421

[2017-01-16 13:34] javierluraschi commented on #383
Thank you @ybjoony

[2017-01-16 13:34] #383 closed

[2017-01-16 15:55] ElianoMarques commented on #59
I solve this in python with this:
[code]

[2017-01-17 03:58] dsblr opened #429 "Uanble to implement invoke_new"
Hello Sparklyr team,
I have created a JAR for a Scala program and would like to access the functions defined in that scala program from Rstudio using sparklyr::invoke_new

While doing the same, I am getting the following error. Please help me to resolve this issue.
**steps:::**
1) created a scala program
`package pkg1

object obj1 {
  def main(args: Array[String]) {
  val pi = 3.14
  def area_of_c

[2017-01-17 11:20] renegademonkey opened #430 "Unable to connect spark to cassandra DB"
Hi there,

I've spent the last week trying to figure out how to use sparlyr to get spark to connect to cassandra on our local cluster, and I've hit a wall - any help would be greatly appreciated. I'm the only one trying to use R to make this connection (everyone else uses Java on NetBeans and Maven), and have am not sure what I need to do to make this work.

The stack i'm using is:
Ubuntu 16.04 (i

[2017-01-17 16:03] jz1584 opened #431 "is the SVM implemented in sparklyr ?"

[2017-01-17 16:29] kevinushey commented on #431
Unfortunately no -- the `SVM` implementation provided by Spark is only available with the older RDD-based API; `sparklyr` exclusively uses the DataFrame-based API.

You'll have to make a feature request on the Spark JIRA page: https://issues.apache.org/jira/browse/spark/?selectedTab=com.atlassian.jira.jira-projects-plugin:summary-panel

[2017-01-17 16:29] #431 closed

[2017-01-17 20:23] Deninc commented on #426
hi,
I understand that this issue was solved right?
I've installed the latest sparklyr version but it's still showing the same error: `Error in eval: could not find function "sd"`

[2017-01-17 20:29] dsblr commented on #279
@kevinushey
 I have created a JAR for a Scala program and would like to access the functions defined in that scala program from Rstudio using sparklyr::invoke_new

While doing the same, I am getting the following error. Please help me to resolve this issue.
steps:::
1.created a scala program
 `package pkg1

object obj1 {
 def main(args: Array[String]) {
 val pi = 3.14
 def area_of_circle(radius: D

[2017-01-17 20:34] monicarodguev commented on #287
Hi everyone,

I'm working locally. I'm training a decision tree and I'm getting a similar error. I already defined the driver and executor memory with:

[code]

When I defined the memory to 4G I get the following error:

`Error: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 6.0 failed 1 times, most recent failure: Lost task 0.0 in stage 6.0 (TID 6, localhost):

[2017-01-17 20:36] kevinushey commented on #279
@javierluraschi do we have a canonical way of launching Spark with a set of user-defined JARs?

[2017-01-18 09:18] niklasvm opened #432 "Reading parquet data from S3"
Good day

The *spark_read_parquet* documentation references that data can be read in from S3. When I attempt to read in a file given an S3 path I get the error: **org.apache.spark.sql.AnalysisException: Path does not exist**. When I debug this error I notice that the code calls **spark_normalize_path** which appends the current working directory to the path.

For example if I call
[code]
the **spa

[2017-01-18 14:18] javierluraschi opened #433 "Livy warning triggers for `text_content` marked as deprecated"
User reported:

[code]

[2017-01-18 16:42] liuxiaodnn opened #434 "defined schema dynamically"
It seems a proper schema needs to be defined when using the SparkR function, dapply. In my case, the schema is dynamic, for example, it could be
schema <- structType(structField("v1", "double"),
                     structField("v2", "double"),
                     structField("v3", "double"))
or maybe the output data frame has 4 columns:
schema <- structType(structField("v1", "double"),

[2017-01-18 17:14] kevinushey commented on #434
`SparkR` is a separate project from `sparklyr` -- you likely want to ask this on one of the Spark mailing lists. (See e.g. http://spark.apache.org/community.html)

[2017-01-18 17:14] #434 closed

[2017-01-18 17:56] dookdick opened #435 "Error 404: Not Found when installing Spark"
Hi...I got an error after trying to install spark. The command line I made on putty can be seen in attached. Please help.

![spark error](https://cloud.githubusercontent.com/assets/25206415/22076237/de06a8ac-dde1-11e6-9c5d-14263672fc11.png)

[2017-01-18 18:01] #435 closed

[2017-01-18 20:48] dsblr opened #436 "ml_lda error"
Hi Team,
I was trying to implement topic modeling using ml_lda and I while doing the same I found the following error,
Error: java.lang.IllegalArgumentException: Data type StringType is not supported.

While trying to resolve the ml_lda error,
I tried to implement the ml_lda.R code step by step replicating the function body, and I found the error at **line number** 63 in the ml_lda.R code

Error:

[2017-01-18 22:49] monicarodguev opened #437 "ml_decision_tree failed to compile"
Hello guys,

I'm training a decision tree. My dataframe has 100 rows and 2473 columns. The code I'm using is the following:

[code]

But the job doesn't compile, the error I get is the following:

`Error: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 8.0 failed 1 times, most recent failure: Lost task 0.0 in stage 8.0 (TID 8, localhost): java.util.concurrent.Exe

[2017-01-19 18:57] javierluraschi commented on #437
@monicarodguev See https://github.com/rstudio/sparklyr/issues/264, can you try reducing the number of columns? Say with something like:

[code]

[2017-01-19 19:05] monicarodguev commented on #437
@javierluraschi just to confirm if I am getting it right: in the select sentence should I include all the variables I want to have in the model? Or just the ones I want to exclude?

[2017-01-19 20:24] gbortz27 opened #438 "Directing Spark to use a different temp directory ( get round Mcafee Firewall)."
sparkr-shell C:\Users\grbortz\AppData\Local\Temp\Rtmp0EoJET\backend_port1a981c973315

This will not execute due to the antivrus not allowing accesss to the Temp directory as I believe it is in the AppData path

Can you please tell me EXACTLY ..step by step how to tell spark config to use a different directory path ie say

C:\Users\grbortz\Temp\

I tried to do it using the following in the R script

[2017-01-19 21:09] gbortz27 commented on #420
Due to Mcafee I need to cahnge the temp directory. It seems taht I have succeeded in forcing R to initiate Spark from a new directory out of Appdata directory path. I think this is correct as the error I get says it invoked Spark.cmdr2 from the new Spark directory.

I need to change the default temp directory setting for R , I tried your suggestion in the Renviron file and it made no difference ..

[2017-01-19 22:37] monicarodguev opened #439 "NullPointerException in ft_string_indexer"
Hello!

I tried to use `ft_string_indexer` with two variables of a dataframe I loaded into `spark`. With one of them the result was fine. But with the other one I got the following error:

[code]

The code I used is:

[code]

I checked the column is in the dataframe with:

[code]

Thanks for your help!

[2017-01-19 23:25] kevinushey commented on #439
My best guess -- the `REGIONAL_COLOCACION` variable contains NULL values (or possibly empty values) and that's causing issues for the feature transformer.

You might have to explicitly drop missing values with e.g. `na.omit()`.

[2017-01-19 23:57] javierluraschi commented on #437
@monicarodguev The ones you want in the model

[2017-01-20 20:20] monicarodguev commented on #439
Hi! Your guess is right, when I do the following I can use `ft_string_indexer`.

[code]

Nevertheless, when I do:

[code]

R  reply `* Dropped 27276 rows with 'na.omit' (400766 => 373490)` and then it never respond. Do you have any idea what I'm doing wrong?

Thanks!

[2017-01-20 20:48] monicarodguev commented on #437
Well in fact I would like to test with near 2.4k variables. Do you think is there any limitation in the number of input variables?

[2017-01-20 23:54] javierluraschi commented on #112
Here is an example:

[code]

[2017-01-20 23:58] javierluraschi commented on #436
Try running `ml_lda` as follows:

[code]

[code]

If for some reason you can't install the latest version of `sparklyr` source the following function from `sparklyr 0.5` in CRAN:

[code]

[2017-01-21 00:01] javierluraschi commented on #437
@monicarodguev we've experienced some column limitations in Spark `1.6.x`; therefore, I would highly recommend using Spark `2.x.x`. For instance, by connecting as:

[code]

[2017-01-21 00:37] javierluraschi commented on #429
There are a couple ways to achieve this, the one I find myself using the most is by setting the `sparklyr.jars.default` parameter in the `sparklyr` config, example follows:

[code]

Alternatively, you should be able to specify the `--driver-class-path` and `--spark.executor.extraClassPath` parameter and copy this jar manually to the driver and executors. I wouldn't recommend this approach unless t

[2017-01-21 01:00] #432 closed

[2017-01-21 01:00] javierluraschi commented on #432
Hi @niklasvm, this seems to be a problem in `sparklyr` under some operating systems, mostly scoped to Windows. I've pushed a fi that you can use after installing `sparklyr` from github as:

[code]

[2017-01-21 04:34] kevinushey commented on #432
What about using `normalizePath(..., winslash = "/")` here? (Is the problem that `/` are converted to `\`?)

[2017-01-22 15:21] zero323 commented on #81
@cosmincatalin

To some extent it is highly related to Spark execution model. Any kind of side effects can be extremely hard to manage in complex pipelines. What happens when you enable speculative executing, how to handle task failures, how to deal with normal task re-execution? If you wan to allow for side effects there is a lot of low level thinking required to do it right.

That being said, AF

[2017-01-22 22:26] dsblr commented on #379
@eijoac you can try executing the same operation by setting the following additional parameter before creating spark context object.

config <- spark_config()
config$`sparklyr.shell.driver-memory` <- "4G"
config$`sparklyr.shell.executor-memory` <- "4G"
config$`spark.yarn.executor.memoryOverhead` <- "1g"
sc <- spark_connect(master = "local", config = config)

It works for me.

[2017-01-22 22:29] dsblr commented on #287
@javierluraschi thanks for the solution. It works for me.
@monicarodguev try setting up an additional parameter
config$`spark.yarn.executor.memoryOverhead` <- "1g"  then create sc. It works for me, hope it helps.

[2017-01-23 15:49] AkhilNairAmey commented on #249
A small comment on the documentation - sparklyr only seems to expect `lag` to have the argument `order`, but dplyr specifies the argument as `order_by`.

[code]

[2017-01-23 16:13] monicarodguev opened #442 "ft_string_indexer with multiple variables"
Hello guys,

I'm trying to use `ft_string_indexer `  with multiple variables as input. I tried two ways but neither of them worked. What I'm doing is the following:

**Trial 1**

[code]
In this case, base has 15 columns, and only two are categorical. The error I get is:

[code]

**Trial 2**

In this case I do not define the output col parameter: `base2 <- base1 %>% ft_string_indexer(input_col = c(

[2017-01-23 16:26] zhiboz commented on #407
a workaround would be upgrade to the latest version of `sparklyr`

`devtools::install_github("rstudio/sparklyr")`

tested with `RStudio 1.0`, `R 3.3.1`, `Spark 2.1.0`

[2017-01-23 20:45] GaryWMN opened #443 "Count performance [e.g., GROUP BY vs. COUNT(*)]"
I have several ORC tables stored in HDFS on a 3-node cluster (accessed from an edge node -- can provide more connection details if that helps).

When I run a simple count against either the entire table or a selected single column, the query takes about 50 times longer to come back than a query that groups and then counts.

When I run a simple SELECT count(*) FROM sameTable in Hive (CLI or Web UI)

[2017-01-24 00:47] javierluraschi commented on #443
@GaryWMN Consider the following code:

[code]

As you can see, selecting the `Petal_Width` field is creating a nested query that is increasing execution times as you correctly point out. We could consider optimizing queries in `dplyr` or `sparklyr`; however, for correctness, it should be the `Spark` project the ones that take this task since there might be cases where the optimization is not perfo

[2017-01-24 00:57] GaryWMN commented on #443
Thanks for the feedback and patience with a learner.

[2017-01-24 00:57] #443 closed

[2017-01-24 10:01] niklasvm commented on #432
Hi there. Thanks for the response. It still doesn't read successfully. I notice that in your update:

[code]
Nothing is returned if the if statement returns false. Could this be the new issue?

[2017-01-24 10:38] vermouthmjl commented on #288
I saw somewhere that on windows, you shouldn't install spark into a folder with space in the path. Typically you would get things of the sort
`'C:\Users\Ganesh' is not recognized as an internal or external command`
if you do.

[2017-01-24 15:17] VadymBoikov opened #444 "invoke issues on org.apache.spark.sql.Dataset"
I have dataset uploaded to Spark.
 Then I try to perform some methods for invoke.

I get an error if I use invoke with `select` or `groupBy`, but I can successfully run invoke on `drop`

[code]

Success:
[code]
Error:
[code]

[2017-01-24 19:55] javierluraschi commented on #444
@VadymBoikov currently, sparklyr does not support variable parameters which is the case of `select` (see http://spark.apache.org/docs/latest/api/scala/index.html#org.apache.spark.sql.Dataset), since it takes a `String` followed by a `String*`.

In order to workaround this issue, you can pass an empty `String[]` by calling `select()` as follows:

[code]

[2017-01-24 22:39] #433 closed

[2017-01-24 23:35] kevinushey commented on #439
My only guess is that the string indexer is working much more slowly than one might expect -- if you look at the Spark UI, do you see any active jobs re: the `ft_string_indexer` call?

[2017-01-24 23:39] kevinushey commented on #442
Unfortunately, as far as I know, the Spark `StringIndexer` only accepts a single input column. You might need to manually join your two columns first, with e.g.

    base %>%
        mutate(pasted = paste(var1, var2))

[2017-01-25 03:42] theMLtrader commented on #189
yht solution worked also for me :)

[2017-01-25 06:01] niklasvm opened #446 "spark_normalize_path does not return anything on Windows"
With reference to issue #432. The function below does not return anything when the if statement evaluates to false.

[code]

I propose something of the form:

[code]

[2017-01-25 10:43] VadymBoikov commented on #444
It works, thank you

[2017-01-25 10:43] #444 closed

[2017-01-25 10:46] VadymBoikov commented on #252
Is there a way how I can do this operation using invoke ?

I'm stuck on aggregate expression

Scala :
[code]

R :
[code]

[2017-01-25 11:14] bedantaguru opened #447 "Support for caching tables from other database apart from 'default' in Hive"
It's really a great package. I thank you all who are developing it.
I'm pretty new with `sparklyr `  however I found following issues while trying to cache a table in Hive which is in different database than **default**.

Here is my code
[code]
I got the solution from [this stackoverflow](https://stackoverflow.com/questions/33241105/caching-tables-in-spark-sql).

As a few idea [though I might be c

[2017-01-25 14:54] VadymBoikov opened #448 "Bug when assign NA to a column"
When I assign column to NA ( _or NaN, or NULL_), a spark dataframe makes it as list, not as actual NA value

[code]

[2017-01-25 16:47] weibogit commented on #414
Hi, man.
I have a similar problem as yours. And the code as follow,
`Restarting R session...

[1] TRUE

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

Error: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 0.0 failed 1 times, most recent failu

[2017-01-25 18:32] schristel opened #449 "Error when trying to save a 'ml_model' - Error: Invalid method save for object 2109"
Hello,

I'm trying to save two models I produced using ml_random_forest and ml_gradient_boosted_trees. I saw this post <https://github.com/rstudio/sparklyr/issues/134> and tried implementing the solution using ml_save. I also hard  coded the solution. From hard coding the solution I found that the error is after the `invoke(model$.model,"save",file)` step.

 Specifically, I'm getting this error:

[2017-01-25 18:39] kevinushey commented on #449
What version of Spark are you using? It looks like `save` / `load` methods should be provided with all versions of Spark >= 1.6.

Can you by any chance provide a reproducible example?

[2017-01-25 18:39] #446 closed

[2017-01-25 18:42] javierluraschi commented on #446
Thank you @niklasvm! Yes, I didn't mean to not return anything for windows, but rather, avoid normalizing the path in windows. We could certainly try other alternatives but I wonder if we can skip normalizePath in windows entirely. Would you mind giving the new fix a try?

The reason why `normalizePath` was introduced was to handle relative paths in linux-like systems, so if relative paths work fi

[2017-01-25 18:50] schristel commented on #449
We have Spark 1.6.0 . Sure thing, re: reproducible example

[2017-01-25 19:01] schristel commented on #449
Here is a reproducible example:

`# create fake data and put it on the hdfs
a <- rnorm(100000,mean=2,sd=3)
b <- rnorm(100000,mean=0,sd=1)
c <- rnorm(100000,mean=5,sd=1)
d <- rnorm(100000,mean=1,sd=.5)
e <- rnorm(100000,mean=0,sd=1)
f <- rnorm(100000,mean=6,sd=2)
g <- rnorm(100000,mean=0,sd=1)
resp <- rnorm(100000,mean=2,sd=3)*pi
fake.dat <- data.frame(a,b,c,d,e,f,g,resp)

#set config options
confi

[2017-01-25 19:01] kevinushey commented on #448
Some extra investigation: given this code

[code]

The query is rendered as:

[code]

We should instead use something like `cast(NULL as DOUBLE)`?

[2017-01-25 19:03] kevinushey commented on #449
Ah, looking at the API documentation it looks like the random forest models didn't implement the `MLWritable` interface until Spark 2.0.0. Compare:

http://spark.apache.org/docs/2.0.0/api/scala/index.html#org.apache.spark.ml.regression.RandomForestRegressionModel

http://spark.apache.org/docs/1.6.2/api/scala/index.html#org.apache.spark.ml.regression.RandomForestRegressionModel

So unfortunately th

[2017-01-25 19:16] schristel commented on #449
Ok than you

[2017-01-25 19:16] #449 closed

[2017-01-25 19:24] javierluraschi commented on #448
@kevinushey found out when assigning `NA`, the column was being assigned a `NullType` which is now being collected as String, collecting/casting as double would also worked, just picked string collection since it's currently and we default to string for other non-standard data types.

[2017-01-25 21:31] #448 closed

[2017-01-25 21:40] kevinushey commented on #448
@javierluraschi, I'm not sure if that solution is complete. For example, this:

[code]

will now generate a character vector, rather than a numeric vector containing `NaN`s.

Similarly, explicitly setting a column to `NULL` normally removes that column; e.g. with a local R `data.frame`:

[code]

We should double-check if that same behavior is expected for remote data stores.

Alternatively, we cou

[2017-01-25 21:59] dustindall commented on #399
I was able to connect by moving my spark install to a directory c:\spark. I'm thinking the error was attributed to a space within my user name that affected my spark paths.

Let me know if I should go ahead and close this issue.

[2017-01-26 05:56] niklasvm commented on #446
Hi @javierluraschi. Thanks for the fix.

I can now successfully read a csv/parquet file from S3. I am also able to read csv/parquet from local **BUT** only using an *absolute path*. When using a path with a tilde it fails.

For example, the following works correctly:
[code]
but
[code]
just returns ~/a csv file.csv which is then incorrectly appended to the current working directory and the spark_re

[2017-01-26 09:39] VadymBoikov opened #452 "pivoting table using invoke"
Is there a way to do pivoting using invoke ?

I'm stuck on aggregate expression
[code]

Original Scala code:
[code]

[2017-01-26 13:03] gbortz27 commented on #399
Did U actually install it again throughSpark or did you redirect through environmental variables. Are your Temp directories in the new spark path or the old. What is happening with me is the antivirus program is protecting the default spark path ie in the AppData Path. Even when I redirected R studio to the new Spark path , ,by resetting the environmntal variables   it read the new spark path when

[2017-01-26 16:03] monicarodguev commented on #442
Ok thanks. I missunderstood the documentation.

[2017-01-26 16:54] monicarodguev commented on #439
I tried at first selecting 8 variables and it worked perfectly. Now I'm selecting 31 variables and it is not responding.
Now, regarding to your question: no, I don't see any active executors at the Saprk UI.

Any idea? Thanks!

[2017-01-26 17:50] edgararuiz commented on #439
Hi @monicarodguev , the code/data be hitting against the limit of the computer or Spark session.  A couple of settings to check:

conf <- spark_config()
conf$`sparklyr.shell.driver-memory` <- "16G"
conf$spark.memory.fraction <- 0.8

The driver memory has to be adjusted based on the RAM in your computer.  The memory fraction reserves part of the memory requested for metadata and other tasks.

Also,

[2017-01-26 20:11] monicarodguev commented on #439
Hello @edgararuiz ,

I made the settings. But my machine is not that good so I configured Spark with:

[code]

I tried with 10 variables and it worked, but it didn't when I tried with 12.

Something to mention is: my initial dataframe has 31 variables. If I remove the `select` line (I use all the 31 variables), the statement runs correctly.

[2017-01-27 00:09] dsblr commented on #410
@vijayzutshi have you set SPARK_HOME ?

[2017-01-27 10:46] renegademonkey commented on #430
finally solved the issue! when initiating my sparkSession I was using the SPARK <cluster_address> with port number) rather than just the cluster address (where cassandra was located).

[2017-01-27 10:46] #430 closed

[2017-01-27 23:40] dustindall commented on #399
I moved the spark install from the AppData path to a folder right under my c: drive, updated the path variables, and deleted the old spark versions and everything worked.

[2017-01-28 14:16] gbortz27 commented on #399
Did exactly as you said nd got the error below.

How do I direct spark away from using the Temp directory in that path ie
direct it to use the same/simliar path BUT NOT IN AppData

Error in file(con, "r") : cannot open the connection
In addition: Warning message:
In file(con, "r") :
  cannot open file
'C:\Users\grbortz\AppData\Local\Temp\RtmpsjTEIm\file32a43d455ade_spark.log':
Permission denied

O

[2017-01-28 17:07] javierluraschi commented on #452
How about?

[code]

For more generic column expressions, one could defined them as follows instead:

[code]

[2017-01-28 20:10] vijayzutshi commented on #410
Yes I have set up SPARK_HOME as follows:-
C:\\Users\\Vijay\\AppData\\Local\\rstudio\\spark\\Cache\\spark-1.6.2-bin-hadoop2.6

[2017-01-28 20:35] vijayzutshi commented on #410
I am getting following error when I try to connect to spark:-
Error in force(code) :
  Failed while connecting to sparklyr to port (8880) for sessionid (2167): Gateway in port (8880) did not respond.
    Path: C:\Users\Vijay\AppData\Local\rstudio\spark\Cache\spark-1.6.2-bin-hadoop2.6\bin\spark-submit2.cmd
    Parameters: --class, sparklyr.Backend, --jars, "C:/Users/Vijay/Documents/R/win-library/3.

[2017-01-30 00:06] DerekYves commented on #192
Just wanted to add that I'm seeing this issue too at around the same order of magnitude. My source data set is into the billions so extracting 1m is really a very small sample but I'm running into this error quite a lot during the collect phase. Wondered if any additional info was available? I have EMR 5.3 and the github version of sparklyr installed.

Thanks!

[2017-01-30 01:54] peregrinari opened #453 "Unable to retreive a Spark DataFrame from object of class SparkDataFrame"
I've been going around in circles bit trying to get up and running with SparklyR etc running on Spark 2.0.2 on YARN on EMR.

My Spark context initialises successfully and I can create Spark dataframes successfully, however the sdf_* and ml_* functions in sparklyR don't want to play with it.

For example
[code]

returns the error
Error in UseMethod("sdf_register") :
  no applicable method for 'sdf_

[2017-01-30 05:02] peregrinari commented on #453
sorry I should not have raised this bug - I have got my SparkR and sparklyR packages mixed up.

[2017-01-30 05:02] #453 closed

[2017-01-30 07:01] niklasvm opened #454 "spark_normalize_path"
Hi @javierluraschi. With reference to #446, the *spark_normalize_path* function does not work correctly on windows using relative references.

the following code fixes the issue:

[code]

[2017-01-31 07:13] dangulod opened #455 "Random numbers generation"
I am doing a proof of concept with spark. And I do not know how to simulate random numbers

Is it possible to generate random numbers from a normal distribution within spark through sparklyr?

Something like this:

test = if_else(rnorm(1000) > 0, 0, rnorm(1000)) %>% as.tbl

[2017-01-31 09:23] MumoNobert opened #456 "Error Trying to create tables on spark using copy_to"
Hello, I am trying to get started on the sparklyr package but getting an error when I try to copy a  dataframe to a spark table/dataframe. I already have a spark connection.

library(sparklyr)
sc <- spark_connect(master = "local",spark_home="C:/Users/WayoPC/Documents/spark-2.0.2-bin-hadoop2.7")
mtcars_tbl <- copy_to(sc, mtcars, overwrite = TRUE)

ERROR
Error: java.lang.reflect.InvocationTargetExce

[2017-01-31 14:26] awchisholm opened #457 "Malformed \uxxxx encoding error during spark_connect - result: sparklyr unusable"
I have installed the latest sparklyr

[1] ‘0.5.3.9000’

I have Spark 2.0.0 installed locally

  spark hadoop                       dir
1 2.0.0    2.7 spark-2.0.0-bin-hadoop2.7

I'm running on Windows 7

When I run this

I get this error

To try and troubleshoot this, I have edited the cmd files that are called within the Spark folder by simply turning echo on. The last file that is called is

and

[2017-02-01 02:43] iamkbpark commented on #112
I do appreciate the straight forward example!

[2017-02-01 14:43] monicarodguev commented on #254
Hello everyone,

I was trying to connect to Spark (this time in a different machine) and I'm getting the following error:

[code]

I checked and the `C:\Users\masanchez\AppData\Local\rstudio\spark\Cache\spark-2.0.2-bin-hadoop2.7\bin\spark-submit2.cmd` and `C:\Users\masanchez\Documents\R\win-library\3.3\sparklyr\java\sparklyr-2.0-2.11.jar` in fact exist. Also I checked the Java Home, the Spark home

[2017-02-01 14:55] monicarodguev commented on #407
Hello!

@kevinushey is Spark 2.1.0 available in `Sparklyr`? I tried to downloaded and it failed:

[code]

[2017-02-01 16:26] Peter-pj opened #460 "Path problem using spark_write_csv on windows 10 to Livy / Spark on Linux"
sparklyr_0.5.3-9000

Im using sparklyr from RStudio on windows 10, connecting via Livy to a spark cluster in Azure (HDInsight), running Linux.

When calling spark_write_csv, my local (windows) user directory is appended to the path, which is of course not available on the cluster, see error below. The problem seems to be related to the use of the function normalizePath, which normalizes the path f

[2017-02-01 16:49] richierocks opened #461 "mutate + cut throws spark.sql.AnalysisException"
To cut a continuous variable into buckets, locally I can do:

[code]

If I try this in Spark, I get an error.

[code]

Setting `debugonce(sparklyr:::spark_dataframe.tbl_spark)` and re-running the SQL that is generated is

[code]

This looks OK to me, but apparently there is a problem.

I realise that I can do

[code]

but it would be nice to be able to have the same code work both locally and in S

[2017-02-01 17:59] kevinushey commented on #407
Hi @monicarodguev,

Based on the output, it looks like your download was cut off prematurely:

[code]

Note that the archive is 186.6MB in size, but for some reason only 188KB was downloaded.

[2017-02-01 18:47] javierluraschi commented on #81
@ElianoMarques no updates on this yet, but I do understand the urgency of this request. Thanks for the kind reminder to get this going, I will update this issue when we get this started.

[2017-02-01 20:07] nuna-evan opened #463 "Null values in Long columns are collected as -2^63"
We've been running into an issue where Spark DataFrames with LongType columns containing null values become collected as -2^63. To reproduce:

[code]

Collection gives the output:
[code]

Whereas if we leave the column as an integer, the result is as expected:
[code]

And here's the output of `sessionInfo()`, for reference:
[code]

Is anyone able to shed light on how this can be addressed? Thanks!

[2017-02-01 20:14] richierocks opened #464 "Results of ft_one_hot_encoder() are short by one state when input contains zeroes"
To reproduce, here is a data frame with 3 states, including zero.

[code]

Each vector in `y` has length 2, but it should have length 3, since there are three states.

Wherever `x = 2`, the vector contains all zeroes (which is not "one hot").

[2017-02-01 20:17] richierocks commented on #464
A related problem is that `ft_one_hot_encoder()` doesn't accept `integer` columns, which is odd, since the inputs must be whole numbers.  To see this, change the previous example to

[code]

I see the error

[code]

[2017-02-01 20:21] richierocks commented on #464
Likewise, the `ft_one_hot_encoder()` should probably support `character` and `factor` inputs, since the documentation explicitly talks about turning categorical features into continuous features.

[2017-02-01 20:34] kevinushey commented on #463
Thanks for the bug report! + reproducible example!

I think the issue here is we're not correctly marshaling the `NA` value used for `long` vectors to `double` (note that R does not have long integers, and so those are coerced to `double` -- this is obviously not ideal and may cause a loss in precision). There are probably two solutions for us here:

- Start using the [bit64](https://cran.r-projec

[2017-02-01 20:51] kevinushey commented on #464
That's just how the `OneHotEncoder` works. Typically, you need to use e.g. `ft_string_indexer()` to convert a string to a double type, then call `ft_one_hot_encoder()` on the generated column. (See also the example at https://spark.apache.org/docs/2.0.2/ml-features.html#onehotencoder).

Note that that the `ft_` interface here is relatively lower level -- it only allows you to do what you might do

[2017-02-01 21:40] richierocks opened #465 "ft_binarizer() adds numeric field rather than logical"
After calling `ft_binarizer()`, the output column is of type `DoubleType`. I expected it to be `BooleanType`, since the whole point is to convert a continuous variable into one with two states.

I guess that that behavior is to match Spark routine. If so, I don't know whether the best thing is to change the behavior to be more natural and return a `BooleanType`, or to keep the behavior and documen

[2017-02-01 21:44] kevinushey commented on #465
Note that even modeling functions that expect 'binary' columns still want a 'double' type, hence why this is the default Spark behavior. (We do more work in our modeling routines to ensure that inputs and outputs are of the expected type, however)

[2017-02-01 22:00] richierocks commented on #465
@kevinushey OK, maybe it just needs an example in the `?ft_binarizer` page to explain why it works the way it does.

[2017-02-01 22:03] richierocks commented on #464
OK, maybe this is another thing that just needs some documentation to explain that although it looks weird from an R point of view, it makes sense from a Spark perspective.

[2017-02-01 22:46] dsblr opened #466 "/tmp/hive on HDFS should be writable error"
Hi Team,
I am getting the following error while trying to copy data. Please help to resolve the issue.

Error: java.lang.reflect.InvocationTargetException
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:62)
	at sun.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingCo

[2017-02-02 00:42] nuna-evan commented on #463
Thanks for the quick response @kevinushey! I would tend toward using the bit64 package myself since the loss of type and precision has been problematic for us as well. Do you have a sense of a general timeline for when this issue could be resolved?

[2017-02-02 14:00] richierocks opened #468 "Need ability to control boundaries in ft_quantile_discretizer()"
If I call `ft_quantile_discretize()` on a continuous variable, I get one more bucket than I asked for, with the largest value in its own bucket.

To reproduce:

[code]

The results look like this:

[code]

It looks like values on the boundaries aren't being handled sensibly. I guess this is just how Spark calculates things, but it would be nice to have some control over this.

[2017-02-02 19:16] codingbutstillalive commented on #81
That's great! I am also still hoping for it. Would be a really great addition.

[2017-02-03 09:26] iamkbpark commented on #112
Dear Team:

Based on the clear example of `ml_lda()`, now I can successfully fit the model with my data. Compared to the fitting speed of `LDA()` from `topicmodels` package in my single PC, it is such an amazing experience as a novice user of `Spark` & `SparklyR`. I do appreciate that.

Since I am `R`-myopic user and have only got accustomed to use `LDA()` from `topicmodels`, several questions sti

[2017-02-03 23:36] javierluraschi commented on #454
@niklasvm Thank you for the heads up, again! For anything urgent, feel free to drop me a ling to javier at rstudio.com. Pushing a fix now.

[2017-02-03 23:44] #454 closed

[2017-02-04 14:50] iamkbpark opened #471 "[ml_lda()] Some Fundamental Question after Fitting ml_lda()"
Dear Team:

Based on the clear example of ml_lda(), now I can successfully fit the model with my data. Compared to the fitting speed of LDA() from topicmodels package in my single PC, it is such an amazing experience as a novice user of Spark & SparklyR. I do appreciate that.

Since I am R-myopic user and have only got accustomed to use LDA() from topicmodels, several questions still remain unansw

[2017-02-05 17:21] aaroncwhite commented on #277
I was experiencing a similar issue.  I removed the metastore_db and derby.log files in the working directory and then was able to use copy_to() without an issue.

[2017-02-06 13:41] renegademonkey opened #472 "SparklyR only connecting to 2/6 workers on standalone spark cluster"
Hi there,

I've just finally managed to set up my stack to use RStudio to connect to a standalone spark cluster (with file storage in CassandraDB) via sparklyR.

The only issue I still haven't been able to resolve is how to get my sparklyR connection to utilise all the available worker nodes on cluster (there are 6 in total). Every time I connect, the Executor Summary page shows only 2 workers are

[2017-02-06 14:11] edgararuiz commented on #472
Hi @renegademonkey, can you try what's in this Stackoverflow article and let me know if it works for you? http://stackoverflow.com/questions/29955133/how-to-allocate-more-executors-per-worker-in-standalone-cluster-mode

There seems to be some changes that  can be made to the ```conf/spark-env.sh``` file that may be the last piece we need.

[2017-02-06 15:09] dustindall opened #473 "spark 2.1 R code execution error"
I've been testing out **spark 2.1/hadoop 2.7**. I'm able to connect to spark with no issues.  However, once I try to copy data to spark I get the following error in the console and a R execution error window.

**Error: Variables must be length 1 or 1.
Problem variables: 'database'**

![error](https://cloud.githubusercontent.com/assets/8218382/22650584/bc262620-ec34-11e6-897e-ed185eaa85f2.PNG)

The

[2017-02-06 15:39] renegademonkey commented on #472
Hi @edgararuiz - thanks for the prompt response!

I had previously looked at that, but changing the conf file on the cluster is not the problem - other Spark applications on the cluster (i.e. run from Java clients) have no problem accessing all 6 workers, and there are plenty of resources spare for sparklyR to use.

Any other ideas?

[2017-02-06 17:42] kevinushey commented on #473
I've seen this issue before as well; I believe it's a bug in the `tibble` package. Can you please post the output of `sessionInfo()`?

[2017-02-06 18:07] dustindall commented on #473
R version 3.3.2 (2016-10-31)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

locale:
[1] LC_COLLATE=English_United States.1252  LC_CTYPE=English_United States.1252    LC_MONETARY=English_United States.1252
[4] LC_NUMERIC=C                           LC_TIME=English_United States.1252

attached base packages:
[1] stats     graphics  grDevices utils     dataset

[2017-02-06 18:51] dustindall commented on #473
Forgot to add, I've tested the routine on spark 2.0.0, 2.0.1, 2.0.2, and 2.1.0 and only 2.1.0 throws the error.

[2017-02-06 18:58] kevinushey commented on #473
Interesting, thanks -- I'm not able to reproduce locally, although I've definitely seen issues of this form before.

Can you try reinstalling the `dplyr` and `tibble` packages? And updating any other packages if possible / appropriate?

[2017-02-07 23:41] dsblr commented on #346
Thanks @kevinushey

[2017-02-08 06:12] GitanjaliThete opened #475 "Error while connecting with spark with sparkly using RStudio with Kerberos enabled machines"
I have 2 machine clustor. I am trying to connect to spark. When I try to connect using R shell, It is working fine.
Getting following error from Rstudio.

Connection:

sc <- spark_connect(master="yarn-client",spark_home = "/usr/hdp/2.5.3.0-37/spark",
config = list(
default = list(
spark.submit.deployMode= "client",
spark.yarn.keytab= "path/keytab",
spark.yarn.principal= "user",
spark.executor.inst

[2017-02-08 16:02] joscani opened #476 "read sparkdataframes created with sparkr"
Hi everyone. I want to use sparkr and sparklyr together in my local machine, but
I can't read  a sparkdataframe using src_tbls() .

Here is my code. Spark version has been installed using spark_install from sparklyr. Any idea? thanks

[code]

[2017-02-08 17:22] kenahoo opened #477 "Error: Variables must be length 1 or 1."
I have an Amazon EMR cluster with RStudio 1.0.136, sparklyr 0.5.3.9000 (installed via `devtools::install_github()` today, so I believe it's at commit 78bbbf0162d8), and EMR release `emr-5.3.0` (including Spark 2.1.0 and R 3.2.2).

In a fresh RStudio session, I get the following error when I try to read from an S3 bucket:

[code]

I also get a dialog box that pops up when the call finishes:

<img w

[2017-02-08 18:02] kevinushey commented on #477
Any chance you can provide an example that reproduces the issue with a local Spark cluster running?

I'm fairly sure this is an issue caused by the `tibble` package; does updating / reinstalling that package make a difference?

What's your `sessionInfo()`?

[2017-02-08 19:02] kenahoo commented on #477
In the above example I used `master="local"`, do you mean something else by "local Spark cluster"?

Here's my `sessionInfo()`:

[code]

I'm at version 1.2 of `tibble`, which is the latest release.  Would you recommend a GitHub install?

[2017-02-08 19:42] kevinushey commented on #477
Sorry, I misread that! I'll try your repro case and see if I can figure out what's going on.

[2017-02-08 20:41] javierluraschi commented on #367
Looks like this needs to be re-investigated...

[2017-02-08 21:15] kenahoo commented on #477
Looks like I can trigger the same error by doing this:

[code]

My "Spark" pane in RStudio shows a "local" connection, but not a "local - sparklyr" connection, so I'm thinking that's the mismatch?

[2017-02-09 00:21] #447 closed

[2017-02-09 01:55] javierluraschi commented on #367
Pushed a fix for Spark 2.1.0 and Livy 0.3.0, this is working now on EMR:

From EMR (lateset version as of this writting):

[code]

From client:

[code]

[2017-02-09 02:17] javierluraschi commented on #367
From Emr emr-4.8.2:

[code]

[code]

[2017-02-09 12:45] vishalvpv commented on #401
We are facing the exact same problem. Would be great if there is a workaround.

[2017-02-09 13:41] renegademonkey commented on #472
Finally solved it! It was so simple and obvious I cannot believe I missed it.

The config file had the settings:

[code]
Which of course means it could not start more than 2 (5-core) executors, since the max number of cores the entire app was allowed was 12.

[2017-02-09 13:41] #472 closed

[2017-02-09 13:48] edgararuiz commented on #472
So is the new setting spark.cores.max: 30?

Thanks

Edgar Ruiz. Solutions Engineer. RStudio.com <https://www.rstudio.com/>| edgar@rstudio.com <mailto:edgar@rstudio.com>(228)-697-9248 | LinkedIn <https://www.linkedin.com/in/edgararuiz>

[2017-02-09 15:48] renegademonkey commented on #472
yes. and THEN sparklyr sets up 6 workers, one on each of the available cluster nodes.

[2017-02-09 21:40] richierocks commented on #473
I've just fallen over this problem as well.

To reproduce:

[code]

My `sessionInfo()` details:

[code]

[2017-02-09 21:58] javierluraschi commented on #477
@kevinushey this seems to only repro with `Spark 2.1.0`, the problem seems to be somewhat related with `sdf_collect` since one of the columns returns a `character(0)` for the `database` field while the others return entries, I have not looked into this further than this. I think this is enough to reproduce:

[code]

[2017-02-09 22:12] javierluraschi commented on #476
Hi @joscani! `sparklyr` and `SparkR` use different backends and are quite different, for instance, `SparkR` stores RDDs as R binaries while `sparklyr` stores them as JVM binaries (through Scala). Therefore, there is currently no direct way to read dataframes directly and any workaround will have a memory transformation cost.

However, to shared them indirectly you can definitely persist them in Sp

[2017-02-09 23:09] kevinushey commented on #477
Okay, I've found the issue -- it's indeed a problem in `sparklyr` whereby a column containing a single empty string is turned into an empty vector. I'll get this fixed!

[2017-02-09 23:34] kevinushey commented on #477
Should be fixed with https://github.com/rstudio/sparklyr/commit/355810e3e2bdc74cb79ce30835876be007b69e35 -- thanks for reporting!

[2017-02-10 00:17] jukiewiczm opened #479 "Easy way to run Scala code within sparklyr?"
Hello,
I have question regarding running custom Scala code through sparklyr. I wanted to integrate the Scala code I have already written with some additional R/sparklyr code. Basically, my Scala code creates some DataFrames which I would like to preprocess later in sparklyr.

Is there a clean way to do this?

Thanks

[2017-02-10 02:33] jjcad opened #480 "Include Spark Versions in DESCRIPTION"
Similar to the [curl](https://github.com/jeroenooms/curl) package, please include the version of Spark supported by the `sparklyr` release in the DESCRIPTION file.  `curl` handles this using the `SystemRequirements` field (line 20).

[2017-02-10 05:05] kenahoo commented on #477
Cool, thanks for the quick turnaround.

[2017-02-10 06:11] chezou commented on #144
I found it depends on dplyr behavior. dplyr assumes the second argument of `tbl()` is only for the table name and it doesn't handle database name.

https://github.com/hadley/dplyr/blob/master/R/sql-escape.r#L241-L248

[2017-02-10 06:47] #477 closed

[2017-02-10 06:48] kevinushey commented on #473
Should be fixed with https://github.com/rstudio/sparklyr/commit/355810e3e2bdc74cb79ce30835876be007b69e35 -- please install the development version and let us know if you still see any issues.

[code]

[2017-02-10 06:48] #473 closed

[2017-02-10 10:24] bboychencan opened #482 "No FileSystem for scheme: s3n"
When I tried to use sparklyr to read parquet file from s3 bucket, the following error is reported.
I tried spark_install(version = "2.0.0") and spark_install(version = "2.1.0"), neither of them works.

Error: java.io.IOException: No FileSystem for scheme: s3n
	at org.apache.hadoop.fs.FileSystem.getFileSystemClass(FileSystem.java:2644)
	at org.apache.hadoop.fs.FileSystem.createFileSystem(FileSystem

[2017-02-10 13:56] dustindall commented on #473
Solution worked for me. Thanks for the fix!

[2017-02-10 14:43] richierocks opened #483 "Get rotated data from ml_pca()"
If I run a PCA using `stats::prcomp()`, I get the rotated data returned.  That is, a matrix where each row contains data for a row of input data, and each column contains data for a principal component.

For example,

[code]

If I use `ml_pca()`, I don't get this matrix back.

[code]

[2017-02-10 17:51] javierluraschi commented on #367
Closing for now until more info becomes available of missing version combinations.

[2017-02-10 17:51] #367 closed

[2017-02-13 08:14] BigZihao opened #485 "select() doesn't work in sparklyr"
Hi there, I am learning the example from tutorial (http://spark.rstudio.com/dplyr.html), but it give me error when I use select() in sparklyr:

sc <- spark_connect(master = "yarn-client",version = '2.0.0')
library(sparklyr)

[1] "airlines" "flights"  "nypd"

Error in (function (classes, fdef, mtable)  :
  unable to find an inherited method for function ‘select’ for signature ‘"tbl_spark"’

Why wil

[2017-02-13 13:44] edgararuiz commented on #485
Hi @BigZihao, I just tested this in a 'yarn-client' environment and it worked.  Could this be a package version issue?

Can you share with me the results of running ``` sessionInfo() ``` in your machine?

[2017-02-13 17:21] javierluraschi commented on #485
@BigZihao typo? `select(flights, year:day, arr_delay, dep_delay)` notice `:` between `year` and `day`.

[2017-02-13 17:30] javierluraschi commented on #482
@bboychencan You need to include the Amazon S3 package, with something similar to:

[code]

[2017-02-13 17:42] javierluraschi commented on #479
@jukiewiczm yes, we have an example here: https://github.com/javierluraschi/sparkhello

[2017-02-13 17:43] #480 closed

[2017-02-13 17:52] javierluraschi commented on #475
@GitanjaliThete are you using RStudio Server PRO? Kerberized sessions are only supported in the RStudio Server PRO. If that's the case, you would have to configure:

- /etc/pam.d/rstudio-original
- /etc/pam.d/rstudio-session
- /etc/rstudio/rserver.conf

For details, see http://docs.rstudio.com/ide/server-pro/r-sessions.html#kerberos - Has this been configured already?

[2017-02-13 19:23] jukiewiczm commented on #479
@javierluraschi Great, thanks! I believe I can close this one now. Thanks for your great work on sparklyr!

[2017-02-13 19:23] #479 closed

[2017-02-14 07:48] FinScience commented on #254
Hi,

Encountering a strange error. Can anyone please help. The following is the code that I ran
Sys.getenv("JAVA_HOME")
[1] "C:\\Program Files\\Java\\jre1.8.0_121"

spark_installed_versions()
  spark hadoop                        dir
1 1.6.2    2.6  spark-1.6.2-bin-hadoop2.6
2 1.6.2   2.67 spark-1.6.2-bin-hadoop2.67

spark_install_dir()
[1] "C:\\Users\\aj050737\\AppData\\Local\\rstudio\\spark\\Cac

[2017-02-14 10:40] GitanjaliThete commented on #475
Thank javierluraschi!

Yes, I installed RStudio Server Pro 1.0.136 on CentOS. Also configured following files for PAM
Still not able to connect. Please let me know in case made some mistake.

/etc/pam.d/rstudio
#%PAM-1.0
auth sufficient pam_rootok.so
session required pam_env.so readenv=1
session required pam_env.so readenv=1 envfile=/etc/default/locale
session required pam_limits.so
@include commo

[2017-02-14 14:43] PecoE opened #487 "can't "copy_to" large datasets"
I try to copy somewhat large (~800MB) datasets into a Spark-Dataframe for benchmarking purposes. The data consists of one column with random numbers. Everything works well with smaller datasets, but at a specific point I just get the progressbar in the commandline, which goes up to 100% and then nothing happens anymore. I am working on a server with 100+ GB Memory, and 16 cores. I even tried to sp

[2017-02-14 18:24] BigZihao commented on #485
Hi @edgararuiz , I am running on EMR on AWS, I create the cluster using the following aws cli:

aws emr create-cluster --applications Name=Hadoop Name=Spark Name=Hive Name=Pig Name=Tez Name=Ganglia \
--release-label emr-5.2.0 --name "EMR 5.2.0 RStudio + sparklyr" --service-role EMR_DefaultRole \
--instance-groups InstanceGroupType=MASTER,InstanceCount=1,InstanceType=m3.2xlarge \
InstanceGroupType=

[2017-02-14 18:27] BigZihao commented on #485
Hi @javierluraschi , this is not a typo, it means select column to "year" to column "day", and it is copy from the tutorial  http://spark.rstudio.com/dplyr.html

I am wondering what is the Error mean, why there's no inherited method for function ‘select’ for signature ‘"tbl_spark"’

[2017-02-14 18:29] BigZihao commented on #485
Hi @javierluraschi this is not typo, I believe it means select column "year" to column "day", and it is copy from the tutorial (http://spark.rstudio.com/dplyr.html)

I am wondering what is the Error mean, why there's no inherited method for function ‘select’ for signature ‘"tbl_spark"’ ?

[2017-02-14 20:03] javierluraschi commented on #485
@BigZihao Right! I totally forgot about the use of `:`, yes, that's no typo.

However, there is something missing in your steps, I just tried this over EMR successfully:

[code]

[code]

Some thoughts, this error could happen if `flights` from `flights <- copy_to(sc, flights, "flights")` gets it's class modified. In general, I would recommend renaming the object, say as `flights_tbl <- copy_to(sc,

[2017-02-14 22:37] javierluraschi commented on #487
@PecoE a new fix improves `copy_to` speed specifically in `yarn_client`. Could you try with the latest version of `sparklyr`? To install the latest development version you can run:

[code]

[2017-02-15 01:18] ericbrownaustin opened #490 "Receiving Error when trying to use copy_to() function"
I have gone through the steps to install in the tutorial on `http://spark.rstudio.com/` but once I try to use the copy_to() command, I receive the following error:

`Error: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 0.0 failed 1 times, most recent failure: Lost task 0.0 in stage 0.0 (TID 0, localhost): java.io.IOException: No FileSystem for scheme: C
	at org

[2017-02-15 06:28] FinScience opened #491 "Installation and copy_to errors"
Hi,
I plan to use sparklyr. However, I am getting errors which I am unable to resolve. I have followed the steps mentioned in http://spark.rstudio.com/

On trying to create the spark context the following messages are being shown

Warning messages:
1: In value[[3L]](cond) :
  java.lang.RuntimeException: java.lang.NullPointerException
	at org.apache.hadoop.hive.ql.session.SessionState.start(Session

[2017-02-15 17:06] ericbrownaustin commented on #490
Would installing any of the more recent versions of Spark resolve the issue in the meantime?

[2017-02-15 20:33] javierluraschi commented on #491
@FinScience could you retry using the following code?

[code]

[2017-02-15 20:52] FinScience commented on #491
@javierluraschi . Thanks for the reply. But the issue still persists. Is there any problem with the JAVA in my machine? Or something similar?

[2017-02-15 21:04] javierluraschi commented on #491
@FinScience Could you try removing the `sparklyr` package first? I doesn't seem that is picking up the change, so run something like:

[code]

Followed by:

[code]

You should see a log like this one:

<img width="487" alt="screen shot 2017-02-15 at 1 02 09 pm" src="https://cloud.githubusercontent.com/assets/3478847/22995249/ff64d480-f37e-11e6-9a1f-58f8f216396e.png">

To give you some context, the

[2017-02-15 21:11] FinScience commented on #491
@javierluraschi . Tried this as well. Sharing the screen shot here. Just to bring a bit of perspective to the discussion, before going ahead with sparklyr, I had tried installing spark on my system through CMD. I just hope that there is no contention between the two.
![image](https://cloud.githubusercontent.com/assets/11004504/22995556/58905e86-f3f1-11e6-8cfe-01f2c85b8bc2.png)

[2017-02-15 21:24] javierluraschi commented on #491
@FinScience Great! From the logs, the culprit is this:

`The trust relationship between this workstation and the primary domain failed.`

Some other community user already hit this problem, see: https://github.com/rstudio/sparklyr/issues/277

The fix for them was to leave and rejoin the domain.

[2017-02-15 21:42] FinScience commented on #491
@javierluraschi , Thanks for going through the logs. I went through the entire discussion in #277,and deleted the file derby.txt and folder metastore_db from my working directory. Could you please be a bit more specific regarding leaving and rejoining the domain. I mean what exactly do I need to do in order to execute this.

[2017-02-15 21:44] javierluraschi commented on #491
@FinScience couple question to help with the domain: Which version of windows you are using? Is this a personal computer or a work computer?

[2017-02-15 21:45] javierluraschi commented on #491
@FinScience See this step-by-step approach from the Microsoft support article: https://support.microsoft.com/en-us/help/2771040/-the-trust-relationship-between-this-workstation-and-the-primary-domain-failed-error-when-you-log-on-to-a-computer-that-is-running-windows-7

[2017-02-15 21:51] FinScience commented on #491
@javierluraschi . Thanks for the reply. However, I will not be able to do this since there are restrictions regarding this set by my employer. Still, thanks a lot for taking time to respond to my queries. Keep up the great work!!

[2017-02-15 21:57] javierluraschi commented on #491
@FinScience thanks! I would mention your IT administrators that one of the applications you are using is hitting this error windows error: `FindFileOwnerAndPermissions error(1789): The trust relationship between this workstation and the primary domain failed.`, they would be better equipped to help you resolve this. Good luck!

[2017-02-15 21:57] #491 closed

[2017-02-15 22:33] DavisVaughan opened #495 "Long converted to numeric when using invoke_new()"
I need to pass a `long` Java object as a parameter to another constructor. However, since R has no long type, the Java long object is converted to a numeric. How can I go about this? Here is a reproducible example.

[code]

I tried using the `rJava` function `.jlong` which supposedly creates a wrapper around the numeric so that it can be passed as a long parameter, but that does not work either.

[2017-02-16 05:39] henrikhch commented on #298
Hi, I have the same issue even running logistic regression on a dataset of 6 features.

[2017-02-16 10:06] FinScience commented on #491
@javierluraschi - Thanks for the help. The issue has been resolved and I am able to create spark context. Hope to put this to good use :)

[2017-02-16 16:00] adder opened #496 "temporary spark_serialize_*.csv files don't get deleted"
Dear.
I'm using sparklyr to read hunderds of txt files process in R, copy the resulting dataframe into spark memory and write them to a parquet file.
Sparklyr creates this intermediate spark_serialize_*.csv files in the  /tmp folder in root.
However these files don't get deleted after the data is loaded into file.
Ofter 100's of files these add up to gigabytes and I run out of disk space in my roo

[2017-02-16 16:04] edgararuiz commented on #496
Do the files remain after you close the Spark session (spark_disconnect)?

[2017-02-16 16:16] adder commented on #496
Thanks for the fast response,

Yes, the files remain after closing the spark connection.

[2017-02-16 16:20] edgararuiz commented on #496
ok, I'd suggest changing the path to the scratch folder to see this has to do with server access:

**spark.local.dir**	 /tmp	Directory to use for "scratch" space in Spark, including map output files and RDDs that get stored on disk. This should be on a fast, local disk in your system. It can also be a comma-separated list of multiple directories on different disks. NOTE: In Spark 1.0 and later thi

[2017-02-16 16:43] adder commented on #496
Hey,
I did the following:

[code]

But this did not help. The files written in this tmp folder by spark get indeed deleted when the spark connection is closed.
The `spark_serialize_*.csv` files however, are written in another tmp folder. I believe it's the R tmp folder (`/tmp/RtmpkkztvF`).
These files remain upon closing the spark connection.

[2017-02-16 19:09] #144 closed

[2017-02-16 19:24] ElianoMarques commented on #482
In the above example where do you specific the key and secret for aws?

[2017-02-16 19:32] javierluraschi commented on #491
@FinScience This is to great to hear! Would you mind sharing the resolution for this error `FindFileOwnerAndPermissions error(1789): The trust relationship between this workstation and the primary domain failed.`? What did you have to do to get past this problem?

I'm asking to help the rest of the community from your investigation.

[2017-02-16 19:34] ElianoMarques commented on #144
Great stuff thanks

[2017-02-16 20:12] edgararuiz commented on #482
Hi @ElianoMarques , you can  add them as environment vars:
[code]

[2017-02-16 23:46] dsblr opened #497 "sparklyr error may be due to tmp/hive settings"
Hello Sparklyr team,
I would like to draw your attention for the error I am getting. Because this is the error most of the people are getting when they work behind the corporate fire wall.

Error:

library(sparklyr)
sc <- spark_connect(master = "local",spark_home = "C:\\Users\\user1\\AppData\\Local\\rstudio\\spark\\Cache\\spark-2.0.1-bin-hadoop2.4\\",hadoop_version = "2.4")
t1 <- copy_to(sc,iris)

[2017-02-17 00:46] ericbrownaustin commented on #490
Installed the dev version of sparklyr.  Seems to be working now.

[2017-02-17 01:38] javierluraschi commented on #490
@ericbrownaustin thanks for trying that out! A patch is being pushed to CRAN, it takes about two days to replicate but once is pushed you should be able to install this from CRAN as well. Thank you much for reporting this and validating the fix!

[2017-02-17 01:48] javierluraschi commented on #497
@dsblr I was not able to reproduce this, I follow your steps and then ran `setwd("C:/")`, could you share the command you are using to change the working directory?

Also, we've increased logging under windows, so could you kindly try the following?

[code]

[2017-02-17 05:30] dsblr commented on #497
setwd("D:\models\pr1\")       ##changing the working directory
sc <- spark_connect(master = "local",spark_home = "C:\Users\user1\AppData\Local\rstudio\spark\Cache\spark-2.0.1-bin-hadoop2.4\",hadoop_version = "2.4")             ##successful
t1 <- copy_to(sc,iris)
after this step I am getting error, which is mentioned above.

[2017-02-17 06:52] adder commented on #496
Great! Thanks a lot!

[2017-02-17 07:03] FinScience commented on #491
HI,

The trick was leaving and joining the domian again.

Thanks

On Fri, Feb 17, 2017 at 1:02 AM, Javier Luraschi <notifications@github.com>
wrote:

[2017-02-17 17:15] javierluraschi commented on #414
@jwijffels @weibogit please try with the latest version of `sparklyr`, this was a regression introduced during January that is now resolved. It affected Windows systems and Spark 1.6.

[2017-02-17 17:15] #414 closed

[2017-02-17 17:15] javierluraschi commented on #410
@cici20052016 @vijayzutshi please try with the latest version of `sparklyr`, this was a regression introduced during January that is now resolved. It affected Windows systems and Spark 1.6.

[2017-02-17 17:18] javierluraschi commented on #398
@gbortz27 this error `No FileSystem for scheme: C` is now fixed with the latest version of `sparklyr`, this was a regression introduced during January that is now resolved. It affected Windows systems and Spark 1.6.

Looks like the comment you provided on `January 1st` got you to the `No FileSystem for scheme` error, if you follow those same steps, this error should not be present anymore.

Feel f

[2017-02-17 17:18] #398 closed

[2017-02-17 17:19] #490 closed

[2017-02-17 17:23] javierluraschi commented on #305
@dsblr @monicarodguev there was a problem in last release affecting Windows and Spark 1.6, this is now solved in CRAN so please upgrade to the latest version of `sparklyr` to avoid this `java.io.IOException: No FileSystem for scheme` error, thank you for the detail report on this, really appreciated!

[2017-02-17 17:23] #305 closed

[2017-02-17 17:27] javierluraschi commented on #491
For reference to the `sparklyr` community, to upgrade to this fix is enough to:

[code]

[2017-02-17 17:28] javierluraschi commented on #490
For reference to the `sparklyr` community, to upgrade to this fix is enough to:

[code]

[2017-02-17 17:28] javierluraschi commented on #414
To upgrade to this fix is enough to:

[code]

[2017-02-17 17:28] javierluraschi commented on #410
To upgrade to this fix is enough to:

[code]

[2017-02-17 17:28] javierluraschi commented on #398
To upgrade to this fix is enough to:

[code]

[2017-02-17 17:28] javierluraschi commented on #305
To upgrade to this fix is enough to:

[code]

[2017-02-17 19:37] jwijffels commented on #414
thanks!

[2017-02-17 22:11] ggittu opened #499 "Unable to submit job using livy in yarn mode"
Trying to connect to a remote server using livy
config <- livy_config(user = "xxxx", password = "yyy")
sc <- spark_connect(master = "http://livy-host-url:xxxx",
                    method = "livy",
                    app_name = "sparklyr",
                    config = config)

The job gets submitted to the remote cluster, but its getting submitted in local spark mode in cluster. Is it possible to

[2017-02-18 05:09] KarthiAru commented on #287
@javierluraschi thanks for the solution. `512mb` worked for me.

[2017-02-18 17:35] kevinykuo opened #502 "sparklyr and SparkR - the future?"
Just checked out @nwstephens's [talk](https://www.youtube.com/watch?v=oItFZfzqqMY) at Spark Summit East where he answers some questions regarding sparklyr vs. SparkR towards the end. I've been thinking about this and am just a little bit concerned about how things might play out.

While I'm a fan of having different ways to solve a problem, sometimes it gets in the way of collaboration. As an exam

[2017-02-18 17:40] kevinykuo commented on #475
Try opening up a terminal from within the browser (tools -> shell?) and run `kinit`

[2017-02-18 18:17] yarrick19 commented on #176
@kevinushey
Hi Kevin, just wanted to circle back on this one and see if you've been able to come up with a solution for this.

[2017-02-18 20:00] vijayzutshi commented on #410
Hi Javier,

Thanks for your reply. I have done what you advised. So I removed sparklyr and reinstalled, but unfortunately it still gives me an error. The error is as follows:-

sc <- spark_connect(master = "local")
Error in spark_version_from_home(spark_home, default = spark_version) :
  Failed to detect version from SPARK_HOME or SPARK_HOME_VERSION. Try passing the spark version explicitly.
In ad

[2017-02-18 20:02] PecoE commented on #487
@javierluraschi Thanks for the reply. I am already working with sparklyr V0.5.1. I tried to do the command with gradually growing datasets, and at about 40MB, it stops working and at that point, it gives me an error. Unfortunatly, I can't reproduce the error right now. If I come across it again, I will paste it here if you want. But basically it says, that the memory alocated is to low, and that I

[2017-02-19 09:17] niketdoshi commented on #485
Select is behaving abnormally in my case. It's returning only one column no matter how many I select.

    library(doMC)
    library(dplyr)
    library(sparklyr)

    if(Sys.getenv("SPARK_HOME") == "")
    Sys.setenv(SPARK_HOME="~/Library/Caches/spark/spark-2.1.0-bin-hadoop2.7")

    # Spark configuration
    config <- spark_config()
    config$`sparklyr.shell.driver-memory` <- "8G"
    config$`sp

[2017-02-20 04:50] yijutseng commented on #288
@dsblr
I got the same error message when I use spark version 2.0.0 & sparklyr 0.5.3-9002.
However, after installing spark version 2.1.0, everything goes well.

`library(sparklyr)`
`library(dplyr)`
`spark_install(version = "2.1.0")`
`sc <- spark_connect(master = "local", version = "2.1.0")`

My session info:
R version 3.3.2 (2016-10-31)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windo

[2017-02-20 10:01] GitanjaliThete commented on #475
It is working after kinit. Thanks :)

[2017-02-20 10:01] #475 closed

[2017-02-20 15:30] prbhadra commented on #295
Hi,
I have installed Spark 2.1.0 and configured the Winutils, HADOOP_HOME, SPARK_HOME as advised.

I am facing problem connecting the spark instance. Please find the log below and suggest:

               _
platform       x86_64-w64-mingw32
arch           x86_64
os             mingw32
system         x86_64, mingw32
status
major          3
minor          3.2
year           2016
month          10
da

[2017-02-20 15:36] prbhadra commented on #229
Hi,
I have installed Spark 2.1.0 on windows 10 and configured the Winutils, HADOOP_HOME, SPARK_HOME as advised.

I am facing problem connecting the spark instance. Please find the log below and suggest:

version
_
platform x86_64-w64-mingw32
arch x86_64
os mingw32
system x86_64, mingw32
status
major 3
minor 3.2
year 2016
month 10
day 31
svn rev 71607
language R
version.string R version 3.3.2 (2016

[2017-02-20 17:56] JohnMount opened #503 "Altering captured reference damages spark results."
If you use a variable in `dplyr::mutate()` against a `sparklyr` data source the lazy eval captures references to user variables.  Changing values of those variables implicitly changes the `mutate` and changes the values seen in the `sparklyr` result (which is itself a query).  This can be worked around by dropping in `dplyr::compute()` but it seems like it can produce a lot of incorrect calculatio

[2017-02-20 18:29] JohnMount opened #505 "Feature request: dplyr::bind_rows for sparklyr"
It would be nice if `dplyr::bind_rows` could be a used on `Sparklyr` data handles.

Short example (and long description of data environment) below.

OSX 10.11.6. Spark installed as described at <http://spark.rstudio.com>

    library('sparklyr')
    spark_install(version = "2.0.0")

[code]

-   Expected outcome: dplyr::bind\_rows to work with `Sparklyr` data reference.
-   Observed outcome: can't

[2017-02-20 18:37] JohnMount commented on #505
Sorry, this appears to duplicate  https://github.com/rstudio/sparklyr/issues/76

[2017-02-20 18:37] #505 closed

[2017-02-20 19:00] JohnMount opened #506 "head(d, n=1) has problems on sparklyr (possibly due to blank values)"
### head(d, n=1) has problems on sparklyr (possibly due to blank values)

head(d, n=1) errors out (I think due to blank values).  Short example (and long description of environment) below.

OSX 10.11.6. Spark installed as described at <http://spark.rstudio.com>

    library('sparklyr')
    spark_install(version = "2.0.0")

[code]

[code]

[code]

[2017-02-20 21:33] JohnMount opened #507 "union and union_all appear to ignore column names on sparklyr"
### Union order issue

spark and local data fames seem to have different union and union_all semantics (spark appears to use column indexes, and local seems to use column names).  Please see below for  a short example (and long documentation of environment).

[code]

-   Expected outcome: dplyr::union and dplyr::union\_all should match columns.
-   Observed outcome: matches columns on local data f

[2017-02-21 00:35] admoseremic opened #508 "ClassNotFoundException when running spark_connect"
Hi, just trying to follow the steps as per spark.rstudio.com, and I keep getting the following:

Error in force(code) :
  Failed while connecting to sparklyr to port (8880) for sessionid (9497): Gateway in port (8880) did not respond.
    Path: /Users/tpaulsen/Library/Caches/spark/spark-1.6.2-bin-hadoop2.6/bin/spark-submit
    Parameters: --class, sparklyr.Backend, --jars, '/Library/Frameworks/R.f

[2017-02-21 00:39] edgararuiz commented on #508
Hi @admoseremic , did you set up you JAVA_HOME environment variable?

[2017-02-21 02:56] admoseremic commented on #508
@edgararuiz : I think so.  Doing an echo $JAVA_HOME gives me /Library/Java/Home

[2017-02-21 03:45] edgararuiz commented on #508
Can you try this?

[code]
Definitely pass the version you wish to use

[2017-02-21 04:00] kevinushey commented on #507
Thanks for the reproducible example! It looks like the SQL generated here is as so:

[code]

It seems like the problem here occurs because the columns in `s1` and `s2` aren't in the same order, which makes me think this must be a bug in Spark (surely the column order shouldn't matter?)

[2017-02-21 04:04] kevinushey commented on #506
Thanks for the reproducible bug report! It appears that this issue is partially resolved with the current development version of `sparklyr`; I see:

[code]

However, the value has been transformed from being an empty string to an `NA` value, so we're not quite there yet.

[2017-02-21 04:07] kevinushey commented on #503
Thanks for the reproducible bug report!

It looks to me like this is a bug in `dplyr` -- the lazy evaluation performed doesn't capture the value of `v` when the query is generated, and so every time the query is 'rendered' it looks up what the current value of `v` is.

[2017-02-21 04:11] dsblr commented on #437
@javierluraschi
I am using ml_random_forest for a classification model building. Could you please help me with the model parameter to control the **sample size**

[2017-02-21 04:13] kevinykuo commented on #507
http://stackoverflow.com/questions/32705056/what-is-going-wrong-with-unionall-of-spark-dataframe

R seems to treat this a bit differently than standard SQL, but perhaps we should tweak the behavior in sparklyr or at least throw a warning?

[2017-02-21 04:20] kevinykuo commented on #401
@learndm @vishalvpv try getting the kerberos ticket via `kinit` issued through the shell inside RStudio (Tools -> Shell...)

[2017-02-21 04:25] kevinushey commented on #502
Some of the main motivations behind why we decided to write `sparklyr`, rather than contribute to `SparkR`:

1. SparkR, rather than implementing the dplyr interface (e.g. defining S3 methods for `mutate()` and friends), chooses to override / mask those functions with their own equivalents. We felt sticking with S3 and implementing methods for `mutate()` and friends fits better with the `dplyr` / t

[2017-02-21 04:33] kevinushey commented on #507
Would it be acceptable to just transform `y` such that is has the same column order as `x`, or would this be surprising / unwarranted to users with more experience with SQL?

(How often do users perform a SQL `UNION` with the intention of union-ing columns based on order, rather than names? Is it common for users to manually re-order the tables before joining?)

[2017-02-21 04:52] kevinykuo commented on #507
Probably should leave this as is, if anything maybe include something in the dplyr code warning users about the discrepancy. See https://github.com/hadley/dplyr/issues/1045.

[2017-02-21 04:53] javierluraschi opened #509 "Counting records in dplyr seems to trigger two jobs"
Counting records in dplyr seems to trigger two jobs when a single one should be enough, opening this issue to investigate further.

<img width="500" alt="screen shot 2017-02-20 at 8 49 08 pm" src="https://cloud.githubusercontent.com/assets/3478847/23151229/201cfaa8-f7ae-11e6-8bac-b75ce5a56200.png">

[2017-02-21 06:03] JohnMount commented on #507
Part of the issue is there does not appear to be a bind_rows for sparklyr- so one is forced to make due with union.  An R user is going to expect some adaption and R-like semantics through a "dplyr interface."

[2017-02-21 06:09] JohnMount commented on #503
Sounds good, I have copied the content over to https://github.com/hadley/dplyr/issues/2455 .

[2017-02-21 06:35] javierluraschi commented on #499
@ggittu Could you set `spark.master` to `yarn-client` in `spark-defaults.conf`?

Notice that `sparklyr 0.5` does not currently support `yarn-cluster` mode, but `yarn-client` is sufficient for most configurations.

[2017-02-21 11:37] MarcinKosinski commented on #175
This is still a case

[2017-02-21 13:12] learndm commented on #401
Thanks @kevinykuo, after typing the statements below within the shell called inside Rstudio I have been able to start the spark context:

$ cd ${HOME}/.config
$ ktutil
ktutil: addent -password -p userxxxxx@YOURHOST.COM -k 1 -e rc4-hmac
ktutil: addent -password -p userxxxxx@YOURHOST.COM -k 1 -e aes256-cts-hmac-sha1-96
ktutil: addent -password -p userxxxxx@YOURHOST.COM -k 1 -e arcfour-hmac
ktutil: w

[2017-02-21 15:05] admoseremic commented on #508
Here's what I get:

`Error in force(code) :
  Failed while connecting to sparklyr to port (8880) for sessionid (4045): Gateway in port (8880) did not respond.
    Path: /Users/tpaulsen/Library/Caches/spark/spark-2.1.0-bin-hadoop2.7/bin/spark-submit
    Parameters: --class, sparklyr.Backend, '/Library/Frameworks/R.framework/Versions/3.3/Resources/library/sparklyr/java/sparklyr-2.1-2.11.jar', 8880,

[2017-02-21 15:58] JohnMount commented on #503
Look like that it this is known in https://github.com/hadley/dplyr/issues/2370 and fixed in the dev versio of dplyr.

[2017-02-21 15:58] #503 closed

[2017-02-21 21:06] edgararuiz opened #511 "Investigate 'top_n' command performance"
Tried to use 'top_n' against a tbl_spark table and it seems to be taking longer than needed.  Need to find out if this is limited to GitHub or if CRAN's version is also affected

[2017-02-22 00:26] ggittu commented on #499
@javierluraschi I did set spark.master to yarn-client, but still it is connecting in local mode. Am I still missing something?
Is there a way to submit yarn job to a remote spark cluster without using livy ?

[2017-02-22 02:25] edgararuiz commented on #499
Hi @ggittu, just curios, what steps did you take to install Livy in that cluster?

[2017-02-22 05:23] prasannmodi opened #512 "Remove column from sparklyr dataframe in R"
[code]

Note:
How to remove species column from sparklyr dataframe, what is the syntax for it.

[2017-02-22 06:45] niklasvm opened #513 "Installation issue on Windows"
I have just tried to install the latest development version with

[code]
and am getting the following error:
[code]

I am usually able to install development versions without issue.

I was able to install this version on a linux machine successfully.

[2017-02-22 08:06] niklasvm commented on #482
I am receiving a similar error. I have managed to get it to work with spark version 2.0.0 and hadoop version 2.3 after adding the key and secret as environment variables.

Is there a reason why it only works for the above versions?

[2017-02-22 14:36] BigZihao commented on #485
Hi @javierluraschi ,

I closed my EMR, so I cannot trace back what I did getting those error. And I tried few times since you answered last time, they all give right answer as you do. I still don't know why I got the error back then but it works perfect fine now.

Thank you so much, I will close the issue.

[2017-02-22 14:50] edgararuiz commented on #482
Hi try adding the following package:

org.apache.hadoop:hadoop-aws:2.7.3

This is main package needed to read S3 data

Also, I'd recommend using s3a instead of s3n for your file path

On Wed, Feb 22, 2017 at 2:06 AM Niklas von Maltzahn <
notifications@github.com> wrote:

[2017-02-22 14:59] ggittu commented on #499
@edgararuiz We are using Hortonworks Stack, installation is pretty much straight forward. All other services say zeppelin is connecting in yarn mode via livy.

[2017-02-22 16:22] AkhilNairAmey commented on #444
@javierluraschi - how could I select multiple columns?

[2017-02-22 17:24] niklasvm commented on #482
@edgararuiz thank you that does work. What is the difference between s3n and s3a? Also, how do I go about adding more than one package. i.e. org.apache.hadoop:hadoop-aws:2.7.3 and com.amazonaws:aws-java-sdk-pom:1.10.34 ?

[2017-02-22 17:26] javierluraschi commented on #499
@ggittu Looks like in Hortonworks, Zeppelin might be the one starting Livy so you might need to change the Zeppelin config or start Livy standalone yourself? See https://community.hortonworks.com/questions/50886/livy-server-with-yarn-cant-connect.html

From a standalone Livy confix, setting `spark.master` should be enough, see: https://issues.cloudera.org/browse/LIVY-29

Does this help?

[2017-02-22 17:32] javierluraschi commented on #485
@niketdoshi could you retry with the latest build? We did have a regression a few days ago so perhaps you have an older build?

[code]

@BigZihao I agree, feel free to close this one. If you have a chance, adding a couple more `dplyr` tests for the database name feature would help a lot: https://github.com/rstudio/sparklyr/blob/master/tests/testthat/test-dplyr.R

[2017-02-22 17:36] javierluraschi commented on #512
@prasannmodi are you looking for this?

[code]

[code]

[2017-02-22 17:39] javierluraschi commented on #508
@admoseremic See comment and resolution from https://github.com/rstudio/sparklyr/issues/306

[2017-02-22 17:55] edgararuiz commented on #482
Great!

s3a is to access the 'acceleretaded' version of s3 which should be faster

To add more than 1 package use list() to enumerate them, although from
testing Ive done the hadoop-aws package is all you'll need, unless you have
additional  goals

On Wed, Feb 22, 2017 at 12:24 PM Niklas von Maltzahn <
notifications@github.com> wrote:

[2017-02-22 18:17] kevinykuo commented on #507
Right, I think this comes down to the lack of `bind_rows`, and we should be good when that's implemented, which isn't possible until https://github.com/hadley/dplyr/issues/2457 has been resolved.

[2017-02-22 20:11] eijoac commented on #379
Thanks. Adding `sparklyr.shell.driver-memory` and `sparklyr.shell.executor-memory` worked (in my case, it is standalone cluster mode). I wonder why it worked? Does copy_to use Spark shell?

[2017-02-22 20:30] ggittu commented on #499
@javierluraschi Livy is separated from zeppelin in hortonworks stack or in other words Livy have no dependency with zeppelin( it is running by itself). I just mentioned about zeppelin just to point out that other services can make use of the livy server to run in yarn-client mode. To make sure I even tried to submit job to livy using rest API and it works in yarn-mode. And our spark.master is set

[2017-02-22 21:02] kevinykuo opened #514 "Weird serialization behavior in mutate"
Something seems off here
[code]

[2017-02-22 21:40] kevinykuo commented on #514
Actually it's doing what it's supposed to be doing; just different from what R does locally. Never thought to try this with other database backends.
[code]

[2017-02-22 22:31] kevinykuo opened #515 "Do we need to worry about nullability of columns?"
Are there situations where we want to be careful about this?

Current behavior:

[code]

[2017-02-23 10:12] niketdoshi commented on #485
Hi @javierluraschi, thanks for the reply.

I was trying it with the latest build of `sparklyr`. I think the problem was with the latest build of `dplyr`. When I reinstalled the CRAN version of dplyr, it worked fine.

Do you think it could be an issue?

[2017-02-23 20:31] kevinushey commented on #515
Right now, 'null' is treated the same as missing / `NaN` by `sparklyr`, as R does not have a way of representing NULL values within atomic vectors. This was necessary to ensure faster serialization, but does imply a lost of information re: the distinction between null and `NA`.

[2017-02-23 20:51] prbhadra commented on #205
Hi,
I am new to Spark and Cassandra integration using R. I am wandering how do we pass the cluster IP, user ID and password to connect to a specific keyspace.

I am ok until here 👍
sc <- sparkR.session(master = "local"",
                     sparkJars = ""

+                      sparkJars = "//spark2.1//jars//spark-cassandra-connector_2.10-2.0.0-RC1.jar")

The snippet with sparkly is pretty detai

[2017-02-24 01:58] javierluraschi commented on #513
@niklasvm Do you happen to be using the latest version of `DBI`? Could you try with the CRAN version of `DBI` instead?

[2017-02-24 03:21] admoseremic commented on #508
@javierluraschi & @edgararuiz : Updating Java seems to have corrected my problem, thank you very much!  Perhaps the documentation on spark.rstudio.com could be updated to mention a Java update is recommended?

[2017-02-24 03:30] #508 closed

[2017-02-24 03:54] edgararuiz commented on #508
That's a good point, we'll make the proper updates to the site.  Thanks

[2017-02-24 05:13] prasannmodi commented on #512
@javierluraschi Thanks
It's working : )
is there any proper documentation for sparklyr basic operations.

[2017-02-24 07:48] Venkatraman92 opened #517 "How to connect ORACLE and read table using sparklyr"
selectionquery <- "Select * from tablename"
dbjarhome <- c('Java_path,'odbc_jar')
urldetails <-c('oracle.jdbc.driver.OracleDriver','jdbc:oracle:thin:@port:database_name','username','password')
drv = JDBC(urldetails[[1]],dbjarhome[[2]], identifier.quote='`')
con <- dbConnect(drv, urldetails[[2]], urldetails[[3]], urldetails[[4]])
data<- dbGetQuery(con, selectionquery)
spk_data <- DBI::dbWriteTable(

[2017-02-24 15:11] kevinykuo commented on #517
I'd start with looking at `spark_read_jdbc`

[2017-02-24 21:14] #485 closed

[2017-02-25 00:05] Deninc opened #518 "filter all and any feature"
Hi,

I wonder if there is any equivalent of **filter all** and **any** feature in sparklyr. For example:
[code]
`df %>% group_by(id) %>% filter(all(is.na(value)))`
[code]

[2017-02-25 15:15] admoseremic commented on #262
@slopp , do you know if there's also an easy way to write new names to the spark data frame?  In base R, you can say names(data_frame) <- ... to set new names to a data frame, but it doesn't look like you can do a similar tbl_vars(iris_tbl) = ...

Any thoughts?

[2017-02-26 00:01] #514 closed

[2017-02-26 00:38] admoseremic opened #519 "full_join messes up numbers"
When using a full_join to join a couple of tables based on a column, it seems to mess up the numbers after the join.  See the below example - in the example you can see the summary of local_visitor_rollup where the column onhundred_twelve_count has extremely large negative numbers, whereas if you look at the event_counts variable below, you'll notice the values are not so extreme.  Seems like ther

[2017-02-26 02:46] kevinushey commented on #519
Can you please provide a minimally reproducible example? We don't have access to the `visitor_rollup` dataset.

[2017-02-26 02:48] prbhadra opened #520 "Unable to load Cassandra table using a spark session and R"
Hi ,
I am using Spark 2.1.0 and trying to connect a Cassandra cluster. I have used the latest sparklyr. I have set the default configurations as below 👍
default:
  # local-only configuration
  sparklyr.cores.local: !expr parallel::detectCores()
  spark.sql.shuffle.partitions.local: !expr parallel::detectCores()

  # cassandra settings
spark.cassandra.connection.host:<Cassandra IP>
spark.cassandra.

[2017-02-26 02:59] kevinushey commented on #518
Here's a somewhat roundabout way of expressing something like that:

[code]

Giving:

[code]

[2017-02-26 12:17] Deninc commented on #518
@kevinushey thanks for your suggestion.

It would be nice to have such feature, **all** and **any** are very intuitive and they don't necessarily need to loop through all values.

[2017-02-27 06:20] dwy904 commented on #196
It will be extremely helpful to have the cross validation and parameter tuning features in sparklyr 👍

[2017-02-27 13:38] hadley commented on #507
Given that you almost certainly want to match columns by names, I think that this is an issue with dplyr's implementation of `UNION` and `UNION ALL` (and probably `intersect()` and `setdiff()` too). Can someone please file an issue on dplyr with a minimal reprex created using `memdb_frame()`?

I see someone did mention that on the closed dplyr issue, but commenting on closed issues is an extremely

[2017-02-27 14:53] kevinykuo commented on #507
I think the issue comes down to not having `bind_rows()` in sparklyr. For consistency with SQL I wouldn't change the behavior of `union()` and `union_all()`. Perhaps we should close this and re-open https://github.com/rstudio/sparklyr/issues/505?

[2017-02-27 15:07] hadley commented on #507
I think the behaviour of `union()` and `union_all()` is currently extremely dangerous, and I don't think we need to be consistent with SQL here.

There's currently no point in trying to build anything on top of `bind_rows()` because it doesn't do any dispatch.

[2017-02-28 02:55] dsblr commented on #288
@yijutseng its not the version issue, this issue related to file permission.
As per my understanding this is related to TEMP and TMP folder level permission on windows. Or this might be related to file creation permission. Every time you start sc <- spark_connect(), its tries to create a folder and file to write the log files.
I have checked with 2.1.0 version as well, same issue persists.

For wa

[2017-02-28 15:48] eijoac commented on #487
Not sure it will help, but I also had a `copy_to()` problem with a small dataset (babynames ~40M) in Spark standalone cluster. I solved it by configuring `sparklyr.shell.driver-memory` and `sparklyr.shell.executor-memory` parameters (someone recommended this to me,  https://github.com/rstudio/sparklyr/issues/379). I don't know why it worked. It seems that `copy_to()` is somehow related to spark sh

[2017-02-28 19:22] javierluraschi opened #523 "`mutate` no longer works with next version of `dplyr`"
[code]

Already addressed in: https://github.com/rstudio/sparklyr/commits/bugfix/hotfix-0.5.3

[2017-02-28 19:22] javierluraschi commented on #351
Taking care of this in `0.5.3` patch release: https://github.com/rstudio/sparklyr/commits/bugfix/hotfix-0.5.3

[2017-02-28 21:00] monicarodguev commented on #431
@kevinushey any idea when it will be implemented? Regards!

[2017-02-28 22:27] kevinushey commented on #431
It looks like it will be available as part of Spark 2.2.0:

https://issues.apache.org/jira/browse/SPARK-14709?jql=text%20~%20%22SVM%20ml%22

Once that's released, we can think about adding a wrapper there.

[2017-02-28 23:53] javierluraschi commented on #520
@prbhadra This worked for me:

Install Cassandra, I followed (https://www.datastax.com/2012/01/working-with-apache-cassandra-on-mac-os-x):

[code]

Created some tables:

[code]

Now, from sparklyr:

[code]

Then, `cassandra_tbl` can be use as any other table with `ml` functions, `dplyr`, `DBI`, etc.

[code]

Make sure to match the Cassandra connection version with the Spark version, the full list

[2017-03-01 00:22] wouwou4444 opened #524 "Add feature : read/write avro file format"
I need to read and write to an hdfs cluster where the format of files is "avro"

Is there any way to get arround the standard functions to do it ?
It would be great to have a spark_read_avro and spark_write_avro which are also standard format in hdfs environments.

[2017-03-01 05:19] alberthkcheng commented on #513
I encountered the same problem and solve it using the way @javierluraschi suggested. Thanks.

`install.packages("DBI")`

[2017-03-01 13:29] DavisVaughan commented on #495
I have answered my own question using the `ensure_*()` family of functions provided by sparklyr [here](http://spark.rstudio.com/extensions.html#data_types). Here is an example of this in action:

[code]

Hopefully this helps anyone else who has this problem! Thanks to sparklyr for thinking ahead!

[2017-03-01 13:29] #495 closed

[2017-03-01 15:17] OlivierDeruyver opened #525 "Sparklyr copy_to fails"
I am using the Sparklyr library to read and write data from R to HDFS. Reading data works as expected but writing gives issues.

To be able to use the spark_write_csv function, I need to convert my R data.frames into Spark objects. I use the sparklyr sdf_copy_to function for this (also tried with copy_to). However, I always get errors

Code:
[code]
Error:

Did somebody encountered the same problem

[2017-03-01 18:02] kevinykuo commented on #247
@good-marketing have you made any progress since last year? Also interested in a corenlp wrapper.

[2017-03-01 20:53] codingbutstillalive commented on #81
Want to keep this alive. It's still urgently needed.

[2017-03-02 00:23] stevetbright opened #526 "spark_write_csv fails when writing to aws"
I am trying to write output to an s3 directory that has already been removed ( with `aws s3 rm s3://bucket/dir --recursive` )

When I run `spark_write_csv( tbl, 's3://bucket/dir/' )` I get

`Error: org.apache.spark.sql.AnalysisException: path  s3://bucket/dir/ already exists`

This is after explicitly removing that directory and verifying that it is no longer there

Is there a way to specify overw

[2017-03-02 08:12] krlmlr commented on #351
You could add `DBI (>= 0.5-19)` to your `DESCRIPTION`.

[2017-03-02 12:13] renegademonkey commented on #520
Hi @javierluraschi: thanks for this - I have also been having issues connecting to a cassandra database on a local cluster, this really cleared things up.

Can I just ask a related question: when bringing in databases from a certain Cassandra `keyspace` and `table`, can you at the same time filter the dataset, i.e. to only bring in some columns (i.e. using SQL-like `SELECT` commands)? I have a hug

[2017-03-02 18:51] JKcme commented on #229
I've gotten the same problem.  All packages/versions are up to date.   Any advice?  I just went through the new Spark tab on RStudio 1.0.136.  I'm a total noob to this Spark stuff....thx!

The exact error:

Error in start_shell(master = master, spark_home = spark_home, spark_version = version,  :
  Failed to launch Spark shell. Ports file does not exist.
    Path: C:\Users\E19665\AppData\Local\rst

[2017-03-02 19:11] prbhadra commented on #520
Hi Javier,
Thank for sharing a detailed response. I would like to share following details for your perusal and seek your recommendations:

Our Spark(2.1) Clusters are not co located with Cassandra(3.x) nodes
Cassandra is secured with user ID and Password
I assume the connector jar can connect the version of Spark and Cassandra I am using

Please let me know the following:
1. Where do I place the S

[2017-03-04 13:39] spedygiorgio opened #527 "user - selected install dir"
Is it possible to modify the spark install so the user can self - select the path of the install directory?
It would be helpful to avoid long path in Windows environment

Best

[2017-03-04 15:32] JohnMount opened #528 "NA representation errors-out in Spark2"
`NA` issue while using `sparklyr`, `Spark2`, and `dplyr`. It also looks like several places `NA` and `""` are confused and reversed.

It thank `NA`'s can be represented in Spark2, they are definitely behaving as something different than a blank string. They are also erroring-out.

[code]

[code]

[code]

[code]

[code]

[code]

[code]

My notes are here: https://github.com/WinVector/replyr/blob/ma

[2017-03-04 22:36] wenbo5565 opened #529 "Error in Connection to Spark"
RStudio Version 0.99.903 on Windows 8.1

Thanks.

Error in force(code) :
  Failed while connecting to sparklyr to port (8880) for sessionid (8344): Gateway in port (8880) did not respond.
    Path: C:\Users\wenbma\AppData\Local\rstudio\spark\Cache\spark-1.6.2-bin-hadoop2.6\bin\spark-submit2.cmd
    Parameters: --class, sparklyr.Backend, --jars, "C:\Users\wenbma\Documents\R\win-library\3.3\sparklyr

[2017-03-05 00:54] wenbo5565 opened #530 "Error in Connection"
sc = spark_connect(master = "local")

**Error in prepare_windows_environment(spark_home) :
  FindFileOwnerAndPermission error (1789): The trust relationship between this workstation and the primary domain failed.**
In addition: Warning message:
running command '"C:\Users\wenbma\AppData\Local\rstudio\spark\Cache\spark-1.6.2-bin-hadoop2.6\tmp\hadoop\bin\winutils.exe" ls "C:\Users\wenbma\AppData\Loca

[2017-03-05 20:05] ruizhuhuang opened #531 "Error: Variables must be length 1 or 180."
I use spark_read_parquet to load parquet files and get the following error. I am wondering this issue may be similar to issue #477 (https://github.com/rstudio/sparklyr/issues/477)

Source:   query [56 x 22]
Database: spark connection master=local[8] app=sparklyr local=TRUE

Error: Variables must be length 1 or 180.
Problem variables: 'cput', 'end_date', 'end_ts', 'exit_status', 'groupname', 'hostl

[2017-03-06 07:50] behrica commented on #531
I have the same problem.
Reading a certian parquet file from local disk,  get:

[code]

To read the same file with SparkR::read.parquet(..) works fine.

I converted the fle to json, and get the same problem.

[2017-03-06 18:06] sdjoko opened #532 "warning messages and fail to connect to Spark locally"
Hi,
   I have not been able to move beyond below step to connect to Spark locally (I am not sure if this is new issue, have been looking around and could not find the similar issue as mine). I am using MacOS Sierra version 10.12.3, have RStudio version 1.0.136 and R version 3.2.2. I am wondering if I need to install Hadoop as well? Here are the messages, any help would be really appreciated.

Warn

[2017-03-06 21:56] javierluraschi opened #533 "“Error occurred during transmission.” in RStudio while using Microsoft R"
Don't have a full repro yet, but from customer report, seems like RStudio might trigger an “Error occurred during transmission.” while clicking "New Connection" while using Microsoft R. Opening to try to reproduce and investigate further if needed.

[2017-03-06 22:24] behrica commented on #531
I debugged this a bit, and it seems to happen if there are charatcer columns with new line characters in them. So maybe it relates to #411

But then it would fail, every time as there is a character column with newlines in.

[2017-03-07 01:05] rtaylor24 opened #534 "problem with spark_connect() using sparklyr on a Cloudera CDH 5.10.0 Hadoop cluster"
Hello folks,

I am trying to use sparklyr for the first time on a Hadoop cluster. I have used R with sparklyr on a "local" copy of Spark on my Mac laptop, but this is the first time that I am trying to run it as a "yarn-client" on a true cluster, and actually get some parallelization out of sparklyr use.

We have a small Linux cluster running Cloudera CDH 5.10.0. When I try to do the spark_connect

[2017-03-07 07:56] Jordi- commented on #525
Same problem here! In my case I tried
  tb <- sdf_copy_to(sc, irirs)
and raises
  Error: org.apache.spark.sql.AnalysisException: Path does not exist: hdfs://localhost:9000/tmp/Rtmp5IsJmd/spark_serialize_9fd0bf1861994b0d294634211269ec9e591b014b83a5683f179dd18e7e70ef0b.csv;

[2017-03-07 11:16] dsblr commented on #497
@javierluraschi could you please help me to resolve the above error. This solution will solve many sparklyr users problem. Please find some time to look into this.

[2017-03-07 21:57] richierocks opened #536 "Return list of character vectors from ft_tokenizer(), ft_regex_tokenizer()"
At the moment, `ft_tokenizer()` returns a list of lists of character vectors.

[code]
It would be simpler to work with a list of character vectors.

In particular, in order to do sentiment analysis on Spark using `tidytext`, the data should be in the form of one word per row. So I want to call `ft_tokenizer()` followed by `unnest()`.

This requires the simpler return value from `ft_tokenizer()`, a

[2017-03-08 16:40] richierocks opened #537 "Simplify return value from sdf_schema()"
At the moment, `sdf_schema()` returns a list of lists. It would be easier to work with if the return value was a tibble with two columns: `name` and `type`.

For example, this is verbose, hard to read, and hard to program with.

[code]

This is much nicer, but it is a pain having to do this transformation myself.

[code]

[2017-03-08 17:01] kevinushey commented on #537
I don't think we can change the return value of an already exported function (it would potentially break already-existing code). I would suggest just using your own wrapper that transforms it as needed.

[2017-03-08 17:02] kevinushey commented on #536
I agree a list of character vectors would be nicer here.

[2017-03-08 17:25] richierocks commented on #537
@kevinushey Would a new function `src_schema()` that returns this be acceptable?  (I'm thinking of `dplyr::src_tbls()` as a parallel.) Though I guess this should have a generic in `dplyr` and method here.

[2017-03-08 17:36] kevinushey commented on #537
That sounds reasonable to me; I think it's worth filing in `dplyr` to see if Hadley thinks it's worth implementing.

[2017-03-09 09:55] HugoHehn opened #538 "Issues installing SparklyR since this morning ("Lazy loading failed")"
Having some issues installing SparklyR on a Linux server using the same code that has been working smoothly up until yesterday. Have tried it with various combinations of DBI, jsonlite and dplyr installed/ uninstalled.

Everything seems to be running great up until this point:

`* installing *source* package ‘sparklyr’ ...`
`** package ‘sparklyr’ successfully unpacked and MD5 sums checked`
`** R`

[2017-03-09 14:12] learndm commented on #538
Unfortunately the I meet the same issue:

![image](https://cloud.githubusercontent.com/assets/10106978/23753695/b96c50c6-04da-11e7-8704-233f59c3a194.png)

What could be needed ?

[2017-03-09 14:15] learndm commented on #538
Hi there, some problem:

![image](https://cloud.githubusercontent.com/assets/10106978/23753812/1792a3a8-04db-11e7-9ffd-52da0d7005cf.png)

Any suggestions ? thanks

[2017-03-09 14:34] Javi6perez commented on #538
Got the same problem working

[2017-03-09 15:12] Nova-Boy opened #539 "Problems building : Error in conformMethod .. cannot be in sig"
Running into the following when issuing either

or

[code]

This is on RHEL 7.3 running R version 3.3.2

I did notice this:  https://github.com/rstudio/sparklyr/issues/513  and installed DBI in CRAN as a result.  No change.

Thanks!

[2017-03-09 15:30] HugoHehn commented on #539
Seems to be the same basic problem as I posted this morning (clarified the title just now as it might not have been evident):

https://github.com/rstudio/sparklyr/issues/538

[2017-03-09 15:51] richierocks opened #540 "Support dplyr select helpers for ml_* and ft_* functions"
It would be useful to support `dplyr`s select helper functions to select columns for the `features` argument to `ml_*` functions, and for the `input.col` argument to `ft_*` functions.

I want to write something like this:

[code]

The current workaround is to use something like this, which is not as nice.

[code]

[2017-03-09 17:51] javierluraschi commented on #538
@learndm @Javi6perez thanks for reporting this, a patch to `sparklyr` with version `0.5.3` was submitted and accepted to CRAN today, it might take a day to fully replicate in CRAN but for most users, a retry should fix this issue. This was caused by a breaking change in `DBI 0.6`.

[2017-03-09 17:52] javierluraschi commented on #539
@Nova-Boy @HugoHehn Tahnk you, patch to `sparklyr` as `0.5.3` was submitted and accepted to CRAN this morning, it might take up to a day to replicate in CRAN, but for most users, reinstalling should work as expected now. There was a breaking change in `DBI 0.6` that required a patch in `sparklyr`, all should be good now.

[2017-03-09 17:55] javierluraschi opened #541 "Investigate ghost sessions while launching `spark_connect`"
It is possible that `spark_connect` might leave an Spark application running; this usually involve error conditions while launching `spark_connect`, but users have reported reconnect failures since a Spark instance is already running in a bad state.

Most likely, there might be cases where the `sparklyr` backend does not terminate itself in some error conditions. There shouldn't be any code paths

[2017-03-09 18:14] HugoHehn commented on #538
@javierluraschi Thank you so much for the quick response - will try it out tomorrow.

[2017-03-09 21:44] Nova-Boy commented on #539
Thanks! Confirming that it looks good.  I'm able to install 0.5.3 w/o issue.

[2017-03-09 21:57] javierros commented on #538
Hi, why the sparklyr-2.1-2.11.jar is only in the master branch and not in CRAN or the tagged versions? Now if you try to use the master branch with devtools::install_github("rstudio/sparklyr") it fails with the DBI problem.

[2017-03-09 22:15] Nova-Boy opened #542 "spark_connect hangs"
Hi.  We have a CDH 5.10, Spark 1.6 environment w/ Kerberos, SSL and HA.  We're seeing endless hangs (I've let it go for upwards of 30 mins) during spark_connect both through RStudio and the cmd line using sparklyr 0.5.3.

[code]
(hangs until ctrl-c)

I can confirm that launching spark-shell w/ the keytab works as expected..

[code]

spark-submit works as expected..

`[mtz@nydc-edg02 ~]$ spark-subm

[2017-03-09 22:44] javierluraschi commented on #542
@Nova-Boy Could you share the contents of `log4j.spark.log*` or any other relevant logs? Is this a regression or first time trying `sparklyr` in this cluster?

Also, I would rather try the following config to pass principal and keytab as parameters:

[code]

[2017-03-09 22:54] javierluraschi commented on #538
@javierros merging... https://github.com/rstudio/sparklyr/pull/543, `devtools::install_github("rstudio/sparklyr")` should work now as appropiate as well.

`sparklyr-2.1-2.11.jar` is not included in the CRAN version since support for Spark 2.1.0 will be supported until the next major release of `sparklyr`, planning to do this for around April or May.

[2017-03-09 22:54] javierluraschi commented on #539
Thanks for confirming!

[2017-03-09 22:54] #539 closed

[2017-03-10 00:32] #538 closed

[2017-03-10 00:36] javierluraschi commented on #532
@sdjoko Did you ever installed `Tachyon`? It's unexpected to see `Provider tachyon.hadoop.TFS could not be instantiated` in the logs.

Which version of Spark are you using? If you are using `1.6.x`, could you try with `2.0.1`? Or if you are on `2.x`, could you try on `1.6.2`?

[2017-03-10 00:37] javierluraschi commented on #530
@wenbo5565 Known issue, you need to leave your windows domain and then rejoin, your system admin should be able to help with this if this is a corporate machine and you are unable to do this yourself.

[2017-03-10 00:41] sdjoko commented on #532
Are you saying I have to install Spark separately?

[2017-03-10 00:46] javierluraschi commented on #529
@wenbo5565 I've never seen `~` in the Spark path. What do you get from running:

[code]

The problem might be that your system is configured to convert long folder names to relative paths or something around those lines.

[2017-03-10 03:52] Nova-Boy commented on #542
@javierluraschi

Thanks for the quick response!

Running the following from R shell..

[code]

still causes a hang.  Prior to locating the driver logs in /tmp, I did try the exact same commands, but under my kinit'd AD account rather than my local (mtz) account, and it worked.  The problem is clearly auth, and the logs do confirm it.  Trying as local user w/ keytab again, I see...

[code]

It does

[2017-03-10 04:00] Nova-Boy commented on #542
Sorry...  re: regression, this is a new issue.  Just started working with sparklyr this morning.  :)

[2017-03-10 04:24] tarunparmar opened #544 "lapply equivalent operation in sparklyr"
I wasn't sure if this already exists or can be done with ease, dont know how just yet.
Below code is without Spark, I wish to execute this in Spark (using sparklyr)
[code]
Here's the output.

[code]

[2017-03-10 04:49] tarunparmar commented on #544
Nevermind, found here #357  what I was looking for...closing

[2017-03-10 04:49] #544 closed

[2017-03-10 04:56] Nova-Boy commented on #542
Yeah, it's definitely not picking up the arguments...

[code]

yields...

[code]

I'm not much of an R dev, and my eyes are getting bleary, so this is about as far as I can go tonight.  Thanks.  :)

[2017-03-10 05:08] Nova-Boy commented on #542
connection_config processes the outermost config list, not config$default.  If I move the parameters out of default and into config, it picks up the arguments and works.

ie,

[code]

Well, ALMOST works.. :)

[code]

[2017-03-10 05:26] Nova-Boy commented on #542
Bah.  I took out the timeout arg AND stopped using my hacked-up version, and everything is working! That last issue was probably something in the debug version I was using.

Thanks for the help!!

[2017-03-10 11:12] renegademonkey commented on #531
Hi there,

I am having the same issue, reading files from a cassandra database. Does anyone know of a fix or workaround for this?

[2017-03-10 17:49] edgararuiz commented on #482
Hi @niklasvm, recently posted an article about S3 to the official site, here is the link: http://spark.rstudio.com/example-s3.html

[2017-03-10 18:40] niklasvm commented on #482
Thank you very much for this. Very helpful!

[2017-03-12 16:31] AkhilNairAmey commented on #520
To answer 1) and 2) you can provide these in a `config.yml` which you pass to `spark_connect` (or have in your working directory when the connection is made).

[code]

[2017-03-13 05:51] Venkatraman92 opened #546 "Is Poisson Regression available in sparklyr ?????"

[2017-03-13 07:15] codingbutstillalive commented on #81
I wonder. Are you guys working on this, or did you give it up?

[2017-03-13 08:30] PecoE opened #547 "Please Ignore"

[2017-03-13 08:40] #547 closed

[2017-03-13 18:44] javierluraschi opened #548 "CRAN Readme missing Images"
From CRAN admins:

from the corresponding README.md ones) on the CRAN package web pages are
incomplete, missing 'local' images not available from the web page and
in most cases actually not even shipped with the package.  This clearly
should be changed, so we will move to using '--self-contained' for the
pandoc conversion to ensure that the README.html files are "complete".

needed in the package

[2017-03-13 18:45] javierluraschi commented on #542
@Nova-Boy awesome, thanks for sharing this, will help others! Closing issue.

[2017-03-13 18:45] #542 closed

[2017-03-13 19:02] javierluraschi commented on #546
To my knowledge, only `Spark 2.0.x` supports Poisson, but assuming you use `2.0.x`, then you can use `ml_generalized_linear_regression` and `family`, as in:

[code]

With output:

[code]

More families available under [Classification - Available Families](https://spark.apache.org/docs/latest/ml-classification-regression.html#available-families).

[2017-03-13 19:07] charles2588 opened #549 "Rstudio - Cannot read from s3n using spark_read_csv or spark_read_parquet when connected to remote spark"
Cannot read from s3n using spark_read_csv or spark_read_parquet when connected to remote spark
##specify keys as environment variables
Sys.setenv("AWS_ACCESS_KEY_ID" = "XXXXXXX",
           "AWS_SECRET_ACCESS_KEY" = "XXXXXX")

library(sparklyr)
library(dplyr)

#connect to spark
sc <- spark_connect(config = "Apache Spark-ic")

Spark is connected and i can read from local filesytem of remote spark's

[2017-03-13 20:03] navdeep-G opened #550 "Persistently getting `Gateway in port (8880) did not respond`."
Hi,

I am seeing the following error come up quite frequently in my workspace:

`Failed while connecting to sparklyr to port (8880) for sessionid (*Some ID): Gateway in port (8880) did not respond`.

I have seen this come up for others as well. Is there a solution?

Thanks

[2017-03-13 20:28] navdeep-G commented on #550
Full error log:

  spark hadoop                       dir
1 1.6.0    2.6 spark-1.6.0-bin-hadoop2.6
2 1.6.2    2.6 spark-1.6.2-bin-hadoop2.6
3 2.0.0    2.7 spark-2.0.0-bin-hadoop2.7
4 2.0.1    2.7 spark-2.0.1-bin-hadoop2.7
5 2.0.2    2.7 spark-2.0.2-bin-hadoop2.7
6 2.1.0    2.7 spark-2.1.0-bin-hadoop2.7

Error in force(code) :
  Failed while connecting to sparklyr to port (8880) for sessionid (271)

[2017-03-14 00:47] javierluraschi commented on #81
@codingbutstillalive we will keep it alive, I have a prototype repo to investigate this, shouldn't be that hard to get basic parallelization working: https://github.com/javierluraschi/sparkworker - My plan it to get this working there and then merge back to `sparklyr`, not usable at this point in time, ping me back in a couple weeks.

[2017-03-14 06:24] codingbutstillalive commented on #81
That's wonderful news. I appreciate that. Good luck and success!

[2017-03-14 12:44] Venkatraman92 commented on #546
@javierluraschi Thanks

[2017-03-14 13:33] renegademonkey opened #551 "sparklyr java extension - spark DataFrame created, but not accessible in R"
Hi there,

I've just written my first sparklyr extension - it's a small java program that fetches a particular Cassandra database, selects a subset of columns, and returns a spark DataFrame which could then be further manipulated in R.

It SEEMS to be working as intended, however the created DataFrame cannot be registered in R. I can see it exists on the spark server via the Spark gui, it is visib

[2017-03-14 14:22] AkhilNairAmey commented on #551
Hard to know what might be the issue without any code.  I've been trying a similar thing and this seems to work for me:

[code]

[2017-03-14 18:40] #546 closed

[2017-03-14 18:45] javierluraschi commented on #551
@renegademonkey maybe we need to return it back from the new Cassandra function? We don't keep track of dataframes in R/sparklyr, expect as variables, so I would expect that if you write a `spark_read_cassandra` function, I would be able to do this:

[code]

Then one should be able to use `iris_csd` in `dplyr` or with `ml_` functions. Does this make sense? basically, `sprklyr` does not track objec

[2017-03-14 18:47] javierluraschi commented on #551
@renegademonkey See for instance: https://github.com/rstudio/sparklyr/blob/master/R/data_interface.R#L452-L463

[2017-03-15 10:10] renegademonkey commented on #551
Hi there. Thanks for the fast responses!

@AkhilNairAmey: You originally posted another response with some suggested code to bring a cassandra db into R via R only - interestingly, I have previously tried to import this cassandra table directly from withing R/Sparklyr using almost identical methods to what you posted (see code below), but kept getting errors at the end relating to `Variables must