[2017-06-16 15:47] randomgambit commented on #747
@kevinykuo  thanks for your help ! its hard to get anything installed on my machine.

I can, however, install any package I want using the install from local file options in `RStudio`. In windows, I would use the development tarballs on CRAN but I dont find anything for linux... Do you see any solution here?

[2017-06-16 16:24] randomgambit opened #761 "filter Spark dataframe based on simple regex condition?"
Hello,

I am struggling with a simple operation. I have a huge, gigantic csv file that I load in Spark using `spark_read_csv`

[code]

and here I want to keep the rows in the **Spark dataframe** (no `collect()` allowed!!) that contains the word "cat".

So this is a simple filter based on a basic regex condition. I have not been able to do so. I see a nice regex tokenizer available in `sparklyr` si

[2017-06-16 16:27] randomgambit commented on #747
yeah just to be clear. sysadmin not willing to install the depedencies...

[2017-06-16 16:56] kevinykuo commented on #747
@randomgambit RStudio desktop or server?

[2017-06-16 17:04] randomgambit commented on #747
@kevinykuo I believe its the linux server version

[2017-06-16 17:11] kevinykuo commented on #747
@randomgambit See if this works:

1. Download the source as zip from this repo
2. Upload to your home directory via the RStudio interface
3. Open the `sparklyr` project
4. Build -> Build and reload

[2017-06-16 17:35] randomgambit commented on #747
@kevinykuo amazing!!! thanks. thats working now. the error is fixed on my side.

[2017-06-16 17:54] jvicentem commented on #525
Now it works for me. I didn't configured correctly the driver's memory. I increased it and now everything works perfectly.

[2017-06-16 18:15] randomgambit commented on #742
@kevinykuo that is interesting. I was playing around with `dbGetQuery()`.

Is there a way to store the output of the query into a **spark dataframe** (not the R memory) that can accessed later on with sparklyr?

[2017-06-16 22:04] javierluraschi opened #762 "Consider to standardizecolumn names used for the generated probability / predicted columns"
From @nathan: Here are three outputs of sdf_predict for logistic, decision trees, and neural net respectively. Notice that prediction is different for logistic and decision trees. Notice there is no probability column for neural nets. Spark ML is creating different output formats based on the model:

![image 1](https://user-images.githubusercontent.com/3478847/27246215-e325b0a2-52a4-11e7-9407-f2b4

[2017-06-17 02:16] randomgambit commented on #742
@kevinykuo  what about
[code]

[2017-06-17 03:27] #329 closed

[2017-06-17 03:27] #761 closed

[2017-06-17 12:20] randomgambit commented on #329
@kevinushey

I think that would be an amazing idea. I am coming from Pig, and Pig having its own set of UDFs was very useful (via piggybank). I think its a must have for sparklyr. The Hive UDFs are OK, but very crude and basic.

[2017-06-17 19:05] AkhilNairAmey opened #764 "Stack overflow error unioning multiple tables"
Hi,

I have an error unioning multiple spark tables.  My use case is pulling many partitions through from Cassandra, then unioning all the tables to perform an ordered query (which mixes the partitioned tables).  A minimal example producing the error is below.  I get that it is reasonable that the error happens as I'm essentially passing 500 unions to the SQL builder, but I was wondering if there

[2017-06-17 21:12] kevinykuo commented on #764
@AkhilNairAmey what Spark version are you running?

[2017-06-17 21:15] AkhilNairAmey commented on #764
Spark 2.0.2, hadoop 2.7

Happy to upgrade if needs be!

[2017-06-17 21:28] kevinykuo commented on #764
For whatever reason, `do.call(rbind, l)` seems to work on my end (2.1.0). I can reproduce your error with `dplyr::union()` and it's not immediately obvious to me why they give different results since they should be doing (mostly) the same thing.

Related: https://stackoverflow.com/questions/34461804/stackoverflow-due-to-long-rdd-lineage

[2017-06-17 21:52] AkhilNairAmey commented on #764
Not gonna lie, pretty speechless rn.  You've just saved me so much hassle, thank you.

[2017-06-17 21:52] #764 closed

[2017-06-17 21:54] kevinykuo commented on #764
FWIW the DAG looks OK w/ your code (with `n = 10`):

<img width="1529" alt="screen shot 2017-06-17 at 5 52 08 pm" src="https://user-images.githubusercontent.com/5582151/27256533-0186d2c4-5386-11e7-8a26-88ddf851f1c4.png">

[2017-06-17 21:58] AkhilNairAmey commented on #764
Yeah - I guess the problem is actually the difference between `do.call` and `reduce`.

Am I right in saying `reduce` will be constructing something like `union(..., union(dt3, union(dt2, dt1)))` whereas `do.call`  would just do `union(..., dt3, dt2, dt1)`?

[2017-06-17 22:13] kevinykuo commented on #764
I think in both cases we're "reducing"; `rbind` sequentially performs `union` on a DataFrame (https://github.com/rstudio/sparklyr/blob/75ad74bb50a3829f64cbfc8c8dc7add91b464df7/R/mutation.R#L62-L63). My guess is that in the case of calling `reduce` on `dplyr` functions, we're shipping too much SQL code to the JVM and it's puking before it even gets down to the optimizer. Increasing the stack memory

[2017-06-18 18:43] dwy904 commented on #176
Why I did not find this function in my sparklyr package ? Error: object
'sdf_separate_column' not found

On Wed, Jun 14, 2017 at 12:11 AM, Ed Maia <notifications@github.com> wrote:

[2017-06-18 18:56] dwy904 opened #765 "Is there any example code on how to use the multilayer perceptron model in sprklyr ?"
I did not find any example code on how to use the multilayer perceptron model. I tried on it but it did not work out for me.

[2017-06-18 19:50] dkincaid commented on #452
What functions can we use with sdf_pivot? Seems like the only one that works is "count". I tried "avg" and "sum" and both throw an exception - `No matched method found for class org.apache.spark.sql.RelationalGroupedDataset`

[2017-06-18 19:55] kevinushey commented on #176
@dwy904 you likely need to install the development version of `sparklyr`:

[code]

Then restart your R session.

[2017-06-18 21:19] kevinushey commented on #452
@dkincaid The set of supported functions are listed here:

https://spark.apache.org/docs/latest/api/scala/index.html#org.apache.spark.sql.RelationalGroupedDataset

The unit tests also show how you might use these functions:

https://github.com/rstudio/sparklyr/blob/133b2028e653d896f9eb762bf480113381b0d2ef/tests/testthat/test-pivot.R#L29-L45

https://github.com/rstudio/sparklyr/blob/133b2028e653d89

[2017-06-18 21:21] kevinushey commented on #452
We should probably make it easier to construct Spark column expressions and use those within `sdf_pivot()`.

[2017-06-18 21:26] dwy904 commented on #176
Thank you so much. I have the function after install the development
version. However, another error shows up when I connect to spark cluster:

Error in shell_connection(master = master, spark_home = spark_home,
app_name = app_name,  :
  Failed to connect to Spark (SPARK_HOME is not set).

I am wondering if I need to change anything ?

Best,
Michael

[2017-06-18 21:39] kevinykuo commented on #176
@dwy904 could you try explicitly passing `version` to `spark_connect()`?

[2017-06-18 21:42] dwy904 commented on #176
I think I have successfully solved this problem by change the code to:

sc <- spark_connect(master = "local", config = config,
                                 spark_home =
'~/Library/Caches/spark/spark-1.6.2-bin-hadoop2.6')

Thank you so much. I got one more question, do you have any code example
about how to use multilayer perceptron model ? I tried a few times but it
didn't work out.

Best,
Mic

[2017-06-18 23:56] dkincaid commented on #452
Yes, agree if you can make it easier that would be great. Or at least include some examples in the documentation.  I did figure out that the easiest way to use this is to provide a list and then it's pretty easy to specify "sum" or "avg", etc.

[2017-06-19 00:35] sdanielzafar commented on #520
I'm having a similar issue. I can load Cassandra tables when using the sparklyr-installed Spark. But having some major issues when trying to get data with an existing cluster that's already running. I've tried everything! On Cassandra 3, most recent sparklyr, and Spark 2.0.1.

[code]
with associated `config.yml`
[code]
Here is the error:
[code]

[2017-06-19 02:39] sutapunt commented on #758
I got it, the problem is fixed...

For offline site, follow this instructions.

![1](https://user-images.githubusercontent.com/29476745/27267497-1285cbfe-54d3-11e7-99bb-8dafdbbfd66b.jpg)

[2017-06-19 03:52] kevinykuo commented on #452
Once the `tidyr` functions are implemented we probably want to steer users toward them. We'll have to think about if we want to support both APIs then.

[2017-06-19 06:28] AkhilNairAmey commented on #520
Just for a bit more info, how big is the table you're trying to load? Also am I reading this correctly in that you have 3 cassandra nodes all running on the localhost?

After this error occurs, can you get into the cluster with cqlsh? What does nodetool status return?

[2017-06-19 06:28] AkhilNairAmey commented on #520
And check Cassandra logs in case the problem is reading over the tombstone limit

[2017-06-19 07:07] sdanielzafar commented on #520
Hello again :)

The table is ~6500 rows and 48 columns. Yes that's right, it's silly but I was only given a single VM (2 cores) to play with for Cassandra. I can get into it with cqlsh. Here is the output of `nodetool status`
[code]

[2017-06-19 07:13] AkhilNairAmey commented on #520
Hi!

First couple hits on Google - have you set the `listen_address` and `broadcast_rpc_address` in the `cassandra.yaml`?

https://stackoverflow.com/questions/41776345/cassandra-failed-to-connect

[2017-06-19 07:22] sdanielzafar commented on #520
Here is what I have for those in `cassandra.yaml`
[code]

[2017-06-19 07:37] mubeenarasack opened #767 "ChangeFileModeByMask error"
Hi

I have executed the code below
 sc <- spark_connect(master = "local", version = "1.6.2")

 I got the error message
"ChangeFileModeByMask error (5): Access is denied."

But if  I am executing the same again it will show
"Re-using existing Spark connection to local"

I dont know why it occuring always..Can anyone help me.Thanks in advance

[2017-06-19 15:12] sdanielzafar commented on #520
So I've switched it to:
[code]
and still getting the same error.

[2017-06-19 17:04] AkhilNairAmey commented on #520
Did you restart Cassandra? This is just general networking now I think and not sparklyr, you might have some luck asking on stackoverflow?

[2017-06-19 21:01] #483 closed

[2017-06-19 23:20] javierluraschi commented on #426
See https://github.com/tidyverse/dplyr/issues/2887, ideally we want this implemented in `dplyr`.

In the meantime, here is a workaround:

[code]

[code]

[2017-06-20 12:18] mubeenarasack opened #768 "Job aborted due to stage failure"
Hi

I have executed codes  a couple of  times in spark  version 2.0.0. But after that  when i tried to execute the same code  it is throwing error. I couldn't figure out the reason

This is the error that i got
Error: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 3.0 failed 1 times, most recent failure: Lost task 0.0 in stage 3.0 (TID 3, localhost): java.lang.I

[2017-06-20 14:14] dwy904 opened #769 "Sys.getenv('SPARK_HOME') returns empty string"
I tried to connect to local spark cluster, but it fail to connect because the default code could not find my spark_home directory.

When I tried typing:
**Sys.getenv('SPARK_HOME')** , it returns a empty string.

In order to connect to spark I have to manually type this everytime:

**sc <- spark_connect(master = "local", config = config, spark_home = '~/Library/Caches/spark/spark-1.6.2-bin-hadoop2.

[2017-06-20 14:20] kevinykuo commented on #769
@dwy904 try updating sparklyr again; a fix was merged yesterday.

[2017-06-20 14:49] randomgambit commented on #754
@kevinushey @kevinykuo sorry to bring you in, but I believe this is an important issue for everyone involved with big datasets and timestamp variables. Could you please have a quick look an tell me if something is wrong here? Why can't I call these date functions?

Thanks!!!

[2017-06-20 17:00] kevinushey commented on #754
Although I don't quite know the underlying reason why this isn't working as-is, it looks like you can explicitly convert arguments to timestamps and then construct using that, e.g.

[code]

Is that sufficient for you here?

[2017-06-20 17:33] statmatt opened #770 "gapply/group operation support for sparklyr"
sparklyr needs to support an alias/synonym for the SparkR::gapply functionality. sparklyr::spark_apply seems to be synonymizing SparkR::dapply, but this is not sufficient.

As an example (cannot provide code example here), let's say I want to run GLM models on specific groups of data indexed by columns in my data frame ... with SparkR::gapply, I can write a function to perform my modeling on each

[2017-06-20 17:37] statmatt opened #771 "full_join does not support cartesian"
See example:

```paramgrid <- sdf_register(sdf_import(data.frame(gridcell = (1:n_paramgrid)), sc, repartition=n_paramgrid), "paramgrid");```

```iters <- sdf_register(sdf_import(data.frame(iter = (1:n_iter)), sc, repartition=n_iter), "iters");```

[code]
the final statement should produce the cartesian product of all rows in paramgrid and all rows in iter; today it fails with an error bc the by= p

[2017-06-20 17:40] statmatt opened #772 "spark_write_parquet should support writing partitioned output"
Refer to pyspark version `spark.write.parquet()` which takes an additional parameters `partitionBy=<list of column names>` which then writes resultant parquet files to `<path>/partition_field_1=partition_value_1/partition_field_2=partition_value_2/...`

[2017-06-20 18:05] randomgambit commented on #754
switched `regexp_extract` with `regexp_replace`. Still does not work...

[2017-06-20 18:07] randomgambit commented on #760
found out a working solution. One MUST  use `dplyr::arrange()` before `row_number()`. Is that expected?

[2017-06-20 18:19] kevinushey commented on #754
It looks like backslashes need to be double-escaped (not yet sure why), e.g.

[code]

[2017-06-20 18:35] kevinykuo commented on #760
@randomgambit ordering is tricky in databases and especially in Spark, see e.g. https://issues.apache.org/jira/browse/SPARK-16207. It's safer to sort before you filter if you know the ordering you want.

[2017-06-20 18:39] bsr7890 commented on #229
I was facing the same Gateway issue as mentioned in @yarrick19's post.

My Scenario:
Machine: Windows 7, 64bit

I wanted to work on R Studio, with spark in background.
Below are steps:

## THIS STEP IS VERY IMPORTANT for 64 bit machines.
Sys.setenv(JAVA_HOME='C:\\Program Files\\Java\\jre7') # for 64-bit version

#### For 32 bit machines: Sys.setenv(JAVA_HOME="C:\\Program Files\\Java\\jdk1.7.0_67\\

[2017-06-20 18:50] randomgambit commented on #759
I think it is an interesting question. I am still confused by the differences between `sdf_register` and `copy_to`. Aren't we creating a `Spark` dataframe in both cases?

[2017-06-20 18:55] kevinushey commented on #759
`sdf_register()` takes an existing Spark DataFrame (as a raw jobj) and wraps it up in a `tbl` object suitable for use with `dplyr` (which involves calling `registerTempTable()` behind the scenes). `copy_to()` copies a local `data.frame` to Spark, and then does the same registration work as `sdf_register()`.

I didn't realize that attempting to register multiple tables with the same name would actu

[2017-06-20 19:07] randomgambit commented on #759
I see @kevinushey

then, would this be another way to create a Spark Dataframe suitable for use with `dplyr`?

[2017-06-20 20:16] sdanielzafar commented on #520
Yep, I did restart. Thanks for bearing with me, I've learned so much. For my understanding, why do you see this as being a networking issue?

[2017-06-20 21:27] kevinushey commented on #759
Yes, I think that's exactly fine -- `sparklyr` should be doing something similar behind the scenes with `sdf_register()` and friends.

[2017-06-20 23:33] javierluraschi commented on #460
Seems resolved already, tried the following against Azure HDInsights running Spark 2.1:

[code]

[2017-06-20 23:38] #460 closed

[2017-06-21 00:01] javierluraschi commented on #507
Was going to open a `dplyr` bug but seems to me this is already fixed. Closing.

[code]

[2017-06-21 00:01] #507 closed

[2017-06-21 07:01] javierluraschi commented on #525
@OlivierDeruyver @jakubglinka @jtbirdsell @jan-sterba @ths2o @Jordi- Taking a look at this one, could one of you share your `spark_connect` call? My guess is that this is triggering under `yarn-client`, is this the case? Which version of `sparklyr`? CRAN or devel? Could one of you share `sessionInfo()`? Thanks.

[2017-06-21 08:51] catlain opened #774 "spark_apply can't deal with <NA> well"
---

spark_apply can't deal with "NA" well

[code]
get 1st col
[code]
get 2nd col
[code]

without "NA" doing well

[code]

[2017-06-21 09:55] yuansaijie0604 commented on #254
Hello everyone,
I was trying to connect to Spark and I'm getting the following error:

Error in force(code) :
  Failed while connecting to sparklyr to port (8880) for sessionid (8610): Gateway in port (8880) did not respond.
    Path: C:\Users\Administrator\AppData\Local\rstudio\spark\Cache\spark-2.1.1-bin-hadoop2.7\bin\spark-submit2.cmd
    Parameters: --class, sparklyr.Backend, "D:\Program Files

[2017-06-21 13:38] kevinykuo commented on #254
@yuansaijie0604 could you try updating to the latest sparklyr version? Either devel (`devtools::install_github("rstudio/sparklyr")`) or from CRAN. This should've been fixed as of 0.5.6.

[2017-06-21 15:47] chezou commented on #611
With dplyr 0.7.0, we now have [`in_schema()`](http://dbplyr.tidyverse.org/reference/in_schema.html) for handling table name appropriately. We should change the way to hande table names.

[2017-06-21 17:19] javierluraschi commented on #562
@praveenmohan1979 when you say that everything works via terminal, do you mean by launching R from the terminal on the same machine where RStudio is installed? It would be a big difference if you are connecting to the master node and then launching the session from there while RStudio is on a separate node.

As @tcederquist mentioned, we found out during a support request that some cluster overrid

[2017-06-21 19:15] kevinykuo opened #775 "Consider functionality to simplify EDA/generation of summary statistics"
Understanding that every project/dataset is different, there are common things that people almost always look at, e.g. missing values, ranges of numeric variables, "levels" of string columns and their distributions. We can take inspiration from https://github.com/ropenscilabs/skimr and https://github.com/dcomtois/summarytools and perhaps implement methods from the former. We'll also have to think

[2017-06-21 20:06] dwy904 commented on #769
Thank you so much, it works now.

[2017-06-21 20:31] javierluraschi opened #776 "Newlines are properly serialized / deserialized"
Removing `NYI` test. Looks like we need to use `wholefile` from Spark 2.2, see https://github.com/databricks/spark-csv/issues/425.

[code]

[2017-06-21 21:21] javierluraschi commented on #596
I was able to reproduce the "Unexpected data type" error using `sparklyr 0.5.6` from CRAN and `RStudio 1.0`. The problem is already fixed but requires using the development version of `sparklyr` as follows:

[code]

[2017-06-21 21:21] #596 closed

[2017-06-21 21:24] javierluraschi commented on #627
Can't repro this one...

[code]

[2017-06-21 21:24] #627 closed

[2017-06-21 21:38] javierluraschi commented on #646
Spent some time looking at `dplyr` and `sparklyr` changes, can't find the change that fixed this. Tried to reproduce with Spark 1.5.2, Spark 1.6.2 and Spark 2.10, all against `dplyr` and `sparklyr` from CRAN. So far so good, closing.

[2017-06-21 21:38] #646 closed

[2017-06-21 21:38] javierluraschi commented on #609
Tried to reproduce with Spark 1.5.2, Spark 1.6.2 and Spark 2.10, all against `dplyr` and `sparklyr` from CRAN. So far so good, closing.

[2017-06-21 21:38] #609 closed

[2017-06-21 21:45] javierluraschi commented on #646
It could be possible that a UDF was defined somewhere (not `sparklyr`) that would change this behavior.

@hiltonmbr, if you could share:

[code]

that should give us at least some idea of what could be causing this, Spark version, `sparklyr` version and `dplyr` version would help us troubleshoot this further.

[2017-06-21 22:07] #769 closed

[2017-06-21 22:37] kevinushey commented on #646
My guess is that the issue here was related to the following `dplyr` issue: https://github.com/tidyverse/dplyr/issues/2288

[2017-06-22 00:24] #589 closed

[2017-06-22 04:10] chrislarsenqlik commented on #47
I'm having the same issue with no package called 'glue' :(

[2017-06-22 05:03] javierluraschi commented on #721
Found out in this use case, since `compute()` does currently does not persist a snapshot of the data (proposes PR fixes this), Spark ends up creating a giant graph of operations that starts looking like this:

<img width="1410" alt="screen shot 2017-06-21 at 3 45 42 pm" src="https://user-images.githubusercontent.com/3478847/27417987-12bb4332-56cd-11e7-94fe-d3d05de524cb.png">

Spark is not optimize

[2017-06-22 06:14] gbisschoff opened #779 "dplyr CUMPROD not available"
Hi,

I want to run a cumprod in spark, but I get the error:

A simple (yet useless) example:
[code]

Real world application would be to calculate survival curves, yield curves etc.

Is there a way around this in the meantime?

Some session info:
[code]

[2017-06-22 12:59] kevinykuo commented on #721
Haven't looked deeply at the reprex but if this is an issue of lineage blowing up consider calling `sdf_checkpoint()`?

[2017-06-22 13:41] mrjoseph84 commented on #60
@kevinushey are there any updates on exporting sparklyr models to pmml? is this already supported by the package?

[2017-06-22 14:27] kevinykuo commented on #47
I've found that some installation related headaches are due to having an old R version. Might not solve everyone's problems but try updating R if you haven't in a while.

[2017-06-22 14:32] JohnMount commented on #721
Thanks, to use it I'd need to know what <code>sdf_checkpoint()</code> does and how to delete it after I am done with it (to prevent leaks, it doesn't appear to take or return a name- so that is a problem).

[2017-06-22 16:54] kevinushey commented on #60
Unfortunately no. As far as I can see, these still haven't been ported from `mllib` to `ml` on the Spark side. See e.g.

https://issues.apache.org/jira/browse/SPARK-11171
https://issues.apache.org/jira/browse/SPARK-11237
https://issues.apache.org/jira/browse/SPARK-11239

As far as I can see, the work here has unfortunately fallen off the radar somewhat.

[2017-06-22 18:21] javierluraschi commented on #779
@edgararuiz I wonder if you have already explored `CUMPROD` as part of your `dbplyr` work....

[2017-06-22 18:24] #721 closed

[2017-06-22 18:26] edgararuiz commented on #779
Honestly no, but I'm not sure if Hive supports Product, does it?

[2017-06-22 20:51] kevinykuo commented on #779
It should support `LOG` and `EXP` ;)

[2017-06-22 20:51] kevinykuo commented on #60
@mrjoseph84 just curious what's your use case with pmml?

[2017-06-23 12:00] mrjoseph84 commented on #60
@kevinushey  Thanks for the update and links - I will be monitoring this issues
@kevinykuo We are developing sparklyr scripts in analytical sandpits. We are planning to use PMML as a way to export predictive models written in sparklyr to visualization tools like MicroStrategy, Shiny, D3, etc.

[2017-06-23 16:22] javierluraschi opened #780 "Some Scala exceptions cause backend to not return a status and crash r session"
Create the following scala object and compile with `sparklyr`

[code]

Run:

[code]

Notice:

[code]

From logs:

[code]

Run a few more times, usually once or twice is enough:

[code]

**R Session Aborted**

Crash under [R_SockWrite](https://github.com/wch/r-source/blob/af7f52f70101960861e5d995d3a4bec010bc89e6/src/modules/internet/Rsock.c#L547-L570):

<img width="1188" alt="screen shot 2017-06-22

[2017-06-23 17:46] javierluraschi commented on #780
Easier repro:

[code]

[2017-06-23 22:35] javierluraschi commented on #780
Fixed with https://github.com/rstudio/sparklyr/pull/781; however, my guess is that the r session issue is still reproducible with something like:

[code]

[code]

worth investigating this at some point...

[2017-06-23 22:35] #780 closed

[2017-06-23 22:35] javierluraschi commented on #774
Fixed with `sparklyr 0.5.6-9004`.

[2017-06-24 00:37] #774 closed

[2017-06-25 05:09] Wfore0990 commented on #525
Hello,

I've recently inherited a docker project which is running into this error.  I've pared down as much excess as I can while maintaining the error and pushed the project to a repository.

[https://github.com/Wfore0990/sparklyrerror](https://github.com/Wfore0990/sparklyrerror)

I'm building and running the docker project using the Docker client on macOS Sierra 10.12.5.

I will also post my ses

[2017-06-25 05:27] kevinykuo commented on #525
@Wfore0990 could you test this: `devtools::install_github("kevinykuo/sparklyr@5a4d24fd95bc95796fbca116e18f9490e238a78f")`

[2017-06-25 14:15] Wfore0990 commented on #525
@kevinykuo the issue appears to persist with the same error.
Here is the error response I get to the command ``` faithful_tbl <- copy_to(sc, faithful, "faithful") ```

[code]

[2017-06-25 18:13] catlain commented on #774
thanks 👍

[2017-06-25 20:44] JohnMount opened #783 "Reliable spark crasher on current (June 25, 2017) development version of Sparklyr"
This is essentially re-opening [`Sparklyr` issue 721](https://github.com/rstudio/sparklyr/issues/721).

I dev-tools installed all of `dplyr`, `dbplyr`, and `sparklyr` just now (June 25, 2017) and tried to run the code below.  After about 10 repeats of the "rep" loop it hard-locks the `Spark` cluster (just a local cluster) with excessive GC load (I got a message from the HTML user interface once, a

[2017-06-25 20:50] JohnMount commented on #721
@kevinykuo @javierluraschi

First: thanks for working on this!  This sort of workload is probably going to evolve into my "Proof of Concept" small difficult example (run this before trying big projects on a new cluster).

Unfortunately, I do have a couple of follow-ups:

1) Can you point me to some documentation for `sdf_checkpoint`.  Mostly what does it do, and given it doesn't take a name argume

[2017-06-25 22:06] JohnMount commented on #783
I noticed the example was leaking the 2-row control table.  I added code to collect that and crashed again.  The modified code is below.  I could not get all of the error message as I lost the `R` session (image attached).
![untitled](https://user-images.githubusercontent.com/4275344/27520119-e3f3485e-59b7-11e7-947d-fe3945eacef1.png)

[code]

[2017-06-25 22:29] JohnMount commented on #783
I tried it as Markdown.  If failed, but I didn't get any messages back.  I am attaching the example as a .Rmd file.  It doesn't knit- but it is easy to run the chunk to see the issue.

[SparkCrasher.Rmd.txt](https://github.com/rstudio/sparklyr/files/1100691/SparkCrasher.Rmd.txt)
[log4j.spark.log.txt](https://github.com/rstudio/sparklyr/files/1100692/log4j.spark.log.txt)
[derby.log.txt](https://git

[2017-06-26 01:46] kevinykuo commented on #783
@johnmount Thanks for this reprex! I'll try to provide more details when I get a chance but I think you can resolve this by persisting with storage level `MEMORY_ONLY_SER`, i.e. instead of `compute()`, call `sdf_persist()` and `sdf_register()` to assign a name.

[2017-06-26 04:53] JohnMount commented on #783
Thanks @kevinykuo .  I am actually just preparing.  If I `sdf_persisit()` and then `sdf_register()` will `dplyr::db_drop()` table be how I free the thing, or is there another call?

[2017-06-26 15:35] asharmaui opened #784 "Installation failed: Couldn't connect to server"
# Reporting an Issue with sparklyr

receiving installation failed error when writing  " devtools::install_github("rstudio/sparklyr")" in rstudio

![image](https://user-images.githubusercontent.com/8317991/27547283-7ce4ce06-5a63-11e7-9943-9b708c2d2285.png)

[2017-06-26 16:48] javierluraschi commented on #784
@asharmaui probably an intermittent github issue?

[2017-06-26 17:42] javierluraschi commented on #721
@JohnMount `sdf_checkpoint` calls [checkpoint](https://spark.apache.org/docs/latest/api/scala/index.html#org.apache.spark.sql.Dataset) which is meant to be used for iterative algorithms like yours, curious to understand if replacing `compute()` with `sdf_checkpoint()` fixes your scenario.

I'll take a look at (2), already posting a suggestion.

[2017-06-26 17:54] JohnMount commented on #721
I'll try to take a look late tonight.  Thank you very much for the suggestions and ideas.  The real application is a set of steps I have control of- so a work around would be just fine.

[2017-06-26 18:44] kevinykuo commented on #783
@JohnMount When I looked at this example the DAGs didn't blow up like they did in the previous issue, so `sdf_checkpoint()` might not help since its main use is to truncate the lineage. The problem here is likely that you're creating too many intermediate objects causing the GC to hang. Caching serialized data is more of a bandaid here; you should try to avoid "churning" datasets in your applicati

[2017-06-26 18:52] atroiano commented on #678
I am running into this issue with the following environment. I installed the dev version of sparklyr and it didn't resolve the issue.

   "R version 3.4.0 (2017-04-21)"
    packageVersion("sparklyr")
    [1] ‘0.5.6.9004’
   packageVersion("dplyr")
  [1] ‘0.7.1.9000’

[2017-06-26 19:02] javierluraschi opened #785 "Crash on r-session after serializing bad strings or critical Spark exceptions"
Follow up from https://github.com/rstudio/sparklyr/issues/780.

There are a few instances where something bad happens in Spark (see https://github.com/rstudio/sparklyr/issues/783 and https://github.com/rstudio/sparklyr/issues/780) which follows a termination of the backend and the r-session crashing while reading from the socket.

With this helper function...

[code]

connect,

[code]

and then ru

[2017-06-26 19:03] javierluraschi commented on #784
I'm going to close this one since most users are reporting this works as expected, let me know if you are still hitting this to help troubleshoot.

[2017-06-26 19:03] #784 closed

[2017-06-26 19:07] kevinlzheng opened #786 "`ml_multilayer_perceptron` throws `ArrayIndexOutOfBoundsException`"
While calling neural network

   mod.nn <- ml_multilayer_perceptron(x = train.set, response = form1, layers = c(30,15, 5),
                                       seed = 1234L, iter.max = 100)

Current connection to Spark version 2.1.1.2.6.1.0

I got the following error:

* No rows dropped by 'na.omit' call
Error: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 16

[2017-06-26 19:21] javierluraschi commented on #785
<img width="1139" alt="screen shot 2017-06-26 at 12 20 27 pm" src="https://user-images.githubusercontent.com/3478847/27556311-ebaee62c-5a69-11e7-8d6c-a2fd53fe55bf.png">

[2017-06-26 19:35] JohnMount commented on #783
Yup- it is a generic brute force implementation of `bind_rows()` (for databases in addition to `Spark`).  I probably will special case to calling `sdf_bind_rows()` for `Spark`.

That being said- it is a bit of a medium/small test.  It is only binding about 30 tiny tables together 10 times.  So I am still using it as a stand-in for complicated client work (which is usually about 10 large tables).

[2017-06-26 23:42] #785 closed

[2017-06-27 05:02] #426 closed

[2017-06-27 14:31] asharmaui commented on #784
Hi Javier,
I am still facing this issue, please suggest if there can be a workaround
on this.
[image: Inline image 1]

On Mon, Jun 26, 2017 at 3:03 PM, Javier Luraschi <notifications@github.com>
wrote:

--
Best Regards,

*Anubhav Sharma Ph: (408) 759-0176Skype: anubav.shr*

[2017-06-27 15:39] #779 closed

[2017-06-27 19:30] javierluraschi commented on #783
@JohnMount did additional memory suggestion helped in any way? If you try using the latest version of `sparklyr`, I'm hoping that at least we can avoid the r session crash with this fix: https://github.com/rstudio/sparklyr/issues/787. We'll send a few more suggestions your way.

I agree that using `sdf_bind_rows()` would be ideal, but it also seems like Spark/`sparklyr` shouldn't crash with in her

[2017-06-27 19:56] randomgambit opened #790 "wrong/low number of cores allocated?"
Hi,

I am having a hard time getting a large number of cores. I see in the Spark UI that:

`Cores: 500 (60 granted, 440 left)`

despite the fact that I set the following options

[code]

Is there some option that does not get transmitted when I initialize my connection?

[2017-06-27 21:16] randomgambit commented on #790
@kevinushey @kevinykuo I checked some older similar issues in the sparklyr github, but nobody mentions the number of cores. Do you have an idea?

Thanks and keep up the good work!!!

[2017-06-27 21:21] rexhu100 commented on #336
@verty-1 kudos for looking into the source the function, but I have tried your implementation, and it doesn't work either.

I did a little digging, and I found that the problem is that `saveRDS` function cannot connect to HDFS, and the `save` method in `invoke` cannot write to the local file system. My solution to this is to save the `metadata.rds` file to the `/tmp` folder first, and then upload

[2017-06-27 22:57] kevinykuo commented on #790
@randomgambit what happens if you don't pass a `config`? How many cores do you get then?

[2017-06-27 23:15] javierluraschi commented on #533
Tried this under Microsoft R, looking good; therefore, closing.

[2017-06-27 23:15] #533 closed

[2017-06-27 23:26] #525 closed

[2017-06-27 23:28] randomgambit commented on #790
@kevinykuo much less. I think 6.

[2017-06-27 23:34] randomgambit commented on #790
@kevinykuo I think there may be some default that limits the number of cores, perhaps based on some rule (based on executors memory/core etc)?

[2017-06-28 01:01] #760 closed

[2017-06-28 06:20] javierluraschi commented on #771
Unsupported by `dplyr`, opened https://github.com/tidyverse/dplyr/issues/2924, proposing PR as well.

[2017-06-28 06:28] javierluraschi commented on #771
I'm going to close this one since we can track this in `dplyr` now tidyverse/dplyr#2924, PR proposed: https://github.com/tidyverse/dbplyr/pull/24.

[2017-06-28 06:28] #771 closed

[2017-06-28 10:41] AkhilNairAmey opened #792 ""Translator is missing window functions" warning on filter"
I'm getting a bit of an overactive warning message from using a `filter` in `sparklyr`.  I imagine this might actually be closer to a `d(b)plyr`/`DBI` problem.

Could any advice be offered about squashing these? Apologies if this issue is in the wrong repo.

Thanks,
Akhil

[code]

### Session Info

[code]

[2017-06-28 10:54] AkhilNairAmey commented on #792
I opened a similar question in tidyverse/dplyr#2926 in case this is the wrong place - Feel free to close if so.

[2017-06-28 12:22] kevinykuo commented on #792
Yeah this is an issue on the `sparklyr` side; we need a corresponding window translation for each function listed under aggregate. You can close the `dbplyr` issue.

[2017-06-28 13:09] AkhilNairAmey commented on #792
Thanks, have done.

[2017-06-28 15:12] JohnMount commented on #783
@javierluraschi  The additional memory did not help.  The cluster went to Java 100% with 8GB allocated (so I think it did see the config).  I have am maintaining the example [here](https://github.com/WinVector/replyr/blob/master/checks/SparkCrasher.Rmd).

I think we are on the same page on this example (and I very much appreciate that): I want to use this code fragment to work as an acid test on S

[2017-06-28 16:16] JohnMount commented on #783
I am now reliably getting a segfault on [the original (more complicated, packaged) source of this example](https://github.com/WinVector/Examples/blob/master/SparkTips/replyr/replyrExamples.Rmd).

Would you be able to try the following?

[code]

And then trying to knit the Rmarkdown file found [here](https://github.com/WinVector/Examples/blob/master/SparkTips/replyr/replyrExamples.Rmd).

I know thi

[2017-06-28 17:39] kevinykuo opened #794 "cumprod() doesn't work when there are nonpositive numbers"
As reported by @randomgambit in https://github.com/rstudio/sparklyr/pull/789

@javierluraschi I can take a stab if you haven't started working on it. I remember doing this in Access SQL back in the day.....

[2017-06-28 18:17] kevinykuo commented on #790
I was thinking you might have ran out of RAM before cores when allocating, but that's probably not the case if you're getting <6 cores with default configs. It's hard to tell what's going on and I don't have much experience with standalone mode... you might have to step through `spark_connect()` and see what exactly you're executing to get the session.

Have you tried doing this through vanilla `s

[2017-06-28 18:46] skurp commented on #532
What is the detailed solution to this problem?

[2017-06-28 19:29] #792 closed

[2017-06-28 19:38] randomgambit commented on #790
@kevinykuo thanks for your help. you mean using something like this

[code]

Am I supposed to put a string or a number for the shell executor executor-memory option in sparklyr?

[2017-06-28 19:41] #794 closed

[2017-06-28 23:38] #772 closed

[2017-06-29 05:38] duttashi opened #798 "Error in UseMethod("spark_write_csv") : no applicable method for 'spark_write_csv' applied to an object of class "data.frame""
In attempting to write a data frame obtained by `dbGetQuery()` of `library(DBI)`, to a local csv file, the following error is generated;

`Error in UseMethod("spark_write_csv") :   no applicable method for 'spark_write_csv' applied to an object of class "data.frame"`

Please note, if I attempt to write data that was copied to a local spark instance as shown below, `spark_write_csv()` works. But, i

[2017-06-29 10:41] randomgambit commented on #790
@kevinykuo its something on SPARK side. Thanks for the apache issue

[2017-06-29 10:41] #790 closed

[2017-06-29 10:45] randomgambit opened #799 "spark_read_json prohibitively slow with many json files"
@kevinushey @kevinykuo I have about 40 very large json files (each is about 100GB) and I try to load them using

`spark_read_json(mypath/files_json*, memory = FALSE)`

However, **no matter what my cluster allocation is** (number of executors, number of cores, allocated RAM), the reading spawns 500k tasks and takes forever. I have the impression only one executor is trying to map all the data while

[2017-06-29 11:42] kevinykuo commented on #798
`dbGetQuery()` returns a local data.frame so use `write.csv` or the readr package.

[2017-06-29 12:59] duttashi commented on #798
@kevinykuo thanks, `write.csv` works.
Can you give a minimum reproducible example for `spark_write_csv`?

[2017-06-29 13:10] kevinykuo commented on #798
@duttashi you got a good one in the OP with `flights_tbl` I think

[2017-06-29 13:15] duttashi commented on #798
@kevinykuo so what do I change in the OP to make, `spark_write_csv` work?

[2017-06-29 13:49] kevinykuo commented on #798
@duttashi refer to the last snippet here to see how to return a `tbl_spark` using Spark SQL: https://github.com/rstudio/sparklyr/issues/742

[2017-06-29 15:11] randomgambit opened #800 "spark_write_json writes json as folder?!"
@kevinushey @kevinykuo I dont think this is the expected output for `spark_read_json`.
This is my current setup to process some large json files.

[code]

Then instead of having a nice `output.json` file, I have a folder containing many `.part_0001.crc` files. Is there a problem with the `spark_read_json` function?

[2017-06-29 15:15] #754 closed

[2017-06-29 15:15] #743 closed

[2017-06-29 16:34] Dragonfly99 opened #801 "Failed while connecting to sparklyr to port (8880)"
Hi all. I'm trying to connect a new spark cluster on my local machine but I keep getting a connection error.  Here are my specs:

OS Windows 10
R Version 3.4.0
Rstudio 1.0.143
devtools installed

  spark hadoop                       dir
1 2.1.0    2.7 spark-2.1.0-bin-hadoop2.7
[code]
I get this error:

Error in force(code) :
  Failed while connecting to sparklyr to port (8880) for sessionid (7076)

[2017-06-29 19:04] JohnMount opened #804 "sdf_bind_rows filling in NaNs"
sdf_bind_rows is filling NaNs in the following example.  My guess would be: is some of it is the fact that `year` is of time `int` in one column and of type `dbl` in another.  `R` users would expect type promotion at this point.  But also notice the `count` column is also `NaN`-out (the input legitimately did have a `NaN`, but notice how we lost all values).

`reprex` below.

Also I am seeing a lo

[2017-06-29 19:08] JohnMount commented on #783
I am trying to prepare to switch my bind rows to use `sparklyr::sdf_bind_rows()` when on `Spark`, but it looks like we don't quite match in needs/capabilities just yet (filed as [`Sparklyr` issue 804](https://github.com/rstudio/sparklyr/issues/804).

[2017-06-29 19:10] JohnMount commented on #804
Attaching zip file of data.
[data.zip](https://github.com/rstudio/sparklyr/files/1113260/data.zip)

[2017-06-29 20:05] kevinykuo commented on #804
Looks like a bug. I'll look into it. For the time being, if your tables have the same column names, `rbind()` seems to be OK.

[2017-06-29 20:05] kevinykuo commented on #804
BTW the latest devel should have the `dbplyr` warnings fixed

[2017-06-29 20:24] randomgambit commented on #759
@kevinushey @3zhang

Here is a more general problem. suppose `myfile` is a list of files.

[code]
will keep using the same file (the first one) unless one adds:

 ` dplyr::db_drop_table(sc, "df")` at the end of each loop

[2017-06-29 20:31] #217 closed

[2017-06-29 20:33] randomgambit commented on #759
well I thought it would work.. it doesnt apparently. Still getting the same parquet file being writted over and over again

[2017-06-29 22:30] #804 closed

[2017-06-30 00:59] kevinykuo commented on #800
This looks like expected output if your file is distributed. If you want one file you'll want to collect via `sdf_reparitition(df, 1)` or `sdf_coalesce()` when https://github.com/rstudio/sparklyr/pull/806 is merged.

[2017-06-30 01:15] randomgambit commented on #800
@kevinykuo thanks looking forward to that new function

[2017-06-30 01:24] kevinykuo commented on #799
@randomgambit 40 files isn't very many so I suspect this is due to schema inference; the reader will iterate through your data even if you're not caching it in memory. We currently don't have a very friendly way to pass a schema to `spark_read_json()`, though it can be done. Would you be able to provide a sanitized sample of your json with the relevant structure (e.g. nested or not)? Looking at so

[2017-06-30 01:29] randomgambit commented on #799
@kevinykuo do you mean there is a workaround right now? I would be really interested to know it. I tried to convert my json to parquet, but this is a pain.

The json are really simple., There is only one field that is nested (it contains the longitude-latitude). There are about 15 fields including strings and numbers.

[2017-06-30 01:34] randomgambit commented on #799
@kevinykuo is the workaround similar to the one in http://spark.rstudio.com/example-s3.html

like

[code]

Do you think that will seriously cut the number of tasks generated?

[2017-06-30 01:53] kevinykuo commented on #799
@randomgambit yeah but it's gonna be a bit more involved. The `csv` case is more well supported (in fact you can just pass `infer_schema = FALSE`). For json right now I think you'd have to get hacky and do something like

[code]
then pass `my_struct_type` to `spark_read_json()` via `options`.

I think we'd want an interface closer to `spark_read_csv()`, but we need to think about how it's gonna wo

[2017-06-30 01:59] randomgambit commented on #799
@kevinykuo @javierluraschi woooooot this is not what I call a workaround!! :D

[2017-06-30 02:19] JohnMount commented on #804
Fix looks good to me.  Thank you very much!

[2017-06-30 09:39] HugoHehn opened #807 "Spaklyr/dplyr window functions not working properly"
I seems to have run into problems with Spaklyr/dplyr window function problems recently which never arose before when using the same scripts. Not sure if it has anything to do with the window function commits from a few days ago.

Although I cannot provide a completely reproducible example I essentially am just running the following against Hive:

[code]

What seems to happen is that the dplyr code

[2017-06-30 10:47] HugoHehn commented on #807
Closing as I now discovered this has been addressed: https://github.com/rstudio/sparklyr/pull/793

[2017-06-30 10:47] #807 closed

[2017-06-30 11:03] duttashi commented on #798
@kevinykuo the last snippet  at [#742](https://github.com/rstudio/sparklyr/issues/742) `DBI::dbSendQuery(sc, "CREATE TABLE mytable AS SELECT * FROM df)` works, but does not extract records, because as per [documentation](https://www.rdocumentation.org/packages/DBI/versions/0.5-1/topics/dbSendQuery) for `dbSendQuery`,

[code]

So, this method `DBI::dbSendQuery(sc, "CREATE TABLE mytable AS SELECT *

[2017-06-30 12:00] kevinykuo commented on #798
Ahh okay. I'll take a look.

[2017-06-30 17:37] javierluraschi opened #808 "Consider applying settings to shell and Spark Config automatically"
User reports that in `yarn` and using `sparkR` one can specify `spark.driver.memory`:

[code]

`pyspark` does seem to require a special case of this parameter by passing it outside the `--conf` argument.

[code]

However, in `sparklyr`, this is not very discoverable since users expect this to work:

[code]

while this is needed instead:

[code]

[2017-06-30 17:46] javierluraschi commented on #801
@Dragonfly99 this is a common error I've been trying to fix/reproduce for a while. If you have a few hours to help the community, find me on gitter to chat about this, I'm sure we can get it resolved but it's unfortunately hard without someone willing to put the time to debug this with us. You can find me online here: https://gitter.im/rstudio/sparklyr - Thanks for reporting this!

[2017-06-30 18:03] javierluraschi commented on #801
Could you also share `sessionInfo()` and retry with the latest version od `sparklyr`? The issue is probably not resolved but we've added checks to help troubleshoot this. You can install the latest version with:

[code]

Once installed, retry connecting, share error log and please also include the output of `spark_context_config(sc)`.

[2017-06-30 18:42] javierluraschi commented on #520
Mostly answering questions and closing this issue, stackoverflow would be a good place to continue this discussion but hopefully this address most.

First, we've created a few wrappers making it easier to import data form any Spark package, the updated code is as follows:

[code]

From @renegademonkey:

Yes, Sparl does support pushing predicates to remote sources, as least when supported by the so

[2017-06-30 18:42] #520 closed

[2017-06-30 19:44] statmatt commented on #808
FWIW I'm the "user" :-)

The spark configurations need to be used as consistently as possible across all APIs to keep barriers to entry low.

[2017-06-30 20:07] ianmcook commented on #674
In addition to the warning, another effect of this (at least for me) is that the resulting table does not get registered and  is not listed in the output of `src_tbls()`.

[2017-06-30 20:14] statmatt commented on #808
In fact, not sure the bottom level is working either:
`> sc <- spark_connect(master = "yarn", app_name = "test", spark_home="/usr/lib/spark", config = list(
+     `sparklyr.shell.spark.driver-memory`="10g",
+     spark.sql.shuffle.partitions="5000",
+     spark.driver.maxResultSize="5000",
+     spark.dynamicAllocation.enabled="true"
+ ))
Error in force(code) :
  Failed while connecting to sparkly

[2017-06-30 20:19] javierluraschi commented on #808
@statmatt by bad, I think `g` is case sensitive (yet another thing to consider streamlining in `sparklyr` config).

[code]

[2017-06-30 21:21] javierluraschi commented on #770
Investigated this one, was hoping that with the by-row functionality `spark_apply` provides, we would be closer to provide by-group functionality.

In other interfaces, say `sparkR`, this is implemented in [gapply](https://github.com/apache/spark/blob/39e2bad6a866d27c3ca594d15e574a1da3ee84cc/sql/core/src/main/scala/org/apache/spark/sql/api/r/SQLUtils.scala#L195-L204) by calling [DataSet.groupBy](h

[2017-06-30 21:33] javierluraschi commented on #801
@Dragonfly99 any chance you could also run `java -version` from the console and share the output?

[2017-06-30 22:04] Dragonfly99 commented on #801
Here's what I got:

[code]
[code]

[code]

[2017-06-30 22:19] javierluraschi commented on #801
@Dragonfly99 Sorry, I mean `system("java -version")` since you are running this from R.

[2017-06-30 22:20] javierluraschi commented on #801
Does this file `C:\Users\Kerry\AppData\Local\Temp\RtmpmwvQFd\file1a746c36c62_spark.log` happen to be empty if you open it yourself?

[2017-06-30 22:38] Dragonfly99 commented on #801
That path reads: "The system cannot find the path specified."
That command you gave me gives me this:
[code]

[2017-07-01 00:02] javierluraschi commented on #801
Pushed a fix to increase logging, could you try the following and share the output? Really appreciated @Dragonfly99!

[code]

[2017-07-01 00:10] javierluraschi commented on #741
@saurfang are you using `Livy 0.3`? `Livy 0.2` is pretty much unusable with `sparklyr` due to performance issues.

[2017-07-01 00:13] javierluraschi commented on #742
@kevinykuo Right now that would be `spark_session(sc) %>% invoke("sql", "SELECT 1")`, would help to know what you where trying to do that made you consider this function. There is also `tbl(sc, sql("SELECT 1"))`.

[2017-07-01 00:14] javierluraschi commented on #747
Thanks @kevinykuo!

[2017-07-01 00:14] #747 closed

[2017-07-01 00:16] Dragonfly99 commented on #801
No problem. I like helping and I want too want to play with big data.  Here's the latest results:
[code]
[code]

[2017-07-01 00:23] javierluraschi commented on #752
@nviets:

Using the latest version of `sparklyr` that you can install with:

[code]

**Option 1 (dbi):**

[code]

**Option 2 (dplyr):**

[code]

[2017-07-01 00:23] #752 closed

[2017-07-01 00:24] javierluraschi commented on #758
Right, this has been fixed in the `sparklyr` development version, we will try to get this version to CRAN soon, thanks for reporting this!

[2017-07-01 00:24] #758 closed

[2017-07-01 00:34] javierluraschi commented on #759
I don't see any issue, am I missing something? This is what I tried:

[code]

Then these files look correct:

[code]

[code]

[2017-07-01 00:35] javierluraschi commented on #759
Closing, but feel free to open a new one or comment back if we are missing something, thanks!

[2017-07-01 00:35] #759 closed

[2017-07-01 00:39] javierluraschi commented on #767
@mubeenarasack looks like you might have to manually change the execution permissions of say, `spark-submit2` for windows or `spark-submit` for linux.

`file.path(sparklyr::spark_home_dir(), "bin")` should give you the path to `spark-submit` and `spark-submit2`, then make sure both are readable and executable.

There is some info [here](https://stackoverflow.com/questions/36168135/running-spark-on

[2017-07-01 00:39] #767 closed

[2017-07-01 00:43] javierluraschi commented on #768
@mubeenarasack looks like you have a `\n` in your CSV, this is currently unsupported, I believe Spark 2.2 is coming up with a fix, we have another bug in `sparklyr` already tracking this, see also: https://github.com/databricks/spark-csv/issues/98.

CLosing as duplicate of https://github.com/rstudio/sparklyr/issues/776

[2017-07-01 00:43] #768 closed

[2017-07-01 00:47] kevinykuo commented on #798
@duttashi the correct syntax here would be

`tbl(sc, sql("select flight, tailnum, origin, dest FROM flights where year=2013"))`

Thanks @javierluraschi !

[2017-07-01 00:50] kevinykuo commented on #742
@javierluraschi this is it. It'd be nice to include under "Direct Spark SQL commands" in the [cheat sheet](http://spark.rstudio.com/images/sparklyr-cheatsheet.pdf) @edgararuiz ;)

[2017-07-01 00:50] #742 closed

[2017-07-01 00:51] javierluraschi commented on #775
Nice! This made sense to me: https://rawgit.com/ropenscilabs/skimr/master/blog.html - Added `skimr` to our list of features: https://github.com/rstudio/sparklyr/projects/1.

That said, I have not hear that much this request, looks to me like we have more pressing issues... that said, this might be a small feature worth considering for `sparklyr 0.7`, would be also interesting to catch up with Jona

[2017-07-01 00:53] javierluraschi commented on #798
Sounds like we are good to close this one? Closing, let me know if that's not the case.

[2017-07-01 00:53] #798 closed

[2017-07-01 00:55] javierluraschi commented on #799
I'll take a look, we added `infer_schema = FALSE` for `sparklyr 0.6` so setting the `columns` parameter should be enough...

[2017-07-01 00:56] javierluraschi commented on #800
@kevinykuo added support for `sdf_calesce`, we good to close?

[2017-07-01 00:56] #800 closed

[2017-07-01 00:59] randomgambit commented on #799
@javierluraschi I just wonder how you can specify the variable type for nested variables?

[2017-07-01 01:11] javierluraschi commented on #801
@Dragonfly99 do you see any files named `log4j.spark.log*` could you please share its contents?

[2017-07-01 01:25] duttashi commented on #798
@kevinykuo and @javierluraschi , thank you both for the correct syntax. I confirm, `spark_write_csv()`, now works. I provide below the complete code for any future reference.

#### LOAD REQUIRED LIBRARIES
library(nycflights13)
library(sparklyr)

#### connecting to spark local cluster
sc <- spark_connect(master = "local", version = "1.6.2")
#### check data tables in spark local cluster
src_tbls(sc)

[2017-07-01 02:01] saurfang commented on #741
Yes as you can see in the reprex it says `#> * 'livy-0.3.0' already installed`

[2017-07-01 07:40] duttashi commented on #645
@kevinushey  @richierocks  @javierluraschi @kevinykuo , I tried reproducing this issue, and I got no errors. It worked fine.
So, I doubt that it is a bug in Spark 1.6.2

My session information is as follows;

[code]
#### load libraries
[code]

#### Copy data to spark local instance
`>copy_to(sc, mtcars)`
#### check data tables in spark local cluster
[code]
#### print the spark version
[code]
####

[2017-07-01 13:26] duttashi commented on #338
@JohnMount, try upgrading the `dplyr` and `sparklyr` versions.
I tried reproducing the aforementioned error, but could not. The following code works for me
[code]
@javierluraschi I think this issue can be closed. As you can see above, it works with the latest `dplyr` and `sparklyr` versions.

[2017-07-01 13:58] JohnMount commented on #338
Looks good for me also.  Thank you very much.

[code]

[2017-07-01 13:58] #338 closed

[2017-07-01 15:26] Dragonfly99 commented on #801
I don't have that file.

[2017-07-02 05:36] duttashi commented on #765
@dwy904 maybe [this](https://beta.rstudioconnect.com/content/1518/notebook-classification.html) is what you are looking for.

I followed the aforementioned tutorial and I provide below a minimum reproducible example;

[code]
Hope it helps.

[2017-07-02 05:43] duttashi commented on #786
@kevinlzheng can you provide a minimum reproducible example for the reported behavior?

[2017-07-02 08:49] sean-in-korea opened #810 "Cannot connect Spark 2.1.0 cluster using sparklyr 0.5.6"
Hello.

I am experiencing an unresolved issue with sparklyr 0.5.6 and Spark 2.1.0 on R 3.3.0.

`> sessionInfo()
Oracle Distribution of R version 3.3.0  (--)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Oracle Linux Server 6.8

locale:
 [1] LC_CTYPE=en_US.UTF-8       LC_NUMERIC=C
 [3] LC_TIME=en_US.UTF-8        LC_COLLATE=en_US.UTF-8
 [5] LC_MONETARY=en_US.UTF-8    LC_MESSAGES=en_US.UTF-8

[2017-07-02 19:44] jconesam opened #811 "Is it possible to connect sparklyr to mongodb?"
I know how [to connect sparkR to mongodb](https://docs.mongodb.com/spark-connector/master/r-api/):

But I do not know how to combine that code with sparklyr to get data from mongo. I have tried this code, but it does not work:

`
Sys.setenv(SPARK_HOME=spark_home)

config <- sparklyr::spark_config()
config$sparklyr.defaultPackages <- c("org.mongodb.spark:mongo-spark-connector_2.10:1.1.0")
config$sp

[2017-07-03 06:13] duttashi commented on #619
@richierocks, Unable to reproduce with Spark 2.0.2
@javierluraschi I do not think this is a spark limitation

[code]
My session info is

[code]

[2017-07-03 06:28] duttashi commented on #563
@NachoGar, The following code works for me

[code]

My session info is;
[code]

[2017-07-03 08:37] javierluraschi commented on #801
@Dragonfly99 thank you, could you try running `spark-submit` directly from the console as follows?

[code]

and share the results?

[2017-07-03 10:59] konradedgar commented on #236
While running the `mean` on column with `NA`, I've got the warning message:
[code]
How this should be understood:

- `na.rm not needed in SQL: NULL are always dropped` : all `NAs` are automatically dropped
- `na.rm not needed in SQL: NULL are always dropped == FALSE`: all `NAs` ***are not*** automatically dropped
What's the meaning of **`droppedFALSE`** in the above warning message?

[2017-07-03 14:08] randomgambit opened #812 "java.io.IOException: No space left on device"
Hi,

I am getting the dreaded `no space left on device` error despite having set up `local.dir` in my config file

[code]

where `mypath` has more than 5TB of free space.

I am running something really simple like
[code]

running `collect(myquery)` returns the error. Is there a `sparklyr` parameter that overrides the writing of temporary files to the `/mypath` folder? Any ideas @kevinykuo @javierl

[2017-07-03 16:04] lumatt opened #813 "concatenating string columns"
Hi,

I tried invoking java methods with respect to concatenating two string columns. The most obvious (at least for me) dplyr-like way for doing this is...

[code]
... and it works. However, I tried to do the exact same thing invoking java methods - either writing sql expressions...

[code]

...or using method from org.apache.spark.sql.functions:

[code]

I assume it might be written more elegant

[2017-07-03 17:21] javierluraschi commented on #801
@Dragonfly99 also, please run the `SparkPi` basic example as follows from the Windows Command Prompt:

[code]

Thank you!

[2017-07-03 19:23] Dragonfly99 commented on #801
I'm being told that spark-submit2.cmd and spark-submit.cmd are invalid names for some reason. The farthest I can cd into is ``` C:\Users\Kerry\AppData\Local\rstudio\spark\Cache\spark-2.1.0-bin-hadoop2.7\bin\ ```

[2017-07-03 21:24] javierluraschi commented on #801
@Dragonfly99 Can you share a screenshot and validate that `spark-submit2.cmd` has execute permissions?

For instance, in my Windows 10 installation, execution was enabled by default and looks as followed:

<img width="579" alt="screen shot 2017-07-03 at 2 22 25 pm" src="https://user-images.githubusercontent.com/3478847/27808192-1ea1e804-5ffb-11e7-8580-39ca9a19c5ec.png">

[2017-07-03 21:38] Dragonfly99 commented on #801
![sparkpermissions](https://user-images.githubusercontent.com/3792212/27808526-603b366a-6016-11e7-94aa-6c6af79a3793.PNG)

[2017-07-03 22:53] javierluraschi commented on #801
@Dragonfly99 can you share the screenshot or text from the output you are getting in the windows terminal? Should look something like this:

<img width="511" alt="screen shot 2017-07-03 at 3 52 14 pm" src="https://user-images.githubusercontent.com/3478847/27809784-a679b962-6007-11e7-9f5b-7e947a97eb64.png">

<img width="502" alt="screen shot 2017-07-03 at 3 52 24 pm" src="https://user-images.github

[2017-07-03 23:34] javierluraschi commented on #801
Also, how much memory do you have available on this machine?

Could you try:

[code]

and reconnect? There was a fix in `spark_install` that might fix the issue you are experiencing.

[2017-07-04 01:13] randomgambit commented on #812
@kevinykuo @javierluraschi now that I think about it, this error may be related to some imbalances where after the `group_by` some keys have disproportionately large number of observations. How can I handle that in sparklyr in your opinion?

[2017-07-05 11:09] jkeirstead opened #814 "Values converted to zero when working with tables of more than 200 columns"
Our production Hadoop installation runs Spark 1.6.2 with Hadoop 2.7 and so I've created a local installation for code development with:

[code]

However `sparklyr::spark_install()` only offers up to Hadoop 2.6.

If I use this configuration (Spark 1.6.2, Hadoop 2.6), then all values in a table with more than 200 columns get converted to zero.  For example:

[code]

This is a [known bug with Spark 1

[2017-07-05 14:23] randomgambit commented on #812
@kevinushey @javierluraschi could it be that sparklyr does not allow for different group_by methods such as `groupByKey` and `ReduceByKey` (this one being optimized for skewed data like mine) ?

thanks!!!

[2017-07-05 15:47] igornoberto opened #815 "spark_read_csv unable to read big data sets"
I'm trying to copy a big database into Spark using spark_read_csv, but I'm getting the following error as output:

It's a big data set, about 5.8 million of records.

`data_tbl <- spark_read_csv(sc, "data", "D:/base_csv", delimiter = "|", overwrite = TRUE)`
Within my dataset I have data of types `Int`, `num `and `chr`.

[code]

[2017-07-05 16:50] kevinushey commented on #812
Although I'm not able to give you a direct answer, I would start by inspecting the generated SQL:

[code]

Does the generated SQL look correct?

[2017-07-05 17:35] randomgambit commented on #812
@kevinushey I actually get some crazy stuff

[code]

u is a `url` address in my data. Any ideas?

[2017-07-05 18:09] javierluraschi commented on #812
@randomgambit `jpdowetklw` is a temp table to the `spark_read_parquet` operation. Could you share the full stack trace of the `No space left on device` exception?

[2017-07-05 18:15] javierluraschi commented on #810
@sean-in-korea could you try running the latest devel verison using:

[code]

and force in your config to use `yarn-client` as follows:

[code]

?

[2017-07-05 19:02] javierluraschi commented on #815
Looks like this would be an issue related to reading a CSV with long decimals... However, I haven't been able to produce this problem, say, while using:

[code]

@igornoberto could you share the output of `spark_log(sc` to see if we spot something else?

[2017-07-05 19:16] javierluraschi commented on #814
@jkeirstead is `df` under `sc_local` and `cols = 201` also resetting to zero? I wonder if this is specific to `H2O` or something we can fix on `sparklyr`.

[code]

which is looking good so far, adding @navdeep-G in case this is `H2O` specific.

[2017-07-05 19:24] randomgambit commented on #812
@javierluraschi  here it is:

[code]

[2017-07-05 19:24] javierluraschi commented on #811
Yes, it should be possible.

BTW. There is an easier way we are adding for the development version of `sparklyr` (although, does the same under the covers), you can install with `devtools::install_github("rstudio/sparklyr")` followed by:

[code]

That said, it will probably also hang since it's a wrapper for logic similar to the one you provide.

If this is a restricted resource, you might need to

[2017-07-05 19:46] javierluraschi commented on #812
@randomgambit does this happen to run correctly?

[code]

This would be the simplified query, wondering if the nested select `dplyr` is generating is causing a performance degradation here.

[2017-07-05 19:47] #799 closed

[2017-07-05 19:49] randomgambit commented on #812
@javierluraschi let me try this. but arent you missing a LIMIT somewhere? my query has a head at the end. thanks!

[2017-07-05 19:49] javierluraschi commented on #799
@randomgambit could you update `sparklyr` with `devtools::instsall_github("rstudio/sparklyr")` followed by using the new `columns` parameter? Something like:

[code]

setting them all as "character" is fine here since we are interested in troubleshooting the performance issue you are reporting more than getting the right types.

[2017-07-05 19:52] jkeirstead commented on #814
Yes, `df` is fine with those parameters; it's just `h2o_tbl`.

(I would have raised it directly with H2O but the known Spark bug made me wonder if the problem might be somewhere between the two.)

[2017-07-05 19:52] javierluraschi commented on #813
@lumatt could you explain what you are trying to accomplish? why is concatenating with `dplyr` not sufficient in this case? `dplyr` uses `invoke()` under the covers; however, would be nice to help you resolve this without the use of the extensions API.

[2017-07-05 20:29] randomgambit commented on #812
@javierluraschi tried the SQL and nope, still getting this error unfortunately...

[2017-07-05 20:31] randomgambit commented on #812
@javierluraschi with the additional twist just before the no space left error

[code]

[2017-07-06 00:45] javierluraschi commented on #812
Yes, forgot the `LIMIT` clause. We shouldn't be getting a `Error in if (ncol(df) > 0) df else invisible(df)`, do you also get an error for `DBI::dbGetQuery(sc, "SELECT 1")`?

[2017-07-06 03:55] kevinykuo opened #818 "Local mode connection should default to latest version installed?"
[code]

[2017-07-06 06:23] lumatt commented on #813
@javierluraschi the question is more about using and understanding java extensions in sparklyr. in this case dplyr-like approach is sufficient, but the whole example was mentioned just to present my understanding how to accomplish it alternatively, asking what basically went wrong .

additionally, I thought that, using typical R function (like paste0) is suboptimal, because the whole engine might

[2017-07-06 12:19] randomgambit commented on #812
getting some ever more CRAZY stuff!!!!

[code]

[2017-07-06 12:34] simonsays1980 commented on #382
I get the same error with our remote cluster. Is there any progress?

Using sparklyr v0.5.6.9011.
[code]

[code]

My connection has the following variables:

[code]

[2017-07-06 13:58] simonsays1980 commented on #382
I found the following:

If the size of the dataset is below 64448 Bytes this command runs:

[code]

So in my example above, if `Lahman::Batting` is cut in rows it the command works. This is the case when the dataset is below 64448 Bytes:
[code]
I found another post that dealt with the same Scala error and had a problem with strings larger than 65535 Bytes (see [https://issues.scala-lang.org/browse

[2017-07-06 16:53] javierluraschi commented on #382
@simonsays1980 take a look at this one: https://github.com/rstudio/sparklyr/issues/333, you might want to set `config[["livy.rsc.rpc.max.size"]] <- 104857600`; however, there is more work we need to do to support larger file uploads, so my recomendation would be to not use `sparklyr` to upload large files but some of the platform-specific methods, from the terminal: `hdfs fs -cp`, etc.

[2017-07-06 16:58] javierluraschi commented on #603
@cyadusha do you remember how you solved the `NoClassDefFoundError`, I've seen it once but went away after a machine restart, for me. Thanks!

[2017-07-06 16:58] #603 closed

[2017-07-06 17:03] javierluraschi commented on #812
@randomgambit can you share your `sessionInfo()`, I barely recall seeing this issue from a `DBI`/`sparklyr` version missmatch, you already ran `devtools::install_github("rstudio/sparklyr")` correct?

[2017-07-06 17:20] randomgambit commented on #812
@javierluraschi yes

[code]

[2017-07-06 17:37] Dragonfly99 commented on #801
This is what I get for that code
[code]
[code]
I'm going to to enter those other commands in the terminal and send you the screenshots.

[2017-07-07 01:47] randomgambit commented on #812
@javierluraschi does that ring a bell?

[2017-07-07 05:15] javierluraschi commented on #801
Thanks for entering those commands in the terminal, that would be much appreciated. I'm hoping we can get more info as to why "The system cannot find the path specified.", it's obviously there, so hopefully, we can see a clear permissions error or something else...

[2017-07-07 05:17] #818 closed

[2017-07-07 09:09] simonsays1980 commented on #382
@javierluraschi Thanks for the quick reply. I tried this now:

[code]
In the livy logs I see:

[code]
Especially the line,
[code]
shows that somehow the configuration settings given to livy to be passed further on to Spark cannot be implemented there. Maybe the reason is that a running SparkContext cannot be altered but must instead be restarted? It might be that I have to choose much more memory

[2017-07-07 13:21] igornoberto commented on #815
@javierluraschi it seems like my log4j isn't set:

[code]

Meanwhile, here goes the full error message: (It, indeed, looks like something related with long decimals. My data has it in various fields)

`> data_tbl <- spark_read_csv(sc, "data", "D:/base_csv", delimiter = "|", overwrite = TRUE)`

[2017-07-07 14:06] Dragonfly99 commented on #801
Here's a sample of the commands I try in the command prompt and the different failures I'm getting.  Spark-submit.cmd and spark-submit2.cmd give me the exact same things despite being there.

![spark-submit-fail](https://user-images.githubusercontent.com/3792212/27961118-b42260ea-62fb-11e7-9bf1-32fed22ade07.PNG)

[2017-07-07 16:18] javierluraschi commented on #801
@Dragonfly99:

1. Could you run `dir` on the command prompt under the `C:\Users\Kerry\AppData\Local\rstudio\spark\Cache\spark-2.1.0-bin-hadoop2.7\bin\` path? As in:

[code]

and share the results? This is to list the files since I saw [this](https://superuser.com/questions/877854/file-exists-but-system-cannot-find-file-specified-is-returned-in-cmd) post explaining that sometimes this error trigger

[2017-07-07 16:21] javierluraschi commented on #815
@igornoberto forgot to ask, what kind of spark cluster is this and version? It would help if you could share the `spark_connect` command you are triggering, thanks!

[2017-07-07 16:25] javierluraschi commented on #815
@igornoberto it would also help if you share some of the values of the decimal fields to see if we can spot something off to reproduce this.

[2017-07-07 16:49] Dragonfly99 commented on #801
Here's a screenshot of  the directory results

![directoryresults](https://user-images.githubusercontent.com/3792212/27967846-9b503760-6312-11e7-9952-4c4fc9705347.PNG)

I have 2 questions so I make sure I do this right.
1. for step 2, would everything go inside of  C:\spark\bin or C:\spark?
2. For step 4 would it be ok if I just share up into Java Home's results?  This is the result for sys.getenv

[2017-07-07 16:58] javierluraschi commented on #812
@randomgambit ah yes, the problem seems to be that the data frame has no columns, from looking at the code, this error is thrown when a dataset with no columns is read, I'll fix that today.

However, that fix won't solve your loading issue, can you explain how your parquet files are structured? Do all of the have the same schema, if not, have you considered using `mergeShema` from [read.parquet](h

[2017-07-07 17:18] randomgambit commented on #812
@javierluraschi related to this is https://github.com/rstudio/sparklyr/issues/799

what I ended up doing is load each json separately and write the corresponding parquet file. Compression and data loading seems much faster with parquet. Then I load all the parquet using

`df_new <-spark_read_parquet(sc, "/mypath/parquet_*", name = "df_new", memory = FALSE)`

Indeed, some of the files MAY have an e

[2017-07-07 17:18] javierluraschi commented on #801
@Dragonfly99 thank you! We know the problem is not zero-size now, for your questions:
1. Everything goes into `C:\spark`.
2. That points to the correct `JAVA_HOME`, you don't need more info here.

Lets see if it's a problem with long paths by copying everything into `C:\spark` and retrying.

[2017-07-07 17:24] javierluraschi commented on #812
Rather than loading everything, I would start with one file first... something like:

[code]

and see if that loads correctly.

Could you also rerun `devtools::install_github("rstudio/sparklyr")` to pick `sparklyr 0.5.6-9013` that contains this https://github.com/rstudio/sparklyr/pull/821 fix which I'm hoping will give us a better error message.

[2017-07-07 17:26] randomgambit commented on #812
@javierluraschi sure I can do that hold on a few minutes

[2017-07-07 17:27] javierluraschi commented on #625
Sent refactoring PR: https://github.com/rstudio/sparklyr/pull/820

[2017-07-07 17:27] #625 closed

[2017-07-07 17:31] javierluraschi commented on #813
@lumatt sounds good, I was just trying to make sure that you were not writing expression without fixing first `dplyr`.

This one is easier to answer:

[code]

The issue is that `invoke_static` only operates over `static` objects, say, objects that were not already created through `invoke()`, if you change `invoke_static(spark_session(sc)` to `invoke(spark_session(sc)` you might get the results you

[2017-07-07 17:41] Dragonfly99 commented on #801
No luck.
![sparkbin](https://user-images.githubusercontent.com/3792212/27969712-efe6ba36-6319-11e7-84ff-a4d26a9f523f.PNG)

[2017-07-07 17:43] randomgambit commented on #812
@javierluraschi hummm does not look good at all

[code]

[2017-07-07 17:51] javierluraschi commented on #812
@randomgambit maybe we need to take a step back and troubleshoot how the parquet file got saved?

[2017-07-07 17:56] javierluraschi commented on #801
Could you right-click on the `saprk-submit2.cmd` file, then `properties` and share the info, something like:

<img width="574" alt="screen shot 2017-07-07 at 10 54 28 am" src="https://user-images.githubusercontent.com/3478847/27970200-cae7ba62-6302-11e7-9967-05a59640931a.png">

<img width="203" alt="screen shot 2017-07-07 at 10 54 46 am" src="https://user-images.githubusercontent.com/3478847/27970

[2017-07-07 17:57] randomgambit commented on #812
@javierluraschi but what is puzzling is that
`
sample <-df_new %>% head()`
returns the correct first rows. I can look at them using `glimpse`. Variable types are `character`, `list` and `double`.

Anyway, the code I used to create each parquet is the following
[code]

[2017-07-07 18:11] Dragonfly99 commented on #801
Here they are:
![spark-submit-security](https://user-images.githubusercontent.com/3792212/27970782-07e71168-631e-11e7-8f4e-a8bab3646ef9.PNG)

![spark-submit-details](https://user-images.githubusercontent.com/3792212/27970787-0e05669e-631e-11e7-90c4-acf1d406f24a.PNG)

[2017-07-07 18:45] javierluraschi commented on #801
@Dragonfly99 Could you run from the command prompt:

[code]

and

[code]

The `spark-submit` scripts mostly call `java` so I wonder if that's somehow incorrectly installed or missing.

[2017-07-07 18:59] javierluraschi commented on #812
@randomgambit So you are saying that this works:

[code]

but

[code]

wont?

[2017-07-07 19:00] Dragonfly99 commented on #801
So I looked into my program files and I don't think I have that jre version. Here's a pick of what's there.

![jre_files](https://user-images.githubusercontent.com/3792212/27972375-289b0f62-6324-11e7-8b64-3f831f43e638.PNG)

Here's a pic of Java results:
![javatest2](https://user-images.githubusercontent.com/3792212/27972594-e89e4e82-6324-11e7-9845-a63dca3977ab.PNG)

![javatest](https://user-images

[2017-07-07 19:03] randomgambit commented on #812
@javierluraschi not quite

`df_new %>% head()` WORKS
`df_new` WORKS
`output<- DBI::dbGetQuery(sc, "SELECT 1 FROM `df_new`" )` FAILS (assuming SELECT 1 returns the first row and not only ones?!)

[2017-07-07 19:05] javierluraschi commented on #801
@Dragonfly99 Nice! So that's the problem, this was much-much harder to troubleshoot than what I would expect, I'll make a fix in `sparklyr` to check `java` exists in a more robust way and throw an error when that's not the case.

So I think what you want to do is to change the `JAVA_HOME` environment variable to the correct path, here is a pointer, let me know if you hit any issues and I'll be mor

[2017-07-07 19:21] randomgambit commented on #812
@javierluraschi so this does not seem to be the source of the problem after all?

[2017-07-07 19:23] Dragonfly99 commented on #801
Ok I changed the path to point to  jre.1.8.0_131. What do I do next?

[2017-07-07 19:33] javierluraschi commented on #801
@Dragonfly99 Restart rstudio, retry `spark_connect(master = "local")` and 🤞!

[2017-07-07 19:37] Dragonfly99 commented on #801
I think it worked! Here's the new results:

[code]

[2017-07-07 19:38] randomgambit commented on #812
@javierluraschi Indeed, running
`
 output<- DBI::dbGetQuery(sc, "SELECT `u`, count(*) AS `mycount` FROM `df_new` GROUP BY `u` ORDER BY `mycount` DESC LIMIT 10" `

**WORKS** on the single parquet file. So mine is a problem that comes when I combine all of the parquet together.

[2017-07-07 19:43] javierluraschi commented on #812
@randomgambit good to know... and the main problem is still the performance issue, right? The query just hangs with multiple parquet files, correct?

Can you run a simple query over all the dataset? As in `dataset %>% count()`?

[2017-07-07 19:44] javierluraschi commented on #801
@Dragonfly99 yup! you are good to go! Instead you want to do:

[code]

but yeah, you should be able to follow all http://spark.rstudio.com tutorials, etc. If you hit other issues, let open a new issue.

Thanks for sticking through several days, it will really make a difference to others hitting this issue.

[2017-07-07 19:52] randomgambit commented on #812
@javierluraschi worked really easy on the full dataset. spawned 17k tasks that were finished in about 34 s.
something like 10 billion observations in total

[2017-07-07 20:00] Dragonfly99 commented on #801
Thanks so much for helping. I'm glad it works now and I can play around with big data. I also hope I contribute like you do some day when I have more experience. This was my first issue open and first "contribution"   ^__^

[2017-07-07 20:10] javierluraschi commented on #812
@randomgambit it's interesting that it spawned 17K tasks, which works for `counts()` but not for aggregations, I think we need to find a way to reduce the number of tasks that get created after reading the data. Could you try something like

`dataset %>% sdf_repartition(partitions = 50) %>% count()`?

I would expect the count to run over less tasks, if this works, then you can try something more c

[2017-07-07 20:31] randomgambit commented on #812
here is what I see exactly:

`df_new <-spark_read_parquet(sc, "//mypath/parquet_*", name = "df_new", memory = FALSE)`
spawns
- one `collect at utils.scala:58`
- three `parquet at NativeMethodAccessorImpl.java:0` (two with 71 tasks, one with 1 task)

each of them less than 3 seconds.

then `df_new %>% count()`

spawns

- two `count at NativeMethodAccessorImpl.java:0` (one with 17k tasks, one with 1

[2017-07-07 20:36] javierluraschi commented on #812
yes, I think repartitioning is expected to cause an overhead, but at times where data is too-fragmented, it could actually speed up things for more complicated queries. Give it a shot with the real query to see how it goes. Something like:

[code]

[2017-07-07 20:47] #801 closed

[2017-07-07 20:50] javierluraschi commented on #562
Long investigation over https://github.com/rstudio/sparklyr/issues/801 shows that one problem could be an incorrect value for the `JAVA_HOME` environment variable. Hard to tell how many of users in this issue will benefit from double checking `JAVA_HOME`; regardless, since there is low activity in this issue, closing.

If someone is willing to troubleshoot their connection issue thoroughly, please

[2017-07-07 20:50] #562 closed

[2017-07-07 20:53] #401 closed

[2017-07-07 20:57] randomgambit commented on #812
@javierluraschi that is a very interesting possibility but there is some weird behavior here

` df_new %>% sdf_repartition(partitions = 50) %>% group_by(u) %>% summarize(mycount = n()) %>% arrange(desc(mycount)) %>% head(10)`

spawns:
-  4  `count at NativeMethodAccessorImpl.java:0` stages

where the **first one** has 17k tasks (and FAILS with no space left error).
The other stages (pending) have

[2017-07-08 00:16] igornoberto commented on #815
@javierluraschi I think I have a more accurate description of the issue.
It looks like the `spark_read_csv` is trying so guess the type of data in each column by reading parts os the data. But when it finds a different format in the column, it crashes.

try:
[code]
It should give the same error.

I made the same question on Stackoverflow, and someone gave me the solution of inserting the data type

[2017-07-08 07:43] sean-in-korea commented on #810
$sparklyr.cores.local
[1] 24

$spark.sql.shuffle.partitions.local
[1] 24

$spark.env.SPARK_LOCAL_IP.local
[1] "127.0.0.1"

$sparklyr.csv.embedded
[1] "^1.*"

$`sparklyr.shell.driver-class-path`
[1] ""

$`sparklyr.shell.deploy-mode`
[1] "client"

$spark.driver.cores
[1] 4

$spark.executor.cores
[1] 4

$spark.executor.memory
[1] "4G"

attr(,"config")
[1] "default"
attr(,"file")
[1] "/usr/lib64/R/lib

[2017-07-08 07:53] sean-in-korea commented on #810
This cluster has 6 nodes from CDH 5.10.1 with Spark 2.1.0 deployed.

[2017-07-10 10:21] nagarjunacheruku opened #825 "Error while connecting to Spark from Rstudio using sparklyr"
Getting this exception:

Error in force(code) :
  Failed while connecting to sparklyr to port (8880) for sessionid (5308): Gateway in port (8880) did not respond.
    Path: C:\Users\nacheruku\AppData\Local\rstudio\spark\Cache\spark-2.0.0-bin-hadoop2.7\bin\spark-submit2.cmd
    Parameters: --class, sparklyr.Backend, "C:\Users\nacheruku\Documents\R\win-library\3.4\sparklyr\java\sparklyr-2.0-2.11.jar

[2017-07-10 18:41] javierluraschi commented on #825
@nagarjunacheruku what do you get from running the following in R?

[code]

[code]

[code]

[code]

Related: https://github.com/rstudio/sparklyr/issues/529

[2017-07-10 22:07] AkhilNairAmey commented on #783
I've also seen some consistent segfaulting crop up in the last 3 weeks that weren't there before (haven't changed any code, just updated to dplyr 0.7.0 from 0.5.0.900x and sparklyr 0.5.6 from 0.5.4).  Still investigating the issue on my end, but I'm fairly sure the root lives somewhere between `sparklyr` and `dplyr`.  Will report back if find any more..

[code]

I've also seen the `cause 'unknown'

[2017-07-10 23:18] ghost opened #826 "spark_read_csv issue"
| I have a 3GB csv file called accelerometer.csv on my cpu. I wanted to read it into Spark using R and the sparklyr package just as an experiment before importing seriously big data (180 GB).I used this code here:

spark_c <- spark_connect(master = "local")
spark_version(sc = spark_c)
acc <- spark_read_csv(sc = spark_conn, name = "accelerometer.csv")

I get this error:

Error: org.apache.spark.Spa

[2017-07-11 00:07] javierluraschi commented on #826
@jasonbaik94 Did you mean `acc <- spark_read_csv(sc = spark_c, name = "accelerometer.csv")`?

[2017-07-11 00:31] jasonbaik94 commented on #826
@javierluraschi  Yes that is what I meant. Sorry

[2017-07-11 09:18] geoHeil opened #828 "master branch not functional"
When installing the latest version via: `devtools::install_github("rstudio/sparklyr")` the package is not useable and complains about a premature end of file.

[2017-07-11 09:20] geoHeil opened #829 "spark 2.1.0 missing"
When using `spark_available_versions()` in the latest released version to CRAN only below versions are returned. The README mentions that `2.1.0` should already be available. How can I obtain this version?
[code]

[2017-07-11 09:45] gbisschoff opened #830 "Support for tidyr::unite, tidyr::separate and other tidyr verbs"
Hi I would like to request support for tidyr verbs (Specifically **unite** & **separate**)

[code]

Also support for **CUMPROD** will be nice, eg.

[code]

[2017-07-11 11:42] shoreshgithub commented on #829
Hi you should uppdate sparklyr by
devtools::install_github("rstudio/sparklyr",lib="")
spark_available_versions()

[2017-07-11 11:45] shoreshgithub opened #831 "Error: parse error: premature EOF"
**Error: parse error: premature EOF

                     (right here) ------^**

R version 3.3.2 (2016-10-31)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

locale:
[1] LC_COLLATE=Norwegian Bokmål_Norway.1252  LC_CTYPE=Norwegian Bokmål_Norway.1252    LC_MONETARY=Norwegian Bokmål_Norway.1252 LC_NUMERIC=C
[5] LC_TIME=Norwegian Bokmål_Norway.1252

attached ba

[2017-07-11 12:16] jasonbaik94 commented on #826
@javierluraschi  It still doesn't work after fixing it.

[2017-07-11 12:42] geoHeil commented on #829
What is the lib parameter for?
shoreshgithub <notifications@github.com> schrieb am Di. 11. Juli 2017 um
13:43:

[2017-07-11 13:00] YunMai-SPS opened #832 "sparklyr parse error"
Hello,

The codes:
install.packages("sparklyr",repos="http://cran.rstudio.com/")
library(sparklyr)
library(dplyr)
# spark_available_versions()
spark_install(version = "2.0.2",hadoop_version = "2.7")
sc <- spark_connect(master = "local")
iris_tbl <- copy_to(sc, iris)

I can connect to spark but had a problem in copying data and got the following errors:

Error: java.lang.reflect.InvocationTargetExc

[2017-07-11 14:00] kevinykuo commented on #831
@shoreshgithub try `devtools::install_github("rstudio/spark-install")`

[2017-07-11 14:02] kevinykuo commented on #828
Related: https://github.com/rstudio/sparklyr/issues/831

@javierluraschi

[2017-07-11 21:15] geoHeil commented on #829
This works. Thanks.

[2017-07-11 21:15] #829 closed

[2017-07-11 21:17] geoHeil commented on #828
When executing:
`devtools::install_github("rstudio/sparklyr",lib="")`
https://github.com/rstudio/sparklyr/issues/829#issuecomment-314417936 it works

[2017-07-11 22:39] shoreshgithub commented on #831
Thanks kevinykuo for quick reply.
it solved my problem when I am going to Connect spark from jupyter notebook,now With Your solution I am able to install spark 2.1.1 and conncet spark inside jupyter notebook With R kernel
but still I cannot Connect spark With Rstudio ,Connection takes long time without any response

R version 3.3.2 (2016-10-31)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running und

[2017-07-12 02:48] YunMai-SPS commented on #832
Problem solved.

First, need to install sparklyr then upgrade to the Github version. If I remove sparklyr followed by devtools::install_github("rstudio/sparklyr"), parse error will occur when command sparklyr install and connect functions.

install.packages("sparklyr", repos="http://cran.rstudio.com/")
library(sparklyr)
spark_install(version = "2.0.2")
library(dplyr)
devtools::install_github("rstu

[2017-07-12 05:49] AdityaAshima commented on #747
I tried executing the solutions provided here but it didnt work out. Please help me with better solutions

iris_tbl<-copy_to(sc,iris)
Error: Column `database` must be length 1 or 1, not 0

Sessioinfo:-
 sessionInfo()
R version 3.3.2 (2016-10-31)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

locale:
[1] LC_COLLATE=English_United States.1252  LC_CTYPE=Englis

[2017-07-12 09:26] AkhilNairAmey commented on #832
I'm seeing this error simply by using `sparklyr::spark_install("2.0.2")`

[code]

The error seems to come from https://github.com/rstudio/sparklyr/blob/master/R/install_spark.R#L283, where on my linux platform, `fromJSON` is passed an empty string (which produces the same error).

[2017-07-12 10:30] 3zhang opened #835 "Issues with NA _character_ and count(x)?"
First issue is that `NA _character_ ` seems to be converted to "NA" in `copy_to`:
[code]
[code]

Second issue is that whether we can have a `count(x)` function like SQL? In SQL, `count(x)` means to count the number of rows which are not null in column x.
[code]
[code]
I can only achieve this by:
[code]

[2017-07-12 14:40] geoHeil commented on #828
but this means that it now only works on the command line the panel in RStudio is still broken! Below are the logs.
[code]

[2017-07-12 14:54] geoHeil commented on #828
The error occurs when executing
`spark_install(version="2.1.1")`
I tried to move back to the old version released on CRAN but that one fails to download this link (404) for available spark versions.
https://raw.githubusercontent.com/rstudio/sparklyr/master/inst/extdata/install_spark.csv

[2017-07-12 15:00] geoHeil commented on #828
Actually https://github.com/rstudio/sparklyr/issues/831 is fixing the JSON parsing problem. The download now works fine for me.

[2017-07-12 16:34] javierluraschi commented on #828
My bad @geoHeil, it's fixed in the latest sources now with: https://github.com/rstudio/sparklyr/commit/e88632e06aa2ff65cc85f7cb2b175bcf88018282

[2017-07-12 16:34] #828 closed

[2017-07-12 16:35] javierluraschi commented on #831
@shoreshgithub fixed with https://github.com/rstudio/sparklyr/commit/e88632e06aa2ff65cc85f7cb2b175bcf88018282, thanks for opening this issue!

[2017-07-12 16:35] #831 closed

[2017-07-12 16:38] javierluraschi commented on #832
@AkhilNairAmey parse error fixed with https://github.com/rstudio/sparklyr/commit/e88632e06aa2ff65cc85f7cb2b175bcf88018282.

@YunMai-SPS glad you were able to figure this out, thanks for sharing your fix.

[2017-07-12 16:38] #832 closed

[2017-07-13 05:50] #770 closed

[2017-07-13 06:56] hecking opened #838 "error while looking for metadata directory when using livy"
Hello everybody,
I connected to my remote spark cluster from RStudio desctop via livy. The connection works well, but when I try to read a parquet file from hdfs the livy server outputs the following error:
"error while looking for metadata directory"
On client side I see "Value sparklyrRetVar_36" does not exist in the R console.
Using the spark-shell on a cluster node there are no such problems.

[2017-07-13 07:07] 3zhang commented on #835
@javierluraschi
I modified the count variant in sql_translate_env.spark_connection. Can I make a pull request?

[2017-07-13 07:36] sebastien1981 opened #839 "how to setup spark_home into spark_lyr"
# Reporting an Issue with sparklyr

I am trying to connect to a cluster via spark_lyr. How can I connect it? Which files do I need to modify?

![image](https://user-images.githubusercontent.com/13273914/28155227-0affd18e-67ae-11e7-89f4-ef3f76f6a547.png)

[2017-07-13 15:19] AkhilNairAmey opened #840 "Segmentation fault (core dumped) on reconnection"
When disconnecting and reconnecting to a local cluster, I hit a segfault (`sparklyr_0.5.6.9017`)

[code]

Running through the terminal (Rstudio just crashes):
[code]

### sessionInfo
[code]

[2017-07-13 17:04] Jibril-Jama opened #841 "Out of memory issue because the h2o total memory size is 0.7 gb"
Hi all,

I'm running out of memory when i try to fit a random forest model on my dataset (5888 bytes) using the rsparkling random forest function with the following:
[code]
my configuration setting:

[code]
[code]

Memory available in my machine is 4 GB.

h2o cluster info is:

R is connected to the H2O cluster:
    H2O cluster uptime:         30 minutes 376 milliseconds
    H2O cluster version:

[2017-07-13 17:09] javierluraschi commented on #841
CC: @navdeep-G

[2017-07-13 17:12] javierluraschi commented on #839
@sebastien1981 you need to set the right `Sys.setenv(SPARK_HOME = "<path-to-clusters-spark-home>")`. This is something that your cluster admin would know, it is assumed that the machine you are using is already inside the cluster for this to function properly. Most users install RStudio Server in a cluster machine and RStudio from that URL.

[2017-07-13 17:15] javierluraschi commented on #838
@hecking sounds like you need to specify `spark.sql.warehouse.dir` either when Livy launches as a service or as a config in `spark_connect`?

Reference: https://issues.apache.org/jira/browse/SPARK-15034

[2017-07-13 18:40] kevinykuo opened #842 "Consider modifications to spark_apply group_by API"
For discussion... here are some ideas I have from playing with https://github.com/rstudio/sparklyr/pull/833

cc @javierluraschi @statmatt

1. The key(s) should come first in arguments for `f`. I think this is more natural.
2. Append grouping columns to resulting DataFrame by default. In practice they're almost always needed and users can easily deselect/rename otherwise.
3. Support grouping by mul

[2017-07-13 21:13] Haskman commented on #694
@javierluraschi I ran into the same problem and tried your solution. No dice

[2017-07-13 23:12] javierluraschi opened #844 "Enable save/load APIs test on Travis"
`we can save + load tables using the various save/load APIs` fails on Travis, apparently intermittently since we've had successful runs:

[code]

[2017-07-14 09:54] hecking commented on #838
I specified the warehouse  directory. Meanwhile I also figured out that without configuration the value of spark.sql.warehouse.dir depends on the folder from which livy was started. I made sure that the warehouse paths exists. In the server logs I can see that livy points to the correct directory.
spark_session(sc) %>% invoke("conf") %>% invoke("get", "spark.sql.warehouse.dir") also gives the expe

[2017-07-14 14:38] asishbalakrishnan opened #846 "Reading csv files stored on hdfs using sparklyr from local desktop-Spark 1.6"
We are trying to load a csv file thats stored in HDFS using the spark_read_csv function available in sparklyr. The R code runs on a windows desktop and is configured to connect to the remote yarn cluster in yarn-client mode to submit and execute jobs. The version of spark being used is 1.6.0 . We have included the com.databricks_spark-csv_2.10-1.0.3.jar and org.apache.commons_commons-csv-1.1.jar t

[2017-07-14 16:18] javierluraschi commented on #846
@asishbalakrishnan is it reasonable to use specify this path as `hdfs:///user/xyz/adv.csv`? Whenever a protocol is provided, `sparklyr` will not make use of normalized paths.

[2017-07-14 20:16] asishbalakrishnan commented on #846
I had initially tried using the hdfs:// before posting this issue/query. It had not worked then. Today I reinstalled my R and the hdfs:/// worked like a charm. Thanks for the help.

[2017-07-14 20:16] #846 closed

[2017-07-14 21:44] carioca67 opened #847 "Feature request: send _arbitrary_ R code transformations to the spark cluster?"
I understand that's possible via library(sparkR). I also saw some info that spark_apply can do it, but does the latter accept any generic R-function?

[2017-07-17 02:21] jstaf opened #848 "Cannot handle more than 16 concurrent users"
Probably the weirdest bug I've encountered in a long time - SparkR (and sparklyr, by extension) cannot handle more than 16 concurrent Spark sessions from a single machine under the default settings.

Whenever you start a Spark session, it attempts to bind a port for it's web UI. If the default port (4040) is already in use, it goes onto the next to the next one (4041), and then the next one (4042)

[2017-07-17 07:19] sebastien1981 commented on #839
Thanks you. Can you tell me on which file I need to set it up? I am trying to set it up into rocker/rstudio.

[2017-07-17 08:16] AkhilNairAmey commented on #840
Updated my dependencies and this is no longer happening with `sparklyr_0.5.6.9017` and `dplyr_0.7.1`.

[code]

Thanks

[2017-07-17 15:56] learndm commented on #713
Hi Javier,

are you planning to work on that ?

Thanks

[2017-07-18 17:32] statmatt commented on #299
+1 on this issue, specifically that sparklyr needs to support yarn-cluster mode connections. Maintaining that one must install Rstudio-Server on the cluster master to then use sparklyr is a needless constraint. If I have an EMR cluster up that I want to submit jobs to from my Rstudio Desktop instance, this should be possible ... I can submit it via any other spark tool with the correct core-site.x

[2017-07-18 17:40] statmatt commented on #181
+1 on this ASAP.

[2017-07-18 20:28] asishbalakrishnan opened #849 "Sparklyr - support for username password to connect to kerborised cluster"
We have a requirement where in we plan to use sparklyr to execute model code written in R over spark. The spark cluster we use is a kerborised cluster. We are able to connect to this cluster and execute our code using a keytab. The challenge we have now is that we need to use a username password to establish connection instead of using keytab . Any help/pointers on how this could be accomplished w

[2017-07-19 10:57] gbisschoff commented on #585
Has this feature been incorporated yet? Is there a workaround in the meantime?

[2017-07-19 14:00] statmatt commented on #842
@javierluraschi @kevinykuo comments below. Thanks for jumping on this guy so quickly.

`The key(s) should come first in arguments for f. I think this is more natural.`

Agreed, and this is consistent with the SparkR API as well.

`Append grouping columns to resulting DataFrame by default. In practice they're almost always needed and users can easily deselect/rename otherwise.`

This is possible, b

[2017-07-19 16:40] JakeRuss opened #851 "Feature Request: Write to JDBC"
Per @javierluraschi's request I'm opening this issue and migrating the discussion away from Gitter.

I'd like to write to database sources directly from Spark. Currently, I can import data from, say, MySQL, directly into Spark via `spark_read_jdbc()`. But, if I perform a calculation in Spark and then wanted to send the data back to MySQL and update a table, it looks like I would have to collect th

[2017-07-19 17:53] kevinykuo commented on #741
Was looking into this since most of the use cases at work is Windows + Livy. The setup is HDInsight + RStudio Server on an edge node, for both `yarn-client` and `livy`, with the same resources (cores, memory) for each app.

For simple summaries Livy is about 10x slower:

[code]

Was trying to get some metrics on functions with more `invoke()` calls but this breaks on livy...

[code]

[2017-07-19 21:13] joscani opened #854 "how to create a hive table from a sparkdataframe"
I would like to write a hive table (to allow other users read the table)  from a sparkdataframe using sparklyr
I'm using an Amazon EMR in a project and I found that sparklyr works fine but I need write my result in hive table. I can write in s3 and after create a hive query to create as external table but it would be great to create hive table in only one step.

Thanks

[2017-07-20 12:35] good-marketing commented on #247
@kevinykuo No sorry, but I'll try to pick it up over the next weeks. I'll keep you informed if I do make some progress.

[2017-07-20 21:06] javierluraschi commented on #851
Fixed with https://github.com/rstudio/sparklyr/pull/852.

[2017-07-20 21:06] #851 closed

[2017-07-21 01:10] datalee commented on #729
good, i also need this function.

[2017-07-21 01:36] datalee commented on #729
# Source:   table<sparklyr_tmp_13995d56e12f> [?? x 1]
# Database: spark_connection
  Species
    <int>
1       0

why ?

[2017-07-21 16:16] Jibril-Jama opened #855 "How to increase H2o total cluster memory when using sparklyr & rsparkling"
# Reporting an Issue with sparklyr

Hi all,

I'm using sparklyr to use spark ML and sparkling water for a tutorial within Rstudio. I managed to use spark ML fine, however i'm running into memory issue. This is becuase the h2o cluster total memory is 0.8 GB, but i tried to change this by using the following:
[code]

I have 16 GB of RAM and my OS version: Windows 7 6.1 (amd64). In addition, the log

[2017-07-21 21:39] srvvb opened #856 "Add ability to add custom headers for livy config"
New feature -

Currently livy_config only supports username and password.  It will be helpful to add custom headers as in some case its behind firewalls.

New syntax
livy_config(config = spark_config(), username = NULL, password = NULL, custom_header=custom_headers())

[2017-07-21 21:46] #181 closed

[2017-07-21 21:47] javierluraschi commented on #855
CC: @navdeep-G

[2017-07-21 21:50] javierluraschi commented on #856
@srvvb custom headers are already supported in the latest version of `sparklyr` which is not yet on CRAN. Try:

[code]

The signature of `livy_config` was updated to:

[code]

[2017-07-21 22:29] srvvb commented on #856
@javierluraschi  Thanks.

[2017-07-21 22:29] #856 closed

[2017-07-22 06:51] #848 closed

[2017-07-22 22:26] jstaf commented on #848
Thanks, you rock!

[2017-07-24 14:55] igornoberto opened #859 "change data types from parquet files using spark_read_parquet"
The `spark_read_parquet` function doesn't support the `columns` option from `spark_read_csv`. Is there a way to change the data type of parquet files using that function, or even when the data is already on Spark's memory?

[2017-07-24 19:07] javierluraschi commented on #842
I really like function arguments order to stay consistent between `group_by = NULL` and `group_by = "column_name"), but (2) adding grouping columns and (3) grouping by multiple columns makes sense to me.

[2017-07-25 13:56] gbisschoff opened #863 "Feature request - tidyr:expand"
Add support for tidyr::expand / expand.grid so that regression predictions can be done on the new grid

[2017-07-25 16:44] dguleria commented on #254
@kevinykuo @javierluraschi  - I am getting below error when I try to connect spark in my R studio version 0.99. I copied required winutils file in the bin folder and ran command below.

DO I NEED TO INSTALL LATEST R STUDIO 1.0.153 to connect ?
command - > sc <- spark_connect(master = "local", spark_home=spark_home_dir(version = "1.6.2"))

Error in force(code) :
  Failed while connecting to sparkly

[2017-07-25 16:45] dguleria opened #864 "Spark Connect on local throws error"
# Reporting an Issue with sparklyr

@kevinykuo @javierluraschi - I am getting below error when I try to connect spark in my R studio version 0.99. I copied required winutils file in the bin folder and ran command below.

DO I NEED TO INSTALL LATEST R STUDIO 1.0.153 to connect ?
command - > sc <- spark_connect(master = "local", spark_home=spark_home_dir(version = "1.6.2"))

Error in force(code) :
F

[2017-07-26 05:31] #842 closed

[2017-07-26 14:08] kevinykuo opened #865 "Investigate reading files from Azure Blob Storage during Livy session"
Colleague reports having issues when reading from `wasb://` paths in `spark_read_csv()`. We should test this along with other similar sources (read: S3) and document.

[2017-07-26 14:10] kevinykuo opened #866 "Support sparklyr extensions for Livy connections"
Putting this in the backlog. We should resolve https://github.com/rstudio/sparklyr/issues/741 (if possible) first though.

[2017-07-26 15:57] encore137 opened #867 "Error in ensure_scalar_character(output.col) : 'NULL' is not a length-one character vector"
I have the fitted model (randomForestSRC). The purpose is to load this model and perform the disturbed prediction proccess.
Here is my code:

[code]

I get the following error:

Error in ensure_scalar_character(output.col) : 'NULL' is not a length-one character vector
![localdata](https://user-images.githubusercontent.com/28949053/28630744-c7392802-7233-11e7-90a6-dfaa0130c386.png)
![sparkdata](htt

[2017-07-26 16:10] javierluraschi commented on #866
Yes, very much needed!

[2017-07-26 16:13] kevinushey commented on #867
I don't think you can use `saveRDS()` / `readRDS()` for saving and loaded Spark models. Have you seen `sparklyr::ml_save()` and `sparklyr::ml_load()`?

[2017-07-27 02:59] akuppam opened #869 "error from copy_to()"
# Reporting an Issue with sparklyr
# I can't seem to fix this error (shown below) despite reviewing similar errors on 'stack overflow'.  Is there a quick/alternate fix to this issue? FYI, I'm using Windows 7.

---
Error: java.lang.reflect.InvocationTargetException
---

[code]

[2017-07-27 08:18] andrekos2 opened #870 "Spark 2.2 in sparklyr 0.6.0 ?"
I can't see and can't install Spark 2.2, as suggested in the release notes  https://github.com/rstudio/sparklyr/releases
'Use the Latest Frameworks including dplyr 0.7, DBI 0.7, RStudio 1.1 and Spark 2.2.'

It's not from CRAN yet, but from the Source code (tar.gz) provided.

Ideally, I should see this list jsonlite::fromJSON("https://api.github.com/repos/apache/spark/tags")$name

![image](https://

[2017-07-27 09:52] encore137 commented on #867
@kevinushey,
i have a model myrf (survival random forest, package randomForestSRC). it was trained locally and have special R type (Large rfsrc - 40 elements, 64.4Mb - that's what Rstudio tells me).

When i try:
```class(myrf)```
i see
[code]
then, according to your answer, i am trying to save the model using ```ml_save```:
```ml_save(ml_model(class(myrf), myrf), "./models/")```
and get the error:

[2017-07-27 13:42] AkhilNairAmey commented on #840
Current `master` still fails unless `devtools::install_github("rstudio/spark-install", subdir = "R")` is run.

[code]

Absolutely fine with `sparkinstall`, but not sure if this is taken care of in the current release cycle, so just wanted to highlight.

[2017-07-27 13:55] asishbalakrishnan commented on #864
Can you please check if Java is installed and is added to the Path variable.

[2017-07-27 14:57] MZLABS opened #871 "sdf_predict() throws on NA values"
sdf_predict() throws on NA values

Task: try to score a data set with some NA independent variable values.
Expected result: NA predictions for those rows, no crash.
Observed result: process throws an exception.

[code]

[2017-07-27 17:46] siddharthakki commented on #254
Hi,

am setting up spark with R studio for the first time from past 3 days :). getting the following error:

 sc <- spark_connect(master = "local", spark_home=spark_home_dir(version = "2.1.0"))
Error in force(code) :
  Failed while connecting to sparklyr to port (8880) for sessionid (7772): Gateway in port (8880) did not respond.
    Path: C:\Users\geetha\AppData\Local\spark\spark-2.1.0-bin-hadoop

[2017-07-27 21:36] dkincaid commented on #192
Is there anything I can do to help troubleshoot this? My only workaround right now is to use spark_write_csv() to write the data to a file and then use readr::read_csv to read it into local R. Pretty kludgy and a real pain.

[2017-07-28 03:00] jayruffell commented on #855
Could this be because you're using 32 bit java? You need to be using 64 bit to use >4gb of RAM in your JVMs I believe. I had a similar issue and installing 64 bit java fixed it, as described here https://stackoverflow.com/questions/44666503/how-do-i-configure-driver-memory-when-running-spark-in-local-mode-via-sparklyr

[2017-07-28 04:47] siddharthakki opened #872 "Error in force(code) : Failed while connecting to sparklyr to port (8880) for sessionid (7772): Gateway in port (8880) did not respond."
Hi,

am setting up spark with R studio for the first time from past 3 days :). Any help on the below error would be deeply appreciated.

sc <- spark_connect(master = "local", spark_home=spark_home_dir(version = "2.1.0"))
Error in force(code) :
Failed while connecting to sparklyr to port (8880) for sessionid (7772): Gateway in port (8880) did not respond.
Path: C:\Users\geetha\AppData\Local\spark\s

[2017-07-28 17:02] javierluraschi commented on #157
The current workaround is to manually kill the Spark application from the Spark UI, but we do want to consider improving this.

[2017-07-28 17:25] kevinykuo commented on #157
Killing the job from the Spark UI also loses the connection from sparklyr, which requires a new `spark_connect()` and can be pretty annoying. Related: https://github.com/rstudio/sparklyr/issues/297

[2017-07-28 20:07] JakeRuss opened #874 "Is it possible to spark_read_jdbc() with a [condition] ?"
If I understand `spark_read_jdbc()` correctly, it reads an entire MySQL table into Spark. So far I've had no trouble connecting Spark to MySQL for this use case. (And also writing!)

However, I've now encountered the scenario where I have a Very Large Table in MySQL and I would prefer to only read in a subset of the Very Large Table into Spark.

Is it possible to add a condition to the JDBC read s

[2017-07-28 20:08] javierluraschi opened #875 "Consider support for `:` and other formula operators in `ml_*` functions"
[Model Formulae](https://stat.ethz.ch/R-manual/R-devel/library/stats/html/formula.html) support additional terms like `:`, `^`, etc. Customers have reached out at least to support `:` but others should be considered.

[2017-07-28 20:15] javierluraschi commented on #847
@carioca67 Yes, it supported generic R-functions and even the use of packages and groups. Please take a look at https://spark.rstudio.com/articles/guides-distributed-r.html. would appreciate any feedback you might have on this article, thanks!

[2017-07-28 22:41] carioca67 commented on #847
Thanks Javier!

On Fri, Jul 28, 2017 at 5:15 PM, Javier Luraschi <notifications@github.com>
wrote:

[2017-07-29 17:37] Jibril-Jama commented on #855
Hi jayruffell,

Thanks for the help.

I have tried it and now i'm getting JVM error issue (output log). I have uninstalled my java and then reinstalled to 64 bit.

Error in force(code) :
  Failed while connecting to sparklyr to port (8880) for sessionid (9920): Gateway in port (8880) did not respond.
    Path: /Users/mubarak/Library/Caches/spark/spark-2.1.0-bin-hadoop2.7/bin/spark-submit
    Param

[2017-07-30 18:10] javierluraschi opened #878 "Using `spark_apply()` with empty partitions fails"
Processing empty partitions currently fails, see:

[code]

[code]

[2017-07-30 18:16] javierluraschi opened #879 "Avoid caching while using `spark_apply()` with `group_by`"
To work around Spark `NullPointerException` issue while using `spark_apply()` with `group_by`, caching is performed to disk or memory, we should avoid caching if possible.

[2017-07-31 05:30] dsblr commented on #254
@siddharthakki seems like there is a problem with spark lical start up. These problem generally occur if java mot properly installed. Check the kava installation. Hope it helps.

[2017-07-31 07:12] javierluraschi opened #880 "Gateway only supports one connection unless config change applied"
Two issues:
1. Remote connections are enabled by default while could be scoped to `yarn-cluster`.
2. This is blocking the gateway from taking more than one connection.

The workaround is to set the `config$sparklyr.gateway.remote = FALSE` parameter.

[2017-07-31 14:01] kevinykuo commented on #875
See also https://github.com/rstudio/sparklyr/issues/554

[2017-07-31 22:13] kevinykuo opened #882 "Support Tweedie distribution for GLM"
This is supported as of 2.2 and is important for insurance applications.

[2017-08-01 02:06] jayruffell commented on #855
I can't help with that error I'm afraid, I'm new to this stuff myself. Good
luck getting it working.

On 30/07/2017 5:37 AM, "Jibril-Jama" <notifications@github.com> wrote:

[2017-08-01 14:15] ilanfri opened #884 "Rotate data using PCA components found"
# New functionality: Provide rotated data after PCA

Perhaps I have somehow missed this functionality, and if so apologies and it would be great if you could point me in the right direction, but at the moment I haven't been able to find a way to retrieve data as obtained after rotating by the PCA components found by ml_pca(): that is, the PCA components are easily accessible using $components, but

[2017-08-01 15:31] kevinykuo commented on #869
@akuppam could you give this a try using the latest sparklyr version?

[2017-08-01 15:34] kevinykuo commented on #870
@andrekos2 This should work now. Please reopen if you're still running into issues. Thanks!

[2017-08-01 15:34] #870 closed

[2017-08-01 15:37] kevinykuo commented on #864
@dguleria like @asishbalakrishnan suggested please confirm Java is installed – you should be able to issue `java -version` in the command prompt and get a result.

[2017-08-01 15:40] kevinykuo commented on #854
@joscani could you look at `?spark_write_table` and see if it works for your use case?

[2017-08-01 15:55] kevinykuo commented on #867
@encore137 The issue here is that `sdf_predict()` only works with models fit using Spark ML `ml_*` functions and not arbitrary R model objects. Could you elaborate your use case, e.g. are you trying to speed up computing predictions for really big scoring datasets?

[2017-08-01 16:01] kevinykuo commented on #849
@asishbalakrishnan One way to do this would be to run Livy. Could you elaborate a bit on your use case? E.g. are you requesting predictions or running model training jobs and from where?

[2017-08-01 16:23] kevinykuo opened #885 "Reconcile arguments for hyperparameters in ml_* functions with Spark"
...and make sure we're exposing all the available arguments.

[2017-08-01 16:32] asishbalakrishnan commented on #849
The use case give to me is to train models on windows desktop before it is promoted to the execution environment for execution .  The challenge being both the execution environment and training environment is run out of windows server and windows desktop respectively. Our admin team is ready to provide us with userId password for connecting to the hadoop cluster.They are not comfortable sharing th

[2017-08-01 17:42] kevinykuo opened #886 "Support `missing` argument in if_else()"
Suggested by @marciz in https://github.com/rstudio/sparklyr/issues/183

[2017-08-01 17:47] kevinykuo opened #887 "Better interface for passing schema with nested structtypes"
See https://github.com/rstudio/sparklyr/pull/816

Related: https://github.com/rstudio/sparklyr/issues/690

[2017-08-01 17:50] akuppam commented on #869
Hi Kevin - I tried the latest sparklyr version (0.6.0), and it worked like
a charm !

I tested this on spark 2.0.1 and 2.1.0 versions, and it works fine.
Haven't run any major analysis yet but will do so and report back with any
other issues.

Thank you very much.

Cheers !

On Tue, Aug 1, 2017 at 10:31 AM, Kevin Kuo <notifications@github.com> wrote:

--
aRUn.

[2017-08-01 17:55] kevinykuo commented on #869
Awesome!

[2017-08-01 17:55] #869 closed

[2017-08-01 18:05] kevinykuo commented on #152
@koaning this should be supported now via `mode = "overwrite"` in `spark_write_parquet()`.

[2017-08-01 18:19] kevinykuo commented on #689
@3zhang `case_when()` was supported as of dbplyr 1.1.0 so we should be good here. Please reopen with reprex if you run into issues. Thanks!

[2017-08-01 18:19] #689 closed

[2017-08-01 18:28] kevinykuo commented on #207
Implemented as of 0.6.

[2017-08-01 18:28] #207 closed

[2017-08-01 18:36] kevinykuo opened #888 "Provide bind_cols() and bind_rows() from dplyr via sdf_bind_*"
Depends on https://github.com/tidyverse/dplyr/issues/2457. No action on our end until the verbs are made generic in dplyr.

[2017-08-01 18:37] kevinykuo commented on #556
Closing in favor of https://github.com/rstudio/sparklyr/issues/888

[2017-08-01 18:37] #556 closed

[2017-08-01 21:14] kevinykuo commented on #619
I can reproduce in Spark 1.6.3 and confirm that 2.0.2+ works OK. I don't think we should do anything like sanitizing data in `ml_` functions here. Closing...

[2017-08-01 21:14] #619 closed

[2017-08-01 21:51] kevinykuo commented on #377
We should expose these arguments/document them so users don't have to pass them through `ml.options`. Will work on this.

[2017-08-01 21:52] kevinykuo commented on #885
RF https://github.com/rstudio/sparklyr/issues/377

[2017-08-02 04:31] jayruffell commented on #855
The other thing you could try is modifying driver max result size, e.g.
[code]

[2017-08-02 06:18] javierluraschi commented on #737
Looks fixed by https://github.com/rstudio/sparklyr/pull/883, can't repro this anymore.

[2017-08-02 06:18] #737 closed

[2017-08-02 06:28] javierluraschi commented on #878
Fixed with https://github.com/rstudio/sparklyr/pull/883

[2017-08-02 06:28] #878 closed

[2017-08-02 06:28] javierluraschi commented on #880
Fixed with https://github.com/rstudio/sparklyr/pull/881

[2017-08-02 06:28] #880 closed

[2017-08-02 07:51] andrekos2 commented on #870
Thanks. I've now installed from CRAN and there seems to be no issues.

[2017-08-02 10:36] Jibril-Jama commented on #855
Hi jayruffell,

Thank you for all help.

It worked after repeatedly trying updating my java. I think my laptop was
just acting up for some reason.

Thanks,
MJ

On Wed, Aug 2, 2017 at 5:31 AM, jayruffell <notifications@github.com> wrote:

[2017-08-02 16:48] toyeiei commented on #825
@javierluraschi Hi Javier, I'm having similar issue when trying to connect to spark in RStudio.. I've been searching for answers in last few days, please kindly advise.

![image](https://user-images.githubusercontent.com/15798239/28884583-942c9fee-77dc-11e7-8de3-3595a561f78d.png)

I have java jre installed on my laptio already
![image](https://user-images.githubusercontent.com/15798239/28884664-f9

[2017-08-02 17:02] javierluraschi commented on #840
@AkhilNairAmey thanks for this detailed issue, I tried to repro with 3.4.1 and a few variations of the script, but no luck. Please open a new issue if you happen to trigger this reliably again, would be great to narrow this down!

[2017-08-02 17:02] #840 closed

[2017-08-02 18:40] kevinykuo opened #892 "sdf_predict() should return class labels and not indices for classification models"
so users don't have to wrangle the output dataframe to figure out what the model predicted

[2017-08-02 21:46] javierluraschi commented on #680
This one is specific to `copy_to`, we want to explore serializing by columns to replace the current implementation, not something we can take on a patch release.

Workaround... use a slower, but a bit more reliable version of `copy_to` using:

[code]

[2017-08-03 03:37] zheguzai100 opened #894 "how to run dist() in spark"
i had a big dataset, dim(dataset)= 80000+ ,700+
i wanna dist(dataset) , but it takes too large memory costs .
is there a way to accomplish it with spark(standalone) or tensorflow?
@javierluraschi

[2017-08-03 14:26] randomgambit opened #895 "unable to set java.io.tmpdir with spark_config"
Hello @javierluraschi @kevinushey @kevinykuo

Thanks for this new amazing version of Sparklyr!!

I am trying to set `java.io.tmpdir` in Sparklyr 0.6 using the following syntax

[code]

But this option does not seem to be considered. In my environment tab, I still see the default `tmp` directory for `java.io.tmpdir`.

Is this expected? Am I using the correct syntax?

Thanks!

[2017-08-03 15:47] kevinykuo commented on #895
Good to hear from you!

Give this a try:

[code]

In local mode, you'll have to do

[code]

[2017-08-03 15:56] randomgambit commented on #895
Hi @kevinykuo thanks!
I have set these (and they work correctly) but what I am trying to set up is `java.io.tmpdir` in the system properties that I see in the Spark environment tab. Is this something configurable from within Sparklyr?

[2017-08-03 15:59] kevinykuo commented on #895
Yeah, it's not showing up on your end?

<img width="1008" alt="screenshot 2017-08-03 11 58 23" src="https://user-images.githubusercontent.com/5582151/28931146-216f0714-7843-11e7-8e19-136c7a6318ff.png">

[2017-08-03 16:01] randomgambit commented on #895
@kevinushey nope, that's weird...

[2017-08-03 16:03] kevinykuo commented on #849
@asishbalakrishnan how are you currently using R on the Windows server? Are you RDPing into it and running RStudio Desktop?

Have you tried getting a ticket from where you're trying to connect? (e.g. kinit then enter password)

[2017-08-03 16:07] randomgambit commented on #895
@kevinushey could this be related to some Java issue? What Java version do you use on your system?

[2017-08-03 16:11] kevinykuo commented on #895
It's a little tough to troubleshoot since I don't have a standalone cluster with me, but could you try using this config:

[code]

Btw it's @kevinykuo ;)

[2017-08-03 16:44] randomgambit commented on #895
haha @kevinykuo sorry about that!

[2017-08-03 20:25] kevinykuo opened #897 "Investigate test failures related to version compatibility"
We should skip some tests depending on Spark version (e.g. multinomial logistic regression wasn't always supported)

[2017-08-03 20:31] kevinykuo opened #898 "Consider streamlining versions tested in run-tests"
Right now we've got: 2.1.0 2.0.2 2.0.1 2.0.0 1.6.2 1.6.1

Instead of running tests for every maintenance release we could do the latest from each `major.feature` release: 2.2.0, 2.1.1, 2.0.2, 1.6.3

Thoughts?

@javierluraschi @kevinushey

[2017-08-03 21:21] kevinushey commented on #898
I think there are occasionally bugs between minor releases that we'd only catch if we test explicitly on that version of Spark.

How much flexibility do users in enterprise environments have when it comes to updating Spark? Are most users typically able to at least stick with the newest minor release, or is it possible that some users will be locked in on e.g. Spark 1.6.2 and not Spark 1.6.3?

(re

[2017-08-04 13:23] kevinykuo commented on #377
@dsblr these have been implemented and documented as of https://github.com/rstudio/sparklyr/pull/896. Please give the latest dev version a try and feel free to open another issue if needed.

[2017-08-04 13:23] #377 closed

[2017-08-04 19:33] igornoberto commented on #262
Same issue as @admoseremic

[2017-08-04 20:10] kevinykuo commented on #262
@igornoberto @admoseremic you can rename columns with `dplyr::rename()`

[2017-08-04 20:16] igornoberto opened #900 "Change columns names"
[code]

returns:

[code]

Is there an easy way to change the column names? since the regular R's funcitons doesn't work:

[code]

---------

[code]

[2017-08-04 20:29] igornoberto commented on #262
@kevinykuo I'm getting the following error using `dplyr::rename`:

https://github.com/rstudio/sparklyr/issues/900

[2017-08-04 20:45] kevinykuo commented on #900
@igornoberto right now you have to do

[code]

Ideally we'd like to do following but it's currently breaking:

[code]

You can track the issue at https://github.com/tidyverse/dplyr/issues/2860 and https://github.com/tidyverse/dplyr/issues/2896

Also related: https://github.com/rstudio/sparklyr/issues/678

[2017-08-04 21:18] kevinykuo commented on #884
@ilanfri I whipped something together at https://github.com/rstudio/sparklyr/pull/901, if you can give it a whirl that'd be great. See https://github.com/kevinykuo/sparklyr/blob/5d30a77a482c41847a46cd91cfc70fa82c7f9cad/tests/testthat/test-ml-pca.R for examples.

[2017-08-05 02:24] #895 closed

[2017-08-05 02:46] kevinykuo commented on #895
@randomgambit which setting (if any) ended up working for you?

[2017-08-05 13:07] sean-in-korea opened #903 "Cannot connect the Spark cluster with sparklyr 0.7.0 from RStudio Server"
I installed sparklyr 0.7.0 from GibHub and tried to connect to Spark cluster (2.1.0) on the top of a kerbernized CDH 5.10.1 cluster.

When I tried to connect the cluster, I got the following error.

Can you advise the method to connect to the cluster correctly?

Regards,
Sean

[code]

[2017-08-05 16:00] kevinykuo commented on #903
@sean-in-korea do you have a valid kerberos ticket? Try opening up a shell from within RStudio Server (tools->shell) then issuing `kinit`.

[2017-08-06 04:59] sean-in-korea commented on #903
@kevinykuo Thank you for your reply, but this issue is not related to the Kerberos connection. This can be found from other CDH clusters with no Kerberos enabled.
If you have another suggestions for me, please let me know.

[2017-08-06 05:03] javierluraschi commented on #903
@sean-in-korea usually, for CDH, `SPARK_HOME` should be set to `/opt/cloudera/parcels/CDH/lib/spark` Could you try:

[code]

I would also check that `yarn-cluster` is not being forced in this cluster, or if `yarn-cluster` is desired, then connect as with `master = "yarn-cluster"`.

[2017-08-06 06:12] sean-in-korea commented on #903
@kevinykuo Spark on Yarn on CDH, at default, is version 1.6. So I removed it and then re-installed the newer Spark 2.1 using parcel installation. Hence, the new Spark_home is /opt/cloudera/parcels/SPARK2/lib/spark2 now.
When I use 'yarn-cluster' instead of 'yarn-client', I got the error like
[code]
In fact, yarn-site.xml does not the exact 'yarn.resourcemanager.address', but "yarn.resourcemanager.

[2017-08-06 15:43] edgararuiz opened #904 "spark_apply() fails when running an operation over a partitioned SDF"
spark_apply() fails when running an operation over a partitioned SDF.  Reprex uses `spark_repartition()` because the dataset is small.  The error "naturally" occurs when caching large datasets which Spark partitions by default.

[code]

[code]

Session Info

[code]

[2017-08-06 16:18] edgararuiz commented on #904
Better reprex

[code]

[code]

[2017-08-06 22:29] edgararuiz commented on #904
Works in DEV version

[2017-08-06 22:29] #904 closed

[2017-08-07 01:22] igornoberto commented on #900
@kevinykuo

I made the same question on stackoverflow, and user8371915 suggested to use `select`. And it worked.

https://stackoverflow.com/questions/45514906/sparklyr-change-columns-names-in-a-spark-dataframe

The solution:

[code]

[2017-08-07 04:54] javierluraschi commented on #903
@sean-in-korea since your cluster is configured for high-availability, you will need `sparklyr 0.7.0-9001` or higher for `yarn-cluster` to work, by installing `sparklyr` with:

[code]

That said, it's still possible that you actually want to use `yarn-client`, so I would also recommend connecting as follows, notice that the `master="yarn-client"` changed to `master="yarn"` since `sparklyr.shell.de

[2017-08-07 05:35] sean-in-korea commented on #903
@javierluraschi
I re-installed the sparklyr 0.7.0-9001 using the given command and then tried to connect to the Spark2 cluster. Unfortunately, it failed again.

[code]

[2017-08-07 11:15] ilanfri commented on #884
@kevinykuo Absolutely brilliant. Works a charm. Thank you!! :)

Just a quick question: am I safe to assume that row ordering is preserved? The reason I ask is because the column used to identify the entries has to be dropped when feeding the data into ml_pca(), and then reattached afterwards, like so:

ids= table %>% select(ID)
tmp = table %>% ml_pca(k = dimensions, features = cols_of_interest) %>

[2017-08-07 15:44] javierluraschi commented on #903
@sean-in-korea have you ever been able to connect to your CDH cluster with previous versions of `sparklyr`? I'm asking to understand if this could be a regression.

Could you also try connecting with `master = "yarn-cluster"`?

Do you happen to know if `yarn-client` is supported on your cluster?

Would runing this run correctly from the terminal?

[code]

[2017-08-07 16:16] sean-in-korea commented on #903
@javierluraschi
So far, I have never succeeded to connect to the CDH cluster with any sparklyr.

And, with some modification, I could run your code from the terminal:
`$ /opt/cloudera/parcels/SPARK2/lib/spark2/bin/spark-submit --class org.apache.spark.examples.SparkPi --deploy-mode client --master yarn /opt/cloudera/parcels/SPARK2/lib/spark2/examples/jars/spark-examples_2.11-2.1.0.cloudera1.jar 10

[2017-08-07 16:31] kevinykuo commented on #900
@igornoberto yep that works in this case; please keep in mind that `select()` only returns the columns specified, whereas `rename()` returns all columns of the dataframe with the specified one renamed, so if you have a dataframe with many columns but just want to rename a couple, `rename()` would likely be easier.

[2017-08-07 16:33] javierluraschi commented on #903
@sean-in-korea I've seen this log when the driver node is not the same as the node where R is run.

Could you look for this `17/08/07 14:23:30 INFO sparklyr: Gateway (5376) is waiting for sparklyr client to connect to port 8880` in the YARN logs and figure out which machine they are being run from?

Is this the same machine the R script is running from?

[2017-08-07 16:48] randomgambit commented on #895
hi @kevinykuo your suggestion worked! thx!

[2017-08-07 16:52] kevinykuo commented on #884
@ilanfri row ordering is always tricky in Spark. I'm not sure if the underlying linear algebra methods preserve row order, but `sdf_bind_cols()` does (albeit not very efficiently.) To get around this, we usually try to keep ID columns intact through chains.

Could you see if something like this works for your use case?

[code]

[2017-08-07 18:14] asishbalakrishnan commented on #849
We execute using R script on the Server. We use the server only as an execution environment.
For the ticket thing, we do not have trusted realm setup between windows and Unix kerberos store.

[2017-08-07 19:19] javierluraschi commented on #903
@sean-in-korea Another option is to specify in `sparklyr` the active ResourceManager by adding to the config:

[code]

[2017-08-07 19:28] MZLABS opened #907 "Documentation request/query: order of probability scores in Spark multinomial regression probability columns"
Documentation request:  What order are the predictions for a multinomial
logistic regression written.  In the example before with three string
targets "g1", "g2", and "g3". Notice that "g1" is assigned position 3,
"g2" position 2, and "g1" position 3.   Reverse of the order you might expect.
I wonder if this is a convention
we can document and use or is this undetermined?

[code]

[2017-08-07 22:46] javierluraschi commented on #904
@edgararuiz ah, yes. I hit a few race conditions last week and had to push a patch to CRAN. CRAN binaries are still building, but this will be fixed on CRAN as well. Thanks for passing this along!

[2017-08-08 13:46] codingbutstillalive opened #909 "This is not an issue - it's meant to be a Big Thanks!"
Dear Javier, dear others,

I really want to appreciate your joint efforts for this awesome package. Today, I stumbled upon the latest release note on RStudio:

https://blog.rstudio.com/2017/07/31/sparklyr-0-6/

Great work!!!

[2017-08-09 14:48] lazariv opened #912 "Quantile and other statistical functions do not work in dplyr::summarize for spark data frame"
I have encountered a problem of calculating quantiles on a spark data frame. To make a reproducible example I will use `iris` dataset, and the copy of it in Spark as `iris_tbl`

[code]

Calculating the following code on an R dataframe works fine
[code]
but applying the same to a spark dataframe fails
[code]

The function is also mentioned to work in dplyr manual and the problem only arises when us

[2017-08-09 15:22] ilanfri commented on #884
@kevinykuo Simpler and safer than my workaround, what you suggested worked perfectly! Thanks so much for the help and the quick turnaround time! Makes using Sparklyr that much more productive and enjoyable :)

I'll close this now as I think the issue is fully dealt with.

P.S. Out of interest: will this branch be merged into the master branch and included in the next release?

(I ask because one o

[2017-08-09 15:22] #884 closed

[2017-08-09 18:21] kevinykuo commented on #884
@ilanfri we're getting the code reviewed right now and we plan to merge it soon. It'll be included in the next feature release. Thanks for submitting the issue!

[2017-08-09 20:48] javierluraschi commented on #909
Thank you for this note @codingbutstillalive, really appreciated! Cheers, Javier

[2017-08-09 20:48] #909 closed

[2017-08-09 20:50] javierluraschi commented on #59
Thanks for the comments Eliano, closing this one since we haven't heard of any issues in Google Dataproc for a while.

[2017-08-09 20:50] #59 closed

[2017-08-09 22:33] javierluraschi commented on #83
Closing this one with two references:

1. Spark 2.2 supports a bit more options, see: https://spark.apache.org/docs/2.2.0/api/java/org/apache/spark/sql/DataFrameReader.html#csv but not quite what this issue requests
2. `sparklyr 0.7` will support `spark_read_text()` and `spark_write_text()`, in combination with `dplyr` or `spark_apply()` I'm hoping we can split lines and convert types as needed. S

[2017-08-09 22:33] #83 closed

[2017-08-10 07:50] chezou opened #915 "Set environment variables for `spark_apply()`"
Since Rscript requires to set environment variables like `RHOME` if Rscript is moved after installation. SparkR is able to set them as `--conf` options ([see also](https://www.continuum.io/blog/developer-blog/conda-spark)). If we have this function, we can use Parcel based installation of R.

I'm creating [R Parcel for CDH](https://github.com/chezou/cloudera-parcel) to run `spark_apply()` easily b

[2017-08-10 09:27] fogongzi opened #916 "Failed while connecting to sparklyr to port (8880) for sessionid (5313): Gateway in port (8880) did not respond."
When I connect spark by sparklyr, it works well.

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

But when I use rsparkling and h2o, it always gives error:

sc <- spark_connect(master = "spark://10.71.156.247:32696", spark_home = "~/spark/spark-2.1.0-

[2017-08-10 10:06] datalee commented on #874
can you give a demo of spark_read_jdbc,thanks

[2017-08-10 10:13] datalee commented on #874
i got it via:https://stackoverflow.com/questions/45420958/how-to-use-a-predicate-while-reading-from-jdbc-connection.
thanks
but,i see "spark_read_jdbc(sc, name, options = list(), repartition = 0, memory = TRUE, overwrite = TRUE, columns = NULL, ...)" in https://spark.rstudio.com/reference/spark_read_jdbc.html,only via this i can't know how to do,can you tell me the method of sloving this problems.

[2017-08-10 12:04] edgararuiz opened #917 "Sampled data is not able to be cached"
Issue reported by one of our customer (Ticket 21412):

[code]

[2017-08-10 15:18] kovla commented on #774
I believe this is still an issue:

[code]

[code]

So the iris table works, but the one with NA does not with the same function:

[code]

[2017-08-10 16:55] javierluraschi commented on #917
[code]

[code]
but

[code]

[code]

Looks like the slow workaround was implemented as a stop-gap for `1.6` lacking sample functionality.

[2017-08-10 19:55] #786 closed

[2017-08-10 19:56] kevinlzheng commented on #786
Data type issue. No need to investigate further.

[2017-08-10 21:07] javierluraschi commented on #915
@chezou good point, I'll add a `sparklyr.apply.env` configuration setting to pass a list, say `list(R_HOME = "/opt/cloudera/parcels/CONDAR/lib/conda-R/lib/R")` when we run the `Rscript`, I'll get this done today.

Thanks for putting that parcel together! Would you mind sharing details on how to help testing that parcel on our end?

[2017-08-10 23:26] chezou commented on #915
@javierluraschi I added step by step instruction for putting parcels https://github.com/chezou/cloudera-parcel

I also created a parcel for RHEL7. You can set `http://se-jp-parcel.s3-website-ap-northeast-1.amazonaws.com/` for testing. Note that it is temporary parcel repo.

To know adding parcels on CDH, this blog post will help you.
https://blogs.msdn.microsoft.com/pliu/2016/06/19/run-jupyter-not

[2017-08-10 23:58] javierluraschi commented on #916
@fogongzi it's possible that the packages are being downloaded and is taking too long... try changing the initialization timeout:

[code]

[2017-08-11 01:14] fogongzi commented on #916
@javierluraschi ，Thanks for your reply. I do according your instructions, it still gives the same error:
Error in force(code) :
  Failed while connecting to sparklyr to port (8880) for sessionid (6140): Gateway in port (8880) did not respond.
    Path: /home/opencpu/spark/spark-2.1.0-bin-hadoop2.7/bin/spark-submit
    Parameters: --class, sparklyr.Shell, --packages, 'ai.h2o:sparkling-water-core_2.

[2017-08-11 01:43] chezou commented on #915
https://github.com/chezou/cloudera-parcel/blob/master/build.sh
Added build script for RHEL7.

[2017-08-11 14:21] AkhilNairAmey commented on #840
@javierluraschi Finally think I've tracked this down...

Here's a Dockerfile reproducing the environment from `rocker/tidyverse`

[code]

That last little bit of script sent into `script.r` is

[code]

Running `docker run --rm -it coredump Rscript script.r` yields

[code]

What I've is that putting a sleep in for 10 seconds between the disconnect and the reconnect solves this.

___
My use case for

[2017-08-11 14:22] AkhilNairAmey opened #919 "Segfault on reinitialising connection"
Reopening #840 in a new issue as suggested:

@javierluraschi Finally think I've tracked this down...

Here's a Dockerfile reproducing the environment from `rocker/tidyverse`

[code]

That last little bit of script sent into `script.r` is

[code]

Running `docker run --rm -it coredump Rscript script.r` yields

[code]

What I've found is that putting a sleep in for 10 seconds between the disconnect

[2017-08-11 17:19] raghavprasad opened #920 "copy_to() function returns error"
# Reporting an Issue with sparklyr

I am trying to use spark through rstudio and am facing issues with the copy_to function

The following is the code snippet, I am running on rstudio
---------------------------------------------------
devtools::install_github("rstudio/sparklyr")
sparklyr::spark_install(version = "2.2.0", hadoop_version = "2.7")
library("sparklyr")
sparkContext <- spark_connect(ma

[2017-08-11 17:37] javierluraschi commented on #915
@chezou that's great, thanks for the steps! When you mention this is a temporary repo, should we be considering publishing your parcel in a more official repo? In the meantime, we will try this out on our end as well and report back!

[2017-08-11 18:57] javierluraschi commented on #919
Thanks, taking a look to this repro!

[2017-08-11 19:31] kevinykuo commented on #912
@lazariv try

[code]
See also https://cwiki.apache.org/confluence/display/Hive/LanguageManual+UDF

[2017-08-11 19:44] lazariv commented on #912
Many thanks, that works!  However, only one probability may be supplied at once? `percentile(Sepal_Length,c(0.75, 0.9))` will not work and should be called twice, e.g. `q075=percentile(Sepal_Length,0.75), q090=percentile(Sepal_Length,0.9) `?

[2017-08-11 22:51] javierluraschi commented on #919
This `dockerfile` still crashes:

[code]

but this one not anymore:

[code]

[2017-08-11 23:43] #919 closed

[2017-08-12 00:09] kevinykuo commented on #912
@lazariv yep currently this is the only supported way to do it.

We should implement `quantile()` based on `percentile()` though since that's what R users reasonably expect, so leaving this issue open for now.

[2017-08-12 00:52] javierluraschi commented on #920
@raghavprasad could you share the output of `spark_log(sparkContext)`?

[2017-08-12 01:04] raghavprasad commented on #920
@javierluraschi : Thanks a lot for responding.

Please find the output of spark_log(sparkContext)
--------------------------------------------------
at org.apache.spark.util.Utils$.logUncaughtExceptions(Utils.scala:1954)
	at org.apache.spark.executor.Executor$$anon$2.run(Executor.scala:755)
	at java.util.concurrent.Executors$RunnableAdapter.call(Unknown Source)
	at java.util.concurrent.FutureTask.

[2017-08-12 01:10] raghavprasad commented on #920
@javierluraschi : Thanks a lot for responding.

Please find below the output of spark_log(sparkContext)

---------------------------------------------------------------------------------
 spark_log(sparkContext)
17/08/12 06:38:34 INFO FileSourceScanExec: Planning scan with bin packing, max size: 4194304 bytes, open cost is considered as scanning 4194304 bytes.
17/08/12 06:38:35 INFO CodeGenerator:

[2017-08-12 08:05] AkhilNairAmey commented on #919
Thank you! Highly appreciate how efficient you are at dispatching these issues.

[2017-08-12 09:26] chezou commented on #915
Finally, it works with upstream sparklyr! Thanks for your quick response @javierluraschi .

![image](https://user-images.githubusercontent.com/916653/29239486-b7fc5206-7f8a-11e7-8f6a-40dad20d57bd.png)

It would be OK to publish my parcel in your repo, but it is AS-IS, and I can't guaranty my supporting, think it as a community parcel.

[2017-08-12 09:47] datalee opened #923 "Error in file(con, "r") : cannot open the connection"
[code]

Error in file(con, "r") : cannot open the connection
In addition: Warning message:
In file(con, "r") :
  cannot open file 'C:\Users\topnet\AppData\Local\Temp\RtmpUx7cfr\file444c1e7b6fb7_spark.log': Permission denied

[2017-08-12 13:13] #915 closed

[2017-08-12 20:16] javierluraschi commented on #920
@raghavprasad does the following code work?

[code]

[code]

[code]

[code]

[2017-08-13 07:39] jcaffarel opened #925 "spark.sql.AnalysisException when calling "lag" or "lead" dplyr functions more than once"
---
When I try to perform a "lag" or "lead" dplyr function on a Spark DataFrame, it works well:

[code]

However, when I try to chain another lag/lead operation on another column by means of `dplyr::mutate`, I get a `Error: org.apache.spark.sql.AnalysisException: Offset expression must be a foldable integer expression: 1.0;` exception:

[code]
If I run the example with a data.frame, it works fine:

[2017-08-14 03:59] kevinykuo commented on #925
@jcaffarel this is due to how we're handling the `n` argument in `lead()` – it currently requires an integer so you'd have to say `mutate(Numb2 = lead(Cat, 1L))`. I have submitted a change to relax this so your code will work as expected.

[2017-08-14 04:06] kevinykuo commented on #907
Yeah this is pretty confusing. @MZLABS @JohnMount what have you seen in other libraries? Output the probabilities in appropriately named columns?

[2017-08-14 05:26] jcaffarel commented on #925
@kevinykuo  Thank you very much.

[2017-08-14 07:36] niklasvm opened #927 "java.lang.UnsatisfiedLinkError on Windows when writing parquet to S3"
Good day

I am receiving an error trying to write to parquet on S3. I am using Windows and sparklyr 0.6.1.

NOTE: I am able to run this with no problems on Ubuntu on an AWS EC2 instance.

See reprex below:

[code]

I get the following error:
[code]

Sessioninfo:
[code]

[2017-08-14 14:31] JohnMount commented on #907
In R packages I'd expect the predictions to be in an order that matches the lexical order of the result levels.  A really cool fix would be to populate the ml_logistic_regression() R result so it has the named list needed to call sdf_separate_columns() as one of the values. User code could then use this value or look at it for guidance.

[2017-08-14 17:02] kevinlzheng opened #928 "Sparklyr categorical features and response"
# Sparklyr handlling categorical variables

I post this question on stackoverflow but figure it is an important issue I also want to raise here.  I came from R background and I am used to categorical variables being handled in the backend (as factor). With Sparklyr it is quite confusing using string_indexer or onehotencoder and indexr_string back and forth.

For example, I have a number of variabl

[2017-08-14 18:02] kevinushey commented on #907
I believe the underlying fix should occur around here:

https://github.com/rstudio/sparklyr/blob/2dca66181fb1665ebf0d2da5d54598d1d9d3f446/R/ml_utils.R#L76

The overarching issue is, when we use the string indexer to transform a categorical variable into a numeric variable (as required by the Spark ML routines), it ends up generating these labels in an unexpected way:

[code]

Although note that we

[2017-08-14 18:06] kevinushey commented on #907
Note that the StringIndexer automatically orders by label frequencies:

And AFAICS this is not configurable in the API. So it's possible that we might want to consider a different solution here altogether (ie, perhaps implement our own 'string to index' transformation).

[2017-08-14 18:23] kevinlzheng opened #929 "Inconsistent results after apply ft_string_indexer"
I tried to use string_indexer to convert categorical variables to numeric and then implement MLlib. But I got a slightly different prediction output from a simple model. As I understand you dont really need ft_string_indexer to convert categorical variables into numeric as those are not handled internally.
Here is my example:

---

your brief description of the problem

[code]
So the two predictio

[2017-08-14 18:38] #925 closed

[2017-08-14 19:36] kevinlzheng commented on #929
Probably should specify "classification" in the model part. auto does not recognize it!

[2017-08-14 19:36] #929 closed

[2017-08-14 21:19] kevinushey commented on #929
`sparklyr` assumes that integer / numeric response variables should be treated as continuous when `type = "auto"`, hence the behavior you saw here.

[2017-08-14 22:14] javierluraschi opened #930 "Some tasks fail for concurrent partitions in `spark_apply()`"
While running in EMR with 10 workers:

[code]

<img width="1414" alt="screen shot 2017-08-14 at 5 02 13 pm" src="https://user-images.githubusercontent.com/3478847/29296951-5da656f6-8112-11e7-8a8e-5ceacb4b4061.png">

noticed that...

<img width="1109" alt="screen shot 2017-08-14 at 2 52 53 pm" src="https://user-images.githubusercontent.com/3478847/29294212-18cf0866-8103-11e7-940c-b9ce06cb1e1f.png">

[2017-08-15 00:24] #930 closed

[2017-08-15 19:13] javierluraschi opened #933 "Missing class dependencies on package causes connection termination"
[code]

Causes the following, an error should be expected but not for the connection to close.

[code]

[2017-08-15 22:01] dsblr commented on #377
@kevinykuo Thanks for your support. Is there a way we can find OOB(out of bag error) from trained random forest model as R Random forest model. Please help me on OOB for sparklyr Random Forest.

[2017-08-15 22:05] dsblr opened #935 "Out of Bag (OOB) for sparklyr Random Forest"
Hello Sparklyr team,
This is not an issue. I would like to know more about sparklyr randomforest implementation.

Is there a way we can find OOB(out of bag error) from trained random forest model as R Random forest model?
Please help me on OOB for sparklyr Random Forest.

Thanks for your support.

[2017-08-15 22:14] kevinykuo commented on #935
@dsblr I don't think this is currently supported in Spark ML and it wouldn't be easy for us to extract it. Note that we're just wrapping the Spark implementation in sparklyr.

[2017-08-15 22:23] kevinykuo commented on #907
Is there any reason why we'd want to keep the list column of probability vectors? What if we output something like the below with `sdf_predict()`:

[code]

[2017-08-15 22:50] kevinushey commented on #907
That sounds reasonable to me.

[2017-08-16 00:15] kevinykuo commented on #928
Yep the current behavior isn't great. We're thinking about how to deal with this.

[2017-08-16 00:21] kevinykuo opened #937 "Classification prediction output"
Classification prediction output should be more user friendly.

Currently the output of `sdf_predict()` for classification models is very hard to work with. It should be possible for us to return something nicer, e.g. for multiclass we can have a `predict` column with predicted labels and a column for each label for probabilities.

Affected issues:
https://github.com/rstudio/sparklyr/issues/907 -

[2017-08-16 04:50] #933 closed

[2017-08-16 05:25] ZJUguquan opened #938 "SparkContext was shut down when collcet data after spark_apply"
Hi,
I'm running spark on yarn and I have found a problem that when I compute a spark dataframe using spark_apply and  `dplyr::collcet` the spark dataframe, it goes wrong and shut down, although it seems goes right that when call/print the dataframe alone...

The cluster is under Ubuntu 14.04.5 LTS . Here is my environment information,
[code]

The origin spark dataframe is named `compare` with 2340

[2017-08-16 14:36] kevinlzheng opened #939 "Sdf_predict for categorical columns not working in decision tree"
# sdf_predict with sparklyr
---
I am trying to use MLlib for categorical variables in Spark to build various models. The modeling part was ok but the prediction part had some issues which I am not sure I can resolve. I thought it had been fixed [here](https://github.com/rstudio/sparklyr/issues/96).

[code]
However, when I try to use the models to predict the original dataset, it throws error

[cod

[2017-08-16 15:27] kevinlzheng commented on #900
To systematically change all column names, see suggestions from @user6910411 using select along with [.dots(setName]
(https://stackoverflow.com/questions/45622262/sparklyr-change-all-column-names-spark-dataframe). It worked for me.

[2017-08-16 15:34] kevinykuo commented on #939
Thanks for the issue! Will take a look.

[2017-08-16 17:51] javierluraschi commented on #917
We improved the error message, closing.

[2017-08-16 17:51] #917 closed

[2017-08-16 19:07] javierluraschi commented on #923
@datalee `spark_apply()` requires a data frame to be returned, when I run:

[code]

I get a model instead:

[code]

In general, I would use `broom`, but doesn't seem to be the case that `broom` supports `e1071`; however, if you look at [this](https://docs.exploratory.io/user-defined-model-function.html) post, you could come up with something like:

[code]

[code]

or replace `glance()` with `tidy(

[2017-08-16 19:52] javierluraschi commented on #927
@niklasvm this one seems like a Windows-specific issue and less of a `sparklyr` issue. Any chance you can try to get this to work using `spark-shell`? I'm asking since my guess is that this won't work either and we would be better of opening an Spark JIRA issue if this happens to fail as well.

[2017-08-16 19:56] #152 closed

[2017-08-16 20:01] javierluraschi commented on #168
No repro anymore, either fixed in Spark 2.X or in `sparklyr` itself:

[code]

[2017-08-16 20:01] #168 closed

[2017-08-16 20:04] javierluraschi commented on #174
No repro anymore, either fixed in `sparklyr` or `Spark 2.X`. In general, we don't implement workarounds for Spark.

[code]

[2017-08-16 20:04] #174 closed

[2017-08-16 20:07] kevinykuo commented on #900
Paging @lionel-... what would be the idiomatic tidyeval way to rename multiple columns with a character vector now that SE verbs are deprecated?

[2017-08-16 20:15] kevinykuo commented on #935
Closing for now, feel free to open another issue if you discover this is implemented in Spark.

[2017-08-16 20:15] #935 closed

[2017-08-16 20:16] kevinykuo commented on #907
Closing, will track in #937

[2017-08-16 20:16] #907 closed

[2017-08-16 20:17] kevinykuo commented on #928
Closing, will track in #937

[2017-08-16 20:17] #928 closed

[2017-08-16 20:19] kevinykuo commented on #762
Closing, this should be addressed in #937

[2017-08-16 20:19] #762 closed

[2017-08-16 20:56] javierluraschi commented on #175
This seems finally fixed in `Spark 2.2.0`:

[code]

[2017-08-16 20:56] #175 closed

[2017-08-16 20:58] javierluraschi opened #940 "Generic Invokes"
Related to:
- https://github.com/rstudio/sparklyr/issues/191: Add support for anonymous Scala functions
- https://github.com/rstudio/sparklyr/issues/942: Add support for default parameters
- https://github.com/rstudio/sparklyr/issues/183: Numeric parameters require casts when auto-conversion could be performed.
- https://github.com/rstudio/sparklyr/issues/317: "support for nested object" would ben

[2017-08-16 21:01] javierluraschi commented on #191
Going to close this one to continue the discussion under https://github.com/rstudio/sparklyr/issues/940, which is tracking all the work related to making `invoke*()` better across `sparklyr`.

[2017-08-16 21:01] #191 closed

[2017-08-16 21:09] kevinykuo commented on #875
Closing in favor of https://github.com/rstudio/sparklyr/issues/554

[2017-08-16 21:09] #875 closed

[2017-08-16 21:25] javierluraschi commented on #879
Fixed in `sparklyr 0.6.2` which is already available in CRAN.

[2017-08-16 21:25] #879 closed

[2017-08-16 22:22] datalee commented on #923
ok,thanks

[2017-08-16 22:22] #923 closed

[2017-08-16 22:30] javierluraschi opened #941 "Improve Serialization"
There are two areas worth considering here:

1. Improve `collect()`serialization. This is already implemented as columnar-based collect; however, I believe only for numeric and logical data types.

2. Implement `copy_to()` through columnar `invoke()`.

Assuming (2) is on a par with current implementations of `copy_to()`, we can stop here; otherwise, we would have to explore additional serializatio

[2017-08-16 22:32] javierluraschi commented on #202
We are planning to address proper serialization of Dates with this instead: https://github.com/rstudio/sparklyr/issues/941, feel free to continue the discussion/suggestions there.

[2017-08-16 22:32] #202 closed

[2017-08-16 22:33] javierluraschi commented on #151
Should be addressed by https://github.com/rstudio/sparklyr/issues/941 once implemented, closing.

[2017-08-16 22:33] #151 closed

[2017-08-16 22:34] javierluraschi commented on #163
We should take a look at this as part of https://github.com/rstudio/sparklyr/issues/941, closing.

[2017-08-16 22:34] #163 closed

[2017-08-16 22:42] javierluraschi opened #942 "Consider supporting default parameters in `invoke()`"
Feedback from extensions webinar...

For, say:

[code]

One needs to explicitly pass `storageLevel` in `sparklyr::invoke()` when ideally this gets inferred.

[2017-08-16 22:42] javierluraschi commented on #942
Tracked under https://github.com/rstudio/sparklyr/issues/940

[2017-08-16 22:42] #942 closed

[2017-08-16 22:44] javierluraschi commented on #183
Cast is acceptable, also improvement to auto-casts tracked by https://github.com/rstudio/sparklyr/issues/940, closing.

[2017-08-16 22:44] #183 closed

[2017-08-16 22:46] javierluraschi commented on #187
This work is now being tracked by https://github.com/rstudio/sparklyr/issues/941

[2017-08-16 22:46] #187 closed

[2017-08-16 22:55] javierluraschi opened #944 "ML Pipelines"
Related to:
- https://github.com/rstudio/sparklyr/issues/196: cross validation function and parameter tuning
- https://github.com/rstudio/sparklyr/issues/212: consider support for model deployment and docs
- https://github.com/rstudio/sparklyr/issues/336: ml_save fails in yarn-client mode, pipelines would allow us to save models with ease?
- https://github.com/rstudio/sparklyr/issues/1070 model pe

[2017-08-16 22:57] javierluraschi commented on #196
We are cleaning up a bit feature requests, this one is now part of https://github.com/rstudio/sparklyr/issues/196, feel free to comment on that one instead. Thanks for suggesting this one!

[2017-08-16 22:57] #196 closed

[2017-08-16 23:00] javierluraschi commented on #201
Sorry it took us this long to get to this @ganeshmailbox, we've definitely made improvements for Windows for launching the Spark UI and logs, so far, we haven't spotted any additional isues, but do open a new issue with details of RStudio/sparklyr versions to assist further. We also created the github channel for direct chat with us if you want to resolve this sooner.

[2017-08-16 23:00] #201 closed

[2017-08-16 23:04] javierluraschi commented on #209
Touching base with @rgbkrk by mail, closing this one.

[2017-08-16 23:04] #209 closed

[2017-08-16 23:29] javierluraschi commented on #212
Planning to consider model deployments, examples and docs as part of https://github.com/rstudio/sparklyr/issues/944, closing this one.

[2017-08-16 23:29] #212 closed

[2017-08-16 23:38] javierluraschi commented on #215
Forgot to close, we are good with this one:

[code]

[2017-08-16 23:38] #215 closed

[2017-08-17 02:18] ZJUguquan commented on #938
sorry, the reason seems to be that I have added two lines of useless codes after the `return` expression...

[code]

I remove these codes and it seems running OK!

[2017-08-17 03:07] kevinykuo commented on #938
@ZJUguquan thanks for the update!

[2017-08-17 03:07] #938 closed

[2017-08-17 04:05] rgbkrk commented on #209
Sounds good to me.

[2017-08-17 06:39] lionel- commented on #900
Since select/rename verbs now support character vectors, it should simply be

[code]

but it doesn't currently work. I have submitted an issue: https://github.com/tidyverse/dplyr/issues/3030.

In the meantime you can do it the usual way by turning your character vector to a list of symbols and splice it in the `rename()` call:

[code]

[2017-08-17 14:35] ssamsonau opened #945 "cannot open file ... log"
When something goes wrong in a function call, there is a problem writing a problem to log file. Thus it is not possible to debug it. Example bellow uses not existing function not_existing_func to create an error.

[code]
Error in file(con, "r") : cannot open the connection
In addition: Warning message:
In file(con, "r") :
  cannot open file 'C:\Users\...\AppData\Local\Temp\Rtmp4WeMTz\filedca838544

[2017-08-17 17:37] #194 closed

[2017-08-17 18:21] javierluraschi commented on #227
@wilvancleve we would need the original R code that was triggering this issue to make progress here.

My guess is that running this in `sparklyr` would fail:

[code]

since the `dplyr` union is being materialized while in `sparkR` the `all_outpt <- SparkR::union(all_outpt, df)` won't materialize it; however, this would be the same with `dplyr` if we run instead:

[code]

Please open a new issue if

[2017-08-17 18:21] #227 closed

[2017-08-17 20:23] javierluraschi commented on #236
Closing, since understanding Spark `NA` behavior is expected while using `sparklyr`. The workarounds mentioned, as in checking for `NA`s, have a computation cost associated to it that we would rather avoid. If we hear more feedback from the community on this we can reconsider.

[2017-08-17 20:23] #236 closed

[2017-08-17 20:25] javierluraschi commented on #237
`Ports file does not exist.` error has been solved for many cases, it is likely that this won't reproduce in latest version of `sparklyr`.

[2017-08-17 20:25] #237 closed

[2017-08-17 20:28] javierluraschi commented on #241
We removed the use of `environment$SPARK_LOCAL_IP` entirely, so far, so good; but do let us know through a new issue if this still persists in some form.

[2017-08-17 20:28] #241 closed

[2017-08-17 20:45] javierluraschi commented on #242
Using Spark 2.0.0 or 2.2.0 and `sparklyr 0.6` this seems to be working now,

[code]

[2017-08-17 20:45] #242 closed

[2017-08-17 20:48] javierluraschi commented on #250
We do set `spark.sql.warehouse.dir` as part of `spark_install()`, must have been performed as a different fix, the code that performs this is in `install_spark.R`.

[2017-08-17 20:48] #250 closed

[2017-08-17 21:09] javierluraschi commented on #256
Seems we believe this is a memory limitation from the cluster, so closing with current suggestion of increasing memory.

[2017-08-17 21:12] javierluraschi commented on #264
Seems this was fixed in `Spark 2.2`, haven't tried `Spark 2.1` but it might work there as well.

[code]

[2017-08-17 21:12] #264 closed

[2017-08-17 21:18] javierluraschi opened #948 "Monitoring"
Milestone feature tracking, in priority:

1. Making Spark operations cancellable
2. Showing Spark operations progress

Related to:
- https://github.com/rstudio/sparklyr/issues/297: SparkContext lost after stopping operation in console
- https://github.com/rstudio/sparklyr/issues/157: Long operations do not always cancel

[2017-08-17 21:19] javierluraschi commented on #297
Tracked now by https://github.com/rstudio/sparklyr/issues/948

[2017-08-17 21:19] #297 closed

[2017-08-17 21:21] javierluraschi commented on #157
Tracked now by https://github.com/rstudio/sparklyr/issues/948

[2017-08-17 21:21] #157 closed

[2017-08-17 21:34] kevinykuo commented on #298
Closing for now since it doesn't seem like a `sparklyr` problem. If anyone comes across this again and can provide a reprex we'll look into it.

[2017-08-17 21:34] #298 closed

[2017-08-17 21:39] javierluraschi commented on #299
Basic support for `yarn-cluster` was added on `0.6`; however, this has a few caveats:

- Does not currently support high-availability
- Assumes application runs in the resource manager and there is a single one
- Best used in combinarion with `config$sparklyr.gateway.address` to point `saprklyr` to the yarn master.

Updates to `yarn-cluster` in the works here: https://github.com/rstudio/sparklyr/p

[2017-08-17 21:39] #299 closed

[2017-08-17 21:39] #253 closed

[2017-08-17 21:41] javierluraschi commented on #303
RStudio issue moved to RStudio forum.

[2017-08-17 21:41] #303 closed

[2017-08-17 21:43] javierluraschi commented on #304
Improvements to `copy_to` now tracked in https://github.com/rstudio/sparklyr/issues/941

[2017-08-17 21:43] #304 closed

[2017-08-17 21:46] javierluraschi commented on #307
`copy_to()` improvements now tracked under https://github.com/rstudio/sparklyr/issues/941

[2017-08-17 21:46] #307 closed

[2017-08-17 21:47] javierluraschi commented on #317
Invoke improvements tracked now under https://github.com/rstudio/sparklyr/issues/940

[2017-08-17 21:47] #317 closed

[2017-08-17 21:50] javierluraschi commented on #321
Right, this looks JVM memory related, posts like https://stackoverflow.com/questions/4401396/could-not-reserve-enough-space-for-object-heap might shed some light. Not much to do in `sparklyr` though; however, ping me in gitter if you want a few more ideas to try.

[2017-08-17 21:50] #321 closed

[2017-08-17 21:51] javierluraschi opened #949 "Large Uploads"
Milestone feature to support large file uploads in `copy_to`, through the standard connections and other methods like `Livy`, etc.

[2017-08-17 21:52] javierluraschi commented on #333
Enabled upload of large files through `copy_to` tracked now by https://github.com/rstudio/sparklyr/issues/949.

[2017-08-17 21:52] #333 closed

[2017-08-17 21:54] javierluraschi commented on #336
Pipelines should help us mitigate issues like this one, closing to track this under https://github.com/rstudio/sparklyr/issues/944 instead.

[2017-08-17 21:54] #336 closed

[2017-08-17 21:55] #256 closed

[2017-08-17 21:58] javierluraschi commented on #330
We need a bit more info to troubleshoot these ones, usually, requires 5-10 messages to pinpoint the problem. That said, we've made improvements to prevent a common `Instance0` error in the logs that prevents us from creating the Hive context, I'm closing hoping that this issue is no longer present in your environments with the latest version of `sparklyr`; however, if someone is still having issue

[2017-08-17 21:58] #330 closed

[2017-08-17 22:00] javierluraschi commented on #339
Thank you, working as expected now, using latest `saprklyr`/`dplyr` and Spark 2.2:

[code]

However, this is most likely fixed in `sparklyr`/`dplyr` and unrelated to Spark version.

[2017-08-17 22:00] #339 closed

[2017-08-17 22:02] javierluraschi commented on #347
Use `spark_apply()` available in `sparklyr 0.6`, something like:

[code]

[2017-08-17 22:02] #347 closed

[2017-08-17 22:14] javierluraschi commented on #363
This statement failed for me:

[code]

Seems like the script needs to be fixed; however, using the clean table, not final, this seems to be working as expected:

[code]

I used Spark 2.2 for this.

[2017-08-17 22:14] #363 closed

[2017-08-17 22:15] javierluraschi commented on #364
Fixed with latest `dplyr`, `sparklyr` and `Spark 2.2`:

[code]

[2017-08-17 22:15] #364 closed

[2017-08-17 22:17] javierluraschi commented on #382
We are tracking improvements for large file uploads in livy and normal connections here: https://github.com/rstudio/sparklyr/issues/949, feel free to comment under that issue, closing this one.

[2017-08-17 22:17] #382 closed

[2017-08-17 22:20] javierluraschi commented on #384
@aissaelouafi what you want to use first is `ft_string_indexer`, see http://spark.apache.org/docs/latest/ml-features.html#onehotencoder, as in:

[code]

[2017-08-17 22:20] #384 closed

[2017-08-17 22:21] javierluraschi commented on #386
We've been using EMR heavily and haven't hit this one, maybe an older version of EMR triggering, etc. I think we can close at this point.

[2017-08-17 22:21] #386 closed

[2017-08-17 22:22] javierluraschi commented on #393
`sdf_collect` already returns `as_data_frame(fixed, stringsAsFactors = FALSE, optional = TRUE)`, closing.

[2017-08-17 22:22] #393 closed

[2017-08-17 22:28] javierluraschi commented on #394
This would be a feature request, currently we don't support running applicaitons in `spark-submit` the way python would, as in `spark-submit <params> --py-files python-file.py`, it would certainly open interesting batch scenarios, worth considering.

[2017-08-17 22:29] #395 closed

[2017-08-17 22:31] javierluraschi commented on #396
Not really...

[code]

We match `dplyr` behavior for `dplyr` functions in `sparklyr.

[2017-08-17 22:31] #396 closed

[2017-08-17 23:16] javierluraschi commented on #355
Fixed with https://github.com/rstudio/sparklyr/pull/950

[2017-08-17 23:16] #355 closed

[2017-08-17 23:19] javierluraschi commented on #455
Yes, you can now with `sparklyr 0.6` @dangulod:

[code]

[code]

[2017-08-17 23:19] #455 closed

[2017-08-17 23:47] javierluraschi commented on #412
@neerajkr666 try with the latest version of `sparklyr`, should be much better, you could also validate `C:\home\spark/bin/spark-submit2.cmd` exists.

[2017-08-17 23:47] #412 closed

[2017-08-17 23:52] javierluraschi commented on #457
Right, seems related to `/` vs `\`, bit of background https://stackoverflow.com/questions/17043037/ant-malformed-uxxxx-encoding-in-propertyfile-task, I would try with the latest version of `sparklyr`, if it still fails, open a new bug with as much information as possible, which OS, Spark version, sparklyr, etc. would be ideal if you could reproduce this on a VM with Windows installed from scratch

[2017-08-17 23:52] #457 closed

[2017-08-18 03:06] kevinykuo commented on #605
Working on https://github.com/rstudio/sparklyr/issues/937 which depends on this, will close and track there.

[2017-08-18 03:06] #605 closed

[2017-08-18 20:06] kevinykuo commented on #937
Absorbing this story into https://github.com/rstudio/sparklyr/issues/944. It'll take longer to implement but should save time in the long term.

[2017-08-18 20:06] #937 closed

[2017-08-18 20:07] kevinykuo commented on #593
Tracking in https://github.com/rstudio/sparklyr/issues/944

[2017-08-18 20:07] #593 closed

[2017-08-18 20:08] kevinykuo commented on #734
Tracking in #944

[2017-08-18 20:08] #734 closed

[2017-08-19 08:09] chezou commented on #915
Just FYI, after getting the environment variable option, following way which uses conda environment works fine. It distributes r environment for each spark job.

[code]

[code]

[2017-08-19 08:31] chezou commented on #915
It works fine to run `broom` package with `package=FALSE` option; otherwise, it makes different libicui18n.so dependency problem. https://github.com/chezou/cloudera-parcel/issues/2

[code]

[2017-08-21 10:44] xhudik commented on #949
I can confirm, copy_to leads to error:

    Failed to execute Livy statement with error: java.lang.ClassFormatError: Unknown constant tag 78 in class file $iwC$$iwC$$iwC$$iwC$$iwC$$iwC$$iwC$$iwC$$iwC$$iwC$$iwC$$iwC$$iwC$$iwC$$iwC$$iwC$$iwC$

[2017-08-21 15:06] JakeRuss commented on #941
@javierluraschi I know you're hard at work supporting these features, but do you have any estimate for how long before sparklyr will support date (and datetime) column types? I'm updating a production database via sparklyr now, but the code is fragile because it includes workarounds for managing timestamps, and the rest of the dev team has me weighing the merits of a switch to SparkR.

[2017-08-21 15:11] ssamsonau commented on #939
I think this will do the trick
[code]

[2017-08-21 15:23] kevinykuo commented on #939
@ssamsonau glad you were able to figure it out! FYI I'm working on a refactoring of the `ml_*` API (track at https://github.com/rstudio/sparklyr/issues/944) and will keep this issue in mind. I think it has something to do with encoding of categorical variables.

[2017-08-21 15:23] #939 closed

[2017-08-21 15:46] ssamsonau opened #954 "ml_create_dummy_variables - reference option does not work"
In the example bellow 'reference' option of ml_create_dummy_variables  function does not work - 'Cat2_a' is still included

[code]

[code]

[code]

[2017-08-21 16:05] kevinykuo commented on #954
@ssamsonau is this the same as https://github.com/rstudio/sparklyr/issues/692?

I'll include these test cases in the ML redesign.

[2017-08-21 21:34] ssamsonau commented on #954
[@kevinykuo](https://github.com/kevinykuo) , yes, it is the same.  Thanks

[2017-08-22 05:46] #954 closed

[2017-08-22 07:44] xhudik opened #957 "sdf_partition doesnt work with livy"
library(sparklyr)
     library(dplyr)
     livy_service_start()
     sc <- spark_connect(master = "http://example.com:8998", method = "livy")
     ir <- copy_to(sc,iris, overwrite = TRUE)
     sdf_partition(ir, training = 0.7, testing = 0.3)

Gave error
    `Error: org.apache.spark.sql.AnalysisException: Table not found: sparklyr_tmp_22656995fe7c; line 2 pos 36
	at org.apache.spark.sql.catalyst.an

[2017-08-22 08:54] xhudik commented on #957
it seems problem is in:
(https://github.com/rstudio/sparklyr/blob/master/R/sdf_interface.R#L138) where ` invoke(x, "registerTempTable", name) ` returns `NULL` and  `tbl(sc, name)` (https://github.com/rstudio/sparklyr/blob/master/R/sdf_interface.R#L141) gives the `Table not found` error.

[2017-08-22 18:51] maurimojr commented on #903
@sean-in-korea I was having simmiliar issue to connect with sparklyr, my conf is

CDH Cluster 5.9.2
sparklyr 0.6.2
RStudio Server installed on a node of the cluster

I was able to connect through shell when i set LD_LIBRAY_PATH with curl and openssl libs path
I put this same values on Renviron.site and still got the issue I found out that the file

/etc/rstudio/rserver.conf

Has an LD_LIBRARY_PATH

[2017-08-23 13:51] schlichtanders opened #958 "import spark.implicits._"
when I try to convert a spark dataframe to rdd and back, by following the tutorial https://spark.apache.org/docs/latest/sql-programming-guide.html#inferring-the-schema-using-reflection

[code]
I get the following error
[code]

My best guess is that `import spark.implicits._` is missing in the jar files which are used to create the spark_connection.

[2017-08-23 14:23] kevinykuo commented on #958
This works:

[code]

`toDF` only works on specific types of RDDs, see e.g. https://stackoverflow.com/questions/37011267/how-to-convert-an-rddrow-back-to-dataframe

[2017-08-23 15:31] kevinykuo opened #959 "AWS scripts to launch EMR clusters for use with sparklyr"

[2017-08-23 15:33] schlichtanders commented on #958
So in fact the implicits are all there?

---

I actually already found this very reference, however was not careful enough in reading / interpreting.

Intuitively I thought that if I form a RDD[Row] out of a Dataframe than all but the row-names should be preserved, namely also the types. Unfortunately this is false as you pointed out. A pity, but ok, now I know.

Thank you so much for answering my

[2017-08-23 15:42] kevinykuo commented on #958
Yeah all of Spark core should be available.

Out of curiosity – do you have a use case that deals with manipulating RDDs?

[2017-08-23 15:49] AndersAsa opened #960 "Joins are not registering all columns in table"
Joins are not registering the second "by" column which prevents more than one join at a time, or joins inside of loops.

[code]
Error: `by` can't contain join column `c` which is missing from LHS

[code]
[1] "a" "b" "d"
[code]
[1] "a" "b" "c" "d"

[2017-08-23 16:00] kevinykuo commented on #960
This is expected behavior, column `c` is dropped since `a` is kept in the first join.

[2017-08-23 17:36] AndersAsa commented on #960
Actually, column c is not dropped. Column c is still in the spark table as is shown after the collect() command. Also, whenever there is a value for column c without a match in column a, column a becomes NA. This is not the behavior I would expect if column c is to be dropped. I would expect column a to take the value of column c.

[2017-08-23 18:08] kevinykuo commented on #960
@AndersAsa Weird, I'm unable to reproduce:

[code]

Could you update `dplyr` + `dbplyr` and try again?

[2017-08-23 18:53] AndersAsa commented on #960
Thanks, look like this was a problem with older versions of dplyr + dbplyr

[2017-08-23 18:53] #960 closed

[2017-08-24 03:00] raghav20 commented on #394
When Can I hope for it to get resolved ?

[2017-08-24 08:34] schlichtanders commented on #958
yes =), namely Spark MLlib Statistics:
https://spark.apache.org/docs/latest/mllib-statistics.html

they work on RDDs

[2017-08-24 16:44] javierluraschi commented on #958
Currently, we can't add imports as `import spark_session.implicits._` with the `invoke()` functions; however, it is usually the case that there is a way around that. Say, to get the implicits we could run `invoke(hive_context(sc), "implicits")`; that said, I'll close this one since Kevin already pass a workaround, but feel free to open a new one if you find yourself stuck with other `invoke()` rel

[2017-08-24 16:44] #958 closed

[2017-08-24 16:45] javierluraschi commented on #959
CC: @edgararuiz

[2017-08-24 16:52] javierluraschi commented on #957
@xhudik I wasn't able to reproduce this issue in the latest version of `sparklyr` and Livy `0.3.0`. Which version of sparklyr/Livy are you running?

[code]

[code]

[2017-08-24 17:01] javierluraschi commented on #517
@tarunparmar closing this one with the JDBC example provided; however, shoot me an email to javier at rstudio.com if you still hit issues using JDBC data extraction.

[2017-08-24 17:01] #517 closed

[2017-08-24 17:05] javierluraschi commented on #416
Right, the problem seems to be `hashed <- collect(transformed)` since the `transformed` data is too big to collect into R. You could try instead `hashed <- head(transformed)` and I would definitely use this time to upgrade to the latest version of `sparklyr`. Closing but please open a new issue if you are still hitting any issues.

[2017-08-24 17:05] #416 closed

[2017-08-24 17:12] xhudik commented on #957
strange - i tried once more and the problem is still here...

[code]

[code]

What came to my mind, I;m using an older spark (version 2.0) - might this be a problem?

[2017-08-24 17:29] javierluraschi commented on #420
@gbortz27 sorry for the late reply, the suggestions from dsblr should help here.

@dsblr have you tried with `sparklyr 0.6`? Sems like the `hive/metastore` issue is unrelated to antivirus software, correct? If that's the case, could you open a new issue if you are still experiencing this?

For reference, I ran with the default McAffee trial in Windows 10 under a VM and things worked just fine:

<i

[2017-08-24 17:29] #420 closed

[2017-08-24 17:45] javierluraschi commented on #439
@monicarodguev sorry for the late reply, a few things to try:

- Upgrade the `sparklyr` package from CRAN.
- Try with `Spark 2.1` using `spark_installed_versions()`, `spark_unintall()`, `spark_install()` to uninstall your current version and move up.

Just to make sure this is not related to number of columns, I ran this over the `flights` table which comes with `19` columns:

[code]

[code]

I'll

[2017-08-24 17:45] #439 closed

[2017-08-24 17:46] maurimojr opened #961 "spark_apply error CDH 5.9.2 with HA"
Hi,

I'm having error when trying to use spark_apply, I'm able to connect with sparklyr and use other functions but spark_apply is not working

Environment:
CDH 5.9.2 Spark 1.6.0 with HA
R Server 1.0.153
Oracle R 3.3.0
spakrlyr 0.6.2 and 0.7.0-9014

To connect to sparklyr we use:

library("sparklyr")
config <- spark_config()
config$spark.driver.cores <- 4
config$spark.executor.cores <- 4
config$sp

[2017-08-24 18:06] javierluraschi commented on #437
dsblr issues is addressed in 377

@monicarodguev I can reproduce your issue as follows. The problem here seems to be in Spark itself, not `sparklyr`,

[code]

[code]

However, this works as expected in `Spark 2.2`:

[code]

[code]

Closing issue since this is Spark specific and already fixed in latest version of Spark. Let us know if you hit any other issues in a new issue, thanks!

[2017-08-24 18:06] #437 closed

[2017-08-24 18:48] javierluraschi commented on #403
I believe this is a feature request to allow `collect()` to retrieve a list of lists to when `GenericRowWithSchema` is found as a column.

[2017-08-24 20:06] kevinykuo commented on #958
I'll also take a look at the RDD API to see if we should implement some of the features missing from spark.ml

[2017-08-24 22:47] javierluraschi commented on #961
@maurimojr this is the relevant error:

[code]

basically, the worker node is trying to connect back to the scala process, but it can't. Is it possible that a firewall, or similar software is running on the worker nodes that is preventing them from opening this connection?

Also, are all tasks failing or only some of them?

Could you also consider trying `sparklyr 0.7.0-9014` (latest version avaia

[2017-08-24 22:50] javierluraschi commented on #961
@maurimojr could you also validate that running `ping localhost` works correctly from each worker node? If `localhost` is not defined, the R process would fail to connect back. You could try changing this to `127.0.0.1` instead of localhost by running:

[code]

[2017-08-24 23:33] maurimojr commented on #961
@javierluraschi the hardware is an Oracle Big Data Appliance, all workers can communicate with each other

ping localhost -> all of them answer
All tasks are failling
Using latest sparklyr just downloaded it again
tried setting worker gateway didn't work

Getting the same error

Could this communication problem happens because of the user i'm using to login into R Studio server?

Thanks,

[2017-08-25 06:38] haifenghan opened #962 "spark_apply: subscript out of bounds"
Following the tutorial, I run the following R code:
[code]
Now everything is OK.

However, to run the following similar code there will be an error:

`spark_apply(iris_tbl, function(data) {cbind(data,data)})`

Consulting the manual for the function f:

My function definition receives a data.frame argument and returns a data.frame argument. It obey above rules. I can't understand the error message.

[2017-08-25 09:24] schlichtanders opened #963 "include scala data files into compiled .jar"
Dear sparklyr-team

**Situation:** currently there seem to be no "sparklyr" way to include custom data files (on top of custom scala files) into the compiled .jar extension. I've looked into the code `spark_compile` and it seems to leave no room for adding other files than ***.scala under the "java" directory.

**Motivation:** My usecase is quite generic. I have a R functionality which relies on s

[2017-08-25 12:25] xhudik commented on #957
i tried it on newer Spark 2.1

[code]

@javierluraschi  did you try it over real network(really remotely)?

[2017-08-25 16:04] javierluraschi commented on #962
@haifenghan for sure, in `sparklyr 0.6.2` (the published version in CRAN), `spark_apply()` requires all column names to be specified, so you want to run instead something like:

[code]

Alternatively, you could install `sparklyr` from github since `spark_apply()` now supports auto-naming missing columns by running:

[code]

[2017-08-25 16:12] javierluraschi commented on #963
@schlichtanders how about something like this:

1. Include a data file in your package as usual, say under `inst/extdata/data.csv`
2. Provide a helper function for users that copies this data into Spark, say `mypackage_copy()`. This function reads the data into R first `df <- readr::read_csv(system.file("extdata/data.csv", package = "mypackage"` followed by `sdf_copy_to(sc, df)`.

Could you help m

[2017-08-25 16:40] javierluraschi commented on #961
@maurimojr since it's affecting all jobs, it does point out this is probably a configuration issue. However, I can't think of anything causing this on the top of my head. The thing that stands out from your configuration is `HA` and `Oracle R`. HA shouldn't really affect this scenario since once the worker starts, to my knowledge, it would run in the same was non-HA would run. It is more likely th

[2017-08-25 20:50] schlichtanders commented on #963
I actually about this today a bit more:
3. assuming the data is now in spark, we need to bring it to scala, which
should be straightforward by using ``collect``
4. however this only brings the data to the edge node, not the workers, so
we need an additional ``broadcast`` such that it is on the workers where
needed
5. finally we can do some computions using the broadcasted values

As far as I can s

[2017-08-25 21:14] MJFND commented on #262
colnames() also work as tbl_vars

[2017-08-25 23:35] MJFND opened #970 "Mutate not working but transmute working"
I am using Sparklyr, and using transmute everything works fine, but mutate does not work,

`data_temp %>% transmute(FName = as.character(FName))`
`data_temp %>% mutate(FName = as.character(FName))`

Mutate gives me the error "object FName not found", due to this issue I could not solve several things, I have seen people using this and they are not having problem. I wonder whats going on.

[2017-08-26 02:20] #465 closed

[2017-08-26 02:24] #464 closed

[2017-08-26 06:23] javierluraschi commented on #471
@iamkbpark @serenasignorelli good questions, take a look at https://github.com/rstudio/sparklyr/pull/968 and open a new github issue if you still think there are gaps to close. Thank you for this feedback!

[2017-08-26 06:23] #471 closed

[2017-08-26 08:00] kovla opened #971 "Issues with spark_apply() in datasets containing NA"
This is related to the issue #774. Even though that issue has been closed, it would seem that even in version 0.6.0 the issue still exists in some form. Here is an example:

[code]

The first `spark_apply()` performs adequately, whereas the second one throws an error. I've first tried running this example on a remote EC2 cluster with spark 2.2.0 and sparklyr 0.6.0, and I appended the error in a co

[2017-08-26 16:07] javierluraschi commented on #970
@MJFND Have you tried restarting your `rsession` and clearing your environment? If that doesn't help, do you have the latest CRAN versions for `sparklyr`? If all fails, please paste here the full output of the failure and the results of running `sessionInfo()` to help out.

[2017-08-26 16:09] MJFND commented on #970
I have done all the stuff, also removed and installed the Sparklyr again... Here is the error:
`> data_temp %>% mutate(FName = as.character(FName))
Error in eval(cols[[col]], .data, parent.frame()) :
  object 'FName' not found`

While using transmute it works fine...

[2017-08-26 17:54] #971 closed

[2017-08-26 17:54] javierluraschi commented on #971
@kovla thanks for pointing this out, fixed. Please upgrade to `sparklyr 0.7.0-9016`.

[2017-08-26 17:57] javierluraschi commented on #602
@GriffinRidgeback see https://blog.rstudio.com/2017/07/31/sparklyr-0-6/ which introduces `spark_apply()`, that would enable using `tm` and `slam` packages.

[2017-08-26 17:57] #602 closed

[2017-08-26 18:14] javierluraschi commented on #729
Distributing packages is supported now, see https://blog.rstudio.com/2017/07/31/sparklyr-0-6/.

@datalee the code provided is equivalent to running:

[code]

which also returns:

[code]

Since `stringr` works with vectors, not data frames, in this case what we probably need is:

[code]

To validate, we can run this locally with `dplyr` as follows:

[code]
[code]

which matches the `spark_apply()`

[2017-08-26 18:14] #729 closed

[2017-08-26 18:15] #847 closed

[2017-08-27 04:50] iamkbpark commented on #471
@javierluraschi I do appreciate your work and help!

[2017-08-27 17:39] JohnMount opened #973 "Sparklyr should not treat small integers and R raw type"
With `sparklyr` version `0.6.2` (and `dplyr` version `0.7.2`, though I don't know if this depends on version) I am seeing `hive` tables that have small integer types imported as `R` (via `dplyr::collect()`) as `R` type raw.  I think this is wrong as `R` raw type is a non-arithmetic type, it is more for storing un-encoded strings or db-blobs.  On the `spark` side the columns do appear to behave num

[2017-08-28 01:14] javierluraschi commented on #973
Repro:

[code]

[code]

[2017-08-28 01:17] javierluraschi commented on #971
@kovla Please use version `0.7.0-9017` instead, the previous one was missing to rebuild `jars`

[2017-08-28 09:24] haifenghan commented on #962
Yes, I tried the latest version and it works fine. The output is:

[code]

[2017-08-29 09:05] #962 closed

[2017-08-29 19:08] andresperezl opened #975 "Allow passing additional httr config parameters in livy_config"
Currently there is no way to control the behavior of the underlying `GET` and `POST` calls performed by `httr` when interacting with Livy. Only the headers are configurable:

[code]

But no others parameters such as what certificate to use, which is a problem when interacting with self-signed certificates, which is the case for many private maintained clusters and dev enviroments.

Could `livy_get

[2017-08-29 20:49] edgararuiz commented on #534
Hi @rtaylor24 , can you try setting your Java Home prior to connecting?

`Sys.setenv(JAVA_HOME="/usr/lib/jvm/java-7-oracle-cloudera/")`

[2017-08-30 06:07] BeichenSu commented on #726
Then set the environment maybe
Sys.setenv(SPARK_HOME="/Users/username/spark/spark-2.0.0-bin-hadoop2.7")

[2017-08-30 06:21] chengvt commented on #726
@BeichenSu Thank you for your response!

[2017-08-30 14:19] JohnMount opened #976 "Possible reversion on dim()/ncol()?"
It looks like none of dim()/ncol()/nrow() are currently returning non-`NA` values on the current version of `sparklyr`.  I get that counting rows is expensive (and you may not want to do that) but it seems like the system had fewer `NA`s when this was addressed in [issue 346](https://github.com/rstudio/sparklyr/issues/346).

[code]

[2017-08-30 14:32] kevinykuo commented on #976
See https://github.com/rstudio/sparklyr/pull/890

[2017-08-30 15:02] rtaylor24 commented on #534
Hi Edgar,

I believe that I did try that - but cannot remember for sure, and don't
have access to that cluster right now.

I had to set this R/Spark work aside temporarily - in mid-July I changed
positions, moving to a new compbio / bioinformatics senior research
scientist position at the Cincinnati Children's Hospital.

But we have a nice cluster here in Biomedical Informatics that can run
Spark,

[2017-08-30 15:53] kevinykuo commented on #720
https://github.com/hortonworks-spark/shc

[2017-08-30 20:44] AngryR11 opened #977 "java.lang.OutOfMemoryError while using sparklyr on cluster"
Hi, I am getting a **java.lang.OutOfMemoryError**  when pulling data from a sparklyr table. I am running the code on the university computer cluster, so it should hv plenty of spare memory to pull one variable from my 1.48Gb database. And I have already tried many different spark configurations, as described in [https://github.com/rstudio/sparklyr/issues/379](https://github.com/rstudio/sparklyr/is

[2017-08-30 21:56] msolano00 commented on #808
Hello @javierluraschi, I have been trying to use the proxy-user property:

[code]

But every time we run it we get the following hiveContext issue:

[code]

From yarn I am able to see that a application was created. Do you have any idea what might be going on?

@archanbhatt

[2017-08-31 07:54] xhudik opened #978 "livy and config()"
[code]

If I try to connect:

[code]

however it works if I connect locally, or connect remotely but without customized `config`
[code]

I would guess it has something in common with https://github.com/rstudio/sparklyr/issues/957 (there are some sparklyr functions that works locally but have issues if there is a real network; or there is something wrong with ports and the error message is misleadi

[2017-09-01 00:02] randomgambit opened #979 "how to combine multiple operations at once without loading the data multiple times?"
Hello there!

Great job! The new version of `sparklyr` is much more efficient than before and the documentation has been hugely improved! Keep up the good work.

There is something I was not able to figure out. Lets say I have a huge dataset and I do something like:

[code]

Right now, the data gets loaded **ENTIRELY TWO TIMES** to create df_one and df_two. But theoretically, the two tasks could b

[2017-09-01 01:18] JohnMount commented on #907
@kevinushey The saving of `model.parameters$labels` makes everything solvable, thank you very much.  Roughly all one has to do is find a permutation that takes `model.parameters$labels` into the same order as the order the user supplies labels.  This is possible by finding permutations that sort both vectors and inverting one of the permutations (some notes on the general concepts [here](http://ww

[2017-09-01 01:48] kevinykuo commented on #979
To speed things up, try
1. Call `spark_read_csv()` with `infer_schema = FALSE`. This prevents Spark from going through the entire file.
2. Cache or persist intermediate datasets. If `df` is too big to fit into memory, try persisting `filter(df, myvar %in% c("one", "two"))`.

[2017-09-01 01:56] kevinykuo commented on #976
Thanks for the writeup at http://www.win-vector.com/blog/2017/08/why-to-use-the-replyr-r-package/. Leaving this open so we can take a deeper look before the next release; I think at a minimum we should have a message on why these functions don't work if nothing else.

[2017-09-01 02:03] kevinykuo commented on #941
@JakeRuss We'll be taking a look at this next week to see if we can do something about dates before entirely revamping `copy_to()` and report back.

[2017-09-01 02:07] kevinykuo commented on #977
What's `reviewText`? Is it a column in `test`?

Also do you mean to `collect(tr)`?

[2017-09-01 02:12] JohnMount commented on #976
@kevinykuo Thanks for all you do on this project- I have been impressed.  I do understand it is not my decision.

[2017-09-01 02:29] kevinykuo commented on #978
I'm unable to reproduce. Could you try updating sparklyr/spark/livy?

[code]

[2017-09-01 02:48] kevinykuo commented on #977
Oh I see that `reviewText` is a function... we can take a better look if you're able to share what that does if possible.

[2017-09-01 05:49] xhudik commented on #978
Hi Kevinykou,

I like the trick with master (`master="http://localhost:8998/"`) !

Well, the situation is that I have newest *livy* (version: 3.0.0; this is true for client as well as server) and newest sparklyr (from github), however I cannot change Spark since it is server (more people is using it). Spark is 2.0.1

Question - can we say that sparklyr works only with some versions of spark and if

[2017-09-01 06:03] kevinykuo commented on #978
Oh my bad I just re-read your post and you're having issues with a *remote* livy connection so of course I wasn't able to reproduce it!

It could be that the server doesn't like the `spark.sql.exec.dynamic.partition` settings; I'm not familiar with that one but does `hive.exec.dynamic.partition` work?

Regarding your question regarding versions – we try to support Spark 1.6 and later and give info

[2017-09-01 06:46] xhudik commented on #978
you are right - it is hard to troubleshoot...

I tried to reproduce on localhost with Spark 2.0.0 but livy doesnt work with "versions":
[code]

I'm wondering if it is something with Spark version, or network (i dont think it is network, since other livy commands work well)

[2017-09-01 06:59] AngryR11 commented on #977
reviewText is a variable. So basically I am pulling one variable only, but I'd get the same error if I were to use the command collect() to get the entire dataset.

[2017-09-01 12:04] JakeRuss commented on #941
@kevinykuo That update sounds great from my end. As soon as it's ready, I'll be in line to test it out. Many thanks!

[2017-09-01 12:33] hlendway commented on #900
Odd, this works for me, it barked about id but when I put it in `` it worked.
tbl_cache(sc, 'taskrelation_archive')
taskRelation <- tbl(sc, 'taskrelation_archive')
taskRelation <- taskRelation %>%
  rename(taskRelationId=`id`, ts = time_stamp)

[1] "taskRelationId" "relationid"     "taskid"         "iswhat"         "isdeleted"      "ts"

[2017-09-01 14:30] kevinykuo commented on #977
@AngryR11 Is the variable directly from `file/path.json` or is it something you mutated?

[2017-09-01 14:34] kevinykuo commented on #978
Not sure if you have ssh access to a node on the cluster, but have you tried using this `spark.sql.exec.dynamic.partition` config via `spark-shell`? I wasn't able to locate the setting in a search but `hive.exec.dynamic.partition` came up so I wonder if that would serve your purpose?

[2017-09-01 16:07] randomgambit commented on #979
@kevinykuo thanks! solution 2. is very nice indeed. you mean using caching right? regarding solution 1. I dont see what `infer_schema` is doing or not doing. There is nothing about this in the documentation.

Thanks again!

[2017-09-01 16:34] AngryR11 commented on #977
The variable is directly from file/path.json

Now, I don't know if this is useful, but one thing that I've noticed was that, when I am working on my mac, I only need to load 2 packages in order to get the algorithm going: sparklyr and dplyr. But when I am working on the cluster, I hv to load all these other packages: rappdirs, withr and bindrcpp

[2017-09-01 18:49] hlendway commented on #970
I had an issue with a column name called id and found it worked when I referenced it as `id`. Kind of hacky but worth a shot.

[2017-09-01 23:51] randomgambit opened #980 "spark_apply runs forever and nothing appears in the gui"
Hello the sparklyr team!

I am using the promising spark_apply function but even a simple call seems to break.
I have a pretty large dataset, broken down in about 50 parquet files (they contain a column called myurl).

The code I run is essentially

[code]

note the `head(.)` that should make this computation straighforward. Yet, Rstudio seems stuck in computation mode forever, and nothing happens

[2017-09-02 02:25] randomgambit commented on #980
@kevinykuo  @javierluraschi
actually doing something as simple as

[code]

creates the same problem (crash of the R session, nothing happens in the GUI). Cant spark apply work with parquet files? Do you see a probleme here?

Thanks!!

[2017-09-02 03:28] kevinykuo commented on #980
does `head(df)` work?

[2017-09-02 03:29] randomgambit commented on #980
@kevinykuo yes, even some more involved group_by + summarise + collect. what do you think?😱

[2017-09-02 03:37] kevinykuo commented on #980
Would help to see the logs when you run the `spark_apply()` code

[2017-09-02 03:39] randomgambit commented on #980
where can I find them? I can have a look and see if I can share them (or at least tell you what is the main error). thanks!!

[2017-09-02 13:26] randomgambit commented on #980
@kevinykuo @javierluraschi the problem is that there is not output in the console at all. Essentially the command starts a computation and then breaks. I tried all the tabs in the Spark GUI: no activity at all as well. Where can I find the log you are talking about? Happy to help solve this important issue

Thanks!!

[2017-09-03 17:07] MJFND commented on #970
I have tried with all the columns, it is not even working in any... wonder how it worked on my first day of sparklyr but then it stops working.

[2017-09-03 19:27] jairajgupta opened #981 "rollapply for large data using sparklyr"
Can you please help with this problem:
https://stackoverflow.com/questions/46024271/rollapply-for-large-data-using-sparklyr

[2017-09-04 00:28] randomgambit commented on #980
@kevinykuo @javierluraschi sorry but I need to BUMP this!! :D please let me know how I can help here. Thanks again!

[2017-09-04 00:36] jbrant commented on #945
I have the same issue - usually when trying to load a dataset larger than 30 MB.

[2017-09-04 16:13] JohnMount opened #982 "sparklyr::tally appears to count even when there is a column named n present"
sparklyr::tally appears to count even when there is a column named n present.

I think from the behavior on the local data frame and the `help(tally)` documentation it is supposed to sum the `n` column in this situation.

This is a _very_ low priority for me as I don't use `tally`.

[code]

[2017-09-04 23:53] jfarland commented on #970
Have you tried being explicit about the potential namespace conflicts? Try specifically using mutate from sparklyr versus dplyr. Something like:  `data_temp %>% sparklyr::mutate(FName = as.character(FName))` .

[2017-09-04 23:56] MJFND commented on #970
interesting, I will try.. Thanks

On Mon, Sep 4, 2017 at 7:53 PM, Jon <notifications@github.com> wrote:

[2017-09-05 02:42] kevinykuo commented on #970
@MJFND @hlendway if you're able to provide reproducible examples we'll be able to take a better look.

[2017-09-05 02:46] kevinykuo commented on #980
@randomgambit let's start with the `log4j.spark.log*` files in your working directory. You might also want to check out the logs on the worker nodes. IIRC you're running standalone? This might help: https://spark.apache.org/docs/latest/spark-standalone.html#monitoring-and-logging

[2017-09-05 03:50] kevinykuo opened #983 "More informative spark_apply() call stacks on error"
Currently we're showing 5 frames which might not tell the user what part of the udf caused the error. Consider printing full stack and maybe make the verbosity configurable.

[2017-09-05 14:28] gvshankar opened #984 "sparklyr spark_connect issue from RStudio"
# Reporting an Issue with sparklyr
I have a problem that seems to come only from RStudio, but works fine from R.

Have R (R version 3.3.2), RStudio (Version 1.0.153) installed on a Linux server (Red Hat Enterprise Linux Server release 6.7 (Santiago)).  I am just running these 4 commands, works fine under R, but RStudio give errors.

[code]

RStudio:
[code]

JAVA:  /usr/java/jdk1.8.0_92/jre
SPARK:

[2017-09-05 17:01] JohnMount opened #985 "Type of NA ignored in dplyr::mutate()"
Notice the column `z` has type `chr`, not the expected `numeric`.

I have also filed related [`dbplyr` issue](https://github.com/tidyverse/dplyr/issues/3081): but I don't know how many data sources have this issue (or if it is similar mechanisms in all cases).

[code]

[2017-09-05 19:09] andresperezl commented on #978
@xhudik What happens if you use `livy_config()` function instead of `spark_config` when creating the configuration object

[2017-09-05 20:25] seawaR opened #986 "Feature request: Implementation of bisect k-means algorithm"
Hi there, first of all thanks for this great Spark interface.

I was wondering if you could implement bisecting k-means algorithm from [mllib](https://spark.apache.org/docs/latest/mllib-clustering.html#bisecting-k-means) as it can be faster than regular k-means and may produce clearer structures.

[2017-09-05 22:11] javierluraschi commented on #980
@randomgambit could you share `sessionInfo()`, I would recommend installing the latest version of `sparklyr` for `spark_apply()`, as in `devtools::install_github("rstudio/sparklyr")`, getting the logs as KevinKuo suggested would be necessary as well.

[2017-09-05 22:32] javierluraschi commented on #981
Followed up on https://stackoverflow.com/questions/46024271/rollapply-for-large-data-using-sparklyr/46064211#46064211, closing this one.

[2017-09-05 22:32] #981 closed

[2017-09-05 22:58] javierluraschi commented on #506
Very similar to https://github.com/rstudio/sparklyr/issues/151, we are planning to address this with https://github.com/rstudio/sparklyr/issues/941.

[2017-09-05 22:58] #506 closed

[2017-09-05 23:00] javierluraschi commented on #509
This is fixed in the latest version of sparklyr, tried with `iris_tbl %>% count()`.

[2017-09-05 23:00] #509 closed

[2017-09-05 23:11] javierluraschi commented on #499
Thanks hj1210 for the `livy.spark.master=yarn-client` in `livy.conf` suggestion, this suggestion should work for @ggittu, closing.

Related, there are now more connections options available from https://github.com/rstudio/sparklyr/pull/969